@font-face {
    font-family: 'League Gothic';
    src: url('/media/fonts/League_Gothic-webfont.eot');
    src: url('/media/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/League_Gothic-webfont.woff') format('woff'),
         url('/media/fonts/League_Gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
