<script>
    // make sure global mdn object exists
    var mdn = window.mdn || {};

    (function(win) {
        'use strict';

        {#- This stuff is not needed by the React-based site #}
        {%- if wiki or untrusted %}
            {#- With React, waffle flags are returned by the /whoami API. #}
            {{ waffle.wafflejs() }}

            // This needs to be set before ckeditor.js loads
            {%- if settings.CKEDITOR_DEV %}
              {%- set ckeditor_basepath = static('js/libs/ckeditor4/source/ckeditor/') %}
            {%- else %}
              {%- set ckeditor_basepath = static('js/libs/ckeditor4/build/ckeditor/') %}
            {%- endif %}
            window.CKEDITOR_BASEPATH = '{{ ckeditor_basepath }}';

            // Site configuration
            win.mdn.ckeditor = {};
        {%- endif %}

        win.mdn.features = {};
        win.mdn.stripePublicKey = '{{ settings.STRIPE_PUBLIC_KEY }}';
        win.mdn.contributionSupportEmail = '{{ settings.CONTRIBUTION_SUPPORT_EMAIL }}';

        win.mdn.siteUrl = '{{ settings.SITE_URL }}';
        win.mdn.wikiSiteUrl = '{{ settings.WIKI_SITE_URL }}';
        win.mdn.staticPath = '{{ settings.STATIC_URL }}';
        win.mdn.wiki = {
            {%- if not untrusted %}
            autosuggestTitleUrl: '{{ url('wiki.autosuggest_documents') }}'
            {%- endif %}
        };

        {#- This is stuff not needed by the React-based site #}
        {%- if wiki or untrusted %}
        win.mdn.assets = {
            css: {
                'editor-content': [
                    {%- stylesheet 'editor-content' %}
                    {%- stylesheet 'editor-locale-%s' % LANG %}
                ],

                'wiki-compat-tables': [{% stylesheet 'wiki-compat-tables' %}]
            },
            js: {
                'syntax-prism': [{% javascript 'syntax-prism' %}],
                'wiki-compat-tables': [{% javascript 'wiki-compat-tables' %}]
            }
        };
        {%- endif %}

        win.mdn.notifications = [];

        {% if messages %}
            {% for message in messages %}
                {% if 'wiki_redirect' not in message.tags or (request.user and request.user.is_superuser) %}
                    win.mdn.notifications.push({
                        message: "{{ message }}",
                        tags: "{{ message.tags }}",
                        level: "{{ message|level_tag }}"
                    });
                {% endif %}
            {% endfor %}
        {% endif %}

        // interactive editor config
        win.mdn.interactiveEditor = {
            siteUrl: "{{ settings.SITE_URL }}",
            editorUrl: "{{ settings.INTERACTIVE_EXAMPLES_BASE }}"
        };
        win.mdn.langCookieName = "{{ settings.LANGUAGE_COOKIE_NAME }}";

    })(this);
</script>
