<script>
    // Mozilla DNT Helper
    {% include "js/libs/mozilla.dnthelper.min.js" %}
    {%- if settings.GOOGLE_ANALYTICS_ACCOUNT %}
    {%- set GA_FILE = 'analytics_debug' if settings.DEBUG else 'analytics' %}
    // only load GA if DNT is not enabled
    if (Mozilla && !Mozilla.dntEnabled()) {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'mozilla.org');
        ga('set', 'anonymizeIp', true);

        {% if request.user and request.user.is_authenticated %}
            // dimension1 == 'Signed-In"
            ga('set', 'dimension1', 'Yes');

            // dimension2 == "Beta Tester"
            {% if request.user.is_beta_tester %}
                ga('set', 'dimension2', 'Yes');
            {% endif %}

            {%- if request.user.is_staff %}
                // dimension18 == "Staff"
                ga('set', 'dimension18', 'Yes');
            {% endif %}
        {% endif %}

        // dimension9 == "Section editing"
        {% if waffle.flag('section_edit') %}
            ga('set', 'dimension9', 'Enabled');
        {% endif %}

        {%- if analytics_page_revision %}
            // dimension12 == 'Page Revision'
            ga('set', 'dimension12', '{{ analytics_page_revision }}');
        {%- endif %}

        {%- if request.user and not request.user.is_authenticated and
               content_experiment and
               content_experiment.selection_is_valid %}
            // dimension15 == “a/b test variation”, user scope
            ga('set', 'dimension15', '{{ content_experiment.ga_name }}:{{ content_experiment.selected }}');
            // dimension16 == "Original Path", hit scope
            ga('set', 'dimension16', '{{ content_experiment.original_path }}');
        {%- endif %}

        {%- if analytics_en_slug %}
            // dimension17 == 'English Slug'
            ga('set', 'dimension17', '{{analytics_en_slug}}');
        {%- endif %}

        (function() {
            // http://cfsimplicity.com/61/removing-analytics-clutter-from-campaign-urls
            var win = window;
            var removeUtms = function(){
                var location = win.location;
                if (location.href.indexOf('utm') != -1 && win.history.replaceState) {
                    win.history.replaceState({}, '', location.pathname);
                }
            };

            ga('send', 'pageview', {'hitCallback': removeUtms});
        })();
    }
    {%- endif %}
</script>
<script async src='https://www.google-analytics.com/{{ GA_FILE }}.js'></script>