<nav id="main-nav" class="nav-main" role="navigation">
    <ul>
        <li class="nav-main-item">
            <a href="{{ wiki_url('Web') }}">{{ _('Technologies') }}
                {% include 'includes/icons/arrows/caret-down.svg' %}
            </a>
            <div class="submenu js-submenu" id="nav-tech-submenu">
                <div class="submenu-column">
                  <ul>
                    <li><a href="{{ wiki_url('Web/HTML') }}">{{ _('HTML') }}</a></li>
                    <li><a href="{{ wiki_url('Web/CSS') }}">{{ _('CSS') }}</a></li>
                    <li><a href="{{ wiki_url('Web/JavaScript') }}">{{ _('JavaScript') }}</a></li>
                    <li><a href="{{ wiki_url('Web/Guide/Graphics') }}">{{ _('Graphics') }}</a></li>
                    <li><a href="{{ wiki_url('Web/HTTP') }}">{{ _('HTTP') }}</a></li>
                    <li><a href="{{ wiki_url('Web/API') }}">{{ _('APIs / DOM') }}</a></li>
                    <li><a href="{{ wiki_url('Mozilla/Add-ons/WebExtensions') }}">{{ _('Browser Extensions') }}</a></li>
                    <li><a href="{{ wiki_url('Web/MathML') }}">{{ _('MathML') }}</a></li>
                  </ul>
                </div>
            </div>
        </li>
        <li class="nav-main-item">
            <a href="{{ wiki_url('Learn') }}">{{ _('References & Guides') }}
                {% include 'includes/icons/arrows/caret-down.svg' %}
            </a>
            <div class="submenu js-submenu" id="nav-learn-submenu">
                <div class="submenu-column">
                  <ul>
                    <li><a href="{{ wiki_url('Learn') }}">{{ _('Learn web development') }}</a></li>
                    <li><a href="{{ wiki_url('Web/Tutorials') }}">{{ _('Tutorials') }}</a></li>
                    <li><a href="{{ wiki_url('Web/Reference') }}">{{ _('References') }}</a></li>
                    <li><a href="{{ wiki_url('Web/Guide') }}">{{ _('Developer Guides') }}</a></li>
                    <li><a href="{{ wiki_url('Web/Accessibility') }}">{{ _('Accessibility') }}</a></li>
                    <li><a href="{{ wiki_url('Games') }}">{{ _('Game development') }}</a></li>
                    <li><a href="{{ wiki_url('Web') }}">{{ _('...more docs') }}</a></li>
                  </ul>
                </div>
            </div>
        </li>
        <li class="nav-main-item">
            <a href="{{ wiki_url('MDN/Feedback') }}">{{ _('Feedback') }}
                {% include 'includes/icons/arrows/caret-down.svg' %}
            </a>
            <div class="submenu js-submenu" id="nav-contact-submenu">
              <div class="submenu-column">
                <ul>
                  <li>
                      <a href="https://support.mozilla.org/">{{ _('Get Firefox help') }}
                          {% include 'includes/icons/general/external-link.svg' %}
                      </a>
                  </li>
                  <li>
                      <a href="https://stackoverflow.com/">{{ _('Get web development help') }}
                          {% include 'includes/icons/general/external-link.svg' %}
                      </a>
                  </li>
                </ul>
                <ul>
                  <li>
                      <a href="{{ wiki_url('MDN/Community') }}">{{ _('Join the MDN community') }}</a>
                  </li>
                  <li>
                      <a target="_blank" rel="noopener" href="https://github.com/mdn/sprints/issues/new?template=issue-template.md&projects=mdn/sprints/2&labels=user-report&title={{ request.build_absolute_uri()|urlencode }}">{{ _('Report a content problem') }}
                          {% include 'includes/icons/general/external-link.svg' %}
                      </a>
                  </li>
                  <li>
                      <a target="_blank" rel="noopener" href="https://bugzilla.mozilla.org/form.mdn">{{ _('Report a bug') }}
                          {% include 'includes/icons/general/external-link.svg' %}
                      </a>
                  </li>
                </ul>
              </div>
          </div>
      </li>
  </ul>
</nav>
