{% set default_locale = settings.LANGUAGE_CODE %}
{% set default_language = settings.LOCALES[default_locale].native %}
<form class="languages go" method="get" action="#">
  <label for="language">{{ _('Other languages:') }}</label>
  {% for name, value in request.GET.iteritems() %}
    {% if name != 'lang' %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {% endif %}
  {% endfor %}
  <select id="language" class="autosubmit" name="lang">
    {# The default locale should always be in the first choice -#}
    <option title="{{ get_locale_localized(default_locale) }}" value="{{ default_locale }}">
      {{ default_language }} ({{ default_locale }})
    </option>
    {% for code, name in settings.LANGUAGES -%}
      {% if code != default_locale %}
        <option title="{{ get_locale_localized(code) }}" value="{{ code }}"{% if code == LANG %} selected{% endif %}>
          {{ name }} ({{ code }})
        </option>
      {% endif %}
    {%- endfor %}
  </select>
  <noscript><button type="submit">{{ _('Go') }}</button></noscript>
</form>
