<div class="login">
    {% if user.is_authenticated %}
        <a class="user-url" href="{{ user.get_absolute_url() }}">
            <img src="{{ get_avatar_url(user) }}" alt="{{ user_display(user) }}" width="50" height="50" class="login-photo avatar" />
            <span class="login-name">{{ user_display(user) }}</span>
            {% include 'includes/icons/arrows/caret-down.svg' %}
        </a>
        <div class="submenu js-submenu" id="nav-user-submenu">
            <div class="submenu-column">
                <ul>
                    <li><a href="{{ user.get_absolute_url() }}">{{ _('View profile') }}</a></li>
                    <li><a href="{{ url('users.user_edit', username=user.username) }}">{{ _('Edit profile') }}</a></li>
                    <li><form class="login-form" action="{{ url('account_logout') }}" method="post">
                        <input name="next" type="hidden" value="{{ next_url }}">
                        <button class="logout button link" type="submit">{{ _('Sign out') }}</button>
                    </form></li>
                </ul>
            </div>
        </div>
    {% else %}
        {% set github_url = provider_login_url('github', next=next_url) %}
        <a href="{{ github_url }}" class="login-link js-login-link" data-service="GitHub" rel="nofollow">
            {{ _('Sign in') }}{% include 'includes/icons/social/github.svg' %}
        </a>
    {% endif %}
</div>
