{% macro newsletter_widget(form) %}
<fieldset id="apps-newsletter-subscribe" class="section">
  {% csrf_token %}
  <legend><b>{{ _('Firefox Apps & Hacks Newsletter') }}</b></legend>

  <p>{% trans %}
  Subscribe for periodic news about Firefox OS, Firefox Marketplace and the Open
  Web apps ecosystem.
  {% endtrans %}</p>

  <ol>
    <li id="newsletter-toggle">
      {{ form.newsletter.errors }}
      <label for="{{ form.newsletter.id_for_label }}">{{ form.newsletter.label }}</label>
      {{ form.newsletter }}
    </li>
    <li class="newsletter-setting">
      {{ form.country.errors }}
      <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
      {{ form.country }}
    </li>
    <li class="newsletter-setting check">
      {{ form.format.errors }}
      <span class="label">{{ form.format.label }}</span>
      <fieldset class="inline">
      {% for format in form.format %}
        {{ format }}
      {% endfor %}
      </fieldset>
    </li>
    <li class="newsletter-setting agree">
      {{ form.agree.errors }}
      <label for="{{ form.agree.id_for_label }}">
        {{ form.agree }} {{form.agree.label}}
        {% trans privacy_url='http://www.mozilla.org/en-US/privacy' %}
          to the <a href="{{ privacy_url }}">Privacy Policy</a>
        {% endtrans %}
      </label>
    </li>
  </ol>
</fieldset>
{% endmacro %}
