# Settings for local kuma development
[mysqld]
    # Ensure taggit gets production collation
    character_set_server = utf8
    collation_server     = utf8_general_ci

    # Data and index cache, small perf increase
    innodb_buffer_pool_size = 1G

    # Size of redo logs, small perf increase
    innodb_log_file_size    = 1G

    # Write to disk once a second, 20% speed-up for osxfs
    innodb_flush_log_at_trx_commit = 0

    # Required to load production database
    max_allowed_packet=100M
