{% extends "badger/base.html" %}

{% block pageid %}awards{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent badge awards') }}"
        href="{{ url('badger.feeds.awards_recent', 'atom') }}" />
{% endblock %}

{% block subcontent %}
<section class="awards_list" class="item_flow">
    <h1>{{ _('Badges:') }}
    {% if badge %}
        {{ _("Awards for {badge}") | f(badge=badge) }}
    {% else %}
        {{ _("All awards") }}
    {% endif %}</h1>
    {% include "badger/includes/awards_list.html" %}
</section>
{% endblock %}
