{% extends "badger/base.html" %}
{% import "badger/includes/macros.html" as macros %}

{% set badge_url = request.build_absolute_uri(badge.get_absolute_url()) %}

{% block pageid %}badge_detail{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent awards') }}"
        href="{{ url('badger.feeds.awards_by_badge', format='atom', slug=badge.slug) }}" />
    <link rel="alternate" type="application/json"
        title="{{ _('{title} (JSON)') | f(title=badge) }}"
        href="{{ url('badger.detail_json', slug=badge.slug) }}" />

     <meta property="og:type" content="article"> 
     <meta property="og:url" content="{{ badge_url }}">
     <meta property="og:site_name" content="{{ settings.SITE_TITLE }}">
     <meta property="og:image" content="{{ macros.badge_image_url(badge, MEDIA_URL) }}">
     <meta property="og:title" content="{{ badge.title }}">
     <meta property="og:description" content="{{ badge.description }}"> 
     <meta property="article:published_time" content="{{ badge.modified.isoformat() }}Z"> 
     {% if badge.creator %}
     <meta property="article:author" content="{{ request.build_absolute_uri(badge.creator.get_absolute_url()) }}">
     {% endif %}
     {% for tag in badge.tags.all() %}
     <meta property="article:tag" content="{{ tag.name }}">
     {% endfor %}
{% endblock %}

{% block intro %}
    {{ _('Badge:') }}
    <b class="badge-title">{{ badge.title }}</b>
{% endblock %}

{% block subcontent %}
<section class="row-fluid">

    <section class="span4" id="detail">
        <header class="page-header">
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

    {% if award_list %}
    <section class="span4">
        
        <section id="recent_awardees" class="item_flow">
            <header class="page-header">
                <h2>
                    <span>{{ _("Recent awardees") }}</span>
                    <small>(
                        <a href="{{ url('badger.views.awards_list', badge.slug) }}">{{ _("More...") }}</a>
                        <a href="{{ url('badger.feeds.awards_by_badge', 'atom', badge.slug) }}"><img src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                    )</small>
                </h2>
            </header>
            <ul class="awardees cf">
                {% for award in award_list %}
                    <li class="awardee">
                        <a href="{{ award.user.get_absolute_url() }}" class="avatar_image"><img src="{{ user_avatar(award.user) }}"
                            alt="{{ award.badge.title }}" width="128" height="128" /></a>            
                        <a href="{{ award.user.get_absolute_url() }}" class="label">
                            <span class="user">{{ award.user }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </section>

    </section>
    {% endif %}

    <section>
        {% if not award %}
        <dl class="share">
            <dt>{{ _('Share:') }}</dt>
            <dd><ul>
                <li><a href="https://twitter.com/share" class="twitter-share-button" 
                       data-text="&quot;{{ badge.title }}&quot; on {{ settings.SITE_TITLE }}!" 
                       data-size="large"
                       data-url="{{ badge_url }}" data-hashtags="badgus">...</a></li>

                <li><div class="g-plus" data-href="{{ badge_url }}" data-action="share"
                         data-annotation="bubble" data-height="24"></div></li>

                <li><div class="fb-like" data-href="{{ badge_url }}" data-send="true"
                         data-width="450" data-show-faces="false"></div></li>

            </ul></dd>
        </dl>
        {% endif %}
    </section>

</section>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '235454449896211', // App ID
      channelUrl : '{{ request.build_absolute_uri('/media/fb-channel.html') }}', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript"
        src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}
