/*
Styles for overall document.  Minimally styles the canvas.
********************************************************************** */

html {
    background: #fff;
    font-size: $base-font-size;
}

body {
    color: $text-color;
    @include create-gradient-background($header-background-color);

    /* typography */
    font-family: $site-font-family;
    line-height: 1.5;
    #{$selector-site-font-fallback} {
        font-family: $site-font-family-fallback;
        letter-spacing: .01em;
        word-spacing: .03em;
    }
}
