<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ '%s%s' % (settings.SITE_URL, config.KUMA_CUSTOM_SAMPLE_CSS_PATH) }}?raw=1" />
        {% if css %}
        <style type="text/css">
            {{ css | safe }}
        </style>
        {% endif %}
    </head>
    <body>
        {% if html %}
            {{ html | safe }}
        {% endif %}
        {% if js %}
            <script type="text/javascript">
                {{ js | safe }}
            </script>
        {% endif %}
    </body>
</html>
