{% extends "wiki/base.html" %}
{% from "wiki/includes/document_macros.html" import revision_diff with context %}

{% set title = _('Compare Revisions | {document}')|f(document=document.title) %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set classes = 'compare' %}

{% block content %}

  <article id="compare-revisions">

    <h1>{{ _('Compare Revisions') }}</h1>
    <h2><a href="{{ document.get_absolute_url() }}">{{ document.title }}</a></h2>

    {{ revision_diff(revision_from, revision_to) }}

    <p><a href="{{ url('wiki.document_revisions', document.slug) }}" rel="nofollow, noindex">{{ _('Back to History') }}</a></p>

  </article>

{% endblock %}

