<p>
  <a href="{{ obj.parent.get_absolute_url()|absolutify }}" title="{{ obj.parent.title }}">
    {% trans locale=obj.parent.locale %}View {{ locale }} parent{% endtrans %}
  </a>
  (<a href="{{ mod_url|absolutify }}">{% trans modified=obj.parent.modified %}last modified at {{ modified }}{% endtrans %}</a>)
</p>
<p>
  <a href="{{ obj.get_edit_url()|absolutify }}" title="{{ obj.title }}">
    {% trans locale=obj.locale %}Edit {{ locale }} translation{% endtrans %}
  </a>
  ({% trans modified=obj.modified %}last modified at {{ modified }}{% endtrans %})
</p>
