{% extends "wiki/base.html" %}
{% if tag %}
  {% set title = _('Localized articles tagged with: {tag}')|f(tag=tag) %}
{% else %}
  {% set title = _('Articles tagged with any localization tags') %}
{% endif %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set crumbs = [(None, title)] %}

{% block content %}

      <div id="document-list" class="boxed">
        <h1>{{ title }}</h1>
        <p>
        {% trans count=count %}
          Found {{ count }} document.
        {% pluralize %}
          Found {{ count }} documents.
        {% endtrans %}
        </p>
        {% if documents.object_list %}
          {{ documents|paginator }}
          <ul class="document-list cols-3">
            {% for doc in documents.object_list %}
              <li><a href="{{ doc.get_absolute_url() }}">{{ doc.title }}</a></li>
            {% endfor %}
          </ul>
          {{ documents|paginator }}
        {% else %}
          <p>{{ _('There are no articles.') }}</p>
        {% endif %}
      </div>

{% endblock %}
