{% extends "wiki/base.html" %}
{% set title = _('Move Article | {document}')|f(document=document.title) %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set meta = [('robots', 'noindex, nofollow')] %}
{% block bodyclass %}move-page{% endblock %}

{% block site_css %}
    {{ super() }}
    {{ css('wiki-edit') }}
    {{ css('jquery-ui') }}
{% endblock %}

{% block content %}

      <div class="title">
        <h1>{{ _('<span class="title-prefix">Moving</span> <em>{title}</em>')|fe(title=document.title) }}</h1>
      </div>

      <div class="text-content">
          <p>{{ _('Please specify the new location for this page by filling out the fields below. Be sure your new destination follows these rules:') }}</p>
          <ul>
            <li>{{ _('Make sure the location you specify is located immediately under an existing page.') }}</li>
            <li>{{ _('Don\'t include the URL scheme ("https://").') }}</li>
            <li>{{ _('Enter only the part of the URL following "/docs/".') }}</li>
            <li>{{ _('Don\'t include a trailing slash (this will be removed for you if you include it, but you should leave it out).') }}</li>
          </ul>
      </div>

      {% if conflicts: %}
      <div class="warning">
        <p>{{ _('Your requested move cannot be completed due to the following slug conflicts:') }}</p>

        <ul class="document-list">
        {% for doc in descendants %}
          <li>{{ doc }}</li>
        {% endfor %}
        </ul>

        <p>{{ _('Please try a different destination slug. <strong>Double check to be sure you\'re trying to move to the right place!</strong>') }}</p>
      </div>
      {% endif %}

      {% if form.errors %}
      <div class="warning">
        {{ form.errors.as_ul() }}
      </div>
      {% endif %}

      <form action="" method="post" class="editing">
        {{ csrf() }}
        <ul class="description">
          <li>
            <dl>
              <dt>{{ _('Current Slug:') }} </dt>
              <dd>{{ document.slug }}</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt><label for="title">{{ _('Title:') }}</label> </dt>
              <dd><input id="title" type="text" name="title" value="{{ document.title }}" autofocus /></dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>{{ _('Preview URL:') }}</dt>
              <dd id="preview-url" data-url="{{ settings.SITE_URL  }}/{{ document.locale }}/docs/" data-specific="{{ specific_slug }}">
                {{ request.build_absolute_uri(document.get_absolute_url()) }}
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt><label for="move-slug">{{ _('New Slug:') }}</label> </dt>
              <dd>
                <input type="text" name="slug" id="move-slug" value="" required="required" data-validator="{{ SLUG_CLEANSING_REGEX }}" />
                <input type="hidden" value="{{ specific_slug }}" id="current-slug" />
                <input type="hidden" value="{{ document.locale }}" id="locale" name="locale"/>
              </dd>
              <dd class="parent-suggest-container">
                <button class="transparent parent-suggest-link" type="button">{{ _('Look up by Document Title') }}</button>

                <div id="parent-suggest-input-container">
                    <input type="text" placeholder="{{ _('Parent Title') }}" id="parent-suggestion" disabled />
                </div>
              </dd>
            </dl>
          </li>
        </ul>

        <ul id="page-buttons">
          <li><button type="submit">{{ _('Move {d} Pages')|f(d=descendants_count) if descendants_count else _('Move Page') }}</button></li>
          <li><a class="button negative" href="{{ url('wiki.document', document.slug, locale=document.locale) }}">{{ _('Cancel') }}</a></li>
        </ul>

        {% if descendants_count: %}
          <p><strong>{{ _('The following {d} subpages will be affected by this move:')|f(d=descendants_count) }}</strong></p>
          <div class="move-descendants"><ul class="document-list">
            {% for doc in descendants %}
              <li>{{ doc }}</li>
            {% endfor %}
          </ul></div>
        {% else %}
          <p><strong>{{ _('No other documents will be affected by this change.') }}</strong></p>
        {% endif %}

      </form>

{% endblock %}

{% block js %}
  {{ js('jquery-ui') }}
  {{ js('wiki-move', async=True) }}
{% endblock %}
