@import '../vars/_vars-color-palette.scss';

/*
Main CSS file for MDN.  Holds the site structure and key styles.
********************************************************************** */

/* columns */
@import '../../components/structure/_columns.scss';
@import '../../components/structure/_cols.scss';

/*
Pre-header
====================================================================== */

/* soapbox notice */
@import '../../components/structure/_global-notice.scss';

/* keyboard/screen reader skip link menu */
@import '../../components/structure/_nav-access.scss';

/*
Document Head
====================================================================== */

@import '../../components/structure/_document-head.scss';

/*
Footer
====================================================================== */

@import '../structure/_footer.scss';
@import '../../components/structure/_contentinfo.scss';

/*
Misc - needs sorting
====================================================================== */

@import '../../components/structure/_archive.scss';
@import '../../components/structure/_socialaccount-providers.scss';
@import '../../components/structure/_feature-test-element.scss';
@import '../../components/structure/_pagination.scss';

#wikiArticle > p:first-child:empty {
    display: none; /* bug 1305178: hide empty first paragraph */
}

#wikiArticle {
    padding-bottom: $grid-spacing;
    border-bottom: $section-border;
}

p.field-explanation {
    margin-bottom: 0;
}

#content-main.full {
    clear: both;
    float: none;
    width: 100%;
}

.main {
    float: left;
    width: 670px;
}

@media #{$mq-mobile-and-down} {
    .header-clear {
        display: none;
    }
}
