{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

<html lang="en-US" dir="ltr" id="developer-mozilla-org">
<head>
  <title>Temporarily Offline | Mozilla Developer Network</title>
	
	<meta charset="utf-8">
    
  <link rel="stylesheet" href="css/offline.css">
  <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
  
</head>

<body class="landing">

  <header id="masthead" role="banner">
    <div class="wrap">
      <div id="branding">
        <h1 id="logo"><img src="img/mdn-logo-sm.png" alt="" title="" width="62" height="71"> Mozilla Developer Network</a></h1>
      </div>     
      <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
    </div>
  </header>

  <div id="content" role="main">
    <div class="wrap">
  
      <img src="img/beast-500.png" alt="" class="beast 500">
  
      <h1 class="page-title">Temporarily Offline</h1>
      
      <p>Mozilla Developer Network is down for maintenance <time datetime="2012-05-08T15:00:00+00:00">Tuesday, May 8th, 2012, starting at 15:00 UTC</time> 
      (<time datetime="2012-05-08T17:00:00+02:00">Tue 17:00 CET</time>, <time datetime="2012-05-08T11:00:00-04:00">Tue 11:00 US-EDT</time>, 
      <time datetime="2012-05-08T08:00:00-07:00">Tue 8:00 US-PDT</time>). It should be back online by <time datetime="2012-05-09T00:00:00-00:00">00:00 UTC on Wednesday May 9th</time> 
      (<time datetime="2012-05-09T02:00:00+02:00">Wed 02:00 CET</time>, <time datetime="2012-05-09T20:00:00-04:00">Tue 20:00 US-EDT</time>, 
      <time datetime="2012-05-09T17:00:00-07:00">Tue 17:00 US-PDT</time>). 

      <p>During this time, the site may not be available for viewing or editing. Don't panic &ndash; MDN will be back before you know it!</p>
  
      <p>Meanwhile, here are some alternative resources:</p>
 
      <h2>Open Web standards:</h2>
      <ul>
        <li><a href="http://dochub.io/">DocHub</a> mirrors content from MDN and other sources</li>
        <li><a href="http://dev.opera.com/web">Dev.Opera</a> has lots of Web technology articles</li>
        <li><a href="http://www.w3.org/standards/webdesign/">W3C Web Design and Applications</a> is a landing page for Web standards</li>
        <li><a href="https://developer.apple.com/library/safari/navigation/index.html">Safari Developer Library</a> has many articles on Web development</li>
      </ul>
      
      <h2>Mozilla stuff:</h2>
      <ul>
        <li><a href="https://wiki.mozilla.org/">Mozilla wiki</a> has all kinds of information related to the Mozilla project</li>
      </ul>
      
    </div>
  </div>

<script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
</body>
</html>
