<html lang="en-US" dir="ltr" id="developer-mozilla-org">
<head>
  <title>Temporarily Offline | Mozilla Developer Network</title>
	
	<meta charset="utf-8">
    
  <link rel="stylesheet" href="css/offline.css">
  <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
  
</head>

<body class="landing">

  <header id="masthead" role="banner">
    <div class="wrap">
      <div id="branding">
        <h1 id="logo"><img src="img/mdn-logo-sm.png" alt="" title="" width="62" height="71"> Mozilla Developer Network</a></h1>
      </div>     
      <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
    </div>
  </header>

  <div id="content" role="main">
    <div class="wrap">
  
      <img src="img/beast-500.png" alt="" class="beast 500">
  
      <h1 class="page-title">Temporarily Offline</h1>
  
      <p>The Mozilla Developer Network is down for maintenance. It should be back online by <time>00:00 UTC</time> on Wednesday May 9th (<time>Wed 02:00 CET</time>, <time>Tue 20:00 US-EDT</time>, <time>Tue 17:00 US-PDT</time>).</p>  
      
      <p>Meanwhile, here are some alternative resources:</p>

      <h2>Open Web standards:</h2>
      <ul>
        <li><a href="http://dochub.io/">DocHub</a> mirrors content from MDN and other sources</li>
        <li><a href="http://dev.opera.com/web">Dev.Opera</a> has lots of Web technology articles</li>
        <li><a href="http://www.w3.org/standards/webdesign/">W3C Web Design and Applications</a> is a landing page for Web standards</li>
        <li><a href="https://developer.apple.com/library/safari/navigation/index.html">Safari Developer Library</a> has many articles on Web development</li>
      </ul>
      
      <h2>Mozilla stuff:</h2>
      <ul>
        <li><a href="https://wiki.mozilla.org/">Mozilla wiki</a> has all kinds of information related to the Mozilla project</li>
      </ul>
      
    </div>
  </div>

<script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
</body>
</html>