/*
Fx-dev callout
-------------------------------------------------------------- */

.callout-featured {
    box-sizing: border-box;
    background: #fff url($path-to-images + 'embed/promos/grid-tools-bg.svg') 0 100% no-repeat;
    background-size: contain;
    border: 1px solid #999;
    box-shadow: 2px 2px 5px #edecec, -2px -1px 5px #edecec;

    span {
        position: relative;
        padding: 0;
    }

    a {
        padding: $gutter-width;
        min-height: 150px;

        @media #{$mq-small-desktop-and-up} {
            padding: 10px $gutter-width;
        }

        @media #{$mq-tablet-only} {
            padding: 18px $gutter-width;
            min-height: 130px;
        }

        &:hover,
        &:visited,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .main-copy {
        margin-left: 5px;
        margin-bottom: 12px;
        @include set-font-size(2rem);
        line-height: 1.2;

        @media #{$mq-small-desktop-and-up} {
            @include set-font-size(1.7rem);
        }

        @media #{$mq-tablet-only} {
            @include set-font-size(1.5rem);
        }
    }

    .callout-subtext {
        display: block;
        margin-top: 12px;
        font-weight: normal;
    }

    button {
        padding: 5px 15px 3px;
        border-radius: 3rem;
        border: 2px solid #73a8c0;
        min-width: 170px;

        &:before {
            content: '';
            display: inline-block;
            background: transparent url($path-to-images + 'embed/promos/fx-dev-logo.png') 0 0 no-repeat;
            background-size: 32px 33px;
            @include bidi(((margin-right, 5px, margin-left, 5px),));
            width: 36px;
            height: 36px;
            vertical-align: middle;
        }
    }
}
