/*
Layout debugging callout
-------------------------------------------------------------- */

.callout-layout-debugging {
    box-sizing: border-box;
    background-color: #d6f4ff;
    border: 1px solid #999;
    box-shadow: 2px 2px 5px #edecec, -2px -1px 5px #edecec;

    @media screen and (min-width: 83.9375em) {
        background: #d6f4ff url($path-to-images+'embed/promos/picassofox.svg')
            100% 20px no-repeat;
        background-size: 150px;
    }

    span {
        position: relative;
        padding: 0;
    }

    a {
        padding: $gutter-width;
        min-height: 150px;

        @media #{$mq-small-desktop-and-up} {
            padding: 10px $gutter-width;
        }

        @media #{$mq-tablet-only} {
            padding: 18px $gutter-width;
            min-height: 130px;
        }

        &:hover,
        &:visited,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .main-copy {
        margin-left: 5px;
        margin-bottom: 12px;
        @include set-font-size(1.7rem);
        line-height: 1.2;

        @media #{$mq-small-desktop-and-up} {
            @include set-font-size(1.6rem);
            max-width: 290px;
        }

        @media #{$mq-tablet-only} {
            @include set-font-size(1.1rem);
        }
    }

    .callout-subtext {
        display: block;
        margin-top: 12px;
        font-weight: normal;
    }

    button {
        margin-top: 5px;
        padding: 10px;
        border-radius: 3rem;
        border: 2px solid #b2d9e7;
        min-width: 170px;
        text-align: center;
    }
}
