article#chat h2 {
    color: #4B4742;
    font-size: 18px;
    line-height: 150%;
}

article#chat section {
    clear: left;
    font-size: 16px;
}

article#chat section h1 {
    margin: 18px 0 12px;
}

article#chat ol,
article#chat ul {
    line-height: 150%;
    margin: 0 0 6px 21px;
}

#chat-status {
    padding-bottom: 120px;
    padding-top: 70px;
    position: relative;
}

#chat-status div {
    float: left;
}

#chat-status img {
    float: left;
    margin-top: -60px;
    padding-left: 30px;
    padding-right: 40px;
}

#chat-status ul {
    line-height: 170%;
    margin-top: 9px;
}
