body {
  background-position: 50% 0;
}

.feature-contents {
	width: 640px;
	background: url("../img/customercare/nurse.png") no-repeat scroll right 20px transparent;
  padding: 30px 0 0 25px;
}

.feature-contents h2, .feature-contents h3 {
	line-height: 1em;
	margin-right: 250px;
}

.feature-contents h2 {
  color: #FFF;
  font-size: 46px;
}

.feature-contents h3 {
    color: #68645b;
    line-height: 1.5em;
    font-size: 150%;
    margin-top: 15px;
}
#speach-bubbles {
	padding: 60px 0 15px 25px;
  float: left;
}
#speach-bubbles li {
  list-style-type: none;
	float: left;
	text-indent: -99999px;
	width: 177px;
	height: 97px;
}
#speach-bubbles li.choose {
    background: url("../img/customercare/bubble-choose.png") no-repeat scroll top left transparent;
}
#speach-bubbles li.signin {
    background: url("../img/customercare/bubble-signin.png") no-repeat scroll top left transparent;
}
#speach-bubbles li.respond {
    background: url("../img/customercare/bubble-respond.png") no-repeat scroll top left transparent;
}
#tweetcontainer {
    border: 1px solid #f5f5f5;
    padding: 2px;
    float: left;
    clear: left;
}
#tweetcontainer h2 {
    margin: 0px;
    padding: 0px;
    float: left;
    line-height: 3em;
    font-weight: bold;
    font-size: 20px;
    background: none;
}
#tweetcontainer img {
    float: left;
    padding: 4px;
}
.avatar img {
    width: 48px;
    height: 48px;
}
.tweets-header {
	padding: 0 15px;
}
#tweets {
  margin: 0 10px;
}
#tweets ul {
    margin: 0px;
}
#tweets li {
    width: 630px;
    border-top: 1px solid #ccc;
    overflow: auto;
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
}
#tweets li.alt {
    background: -moz-linear-gradient(top, #fff, #f5f5f5);
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#f5f5f5));
}
#tweets li:hover {
    border-top: 1px solid #fef1ad;
    background: -moz-linear-gradient(top, #fffffd, #fdefa6);
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#fdefa6));
}
#tweets li img {
    float: left;
    margin-right: 1em;
    border: solid 1px #cacccb;
    padding: 0px;
    width: 48px;
    height: 48px;
}
#tweets li .twittername {
    color: #307fc1;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.4em;
}
#tweets li .time {
    float: right;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    color: #afaba3;
}
#tweets li .text {
    font-weight: normal;
    font-size: 14px;
    color: #69645b;
    width: 550px;
}
.tweets-buttons {
    float: right;
    line-height: 4em;
    padding-right: 15px;
}
.tweet a, .tweet a:hover {
    color: #69645b;
    text-decoration: none;
}
.hidden {
    display: none;
}

/* reply page styling */
#reply-modal { 
  display: none; 
}

#reply-container {
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 24px;
	top: 86px;
	font-family: Verdana, sans-serif;
	text-align: left;

}

#reply-container,
#reply-container #replies {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#initial-tweet img {
	border: 1px solid #bbb;
	float: left;
}

#initial-tweet .box {
	border: 1px solid #aaa;
	display: block;
	margin-left: 70px;
	text-align: left;
	padding: 6px 9px 10px 9px;
	color: #69645b;
	font-size: 80%;
	background: #fff;
}

#initial-tweet a {
	color: #2276bb;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#initial-tweet a.avatar {
  display: inline;
}

#initial-tweet .box a {
	padding-bottom: 4px;
}

#initial-tweet #arrow {
	border: 0;
	position: absolute;
	left: 84px;
	top: 60px;
}

#reply-container h4 {
	font-family: Verdana, sans-serif;
	color: #4b4740;
	font-size: 125%;
  font-weight: normal;
  margin-bottom: 15px;
}

#reply-container #replies {
	background: #8fc1da;
	background: -moz-linear-gradient(center top, #8fc1da, #e5f1f7) repeat;
    background: -webkit-gradient(linear, center top, center bottom, from(#8fc1da), to(#e5f1f7));
	margin-top: 20px;
	padding: 15px 20px;
}

#reply-container h3.ui-accordion-header {
	background: #f0f0f0 url('../img/customercare/expander-closed.png') 8px 50% no-repeat;
	border: 1px solid #b2b2b2;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	padding: 4px 0 5px 24px;
	margin: 0 0 9px 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#reply-container h3.ui-accordion-header a {
  color: #69645b;
	display: block;
}

#reply-container h3.ui-accordion-header a:hover {
	text-decoration: none;
}

#reply-container #replies ul {
	margin: 0 0 10px 24px;
  list-style-type: none;
}

#reply-container #replies li a {
	display: block;
	color: #0489b7;
	padding-bottom: 2px;
}

#reply-container h3.ui-accordion-header.ui-state-default {
	background: #f0f0f0 url('../img/customercare/expander-closed.png') 8px 50% no-repeat;
}

#reply-container h3.ui-accordion-header.ui-state-active {
	background: #f0f0f0 url('../img/customercare/expander-open.png') 8px 50% no-repeat;
}

#reply-container h3.ui-accordion-header.ui-state-default a {
	font-weight: normal;
  color: #69645b;
}

#reply-container h3.ui-accordion-header.ui-state-active a {
	font-weight: bold;
	color: #69645b;
}

#accordion .ui-widget-content {
  background: none;
  border: none;
}

.topics .snippet {
	display: none;
}

#reply {
	padding-bottom: 34px;
}

#reply .reply-message {
	width: 310px;
	height: 65px;
	border: 1px solid #aaa;
	padding: 10px 15px;
	background: #fff;
  font-size: .9em;
}

#reply #reply-arrow {
	position: relative;
	left: 30px;
	top: 5px;
	display: inline;
}

#submit-message {
  display: none;
	background: url('../img/customercare/reply-check.png') right top no-repeat;
	font-weight: bold;
	color: #4b4740;
	height: 21px;
	padding-right: 23px;
	padding-top: 3px;
	float: left;
	margin-top: 14px;
}

#reply .container {
	position: relative;
	top: -12px;
}

#reply .submitButton {
    background: -moz-linear-gradient(center top, #eed052 15px, #ebb04f 18px, #e79f30, #e0752b);
    /* color-stop percentages according to height */
    background: -webkit-gradient(linear, center top, center bottom, color-stop(.417, #eed052), color-stop(.5, #ebb04f), color-stop(.75, #e79f30), to(#e0752b));
	border-left: 1px solid #d4661a;
	border-right: 1px solid #d4661a;
	border-top: 1px solid #d19f7c;
	border-bottom: 1px solid #ba5c1c;
	color: #b01a04;
	width: 140px;
	height: 36px;
	margin-top: 10px;
	float: right;

	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0 0 5px #777;
	box-shadow: 0 0 5px #777;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

  cursor: pointer;
}

#reply .character-counter {
  width: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	float: right;
	position: relative;
	top: 33px;
}

.hrbreak {
	background: url('../img/customercare/hr-line.png') center 20px no-repeat;
	height: 50px;
}
/* end of reply page styling */

.notice {
    background-color:#FFFFCC;
    border:2px solid orange;
    margin:1em 0;
    padding:1em;
    text-align:center;
    float: left;
}

#twitter-modal {
    display: none;
}
.input-placeholder {
  color: #69645b;
}

.header-button {
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f9), to(#e3e3e3));
    border: 1px solid #BBBBBB;
    color: #000000;
    cursor: default;
    float: right;
    padding: 3px 8px;
    text-align: center;
    margin: 15px 5px 0 0;
}

.header-button:hover,
a.header-button:hover {
    color: #307FC1;
}
.header-button:visited {
    color: #000;
}
a.header-button {
    padding: 4px 8px;
}

#twitter-modal {
	background: url('images/popup-background.png');
	margin: auto;
	padding: 15px 24px 30px 24px;
	font-family: Verdana, sans-serif;
	text-align: left;
	color: #69645b;
  opacity: 1;
}

#twitter-modal .inner-container {
	background: #fff;
	border: 10px solid #9fcce1;
	padding: 20px 18px;
  font-size: 90%;
}

#twitter-modal h4 {
	font-family: Verdana, sans-serif;
	color: #4b4740;
	font-size: 135%;
	margin-bottom: 5px;
	font-weight: bold;
}

#twitter-modal .cancel,
#twitter-modal .signin {
  background: -moz-linear-gradient(center top, #f1f1f1 15px, #eee 18px, #ddd, #ccc); 
    background: -webkit-gradient(linear, center top, center bottom, color-stop(.417, #f1f1f1), color-stop(.5, #eee), color-stop(.75, #ddd), to(#ccc));
	display: block;
	width: 140px;
	height: 36px;
	color: #5a5a5a;
	line-height: 35px;
	text-align: center;
	float: left;
	text-decoration: none;

	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#twitter-modal .cancel {
	margin: 15px 15px 0px 48px;
}

#twitter-modal .signin {
	margin: 15px 0px 0px 0;
	color: #10a2c6;
}

#twitter-modal .inner-container div {
	height: 50px;
}

.ui-corner-all {
  -moz-border-radius: 0px;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-dialog {
	-moz-box-shadow: 0 0 10px #aaa;
	box-shadow: 0 0 10px #aaa;
}

.ui-widget-content {
  border: none;
  background-image: none;
  background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#refresh-tweets {
  color: #000;
}
