/* L10n and Contributor Dashboards */

.dashboards table {
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    width: 100%;
}

.dashboards tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dashboards td,
.dashboards th {
    padding: 7px 12px;
}

.dashboards td {
    vertical-align: middle;
}

.dashboards th {
    font-size: 90%;
    font-weight: bold;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.dashboards .denominator {
    font-size: 80%;
    color: #999;
    white-space: nowrap;
}

.dashboards div.percent-graph {
    background-color: #f3f3f3;
    height: 10px;
    width: 70px;
}

.dashboards div.percent-graph div {
    background-color: #dfdfdf;
    height: 10px;
}

.dashboards div.absolute-graph {
    background-color: #e5e5e5;
    height: 12px;
}

.dashboards #overview-options,
.dashboards .table-footer {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 7px 12px;
}

.dashboards #overview-options label {
    font-weight: bold;
}

.dashboards .table-footer {
    font-size: 90%;
}

.dashboards table.documents .users {
    font-size: 90%;
    color: #999;
}

.dashboards table.overview td:nth-child(2) {
    text-align: right;
}

.dashboards table.overview td:nth-child(4) {
    width: 50%;
}

.dashboards table.documents td:nth-child(2) {
    padding-right: 6px;
    text-align: right;
    width: 15%;
}

.dashboards table.documents td:nth-child(3),
.dashboards table.documents th:nth-child(3) {
    padding-left: 0;
    width: 160px;
}

.dashboards table.documents td:nth-child(4),
.dashboards table.documents th:nth-child(4) {
    text-align: right;
    vertical-align: middle;
    width: 25%;
}
