/* Revision dashboard  ********* */
.dashboard tbody { white-space: no-wrap; overflow: hidden; }

.dashboard #action-bar { position: relative; }

.dashboard #revisions-compare { width: 100%; }

.dashboard #revisions-table tr {
    transition-property: all;
    transition-duration: .5s;
}
.dashboard #revisions-table tr:hover {
    background-image: -moz-linear-gradient(top, #CAE1F4, #eee);
    background-image: -webkit-linear-gradient(top, #CAE1F4, #eee);
    background-image: -ms-linear-gradient(top, #CAE1F4, #eee);
    background-image: -o-linear-gradient(top, #CAE1F4, #eee);
    background-image: linear-gradient(to bottom, #CAE1F4, #eee);
    cursor: pointer;
}
.dashboard #revisions-table tr.selected {
    font-weight: bold;
    background-image: -moz-linear-gradient(top, #D7D3C8, #F6F4EC);
    background-image: -webkit-linear-gradient(top, #D7D3C8, #F6F4EC);
    background-image: -o-linear-gradient(top, #D7D3C8, #F6F4EC);
    background-image: -ms-linear-gradient(top, #D7D3C8, #F6F4EC);
    background-image: linear-gradient(to bottom, #D7D3C8, #F6F4EC);
}

.dashboard div.DTS div.dataTables_scrollHead {
    background-image: -moz-linear-gradient(top, #424F5A, #6A7B86);
    background-image: -webkit-linear-gradient(top, #424F5A, #6A7B86);
    background-image: -ms-linear-gradient(top, #424F5A, #6A7B86);
    background-image: -o-linear-gradient(top, #424F5A, #6A7B86);
    background-image: linear-gradient(to bottom, #424F5A, #6A7B86);
    color: #fff;
}

#revisions-table_wrapper .DTS_Loading {
    display: none;
}

.dashboard table.dataTable tr.odd {
    background-image: -moz-linear-gradient(top, #D4DDE4, #EAEFF2);
    background-image: -webkit-linear-gradient(top, #D4DDE4, #EAEFF2);
    background-image: -ms-linear-gradient(top, #D4DDE4, #EAEFF2);
    background-image: -o-linear-gradient(top, #D4DDE4, #EAEFF2);
    background-image: linear-gradient(to bottom, #D4DDE4, #EAEFF2);
}

.dashboard table.dataTable td {
    border-right: 1px solid #ccc;
    white-space: normal;
    vertical-align: top;
}

.dashboard #revisions-table .revision-head-date {
    width: 20% !important;
}

.dashboard #revisions-table .revision-head-author {
    width: 20% !important;
}

.dashboard #revisions-table .dashboard-comment {
    color: #666;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-right: 50px;
    padding-top: 3px;
}

.dashboard #revisions-table .selected .dashboard-comment {
    font-weight: normal;
}

.dashboard #revisions-table .dash-locale {
    float: right;
    font-size: 0.8em;
    padding-top: 3px;
}

.dashboard #revisions-table .dashboard-new {
    font-weight: bold;
}

.dashboard .dataTables_info {
    float: none;
    text-align: right;
    padding: 10px 20px;
    font-size: 0.8em;
}

.dashboard table.dataTable thead th {
    pointer-events: none;
}

.dashboard #page-buttons {
    position: static;
    margin: 20px 0;
    width: 100%;
}

.dashboard #revision-address {
    color: #666666;
    font-size: 0.9em;
    margin: -10px 0 20px;
}

/* Dashboard Filters */
.dashboard #revision-filter {
    display: block;
    margin: 0 0 20px 0;
}

.dashboard #revision-filter select,
.dashboard #revision-filter input {
    margin-right: 30px;
    display: inline-block;
}

.dashboard #revision-filter label {
    font-weight: bold;
}

/* Localization Dashboard */

#dashboard-filter {
    height: 50px;
}
#dashboard-filter li {
    float: left; height: 50px; margin-right: 25px;
}

.doc-list {
    width: 100%;
}
.doc-list tr th {
    font-weight: bold;
}
