/* 404 - Animate the tumbeast's eyes. Original animation by J Zeller. */
@-moz-keyframes crazylefteye {
	0% {left:125px;top:65px;}
	10% {left:118px;top:56px;}
	20% {left:118px;top:56px;}
	40% {left:148px;top:62px;}
	50% {left:145px;top:72px;}
	60% {left:121px;top:70px;}
	70% {left:125px;top:65px;}
	100%{left:125px;top:65px;}
}
@-moz-keyframes crazyrighteye {	
	0% {left:231px;top:68px;}
	10% {left:212px;top:62px;}
	20% {left:212px;top:62px;}
	40% {left:239px;top:64px;}
	50% {left:240px;top:80px;}
	60% {left:215px;top:73px;}
	70% {left:231px;top:68px;}
	100% {left:231px;top:68px;}
}
@-webkit-keyframes crazylefteye {
	0% {left:125px;top:65px;}
	10% {left:118px;top:56px;}
	20% {left:118px;top:56px;}
	40% {left:148px;top:62px;}
	50% {left:145px;top:72px;}
	60% {left:121px;top:70px;}
	70% {left:125px;top:65px;}
	100%{left:125px;top:65px;}
}
@-webkit-keyframes crazyrighteye {
	0% {left:231px;top:68px;}
	10% {left:212px;top:62px;}
	20% {left:212px;top:62px;}
	40% {left:239px;top:64px;}
	50% {left:240px;top:80px;}
	60% {left:215px;top:73px;}
	70% {left:231px;top:68px;}
	100% {left:231px;top:68px;}
}
@keyframes crazylefteye {
	0% {left:125px;top:65px;}
	10% {left:118px;top:56px;}
	20% {left:118px;top:56px;}
	40% {left:148px;top:62px;}
	50% {left:145px;top:72px;}
	60% {left:121px;top:70px;}
	70% {left:125px;top:65px;}
	100%{left:125px;top:65px;}
}
@keyframes crazyrighteye {
	0% {left:231px;top:68px;}
	10% {left:212px;top:62px;}
	20% {left:212px;top:62px;}
	40% {left:239px;top:64px;}
	50% {left:240px;top:80px;}
	60% {left:215px;top:73px;}
	70% {left:231px;top:68px;}
	100% {left:231px;top:68px;}
}
#beast404re{
	-moz-animation-name: crazyrighteye;
	-moz-animation-delay: 6s;
	-moz-animation-duration: 7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;
	-webkit-animation-name: crazyrighteye;
	-webkit-animation-delay: 6s;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: crazyrighteye;
	animation-delay: 6s;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
#beast404le{
	-moz-animation-name: crazylefteye;
	-moz-animation-delay: 6s;
	-moz-animation-duration: 7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;
	-webkit-animation-name: crazylefteye;
	-webkit-animation-delay: 6s;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: crazylefteye;
	animation-delay: 6s;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
#beastainer{position:relative;float:right;}
#beast404re, #beast404le{position:absolute;}
#beast404le{left:125px;top:65px;}
#beast404re{left:231px;top:68px;}