@font-face {
  font-family: "League Gothic";
  src: url('../fonts/League_Gothic-webfont.eot'); /* IE9 */
  src: url('../fonts/League_Gothic-webfont.eot?') format('eot'), /* IE6-8 */
       url('../fonts/League_Gothic-webfont.woff') format('woff'), /* Modern browsers */
       url('../fonts/League_Gothic-webfont.ttf') format('truetype'); /* Older Webkits */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('../fonts/BebasNeue-webfont.eot'); /* IE9 */
  src: url('../fonts/BebasNeue-webfont.eot?') format('eot'), /* IE6-8 */
       url('../fonts/BebasNeue-webfont.woff') format('woff'), /* Modern browsers */
       url('../fonts/BebasNeue-webfont.ttf') format('truetype'); /* Older Webkits */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carto Bold";
  src: url('../fonts/CartoGothicStd-Bold-webfont.eot'); /* IE9 */
  src: url('../fonts/CartoGothicStd-Bold-webfont.eot?') format('eot'), /* IE6-8 */
       url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff'), /* Modern browsers */
       url('../fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'); /* Older Webkits */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Milk";
  src: url('../fonts/ABTSmilk.eot'); /* IE9 */
  src: url('../fonts/ABTSmilk.eot?') format('eot'), /* IE6-8 */
       url('../fonts/ABTSmilk.woff') format('woff'), /* Modern browsers */
       url('../fonts/ABTSmilk.ttf') format('truetype'); /* Older Webkits */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url('../fonts/MuseoSans_500-webfont.eot'); /* IE9 */
  src: url('../fonts/MuseoSans_500-webfont.eot?') format('eot'), /* IE6-8 */
       url('../fonts/MuseoSans_500-webfont.woff') format('woff'), /* Modern browsers */
       url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'); /* Older Webkits */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MozTT';
  font-weight: 200;
  src: url('../fonts/MozTT-light-webfont.eot');
    src: url('../fonts/MozTT-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MozTT-light-webfont.woff') format('woff'),
         url('../fonts/MozTT-light-webfont.ttf') format('truetype'),
         url('../fonts/MozTT-light-webfont.svg#mozttlight') format('svg');
}
@font-face {
  font-family: 'MozTT';
  src: url('../fonts/moztt-regular-webfont.eot');
    src: url('../fonts/moztt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/moztt-regular-webfont.woff') format('woff'),
         url('../fonts/moztt-regular-webfont.ttf') format('truetype'),
         url('../fonts/moztt-regular-webfont.svg#mozttregular') format('svg');
}
@font-face {
  font-family: 'MozTT';
  font-weight: 600;
  src: url('../fonts/MozTT-medium-webfont.eot');
    src: url('../fonts/MozTT-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MozTT-medium-webfont.woff') format('woff'),
         url('../fonts/MozTT-medium-webfont.ttf') format('truetype'),
         url('../fonts/MozTT-medium-webfont.svg#mozttmedium') format('svg');
}