/* Discussion forums CSS */
ol.threads-columns,
ol.threads,
ol.forums-columns,
ol.forums,
ol.posts-columns,
ol.posts {
    clear: left;
    list-style-type: none;
}

ol.forums-columns li,
ol.threads-columns li,
ol.posts-columns li {
    background-color: #f0f0f0;
    border-bottom: 2px solid #e4e4e4;
    color: #afaba3;
    float: left;
    font-family: Verdana, "Verdana Ref", sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 1.1em 1% 1% 1%;
}

ol.threads-columns li,
ol.forums-columns li {
    margin-right: 0.5%;
}

ol.posts-columns li {
    font-size: 10px;
    font-weight: bold;
}

ol.threads-columns a {
    color: #afaba3;
}

/* Sorting by this column */
ol.threads-columns li.sort {
    background: #f5f4f3 url(../img/forums/up.gif) no-repeat 98% center;
}

ol.threads-columns.desc li.sort {
    background: #f5f4f3 url(../img/forums/down.gif) no-repeat 98% center;
}
/* End sorting */

/* Column widths */
ol.forums-columns li.name,
ol.forums div.name {
    width: 64.5%;
}

ol.forums-columns li.threads,
ol.forums-columns li.posts,
ol.forums div.threads {
    width: 8%;
}

ol.threads-columns li.type {
    width: 8%;
}

ol.threads-columns li.replies,
ol.threads li div.replies {
    width: 10%;
}

ol.threads-columns li.title,
ol.threads li div.title {
    width: 32%;
}

ol.threads-columns li.author,
ol.threads li div.author {
    width: 18%;
}

ol.forums-columns li.last-post,
ol.forums div.last-post,
ol.threads-columns li.last-post,
ol.threads li div.last-post {
    margin-right: 0;
    width: 20%;
}
ol.threads li div.type {
    height: auto;
    min-height: 1em;
    text-align: center;
    width: 8%;
}
/* End column widths */

ol.forums li,
ol.threads li {
    clear: left;
}

ol.forums li div,
ol.threads li div {
    float: left;
    margin: 1% 0.5% 1% 0;
    padding: 0 1%;
}

ol.forums li hr,
ol.threads li hr {
    background: none;
    border: 0;
    clear: left;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
}


ol.forums li:nth-child(even),
ol.threads li:nth-child(even),
ol.posts li:nth-child(even) {
    background: #f0f0f0;
}

ol.forums div.threads {
    text-align: right;
}

ol.threads div.replies {
    text-align: center;
}

ol.threads a.username,
ol.posts li div.author a {
    color: green;
    font-weight: bold;
}

ol.posts li div.author a {
    display: block;
}

ol.posts li div.author a:hover {
    text-decoration: underline;
}

ol.posts li div.author span.posts {
    font-style: italic;
}

ol.posts li div.content {
    float: left;
    padding: 0 1% 1em 1%;
    width: 72.9%;
}

ol.posts li div.info {
    clear: left;
    border-top: 1px solid #e4e4e4;
    padding: 1em 1em 1em 1%;
}

ol.posts li div.info a {
    display: none;
}

ol.posts li:hover div.info a {
    display: inline;
}

ol.posts li div.info span.post-action {
    float: right;
}

div#thread-reply {
    background-color: #edf7fA;
}

div#thread-reply h3 {
    padding: .5em 0 0 .5em;
    font-weight: normal;
    font-size: 180%;
}

p#thread-locked {
    padding: .5em 0 1.2em 1em;
}

a#new-thread {
    background: url(../img/forums/arrow.png) no-repeat scroll left center transparent;
    float: left;
    font-size: 115%;
    margin: 0 0 1em 10px;
    padding-left: 10px;
}

div.thread-actions {
    clear: left;
    padding-top: 1em;
    margin: 1em 0;
}

div.thread-actions form {
    display: inline;
}

ol.posts li div.post-actions {
   margin: 1em 0;
}

ol.posts li div.post-actions a,
ol.posts li div.post-actions form {
    display: inline;
}

ol.posts-columns li.author {
    width: 20%;
    margin-right: 1%;
}

ol.posts-columns li.message {
    width: 75%;
}

ol.posts li {
    border-color: #e4e4e4;
    border-style: solid;
    border-width: 0 0 1px;
    padding-top: 1em;
}

ol.posts li div.author {
    float: left;
    width: 21%;
    padding: 0 1% 1em 1%;
}

/* Wiki markup for posts */
ol.posts li div.content h1,
#content-inner ol.posts li div.content h2,
ol.posts li div.content h3,
ol.posts li div.content h4,
ol.posts li div.content h5,
ol.posts li div.content h6 {
    margin: 0.5em 0;
    padding: 0;
}

ol.posts li div.content h1 {
    font-size: 210%;
}

ol.posts li div.content h2 {
    font-size: 180%;
}

ol.posts li div.content h3 {
    font-size: 145%;
}

ol.posts li div.content h4 {
    font-size: 115%;
}

ol.posts li div.content h5 {
    font-size: 95%;
}

ol.posts li div.content h6 {
    font-size: 85%;
}

ol.posts li div.content p {
    margin-bottom: 1em;
}

ol.posts li div.content ol,
ol.posts li div.content ul {
    margin-left: 1.5em;
}

ol.posts li div.content li {
    border: none;
    margin: 1em 0;
    padding: 0;
}

ol.posts li div.content li:nth-child(even) {
    background: none;
}

ol.posts li div.content dd {
    margin-left: 3em;
}

ol.posts li div.content blockquote {
    background-color: #e6eaec;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: 1.5em;
    padding: 1em;
}

ol.posts li div.content pre {
    background-color: #e6eaec;
    margin: 1em 0;
    padding: 0.5em;
    white-space: pre-wrap;
}

ol.posts li div.content a:hover {
    text-decoration: underline;
}

/* End of wiki markup */

/* Pagination tweaks */
ol.pagination {
    clear: left;
    margin: 1.5em auto 0;
}

form.new-thread div.form-widget,
form.edit-post div.form-widget,
form.edit-thread div.form-widget {
    border-top: 1px dotted #c0c0c0;
    clear: left;
    padding: 1em;
}

form.new-thread div.form-widget label,
form.edit-post div.form-widget label,
form.edit-thread div.form-widget label {
    display: block;
    width: 10em;
    float: left;
}

form div.form-widget.submit {
    padding-left: 11em;
}

/* Delete Thread/Post Confirmation */
div.thread-to-delete label,
div.post-to-delete label {
    display:block;
    font-weight:bold;
    margin: 0.5em 0 0 0;
}

div.thread-to-delete input,
div.post-to-delete input,
div.form-widget input[type="submit"] {
    margin: 0 0 0 1em;
}

div.thread-to-delete form,
div.post-to-delete form {
    margin: 2em 0 0 0;
}

div.thread-to-delete p,
div.post-to-delete p {
    margin: 0 0 1em;
}

/* Thread title badges */
div.badges {
    margin:-1em 0 0;
}

div.badges span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float:left;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 2px 10px 2px 32px;
}

span.sticky {
    background: #eaf4f8 url(../img/forums/type/sticky.png) no-repeat 8px center;
    color: #139ec4;
}

span.locked {
    background: #fff0cb url(../img/forums/type/locked.png) no-repeat 8px center;
    color: #a4813b;
}

span.watching {
    background: #d7f8e0 url(../img/forums/watch.png) no-repeat 8px center;
    color: #10c493;
}

/* Forums markup editor */
div.forum-editor {
    padding: 1em;
}

div.forum-editor textarea {
    width: 100%;
}

div.forum-editor-notes {
    float: left;
    padding: 1em 0 0 1em;
}

div.forum-editor-notes p {
    margin-top: .8em;
}

div.forum-editor-actions {
    clear: both;
    border-top: 2px solid #fff;
    padding: 1em 2em;
    text-align: right;
}

div.forum-editor-tools img {
    margin: 0 0.3em 0 0;
}

img.markup-toolbar-button {
    cursor: pointer;
}

form.new-thread div.forum-editor,
form.edit-post div.forum-editor {
    float: left;
    padding-left: 0;
    width: 500px;
}
/* End markup editor */

span.post-modified {
    font-size: 0.8em;
    display: block;
    margin: 0.5em 0 0 0;
}
