/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#main {
    background: none;
    padding: 0;
}

#main-hdr {
    position: relative;
    z-index: 2;
}

#featured {
    background: url("../img/nurse.png") no-repeat scroll right top transparent;
    height: 279px;
    overflow: hidden;
    padding: 75px 330px 0 0;
    position: relative;
    top: -75px; /* the background image needs to slide under #main-hdr */
    z-index: 1;
}

body.mobile #featured {
    background: url("../img/nurse.mobile.png") no-repeat scroll right top transparent;
}

#main-content {
    background: none;
}

#featured-wrap {
    background: url("../img/wiki/document.divider.jpg") no-repeat scroll left bottom transparent;
    height: 279px;
}

#featured h1 {
    font-size: 280%;
    font-style: italic;
    letter-spacing: -1px;
    margin: 0 0 .5em;
}

#featured h1 mark {
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

#support-search {
    margin: .5em 0 0 .5em;
    width: 380px;
}

#support-search input.text {
    width: 290px;
}

#featured p {
    font-size: 108%;
    line-height: 1.5em;
    width: 414px;
}

#main-hdr {
    height: 60px;
}

#firefox-help {
    padding-bottom: 0;
}

#home-content-quick, #home-content-explore {
    float: left;
    font-size: 14px;
}

#home-content-quick {
    clear: left;
    width: 260px;
}

#home-content-quick h1 {
    font-size: 160%;
    margin: 10px 0 .5em;
}

#home-content h1 {
    font-size: 160%;
    font-style: italic;
}

#home-content-quick section {
    background: url("../img/home-bar.png") no-repeat scroll left bottom transparent;
    padding: 25px 0 40px 20px;
    margin-right: 20px;
}

#home-content-quick section:last-child {
    background: none;
}

#home-content-quick ul {
    list-style-type: none;
}

#home-content-quick li {
    margin-bottom: 4px;
}

#home-content-explore {
    border-left: 2px dotted #a8c4ef;
    margin-top: 40px;
    padding-left: 20px;
    width: 460px;
}

#home-content-explore h1 {
    margin: -5px 0 0.5em;
}

#home-content-explore h2 {
    font-size: 108%;
    margin: .7em 0 .3em;
}

#home-content-explore section {
    float: left;
    padding: 0 15px 0 0;
    width: 205px;
}

#home-content-explore section.odd {
    clear: left;
}

#home-content-explore ul {
    margin-bottom: 1em;
    padding-left: 1em;
    text-indent: -2px;
}

#home-content-explore ul li {
    padding: 3px 0;
}

#home-content-explore ul a {
    color: #444;
}

#home-content-explore ul a:hover {
    color: #447bc4;
    text-decoration: underline;
}
