/* IE stylesheet */
.breadcrumbs li {
    background-image: url(../img/crumb.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 0px 0 10px;
}

.breadcrumbs li {
    background-image: expression(this.previousSibling==null?'none':'default');
}

#content-inner {
    width:679px;
}

ol.posts li div.content pre {
    white-space: pre;
    word-wrap: break-word;
}

/* Image markup styling */
div.img-inner {
    zoom: 1; /* force inline-block behavior on block elements in IE6 and IE7 */
    display: inline;
}
/* End image markup styling */
