/* IE stylesheet */
#nav-main {
    *display: inline;
    _height: 47px;
    zoom: 1;
}

#nav-main .sfhover ul li {
    height: 24px !important;
}

.breadcrumbs li {
    background-image: url(../img/crumb.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 0px 0 10px;
}

.breadcrumbs li {
    background-image: expression(this.previousSibling==null?'none':'default');
}

#content-inner {
    width:679px;
}

ol.posts li div.content pre {
    white-space: pre;
    word-wrap: break-word;
}

div.img-inner,
ul.tag-list li {
    zoom: 1; /* force inline-block behavior on block elements in IE6 and IE7 */
    display: inline;
}

/* set widths aren't respected with long content */
body.questions #main-content {
    overflow: hidden;
}

form div.attachments-upload div.attachment,
div.ans-attachments div.attachment {
    display: inline; /* force inline-block behavior on block elements in IE6 and IE7 */
    zoom: 1;
}

*html div.main-section { /* ie6 only */
    position: relative;
}

*html form div.attachments-upload div.hover input.delete,
*html div.ans-attachments div.hover input.delete { /* ie6 only */
    display: block;
}

#check-your-plugins {
    border-top: solid 1px #f0f0f0;
}


/* Home page */
#support-search input.text {
    border: 0; /* IE7 */
}

#featured {
    /* nurse .gif for IE6 */
    _background: url(../img/nurse.gif) no-repeat scroll right top transparent;
}

body.mobile #featured {
    /* nurse .gif for IE6 */
    _background: url("../img/nurse.mobile.gif") no-repeat scroll right top transparent;
}

/* IE6 only */
#quick-links li {
    _height: 10px;
}

#main-sd #quick-links li a {
    _background: none;
}

#home-content-quick section {
    _background: none;
}

#home-content-explore section {
    _margin-left: 10px;
}

#featured-side {
    _height: 230px;
}

/* Fix z-index issue with header drop downs */
#nav-main {
    position: relative;
    z-index: 2;
}

/* Article page - more help .gif fallback */
#more-help {
    _background: transparent url(../img/wiki/morehelp.nurse.gif) no-repeat left top;
}
