/* IE stylesheet */
.breadcrumbs li {
    background-image: url(../img/crumb.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 0px 0 10px;
}

.breadcrumbs li {
    background-image: expression(this.previousSibling==null?'none':'default');
}

#content-inner {
    width:679px;
}

ol.posts li div.content pre {
    white-space: pre;
    word-wrap: break-word;
}

div.img-inner,
ul.tag-list li {
    zoom: 1; /* force inline-block behavior on block elements in IE6 and IE7 */
    display: inline;
}

/* set widths aren't respected with long content */
#main-content {
    overflow: hidden;
}

form div.attachments-upload div.attachment,
div.ans-attachments div.attachment {
    display: inline; /* force inline-block behavior on block elements in IE6 and IE7 */
    zoom: 1;
}
