/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Styles for our kbox modals, popups, ...
 */

.kbox {
    display: none;
}

.kbox-container {
    background: #fff;
    border: solid 4px #1c3054;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 1px 2px 15px #aaa;
    -moz-box-shadow: 1px 2px 15px #333;
    -webkit-box-shadow: 1px 2px 15px #aaa;
    display: none;
    font-size: 14px;
    position: absolute;
    width: 500px;
    z-index: 1000;
}

.kbox-open,
.kbox-open .kbox {
    display: block;
}

.kbox-close {
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 5px;
}

.kbox-title {
    background: #2d488d;
    border-bottom: solid 2px #22366a;
    color: #fff;
    display: block;
    font-family: Verdana;
    font-size: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    margin: 0;
    padding: 5px 15px;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
}

.kbox-wrap {
    padding: 15px;
}

#kbox-overlay {
    background: #000;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
