/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Some Extra Fonts */
/* first for IE 6/7/8 */
@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('../fonts/MetaWebPro-Black.eot');
}

/* then for Mozilla browsers -> Firefox */
@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('../fonts/MetaWebPro-Black.woff') format('woff');
}

/*----------------------------------
    Global
----------------------------------*/
article, header, hgroup, footer, nav, section {
    display: block;
}

html {
    background: #fff url(../global/background.png) 0 -700px repeat-x;
}

body {
    font: 13px/1.231 Georgia, freeserif, serif;
    min-width: 998px;
    text-align: center;
}

body.html-rtl {
    text-align: right;
}

.clear {
    clear: both;
}

a:link, a:visited, a:active {
    color: #447bc4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 2em;
}

/*----------------------------------
    Header
----------------------------------*/
#header {
    margin-top: 10px;
    width: 980px;
}

/*----------------------------------
    Breadcrumbs
----------------------------------*/

.breadcrumbs {
    font-family: Verdana;
    margin: 0 0 15px;
    padding: 0 9px;
}

.breadcrumbs li {
    display: inline;
    margin: 0;
    color: #4b4742;
    font-size: 83%;
}

.breadcrumbs li:before {
    content: '/';
    padding: 0 4px;
    color: #807970;
    font-size: 110%;
}

.breadcrumbs li:first-child:before {
    content: '';
    padding: 0;
}

.breadcrumbs a {
    color: #0489b7;
    font-weight: bold;
    text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
    text-decoration: underline;
}


/*----------------------------------
    Content
----------------------------------*/

#content {
    clear:both;
    font-size: 92.31%;
    margin: auto;
    text-align: left;
    width: 978px;
}

#content:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#sub-header {
    height: 90px;
}

#main {
    background: transparent url(../img/wiki/bkg.main.top.png) no-repeat right top;
    clear: both;
    float: left;
    padding: 16px 0 0;
    width: 754px;
}

#main article.main {
    background: transparent url(../img/wiki/bkg.article.jpg) no-repeat right top;
    font-size: 13px;
    min-height: 450px;
    padding: 14px 20px 0 0;
}

article.main > h1 {
    margin: 0 0 15px;
}

#firefox-help {
    float: left;
    font-size: 18px;
    font-style: italic;
    padding: 10px 0;
    width: 445px;
}

#firefox-help a {
    background: transparent url(../img/ff-logo.png) no-repeat left center;
    color: #333;
    float: left;
    padding: 20px 0 20px 60px;
}

#support-search {
    float: left;
    padding: 15px 0 0;
    width: 310px;
}

div.support-search form {
    background: #1b5898;
    background: -moz-linear-gradient(top, #2e89ca, #1b5898);
    background: -webkit-gradient(linear, left top, left bottom, from(#2e89ca), to(#1b5898));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    padding: 5px;
}

div.support-search input.text {
    background: #fff url(../img/icon.searchloupe.png) no-repeat 7px 2px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: none;
    float: left;
    font-size: 16px;
    height: 26px;
    margin: 0 1px 0 0;
    padding: 2px 0 2px 34px;
    width: 220px;
}

div.support-search button.img-submit {
    float: left;
    height: 33px;
    margin: -1px 0 0 2px;
    width: 40px;
}

#greeting {
    color: #666;
    float: right;
    font-size: 14px;
    padding: 20px 0 0;
    text-align: right;
    width: 222px;
}

#greeting span.user {
    color: #333;
}

#greeting nav {
    display: block;
}


/*-----------------------------------------------
    Warnings, notifications, in-content stuff
-----------------------------------------------*/
div.warning-box {
    border: 1px #f2d273 solid;
    background: #fffaed url(../img/wiki/bkg.warning.png) repeat-y left top;
    background: url(../img/wiki/bkg.warning.png) repeat-y left top, -moz-linear-gradient(top, #fffaed, #fff2cb);
    background: url(../img/wiki/bkg.warning.png) repeat-y left top, -webkit-gradient(linear, center top, center bottom, from(#fffaed), to(#fff2cb));
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 35px 20px 0 0;
    padding: .5em 2em .5em 2em;
}

div.warning-box p {
    margin: .5em 0 .5em 0;
    line-height: 1.5em;
    color: #444;
}


/*----------------------------------
    Sidebar
----------------------------------*/

#side {
    float: left;
    width: 222px;
}

#for-contributors h1 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 5px;
}

#for-contributors li {
    list-style: none;
    padding: 3px 0;
}

#quick-links {
    font-size: 13px;
    margin: 25px 0 0 20px;
}

#quick-links li {
    background: #cde6f5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    list-style: none;
    margin: 0 0 6px;
}

#quick-links li:hover {
    background: #e6f1fb;
}

#quick-links li.active:hover {
    background: #4978bc;
}

#quick-links .active {
    background: #3862a9;
}

#quick-links .active a {
    color: #fff;
}

#quick-links li a {
    display: block;
    padding: 5px 0 5px 30px;
}

#quick-links li.home a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px 6px;
}

#quick-links li.aaq a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px -44px;
}

#quick-links li.home.active a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px -95px;
}

#quick-links li.aaq.active a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px -144px;
}

.sd-module {
    background: #cde6f5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 13px;
    margin: 20px 0 0 20px;
    padding: 20px;
}

.sd-module.promos {
    margin-top: 50px;
    padding: 0;
}

.sd-module h1 {
    color: #32559b;
    font-size: 20px;
    font-style: italic;
}

.sd-module h1 mark {
    color: #32559b;
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.sd-module h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 15px 0 0;
}

.sd-module p {
    color: #666;
    margin: 10px 0;
}

.sd-module section {
    padding: 20px;
}

#want-to-get-involved a {
    display: block;
    margin-right: 2em;
}

#check-your-plugins {
    background: -moz-radial-gradient(center -40%, circle, rgba(255,255,255,1), rgba(255,255,255,0) 50%);
    background: -webkit-gradient(radial, center -40%, 0, center -40%, 175, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
}

/* Side tabs -- TODO: rename doc-tabs to something more generic */
#doc-tabs {
    color: #666;
    font-size: 13px;
    margin: 16px 0 0;
}

#doc-tabs li {
    background: #fff;
    background: -moz-linear-gradient(left, #cde4f7, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#cde4f7), to(#fff));
    border: solid 1px #9accf7;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    box-shadow: 2px 2px 3px #9dbbd0;
    -moz-box-shadow: 2px 2px 3px #9dbbd0;
    -webkit-box-shadow: 2px 2px 3px #9dbbd0;
    list-style: none;
    margin: 7px 0 0;
}

#doc-tabs li.disabled, #doc-tabs li.disabled:hover {
    background: -moz-linear-gradient(left, #dedede, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#dedede), to(#fff));
    border: solid 1px #ccc;
    box-shadow: 2px 2px 3px #cecece;
    -moz-box-shadow: 2px 2px 3px #cecece;
    -webkit-box-shadow: 2px 2px 3px #cecece;
}

#doc-tabs li.disabled a {
    color: #999;
}

#doc-tabs li a,
#doc-tabs li span {
    display: block;
    padding: 7px 0 8px 50px;
}

#doc-tabs li:hover {
    background: -moz-linear-gradient(left, #e6f1fb, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6f1fb), to(#fff));
}

#doc-tabs li.active {
    background: #fff;
    left: -1px;
    position: relative;
    width: 102%;
    z-index: 2;
}

#doc-tabs li.active span,
#doc-tabs li.active a {
    border-left: solid 2px #fff;
    color: #666;
    left: -2px;
    padding-left : 52px;
    position: relative;
    z-index: 0;
}

#doc-tabs li.edit {
    margin: 25px 0 0;
}

/* Login form */
#login-form {
    margin: 1em 0;
}

#login-form h3 {
    color: #afaba3;
    font-size: 150%;
    margin-bottom: .5em;
}

#login-form label {
    color: #807970;
    display: block;
    margin: .3em 0;
}

#login-form input {
    margin: .3em 0;
}
/* End login form */

/* Error styling */
div.invalid input,
div.invalid textarea {
    border-color: red;
    border-style: solid;
}

ul.errorlist {
    margin: 1em 3em;
    color: red;
}

ul.errorlist li {
    margin: 1em 0;
}

ul.errorlist li a {
    color: red;
}
/* End error styling */

/*----------------------------------
    Pagination styles
----------------------------------*/

ol.pagination {
    border-top: solid 1px #9ACCF7;
    font-family: Verdana;
    margin: 20px 0;
    padding: 20px 0;
}

ol.pagination li {
    float: left;
    list-style: none;
    padding: 0 2px;
}

ol.pagination li.prev {
    padding-left: 0;
}

ol.pagination li a {
    float: left;
    padding: 3px 8px 5px;
}

ol.pagination li a:hover {
    text-decoration: underline;
}

ol.pagination li.prev a {
    padding-left: 0;
}

ol.pagination li.selected a {
    background: #447bc4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: default;
}

ol.pagination li.selected a:hover {
    text-decoration:none;
}

/*----------------------------------
    Form element styles
----------------------------------*/

article.main input[type="text"],
article.main input[type="email"],
article.main input[type="url"],
article.main input[type="password"],
article.main textarea,
section.marky input[type="text"] {
    background: -moz-linear-gradient(top, #deebf4, #deebf4 2px, #fff 3px, #fff 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(#deebf4), to(#fff), color-stop(5%, #deebf4), color-stop(10%, #fff));
    border: solid 1px #97cbf7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #666;
    font-size: 15px;
    padding: 5px;
    width: 325px;
}

article.main input[type="text"].error,
article.main input[type="text"].error {
    border-color: #ff0000;
}

article.main input[type="text"].autocomplete-tags {
    width: 100px;
}

article.main textarea {
    background: -webkit-gradient(linear, center top, center bottom, from(#deebf4), to(#fff), color-stop(0.5%, #deebf4), color-stop(1%, #fff));
    height: 150px;
    width: 700px;
}

article.main div.submit {
    clear: both;
    padding: 10px 0 0;
}

/*----------------------------------
    Markup editor styles
----------------------------------*/

div.editor {
    padding: 1em;
}

div.editor textarea {
    width: 98%;
}

div.editor-notes {
    float: left;
    padding: 1em 0 0 1em;
}

div.editor-notes p {
    margin-top: .8em;
}

div.editor-actions {
    clear: both;
    border-top: 2px solid #fff;
    padding: 1em 2em;
    text-align: right;
}

div.editor-tools {
    background: #daedf6;
    background: -moz-linear-gradient(top, #e7f6fd, #daedf6);
    background: -webkit-gradient(linear, center top, center bottom, from(#e7f6fd), to(#daedf6));
    height: 40px;
    line-height: 30px;
    padding: 5px 5px 0;
    width: 98%;
}

div.editor-tools span.separator {
    border-left: solid 1px #ddd;
    font-size: 24px;
    margin: 0 8px 0 6px;
    position: relative;
    top: 4px;
}

div.editor-tools a.markup-toolbar-link {
    padding: 0 6px;
}

button.markup-toolbar-button {
    border: 0;
    background: url(../img/markup.png) no-repeat 0 0;
    cursor: pointer;
    height: 34px;
    margin: 0 2px;
    text-indent: -9999px;
    width: 34px;
}

div.editor-tools button:first-child {
    margin-left: 0;
}

button.btn-h2 {
    background-position: -44px 0px;
}

button.btn-h3 {
    background-position: -88px 0px;
}

button.btn-bold {
    background-position: -132px 0px;
}

button.btn-italic {
    background-position: -176px 0px;
}

button.btn-media {
    background-position: -220px 0px;
}

button.btn-link {
    background-position: -264px 0px;
}

button.btn-ol {
    background-position: -308px 0px;
}

button.btn-ul {
    background-position: -352px 0px;
}

#showfor-modal,
#link-modal,
#media-modal {
    text-align: left;
    width: 480px;

}

#showfor-modal h2,
#link-modal h2,
#media-modal h2 {
    font-size: 16px;
    margin: 10px 0 0;
}

#showfor-modal label {
    padding: 0 15px 0 0;
}

#showfor-modal input[type="checkbox"] {
    margin: 0 5px 0 0;
}

section.marky div.submit {
    clear: both;
    padding: 20px 0 0;
}

section.marky div.submit a,
section.marky div.submit button {
    margin: 0 15px 0 0;
}

#link-modal {
    width: 600px;
}

#link-modal label {
    clear: both;
    float: left;
    padding: 5px 15px 20px 0;
    text-align: right;
    width: 75px;
}

#link-modal ol {
    float: left;
}

#link-modal li {
    list-style: none;
    padding: 0 0 10px;
}

#link-modal li label {
    float: none;
    padding: 0;
    text-align: left;
    width: auto;
}

#media-modal {
    height: 80%;
    left: 50%;
    margin-left: -380px;
    max-height: 510px;
    max-height: -moz-calc(100%); /* let it continue to grow in FF4 */
    min-height: 400px;
    min-height: -moz-calc(0%); /* let it continue to shrink in FF4 */
    position: fixed;
    top: 7%;
    width: 760px;
}

#media-modal div.placeholder {
    height: 65%;
    height: -moz-calc(100% - 150px);
    left: 15px;
    position: absolute;
    top: 100px;
}

#media-modal.processing div.placeholder {
    background: transparent url(../img/customercare/spinner.gif) no-repeat center center;
}

#media-modal.processing #media-list {
    visibility: hidden;
}

#media-modal #media-list {
    height: 80%;
    height: -moz-calc(100% - 50px);
    overflow: auto;
}

#media-modal #media-list li {
    border: solid 1px #fff;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 120px;
}

#media-modal #media-list li:hover {
    background: #f0f0f0;
    border: solid 1px #9ACCF7;
}

#media-modal #media-list li.selected {
    background: #DAEDF6;
    border: solid 1px #9ACCF7;
}

#media-list li img {
    max-width: 120px;
    max-height: 120px;
}

#media-modal div.filter {
    border-bottom: 1px solid #9ACCF7;
    border-top: 1px solid #9ACCF7;
    display: block;
    padding: 7px 15px;
}

#media-modal div.filter input[type="text"] {
    background: url("../img/icon.searchloupe.png") no-repeat scroll 7px center #FFFFFF;
    margin: 0 7px 0 0;
    padding-left: 33px;
    width: 300px;
}

#media-modal div.type {
    color: #929292;
    float: right;
    margin-top: .5em;
}

#media-modal div.type ol {
    float: left;
    list-style-type: none;
}

#media-modal div.type span {
    float: left;
}

#media-modal div.type ol li {
    border-left: 2px solid #929292;
    color: #447BC4;
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 0 .5em;
}

#media-modal div.type ol li.selected {
    color: #565656;
    cursor: default;
}

#media-modal div.type ol li:first-child {
    border-left: 0;
}

#media-modal ol.pagination {
    margin: 7px 0;
    padding: 7px 0;
}

#media-modal div.submit {
    bottom: 15px;
    left: 15px;
    position: absolute;
}

/* Submit or cancel switches */
div.submit-or-cancel {
    padding: 1em 0;
}

div.submit-or-cancel input[type="submit"] {
    margin: 0 0 0 1em;
}

/* Image markup styling */
div.img {
    margin: 3px;
}

div.img.align-left {
    float: left;
}

div.img.align-right {
    float: right;
}

div.img.center {
    text-align: center;
}

div.img-inner {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px;
}

div.img img {
    margin: 0 auto;
}

div.img-inner div.caption {
    color: #333;
    padding: 7px 0 4px;
    text-align: center;
}

div#main div.img a:hover {
    text-decoration: none;
}
/* End image markup styling */

/* jQueryUI styles */
a.ui-state-hover {
    border: none !important;
}
a.ui-dialog-titlebar-close {
    position: absolute;
    right: 2px;
    top: 2px;
}
div#upload-dialog {
    padding: .5em;
}
ul.ui-autocomplete {
    /* jQuery sticks the menu right in the body, where it inherits text-align: center from the body. */
    text-align: left;
}
/* END jQueryUI styles */

.input-placeholder {
    color: #9b9b9b;
}
.input-placeholder.placeholder-focused {
    color: #333;
}

/*----------------------------------
    Common button styles
----------------------------------*/

input[type="button"],
input[type="submit"]:not(.remover),  /* Exclude tag remover button. */
section.marky button,
a.btn {
    border: none;
    background: #5784BF;
    background: -moz-linear-gradient(#669BE1, #5784BF) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#669BE1), to(#5784BF));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    cursor: pointer;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0 15px 0 0;
    overflow: visible;
    padding: 5px 12px 7px;
    text-align: center;
    width: auto;
}

input[type="button"]:hover,
input[type="submit"]:not(.remover):hover,  /* Exclude tag remover button. */
section.marky button:hover,
a.btn:hover {
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
    text-decoration: none;
}

input[type="submit"].btn-important,
a.btn-important {
    background: #489615;
    background: -moz-linear-gradient(#84C63C, #489615) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#84C63C), to(#489615));
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
    padding: 8px 16px 12px;
}

/* buttons styled to look like links */
input[type="submit"].link-btn {
    background: none;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #447bc4;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    text-align: left;
    white-space: normal;
}

input[type="submit"].link-btn:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-decoration: underline;
}

input[disabled]:not(.remover) {
    background: #ddd;
    color: #888;
    cursor: default;
}

button.img-submit {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
}

form.disabled input[type="submit"],
form.disabled input[type="image"],
form.disabled button {
    opacity: 0.5; /* dim submit buttons when form is disabled */
}

/*----------------------------------
    Image modal kbox
----------------------------------*/
#image-attachment-kbox img {
    max-width: 100%;
}

#image-attachment-kbox img.loading {
    background: transparent url(../img/wait-trans.gif) no-repeat center center;
    display: block;
    height: 32px;
    margin: auto;
    width: 32px;
}
