/*----------------------------------------------------------------------------
Screen CSS file for Mozilla Developer Network
Created by Craig Cook - focalcurve.com
        on 1 June, 2010

Colors -
Orange        #fb9500
Green         #8dc434
Blue          #00b6f0
Red           #ed2024
Gold          #f8d575
Off-black     #333
Dark red      #630a0c

Link          #369
Hover         #25a
Visited       #69c

Font sizes -
16px *  .875 = 14px (base size)

14px * 1.857 = 26px
14px * 1.714 = 24px
14px * 1.571 = 22px
14px * 1.428 = 20px
14px * 1.285 = 18px
14px * 1.142 = 16px
14px *  .928 = 13px
14px *  .857 = 12px
14px *  .786 = 11px
14px *  .714 = 10px
14px *  .642 = 9px
-----------------------------------------------------------------------------*/

/* @Fonts *********/
@font-face {
	font-family: "League Gothic";
  src: url('../fonts/League_Gothic-webfont.eot?') format('eot'); 
  font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
 	src: url('../fonts/BebasNeue-webfont.eot?') format('eot');
}

@font-face {
	font-family: "Carto Bold";
 	src: url('../fonts/CartoGothicStd-Bold-webfont.eot?') format('eot');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Milk";
 	src: url('../fonts/ABTSmilk.eot?') format('eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo Sans";
 	src: url('../fonts/MuseoSans_500-webfont.eot?') format('eot');
 	font-weight: normal;
	font-style: normal;
}

/*----------------------------------------------------------------------------
IE6 CSS file for Mozilla Student Reps
Created by Craig Cook - focalcurve.com
        for the Mozilla Foundation
        on 4 April, 2010
-----------------------------------------------------------------------------*/

/* =Reset *********/
html, body, form, fieldset, legend, 
h1, h2, h3, h4, h5, h6, dt, dd { margin: 0; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
address, caption, cite, code, dfn, th, var { font-style: inherit; font-weight: inherit; }
abbr, acronym, dfn { border-bottom: 1px dotted #666; font-variant: normal; cursor: help; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
table { border-collapse: collapse; border-spacing: 0; margin: 0 0 1.3em; }
caption, th { text-align: left; }
p, pre, blockquote, dl, ul, ol { margin: 0 0 1.3em; padding: 0; }
li ul, li ol { margin-bottom: 0; }
legend { color: inherit; }
dt { font-style: italic; }
dd { margin: 0 0 .5em 30px; }
form ol, form ul { list-style: none; margin: 0 0 1.3em; }

/* Body ---------------------------------------------------- */

body { width: 60%; margin: 0 auto; padding: 2em 0; background: #f6f6f1 url("../img/bg-content.png") fixed; font: 0.875em/1.725 Georgia, "Times New Roman", Times, serif; color: #333;
  width: expression(document.body.clientWidth < 640? "640px" : document.body.clientWidth > 120? "120em" : "auto");
}

/*** =Links *********/
a:link { text-decoration: none; color: #b30406; }
a:visited { text-decoration: none; color: #9f534b; }
a:hover, a:active, a:focus { text-decoration: underline; color: #e42600; }

a:link img { border: 1px solid #b30406; }
a:visited img { border: 1px solid #9f534b; }
a:hover img, a:active img, a:focus img { border-color: #e42600; }

/*** =Headings *********/
h1, h2, h3, h4, h5, h6 { margin-bottom: .5em; line-height: 1.5; font-weight: normal; color: #4b4742; }
h1 { font-size: 2.527em; }
h2 { font-size: 1.714em; }
h3 { font-size: 1.143em; }
h4, h5 { font-size: 1em; }
h6 { font-size: .857em; }

#logo { font-size: 1.143em; font-weight: bold; }
#nav-main { font-weight: bold; }

#site-info { border-top: 3px double #ccc; margin-top: 2em; padding-top: 1em; }

label { font-weight: bold; display: block; }
fieldset { margin : 0 0 1.3em; padding : 1em 1em 0; border : 1px solid #ccc; }
legend { font-size: 1.143em; font-weight: bold; color: #4b4742; }

#content .gallery { position: static; zoom: 1; background: transparent; }
#home-promos { position: static; zoom: 1; }
#home-promos .promo * { position: static; }

#nav { zoom: 1; float: none; position: static; height: auto; background: transparent; }
#nav .sub-menu, #doc-shortcuts { display: none; }
