/* Below from http://mozcom-cdn.mozilla.net/style/tignish/video-player.css */
/* {{{ Video Control */

.mozilla-video-control {
    position: relative;
}

a.mozilla-video-control-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.25;
    display: none;
    text-align: center;
    background: transparent url(../img/tignish/video/play.png) center center no-repeat;
}

/* }}} */
/* {{{ Video Scaler */

.mozilla-video-scaler-shim {
}

.mozilla-video-scaler video {
    width: 100%;
    height: 100%;
}

.mozilla-video-scaler {
    z-index: 1000;
    padding: 0;
}

.mozilla-video-scaler-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none;
    z-index: 500;
}

/* }}} */
/* {{{ Video Launcher */

.mozilla-video-player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.mozilla-video-player-window {
    position: absolute;
    left: 50%; /* for centering */
    margin-left: -417px; /* for centering */
    text-align: center;
    top: 0;
    width: 834px;
    height: 570px;
    z-index: 1000;
    background: url(../img/tignish/firefox/video-frame.png) no-repeat;
}

* html .mozilla-video-player-window {
    background-image: url(../img/tignish/firefox/video-frame-ie.png);
}

.mozilla-video-player-no-flash {
    width: 640px;
    height: 285px;
    margin: auto;
    padding: 100px 0 0 0;
    text-align: left;
}

.mozilla-video-player-link,
.mozilla-video-player-close {
    margin: 35px 50px 15px 0;
    text-align: right;
}

.mozilla-video-player-link a,
.mozilla-video-player-close a {
    display: block;
    height: 35px;
    padding-right: 40px;
    padding-top: 8px;
    font-size: 90%;
    background: url(../img/tignish/firefox/video-close.png) no-repeat 100% 0;
}

.mozilla-video-player-link a {
    padding-right: 10px;
    background: none;
}

.mozilla-video-player-content .video-download-links {
    text-align: center;
    margin: 0 40px;
}

.video-download-links ul {
    display: inline;
}

.mozilla-video-player-content .video-download-links ul li {
    background: none;
    display: inline;
    margin: 0 0.5em;
}

#firefox-video #main-feature {
    text-align: center;
    padding-top: 20px;
}

#firefox-video .firefox-video-window {
    text-align: left;
    position: static;
    margin: 0 auto;
    padding-top: 1px;
}

/* }}} */

