/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.calendar #page-head { margin: 0; padding: 40px 0 10px; text-align: center; clear: both; }
.calendar #page-head p { text-align: justify; font-size: .857em; width: 700px; margin: 0 auto 1em; color: #666; }
.calendar #page-head p.intro {  font-size: 16px; }
.calendar #page-head.landing p { text-align: center; font-size: 20px; }
.calendar #page-head p strong { color: #333; }
.calendar #page-head .page-title { margin: 0 0 .1em; color: #ab181a; font: 200 72px/1 "Bebas Neue", "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif; letter-spacing: 1px; text-transform: uppercase; text-shadow: 3px 3px 0 rgba(170, 160, 130, 0.5); }

#map_canvas { height: 400px; margin-bottom: 2em; border: 8px solid #fff; }
#map_canvas li { list-style: none; padding-bottom: 5px; }
#map_canvas a { display: block; font-weight: bold; color: #036; padding: 5px 0; }

#cal1Container { position: absolute; top: 120px; left: 15px; }

table.events { font-size: .857em; width: 100%; }
table.events thead { background: #d6d6c6; background: rgba(198,198,175,.5); }
table.events thead th { font-weight: bold; cursor: pointer; }
table.events td, table.events th { padding: .5em 3px; }
table.events tr:nth-child(even) { background: #e4e4d9; background: rgba(198,198,175,.2); }
table.events tbody tr:hover { background: #ebebd9; background: rgba(255,255,255,.5); }
table.events thead th .sortIndicator { float: right; width: 0; height: 0; padding-top: 5px; border-left: 5px solid transparent; border-right: 5px solid transparent;}
table.events thead th.headerSortDown .sortIndicator { border-top: 10px solid #336699;}
table.events thead th.headerSortUp .sortIndicator { border-bottom: 10px solid #336699;}
