/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*----------------------------------------------------------------------------
IE (all versions) CSS file for Mozilla Developer Network
Created by Craig Cook - focalcurve.com
        on 11 February, 2011
-----------------------------------------------------------------------------*/

legend { color: #333; }
.submission .section legend b { top: 0; left: 0; }

.replaced input { filter: alpha(opacity=0); }
#featured-demos .side img { filter: alpha(opacity=60); }
#simplemodal-overlay { filter: alpha(opacity=15); }
.home-promos .promo div { filter: alpha(opacity=60); }