/*----------------------------------------------------------------------------
IE7 CSS file for Mozilla Developer Network
Created by Craig Cook - focalcurve.com
        on 27 June, 2010
-----------------------------------------------------------------------------*/

.wrap, #masthead, #nav, .type, #sections, #footbar, .folder.visible, .gallery-head, .gallery-foot, #page-head, .gallery { zoom: 1; } /* I can hasLayout */
.module .gallery li { display: inline; }
#masthead .wrap { z-index: 999; }
#nav li { display: inline; }
#nav-sub { left: -10px; top: -2px; }
#content-sub .heat-graph a b { margin-top: -1.25em; }
.entry-meta cite { font-style: normal; }
#content #glossary ul li { width: 90%; display: list-item; margin: 0 10px .5em 0; background: transparent url("../img/bullet-tiny.png") 0 .5em no-repeat; padding: 0 0 0 12px; border: 0; }
ul.sortable .remove { font-family: sans-serif; margin-top: -1.25em; }
.replaced input { filter:alpha(opacity=100); }
.replaced .replacement { display: none; }
#content .submission .aside { position: relative; right: -30px; }
/*
.gallery .demo { height: 10em; }
.js .demo { height: 5em; }
*/

#demobox, #demobox .demo-meta, #demobox .tools, #demobox .like, #demobox .unlike, #demobox .share { zoom: 1; }

#page-head #nav-derby ul { float: right; }
#page-head #nav-derby li { float: left; }
#devderby #resources ul { zoom: 1; }
#devderby #resources ul li { float: left; }

#promote-buttons #button-preview.fixed { margin-left: 31px; }

.home-promos { zoom: 1; margin-bottom: 40px; }
.home-promos .promo div { position: absolute; left: 0; }
.home-promos .promo a { position: absolute; left: 0; width: 80%; padding: 20px 10%; }

#home-demos .gallery { width: 100%; }
#home-demos .demo { height: auto; }

#derby-cta { background-image: none; }
#derby-cta a:link, #derby-cta a:visited { color: #efefef; }

.section-demos #demos-head { z-index: 20; }
.section-demos #derby-cta { background-image: none; }
.section-demos #demos-head #learn-pop { top: 20px; }

#search-browse { position: relative; z-index: 20; }
#search-browse b { width: 80px; text-align: center; float: left; margin-top: -15px; }
#search-browse .demo-search, #search-browse #demo-tags { margin-top: -15px; }

/* IE doesn't inherit */
ul.sortable .remove, 
button.like, button.unlike,
#comments-list .comment-opts button { font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Lucida, Arial, Helvetica, sans-serif; }
