#content-sub #mdn-forums-sidebar {
    background-color: #E69F1D;
    -moz-box-shadow: 0px 3px 0px #CE9757, inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 3px 0px #CE9757, inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 0px #CE9757, inset 0px 1px 1px rgba(0, 0, 0, 0.4);

    background: -moz-radial-gradient(center 90deg, circle farthest-side, #f8b82f, #f5a91f);
    background: radial-gradient(center 90deg, circle farthest-side, #f8b82f, #f5a91f);
    border: solid 4px #F8D575;
    
    color: #81460B;
    padding: 18px;
    text-align: center;
}
#mdn-forums-sidebar h3 {
    color: #FFF;
    font-size: 3.2em; /* 44px */
    font-weight: 100;
    line-height: 0.9em;
    margin-bottom: 0px;
    text-shadow: 0px 4px #934d09;
}
#mdn-forums-sidebar h3, #mdn-forums-sidebar a {
    font-family: "League Gothic", Haettenschweiler, sans-serif;
    text-transform: uppercase;
}
#mdn-forums-sidebar p {
    font: italic bold 0.9em Georgia, Times, "Times New Roman", serif; /* 11px */
    line-height: 13px;
    margin: 0.3em auto 0.5em auto;
    color: #630;    
}

#mdn-forums-sidebar a { 

   background: -moz-linear-gradient(-90deg, #f2bf50, #f9e5ad);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9e5ad), color-stop(100%, #f2bf50));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e5ad', endColorstr='#f2bf50',GradientType=0 );

   -moz-box-shadow: 0 3px 0 #914808;
   -webkit-box-shadow: 0 3px 0 #914808;

   box-shadow: 0 3px 0 #914808;
   box-sizing: border-box;
   color: #82460b;
   display: block;
   font-family: Impact, "League Gothic", Haettenschweiler, sans-serif;
   font-size: 16px;
   margin-left: 20px;
   padding: 13px;
   text-shadow: 0 -1px 1px rgba(255, 255, 255, .86);
   width: 133px;
}