.notification-box {
    -moz-border-radius:8px 8px 8px 8px;
    background-color:#E0EFFD;
    border:1px solid #021437;
    display:block;
    margin:10px 0;
    padding:10px;
    width: 700px;
}

.notification-box.error {
    background-color:#FFA5A5;
    border-color:#C63717;
}

.error,
.highlight .error-message {
    color:#C63717;
}

.notification-box ol,
.notification-box ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

.notification-box h2 {
    background:url("../img/notifications-sprite.png") no-repeat scroll left top transparent;
    color:#444444;
    font-size:130%;
    line-height:1.5em;
    margin:0;
    min-height:38px;
    padding:10px 0 0 60px;
}

.notification-box.info h2 {
    background-position:0 -348px;
}

.notification-box.error h2 {
    background-position:0 -150px;
    color:#C63717;
}

.notification-box dl {
    margin: 1em;
}

.notification-box dt {
    margin-top: 1em;
    font-weight: bold;
}
