/*
 * Questions forums CSS
 */

#main {
    background: #fff;
    background: -moz-linear-gradient(left center , rgba(255, 255, 255, 0), #FFFFFF 40px, #FFFFFF 920px, rgba(255, 255, 255, 0)) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(.1, #fff), color-stop(.9, #fff));
    float: none;
    padding: 40px 0 0;
    width: auto;
}

#main article.main {
    background: none;
    padding: 0;
}

.breadcrumbs {
    background: transparent url(../img/questions/bkg.divider.png) no-repeat center bottom;
    margin: 0;
    padding-bottom: 15px;
}

#content hgroup {
    background: #fff;
    background: -moz-linear-gradient(left center , rgba(255, 255, 255, 0), #FFFFFF 40px, #FFFFFF 920px, rgba(255, 255, 255, 0)) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(.1, #fff), color-stop(.9, #fff));
    margin: 0 0 40px;
    padding: 40px 9px 0;
}

#content hgroup h1 {
    font-family: MetaBlack, Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 6px;
    text-transform: uppercase;
}

#content h1 a {
    color: #333;
}

#content hgroup h2 {
    color: #333;
    font-size: 18px;
    font-style: italic;
}

body.questions #main {
    float: left;
    padding: 0;
    width: 754px;
}

/* Questions filter/tagging */
#filter, #tagged {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0 9px;
    padding: 15px 30px;
}

#filter {
    background: #E0EFFD;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

#filter ul {
    display: inline;
    margin: 0 25px 0 0;
}

#filter li {
    border-left: solid 1px #999999;
    display: inline;
    list-style: none;
    padding: 0 6px;
}

#filter li:first-child {
    border: none;
}

#filter li a:hover {
    text-decoration: underline;
}

#filter li.active a {
    color: inherit;
    font-weight: bold;
}

#filter li.separator {
    padding: 0 0 0 25px;
}

#tagged {
    background: #E5F2D7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#tagged a.show-all {
    margin: 0 0 0 25px;
}

#ask-question-module {
    margin-top: 0;
}

#new-question {
    background: #e0f2ef;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    font-size: 150%;
    font-style: italic;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: -100px;
    width: 100%;
}

/* questions list */
ol.questions {
    background: #F0F7FE;
    list-style: none;
    margin: 0 9px;
}

ol.questions li.question {
    list-style: none;
    padding: 30px 30px 0;
    position: relative;
}

ol.questions div.content {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #666;
    font-size: 14px;
    line-height: 18px;
    margin: 0 140px 0 0;
    padding: 15px;
    position: relative;
}

ol.questions .stem {
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgba(0, 0, 0, 0.15);
    height: 0;
    position: absolute;
    right: -20px;
    top: 20px;
    width: 0;
}

ol.questions .stem:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    height: 0;
    left: -24px;
    content: '';
    position: absolute;
    top: 1px;
    width: 0;
}

ol.questions h2 {
    font-size: 18px;
    line-height: 22px;
}

ol.questions p {
    font-size: 14px;
    color: #4B4740;
    margin: 0.5em 0 0;
}

div.user-meta,
div.thread-meta {
    color: #666;
    font-family: Helvetica,Arial,sans-serif;;
    font-size: 12px;
    line-height: 12px;
}

div.user-meta {
    line-height: 14px;
    position: absolute;
    right: 30px;
    top: 45px;
    width: 110px;
}

div.user-meta div.user {
    font-weight: bold;
}

div.user-meta div.date {
    margin: 0 0 10px;
}

div.user-meta div.have-problem mark {
    font-weight: bold;
}

div.user-meta div.have-problem span {
    display: block;
}

div.user-meta div.have-problem span.recent {
    font-size: 11px;
    margin: 4px 0 0;
}

div.thread-meta {
    margin-right: 140px;
    padding: 10px 15px;
}

div.thread-meta span {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 10px;
}

div.thread-meta span:first-child {
    padding-left: 0;
}

div.thread-meta span.solved {
    color: #007302;
    font-weight: bold;
}

div.thread-meta span.locked{
    color: #ff0000;
    font-weight: bold;
}

div.thread-meta span.contributed {
    font-weight: bold;
}

div.thread-meta ul.tag-list {
    display: inline;
    line-height: 17px;
    padding: 0 10px;
}

div.thread-meta ul.tag-list a {
    color: inherit;
}

/* questions pagination tweak */
ol.pagination {
    background: #E0EFFD;
    border: none;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    margin: 0 9px;
    padding: 15px 30px;
    zoom: 1;
}

ol.pagination:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* ask a question side module */
.sd-module p, .sd-module h2 {
    font-family: Helvetica,Arial,sans-serif;
}

#ask-question-module a.btn {
    display: block;
    margin: 15px 0 0;
}

/* top contributors side module */
#top-contributors ol {
    margin: 5px 0 0 22px;
}

#top-contributors li {
    margin: 0 0 2px;
}

/* answers page */
body.answers #main {
    position: relative;
}

#question {
    margin: 0 0 40px 0;
    position: relative;
    zoom: 1;
}

#question:after,
#answers li:after,
#question-reply:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

div.user-section {
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    min-height: 1px;
    padding: 0 40px 0 0;
    text-align: right;
    width: 100px;
}

#question div.user-section {
    padding-top: 15px;
}

#question div.side-section {
    width: 180px;
}

div.avatar a {
    display: inline-block;
    padding: 4px;
    border: 1px solid #ccc;
    background: #fff;
}

div.avatar a:hover,
div.avatar a:focus {
    border-color: #447BC4 !important;
}

div.avatar img {
    display: block;
    height: 48px;
    width: 48px;
}

div.avatar.self a {
    border-color: #bec2c7;
}

div.avatar span {
    background: #447BC4;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: .5px;
    line-height: 1;
    margin: 4px -5px -5px -5px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

div.avatar.owner a {
    border-color: #bec4ba;
}

div.avatar.owner span {
    background: #489615;
}

div.user-section div.asked-by {
    font-weight: bold;
    margin: 6px 0 0;
}

div.user-section div.asked-on {
    margin: 4px 0 0;
}

div.main-section {
    float: left;
    width: 618px;
}

div.main-section h3 {
    color: #4B4740;
    font-size: 18px;
}

div.main-section div.content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    color: #666;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    position: relative;
}

div.main-section div.content h1 {
    color: #333;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 15px;
}

#question h2 {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

div.main-section div.content p {
    margin: 15px 0 0;
}

div.main-section div.content p:first-child {
    margin: 0;
}

div.main-section div.content ul,
div.main-section div.content ol {
    margin: 0 0 1em 2em;
}

div.main-section div.content li {
    margin: 0;
    padding: 0;
}

div.main-section div.content .stem {
    border-bottom: 30px solid transparent;
    border-right: 30px solid rgba(0, 0, 0, 0.15);
    height: 0;
    position: absolute;
    left: -30px;
    top: 39px;
    width: 0;
}

div.main-section div.content .stem:after {
    border-bottom: 30px solid transparent;
    border-right: 30px solid #fff;
    height: 0;
    right: -34px;
    content: '';
    position: absolute;
    top: 1px;
    width: 0;
}

div.problem {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 16px 21px 0;
    padding: 4px 0 0;
    position: relative;
}

div.problem div.me-too {
    float: left;
}

div.problem mark {
    font-weight: bold;
}

div.problem span.recent {
    display: block;
    font-size: 13px;
    padding: 2px 0 4px;
}

div.solution,
div.other-helpful {
    background: #e5f2d7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 40px 0 0;
    padding: 20px;
}

div.other-helpful {
    background: #CCE2F3;
}

div.mini-reply {
    margin: 15px 0 0 62px;
    position: relative;
}

div.mini-reply div.avatar {
    left: -62px;
    position: absolute;
}

div.mini-reply div.avatar img {
    height: 32px;
    width: 32px;
}

div.mini-reply div.answer {
    position: relative;
    border: 1px solid rgba(0,0,0,.15);
    padding: 10px;
    -moz-border-radius: 10px;
    background: #fff;
    color: #666;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 13px;
    line-height: 17px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

div.mini-reply div.answer span.user {
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
}

div.mini-reply div.answer .stem {
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(0, 0, 0, 0.15);
    height: 0;
    position: absolute;
    left: -15px;
    top: 10px;
    width: 0;
}

div.mini-reply div.answer .stem:after {
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    height: 0;
    right: -17px;
    content: '';
    position: absolute;
    top: 1px;
    width: 0;
}

div.mini-reply p.helpful {
    color: #666;
    font-size: 12px;
    margin: 7px 10px 0;
}

/* report post */
form.report {
    font-size: 12px;
    margin: 18px 0 0;
    position: relative;
}

form.report select,
form.report input.text {
    display: none;
}

form.report input[type="submit"] {
    color: #999;
    margin: 0;
}

form.report .kbox-container {
    left: -70px;
    top: 25px;
    width: 255px;
}

form.report .report-post-box ul {
    list-style: none;
}

form.report .report-post-box li {
    border: 0;
    margin: 0;
    min-height: 17px;
    padding: 0 0 6px;
}

form.report .report-post-box input.text {
    border: solid 1px #87C4DC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: block;
    padding: 3px 8px;
    width: 92%;
}

form.report.processing .report-post-box a {
    color: #bbb;
    cursor: default;
}

form.report.processing .report-post-box input.text {
    border-color: #bbb;
}

div.report-reply a.reply {
    float: right;
}

/* thanks for voting */
#vote-thanks-kbox {
    left: -120px;
    top: 45px;
    width: 380px;
}

#vote-thanks p {
    color: #898378;
    margin: 0 0 10px;
}

#vote-thanks p strong{
    color: #4B4740;
    font-weight: normal;
}

#vote-thanks input#id_email {
    display: block;
    margin: 0 0 15px;
    width: 230px;
}

#vote-thanks input.btn {
    margin-right: 15px;
}

/* (right) side section */
div.side-section {
    color: #666;
    float: right;
    font-family: Helvetica,Arial,sans-serif;
    padding: 15px 0 0;
    width: 200px;
}

div.side-section ul {
    list-style: none;
}

div.side-section h2 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 0 0;
}

ul.actions {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

ul.actions li {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 7px;
}

ul.actions li.email {
    position: relative;
}

ul.actions li a {
    background: transparent url(../img/icons.actions.png) no-repeat;
    padding: 0 0 0 18px;
}

ul.actions li.delete a {
    background-position: left -0;
}

ul.actions li.edit a {
    background-position: left -25px;
}

ul.actions li.email a {
    background: none;
}

ul.actions li.email a#email-subscribe-link {
    background: transparent url(../img/icons.actions.png) no-repeat left -50px;
}

ul.actions li.rss a {
    background-position: left -75px;
}

ul.actions li.email input.stop,
ul.actions li.lock input {
    background: transparent url(../img/icons.actions.png) no-repeat left -100px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 16px;
}

ul.actions li.email input.stop {
    background-position: left -50px;
}

#show-more-details {
    font-size: 11px;
}

form.tag-adder input.btn {
    margin: 0;
}

ul.related {
    list-style: disc;
}

ul.related li {
    padding: 5px 0;
}

/* email subscribe box */
#email-subscribe-kbox {
    left: -130px;
    top: 20px;
    width: 300px;
}

#email-subscribe ul.errorlist,
#email-subscribe ul.errorlist li {
    margin: 0;
    padding: 0;
}

#email-subscribe a {
    padding: 0;
}

#email-subscribe input#id_email {
    width: 230px;
}

#email-subscribe form ul {
    padding: 10px 0;
}

/* more system details modal */
#more-system-details-kbox {
    width: 600px;
}

#more-system-details h1 {
    display: none;
}

#more-system-details p,
#more-system-details li {
    color: #898378;
    list-style: none;
}

#more-system-details h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0 5px;
}

#more-system-details ul.system li {
    display: inline-block;
    padding-right: 40px;
}

#more-system-details div.plugins li {
    background: transparent url(../img/questions/icon.plugin.gif) no-repeat 0 4px;
    padding: 2px 0 2px 25px;
}

/* answers */
#answers {
    background: #f0f7fe;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 40px 0;
    padding: 40px 0;
}

body.answers #main section header {
    margin: 0 220px 0 140px;
}

#answers header h1 {
    display: inline;
    margin: 0 15px 0 0;
}

#answers header a.btn {
    font-size: 13px;
    padding: 5px 12px 7px;
    vertical-align: 5px;
}

ol.answers {
    list-style: none;
}

ol.answers li.answer {
    margin: 40px 0 0;
    position: relative;
}

ol.answers div.main-section div.content {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

ol.answers div.main-section div.content .stem {
    border-width: 20px;
    left: -20px;
    top: 18px;
}

ol.answers div.main-section div.content .stem:after {
    border-width: 20px;
    right: -24px;
}

ol.answers p.edited,
#question p.edited {
    color: #898378;
    font-size: 11px;
    font-style: italic;
    margin: 7px 0 5px 20px;
}

ol.answers p.edited {
    margin-top: 0;
}

ol.answers div.meta {
    color: #666;
    font-family:  Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 10px 20px 0;
}

ol.answers div.meta span {
    border-right: 1px solid #ccc;
    padding: 0 10px;
}

ol.answers div.meta span.helpful {
    font-weight: bold;
}

ol.answers div.meta span.solved {
    color: #007302;
    font-weight: bold;
}

ol.answers div.meta a.reply {
    margin: 0 0 0 10px;
}

ol.answers div.meta span:first-child {
    padding-left: 0;
}

ol.answers form.helpful {
    margin: 7px 0 20px;
}

ol.answers form.helpful input.btn {
    margin: 0 10px 0 0;
}

ol.answers form.report {
    position: relative;
}

/* reply to question */
#answer-preview,
#question-reply {
    margin: 40px 0 0;
    position: relative;
}

#answers h1,
#question-reply h1,
#answer-preview h1 {
    color: #333333;
    font-size: 28px;
    font-style: italic;
}

#main #question-reply header {
    margin-bottom: 40px;
}

#question-reply p {
    color: #898378;
    margin: 0 0 20px;
}

#question-reply div.editor {
    padding: 0;
}

#question-reply div.editor-tools {
    background: none;
    border-bottom: solid 1px #E6E6E6;
    padding: 0 5px 5px;
}

#question-reply textarea {
    background: none;
    border: none;
    margin: 15px 0 0;
}

#question-reply div.submit {
    margin: 15px 0 0;
}

div.submit input.preview {
    font-size: 16px;
}

/*
 * Questions image upload form
 */
form div.attachments-upload {
    margin: 1.5em 0;
}

form div.attachments-upload label {
    display: block;
    margin: .5em 0;
}

form div.attachments-upload div.add-attachment,
form div.attachments-upload div.adding-attachment {
    clear: left;
    height: 4em;
    padding-top: .5em;
}

form div.attachments-upload div.adding-attachment {
    display: none;
    line-height: 4em;
}

form div.attachments-upload div.empty,
form div.attachments-upload div.upload-progress {
    display: none;
}

form div.attachments-upload div.attachments a:hover img,
div.ans-attachments a:hover img {
    border: 1px solid #eee;
}

div.ans-attachments {
    padding: 10px 15px 0 10px;
}

form div.attachments-upload div.attachment,
div.ans-attachments div.attachment {
    display: inline-block;
    position: relative;
}

html.js form div.attachments-upload div.attachment:hover input.delete,
html.js ol.answers div.ans-attachments div.attachment:hover input.delete {
    display: block;
}

form div.attachments-upload div.attachment div.overlay,
div.ans-attachments div.attachment div.overlay {
    background: #ccc url('../img/wait-trans.gif') no-repeat center;
    opacity: .5;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

form div.attachments-upload div.attachment input.delete:hover,
ol.answers div.ans-attachments div.attachment input.delete:hover {
    opacity: 1;
}

form div.attachments-upload div.attachment input.delete,
div.ans-attachments div.attachment input.delete {
    background: #000;
    border: 2px solid #fff;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: Verdana;
    font-weight: bold;
    opacity: .5;
    padding: 0 .2em;
    position: absolute;
    top: 10px;
    right: 10px;
}

form div.attachments-upload div.upload-progress.show {
    display: inline-block;
}

form div.attachments-upload div.upload-progress,
form div.attachments-upload div.attachment img,
div.ans-attachments div.attachment img {
    background: url('../img/wait-trans.gif') no-repeat center;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    vertical-align: top;
}

form div.attachments-upload div.add-attachment noscript input{
    margin-left: 1em;
}

#question-reply form.upload-input,
form.upload-input {
    margin: 0;
    padding: 0;
}

form div.attachments-upload input.image-delete {
    margin-top: 1em;
}

ol.answers div.ans-attachments img,
form div.attachments-upload img {
    max-height: 120px;
    max-width: 120px;
}

/*
 * Answer preview
 */
#answer-preview {
    clear: both;
    padding: 40px 0 0;
}

/*
 * Ask a Question
 */
#ask-question {
    padding: 0 10px;
}

#ask-question h1 {
    border-bottom: 2px solid #EDECE9;
    font-size: 32px;
    padding: 0 0 5px 15px;
}

#ask-question div.inner-wrap {
    padding: 15px;
}

#ask-question h2 {
    font-size: 20px;
}

#ask-question h3 {
    font-size: 16px;
}

#ask-question h3.no-results {
    margin-bottom: 15px;
}

#ask-question mark {
    font-style: italic;
}

#ask-question div.selected {
    color: #807970;
    font-size: 16px;
    margin: 0 0 1em;
}

#ask-question div.selected span {
    font-weight: bold;
}

#ask-question div.selected a {
    font-size: 13px;
    margin: 0 0 0 5px;
}

#ask-question ul.articles,
#ask-question ul.select-one {
    font-size: 18px;
    margin: 0.5em 0 1em;
}

#ask-question ul.articles {
    font-size: 14px;
    margin-left: 15px;
}

#ask-question ul.select-one {
    list-style: none;
}

#ask-question ul.articles li,
#ask-question ul.select-one li {
    margin: 0 0 0 30px;
    padding: 5px 0;
}

#ask-question ul.articles li {
    margin: 0;
}

#ask-question form.search {
    padding: 10px 0 15px;
}

#ask-question textarea,
#ask-question input[type="text"],
#ask-question input[type="email"],
#ask-question input[type="password"] {
    margin: 0 10px 0 0;
    width: 450px;
}

#ask-question select {
    border: solid 1px #87C4DC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    margin: 0 5px 0 0;
    padding: 3px 3px 3px 8px;
}

#ask-question li.invalid textarea,
#ask-question li.invalid input[type="email"],
#ask-question li.invalid input[type="text"] {
    border-color: #ff0000;
}

#ask-question textarea {
    height: 150px;
}

#ask-question textarea.troubleshooting,
#ask-question textarea.plugins {
    height: 80px;
}

#ask-question ul.search-results {
    font-size: 14px;
    margin: 5px 0 15px 15px;
}

#ask-question ul.search-results li {
    padding: 3px 0;
}

#question-form {
    margin: 15px 0 0;
}

#question-form ol {
    list-style: none;
    margin: 10px 0 0;
}

#question-form ol li {
    clear: both;
    display: block;
    font-size: 14px;
    padding: 8px 0;
}

#title-val {
    float: left;
    padding: 0 0 7px;
}

#title-val span:hover {
    background: #f0f0f0;
    border: dotted 1px #ccc;
}

#title-val a {
    font-size: 12px;
    margin: 0 0 0 5px;
}

#question-form div.editor {
    margin: 0 0 0 115px;
    padding: 0;
    width: 459px;
}

#question-form li.system-details-info p {
    margin-left: 115px;
}

#question-form li.system-details-info a {
    display: none;
}

#question-form ol.hide-details li.show a.show {
    display: inline;
}

#question-form li.hide a.hide {
    display: inline;
}

#question-form ol.hide-details li.details {
    display: none;
}

#question-form ol.show-details li.details {
    display: block;
}

#question-form li.submit {
    padding-left: 115px;
}

#question-form li label {
    float: left;
    font-size: 14px;
    width: 115px;
}

#question-form p.help-text {
    color: #807970;
    font-size: 12px;
    padding: 2px 0 0 115px;
}

/*
 * Edit answer
 */
div.edit-answer {
    font-size: 14px;
    padding: 0 0 0 9px;
}

div.edit-answer ul.info {
    list-style: none;
    margin: 10px 0 0;
}

div.edit-answer ul.info li {
    padding: 2px 0;
}

div.edit-answer ul.info label {
    font-weight: bold;
    float: left;
    width: 150px;
}

div.edit-answer div.editor {
    padding-left: 0;
    width: 512px;
}

/*
 * Flagged content queue
 */
body.flagged #main {
    float: none;
    padding: 20px 200px 0 30px;
    position: relative;
    width: auto;
}

#flagged-queue h1 {
    font-size: 30px;
}

#flagged-queue ul {
    border-top: solid 1px #aaa;
    list-style: none;
    margin: 20px 0 0;
}

#flagged-queue li {
    border-bottom: solid 1px #aaa;
    padding: 5px 0;
}
#flagged-queue li h2 {
    font-weight: bold;
    font-size: 16px;
}

#flagged-queue li h3 {
    font-size: 13px;
    font-weight: bold;
}

#flagged-queue li div.wrap {
    padding: 10px 25px;
}

#register_form ul,
#login_form ul {
    list-style-type: none;
}

#register_form li,
#login_form li {
    margin: 10px 0;
}

#login_form,
#register_form {
    float: left;
    margin: 40px 0;
    width: 240px;
}
#register_form {
    border-right: 2px dotted #EDECE9;
    padding-right: 40px;
}
#login_form {
    margin-left: 25px;
    width: 230px;
}

#register_form input[type="text"],
#register_form input[type="email"],
#login_form input[type="text"],
#register_form input[type="password"],
#login_form input[type="password"] {
    display: inline-block;
    margin: 0;
    width: 100px;
}

#login_form .submit {
    padding-left: 9px;
    margin-left: 6em;
}
#register_form .submit {
    padding-left: 9px;
    margin-left: 9em;
}

#reset_password {
    display: block;
    margin: 1em 0 0 6em;
    padding-left: 9px;
}

#register_form label,
#login_form label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 9em;
    text-align: right;
    margin-right: .5em;
}
#login_form label {
    width: 6em;
}
#register_form h2,
#login_form h2 {
    margin-bottom: 1em;
    text-align: center;
}

div.confirm-question {
    padding: 0 9px;
}

div.confirm-question p {
    padding: .3em 0;
}

div.activate-watch h2,
div.unsubscribe-watch h2 {
    margin-bottom: 1em;
}

div.activate-watch ul {
    margin-left: 1.2em;
}

a#activate-watch, a#remove-watch {
    display: block;
    font-size: 120%;
}
