/*
 * Questions forums CSS
 */

/* base style overrides */
body {
    background: #fff url(../img/background-feature.jpg) repeat-x center -65px;
}

/* main header */
#main-hdr {
    height: 200px;
}

#main-hdr hgroup {
    float: left;
    padding: 45px 0 0 25px;
    width: 600px;
}

#main-hdr h1 {
    color: #fff;
    font-size: 46px;
    line-height: 46px;
}

#main-hdr h1 a {
    color: #fff;
}

#main-hdr h2 {
    color: #4B4741;
    font-size: 18px;
    margin: .5em 0 0;
}

#support-search, #greeting {
    float: right;
    padding: 0 20px 0 0;
    width: 260px;
}

#support-search {
    padding-top: 50px;
}

#support-search div.wrap {
    background: #fff url(../img/questions/icon.search.gif) no-repeat 6px 3px;
    border: solid 1px #87c4dc;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float:left;
    padding:0 10px 0 30px;
}

#support-search input.text {
    border: none;
    font-size: 14px;
    padding: 4px 0;
    width: 225px;
}

#greeting {
    color: #807970;
    font-family: Verdana;
    font-size: 12px;
    margin: 20px 0 0;
    text-align: right;
}

#greeting span.user {
    color: #4B4740;
}

#greeting nav a:first-child {
    padding: 0 0 0 5px;
}

/* Questions filter */
#filter {
    font-size: 14px;
    height: 30px;
    margin: 0 0 10px;
    padding: 0 0 0 14px;
}

#filter ul {
    float: left;
    list-style: none;
    padding: 0 0 0 4px;
}

#filter li {
    float: left;
    list-style: none;
}

#filter li a {
    float:left;
    padding: 2px 6px;
    margin: 0 1px;
}

#filter li a:hover {
    text-decoration: underline;
}


#filter li.active a {
    background: #6CC2D9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
}

#filter li.separator {
    padding: 1px 4px 4px;
}

#tagged {
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 0 0 25px;
}

#tagged label {
    font-weight: bold;
}

#tagged a.show-all {
    font-size: 14px;
    margin: 0 0 0 25px;
}
/* main content layout */
#main-content {
    float: left;
    width: 640px;
}

#main-sd {
    float: right;
    width: 235px;
}

/* questions list */
ol.questions {
    border-top: solid 2px #edece9;
    color: #898378;
    list-style: none;
    margin: 0 0 0 10px;
}

ol.questions li.question {
    /* Turn into ol.questions > li when IE6 is dead. */
    border-bottom: solid 2px #edece9;
    list-style: none;
    padding: 15px 15px 18px;
}

ol.questions div.have-problem {
    float: right;
    text-align: right;
    width: 150px;
}

ol.questions div.have-problem mark {
    display: block;
    float: right;
    padding: 5px 0 5px 50px;
}

ol.questions div.have-problem.just-one mark {
    background: transparent url(../img/questions/icon.one.gif) no-repeat 27px 6px;
}

ol.questions div.have-problem.less-ten mark {
    background: transparent url(../img/questions/icon.lessten.gif) no-repeat 25px 6px;
}

ol.questions div.have-problem.more-ten mark {
    background: transparent url(../img/questions/icon.tenmore.gif) no-repeat 0 6px;
}

ol.questions div.have-problem span {
    clear: right;
    display: block;
}

div.have-problem span.recent {
    color: #898378;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    margin-top: 6px;
}

div.have-problem span.recent strong {
    color: #4B4740;
    font-weight: normal;
}

ol.questions div.title h2 {
    font-size: 17px;
    display: inline;
    line-height: 25px;
}

ol.questions span.badge {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-family: Verdana;
    font-size: 12px;
    margin: 0 0 0 10px;
    padding: 3px 7px 3px 25px;
}

ol.questions span.badge.replies {
    background: #eaf4f8 url(../img/questions/icon.replies.gif) no-repeat 5px center;
    color: #0489B6;
}

ol.questions span.badge.solutions {
    background: #fff0cb url(../img/questions/icon.solutions.gif) no-repeat 5px center;
    color: #926E2D;
    text-transform: uppercase;
}

ol.questions span.badge.solved {
    background: #d3e8ca url(../img/questions/icon.solved.gif) no-repeat 5px center;
    color: #377300;
    text-transform: uppercase;
}

ol.questions span.badge.contributed {
    background: #eaf4f8 url(../img/questions/icon.contributed.gif) no-repeat 5px center;
    color: #0489B6;
}

ol.questions span.badge.locked {
    background: #fff0cb url(../img/forums/type/locked.png) no-repeat 5px center;
    color: #a4813b;
}

ol.questions div.asked-by {
    font-size: 12px;
    margin: 7px 0 14px;
}

ol.questions div.asked-by span.user {
    color: #4B4740;
}

ol.questions p {
    font-size: 14px;
    line-height: 23px;
    color: #4B4740;
    margin: 0 0 14px;
}

ol.questions div.meta {
    margin: 10px 0 0;
}

ol.questions ul.tag-list {
    display: inline;
}

/* questions pagination */
ol.pagination {
    font-family: Verdana;
    margin: 1.5em auto 0;
    padding: 0 0 0 25px;
}

ol.pagination li {
    float: left;
    padding: 0 2px;
}

ol.pagination li.prev {
    padding-left: 0;
}

ol.pagination li a {
    float: left;
    padding: 4px 8px;
}

ol.pagination li a:hover {
    text-decoration: underline;
}

ol.pagination li.prev a {
    padding-left: 0;
}

ol.pagination li.selected a {
    background: #0489B6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: default;
}

ol.pagination li.selected a:hover {
    text-decoration:none;
}

/* on question page */
div#question div.content h2 {
    font-size: 160%;
    margin-bottom: .3em;
}

/* side modules */
div.sd-module {
    background:transparent url(../img/questions/bkg.askquestion.gif) no-repeat;
    padding: 15px;
}

div.sd-module h3 {
    color: #4B4740;
    font-size: 20px;
}

div.sd-module h4 {
    color: #4B4740;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0 0;
}

div.sd-module p {
    color: #898378;
    font-size: 14px;
    margin: 20px 0 0;
}

/* ask a question side module */
#ask-question-module div.ask-question {
    margin: 15px 0 0;
}

#ask-question-module div.ask-question a {
    background: #F6D600;
    background: -moz-linear-gradient(top, #FDF9D8, #F6D600);
    background: -webkit-gradient(linear, left top, left bottom, from(#FDF9D8), to(#F6D600));
    border: solid 1px #DA7C2F;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 2px 4px 5px #aaa;
    -moz-box-shadow: 2px 4px 5px #aaa;
    -webkit-box-shadow: 2px 4px 5px #aaa;
    color: #D13E05;
    display: block;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-shadow: #fff 0 1px 0;
    width: 180px;
}

#ask-question-module div.ask-question a span.q {
    background: #fff;
    border: solid 1px #DA7C2F;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 0 5px 0 0;
    padding: 3px 7px 3px 8px;
}

/* top contributors side module */
#top-contributors {
    margin: 30px 0 0;
}

#top-contributors ol {
    color: #898378;
    font-size: 14px;
    margin: 10px 0 0 22px;
}

#top-contributors li {
    margin: 0 0 5px;
}

/* answers page */
body.answers #main-content {
    background: transparent url(../img/questions/topbar.gif) no-repeat center top;
    float: none;
    margin: 50px 0 0 0;
    padding: 20px 0 0;
    position: relative;
    width: auto;
}

body.answers ul.ui-autocomplete {
    /* jQuery sticks the menu right in the body, where it inherits text-align: center from the body. */
    text-align: left;
}

#back-link {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 11px;
    left: 25px;
    position: absolute;
    top: -25px;
}

#question {
    background: transparent url(../img/questions/botbar.gif) no-repeat center bottom;
    padding: 20px 0;
    zoom: 1;
}

#question:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

div.user-section {
    float: left;
    min-height: 1px;
    padding: 0 0 0 30px;
    width: 90px;
}

div.user-section div.asked-by {
    color: #898378;
    font-size: 14px;
}

div.user-section div.asked-by span.user {
    color: #4B4740;
    display: block;
}

div.main-section {
    float: left;
    width: 540px;
}

div.main-section h1 {
    color: #4B4742;
    font-size: 24px;
    padding: 0 0 0 15px;
}

/* Thread title badges */
div.main-section div.badges {
    margin: 5px 0 0 15px;
}

div.main-section div.badges span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float:left;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 2px 10px 2px 32px;
}

div.main-section div.badges span.locked {
    background: #fff0cb url(../img/forums/type/locked.png) no-repeat 8px center;
    color: #a4813b;
}

div.main-section div.badges span.watching {
    background: #D7F8E0 url(../img/forums/watch.png) no-repeat 8px center;
    color: #10C493;
}

div.main-section h3 {
    color: #4B4740;
    font-size: 18px;
}

div.main-section div.content {
    clear: both;
    color: #898378;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 0 0;
    padding: 10px 15px 0;
}

div.main-section div.content p {
    margin: 0 0 1em;
}

div.main-section div.content ul,
div.main-section div.content ol {
    margin: 0 0 1em 2em;
}

div.main-section div.content li {
    margin: 0;
    padding: 0;
}

div.problem {
    background: transparent url(../img/questions/bkg.problem.jpg) no-repeat center top;
    border-bottom: solid 1px #edece9;
    border-top: solid 1px #edece9;
    color: #4B4740;
    font-size: 14px;
    height: 52px;
    margin: 20px 0 0;
    padding: 0 15px;
}

div.problem div.have-problem {
    float: left;
    padding: 9px 0 5px;
}

div.problem div.have-problem mark {
    color: #D13E05;
    font-weight: normal;
}

div.problem div.have-problem.just-one {
    background: transparent url(../img/questions/icon.one.gif) no-repeat 0 12px;
    padding-left: 22px;
}

div.problem div.have-problem.less-ten {
    background: transparent url(../img/questions/icon.lessten.gif) no-repeat 0 17px;
    padding-left: 25px;
}

div.problem div.have-problem.ten-more {
    background: transparent url(../img/questions/icon.tenmore.gif) no-repeat 0 19px;
    padding-left: 50px;
}

div.me-too {
    float: right;
    padding: 13px 0 0;
    position: relative;
    width: 170px;
}

div.solution {
    background: #e8f2e4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #67775E;
    margin: 17px 0 0;
    padding: 15px;
    zoom: 1;
}

div.solution:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

div.ans-wrap {
    clear: both;
    padding: 10px 0 0;
}
div.ans-wrap div.avatar {
    float: left;
    width: 58px;
}

div.answer {
    float: left;
    font-size: 14px;
    width: 450px;
}

div.solution div.answer {
    color: #67775E;
}

div.answer span.user {
    color: #4B4740;
    float: left;
    padding: 0 10px 0 0;
}

div.answer span.votes {
    background: #CAE4BF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #377300;
    float: left;
    font-size: 12px;
    font-family: Verdana;
    margin: 0 15px 0 0;
    padding: 2px 5px;
}

div.answer p {
    line-height: 22px;
    margin:0 0 1em;
}

div.other-helpful {
    color: #898378;
    margin: 10px 0 0;
    padding: 15px;
    zoom: 1;
}

div.other-helpful:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

div.report-reply {
    border-top: solid 1px #f4f3f1;
    height: 20px;
    padding: 20px 15px;
}

div.report-reply form.lock,
div.report-reply form.report {
    float: left;
    padding: 0 15px 0 0;
    position: relative;
}

form.lock input,
form.report input {
    float: left;
}

.js form.report select,
.js form.report input.text {
    display: none;
}

form.unwatch input.submit,
form.lock input.submit,
form.report input.submit {
    background: transparent url(../img/questions/icon.report.gif) no-repeat left center;
    border: none;
    color: #0489B7;
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 27px;
}

form.lock input {
    background-image: url(../img/forums/type/locked.png);
}

form.unwatch input {
    background-image: url(../img/questions/icon.email.gif);
    padding-left: 22px;
}

div.report-reply a.delete {
    background: transparent url(../img/forums/delete.png) no-repeat left center;
    float: left;
    font-size: 14px;
    margin: 0 15px 0 0;
    padding: 1px 0 0 20px;
}

/* report post */
form.report div.report-post-box {
    left: -70px;
    top: 25px;
    width: 255px;
}

form.report div.report-post-box ul {
    list-style: none;
}

form.report div.report-post-box li {
    border: 0;
    margin: 0;
    padding: 3px 0;
}

form.report div.report-post-box input.text {
    border: solid 1px #87C4DC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: inline;
    padding: 3px 8px;
    width: 92%;
}

form.report.processing div.report-post-box a {
    color: #bbb;
    cursor: default;
}

form.report.processing div.report-post-box input.text {
    border-color: #bbb;
}

div.report-reply a.reply {
    float: right;
}

/* thanks for voting */
#question-vote-thanks {
    left: -120px;
    top: 45px;
    width: 355px;
}

#question-vote-thanks h1,
#question-vote-thanks h2 {
    font-size: 14px;
    padding: 0;
}

#question-vote-thanks h2 {
    color: #898378;
}

#question-vote-thanks p {
    color: #898378;
    margin: 20px 0 0;
}

#question-vote-thanks p strong{
    color: #4B4740;
    font-weight: normal;
}

#question-vote-thanks form {
    margin: 5px 0 0;
}

#question-vote-thanks input#id_email {
    display: block;
    margin: 0 0 15px;
    width: 230px;
}

#question-vote-thanks input.btn {
    margin-right: 15px;
}

/* (right) side section */
div.side-section {
    color: #898378;
    float: right;
    font-size: 14px;
    width: 230px;
}

div.side-section ul {
    list-style: none;
}

div.side-section h4 {
    color: #4B4740;
    font-weight: normal;
    margin: 25px 0 0;
}

div.side-section p {
    margin: 0.5em 0;
}

ul.system li,
ul.subscribe li a {
    line-height: 21px;
    padding: 0 0 0 25px;
}

ul.subscribe li.email {
    position: relative;
}

ul.subscribe li.email a#email-subscribe-link {
    background: transparent url(../img/questions/icon.email.gif) no-repeat left center;
}

ul.subscribe li.rss a {
    background: transparent url(../img/questions/icon.rss.gif) no-repeat left center;
}

ul.system li.mac {
     background: transparent url(../img/questions/icon.mac.gif) no-repeat left center;
}

ul.system li.windows {
     background: transparent url(../img/questions/icon.windows.png) no-repeat left center;
}

ul.system li.linux {
     background: transparent url(../img/questions/icon.linux.png) no-repeat left center;
}

ul.system li.ff {
     background: transparent url(../img/questions/icon.firefox.gif) no-repeat left center;
}

ul.related {
    list-style: disc;
}

ul.related li {
    padding: 5px 0;
}

/* email subscribe box */
.js #email-subscribe {
    display: none;
    left: -50px;
    top: 25px;
    width: 235px;
}

.js li.email.show-form #email-subscribe {
    display: block;
}

.no-js #email-subscribe {
    padding: 0 0 10px;
}

.no-js #email-subscribe a.close,
.no-js #email-subscribe span.cancel {
    display: none;
}

#email-subscribe ul.errorlist,
#email-subscribe ul.errorlist li {
    margin: 0;
    padding: 0;
}

#email-subscribe a {
    padding: 0;
}

#email-subscribe form {
    margin: 5px 0 0;
}

#email-subscribe input#id_email {
    width: 230px;
}

#email-subscribe form ul {
    padding: 10px 0;
}

#email-subscribe input.btn {
    margin-right: 5px;
}

/* more system details modal */
.js div.more-system-details {
    display: none;
}

#more-system-details {
    color: #4B4740;
    display: block;
    left: 50%;
    margin-left: -310px;
    padding: 20px;
    position: fixed;
    text-align: left;
    top: 100px;
    width: 580px;
    z-index:10;
}

#modal-overlay {
    background: #000;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

#more-system-details p,
#more-system-details li {
    color: #898378;
}

#more-system-details div.wrap {
    height: 350px;
    overflow: auto;
}

#more-system-details h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px;
}

#more-system-details h5 {
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0 5px;
}

#more-system-details ul.system li {
    display: inline-block;
    padding-right: 40px;
}

#more-system-details div.plugins li {
    background: transparent url(../img/questions/icon.plugin.gif) no-repeat 0 4px;
    padding: 2px 0 2px 25px;
}

/* answers */
ol.answers {
    clear: both;
    list-style: none;
    margin: 2.35em 0 0;
}

ol.answers li {
    border-bottom: solid 1px #f5f4f3;
    margin: 2px 0 0;
    padding: 25px 0;
    zoom: 1;
}

ol.answers li:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

ol.answers li.author {
    background: #f3f9fb;
}

ol.answers li.solution {
    background: #f1f8ee;
}

ol.answers div.user-section {
    padding-top: 10px;
}

ol.answers span.user {
    display: block;
    font-size: 14px;
    margin: 15px 0 3px;
}

ol.answers span.posts {
    color: #898378;
    display: block;
}

ol.answers span.answers {
    color: #007700;
    display: block;
}

ol.answers span.author {
    color: #004A66;
    display: block;
    font-size: 14px;
}

ol.answers p.edited,
ol.answers p.posted,
div#question p.edited {
    color: #898378;
    font-size: 12px;
    font-style: italic;
    margin: 0 0 5px 15px;
}

ol.answers p.edited,
div#question p.edited {
    font-size: 11px;
}

ol.answers div.content {
    margin: 0;
}

ol.answers div.reply {
    margin: 15px 0 0 15px;
}

ol.answers div.reply a,
span.edit a {
    background: transparent url(../img/questions/icon.contributed.gif) no-repeat left center;
    font-size: 14px;
    padding: 0 0 0 25px;
}

ol.answers div.solved {
    background: transparent url(../img/questions/icon.solved.gif) no-repeat left 1px;
    color: #007700;
    margin: 7px 0;
    padding: 0 0 0 30px;
}

ol.answers form.helpful {
    margin: 7px 0 20px;
}

ol.answers form.helpful input.btn {
    margin: 0 10px 0 0;
}

ol.answers div.helpful {
    background: transparent url(../img/questions/icon.lessten.gif) no-repeat left 5px;
    padding-left: 30px;
}

ol.answers div.helpful mark {
    color: #007700;
    display: block;
    font-weight: normal;
}

ol.answers div.helpful.zero mark {
    color: #CB0000;
}

ol.answers form.report {
    margin: 15px 0 0;
    position: relative;
}

ol.answers div.side-section a.edit,
ol.answers div.side-section a.delete {
    background: transparent url(../img/forums/delete.png) no-repeat left center;
    clear: left;
    float: left;
    font-size: 14px;
    margin: 7px 0 0;
    padding: 0 0 0 30px;
}

ol.answers div.side-section a.edit {
    background: transparent url(../img/forums/edit.png) no-repeat left center;
}

/* reply to question */
#question-reply {
    font-size: 14px;
    padding: 30px 0 20px 0;
}

#question-reply h3,
#answer-preview h3 {
    font-size: 18px;
    margin: 0 0 20px 135px;
}

#question-reply p {
    color: #898378;
    margin: 0 0 20px 15px;
}

#question-reply form {
    padding: 0 15px;
}

#question-reply div.forum-editor {
    padding: 0;
}

div.edit-answer textarea,
#question-reply textarea {
    border: solid 1px #87C4DC;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    height: 150px;
    padding: 5px;
    width: 500px;
}

#question-reply div.submit {
    margin: 15px 0 0;
}

#question-reply div.submit input {
    margin: 0 10px 0 0;
}

/*
 * Questions image upload form
 */
form div.attachments-upload {
    margin: 1.5em 0;
}

form div.attachments-upload label {
    display: block;
    margin: .5em 0;
}

form div.attachments-upload div.add-attachment,
form div.attachments-upload div.adding-attachment {
    clear: left;
    height: 4em;
    padding-top: .5em;
}

form div.attachments-upload div.adding-attachment {
    display: none;
    line-height: 4em;
}

form div.attachments-upload div.empty,
form div.attachments-upload div.upload-progress {
    display: none;
}

form div.attachments-upload div.attachments a:hover img,
div.ans-attachments a:hover img {
    border: 1px solid #eee;
}

div.ans-attachments {
    padding: 10px 15px 0 10px;
}

form div.attachments-upload div.attachment,
div.ans-attachments div.attachment {
    display: inline-block;
    position: relative;
}

html.js form div.attachments-upload div.attachment:hover input.delete,
html.js ol.answers div.ans-attachments div.attachment:hover input.delete {
    display: block;
}

form div.attachments-upload div.attachment div.overlay,
div.ans-attachments div.attachment div.overlay {
    background: #ccc url('../img/wait-trans.gif') no-repeat center;
    opacity: .5;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

form div.attachments-upload div.attachment input.delete:hover,
ol.answers div.ans-attachments div.attachment input.delete:hover {
    opacity: 1;
}

form div.attachments-upload div.attachment input.delete,
div.ans-attachments div.attachment input.delete {
    background: #000;
    border: 2px solid #fff;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: Verdana;
    font-weight: bold;
    opacity: .5;
    padding: 0 .2em;
    position: absolute;
    top: 10px;
    right: 10px;
}

form div.attachments-upload div.upload-progress.show {
    display: inline-block;
}

form div.attachments-upload div.upload-progress,
form div.attachments-upload div.attachment img,
div.ans-attachments div.attachment img {
    background: url('../img/wait-trans.gif') no-repeat center;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    vertical-align: top;
}

form div.attachments-upload div.add-attachment noscript input{
    margin-left: 1em;
}

#question-reply form.upload-input,
form.upload-input {
    margin: 0;
    padding: 0;
}

form div.attachments-upload input.image-delete {
    margin-top: 1em;
}

/*
 * Answer preview
 */
#answer-preview {
    clear: both;
    padding: 40px 0 0;
}

#answer-preview li {
    border-top: 1px solid #F5F4F3;
}

div.edit-answer #answer-preview h3 {
    margin-left: 0;
}

/*
 * Buttons
 */
a.btn,
input.btn {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 1px 2px 5px #aaa;
    -moz-box-shadow: 1px 2px 5px #aaa;
    -webkit-box-shadow: 1px 2px 5px #aaa;
    cursor: pointer;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    overflow: visible;
    padding: 4px 10px;
    text-shadow: #fff 0 1px 0;
    width: auto;
}

/* yellow button */
a.y-btn,
input.y-btn {
    border: solid 1px #DA7C2F;
    background: #F6D600;
    background: -moz-linear-gradient(top, #FDF9D8, #F6D600);
    background: -webkit-gradient(linear, left top, left bottom, from(#FDF9D8), to(#F6D600));
    color: #D13E05;
}

/* green button */
a.g-btn,
input.g-btn {
    border: solid 1px #7EC14D;
    background: #B6F23D;
    background: -moz-linear-gradient(top, #EDFFCD, #B6F23D);
    background: -webkit-gradient(linear, left top, left bottom, from(#EDFFCD), to(#B6F23D));
    color: #09700B;
}

/* disabled buttons */
a.g-btn:disabled,
a.y-btn:disabled,
input.g-btn:disabled,
input.g-btn:disabled {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid 1px rgb(177, 177, 177);
    background: rgb(239, 239, 239);
    background: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(247, 247, 247));
    background: -webkit-gradient(linear, left top, left bottom, rgb(249, 249, 249), rgb(247, 247, 247));
    color: #999;
}

/*
 * Ask a Question
 */
#ask-question {
    padding: 0 10px;
}

#ask-question h1 {
    border-bottom: 2px solid #EDECE9;
    font-size: 32px;
    padding: 0 0 5px 15px;
}

#ask-question div.inner-wrap {
    padding: 15px;
}

#ask-question h2 {
    font-size: 20px;
}

#ask-question h3 {
    font-size: 16px;
}

#ask-question h3.no-results {
    margin-bottom: 15px;
}

#ask-question mark {
    font-style: italic;
}

#ask-question div.selected {
    color: #807970;
    font-size: 16px;
    margin: 0 0 1em;
}

#ask-question div.selected span {
    font-weight: bold;
}

#ask-question div.selected a {
    font-size: 13px;
    margin: 0 0 0 5px;
}

#ask-question ul.articles,
#ask-question ul.select-one {
    font-size: 18px;
    margin: 0.5em 0 1em;
}

#ask-question ul.articles {
    font-size: 14px;
    margin-left: 15px;
}

#ask-question ul.select-one {
    list-style: none;
}

#ask-question ul.articles li,
#ask-question ul.select-one li {
    margin: 0 0 0 30px;
    padding: 5px 0;
}

#ask-question ul.articles li {
    margin: 0;
}

#ask-question form.search {
    padding: 10px 0 15px;
}

#ask-question textarea,
#ask-question input[type="text"] {
    border: solid 1px #87C4DC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    margin: 0 5px 0 0;
    padding: 3px 8px;
    width: 450px;
}

#ask-question select {
    border: solid 1px #87C4DC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    margin: 0 5px 0 0;
    padding: 3px 3px 3px 8px;
}

#ask-question li.invalid textarea,
#ask-question li.invalid input[type="text"] {
    border-color: #ff0000;
}

#ask-question textarea {
    height: 150px;
}

#ask-question textarea.troubleshooting,
#ask-question textarea.plugins {
    height: 80px;
}

#ask-question ul.search-results {
    font-size: 14px;
    margin: 5px 0 15px 15px;
}

#ask-question ul.search-results li {
    padding: 3px 0;
}

#question-form {
    margin: 15px 0 0;
}

#question-form ol {
    list-style: none;
    margin: 10px 0 0;
}

#question-form ol li {
    border-top: 1px dotted #ddd;
    clear: both;
    display: block;
    font-size: 14px;
    padding: 8px 0;
}

#title-val {
    float: left;
    padding: 0 0 7px;
}

#title-val span:hover {
    background: #f0f0f0;
    border: dotted 1px #ccc;
}

#title-val a {
    font-size: 12px;
    margin: 0 0 0 5px;
}

#question-form div.forum-editor {
    margin: 0 0 0 115px;
    padding: 0;
}

#question-form li.system-details-info p {
    margin-left: 115px;
}

#question-form li.system-details-info a {
    display: none;
}

#question-form ol.hide-details li.show a.show {
    display: inline;
}

#question-form li.hide a.hide {
    display: inline;
}

#question-form ol.hide-details li.details {
    display: none;
}

#question-form ol.show-details li.details {
    display: block;
}

#question-form li.submit {
    padding-left: 115px;
}

#question-form li.submit a.cancel {
    float: right;
    padding: 4px 0;  /* to approximate the submit button height */
}

#question-form li label {
    float: left;
    font-size: 14px;
    width: 115px;
}

#question-form p.help-text {
    color: #807970;
    font-size: 12px;
    padding: 2px 0 0 115px;
}

/* Delete Question/Answer Confirmation */
div.to-delete {
    padding: 0 0 0 30px;
}

div.to-delete label {
    display:block;
    font-weight:bold;
    margin: 0.5em 0 0 0;
}

div.to-delete input {
    margin: 0 0 0 1em;
}

div.to-delete form {
    margin: 2em 0 0 0;
}

div.to-delete p {
    margin: 0 0 1em;
}

div.to-delete div.content ul,
div.to-delete div.content ol {
    margin: 0 0 0 1.5em;
}

/*
 * Edit answer
 */
div.edit-answer {
    font-size: 14px;
    padding: 0 0 0 30px;
}

div.edit-answer ul.info {
    list-style: none;
    margin: 10px 0 0;
}

div.edit-answer ul.info li {
    padding: 2px 0;
}

div.edit-answer ul.info label {
    font-weight: bold;
    float: left;
    width: 150px;
}

div.edit-answer div.forum-editor {
    padding-left: 0;
}

div.edit-answer input.btn {
    margin-left: 1em;
}

/*
 * Flagged content queue
 */
body.flagged #main-content {
    float: none;
    padding: 20px 200px 0 30px;
    position: relative;
    width: auto;
}

#flagged-queue h1 {
    font-size: 30px;
}

#flagged-queue ul {
    border-top: solid 1px #aaa;
    list-style: none;
    margin: 20px 0 0;
}

#flagged-queue li {
    border-bottom: solid 1px #aaa;
    padding: 5px 0;
}
#flagged-queue li h2 {
    font-weight: bold;
    font-size: 16px;
}

#flagged-queue li h3 {
    font-size: 13px;
    font-weight: bold;
}

#flagged-queue li div.wrap {
    padding: 10px 25px;
}

#login-modal {
    background: #fff;
    border: solid 3px #898377;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 1px 2px 15px #aaa;
    -moz-box-shadow: 1px 2px 15px #333;
    -webkit-box-shadow: 1px 2px 15px #aaa;
    color: #4B4740;
    display: block;
    font-size: 14px;
    left: 50%;
    margin-left: -410px;
    padding: 20px;
    position: fixed;
    text-align: left;
    top: 70px;
    width: 780px;
    z-index:10;
}

#login-modal iframe {
    border: none;
    height: 400px;
    overflow: auto;
    width: 100%;
}

div.confirm-question {
    padding: 0 25px;
}

div.confirm-question h2{
    margin: 0 0 15px;
}

div.confirm-question h3{
    margin: 0 0 15px;
}
