/*
	The contents of this file will aid in the redesign transition.  A few points:
	
	0.  The styles on the top are to be used in the longterm (redesign only).
		The styles in the bottom block are to make the the items compatible 
		with the current design only. These should be deleted upon redesign launch.
	1.  The top styles will be *kept* once the redesign is done
	2.  When in doubt, peel out.
*/

/************************************************
		LONGTERM Styles
/*************************************************/

/*  Wiki page styles  */



/*  Font-Awesome  */
i[class^='icon-'] { margin-right: 4px; }


/************************************************
		COMPAT Styles - DELETE AFTER LAUNCH
/*************************************************/

/*  Wiki page styles  */
#article-nav .anchor-tags i.off, #article-nav .anchor-files i.off { color: #333; }
#article-nav .anchor-tags i, #article-nav .anchor-files i { color: #369; }
#article-nav .anchor-tags a, #article-nav .anchor-tags span,
#article-nav .anchor-files a, #article-nav .anchor-files span { background: none !important; padding-left: 0 !important; }