.search-results {
    font-size: 110%;
}

.search-results .title {
    font-size: 130%;
}

.search-results p a {
    color: #000;
    line-height: 140%;
}

.search-results .result {
    margin-bottom: 15px;
}

.search-query {
    border: 1px solid #E16601;
    width: 270px;
    margin-right: 5px;
}
.btn-large {
    text-transform: none;
}

/* Paginators */
ol.pagination {
    margin: .5em auto 1em;
    text-align: center;
}

ol.pagination > li {
    display: inline;
    padding: 0 4px;
}

ol.pagination > li.selected a {
    color: #000;
}

div.num-results {
    clear: left;
}

div.search-count {
    font-size: 120%;
    padding: 0.2em 0 0.3em;
}

/* Bug 525944 - Using pspell for spelling suggestions */
div.search-suggestion {
    color: #cc4047;
    font-size: 120%;
    padding: .3em 0;
}

span.corrected {
    font-weight: bold;
}
/* END Bug 525944 */

/* Bug 527859 - Add search form to top and bottom of results */
div.search-refine {
    margin: .5em 0;
}

input.search-refine-query {
    padding: 4px 2px 2px;
}

input.search-refine-submit {
    text-transform: none;
    padding: 2px 4px;
}
input.search-refine-submit:hover {
    background-color: #f90;
}
/* END Bug 527859 */
/* Bug 501880 -- advanced search */
.show-search-tabs {
    padding: 0.5em;
    display: inline-block;
}
input.search-empty-query {
    padding: 5px;
}
input.search-empty-submit {
    -moz-border-radius: 8px;
    padding: 5px 10px;
}
/* END Bug 501880 */
