/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.search-results .title {
    background: transparent url(../img/search/icons.png) no-repeat left -45px;
    display: block;
    font-size: 130%;
    padding: 0 0 5px 50px;
}

.document .title {
    background-position: 5px -97px;
}

.document:hover .title {
    background-position: 5px -397px;
}

.question .title {
    background-position: 5px 3px;
}

.question:hover .title {
    background-position: 5px -297px;
}

.thread .title {
    background-position: 5px -197px;
}

.thread:hover .title {
    background-position: 5px -497px;
}

.search-results p {
    padding: 0 0 0 50px;
}

.search-results p a {
    color: #000;
    line-height: 140%;
}

.search-results .result {
    margin-bottom: 15px;
}

.search-query {
    border: 1px solid #E16601;
    width: 270px;
    margin-right: 5px;
}
.btn-large {
    text-transform: none;
}

div.num-results {
    clear: left;
}

div.search-count {
    font-size: 120%;
    padding: 0.2em 0 1em;
}

/* Bug 527859 - Add search form to top and bottom of results */
div.search-refine {
    margin: .5em 0;
}

input.search-refine-query {
    padding: 4px 2px 2px;
}

input.search-refine-submit {
    text-transform: none;
    padding: 2px 4px;
}
input.search-refine-submit:hover {
    background-color: #f90;
}
/* END Bug 527859 */
/* Bug 501880 -- advanced search */
.show-search-tabs {
    padding: 0.5em;
    display: inline-block;
}
input.search-empty-query {
    padding: 5px;
}
input.search-empty-submit {
    -moz-border-radius: 8px;
    padding: 5px 10px;
}
div.search-empty {
    margin: 1em 0 1.5em;
}
div.search-empty form {
    margin-top: 1em;
}
/* END Bug 501880 */

/* advanced search styling */
body.advanced_search .botbar
, body.advanced_search .topbar
{
    display: none;
}

/* tabs styling */
.ui-tabs {
    padding: 0 0.2em;
    font-size: 120%;
    margin-bottom: 2em;
}
a.tablink {
    outline: none;
}

#tab-wrapper {
    margin: 0; padding: 0;
    -moz-box-shadow: 0 4px 9px #888;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #fff;
    color: #333;
}

/* form styling */
#search-tabs {
    margin-top: 1em;
}
#search-tabs .container {
    clear: left;
}
#search-tabs label {
    cursor: pointer;
    display: block;
    float: left;
    width: 8em;
    padding: 0.5em;
    margin: 0.3em 0;
}
#search-tabs select {
    cursor: pointer;
    margin: 0.8em 0;
}
#search-tabs input[type="text"] {
    margin: 0.6em 0;
}
#search-tabs .container .checkboxes,
#search-tabs .container .radios {
    padding: 0.8em;
    overflow: auto;
}
#search-tabs .container .checkboxes ul,
#search-tabs .container .radios ul {
    padding: 0; margin: 0;
    overflow: auto;
}
#search-tabs .container .radios li,
#search-tabs .container .checkboxes li {
    padding: 0;
    margin: 0.4em 0.3em;
    float: left;
    display: block;
    width: 48%;
}
#search-tabs .container .radios li {
    width: 30%;
}
#search-tabs .container .radios li label,
#search-tabs .container .checkboxes li label {
    padding: 0;
    margin: 0;
    float: none;
    width: 100%
}
#search-tabs .search-tips-small {
    font-size: 80%;
    margin: 0 0.5em 0 11.2em;
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
    width: auto;
    float: none;
}
#search-tabs input[type="text"] {
    border: #9b9b9b 1px solid;
    padding: 0.2em;
    width: 30em;
}
#search-tabs input[type="text"]:hover {
    background: #e7f7f8;
}
.submit-search {
    clear: left;
    border-top: 1px solid #e0e0e0;
    text-align: right;
    margin-top: 1em;
    padding: 1em 2em 0 0;
}
.submit-search input {
    border: none;
    background: url('../img/search/submit-button-bg.png') repeat-x #4acc0c bottom;
    cursor: pointer;
    font-size: 1.143em;
    padding: 0.4em 0.6em;
    border: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
}
form .showhide-input input {
    width: 7em !important;
}

/* jquery ui styling for tabs and datepicker */
.ui-tabs-nav {
    height: 2.2em;
    font-weight: bold;
    margin-left: 2em;
}
.ui-tabs .ui-tabs-nav {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:0.2em 0.2em 0;
    position:relative;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom-width:0 !important;
    float:left;
    padding:0;
    position:relative;
    background: #e9f1f4;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

.ui-tabs .ui-tabs-nav li a {
    float:left;
    padding:0.5em 1em;
    text-decoration:none;
    color: #000;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border-bottom-width:0;
    padding-bottom:20px;
    background: url('../img/search/active-tab.png') no-repeat bottom center;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #fff;
    background: #393939;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor:text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor:pointer;
}
.ui-tabs .ui-tabs-panel {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    border-width:0;
    display:block;
    padding:1.4em;
}
.ui-tabs .ui-tabs-hide {
    display:none !important;
}
.ui-datepicker {
    background: #eee;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.ui-datepicker {
    padding:0.2em 0.2em 0;
    width:17em;
}
.ui-datepicker .ui-datepicker-header {
    padding:0.2em 0;
    position:relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height:1.8em;
    position:absolute;
    top:2px;
    width:1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top:1px;
}
.ui-datepicker .ui-datepicker-prev {
    left:2px;
    background: url('../img/icons/toleft.gif') no-repeat top left;
}
.ui-datepicker .ui-datepicker-next {
    right:2px;
    background: url('../img/icons/toright.gif') no-repeat top right;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: none;
}
.ui-datepicker .ui-datepicker-title {
    line-height:1.8em;
    margin:0 2.3em;
    text-align:center;
}
.ui-datepicker .ui-datepicker-title select {
    float:left;
    font-size:1em;
    margin:1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width:100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width:49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    float:right;
}
.ui-datepicker table {
    border-collapse:collapse;
    font-size:0.9em;
    margin:0 0 0.4em;
    width:100%;
}
.ui-datepicker th {
    border:0 none;
    font-weight:bold;
    padding:0.7em 0.3em;
    text-align:center;
}
.ui-datepicker td {
    border:0 none;
    padding:1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display:block;
    padding:0.2em;
    text-align:right;
    text-decoration:none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image:none;
    border-bottom:0 none;
    border-left:0 none;
    border-right:0 none;
    margin:0.7em 0 0;
    padding:0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor:pointer;
    float:right;
    margin:0.5em 0.2em 0.4em;
    overflow:visible;
    padding:0.2em 0.6em 0.3em;
    width:auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float:left;
}
.ui-datepicker.ui-datepicker-multi {
    width:auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float:left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin:0 auto 0.4em;
    width:95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width:50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width:33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width:25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width:0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width:0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear:left;
}
.ui-datepicker-row-break {
    clear:both;
    width:100%;
}
.ui-datepicker-rtl {
    direction:rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left:auto;
    right:2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left:2px;
    right:auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left:auto;
    right:1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left:1px;
    right:auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear:right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float:left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float:right;
}
.ui-datepicker-rtl .ui-datepicker-group {
    float:right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width:1px;
    border-right-width:0;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width:1px;
    border-right-width:0;
}
.ui-datepicker-cover {
    display:block;
    height:200px;
    left:-4px;
    position:absolute;
    top:-4px;
    width:200px;
    z-index:-1;
}
