/* default sidebar, used on most SUMO pages */
#sidebar {
    float: right;
    width: 190px;
}

#side-menu {
    margin: -3px 0 0 15px;
    list-style-type: none;
    font-family: verdana;
    font-size: 80%;
}

#side-menu li {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 5px 0;
    background: url(../img/side-menu-divider.png) top left no-repeat;
}

#side-menu li.first {
    font-family: georgia, freeserif, serif;
    font-size: 205%;
    padding: 4px 5px 2px;
    background: none;
}

#side-menu li ul {
    margin: 5px 0 0 0;
    left: auto;
}

#side-menu li ul li {
    padding-left: 8px;
}

#side-menu h3 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

#side-menu a:link,
#side-menu a:visited {
    color: #1e4262;
    text-decoration: none;
}

#side-menu a.on:link,
#side-menu a.on:visited {
    color: #fff;
    font-weight: bold;
}

.mini #side-menu a.on:link,
.mini #side-menu a.on:visited {
    color: #0489B7;
}

#side-menu h3 a.on:link,
#side-menu h3 a.on:visited {
    font-weight: normal;
}

#side-menu a:hover,
#side-menu a:active {
    text-decoration: underline;
}

#side-getinvolved {
    background: transparent url('../img/side-getinvolved-bg.png') no-repeat top left;
    margin-top: 140px;
    padding-top: 20px;
    color: #999186;
}

#side-getinvolved h3 {
    color: #1E4262;
    font-size: 150%;
}
#side-getinvolved p {
    padding-top: 10px;
    font-size: 115%;
}
