/*
 * CSS for tag editing and display
 */
ul.tag-list li {
    display: inline-block;
}

ul.tag-list.immutable li:after {
    content: ", ";
}

ul.tag-list.immutable li:last-child:after {
    content: "";
}

li.tag .remover {
    border: none;
    background-color: transparent;
    color: #c7aba6;
    font-family: Verdana;
    overflow: visible;
    margin-right: .4em;
    padding: 0;
    cursor: pointer;
}

li.tag .remover:hover {
    color: #f45642;
}

li.tag.in-progress .tag-name {
    color: #bbb;
}

li.tag.in-progress .remover {
    color: #ccc;
}

ul.tag-list {
    margin-bottom: .5em;
}

.tag-error-message {
    color: red;
}

.tags input.invalid {
    border-color: red;
    border-style: solid;
}
