/* Delete Page Confirmation */
/* Used for questions and media */
div.to-delete {
    padding: 0 0 0 30px;
}

div.to-delete label {
    display:block;
    font-weight:bold;
    margin: 0.5em 0 0 0;
}

div.to-delete input {
    margin: 0 0 0 1em;
}

div.to-delete form {
    margin: 2em 0 0 0;
}

div.to-delete p {
    margin: 0 0 1em;
}

div.to-delete div.content ul,
div.to-delete div.content ol {
    margin: 0 0 0 1.5em;
}
