/*
 * Users app CSS
 */

/* common form styles for users app */
article.main ul.questions {
    margin-left: 20px;
}

article.main ul.questions li {
    margin: .3em 0;
}

article.main form {
    margin: 25px 0;
}

article.main p.instruct {
    margin: 0 0 15px;
}

article.main form li {
    list-style: none;
    padding: 5px 0;
}

article.main form label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

article.main form li input {
    width: 200px;
}

article.main form li input[type="checkbox"] {
    width: auto;
}

article.main form li img {
    max-width: 100%;
}

article.main form div.val-wrap {
    display: inline-block;
    width: 350px;
}

article.main form div.val-wrap input {
    display: block;
}

article.main form textarea {
    width: 325px;
}

article.main form li ul.errorlist {
    margin: 0;
    padding: 0 0 0 100px;
}

article.main form li ul.errorlist li {
    margin: 0;
    padding: 0 0 2px;
}

article.main div.submit {
    padding: 10px 0 0 103px;
}

/* login page help */
#login-help li {
    list-style: none;
    padding: 2px 0;
}

/* edit profile view */
#edit-profile-avatar a {
    padding-left: .5em;
}

#edit-profile-avatar ul {
    display: inline-block;
    margin-left: .5em;
}

/* edit avatar view */
#id_avatar,
#change-avatar div.val-wrap {
    margin-right: 10px;
    width: auto;
}

/* profile view */
#profile section {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#profile h2,
#contact-area h1 {
    font-size: 20px;
}

section#avatar-area {
    text-align: center;
    width: 12%;
}

#edit-profile-link {
    display: block;
    font-size: 85%;
    margin: 0 auto;
    width: 80%;
}

section#main-area {
    position: relative;
    width: 57%;
}

#main-area ul {
    list-style: none;
    margin-top: 1em;
}


#main-area li:before {
    content: '\00B7';
    margin: 0 .5em;
}
#main-area li:first-child:before {
    content: '';
    margin: 0;
}

#main-area li {
    float: left;
}

#bio {
    position: absolute;
    top: 90px;
}

section#contact-area {
    padding-top: 90px;
    margin-left: 3%;
    width: 27%;
}

#contact-area h1 {
    margin-bottom: .25em;
}

#contact-area ul {
    margin-left: 1em;
}

body.register p,
#profile p {
    margin: 1em 0;
}

/* delete avatar */
#avatar-delete .form-actions {
    margin: 1em 0;
}

#avatar-delete .form-actions input {
    margin-left: 1em;
}

#avatar-delete h1 {
    margin-bottom: 1em;
}

#avatar-preview {
    text-align: center;
}
