/*
 * Knowledge Base CSS
 */

/* Override some of the main.css styles for new theme
 * Eventually this should make it up to main.css
 */
article, nav, section {
    display: block;
}

a:link, a:visited, a:active {
    color: #447bc4;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #303030;
	font-weight: normal;
}

h1 {
    font-size: 26px;
}

#breadcrumbs {
    margin: 0 0 20px;
}

ol.breadcrumbs {
    display: inline;
}

.js .pop-in {
    border: solid 4px #1c3054;
    font-size: 14px;
    padding: 0;
    position: absolute;
    z-index: 8;
}

.js .pop-in h1,
.js .pop-in legend {
    background: #2d488d;
    border-bottom: solid 2px #22366a;
    color: #fff;
    display: block;
    font-family: Verdana;
    font-size: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    padding: 5px 15px;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
}

.js .pop-in div.wrap {
    padding: 15px;
}

#doc-content .fixed-modal h1,
.fixed-modal h1 {
    margin-top: 0;
}

.pop-in a.close {
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 3px;
}

/* Template Layout */
#content {
    font-family: Georgia;
    width: 978px;
}

#main-hdr {
    height: 90px;
}

#main-content {
    background: transparent url(../img/wiki/bkg.main.top.png) no-repeat right top;
    clear: both;
    float: left;
    padding: 16px 0 0;
    width: 754px;
}

#main-content article.main {
    background: transparent url(../img/wiki/bkg.article.jpg) no-repeat right top;
    font-size: 13px;
    min-height: 450px;
    padding: 14px 20px 0 0;
}

#main-sd {
    float: left;
    width: 222px;
}

#firefox-help {
    float: left;
    font-size: 18px;
    font-style: italic;
    padding: 10px 0;
    width: 445px;
}

#firefox-help a {
    background: transparent url(../img/ff-logo.png) no-repeat left center;
    color: #333;
    float: left;
    padding: 20px 0 20px 60px;
}

#support-search {
    float: left;
    padding: 15px 0 0;
    width: 310px;
}

div.support-search form {
    background: #1b5898;
    background: -moz-linear-gradient(top, #2e89ca, #1b5898);
    background: -webkit-gradient(linear, left top, left bottom, from(#2e89ca), to(#1b5898));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    padding: 5px;
}

div.support-search span.wrap {
    background: #fff url(../img/icon.searchloupe.png) no-repeat 7px center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    height: 28px;
    padding: 2px 0 0 36px;
    width: 218px;
}

div.support-search input.text {
    border: none;
    box-shadow: none;
    font-size: 16px;
    height: 26px;
    width: 98%;
}

div.support-search input.submit {
    box-shadow: none;
    float: left;
    height: 33px;
    margin: 0 0 0 5px;
    width: 37px;
}

#greeting {
    color: #666;
    float: right;
    font-size: 14px;
    padding: 20px 0 0;
    text-align: right;
    width: 222px;
}

#greeting span.user {
    color: #333;
}

#greeting nav {
    display: block;
}

/* Sidebar */
#doc-tabs {
    color: #666;
    font-size: 13px;
    margin: 16px 0 0;
}

#doc-tabs li {
    background: #fff;
    background: -moz-linear-gradient(left, #cde4f7, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#cde4f7), to(#fff));
    border: solid 1px #9accf7;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    box-shadow: 2px 2px 3px #9dbbd0;
    -moz-box-shadow: 2px 2px 3px #9dbbd0;
    -webkit-box-shadow: 2px 2px 3px #9dbbd0;
    list-style: none;
    margin: 7px 0 0;
}

#doc-tabs li.disabled, #doc-tabs li.disabled:hover {
    background: -moz-linear-gradient(left, #dedede, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#dedede), to(#fff));
    border: solid 1px #ccc;
    box-shadow: 2px 2px 3px #cecece;
    -moz-box-shadow: 2px 2px 3px #cecece;
    -webkit-box-shadow: 2px 2px 3px #cecece;
}

#doc-tabs li.disabled a {
    color: #999;
}

#doc-tabs li a,
#doc-tabs li span {
    display: block;
    padding: 7px 0 8px 50px;
}

#doc-tabs li:hover {
    background: -moz-linear-gradient(left, #e6f1fb, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6f1fb), to(#fff));
}

#doc-tabs li.active {
    background: #fff;
    left: -1px;
    position: relative;
    width: 102%;
    z-index: 2;
}

#doc-tabs li.active span {
    border-left: solid 2px #fff;
    left: -2px;
    padding-left : 52px;
    position: relative;
    z-index: 0;
}

#doc-tabs li.active a {
    color: #666;
}

#doc-tabs li.edit {
    margin: 25px 0 0;
}

#doc-watch {
    margin: 20px 0 0 20px;
}

#doc-watch input {
    background: none;
    border: none;
    color: #447bc4;
    cursor: pointer;
    padding: 0;
}

#for-contributors h1 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 5px;
}

#for-contributors li {
    list-style: none;
    padding: 3px 0;
}

#quick-links {
    font-size: 13px;
    margin: 25px 0 0 20px;
}

#quick-links li {
    background: #cde6f5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    list-style: none;
    margin: 0 0 6px;
}

#quick-links li:hover {
    background: #e6f1fb;
}

#quick-links li.active:hover {
    background: #4978bc;
}

#quick-links .active {
    background: #3862a9;
}

#quick-links .active a {
    color: #fff;
}

#quick-links li a {
    display: block;
    padding: 5px 0 5px 30px;
}

#quick-links li.home a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px 6px;
}

#quick-links li.aaq a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px -21px;
}

#quick-links li.home.active a {
    background: transparent url(../img/wiki/icons.quicklinks-selected.png) no-repeat 6px 6px;
}

#quick-links li.aaq.active a {
    background: transparent url(../img/wiki/icons.quicklinks-selected.png) no-repeat 6px -21px;
}

.sd-module {
    background: #cde6f5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 13px;
    margin: 20px 0 0 20px;
    padding: 20px;
}

.sd-module.promos {
    margin-top: 50px;
    padding: 0;
}

.sd-module h1 {
    color: #32559b;
    font-size: 20px;
    font-style: italic;
}

.sd-module h1 mark {
    color: #32559b;
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.sd-module p {
    color: #666;
    margin: 10px 0;
}

.sd-module section {
    padding: 20px;
}

#check-your-plugins {
    background: -moz-radial-gradient(center -40%, circle, rgba(255,255,255,1), rgba(255,255,255,0) 50%);
    background: -webkit-gradient(radial, center -40%, 0, center -40%, 175, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
}

/* Document view */
#main-content #wiki-doc {
    padding-right: 0;
}

#related-articles {
    float: right;
    font-size: 13px;
    padding: 0 1px 0 0;
    width: 249px;
}

#toc {
    font-size: 13px;
    left: -50px;
    padding: 0 0 25px;
    position: relative;
}

#related-articles h1,
#toc h1,
#toc h2 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    padding: 0 0 10px 50px;
}

#related-articles li {
    background: transparent url(../img/wiki/list.divider.png) no-repeat left bottom;
    list-style: none;
    padding: 10px 0 10px 50px;
}

#related-articles li:last-child {
    background: none;
}

html.no-js .hide-if-no-js {
    display: none;
}

article #toc ol li {
    list-style-type: none;
}

article #toc ol li,
article #toc ul li {
    background: transparent url(../img/wiki/list.divider.png) no-repeat left bottom;
    list-style-position: inside;
    padding: 10px 0 10px 50px;
}

article #toc ol,
article #toc ul {
    margin: 0;
}

article #toc ul li {
    list-style: none;
}

#toc ol ol,
#toc ul ul {
    margin: 0 0 0 20px;
}

#toc ol ol li,
#toc ul ul li {
    background: none;
    padding: 0;
}

#doc-content {
    color: #666;
    margin: 35px 0;
    padding: 0 20px 0 0;
}

#more-help {
    background: transparent url(../img/wiki/morehelp.nurse.png) no-repeat left top;
    min-height: 220px;
    padding: 25px 0 0 175px;
}

#more-help div.wrap {
    background: #deeff8;
    background: -moz-linear-gradient(top, #deeff8, #ebf8ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#deeff8), to(#ebf8ff));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    min-height: 110px;
    padding: 25px 20px;
    position: relative;
}

#more-help h2 {
    font-size: 20px;
    font-style: italic;
    padding: 0 0 15px;
}

#more-help ul {
    border-right: dotted 2px #6292cf;
    width: 275px;
}

#more-help ul ul {
    border: none;
    width: auto;
}

#more-help li {
    list-style: none;
    padding: 0 0 10px;
}

#more-help li li {
    list-style: disc;
    list-style-position: inside;
    padding: 2px 0 2px 10px;
}

#more-help div.support-search {
    left: 325px;
    position: absolute;
    top: 65px;
    width: 235px;
}

#more-help div.support-search form {
    margin: 15px 0 0;
}

#more-help div.support-search span.wrap {
    width: 145px;
}

#support-for {
    margin: 30px 0 0 50px;
}

.js #support-for select {
    visibility: hidden;
}

#support-for h1 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 5px;
    padding: 0 0 0 5px;
}

#support-for input {
    background: transparent url(../img/wiki/bkg.showfor.selector.gif) no-repeat 6px 5px;
    border: none;
    color: #32559b;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 0 2px 20px;
}

#support-for div.selectbox-wrapper {
    position: relative;
}

#support-for div.selectbox-wrapper ul {
    background: #32559b;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    left: 0;
    list-style: none;
    padding: 10px 5px;
    position: absolute;
    top: 5px;
    width: 130px;
}

#support-for div.selectbox-wrapper ul:after {
    background: #32559b;
    content: '';
    display: block;
    height: 15px;
    left: 3px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: -6px;
    width: 15px;
    z-index: 1;
}

#support-for div.selectbox-wrapper li {
    color: #6fbcff;
    cursor: pointer;
    padding: 2px 0 2px 15px;
    position: relative;
}

#support-for div.selectbox-wrapper li.selected {
    background: transparent url(../img/wiki/bkg.showfor.selector.gif) no-repeat 2px -44px;
    color: #fff;
}

#support-for div.selectbox-wrapper li.current {
    color: #fff;
}

div.warning-box {
    border: 1px #f2d273 solid;
    background: #fffaed url(../img/wiki/bkg.warning.png) repeat-y left top;
    background: url(../img/wiki/bkg.warning.png) repeat-y left top, -moz-linear-gradient(top, #fffaed, #fff2cb);
    background: url(../img/wiki/bkg.warning.png) repeat-y left top, -webkit-gradient(linear, center top, center bottom, from(#fffaed), to(#fff2cb));
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 35px 20px 0 0;
    padding: .5em 2em .5em 2em;
}

div.warning-box p {
    margin: .5em 0 .5em 0;
    line-height: 1.5em;
    color: #444;
}

#doc-contributors {
    color: #aaa;
    margin: 0 0 25px;
}

/* Wiki Document content */
#doc-content {
	font-size: 14px;
	line-height: 1.5em;
}

#doc-content p {
	margin: 0 0 1.5em;
}

/* NOTE:
`#doc-content h1-6` -> These inherit color from `h1-6` above
*/

#doc-content h1 {
	font-size: 22px;
	margin: 21px 0 8px;
}

#doc-content h2 {
	font-size: 19px;
	margin: 21px 0 8px;
}

#doc-content h3 {
	font-size: 16px;
	margin: 21px 0 8px;
}

#doc-content h4,
#doc-content h5,
#doc-content h6 {
	font-size: 14px;
	margin: 21px 0 8px;
}

#doc-content ol,
#doc-content ul,
#doc-content dd {
	margin-left: 21px;
}

#doc-content .code {
}

#doc-content .filepath {
	font-style: italic;
	white-space: nowrap;
}

#doc-content .key,
#doc-content .button {
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #f0f0f0, #fcfcfc);
	background: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#fcfcfc));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #303030;
	border: 1px solid #e0e0e0;
	border-bottom-width: 2px;
}

#doc-content .key {
	font-family: monospace;
	padding: 2px 6px;
}

#doc-content .button {
	padding: 2px 10px;
}

#doc-content .menu {
	background: #e8e8e8;
	color: #303030;
	padding: 2px 4px;
}

#doc-content .note {
   background: #F5F5FF;
   color: #626266;
   padding: .5em 1em;
}

#doc-content .warning {
   background: #FFF9DB url(../img/wiki/bkg.warning.png) repeat-y left top;
   color: #666458;
   padding: .5em 1em;
   padding-left: 2em;
}

/* helpful vote form */
#helpful-vote {
    color: #666;
    font-size: 16px;
    font-style: italic;
    margin: 10px 0 30px;
    padding: 10px 0;
}

#helpful-vote input {
    background: #cde6f5;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #3862a9;
    cursor: pointer;
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 3px 10px;
}

#helpful-vote input[disabled] {
    background: #ddd;
    color: #888;
    cursor: default;
}

#helpful-vote input.active {
    background: #32559b;
    color: #fff;
}

#helpful-vote img.wait {
    display: none;
}

#helpful-vote form.busy img.wait {
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
    top: 3px;
}

div.message-box {
    background: #32559b;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #fff;
    font-family: Georgia;
    font-size: 14px;
    left: 0;
    padding: 7px 20px;
    position: absolute;
    top: 0;
}

div.message-box p {
    position: relative;
    z-index: 2;
}

div.message-box:after {
    background: #32559b;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    content: '';
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: 20px;
    width: 20px;
    z-index: 1;
}

/* New / Edit / Translate Document */
#document-form form {
    padding: 0 0 20px;
}

#document-form form > ul,
#document-form div.relevant-to {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#document-form div.relevant-to ul {
    width: 100%;
}

#revision-form form li,
#document-form form li {
    clear: both;
    list-style: none;
    padding: 15px 0;
}

#document-form div.tags li {
    /* Keep the padding between the tag widgets less than that between the fields. */
    padding: 0;
}

#document-form div.relevant-to h2,
article.form-page form li label {
    color: #333;
    display: block;
    font-family: Verdana;
    font-size: 13px;
    margin: 0 0 5px;
}

#document-form div.relevant-to h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 0;
}

#document-form div.relevant-to li li {
    display: inline-block;
    padding: 2px 0;
    width: 150px;
}

#document-form li li label {
    color: #666;
    display: inline;
}

#document-form label[for="id_is_localizable"] {
    display: inline;
}

#document-form #id_is_localizable {
    margin: 0 .5em;
}

#document-form li ul.errorlist,
ul.description li ul.errorlist {
    display: block;
    padding: 2px 0;
    margin: 0;
    width: auto;
}

#document-form li ul.errorlist li,
ul.description li ul.errorlist li {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

article.main input[type="text"],
article.main textarea,
section.marky input[type="text"] {
    background: -moz-linear-gradient(top, #deebf4, #deebf4 2px, #fff 3px, #fff 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(#deebf4), to(#fff), color-stop(5%, #deebf4), color-stop(10%, #fff));
    border: solid 1px #97cbf7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #666;
    font-size: 15px;
    padding: 5px;
    width: 325px;
}

article.main input[type="text"].error {
    border-color: #ff0000;
}

article.main input[type="text"].autocomplete-tags {
    width: 100px;
}

article.main textarea {
    background: -webkit-gradient(linear, center top, center bottom, from(#deebf4), to(#fff), color-stop(0.5%, #deebf4), color-stop(1%, #fff));
    height: 150px;
    width: 700px;
}

article.main textarea[name="content"] {
    height: 500px;
}

article.main .forum-editor {
    float: left;
    padding: 0;
    width: 711px;
}

article.main .forum-editor-tools {
    background: #daedf6;
    background: -moz-linear-gradient(top, #e7f6fd, #daedf6);
    background: -webkit-gradient(linear, center top, center bottom, from(#e7f6fd), to(#daedf6));
    padding: 5px 5px 0;
}

div.forum-editor-tools span.separator {
    /* override for new editor style */
    font-size: 24px;
    top: -6px;
}

article.main div.submit {
    clear: both;
    padding: 10px 0 0;
}

article.main input[type="button"],
article.main input[type="submit"]:not(.remover),  /* Exclude tag remover button. */
section.marky button {
    border: none;
    background: #0063d8;
    background: -moz-linear-gradient(top, #4aa9f7, #0063d8);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.25);
    color: #fff;
    cursor: pointer;
    font-family: Verdana;
    margin: 0 15px 0 0;
    padding: 3px 20px 5px;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
}

article.main input[disabled]:not(.remover) {
    background: #ddd;
    color: #888;
    cursor: default;
}

article.main div.tags input.adder {
    /* Make the Add button look subordinate to the form's larger Save button. */
    font-size: 80%;
    padding: 2px 18px 3px;
    margin: 0 0 0 5px;
}

#preview {
    margin: 20px 0 0;
    position: relative;
}

#preview #support-for {
    margin: 0;
    position: absolute;
    right: -165px;
    top: 0;
    width: 165px;
}

/* Translate specific */
ul.description li {
    list-style: none;
    padding: 15px 0;
}

ul.description li.tag {
    padding: 0;
}

ul.description li:first-child {
    border: none;
}

div.approved,
div.localized {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

div.approved p,
div.localized p {
    min-height: 35px;
}

ul.description h3,
#content-fields h3 {
    color: #333;
    font-family: Verdana;
    font-size: 13px;
    margin: 0 0 5px;
}

ul.description div.val {
    color: #666;
}

ul.description input[type="text"] {
    width: 330px;
}

ul.description textarea {
    height: 100px;
    padding: 2px;
    width: 330px;
}

#content-fields {
    padding: 15px 0;
}

#content-fields div.val {
    border: solid 1px #999;
    height: 500px;
    overflow: auto;
    padding: 2px;
    width: 400px;
}

#content-fields textarea {
    height: 500px;
    padding: 2px;
    width: 340px;
}

#content-fields div.approved textarea {
    margin: 96px 0 0;
}

#content-fields .forum-editor {
    margin: 10px 0 0;
    padding: 0;
    width: 345px;
}

body.translate div.significance {
    padding: 15px 0;
}

#change-locale {
    display: none;
    width: 535px;
}

div.change-locale.open #change-locale {
    display: block;
}

#change-locale li {
    display: inline-block;
    list-style: none;
    width: 60px;
}

details.h2[open] {
    margin-bottom: 21px;
}

/* Headings aren't valid in <summary>s, and it makes me sad. */
details.h2 > summary {
    color: #333;
    font-size: 24px;
	margin: 21px 0 8px;
}

/* Document list pages */
#document-list ul.documents {
    margin: 10px 0;
}

#document-list ul.documents li {
    font-size: 14px;
    list-style: none;
    padding: 5px 0;
}

ol.pagination {
    border-top: solid 1px #9ACCF7;
    font-family: Verdana;
    margin: 20px 0;
    padding: 20px 0;
}

ol.pagination li {
    float: left;
    padding: 0 2px;
}

ol.pagination li.prev {
    padding-left: 0;
}

ol.pagination li a {
    float: left;
    padding: 3px 8px 5px;
}

ol.pagination li a:hover {
    text-decoration: underline;
}

ol.pagination li.prev a {
    padding-left: 0;
}

ol.pagination li.selected a {
    background: #447bc4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: default;
}

ol.pagination li.selected a:hover {
    text-decoration:none;
}

/* Revision history */
#revision-history {
    color: #666;
}

.choice-list {
    margin: 2em 0;
}

.choice-list ul {
    display: inline;
}

.choice-list li {
    display: inline-block;
    list-style: none;
    padding: 0 5px;
    font-weight: bold;
}

.choice-list li a {
    font-weight: normal;
}

#revision-list form {
    margin: 10px 0;
}

#revision-list ul {
    margin: 5px 0;
}

#revision-list li {
    list-style: none;
    padding: 4px 0;
}

#revision-list li:nth-child(odd) {
    background: #f2f2f2;
}

#revision-list li.current {
    background: #daedf6;
    border-bottom: solid 2px #a3b1b8;
    border-top: solid 2px #a3b1b8;
}

#revision-list li.current div.status {
    color: #223d61;
    font-weight: bold;
}

#revision-list li.rejected *,
#revision-list li.rejected div.creator {
    color: #999;
    text-decoration: line-through;
}

#revision-list div.radio {
    display: inline-block;
    text-align: center;
    width: 15px;
}

#revision-list div.date {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 115px;
}

#revision-list div.status {
    display: inline-block;
    width: 80px;
}

#revision-list div.status a {
    font-weight: bold;
}

#revision-list div.significance {
    display: inline-block;
    width: 35px;
}

#revision-list div.creator {
    color: #333;
    display: inline-block;
    width: 105px;
}

#revision-list div.comment {
    display: inline-block;
    width: 280px;
}

#revision-list div.delete {
    display: inline-block;
    text-align: center;
    width: 50px;
}

#revision-list div.compare {
    height: 20px;
    padding: 0 0 0 50px;
}

#revision-list div.compare.top {
    background: transparent url(../img/wiki/compare.arrows.png) no-repeat 4px 5px;
    padding-bottom: 5px;
}

#revision-list div.compare.bottom {
    background: transparent url(../img/wiki/compare.arrows.png) no-repeat 4px -40px;
    padding-top: 10px;
}

#revision-list div.compare input {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #447bc4;
    cursor: pointer;
    padding: 0;
    text-shadow: none;
}

/* Revision page */
div.revision-info {
    background: #f0f0f0;
    border: solid 1px #ccc;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
}

div.revision-info li {
    list-style-position: inside;
}

/* Review revision */
#review-revision > h3 {
    font-weight: bold;
    margin: 20px 0 0;
}

#revision-content,
#revision-html {
    margin: 10px 0;
}

#revision-content pre {
    white-space: pre-wrap;
}

body.review #actions {
    margin: 20px 0;
}

body.review #content-fields textarea {
    height: 250px;
}

body.review #content-fields textarea {
    margin: 5px 0 0;
}

.js form.pop-in {
    display: none;
}

form.pop-in legend {
    font-weight: bold;
}

#approve-modal,
#reject-modal,
.fixed-modal {
    color: #4B4740;
    left: 50%;
    margin-left: -220px;
    position: fixed;
    text-align: left;
    top: 100px;
    width: 400px;
    z-index:10;
}

#approve-modal.active,
#reject-modal.active,
.fixed-modal.active {
    display: block;
}

#approve-modal legend,
#reject-modal legend {
    width: 370px;
}

#approve-modal li {
    list-style: none;
    padding: 2px 5px;
}

#approve-modal div.message,
#reject-modal div.message {
    margin: 10px 0;
}

#approve-modal textarea,
#reject-modal textarea {
    height: 100px;
    width: 350px;
}

/* Revision diffs */
div.revision-diff div {
    display: inline-block;
    width: 364px;
}

div.revision-diff h3 {
    font-weight: bold;
    margin: 20px 0 0;
}

div.revision-diff h4 {
    font-weight: bold;
    margin: 10px 0 0;
}

table.diff {
    border: solid 1px #999;
    clear: both;
    font-family:Courier;
    margin: 5px 0 15px;
    width: 100%;
}

.diff_header {
    background-color:#e0e0e0;
}

td.diff_header {
    text-align:right;
}

.diff_next {
    background-color:#c0c0c0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77;
}

.diff_sub {
    background-color:#ffaaaa;
}

/* Delete Revision */
#delete-revision label {
    display: block;
    font-size: 16px;
    margin: 15px 0 0;
}

#delete-revision form {
    margin: 20px 0 0;
}

/* Submit commit message modal */
.js #submit-modal {
    display: none;
}

.js #submit-modal.active {
    display: block;
}

#submit-modal {
    color: #4B4740;
    left: 50%;
    margin-left: -220px;
    position: fixed;
    text-align: left;
    top: 150px;
    width: 400px;
    z-index:10;
}

#submit-modal legend {
    font-weight: bold;
    width: 370px;
}

#submit-modal div.comment,
#submit-modal div.notifications {
    margin: 10px 0;
}

#submit-modal label {
    display: block;
}

#submit-modal input[type="text"] {
    width: 300px;
}

/* Select locale for l10n page */
#select-locale ul.locales {
    font-size: 14px;
    margin: 15px;
}


/* Graceful fallback for <details> tags */
/* from http://mathiasbynens.be/notes/html5-details-jquery */

details, summary {
    display: block;
}

details {
    margin: 25px 0 0;
}

/* The .no-details styles will get applied only if JavaScript is enabled and <details> is not natively supported. */

/* Add focus styles (for keyboard accessibility) */
.no-details summary:focus {
    outline: dotted 1px;
}

.no-details summary:hover {
    background-color: #e6f1fb;
}

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we're still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */

/* Hide all direct descendants of every <details> element */
/* Note that IE6 doesn't support the child selector; we'll work around that using jQuery later */
.no-details details > * {
    display: none;
}

/* Make sure summary remains visible, and apply a pointer cursor upon hover to indicate it's a clickable element */
.no-details details summary {
    border-bottom: solid 1px #cadaeb;
    cursor: pointer;
    display: block;
    margin: 10px 0 30px;
}

.no-details details summary {
    background: transparent url(../img/wiki/bkg.collapsibles.png) no-repeat 5px 5px;
    padding: 0 0 0 30px;
}

.no-details details.open summary {
    background-position: 5px -45px;
}

/* Style video modal */
div.video-modal.pop-in {
    width: 680px;
    height: 550px;
    margin-left: -340px;
    position: fixed;
    text-align: left;
    top: 20px;
    z-index: 20;
}

div.video-modal {
    display: none;
}
