.article header .notice { clear: both; position: relative; top: -10px; margin: 10px 0 5px; padding: 10px 15px 0; background: #fcf6d4; border: 1px solid #e5d5c1; }
.article header .notice p { margin: 0 0 10px; }

#content #ace_content { position: relative; width: 100%; height: 500px; }
#content #ace_content .ace_warning,
#content #ace_content .ace_error {
  background-image: none;
}

/* @Meta *********/
.page-meta section { position: relative; overflow: hidden; background: #f5f5f1; padding: 15px 20px; margin: 0 0 20px; }
.page-meta h2 { margin: 0 20px 0 0; color: #666; font: 200 20px/1.1 "Bebas Neue", "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif; text-transform: uppercase; letter-spacing: .5px; }
.page-meta p.add { width: 190px; position: absolute; right: 20px; top: 12px; text-align: right; margin: 0; }
.page-meta p.add a { padding: 7px 8px 4px; display: inline-block; background: #a5d9f3; color: #333; font: 200 15px/1 "Bebas Neue", "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif; text-transform: uppercase; letter-spacing: .5px; border: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.25); -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.25); box-shadow: 1px 1px 0 rgba(0,0,0,.25); }
.page-meta p.add a:hover, .page-meta p.add a:focus, .page-meta p.add a:active { background-color: #ade4ff; text-decoration: none; }
.page-meta p.none { display: inline; }
.page-meta p.add a.disabled { opacity: .75; }

/* @Doc @Listings *********/
#document-list .documents { list-style: disc; margin-left: 20px; }
#document-list .documents li { margin: 0 0 .5em; }

/* @Translation *********/
.change-locale { font-size: .857em; float: left; clear: left; position: relative; top: -1.75em; }
#change-locale-link { display: inline-block; padding: .6em 20px .7em 8px; background: transparent url("../img/wiki/menu-arrow.png") 92% 0 no-repeat; }
#change-locale { position: absolute; left: -999em; z-index: 9999; width: 180px; background: #fff; border: 1px solid #c6c6c2; -moz-box-shadow: 2px 2px 0 rgba(170,160,130,.2); -webkit-box-shadow: 2px 2px 0 rgba(170,160,130,.2); box-shadow: 2px 2px 0 rgba(170,160,130,.2); }
#change-locale { padding: 6px 0; max-height: 300px; overflow: auto; }
#change-locale li { list-style: none; }
#change-locale a { display: block; padding: .25em 8px; }
#change-locale a:before { content: attr(title) " ("; }
#change-locale a:after { content: ")"; }
#change-locale a:hover, #change-locale a:focus, #change-locale a:active { background-color: #369; background-position: 92% -100px; color: #fff; text-decoration: none; text-shadow: 1px 1px 0 rgba(0,0,0,.25); }

.description li { clear: both; margin: 0 0 .5em; }
.description li:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.description dl { margin: 0; }
.description dt { display: inline-block; margin-right: 10px; font-style: normal; font-weight: bold; vertical-align: top; padding-top: 4px; }
.description dd { display: inline-block; margin-left: 0; }
.description .approved, #trans-content .approved { width: 49%; float: left; }
.description .localized, #trans-content .localized { width: 49%; float: right; }

#trans-content #cke_contents_wikiArticle { min-height: 800px; }

.translate-display {
  overflow-x: hidden;
}

.translate-display pre {
  white-space: normal;
}

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we're still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */

/* Revision diffs */
.revision-diff dt {
  clear: both;
  font-style: normal;
  font-weight: bold;
  padding-top: .5em;
  border-top: 1px dotted #ccc;
}

.revision-diff dd {
  margin: 0 0 .5em;
}

.revision-diff .rev-from {
  width: 49%;
  float: left;
}

.revision-diff .rev-to {
  width: 49%;
  float: right;
}

.revision-diff h3 {
    font-weight: bold;
    margin: 5px 0 0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77;
}

.diff_sub {
    background-color:#ffaaaa;
}

/* WYSIWYG-specific styles */
.ui-autocomplete {
  z-index: 100001 !important; /* Ugly, but have to do this for the autocomplete component to display on top of the CKEditor dialog */
  max-height: 200px;
  overflow: auto;
}
.cke_skin_kuma .cke_rcombo .cke_text {
  width: 130px !important;
}
.cke_skin_kuma .cke_rcombopanel {
  height: 280px !important;
}

/* Fixes autogrow + maximize issues */
.cke_maximized_editor #content-fields header {
  position: fixed !important;
  top: -200px !important;
}
.cke_maximized_editor div.cke_toolbox {
  position: relative !important;
  top: auto !important;
  width: auto !important;
}

/* Prism syntax highlighting */
pre[class*="language-"] { line-height: 1.5em; margin-bottom: 20px !important; }
pre[class*="language-"] span.comment { display: inherit; }
.error pre[class*="language-"] { margin: 10px 0 0 0 !important; background: none; }
pre[class*="language-"].twopartsyntaxbox { margin-bottom: 0 !important; }
pre[class*="language-"].twopartsyntaxbox, pre[class*="language-"].syntaxbox {
  background: #ffffee;
}

/* HTabs - Compatibility Tables */
.htab { margin: 0 auto 1em; display: inline-block; }
.htab > ul > li { background-image: none; width:150px; height:30px; list-style-type:none; display:inline; padding-bottom:3px; border: 1px solid #ddd; padding-top:5px; text-align:left; font-size:13px; font-weight:bold; margin:auto; position:relative; padding-left:6px; padding-right:6px; border-bottom:none; opacity:.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }
.htab > ul > li.selected { opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); border: 1px solid #ddd; border-bottom: none; z-index: 10; background-color: #f1f6f8 !important; position: relative; }
.htab > ul { width:150px; text-align:left; display:inline; padding:0; margin:0 auto; position:relative; top:1px; }
.htab > div { background-color: #f1f6f8; margin-top: 0px; border: 1px solid #ddd; padding: 12px; position: relative; z-index: 9; word-wrap: break-word; }
table.compat-table { border: 1px solid #bbb; border-collapse: collapse;}
table.compat-table td { padding: 5px; border: 1px solid #ccc; text-align: left; background: #fff; vertical-align: top; word-wrap: break-word; }
table.compat-table td.header, table.compat-table th { border: 1px solid #bbb; padding: 0 5px; background: #eee; text-align: left; font-weight: bold; }

/*** @SyntaxHighlighter style blocks *********/
article .syntaxhighlighter { width: auto !important; }

/* @RTL - flip the layout for right-to-left languages *********/
/* just a jump to the left... */
.html-rtl .user-state {
  float: left;
}

/* then a step to the right... */
.html-rtl #branding,
.html-rtl #title,
.html-rtl .pagination span,
.html-rtl #content-fields .approved,
.html-rtl .description .approved,
.html-rtl .change-locale {
  float: right;
}

.html-rtl .page-meta h2 { margin: 0 0 0 20px; }
.html-rtl .user-state { text-align: left; }
.html-rtl span.icon img { margin: 0 0 0 3px; }
.html-rtl .pagination .next { text-align: left; float: left !important; }
.html-rtl .pagination .prev { text-align: right; float: right !important; }
.html-rtl .pagination .prev a:before, .html-rtl .pagination .next a:after { content: ""; }
.html-rtl .pagination .prev a:after { content: "\00A0\00BB"; font-size: 1.1em; } /* space laquo */
.html-rtl .pagination .next a:before { content: "\00AB\00A0"; font-size: 1.1em; } /* raquo space */

.html-rtl .change-locale { clear: right; }
