/*
 * Knowledge Base CSS
 */

/* New / Edit Document */
#document-info li,
#document-form li {
    clear: both;
    list-style: none;
    padding: 5px 0;
}

#document-info li label,
#document-form li label {
    float: left;
    width: 125px;
}

#document-form li li {
    display: inline;
}

#document-form input[type="text"] {
    width: 300px;
}

#document-form textarea {
    width: 500px;
}

#document-form textarea[name="content"] {
    height: 500px;
}

/* Revision history */
#locale-list ul {
    display: inline;
}

#locale-list li {
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}

#revision-list form {
    margin: 10px 0;
}

#revision-list ul {
    margin: 10px 0;
}

#revision-list li {
    list-style: none;
}

#revision-list li.current {
    border-top: solid 1px #999;
    margin: 5px 0 0;
    padding: 5px 0 0;
}

#revision-list li.rejected * {
    color: #ccc;
    text-decoration: line-through;
}

#revision-list div.radio {
    display: inline-block;
    text-align: center;
    width: 15px;
}

#revision-list div.date {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 150px;
}

#revision-list div.status {
    display: inline-block;
    width: 90px;
}

#revision-list div.significance {
    display: inline-block;
    width: 35px;
}

#revision-list div.creator {
    display: inline-block;
    width: 125px;
}

#revision-list div.comment {
    display: inline-block;
    width: 400px;
}

/* Review revision */
body.review #main-content h3 {
    font-weight: bold;
    margin: 20px 0 0;
}

#revision-content,
#revision-html {
    margin: 10px 0;
}

body.review #actions {
    margin: 20px 0;
}

.js form.pop-in {
    display: none;
}

form.pop-in legend {
    font-weight: bold;
}

#review-modal {
    color: #4B4740;
    display: block;
    left: 50%;
    margin-left: -220px;
    padding: 20px;
    position: fixed;
    text-align: left;
    top: 100px;
    width: 400px;
    z-index:10;
}

/* Revision diffs */
#revision-diff header div {
    display: inline-block;
    width: 458px;
}

table.diff {
    border: solid 1px #999;
    clear: both;
    font-family:Courier;
    margin: 15px 0;
    width: 100%;
}

.diff_header {
    background-color:#e0e0e0;
}

td.diff_header {
    text-align:right;
}

.diff_next {
    background-color:#c0c0c0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77
}

.diff_sub {
    background-color:#ffaaaa
}
