/* styles for the WYSIWYG editor which we cannot take directly from screen.css */
html { background: #fff; }
html.maximized { overflow-y: auto !important; }
body { min-height: 400px; font: 14px/1.286 "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Lucida, Arial, Helvetica, sans-serif; margin: 0 auto; color: #333; padding: 0 20px; }

body.redesign-content {
  background: #fff !important;
  font: 14px/1.5 'Open Sans', sans-serif;
}

/* links */
:link { color: #369; text-decoration: none; }
:visited { color: #69c; text-decoration: none; }
:link:hover, :link:focus, :link:active { color: #25a; text-decoration: underline; }
:visited:hover, :visited:focus, :visited:active { color: #25a; text-decoration: underline; }

/* seo and callout plugin styles */
.seoSummary {
	padding: 3px;
	border: 1px dotted #ccc;
	position: relative;
}
.seoSummary:before {
	font-size: 10px;
	content: "SEO Summary";
	position: absolute;
	top: -16px;
	left: 0;
	z-index: 10;
	border: 1px dotted #fc0;
	background: #fffea1;
	display: block;
	opacity: 0.8;
	cursor: default;
}

.summary {
  background: #f4f7f8;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
}
.summary p:last-child {
  margin-bottom: 0;
}

/* syntax highlighter update */
pre {
	position: relative;
}
pre:before {
	font-size: 12px;
	font-family: arial, sans-serif;
	font-style: italic;
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 10;
	color: #666;
}

pre[class^="brush:js"]:before, pre[class^="brush: js"]:before {
	content: "JavaScript";
}
pre[class^="brush:json"]:before, pre[class^="brush: json"]:before {
	content: "JSON";
}
pre[class^="brush:css"]:before, pre[class^="brush: css"]:before {
	content: "CSS";
}
pre[class^="brush:bash"]:before, pre[class^="brush: bash"]:before {
	content: "Bash";
}
pre[class^="brush:cpp"]:before, pre[class^="brush: cpp"]:before {
	content: "C++";
}
pre[class^="brush:java"]:before, pre[class^="brush: java"]:before {
	content: "Java";
}
pre[class^="brush:html"]:before, pre[class^="brush: html"]:before {
	content: "HTML";
}
pre[class^="brush:php"]:before, pre[class^="brush: php"]:before {
	content: "PHP";
}
pre[class^="brush:python"]:before, pre[class^="brush: python"]:before {
	content: "Python";
}
pre[class^="brush:sql"]:before, pre[class^="brush: sql"]:before {
	content: "SQL";
}
pre[class^="brush:xml"]:before, pre[class^="brush: xml"]:before {
	content: "XML";
}