/* @Layout (wiki is liquid) *********/
.wrap { position: relative; width: 95%; min-width: 760px; max-width: 1200px; padding: 0 10px; margin: 0 auto; }
section#content, div#content { border-top: 0; }

textarea#id_content { width: 96%; padding: 15px; min-height: 300px; }

/* page attachments */
@-moz-keyframes newAttachment {
  0% { background-color: #90ee90; }
  100% { background-color: transparent; }
}
@-webkit-keyframes newAttachment {
  0% { background-color: #90ee90; }
  100% { background-color: transparent; }
}
@keyframes newAttachment {
  0% { background-color: #90ee90; }
  100% { background-color: transparent; }
}
#page-attachments { clear: both; }
#page-attachments table  { margin: 20px 0 0 0; width: 100%; border: 1px solid #E0E0DC; border-bottom:0; border-right:0; border-collapse: collapse; }
#page-attachments .hidden { display:none; }
#page-attachments th, #page-attachments td { padding: 5px; border-bottom: 1px solid #E0E0DC; border-right: 1px solid #E0E0DC; vertical-align:top; }
#page-attachments th { font-weight:bold; color: #666; }
#page-attachments td { font-size: .9em; }
#page-attachments .attachment-description { font-size: .9em; font-style: italic; }
#page-attachments .attachment-name-cell { width: 40%; }
#page-attachments .attachment-error { color: #900; font-size: .9em; }
#page-attachments-new-table input[type="text"] { width: 90%; }
#page-attachments-new-table .attachment-required { border: 1px solid #900; }
#page-attachments-new-table textarea { height: 40px; }
#page-attachments-upload-target { visibility: hidden; height: 1px; width: 1px; }
#page-attachments-spinner { opacity: 0; display: inline-block; width: 16px; height:16px; margin-left: 10px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  }

.title { position: relative; margin-bottom: 0.8em; }
.title:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; } /* clear floats */
.title h1 { /* float: left; */ width: 60%; padding-left: 18px; margin-bottom: 0; padding-bottom: 0; }
.title .redirected-from, .title .offline-notice { padding: 5px 0 0 18px; font-size: 0.785em; }

.edited-section { display: none; }
.edited-section a.edit-section { display: none; }
.edited-section-loading { display: block; opacity: 0.25; }
.edited-section-loading a.edit-section { display: block; }
.edited-section-loading a.edit-section:before { content: "\26a1\00a0"; }

.editing .metadata { float: left; width: 55%; display: none; }
.new .editing .metadata { display: block; }
.editing ul.metadata li { margin: 0; padding: 0; clear: both; }
.editing ul.metadata li label { display: block; float: left; line-height: 2.5em; text-align: right; width: 10ex; font-weight: bold; padding-right: 0.25em; color: #888; }
.editing ul.metadata li label.inline { color:#000; width:auto; font-weight:normal; float:none; text-align:left; display:inline-block; padding-left:34px; }
.editing ul.metadata li .show_toc_block { padding: 7px 0 0 0; }
.editing ul.metadata li #show_toc_depth_block { margin-left: -12px; }
.editing ul.metadata li input, .editing ul.metadata li input#id_title { font-size: 1em; padding: 6px 8px; margin: 2px 0px; width: 70%; }
.editing ul.metadata li input[type="checkbox"] { width: auto; margin-left: 6px; }
.editing ul.metadata li .metadataDisplay { display:inline-block; padding: 8px 0 0 3px; }
.editing ul.metadata li.metadata-choose-parent { padding: 10px; border: 1px solid #d4dde4; font-size: 90%; background: #eaeff2; background: linear-gradient(top, #eaeff2, #d4dde4); background: -moz-linear-gradient(top, #eaeff2, #d4dde4); background: -webkit-linear-gradient(top, #eaeff2, #d4dde4); border-radius: 10px; margin: 0 10px; display: none; }
.editing ul.metadata li.metadata-choose-parent #parent_text { display: inline-block; margin-top:10px; }

.editing .title { float: left; width: 55%; }
.editing .title h1 { display: inline-block; width: auto; float: none; color: #888; float:left; }
.editing .title h1 em { color: #333; font-style: normal; }
.editing #btn-properties { font-weight: bold; }

.editing .save-state { font-size: .85em; margin: -1.75em 0 1.5em; color: #888; padding-left: 20px; clear:both; }

#page-buttons { width: 50%; text-align: right; margin: 0; position: absolute; right: 4px; top: 20px; }
#page-buttons li { margin: 0 0 2px 10px; }
#page-buttons li, #page-buttons form { display: inline; padding: 0; background: none; }
#page-buttons a, #page-buttons button, #page-buttons input { display: inline-block; padding: 6px 8px 3px; color: #333; font: 200 15px/1 "Bebas Neue", "League Gothic", Haettenschweiler, sans-serif; text-transform: uppercase; letter-spacing: .5px; border: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.25); -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.25); box-shadow: 1px 1px 0 rgba(0,0,0,.25); background-color: #ddd; }
#page-buttons a:hover, #page-buttons a:focus, #page-buttons a:active { text-decoration: none; }
#page-buttons a, #page-buttons input, #page-buttons button { padding: 7px 8px 4px; }
#page-buttons .page-edit a { background: #a5d9f3; }
#page-buttons .page-edit a:hover, #page-buttons .page-edit a:focus, #page-buttons .page-edit a:active { background-color: #ade4ff; text-decoration: none; }
#page-buttons .page-edit a.disabled { cursor: pointer; opacity: .75; background-color: #c8e6ed; }
#page-buttons .page-watch button { background: #f2d29e; }
#page-buttons .page-watch button::-moz-focus-inner { border: 0; padding: 0; }
#page-buttons .page-watch button:hover, #page-buttons .page-watch a:focus, #page-buttons .page-watch a:active { background-color: #f8daa9; text-decoration: none; }
#page-buttons .page-watch button.disabled { cursor: pointer; opacity: .75; background-color: #f0e4c7; }

.article header .notice { clear: both; position: relative; top: -10px; margin: 10px 0 5px; padding: 10px 15px 0; background: #fcf6d4; border: 1px solid #e5d5c1; }
.article header .notice p { margin: 0 0 10px; }

#content #ace_content { position: relative; width: 100%; height: 500px; }
#content #ace_content .ace_warning,
#content #ace_content .ace_error {
  background-image: none;
}

@media screen and (max-width: 890px) {
  #page-buttons a, #page-buttons button { font-size: 14px; }
}

/* @Meta *********/
.page-meta section { position: relative; overflow: hidden; background: #f5f5f1; padding: 15px 20px; margin: 0 0 20px; }
.page-meta h2 { margin: 0 20px 0 0; color: #666; font: 200 20px/1.1 "Bebas Neue", "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif; text-transform: uppercase; letter-spacing: .5px; }
.page-meta p.add { width: 190px; position: absolute; right: 20px; top: 12px; text-align: right; margin: 0; }
.page-meta p.add a { padding: 7px 8px 4px; display: inline-block; background: #a5d9f3; color: #333; font: 200 15px/1 "Bebas Neue", "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif; text-transform: uppercase; letter-spacing: .5px; border: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.25); -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.25); box-shadow: 1px 1px 0 rgba(0,0,0,.25); }
.page-meta p.add a:hover, .page-meta p.add a:focus, .page-meta p.add a:active { background-color: #ade4ff; text-decoration: none; }
.page-meta p.none { display: inline; }
.page-meta p.add a.disabled { opacity: .75; }

/* @Doc @Listings *********/
#document-list .documents { list-style: disc; margin-left: 20px; }
#document-list .documents li { margin: 0 0 .5em; }

/* @Translation *********/
.change-locale { font-size: .857em; float: left; clear: left; position: relative; top: -1.75em; }
#change-locale-link { display: inline-block; padding: .6em 20px .7em 8px; background: transparent url("../img/wiki/menu-arrow.png") 92% 0 no-repeat; }
#change-locale { position: absolute; left: -999em; z-index: 9999; width: 180px; background: #fff; border: 1px solid #c6c6c2; -moz-box-shadow: 2px 2px 0 rgba(170,160,130,.2); -webkit-box-shadow: 2px 2px 0 rgba(170,160,130,.2); box-shadow: 2px 2px 0 rgba(170,160,130,.2); }
#change-locale { padding: 6px 0; max-height: 300px; overflow: auto; }
#change-locale li { list-style: none; }
#change-locale a { display: block; padding: .25em 8px; }
#change-locale a:before { content: attr(title) " ("; }
#change-locale a:after { content: ")"; }
#change-locale a:hover, #change-locale a:focus, #change-locale a:active { background-color: #369; background-position: 92% -100px; color: #fff; text-decoration: none; text-shadow: 1px 1px 0 rgba(0,0,0,.25); }

.editing summary { font-size: 1.428em; margin: 0 0 .5em; padding-left: 40px; cursor: pointer; }

.description li { clear: both; margin: 0 0 .5em; }
.description li:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.description dl { margin: 0; }
.description dt { display: inline-block; margin-right: 10px; font-style: normal; font-weight: bold; vertical-align: top; padding-top: 4px; }
.description dd { display: inline-block; margin-left: 0; }
.description .approved, #trans-content .approved { width: 49%; float: left; }
.description .localized, #trans-content .localized { width: 49%; float: right; }

#trans-description { margin: 0 0 1em; }
#trans-content { margin: 0 0 1em; }

#trans-content #cke_contents_wikiArticle { min-height: 800px; }

.translate-display {
  overflow-x: hidden;
}

.translate-display pre {
  white-space: normal;
}



/* The .no-details styles will get applied only if JavaScript is enabled and <details> is not natively supported. */
/* Add focus styles (for keyboard accessibility) */
.no-details summary:hover, .no-details summary:focus { background: rgba(170,160,130,.1); outline: 0; }
.no-details summary:before { content: "+"; float: left; margin: -.225em 0 0 -35px; font-size: 1.25em; }
.no-details .open summary:before { content: "–"; float: left; margin: -.25em 0 0 -32px; font-size: 1.25em; }

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we're still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */

/* Revision diffs */
.revision-diff dt {
  clear: both;
  font-style: normal;
  font-weight: bold;
  padding-top: .5em;
  border-top: 1px dotted #ccc;
}

.revision-diff dd {
  margin: 0 0 .5em;
}

.revision-diff .rev-from {
  width: 49%;
  float: left;
}

.revision-diff .rev-to {
  width: 49%;
  float: right;
}

.revision-diff h3 {
    font-weight: bold;
    margin: 5px 0 0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77;
}

.diff_sub {
    background-color:#ffaaaa;
}

/* WYSIWYG-specific styles */
.ui-autocomplete {
  z-index: 100001 !important; /* Ugly, but have to do this for the autocomplete component to display on top of the CKEditor dialog */
  max-height: 200px;
  overflow: auto;
}
.cke_skin_kuma .cke_rcombo .cke_text {
  width: 130px !important;
}
.cke_skin_kuma .cke_rcombopanel {
  height: 280px !important;
}

/* Fixes autogrow + maximize issues */
.cke_maximized_editor #content-fields header {
  position: fixed !important;
  top: -200px !important;
}
.cke_maximized_editor div.cke_toolbox {
  position: relative !important;
  top: auto !important;
  width: auto !important;
}

/* Prism syntax highlighting */
pre[class*="language-"] { line-height: 1.5em; margin-bottom: 20px !important; }
pre[class*="language-"] span.comment { display: inherit; }
.error pre[class*="language-"] { margin: 10px 0 0 0 !important; background: none; }
pre[class*="language-"].twopartsyntaxbox { margin-bottom: 0 !important; }
pre[class*="language-"].twopartsyntaxbox, pre[class*="language-"].syntaxbox {
  background: #ffffee;
}

/* HTabs - Compatibility Tables */
.htab { margin: 0 auto 1em; display: inline-block; }
.htab > ul > li { background-image: none; width:150px; height:30px; list-style-type:none; display:inline; padding-bottom:3px; border: 1px solid #ddd; padding-top:5px; text-align:left; font-size:13px; font-weight:bold; margin:auto; position:relative; padding-left:6px; padding-right:6px; border-bottom:none; opacity:.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }
.htab > ul > li.selected { opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); border: 1px solid #ddd; border-bottom: none; z-index: 10; background-color: #f1f6f8 !important; position: relative; }
.htab > ul { width:150px; text-align:left; display:inline; padding:0; margin:0 auto; position:relative; top:1px; }
.htab > div { background-color: #f1f6f8; margin-top: 0px; border: 1px solid #ddd; padding: 12px; position: relative; z-index: 9; word-wrap: break-word; }
table.compat-table { border: 1px solid #bbb; border-collapse: collapse;}
table.compat-table td { padding: 5px; border: 1px solid #ccc; text-align: left; background: #fff; vertical-align: top; word-wrap: break-word; }
table.compat-table td.header, table.compat-table th { border: 1px solid #bbb; padding: 0 5px; background: #eee; text-align: left; font-weight: bold; }

/*** @SyntaxHighlighter style blocks *********/
article .syntaxhighlighter { width: auto !important; }

/* @RTL - flip the layout for right-to-left languages *********/
/* just a jump to the left... */
.html-rtl .user-state,
.html-rtl #page-buttons li {
  float: left;
}

/* then a step to the right... */
.html-rtl #branding,
.html-rtl #title,
.html-rtl .pagination span,
.html-rtl #content-fields .approved,
.html-rtl .description .approved,
.html-rtl .editing .title,
.html-rtl .change-locale,
.html-rtl .editing .title h1 {
  float: right;
}

.html-rtl .page-meta h2 { margin: 0 0 0 20px; }
.html-rtl #page-buttons { right: auto; left: 20px; }
.html-rtl .user-state { text-align: left; }
.html-rtl span.icon img { margin: 0 0 0 3px; }
.html-rtl .pagination .next { text-align: left; float: left !important; }
.html-rtl .pagination .prev { text-align: right; float: right !important; }
.html-rtl .pagination .prev a:before, .html-rtl .pagination .next a:after { content: ""; }
.html-rtl .pagination .prev a:after { content: "\00A0\00BB"; font-size: 1.1em; } /* space laquo */
.html-rtl .pagination .next a:before { content: "\00AB\00A0"; font-size: 1.1em; } /* raquo space */

.html-rtl .change-locale { clear: right; }
