/* styles for the WYSIWYG editor which we cannot take directly from screen.css */
html { background: #f6f6f1 url("../img/bg-content.png") fixed; }
body { min-height: 400px; font: 14px/1.286 "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Lucida, Arial, Helvetica, sans-serif; margin: 0 auto; color: #333; }

/*** @Links *********/
:link { color: #369; text-decoration: none; }
:visited { color: #69c; text-decoration: none; }
:link:hover, :link:focus, :link:active { color: #25a; text-decoration: underline; }
:visited:hover, :visited:focus, :visited:active { color: #25a; text-decoration: underline; }

/* seo plugin styles */
.seoSummary {
	padding: 3px;
	border: 1px dotted #ccc;
	position: relative;
}
.seoSummary:before {
	font-size: 10px;
	content: "SEO Summary";
	position: absolute;
	top: -16px;
	left: 0;
	z-index: 10;
	border: 1px dotted #fc0;
	background: #fffea1;
	display: block;
	opacity: 0.8;
	cursor: default;
};