/*
 * Knowledge Base CSS
 */

/* Notification watch buttons */
#doc-watch {
    margin: 20px 0 0 20px;
}

#doc-watch input {
    margin: 0 0 10px;
}

/* Document view */
#main-content #wiki-doc {
    padding-right: 0;
}

#related-articles {
    float: right;
    font-size: 13px;
    padding: 0 1px 0 0;
    width: 249px;
}

#toc {
    font-size: 13px;
    margin-left: -50px;
    padding: 0 0 25px;
}

#related-articles h1,
#toc h1,
#toc h2 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    padding: 0 0 10px 50px;
}

#related-articles li {
    background: transparent url(../img/wiki/list.divider.png) no-repeat left bottom;
    list-style: none;
    padding: 10px 0 10px 50px;
}

#related-articles li:last-child {
    background: none;
}

html.no-js .hide-if-no-js {
    display: none;
}

article #toc ol li {
    list-style-type: none;
}

article #toc ol li,
article #toc ul li {
    background: transparent url(../img/wiki/list.divider.png) no-repeat left bottom;
    list-style-position: inside;
    padding: 10px 0 10px 50px;
}

article #toc ol,
article #toc ul {
    margin: 0;
}

article #toc ul li {
    list-style: none;
}

#toc ol ol,
#toc ul ul {
    margin: 0 0 0 20px;
}

#toc ol ol li,
#toc ul ul li {
    background: none;
    padding: 0;
}

#doc-content {
    color: #666;
    margin: 35px 0;
    padding: 0 20px 0 0;
}

#more-help {
    background: transparent url(../img/wiki/morehelp.nurse.png) no-repeat left top;
    min-height: 220px;
    padding: 25px 0 0 175px;
}

#more-help div.wrap {
    background: #deeff8;
    background: -moz-linear-gradient(top, #deeff8, #ebf8ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#deeff8), to(#ebf8ff));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    min-height: 110px;
    padding: 25px 20px;
    position: relative;
}

#more-help h2 {
    font-size: 20px;
    font-style: italic;
    padding: 0 0 15px;
}

#more-help ul {
    border-right: dotted 2px #6292cf;
    width: 275px;
}

#more-help ul ul {
    border: none;
    width: auto;
}

#more-help li {
    list-style: none;
    padding: 0 0 10px;
}

#more-help li li {
    list-style: disc;
    list-style-position: inside;
    padding: 2px 0 2px 10px;
}

#more-help div.support-search {
    left: 325px;
    position: absolute;
    top: 65px;
    width: 235px;
}

#more-help div.support-search form {
    margin: 15px 0 0;
}

#more-help div.support-search input.text {
    width: 146px;
}

#support-for {
    margin: 30px 0 0 50px;
}

.js #support-for select {
    visibility: hidden;
}

#support-for h1 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 5px;
    padding: 0 0 0 5px;
}

#support-for input {
    background: transparent url(../img/wiki/bkg.showfor.selector.gif) no-repeat 6px 5px;
    border: none;
    color: #32559b;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 0 2px 20px;
}

#support-for div.selectbox-wrapper {
    position: relative;
}

#support-for div.selectbox-wrapper ul {
    background: #32559b;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    left: 0;
    list-style: none;
    padding: 10px 5px;
    position: absolute;
    top: 5px;
    width: 130px;
}

#support-for div.selectbox-wrapper ul:after {
    background: #32559b;
    content: '';
    display: block;
    height: 15px;
    left: 3px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: -6px;
    width: 15px;
    z-index: 1;
}

#support-for div.selectbox-wrapper li {
    color: #6fbcff;
    cursor: pointer;
    padding: 2px 0 2px 15px;
    position: relative;
}

#support-for div.selectbox-wrapper li.selected {
    background: transparent url(../img/wiki/bkg.showfor.selector.gif) no-repeat 2px -44px;
    color: #fff;
}

#support-for div.selectbox-wrapper li.current {
    color: #fff;
}

#doc-contributors {
    color: #aaa;
    margin: 0 0 25px;
}

#doc-contributors a {
    color: #aaa;
}

#doc-contributors a:hover {
    color: #447BC4;
    text-decoration: underline;
}

/* Wiki Document content */
#doc-content {
    font-size: 14px;
    line-height: 1.5em;
}

/* Blocks in the content that need margins. */
#doc-content p,
#doc-content pre,
#doc-content .warning,
#doc-content .note {
    margin: 1em 0;
}

/* NOTE:
`#doc-content h1-6` -> These inherit color from `h1-6` above
*/

#doc-content h1 {
    font-size: 22px;
    margin: 21px 0 8px;
}

#doc-content h2 {
    font-size: 19px;
    margin: 21px 0 8px;
}

#doc-content h3 {
    font-size: 16px;
    margin: 21px 0 8px;
}

#doc-content h4,
#doc-content h5,
#doc-content h6 {
    font-size: 14px;
    margin: 21px 0 8px;
}

#doc-content ol,
#doc-content ul,
#doc-content dd {
    margin: 1em 0 1em 21px;
}

#doc-content li {
    margin: 0.2em 0;
}

#doc-content li p {
    margin: 0;
}

#doc-content li ol,
#doc-content li ul {
    margin: 0 0 0 21px;
}

#doc-content .code {
}

#doc-content .filepath {
    font-style: italic;
    white-space: nowrap;
}

#doc-content .key,
#doc-content .button {
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0, #fcfcfc);
    background: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#fcfcfc));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #303030;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    white-space: nowrap;
}

#doc-content .key {
    font-family: monospace;
    padding: 1px 6px;
}

#doc-content .button {
    padding: 1px 10px;
}

#doc-content .menu {
    background: #e8e8e8;
    color: #303030;
    padding: 2px 4px;
}

#doc-content .note {
   background: #F5F5FF;
   color: #626266;
   padding: .5em 1em;
}

#doc-content .warning, #page-content .warning {
   background: #FFF9DB url(../img/wiki/bkg.warning.png) repeat-y left top;
   color: #666458;
   padding: .5em 1em;
   padding-left: 2em;
}

#doc-content .pref {
    border: solid 1px #ddd;
    color: #303030;
    padding: 0 3px;
}

/* helpful vote form */
#helpful-vote {
    color: #666;
    font-size: 16px;
    font-style: italic;
    margin: 10px 0 30px;
    padding: 10px 0;
}

#helpful-vote input {
    background: #cde6f5;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #3862a9;
    cursor: pointer;
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 3px 10px;
}

#helpful-vote input[disabled] {
    background: #ddd;
    color: #888;
    cursor: default;
}

#helpful-vote input.active {
    background: #32559b;
    color: #fff;
}

#helpful-vote img.wait {
    display: none;
}

#helpful-vote form.busy img.wait {
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
    top: 3px;
}

div.message-box {
    background: #32559b;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #fff;
    font-family: Georgia;
    font-size: 14px;
    left: 0;
    padding: 7px 20px;
    position: absolute;
    top: 0;
}

div.message-box p {
    position: relative;
    z-index: 2;
}

div.message-box:after {
    background: #32559b;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    content: '';
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: 20px;
    width: 20px;
    z-index: 1;
}

/* New / Edit / Translate Document */
#document-form form {
    padding: 0 0 20px;
}

#document-form form > ul,
#document-form div.relevant-to {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#document-form div.relevant-to ul {
    width: 100%;
}

#revision-form form li,
#document-form form li {
    clear: both;
    list-style: none;
    padding: 15px 0;
}

#document-form div.tags li {
    /* Keep the padding between the tag widgets less than that between the fields. */
    padding: 0;
}

#document-form div.relevant-to h2,
article.form-page form li label {
    color: #333;
    display: block;
    font-family: Verdana;
    font-size: 13px;
    margin: 0 0 5px;
}

#document-form div.relevant-to h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 0;
}

#document-form div.relevant-to li li {
    display: inline-block;
    padding: 2px 0;
    width: 150px;
}

#document-form li li label {
    color: #666;
    display: inline;
}

#document-form label[for="id_is_localizable"] {
    display: inline;
}

#document-form #id_is_localizable {
    margin: 0 .5em;
}

#document-form li ul.errorlist,
ul.description li ul.errorlist {
    display: block;
    padding: 2px 0;
    margin: 0;
    width: auto;
}

#document-form li ul.errorlist li,
ul.description li ul.errorlist li {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

article.main textarea[name="content"] {
    height: 500px;
}

article.main .editor {
    float: left;
    padding: 0;
    width: 711px;
}

article.main div.tags input.adder {
    /* Make the Add button look subordinate to the form's larger Save button. */
    font-size: 80%;
    padding: 2px 18px 3px;
    margin: 0 0 0 5px;
}

#preview {
    margin: 20px 0 0;
    position: relative;
}

#preview #support-for {
    margin: 0;
    position: absolute;
    right: -165px;
    top: 0;
    width: 165px;
}

/* Move page styles */
.move-page dl {
  width: auto;
}
.move-page dt {
  width: 120px;
}

.move-page input[type=text] {
  width: 400px;
}

.parent-suggest-container {
  position: relative;
}

  .parent-suggest-container.show .move-lookup-link {
    display: none;
  }

  .parent-suggest-container.show #parent-suggest-input-container {
    display: block;
    opacity: 1;
    top: -22px;
    left: 0;

    -webkit-transition-property: opacity, top;
    -webkit-transition-duration: .4s;

    -moz-transition-property: opacity, top;
    -moz-transition-duration: .4s;
  }

.move-lookup-link {
  display: inline-block; 
  margin-left: 40px; 
  font-size: 0.8em;
}
#parent-suggest-input-container {
  padding: 10px;
  background: #eaeff2;
  background: linear-gradient(top, #eaeff2, #d4dde4);
  background: -moz-linear-gradient(top, #eaeff2, #d4dde4);
  background: -webkit-linear-gradient(top, #eaeff2, #d4dde4);
  border: 1px solid #d4dde4;
  box-shadow: 0 5px 10px #ccc;
  position: absolute;
  margin-left: 20px;
  opacity: 0;
  top: -10px;
  left: -90000px;
}
#parent-suggest-input-container:before {
  position: absolute;
  display: inline-block;
  border-top: 7px solid transparent;
  border-right: 7px solid #dfe6eb;
  border-bottom: 7px solid transparent;
  left: -7px;
  top: 20px;
  content: '';
}
#parent-suggest-input-container:after {
  position: absolute;
  display: inline-block;
  border-top: 6px solid transparent;
  border-right: 6px solid #dfe6eb;
  border-bottom: 6px solid transparent;
  left: -6px;
  top: 21px;
  content: '';
}
#parent-suggestion  {
  width: 300px;
}

.move-descendants {
  border: 1px solid #dfe6eb;
  padding: 10px 10px 0 10px;
  background: #eaeff2;
  resize: vertical;
  margin-bottom: 20px;
}
.move-descendants a {
  display: inline-block;
  margin: 0 0 10px 0;
  font-size: 80%;
}

.move-page .warning {
    color: #fff;
}
.warning .move-descendants-list {
    padding: 0 0 20px 20px;
}

.move-descendants-list {
    margin-left: 20px;
    list-style-type: circle;
}

.move-page #page-buttons {
  right: auto;
  top: auto;
  text-align: left;
  margin: 20px 0;
  position: relative;
}

/* Revision history */
#revision-history {
    color: #666;
}

.choice-list {
    margin: 2em 0;
}

.choice-list ul {
    display: inline;
}

.choice-list li {
    display: inline-block;
    list-style: none;
    padding: 0 5px;
    font-weight: bold;
}

.choice-list li a {
    font-weight: normal;
}

#revision-list form {
    margin: 10px 0;
}

#revision-list ul {
    margin: 5px 0;
    min-width: 1200px;
}

#revision-list li {
    list-style: none;
    padding: 4px 0;
}

#revision-list li:nth-child(odd) {
    background: rgba(170,160,130,.1);
}

#revision-list li.current {
    background: rgba(198,198,175,.25);
    border-bottom: solid 2px #b8b5a3;
    border-top: solid 2px #b8b5a3;
}

#revision-list li.current div.status {
    color: #223d61;
    font-weight: bold;
}

#revision-list li.rejected *,
#revision-list li.rejected div.creator {
    color: #999;
    text-decoration: line-through;
}

#revision-list div.radio {
    display: inline-block;
    text-align: center;
    width: 15px;
}

#revision-list div.date {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 190px;
}

#revision-list div.status {
    display: inline-block;
    width: 80px;
}

#revision-list div.status a {
    font-weight: bold;
}

#revision-list div.creator {
    color: #333;
    display: inline-block;
    width: 175px;
}

#revision-list div.comment {
    display: inline-block;
    width: 460px;
}

#revision-list div.delete {
    display: inline-block;
    text-align: center;
    width: 50px;
}

#revision-list div.compare {
    height: 20px;
    padding: 0 0 0 50px;
}

#revision-list div.compare.top {
    background: transparent url(../img/wiki/compare.arrows.png) no-repeat 4px 5px;
    padding-bottom: 5px;
}

#revision-list div.compare.bottom {
    background: transparent url(../img/wiki/compare.arrows.png) no-repeat 4px -40px;
    padding-top: 10px;
}

/* Revision page */
div.revision-info li {
    list-style-position: inside;
}

#doc-source textarea {
    height: 400px;
    width: 100%;
}

/* Review revision */
#review-revision > h3 {
    font-weight: bold;
    margin: 20px 0 0;
}

#revision-content,
#revision-html {
    margin: 10px 0;
}

#revision-content pre {
    white-space: pre-wrap;
}

body.review #actions {
    margin: 20px 0;
}

body.review #content-fields textarea {
    height: 250px;
}

body.review #content-fields textarea {
    margin: 5px 0 0;
}

#approve-modal li {
    list-style: none;
    padding: 2px 5px;
}

#approve-modal div.message,
#reject-modal div.message {
    margin: 10px 0;
}

#approve-modal textarea,
#reject-modal textarea {
    height: 100px;
    width: 350px;
}


/* Submit commit message modal */
#submit-modal div.comment,
#submit-modal div.notifications {
    margin: 10px 0;
}

#submit-modal label {
    display: block;
}

#submit-modal input[type="text"] {
    width: 400px;
}


/* Style video modal */
div.video .kbox-container {
    width: 680px;
    height: 550px;
    text-align: left;
}


/* Slug change for revision dashboard and wiki */
.slug-change {
    background: #D4DDE4;
    border: 1px solid #CAE1F4;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    margin: 4px 0;
    clear: both;
}

.slug-change strong {
    color: #444;
}
