{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from "dashboards/includes/macros.html" import print_readout %}
{% set title = _('Contributor Dashboard') %}
{% set scripts = ('wiki',) %}
{% set styles = ('wiki',) %}
{# TODO: Move required dashboard styles/scripts out of wiki.css into their own or refactor up? #}

{% block content %}
  <article id="localize" class="main dashboards">
    <div id="breadcrumbs">
      {{ _('You are here:') }}
      {{ breadcrumbs([(None, _(title))]) }}
    </div>

    <h1>{{ title }}</h1>

    {% if default_locale_name != current_locale_name %}
      <div class="choice-list">
        <label>{{ _('Show information for:') }}</label>
        <ul>
          <li>
            {{ default_locale_name }}
          </li>
          <li>
            <a href="{{ url('dashboards.localization') }}">{{ current_locale_name }}</a>
          </li>
        </ul>
      </div>
    {% endif %}

    {{ print_readout(readouts['unreviewed'], 'dashboards.contributors_detail', locale=default_locale) }}
  </article>
{% endblock %}

{% block side %}
  <div id="doc-watch">
    {% with locale=request.locale, user=user %}
      {% include 'dashboards/includes/watch_locale.html' %}
      {% include 'dashboards/includes/watch_approved.html' %}
    {% endwith %}
    {% if request.locale != settings.WIKI_DEFAULT_LANGUAGE %}
      {% with locale=settings.WIKI_DEFAULT_LANGUAGE, user=user %}
        {% include 'dashboards/includes/watch_approved.html' %}
      {% endwith %}
    {% endif %}
  </div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
