{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from "dashboards/includes/macros.html" import print_readout %}
{% set title = _('Contributor Dashboard') %}
{% set scripts = ('wiki',) %}
{% set styles = ('wiki',) %}
{% set crumbs = [(None, title)] %}
{# TODO: Move required dashboard styles/scripts out of wiki.css into their own or refactor up? #}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
  <article id="localize" class="main dashboards">
    <h1>{{ title }}</h1>

    {% if default_locale_name != current_locale_name %}
      <div class="choice-list">
        <label>{{ _('Show information for:') }}</label>
        <ul>
          <li>
            {{ default_locale_name }}
          </li>
          <li>
            <a href="{{ url('dashboards.localization') }}">{{ current_locale_name }}</a>
          </li>
        </ul>
      </div>
    {% endif %}

    {% for readout in readouts.itervalues() %}
      {{ print_readout(readout, 'dashboards.contributors_detail', locale=default_locale) }}
    {% endfor %}
  </article>
    </div>
  </div>
</section>
{% endblock %}

{% block side %}
  <div id="doc-watch">
    {% with locale=request.locale %}
      {% include 'dashboards/includes/watch_locale.html' %}
      {% include 'dashboards/includes/watch_approved.html' %}
    {% endwith %}
    {% if request.locale != settings.WIKI_DEFAULT_LANGUAGE %}
      {% with locale=settings.WIKI_DEFAULT_LANGUAGE,
              is_watching_approved=is_watching_approved_default %}
        {% include 'dashboards/includes/watch_approved.html' %}
      {% endwith %}
    {% endif %}
  </div>
{% endblock %}
