{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from "includes/common_macros.html" import search_box %}
{% set styles = ('wiki', 'home') %}
{% set scripts = ('wiki',) %}
{% set classes = ('home desktop') %}
{% set title = _('Firefox Support Home Page') %}
{% set hide_header_search = True %}
{% set active_side_link = 1 %}

{% block content %}
  <div id="featured-wrap">{# Top area, includes "Need Help With FIREFOX?" #}
    <div id="featured">
      <h1>{{ _('Need Help With <mark>Firefox?</mark>')|safe }}</h1>
      <p>{% trans %}
        You've come to the right place! Start by searching our site below,
        or browse our list of popular support articles. If you can't find the
        answer you need, our community of volunteers are ready to help
        you find a solution.
      {% endtrans %}</p>
      {{ search_box(settings, id='support-search') }}
    </div>
  </div>
  <div id="home-content">
    <div id="home-content-quick">
      {{ quick.html|safe }}
    </div>
    <div id="home-content-explore">
      {{ explore.html|safe }}
    </div>
  </div>
{% endblock %}

{% block side %}
  {% include 'wiki/includes/support_for_selectors.html' %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
