{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import for_contributors, quick_links %}
{% set title = readout.title %}

{% block content %}
  <article class="main dashboards">
    <div id="breadcrumbs">
      {{ _('You are here:') }}
      {{ breadcrumbs([(url(main_dash_view), main_dash_title), (None, readout.title)]) }}
    </div>

    <h1>{{ readout.title }}</h2>

    <table class="documents">
      {{ readout.render()|safe }}
    </table>
  </article>
{% endblock %}

{% block side %}
  {{ for_contributors(user) }}
  {{ quick_links() }}
{% endblock %}
