{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "common/base.html" %}
{% set title = _('Viewing Forum') %}

{% block content %}
  <h2>{{ forum.name }}</h2>
  
  {% if threads %}
    <ul>
      {% for thread in threads %}
        <li><a href="{{ url('forums.posts', forum_slug=forum.slug, thread_id=thread.id) }}">{{ thread.title }}</a><br/>
          Last post by {{ thread.last_post.author.username }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no threads. Maybe you should create some!</p>
  {% endif %}
{% endblock %}
