div.note {
    background: rgba-fallback(rgba(231, 228, 157, 0.25));
    border-color: rgba-fallback(rgba(231,228,157,0.15));
    border-style: solid;
    border-width: 5px;
    color: rgba-fallback(rgba(0, 0, 0, 0.65));
    font-style: italic;
    margin-bottom: $grid-spacing;
    padding: 10px 15px;

    prevent-last-child-spacing(p, margin-bottom);
}
