@font-face {
    font-family: 'Milk';
    src: url($path-to-assets + 'fonts/ABTSmilk.eot');
    src: url($path-to-assets + 'fonts/ABTSmilk.eot?#iefix') format('embedded-opentype'),
         url($path-to-assets + 'fonts/ABTSmilk.woff') format('woff'),
         url($path-to-assets + 'fonts/ABTSmilk.ttf') format('truetype'),
         url($path-to-assets + 'fonts/ABTSmilk.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
