/*
For articles that are archive content. Makes them stand out more.
********************************************************************** */


.archive-content {
    background-color: $red-light;
    border: 10px solid $red;
    border-image: repeating-linear-gradient(-45deg, $red 0, $red 5px, $yellow 5px, $yellow 10px, $red 10px) 10 10 repeat;
    padding: $mobile-center-spacing;
}

@media #{$mq-tablet-and-up} {
    .archive-content {
        border-width: 20px;
        border-image: repeating-linear-gradient(-45deg, $red 0, $red 10px, $yellow 10px, $yellow 20px, $red 20px) 20 20 repeat;
        padding: $gutter-width;
    }
}
