/*
Full size form on home and search pages
********************************************************************** */

.search-form {
    display: block;
    margin: $grid-spacing auto ($grid-spacing * 2) auto;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 775px;

    &.home-search-form {
        margin: ($grid-spacing * 2) auto;
    }

    > input#home-q,
    > input#search-q {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: ($grid-spacing / 2);
        @include bidi(((padding-left, 48px, padding-right, 0),));
        background: #fff;
        @include set-larger-font-size();
        @include set-placeholder-style(color, $text-color);
    }

    .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        @include bidi(((left, 0, right, auto),));
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: '';
            position: absolute;
            top: ($grid-spacing / 2);
            bottom: ($grid-spacing / 2);
            @include bidi(((left, 40px, right, auto),));
            display: block;
            border-left: 1px solid $form-border-color;
        }
    }
}

@media #{$mq-small-desktop-and-up} {

    .search-form {

        &.home-search-form {
            margin: 0 auto 30px auto;
        }

        > input#home-q,
        > input#search-q {
            padding: $grid-spacing;
            @include bidi(((padding-left, 70px, padding-right, 0),));
        }

        .search-icon {
            width: 60px;

            &:after {
                top: $grid-spacing;
                bottom: $grid-spacing;
                @include bidi(((left, 54px, right, auto),));
            }
        }
    }
}
