/*
12-column grid system.  HTML structure should be:

    <div class="column-container">
      <!-- any number of columns -->
      <div class="column-x"></div>
      <div class="column-x"></div>
      <div class="column-x"></div>
    </div>

.column-x elements is automatically floated and assigned a right margin.
.column-container clears the .column-x floats and removes margin from the last column
.column-container-reverse reverses the floats so that the last visual element appears first in the child list

This file was formerly _mixin_draw-grid.scss if you want to follow the history
********************************************************************** */

/*
mobile - everything is it's own column, by default just need clearfix
- but clearfix will screw up columns so can't apply without mq restrictions
====================================================================== */
@media #{$mq-mobile-and-down} {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12,
    .column-strip,
    .column-quarter,
    .column-third,
    .column-half,
    .column-all,
    .column-container #{$grid-column-selector} {
        @include clearfix();
    }
}

/*
tablet & up - change to columns
====================================================================== */
@media #{$mq-tablet-and-up} {
    .column-container {
        @include clearfix();

        #{$grid-column-selector} {
            margin-right: $grid-margin;
            @include bidi(((float, left, right),));
            min-height: 1px;

            &:first-child {
                @include bidi(((margin-right, $grid-margin, 0),));
            }

            &:last-child {
                @include bidi(((margin-right, 0, $grid-margin),));
            }
        }

        &.column-container-reverse {
            #{$grid-column-selector} {
                @include bidi(((float, right, left),));

                &:first-child {
                    @include bidi(((margin-right, 0, $grid-margin),));
                }

                &:last-child {
                    @include bidi(((margin-right, $grid-margin, 0),));
                }
            }
        }
    }

    .column-closed {
        display: none;
    }

    .column-1 {
        @include column-1();
    }

    .column-2 {
        @include column-2();
    }

    .column-3,
    .column-strip,
    .column-quarter {
        @include column-3();
    }

    .column-4,
    .column-third {
        @include column-4();
    }

    .column-5 {
        @include column-5();
    }

    .column-6,
    .column-half {
        @include column-6();
    }

    .column-7 {
        @include column-7();
    }

    .column-8 {
        @include column-8();
    }

    .column-9,
    .column-main {
        @include column-9();
    }

    .column-10 {
        @include column-10();
    }

    .column-11 {
        @include column-11();
    }

    .column-12,
    .column-all {
        @include column-12();
    }
}
