.document-head {
    position: relative;
    z-index: $document-head-z;
    clear: both;
    background-color: #f5f9fa;
    padding: $first-content-top-padding 0 $last-content-bottom-padding 0;
}

.document-title {
    h1 {
        @include set-font-size($mobile-document-title-font-size);
    }

    em {
        font-style: normal;
        @include bidi(((margin-left, -3px, margin-right, 0),));
        text-transform: none;
    }
}

.document-actions {
    position: relative;
    z-index: $document-actions-z;
    @include bidi(((float, right, left),));
    width: 100%;
    margin-bottom: ($grid-spacing / 2);
}

@media #{$mq-mobile-and-up} {
    .document-title {
        h1 {
            @include set-font-size($h1-font-size);
        }
    }

    .document-actions {
        width: auto;
        @include bidi(((margin-left, $grid-spacing, margin-right, 0),));
        margin-bottom: 0;
    }
}

/* small writing above the page title that says what action the user is
   performing on it Editing/Moving/Translating. In a perfect world this
   class wouild be document-title-prefix but it's part of the translation
   string and I didn't want to lose the translations by changing it */
.title-prefix {
    @include set-font-size($larger-font-size);
    display: block;
    color: $grey;
}

.title-properties button.link {
    @include set-smaller-font-size();
    font-weight: bold;
}

.title-locale {
    @include set-smaller-font-size();
}
