.document-head {
    position: relative;
    z-index: $document-head-z;
    clear: both;
    background-color: #f5f9fa;
    padding: $first-content-top-padding 0 $last-content-bottom-padding 0;
}

div[class*='titlebar'],
.document-title {
    h1 {
        @include set-font-size($mobile-document-title-font-size);
        /* Hyphenate long titles like CanvasRenderingContext2D if needed*/
        hyphens: auto;

        @media #{$mq-mobile-and-up} {
            @include set-font-size($h1-font-size);
        }
    }

    em {
        font-style: normal;
        @include bidi(((margin-left, -3px, margin-right, 0),));
        text-transform: none;
    }
}

.document-actions {
    @include bidi(((text-align, right, left),));
    padding-bottom: 0;

    .page-buttons {
        @include bidi(((float, none, none),));
    }
}


@media #{$mq-mobile-and-up} {
    @supports (display: flex) {
        .document-head .center {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .document-title {
                flex-grow: 1;
            }

            .document-actions {
                flex-grow: 9999;
                @include bidi(((text-align, right, left),));
            }
        }
    }
}

/* small writing above the page title that says what action the user is
   performing on it Editing/Moving/Translating. In a perfect world this
   class wouild be document-title-prefix but it's part of the translation
   string and I didn't want to lose the translations by changing it */
.title-prefix {
    @include set-font-size($larger-font-size);
    display: block;
    color: $grey;
}

.title-properties button.link {
    @include set-smaller-font-size();
    font-weight: bold;
}

.title-locale {
    @include set-smaller-font-size();
}
