/*
global notices (via soapbox)
====================================================================== */
.global-notice {
    position: relative;
    margin: 0 0 -1px;
    background: $light-background-color;

    .wrap {
        @include set-smaller-font-size();
        padding: 10px 24px;

        @include prevent-last-child-spacing(p, margin-bottom);
    }
}
