/*
Header login link
********************************************************************** */

.login {
    position: relative;
    border-radius: 8px;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    @include rgba-fallback(background, #000, .1);

    #{$selector-icon} {
        @include set-font-size($small-bump-font-size * 1.2);
        /* Keep the line height equal to make the icon appear as though it is on
           the same line. */
        line-height: 20px;
        vertical-align: top; /* needed on mobile */
    }

    form {
        display: inline-block;
    }
}

.login-link {
    display: inline-block;
    min-width: 150px;

    #{$selector-icon} {
        @include bidi-value(float, right, left);
    }
}

.logout {
    border: 0;
    @include bidi-style(border-left, 1px solid #bbb, border-right, 0);
    @include bidi-style(padding, 0 0 0 6px, padding, 0 6px 0 0);
    @include bidi-style(margin, 0 0 0 2px, margin, 0 2px 0 0);
    background-color: transparent;
    color: $menu-link-color;
    line-height: inherit;
    font-size: inherit;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }
}

#home .logout {
    color: #fff;
}
