/*
Main header, wraps all components of logo, main, and secondary navigation
********************************************************************** */

#main-header {
    @include clearfix();
    position: relative;
    z-index: $main-header-z;
    padding-top: $mobile-center-spacing;
    border: 5px solid $accent-light;
    border-width: 5px 0 0;
    background-color: #fff;

    > .center {
        @include clearfix();
    }
}

.logo {
    position: relative;
    z-index: $logo-z;
    width: 170px;
    height: 30px;
    background: url($logo-sprite-url) 100% 0 no-repeat;
    background-size: 219px auto;
    display: block;
    direction: ltr; // ltr should be set with negative text indent
    text-indent: -9999px;
    overflow: hidden;
}

@media #{$mq-tablet-and-up} {
    #main-header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        position: relative;
        top: $grid-spacing;
        height: 48px;
        @include bidi((
            (float, left, right),
            (margin-right, $grid-spacing, margin-left, 0)
        ));
    }
}

@media #{$mq-small-desktop-and-up} {
    .logo {
        width: 219px;
        background-size: 100% auto;
    }
}
