/*
Main header, wraps all components of logo, main, and secondary navigation
====================================================================== */

#main-header {
    clearfix();
    border-color: transparent;
    border-bottom: 1px solid @border-color;
    border-top: 2px solid #fff;

    /* margin-top will be added to small-mobile media query to ensure login widget doesn't overly */
    .logo {
        bidi-value(float, left, right);
        width: 205px;
        height: 40px;
        margin-top: 7px;
        background: url($logo-sprite-url) 0 0 no-repeat;
        background-size: 100% auto;
        display: block;
        direction: ltr; // ltr should be set with negative text indent
        text-indent: -9999px;
        overflow: hidden;
    }

    a {
        &:link, &:visited, &:hover, &:active {
            color: $menu-link-color;
        }
    }
}

/* custom nav menu movement */
@media $media-query-navigation-break {

    #main-header {
        .logo {
            margin-top: -33px;
        }
    }
}

@media $media-query-mobile {

    #main-header {
        .logo {
            margin: ($grid-spacing / 2) 0;
            width: 140px;
            height: 40px;
            background-size: auto;
        }
    }
}

@media $media-query-small-mobile {

    #main-header {
        .logo {
            width: 44px;
        }
    }
}
