/*
Secondary navigation, site tools and login info
********************************************************************** */

#nav-sec {
    position: absolute;
    top: 12px;
    @include bidi-style(right, 200px, left, auto);
    z-index: 36; /* one more than the demos "learn more" button */

    @include set-font-size($small-bump-font-size);

    > ul > li {
        position: relative;
        display: inline-block;
        @include bidi-value(padding, 0 0 0 16px, 0 16px 0 0); /* same as main nav but we double it because only putting on left */
    }
}


@media #{$media-query-mobile} {
    #nav-sec {
        @include bidi-style(right, $gutter-width, left, auto);

        > ul > li.nav-tools {
            display: none;
        }
    }
}
