.nav-footer {
    @include clearfix();
    padding-top: $mobile-center-spacing;
    padding-bottom: $mobile-center-spacing;
    background-color: $bg-dark;
    color: #fff;

    a {
        color: $accent-light;
    }
}

.nav-footer-logo,
.nav-footer-mozilla {
    width: 219px;
    height: 48px;
    background: url($logo-sprite-url) 100% -58px no-repeat;
    background-size: 219px auto;
    display: block;
    direction: ltr; // ltr should be set with negative text indent
    text-indent: -9999px;
    overflow: hidden;
    margin-bottom: $mobile-center-spacing;
}

.nav-footer-mozilla {
    width: 114px;
    height: 32px;
    background: url($logo-sprite-url) -96px -171px no-repeat;
    background-size: 420px auto;
}

.footer-title {
    display: none;
}

.footer-group {
    @include clearfix();
    border-bottom: 1px solid #fff;
    padding-bottom: $mobile-center-spacing;
    margin-bottom: $mobile-center-spacing;

    a {
        display: inline-block;
        padding: ($grid-spacing / 2) 0;
    }
}

.footer-social {
    @include set-font-size($h4-font-size);
    display: inline-block;
    @include bidi(((margin-right, ($grid-spacing / 2 ), margin-left, 0),));

    a {
        @include bidi(((padding-right, $grid-spacing, padding-left, 0),));
    }
}

.languages {
    @include clearfix();
    border-bottom: 1px solid #fff;
    padding-bottom: $mobile-center-spacing;
    margin-bottom: $mobile-center-spacing;

    label {
        @include set-font-size($tiny-font-size);
    }
}

.footer-tos {
    @include set-font-size($base-bump-font-size);
    margin-bottom: $mobile-center-spacing;

    li {
        display: inline-block;
        @include bidi(((margin-right, $grid-spacing, margin-left, 0),));
    }
}

@media #{$mq-tablet-and-up} {
    .nav-footer {
        padding-top: $gutter-width;
        padding-bottom: $gutter-width;
    }

    .nav-footer-logo,
    .nav-footer-mozilla {
        margin-bottom: $gutter-width;
    }

    .footer-title {
        display: none;
    }

    .footer-group {
        padding-bottom: $gutter-width;
        margin-bottom: $gutter-width;

        a {
            padding: ($grid-spacing / 4) 0;
        }
    }

    .footer-social {
        a {
            @include bidi(((padding-right, ($grid-spacing / 2 ), padding-left, 0),));
        }
    }

    .languages {
        @include clearfix();
        padding-bottom: $gutter-width;
        margin-bottom: $gutter-width;

        select {
            max-width: -calc-col-width(3);
        }
    }

    .footer-tos {
        margin-bottom: $gutter-width;
    }
}

@media #{$mq-small-desktop-and-up} {
    .nav-footer {
        position: relative;
        padding: ($grid-spacing * 3) $grid-spacing;
    }

    .nav-footer-logo,
    .nav-footer-mozilla {
        margin-bottom: $grid-spacing * 2;
    }

    .footer-title {
        display: block;
        @include set-font-size($small-bump-font-size);
        @include set-site-font-family();
    }

    .footer-group {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .footer-group-mdn {
        position: absolute;
        top: $grid-spacing;
        width: -calc-col-width(3);
        @include bidi(((left, -calc-col-width(5), right, auto),));
    }

    .footer-group-mozilla {
        position: absolute;
        top: $grid-spacing;
        width: -calc-col-width(3);
        @include bidi(((left, -calc-col-width(8), right, auto),));
    }

    .languages {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: $grid-spacing;

        label {
            display: block;
        }
    }

    .footer-tos {
        margin-bottom: $grid-spacing;
    }
}
