@import '_mixin_nav';

/*
Secondary navigation, site tools and login info
********************************************************************** */

#nav-sec {
    position: relative;
    z-index: $nav-sec-z;
}

@media #{$mq-tablet-and-down} {
    .nav-tools {
        display: none;
    }
}

@media #{$mq-tablet-and-up} {
    #nav-sec {
        @include bidi-value(float, right, left);
        @include bidi-style(right, ($gutter-width * -1), left, auto);
        background-color: $bg-dark;

        > ul > li {
            @include inline-nav-item();

            > a {
                color: #fff;

                &:hover,
                &:focus {
                    background-color: $bg-dark;
                    color: #fff !important; /* stylelint-disable-line declaration-no-important */
                }
            }
        }
    }
}

@media #{$mq-small-desktop-and-up} {
    > ul > li {
        @include large-inline-nav-item();
    }
}
