/*
Sign in information displayed after user signed in
====================================================================== */

.oauth-logged-in {
    padding: 4px 8px;
    background: rgba-fallback(rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    position: relative;

    > ul {
        display: inline-block;

        > li {
            display: inline;

            & + li {
                bidi-style(border-left, 1px solid #bbb, border-right, 0);
                bidi-style(padding-left, 6px, padding-right, 0);
                bidi-style(margin-left, 2px, margin-right, 0);
            }
        }
    }

    > ul,
    > {$selector-icon} {

        /* Keep the line height equal to make the icon appear as though it is on
           the same line. */
        line-height: 20px;
    }

    > {$selector-icon} {
        vertical-align: top; /* needed on mobile */
        bidi-style(margin-right, 0, margin-left, 2px);
        bidi-style(margin-left, 2px, margin-right, 0);
        set-font-size($small-bump-font-size + 20%);
    }

    @media $media-query-mobile {

        li {
            display: block;

            & + li {
                padding-left: 0;
                bidi-style(border-left, none, border-right, none);
                bidi-style(padding-right, 0, padding-left, 0);
                bidi-style(margin-right, 0, margin-left, 0);
            }
        }

    }

}


