/*
Pagination
********************************************************************** */

ol.pagination {
    margin: $grid-spacing 0;
    padding: 0 0 ($grid-spacing * 1.5) 0;

    li {
        @include bidi(((float, left, right),));
        padding: 0 2px;

        &.prev,
        &.prev a {
            @include bidi(((padding-left, 0, padding-right, inherit),));
        }

        a {
            @include bidi(((float, left, right),));
            padding: 3px 8px 5px;

            &:hover {
                text-decoration: underline;
            }
        }

        &.selected a {
            background: $link-color;
            color: #fff;
            border-radius: 5px;
        }
    }
}
