/*
Tabzilla Rar!
V 0.3.0
====================================================================== */

#tabzilla {
    position: relative;
    bidi-value(float, right, left);
}

#tabzilla a {
    position: relative;
    display: block;
    width: 147px;
    height: 37px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url($path-to-embedded-images + 'tabzilla-static.png');
    background-repeat: no-repeat;
    z-index: 2;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    #tabzilla a {
        background-image: url($path-to-embedded-images + 'tabzilla-static-high-res.png');
        -webkit-background-size: 147px 37px;
        background-size: 147px 37px;
    }
}

#tabzilla:before {
    position: absolute;
    display: block;
    bidi-style(left, 28px, right, auto);
    top: 0;
    width: 88px;
    height: 26px;
    content: '';
    background-color: transparent;
    z-index: 1;
}


/*
Customization for MDN
====================================================================== */

#tabzilla:before {
    background-color: $text-color;
}

@media $media-query-mobile {
    #tabzilla {
        display: none;
    }
}
