/*
Override MDN standard styles
======================================================================*/

.zone {
    background-color: #0952a8;
    background-image: url($media-url-dir + 'mdn10/head.png'), url($media-url-dir + 'blueprint.png'), linear-gradient(to bottom, #153985, #044ca2 600px);
    background-repeat: no-repeat, repeat, repeat-x;
    background-position: center -37px;
}

.zone.zone-landing {
    background-position: center -6px;
}

@media $media-query-mobile-only {
    .zone {
        background-image: url($media-url-dir + 'blueprint.png'), linear-gradient(to bottom, #153985, #044ca2 600px);
        background-repeat: repeat, repeat-x;
    }
}

.zone-landing {

    @media $media-query-tablet-and-up {
        .masthead-text p {
            heading-1();
            margin-bottom: $grid-spacing;
            font-family: $heading-font-family;
            font-weight: $light-font-weight;
            line-height: 1.2;
        }
    }

    @media $media-query-small-desktop-and-up {

        h1 {
            display: none;
        }
        .zone-landing-header-preview {
            margin-top: 250px;
        }

        .column-5 {
            @extend $column-6;
            margin-top: -180px;
            margin-bottom: 110px;
            text-align: center;
        }
    }

}

.contributor-avatars {
    display: none;
}
