.learnmore {
    display: inline-block;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    background-color: $neutral;
    color: #fff;

    a {
        color: @color;
    }

    span {
        offscreen();
    }
}
