.promo10 {
    margin-bottom: $grid-spacing;
    padding: $grid-spacing;
    background-color: $homepage-background-color;
    color: $blue-background-text-color;
    text-align: center;


    font-family: $heading-font-family;
    font-size: $larger-font-size;
    {$selector-heading-font-fallback} {
        font-family: $heading-font-family-fallback;
    }
}

.promo10-globe {
    background: $homepage-background-color center -30% no-repeat url($media-url-dir + 'mdn10/globe.png');
}

.promo10-img {
    display: inline-block;
    vertical-align: top;
    padding: 0 $grid-spacing $grid-spacing;
}

.promo10-text {
    display: inline-block;
    width: 300px;
    max-width: 100%;
}
