.quote {
    margin-bottom: $grid-spacing;
    padding: $grid-spacing;
    border: 1px solid $homepage-background-color;
    color: $homepage-background-color;
    text-align: center;

    blockquote {
        position: relative;
        border: none;
        padding: 0;
        background-color: inherit;

        font-family: $heading-font-family;
        font-style: italic;
        font-size: $larger-font-size;
        {$selector-heading-font-fallback} {
            font-family: $heading-font-family-fallback;
        }
    }

    blockquote:before, blockquote:after {
        position: static;
        color: $homepage-background-color;
        font-size: 2rem;
        font-family: sans-serif;
        line-height: 0.5;
    }

    blockquote:before {
        content: "“ ";
    }

    blockquote:after {
        content: " ”";
    }

    .attribution {

    }
}
