@font-face {
    font-family: 'Carto Bold';
    src: url('/media/fonts/CartoGothicStd-Bold-webfont.eot');
    src: url('/media/fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/CartoGothicStd-Bold-webfont.woff') format('woff'),
         url('/media/fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
