{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "customercare/base.html" %}
{% from 'includes/common_macros.html' import search_box %}
{% set title = _('Join our Army of Awesome') %}

{% block breadcrumbs %}{% endblock %}

{% block content_area %}
  <div class="feature-contents">
    <h2>{{ _('Join our <br />Army of Awesome')|safe }}</h2>
    <h3>
      {% trans %}
        Love Firefox and have a few moments to help?
        Help other Firefox users on Twitter.
        Good things will come to those who tweet!
      {% endtrans %}
    </h3>
  </div>

  <div id="speech-bubbles">
    <ol>
      <li class="choose">{{ _('Choose a tweet below') }}</li>
      <li class="signin">{{ _('Sign in with Twitter') }}</li>
      <li class="respond">{{ _('Respond to the tweet!') }}</li>
    </ol>
  </div>

  <div id="tweetcontainer">
    <div class="tweets-header">
      <img id="twitter-icon" src="{{ MEDIA_URL }}img/customercare/twitter-icon.png" /><h2 class="showhide_heading" id="Where_to_ask_your_question">{{ _('Choose a tweet to help') }}</h2>
      <a id="refresh-tweets" href="{{ url('customercare.more_tweets') }}" class="header-button">{{ _('Refresh') }}<img id="refresh-busy" src="{{ MEDIA_URL }}img/customercare/spinner.gif"/></a>
      {% if authed %}
        <form id="twitter-logout" action="" method="post">
          {{ csrf() }}
          <input type="hidden" name="twitter_delete_auth" value="1">
          <input type="submit" class="header-button" value="{{ _('Sign out') }}">
        </form>
      {% else %}
        <a id="signin-button" href="#" class="header-button">{{ _('Sign in') }}</a>
      {% endif %}
    </div>

    <br style="clear:both; height: 1px" />

    <ul id="tweets">
      {% include 'customercare/tweets.html' %}
    </ul>

    <div id="infinite-scroll">
      <img id="scroll-busy" src="{{ MEDIA_URL }}img/customercare/spinner.gif"/>
    </div>
  </div>

  {% include 'customercare/reply_modal.html' %}

  {% include 'customercare/twitter_modal.html' %}
{% endblock %}

{% block extra_sidebar %}
  <div id="side-stats">
    <h3>{{ _('Our army has responded to:') }}</h3>
    {% if not activity_stats %}
      <p class="unavailable">{{ _('Recent stats not available.') }}</p>
    {% else %}
      <div class="bubble">
        <div class="perc">
          {{ _('<mark>{percent}%</mark> of tweets')|fe(percent=activity_stats[0][1]['perc']|round_percent) }}
        </div>
        <div class="numbers">
          <div class="replies">
            {{ _('<mark>{num_replies}</mark> replies')|fe(num_replies=activity_stats[0][1]['replies']) }}
          </div>
          <div class="separator">/</div>
          <div class="tweets">
            {{ _('<mark>{num_requests}</mark> tweets')|fe(num_requests=activity_stats[0][1]['requests']) }}
          </div>
        </div>

        <select>
          {% for act in activity_stats %}
            <option value="{{ loop.index0 }}"
                    data-perc ="{{ act[1]['perc']|round_percent }}"
                    data-replies="{{ act[1]['replies'] }}"
                    data-requests="{{ act[1]['requests'] }}">
              {% if act[0] == 'Yesterday' %}
                {{ _('Yesterday', 'army_stats') }}
              {% elif act[0] == 'Last Week'%}
                {{ _('Last Week', 'army_stats') }}
              {% elif act[0] == 'Last Month'%}
                {{ _('Last Month', 'army_stats') }}
              {% elif act[0] == 'Overall'%}
                {{ _('Last Overall', 'army_stats') }}
              {% else %}
                {{ act[0] }}
              {% endif %}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="speech"></div>
    {% endif %}

    <div class="contribs">
      {% if contributor_stats %}
        {% for act in activity_stats %}
          {% set period = act[0] %}
          <div class="contributors period{{ loop.index0 }}"
               data-period="{{ period }}">
            {% for contrib in contributor_stats.get(period, []) %}
              <a href="http://twitter.com/{{ contrib['username'] }}" target="_blank">
                <img src="{{ contrib['avatar'] }}" alt="{{ contrib['username'] }}"
                     title="{{ contrib['name']}}: {{ contrib['count'] }} replies"
                     class="avatar" />
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div id="side-getinvolved">
    <h3>{{ _('Take it to the next level!') }}</h3>
    <p>
      {% trans questions_url=url('questions.questions') %}
        Want to go beyond 140 characters?
        Join the support community and help many more Firefox users in the
        <a href="{{ questions_url }}">forum</a>.
      {% endtrans %}
    </p>
    <p><a href="{{ url('home') }}"><img src="{{ MEDIA_URL }}img/sumo-logo.png" class="sumo-logo"></a></p>
  </div>

  {{ search_box(settings, id='side-search', target='_blank', placeholder=_('Search')) }}
{% endblock %}
