{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "customercare/base.html" %}
{% set title = _('Join our Army of Awesome') %}

{% block breadcrumbs %}{% endblock %}

{% block content_area %}
  <div class="feature-contents">
    <h2>Join our <br />Army of Awesome</h2>
    <h3>Love Firefox and have a few moments to help? Help other Firefox users on Twitter. Good things will come to those who tweet!</h3>
  </div>

  <div id="speach-bubbles">
    <ol>
      <li class="choose">Choose a tweet below</li>
      <li class="signin">Sign in with Twitter</li>
      <li class="respond">Respond to the tweet!</li>
    </ol>
  </div>
	
  <div id="tweetcontainer">
    <div class="tweets-header">
      <img src="{{ MEDIA_URL }}/img/customercare/twitter-icon.png" /><h2 class="showhide_heading" id="Where_to_ask_your_question">Choose a tweet to help</h2>
      {% if authed %}
        <form  id='twitter-logout' action='' method='post'>
          {{ csrf() }}
          <input type='hidden' name='twitter_delete_auth' value='1'>
          <input type='submit' class="header-button" value='Sign out'>
        </form>
      {% endif %}
    </div>
    
    <br style="clear:both; height: 1px" />

    <ul id="tweets">
      {% for tweet in tweets %}
      <li class="tweet {{ loop.cycle('', 'alt') }}" data-reply_to="{{ tweet.reply_to }}">
        <a href="http://twitter.com/{{ tweet.user }}" class="avatar"><img src="{{ tweet.profile_img }}" /></a>
        <span class="twittername">{{ tweet.user }}</span><span class="time">{{ tweet.date|utctimesince }}</span>
        <p class="text">{{ tweet.text|safe }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% include 'customercare/reply_modal.html' %}

  {% include 'customercare/twitter_modal.html' %}
{% endblock %}

{% block extra_sidebar %}
  <div id="side-getinvolved">
    <h3>Take it to the next level!</h3>
    <p>Want to go beyond 140 characters? Join the support community and help many more
       Firefox users in the <a href="{{ url('questions.questions') }}">forum</a>.</p>
    <p><a href="/"><img src="{{ MEDIA_URL }}img/sumo-logo.png" class="sumo-logo"></a></p>
  </div>
{% endblock %}
