{% for tweet in tweets %}
  <li class="tweet {{ loop.cycle('', 'alt') }}" data-tweet-id="{{ tweet.id }}" id="tweet-{{ tweet.id }}">
    <a href="http://twitter.com/{{ tweet.user }}" class="avatar" target="_blank">
      <img src="{{ tweet.profile_img }}" />
      <span class="twittername">{{ tweet.user }}</span>
    </a>
    <a href="http://twitter.com/{{ tweet.user }}/status/{{ tweet.id }}" target="_blank">
      <time datetime="{{ tweet.date|isotime }}">{{ tweet.date|utctimesince }} ago</time></a>
    <p class="text">{{ tweet.text|safe }}</p>
  </li>
{% endfor %}
