/*
Main wiki article content
====================================================================== */
.article {
    grid-area: main;
    box-sizing: border-box;
    padding: 15px 12px;
    width: 100%;

    @media #{$mq-tablet-and-up} {
        padding: 30px 24px 30px 12px;
    }

    a.section-link {
        font-size: 24px;
        text-decoration: none;
    }

    .metadata {
        margin-top: 32px;
        font-size: 0.88889rem;
        color: $grey;

        .contributors-sub-label {
            margin: 5px;
            font-weight: bold;
        }
    }
}
