.content-layout {
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1400px;
    /* If we're narrower than a tablet, put the sidebar at the
       bottom and drop the toc line. */
    grid-template-columns: 100%;
    grid-template-areas: 'document-toc-container' 'main' 'side';

    @media #{$mq-small-desktop-and-up} {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: 'main';

        &.wiki-left-present {
            grid-template-columns: 25% 75%;
            grid-template-rows: max-content 1fr;
            grid-template-areas: 'document-toc-container main' 'side main';
        }
    }
}

.full-width-row-container {
    border-bottom: solid 1px $grey-light;
    width: 100%;
}

.max-content-width-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1352px;
    min-height: 40px;
}
