$logo-sprite-url: '../img/web-docs-sprite.svg';

.nav-footer-logo {
    display: block;
    background: url($logo-sprite-url) 100% -58px no-repeat;
    background-size: 219px auto;
    margin-bottom: $mobile-center-spacing;
    width: 219px;
    height: 48px;
    direction: ltr; // ltr should be set with negative text indent
    text-indent: -9999px;
    overflow: hidden;

    @media #{$mq-tablet-and-up} {
        margin-bottom: 30px;
    }
}

.nav-footer {
    background-color: $bg-dark;
    color: $text-color-inverted;
    padding: 40px 20px;

    @media #{$mq-tablet-and-up} {
        padding: 40px;
    }

    .content-container {
        margin: 0 auto;
        max-width: 1400px;
    }

    a {
        color: $text-color-inverted;
    }

    ul {
        a {
            display: block;
            padding: 10px 0;
        }
    }

    .social {
        display: flex;
        align-items: center;

        h4 {
            margin: inherit;
            margin-right: 10px;
            font-family: $site-font-family;
            font-size: $base-font-size;
            font-weight: normal;
        }

        li {
            display: inline-block;
            margin-right: 10px;
        }

        svg {
            width: 18px;
            height: 18px;
            vertical-align: sub;
        }
    }

    .footer-license {
        margin: 10px 0;

        @media #{$mq-tablet-and-up} {
            margin: 50px 0 30px;
            padding: 30px 0 0;
            border-top: 1px solid $border-color;
        }
    }

    .footer-legal {
        @media #{$mq-tablet-and-up} {
            padding-bottom: 20px;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 0 20px 0 0;
            text-decoration: underline;
        }
    }
}

@supports (display: grid) {
    .content-container {
        display: grid;

        .nav-footer-logo,
        .link-list-mdn,
        .link-list-moz,
        .footer-license,
        .footer-legal {
            grid-column: 1/3;
        }

        .nav-footer-logo {
            grid-row: 1/2;
        }

        .link-list-mdn {
            grid-row: 2/3;

            @media #{$mq-tablet-and-up} {
                grid-column: 1/2;
            }
        }

        .link-list-moz {
            grid-row: 3/4;

            @media #{$mq-tablet-and-up} {
                grid-row: 2/3;
                grid-column: 2/3;
            }
        }

        .social-mdn {
            grid-row: 4/5;
            grid-column: 1/2;
        }

        .social-moz {
            grid-row: 4/5;
            grid-column: 2/3;
        }

        .footer-license {
            grid-row: 5/6;
        }

        .footer-legal {
            grid-row: 6/7;
        }
    }
}
