.sidebar {
    grid-area: side;
    box-sizing: border-box;
    width: 100%;
    /* Except on small screens the sidebar is at the bottom and
       so we need the same padding (but less of it) on both sides. */
    padding: 15px 12px;

    @media #{$mq-tablet-and-up} {
        /* Less padding on the right because the article area
           has padding on the left, too. */
        padding: 30px 12px 30px 24px;
    }

    .sidebar-heading {
        margin-bottom: 16px;
        font-size: $h4-font-size;
        height: 24px;
    }
}
