.signup-landing {
    display: block;
}

/* if we are on a small desktop/horizontal tablet or larger viewport */
@media #{$mq-small-desktop-and-up} {
    /* and flex is supported */
    @supports (display: flex) {
        .signup-landing {
            display: flex;
            margin: 0 auto;
            max-width: 1366px;
        }
    }
}
