/* Comments */
#comments {
  background: #fff;
  margin: 0 0 40px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
#comments header {
  padding: 20px 30px;
  text-transform: uppercase;
}
#comments header h1 {
  color: #333;
  font-size: 1.333em;
  margin: 0 0 0.25em;
  letter-spacing: normal;
}
#comments header p {
  margin: 0;
  font-size: 0.857em;
}
#comments #comments-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#comments-list .hentry {
  position: relative;
  margin: 0;
  padding: 20px 30px 20px 95px;
}
#comments-list .hentry:nth-child(odd) {
  background: #eff2f4;
}
#comments-list .hentry:nth-child(odd) .hentry {
  background: rgba(255,255,255,0.5);
}
#comments-list .entry-title {
  width: 65%;
  float: left;
  text-transform: uppercase;
}
#comments-list .entry-meta {
  width: 34%;
  float: right;
  text-align: right;
  color: #666;
  font-size: 0.857em;
  text-transform: uppercase;
}
#comments-list .entry-meta a {
  color: #666;
  font-weight: bold;
}
#comments-list .author .photo {
  position: absolute;
  left: 30px;
  border: 1px solid;
}
#comments-list .entry-content {
  padding: 0;
  border: 0;
  clear: both;
}
#comments #comments-list .replies {
  list-style: none;
  margin: 20px -30px 0 -70px;
  padding: 0;
}
#comments-list .comment-opts {
  border-top: 1px solid #ddd;
  border-color: rgba(0,0,0,0.1);
  padding-top: 6px;
  margin: -0.5em 0 0;
  font-size: 0.857em;
  text-transform: uppercase;
}
#comments-list .comment-opts li {
  display: inline;
  padding: 0;
  margin-right: 8px;
  background: none;
}
#comments-list .comment-opts a {
  color: #666;
}
#comments-list .comment-opts a:hover,
#comments-list .comment-opts a:focus,
#comments-list .comment-opts a:active {
  color: #25a;
}
#comments-list .comment-opts form {
  display: inline;
}
#comments-list .comment-opts button {
  color: #666;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: normal;
  background: transparent none;
  display: inline;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#comments-list .comment-opts button:hover span,
#comments-list .comment-opts button:focus span {
  color: #25a;
  text-decoration: underline;
}
#comment-post {
  padding: 20px 20px 0;
}
#comment-post legend span {
  display: block;
  margin: 0 0 0.5em;
  color: #333;
  text-transform: uppercase;
}
#comment-post textarea {
  width: 96%;
  margin: 0 0 1em;
  border-color: #6b7684;
}
#comment-post button {
  font-size: 1.231em;
}
#comments-list .comment-reply {
  padding: 20px 0 0 0;
}
#comments-list .comment-reply legend span {
  display: block;
  margin: 0 0 0.5em;
  font-size: 1.333em;
}
#comments-list .comment-reply textarea {
  width: 96%;
  margin: 0 0 1em;
  border-color: #6b7684;
}
.hasJS #comments-list .comment-reply {
  display: none;
}
.hasJS #comments-list .comment-reply-revealed {
  display: block;
}
