@require 'base/fonts/opensans';
@require 'base/fonts/milk';

@require 'components/demos/backgrounds';
@require 'components/demos/buttons';
@require 'components/demos/header';
@require 'components/demos/learn-pop';
@require 'components/demos/tags-list';
@require 'components/demos/derby-cta';
@require 'components/demos/paging';
@require 'components/demos/featured-demos';
@require 'components/demos/nav-slide';
@require 'components/demos/search-browse';
@require 'components/demos/demobox';
@require 'components/demos/demo-manage';
@require 'components/demos/demo-more';
@require 'components/demos/demo-terms';
@require 'components/demos/sidebar';
@require 'components/demos/comments';
@require 'components/demos/demo-galleries';
@require 'components/demos/gallery-head';
@require 'components/demos/gallery-foot';
@require 'components/demos/galleries';
@require 'components/demos/submission';
@require 'components/demos/sidebar-modules';
@require 'components/demos/modules';

@require 'components/demos/studio'; /* must go at end of required */
