{% from "wiki/includes/document_macros.html" import watch_menu_items with context%}
{% macro get_document_buttons(document, edit_link) %}

  {% if document.parent %}
    {# If there is a parent doc, use it for translating. #}
    {% set translate_url = url('wiki.select_locale', document_path=document.parent.slug) %}
  {% else %}
    {% set translate_url = url('wiki.select_locale', document_path=document.slug, locale=document.locale) %}
  {% endif %}

  {% if not edit_link %}
    {% set edit_link = document.get_edit_url() %}
  {% endif %}

  {% set watch_menu_items_html = watch_menu_items(document, user) %}

  <ul class="page-buttons" data-sticky="false">
      {% if not document.is_template %}
      <li><button id="languages-menu" class="transparent" aria-haspopup="true" aria-owns="languages-menu-submenu" aria-expanded="false"><span>{{ _('Languages') }}</span><i aria-hidden="true" class="icon-language"></i></button>

        <div class="submenu js-submenu" id="languages-menu-submenu">
          <div class="submenu-column">
            <ul id="translations">
              {% if document.other_translations %}
                {% for translation in document.other_translations %}
                  <li><bdi><a rel="internal" href="{{ url('wiki.document', translation.slug, locale=translation.locale) }}" title="{{ translation.title }}">{{ translation.language }} ({{ translation.locale }})</a></bdi></li>
                {% endfor %}
              {% else %}
                <li class="smaller">{{ _('No translations exist for this article.') }}</li>
              {% endif %}

              {% if document.is_localizable %}
                <li><a href="{{ translate_url }}" rel="nofollow, noindex" id="translations-add">{{ _('Add a translation') }}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </li>{% endif %}

      {% if (not document.is_template) or (user.has_perm('wiki.change_template_document')) %}
      <li class="page-buttons-edit"><a href="{{ edit_link }}" class="button" data-optimizely-hook="button-edit-doc" id="edit-button">{{ _('Edit') }}<i aria-hidden="true" class="icon-pencil"></i></a></li>
      {% endif %}

        {% if user.is_authenticated() and document %}
        <li><button id="watch-menu" class="only-icon" aria-haspopup="true" aria-owns="watch-menu-submenu" aria-expanded="false"><span>{{ _('Watch') }}</span><i aria-hidden="true" class="icon-eye"></i></button>
        <div class="submenu js-submenu" id="watch-menu-submenu">
            <div class="submenu-column">
                <div class="title">{{ _('Watch') }}</div>
                {{ watch_menu_items_html }}
            </div>
        </div>
        </li>
        {% endif %}

        <li><button id="advanced-menu" class="only-icon" aria-haspopup="true" aria-owns="advanced-menu-submenu" aria-expanded="false"><span>{{ _('Advanced') }}</span><i aria-hidden="true" class="icon-cog"></i></button>
        <div class="submenu js-submenu" id="advanced-menu-submenu">
          <!-- this page -->
          <div class="submenu-column">
            <div class="title">{{ _('Advanced') }}</div>
            <ul>
                <li><a href="{{ url('wiki.document_revisions', document.slug) }}" rel="nofollow, noindex">{{_('History')}}</a></li>
                {% if user.is_authenticated() and not document.is_template %}
                  <li><a href="{{ url('wiki.create') }}?parent={{ document.id }}" rel="nofollow, noindex">{{ _('New sub-article') }}</a></li>
                  <li><a href="{{ url('wiki.create') }}?clone={{ document.id }}{% if document.parent_topic %}&amp;parent={{ document.parent_topic.id }}{% endif %}" rel="nofollow, noindex">{{ _('Clone this article') }}</a></li>
                {% endif %}
                {% if user.is_authenticated() and user.has_perm('wiki.move_tree') %}
                  <li><a href="{{ url('wiki.move', document.slug, locale=document.locale) }}" rel="nofollow, noindex">{{ _('Move this article') }}</a></li>
                {% endif %}
                {% if user.is_superuser %}
                  <li><a href="{{ url('admin:wiki_document_change', document.id) }}" rel="nofollow, noindex">{{ _('View in admin') }}</a></li>
                {% endif %}

{#
    # HACK: https://bugzil.la/972545 - Don't delete pages that have children
    # TODO: https://bugzil.la/972541 -  Deleting a page that has subpages
#}
                {% if user.has_perm('wiki.delete_document') and not document.children.exists() %}
                  <li><a href="{{ url('wiki.delete_document', document.slug) }}" rel="nofollow, noindex">{{ _('Delete this article') }}</a></li>
                {% endif %}

                {% set zone_links = document_zone_management_links(request.user, document) %}
                {% if zone_links['change'] %}
                  <li><a target="_blank" href="{{ zone_links['change'] }}" rel="nofollow, noindex">{{ _('Manage content zone') }}</a></li>
                {% endif %}
                {% if zone_links['add'] and not document.is_template %}
                  <li><a target="_blank" href="{{ zone_links['add'] }}" rel="nofollow, noindex">{{ _('Convert to content zone') }}</a></li>
                {% endif %}
                <li class="page-print"><a href="#" onclick="return window.print();">{{ _('Print this article') }}</a></li>
            </ul>
          </div>
        </div>
  </li></ul>
{%- endmacro %}
