{% macro build_document_crumbs(document) %}
  <nav class="crumbs" role="navigation"><ol xmlns:v="http://rdf.data-vocabulary.org/#" aria-label="{{ _('breadcrumbs') }}">
    <li typeof="v:Breadcrumb"><a href="/{{ request.LANGUAGE_CODE }}" rel="v:url" property="v:title">MDN</a></li>
    {% for doc in document.parents %}
      <li class="crumb" typeof="v:Breadcrumb"><a href="{{ doc.get_absolute_url() }}" rel="v:url" property="v:title">{{ doc.title }}</a></li>
    {% endfor %}
    <li class="crumb" typeof="v:Breadcrumb" property="v:title">{{ document.title }}</li>
  </ol></nav>
{%- endmacro %}

{% macro get_document_subnav(html) %}
  <nav class="zone-subnav-container" role="navigation">
    <div class="subnav" id="Subnav">
      {{ html|safe }}
    </div>
  </nav>&nbsp;
{%- endmacro %}

{% macro get_document_quick_links(html) %}
  <div class="quick-links" id="quick-links">
    <div class="title see-also">{{ _('See also') }}</div>
    {{ html|safe }}
  </div>
{%- endmacro %}

{% macro revision_diff(revision_from, revision_to, revision_from_header=None, revision_to_header=None, show_picker=False) -%}
  {% if revision_from and revision_to %}
    <section class="revision-diff">
      <a class="change-revisions" href="{{ url('wiki.document_revisions', revision_from.document.slug)|urlparams(locale=revision_from.document.locale, origin='translate') }}">{{ _('Change Revisions') }}</a>
      <header>
        <div class="rev-from">
            <h3>
            {% if revision_from_header %}
              {{ revision_from_header }}
            {% else %}
              <a href="{{ url('wiki.revision', revision_from.document.slug, revision_from.id) }}" rel="nofollow, noindex">
                {{ _('Revision %(num)s:', num=revision_from.id) }}
              </a>
            {% endif %}
          </h3>
          <p>
          {% trans id=revision_from.id, user_profile_url=revision_from.creator.get_absolute_url(), user=revision_from.creator, date=datetimeformat(revision_from.created, format='longdatetime') %}
            Revision {{ id }} by <a href="{{ user_profile_url }}">{{ user }}</a> on {{ date }}
          {% endtrans %}
          </p>
        </div>
        <div class="rev-to">
          <h3>
            {% if revision_to_header %}
              {{ revision_to_header }}
            {% else %}
              <a href="{{ url('wiki.revision', revision_to.document.slug, revision_to.id) }}" rel="nofollow, noindex">
                {{ _('Revision %(num)s:', num=revision_to.id) }}
              </a>
            {% endif %}
          </h3>
          <p>
          {% trans id=revision_to.id, user_profile_url=revision_to.creator.get_absolute_url(), user=revision_to.creator, date=datetimeformat(revision_to.created, format='longdatetime') %}
            Revision {{ id }} by <a href="{{ user_profile_url }}">{{ user }}</a> on {{ date }}
          {% endtrans %}
          </p>
        </div>
      </header>

      <dl>
        <dt>{{ _('Title:') }}</dt>
        <dd class="rev-from">{{ revision_from.title }}</dd>
        <dd class="rev-to">{{ revision_to.title }}</dd>

        <dt>{{ _('Slug:') }}</dt>
        <dd class="rev-from">{{ revision_from.slug }}</dd>
        <dd class="rev-to">{{ revision_to.slug }}</dd>

        {% if revision_from.tags or revision_to.tags %}
        <dt>{{ _('Tags:') }}</dt>
        <dd class="rev-from"> {{ ', '.join(revision_from.tags.split(',')) }}</dd>
        <dd class="rev-to"> {{ ', '.join(revision_to.tags.split(',')) }}</dd>
        {% endif %}

        {% if revision_from.comment or revision_to.comment %}
        <dt>{{ _('Comment:') }}</dt>
        <dd class="rev-from"> {{ revision_from.comment }}</dd>
        <dd class="rev-to"> {{ revision_to.comment }}</dd>
        {% endif %}

        <dt>{{ _('Content:') }}</dt>
        {% if revision_from.get_tidied_content(allow_none=True) == None or revision_to.get_tidied_content(allow_none=True) == None %}
        <dd id="doc-rendering-scheduled" class="warning">{% trans %}The server is rendering the content comparison. Please refresh this page in a few minutes.{% endtrans %}</dd>
        {% else %}
        <dd>{{ diff_table(revision_from.get_tidied_content(), revision_to.get_tidied_content(), revision_from.id, revision_to.id) }}</dd>
        {% endif %}
      </dl>
    </section>
  {% endif %}


{%- endmacro %}

{% macro contributor_links(contributors) -%}
    {% for contributor in contributors %}
        <a href="{{ url('users.user_detail', username=contributor.username) }}">{{ contributor.username }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro watch_tree_item(document, user) -%}
{% set title = document.title %}
                  <li class="page-watch">
                    {% set subscribe_tree_text = _('Subscribe to %(title)s and all its sub-articles', title=title) %}
                    {% set unsubscribe_tree_text = _('Unsubscribe from %(title)s and all its sub-articles', title=title) %}
                    <form action="{{ url('wiki.subscribe_to_tree', document.slug, locale=document.locale) }}" method="post">
                        {% csrf_token %}
                        <a href="#" data-subscribe-status="{{ subscribe_status }}" data-subscribe-text="{{ subscribe_tree_text }}" data-unsubscribe-text="{{ unsubscribe_tree_text }}" data-subscribe-message="{{ _('You are now subscribed to this article and all its sub-articles.') }}" data-unsubscribe-message="{{ _('You have been unsubscribed from this article and all its sub-articles.') }}">
                        {% if document.tree_is_watched_by(user) %}{{ unsubscribe_tree_text }}{% else %}{{ subscribe_tree_text }}{% endif %}
                        </a>
                    </form>
                  </li>
{%- endmacro %}

{% macro watch_menu_items(document, user) -%}
                <ul>
                  <li class="page-watch">
                    {% set title = document.title %}
                    {% set subscribe_status = _('Updating subscription status') %}
                    {% set subscribe_text = _('Subscribe to %(title)s', title=title) %}
                    {% set unsubscribe_text = _('Unsubscribe from %(title)s', title=title) %}
                    <form action="{{ url('wiki.subscribe', document.slug, locale=document.locale) }}" method="post">
                        {% csrf_token %}
                        <a href="#" data-subscribe-status="{{ subscribe_status }}" data-subscribe-text="{{ subscribe_text }}" data-unsubscribe-text="{{ unsubscribe_text }}" data-subscribe-message="{{ _('You are now subscribed to %(title)s.', title=title) }}" data-unsubscribe-message="{{ _('You have been unsubscribed from %(title)s.', title=title) }}">
                        {% if document.is_watched_by(user) %}{{ unsubscribe_text }}{% else %}{{ subscribe_text }}{% endif %}
                        </a>
                    </form>
                  </li>

                  {{ watch_tree_item(document, user) }}

                  {% if document.parent %}
                    <li class="page-watch">
                    {% set parent_language = document.parent.language %}
                    {% set subscribe_parent_text = _('Subscribe to <bdi>%(language)s</bdi> version', language=parent_language) %}
                    {% set unsubscribe_parent_text = _('Unsubscribe from <bdi>%(language)s</bdi> version', language=parent_language) %}
                      <form action="{{ url('wiki.subscribe', document.parent.slug, locale=document.parent.locale) }}" method="post">
                          {% csrf_token %}
                        <a href="#" data-subscribe-status="{{ subscribe_status }}" data-subscribe-text="{{ subscribe_parent_text }}" data-unsubscribe-text="{{ unsubscribe_parent_text }}" data-subscribe-message="{{ _('You are now subscribed to the %(language)s version of this article.', language=parent_language) }}" data-unsubscribe-message="{{ _('You have been unsubscribed from the %(language)s version of this article.', language=parent_language) }}">
                          {% if document.parent.is_watched_by(user) %}{{ unsubscribe_parent_text|safe }}{% else %}{{ subscribe_parent_text|safe }}{% endif %}
                        </a>
                      </form>
                    </li>
                  {% endif %}

                  </ul>

                  {% set watched_parent_trees = document.parent_trees_watched_by(user) %}
                  {% if watched_parent_trees %}
                    <ul>
                      {% for watched_parent_tree in watched_parent_trees %}
                        {{ watch_tree_item(watched_parent_tree, user) }}
                      {% endfor %}
                    </ul>
                  {% endif %}

{%- endmacro %}
