<div class="warning" id="kserrors">
<p>
{{ ngettext(
  'There was a scripting error on this page. While it is being addressed by site editors, you can view partial content below.',
  'There were scripting errors on this page. While those are being addressed by site editors, you can view partial content below.',
  kumascript_errors|count)
}}

</p>
{% if request.user.is_authenticated %}
  <button type="button" class="kserrors-details-toggle" data-alternate-message="{{ _('Hide error information') }}">
    {{ ngettext(
      'More information about this error',
      'More information about these errors',
      kumascript_errors|count)
    }}
  </button>
  <div class="kserrors-details hidden">
      <p>{% trans troubleshooting_url='/docs/MDN/Contribute/Tools/KumaScript/Troubleshooting' %}
        Anyone with an MDN profile can edit a document to fix an error. Use the <a href="{{ troubleshooting_url }}">KumaScript troubleshooting guide</a> as a starting point.
      {% endtrans %}</p>

      <ul id="kserrors-list">
      {% for error in kumascript_errors %}
        <li>
          <dl>
            {% if error.args %}
              {% set error_type = error.args[0] %}
              <dt>{{ _('Error type:') }}</dt>
              <dd class="kserror-type">
                {{ error_type }}
              </dd>
              {% set error_meta = error.args[2] if error.args|count > 2 else None %}
              {% set macro_name = error_meta.get('name') if error_meta else None %}
              {% if macro_name %}
                {% set macro_relpath = macro_sources.get(macro_name.lower()) %}
                <dt>{{ _('In macro:') }}</dt>
                <dd>
                  <code class="kserror-macro">{{ macro_name }}</code>
                  {% if ('unable to load: ' + macro_name) in error.message %}
                    (<a href="https://github.com/mdn/kumascript#updating-macros">{{ _('Create Macro') }}</a>)
                  {% elif macro_relpath %}
                    (<a href="{{ 'https://github.com/mdn/kumascript/blob/master/macros/' + macro_relpath }}">{{ _('View Macro') }}</a>)
                  {% endif %}
                </dd>
                <dt>{{ _('Parsing macro:') }}</dt>
                <dd>
                  <code class="kserror-parse">{{ macro_name }}
                    {% if error_meta.get('token') %}
                      ({{ error_meta.token.args }})
                    {% endif %}
                  </code>
                  {% if document %}
                    (<a href="{{ document.get_edit_url() }}">{{ _('Edit Document') }}</a>)
                  {% endif %}
                </dd>
              {% endif %}
            {% endif %}
            <dt>{{ _('Full text of error:') }}</dt>
            <dd><pre class="message brush: text">{{ error.message }}</pre></dd>
          </dl>
        </li>
      {% endfor %}
      </ul>
  </div>
{% endif %}
</div>
