
{% macro page_buttons(wiki, document, discard_href, location) %}

{% if not discard_href %}
  {% if document %}
    {% set discard_href = url('wiki.document', document.slug) %}
  {% else %}
    {% set discard_href = url('wiki.create') %}
  {% endif %}
{% endif %}


{% if location == 'top' %}
  {% if document %}<iframe id="save-and-edit-target" name="save-and-edit-target"></iframe>{% endif %}
  <input type="hidden" id="new-page-href" value="{{ url('wiki.create') }}">
  <input type="hidden" id="new-page-label" value="{{ _('New Page') }}">
  <input type="hidden" id="new-page-msg" value="{{ _('Discard changes and create a new document?') }}">
{% endif %}

<ul class="page-buttons">
  {% if document %}
  {# No save-and-edit on new pages because slug changes confuse it #}
  <li>
    <button type="button" class="button positive btn-save-and-edit">
        {% include 'includes/icons/tools/pencil.svg' %}
        <span>{{ _('Publish and Keep Editing') }}</span>
    </button>
  </li>
  {% endif %}
  <li>
    <button type="submit" class="button positive btn-save">
        {% include 'includes/icons/general/check-mark.svg' %}
        {{ _('Publish') }}
    </button>
  </li>
  <li>
    <button type="button" class="btn-preview" data-preview-url="{{ url('wiki.preview') }}">
        {% include 'includes/icons/tools/play.svg' %}
        {{ _('Preview') }}
    </button>
  </li>
  <li>
    <a href="{{ discard_href }}" class="button negative btn-discard">
        {% include 'includes/icons/tools/undo.svg' %}
        {{ _('Discard') }}
    </a>
  </li>
</ul>

{% endmacro %}
