<section class="wiki-block" id="page-comment">
  <h3>
    {% include 'includes/icons/general/comment.svg' %} {{_('Revision Comment')}}
    <a href="{{ wiki_url('MDN/Contribute/Editor/Basics#The_revision_comment_box') }}" title="{{ _('Learn how to use Revision Comments') }}" class="revision-comment-link">
      {% include 'includes/icons/punctuation/question-mark.svg' %}
    </a>
  </h3>
  <p>{{_('Tell us why you made additions and changes. It is optional, but will make page history easier to understand.')}}</p>
  {{ revision_form.comment | safe }}
</section>
