<div class="author">
  <a href="{{ profile_url(post.author) }}">
    <img src="{{ profile_avatar(post.author) }}" height="45" width="45" alt=""/>
  </a>
  <a href="{{ profile_url(post.author) }}">{{ post.author }}</a>
  <span class="posts">{{ _('{0} posts')|f(post.author.post_set.count()) }}</span>
  <div class="post-actions">
  {% if post.id and not thread.is_locked and
         has_perm_or_owns('forums_forum.post_edit_forum', post, forum, 'author') %}
    <a href="{{ url('forums.edit_post', forum.slug, thread.id, post.id) }}"><img src="{{ MEDIA_URL }}img/forums/edit.png" alt="{{ _('Edit') }}" title="{{ _('Edit') }}"/></a>
  {% endif %}
  {% if post.id and has_perm('forums_forum.post_delete_forum', forum) %}
    <a href="{{ url('forums.delete_post', forum.slug, thread.id, post.id) }}">
      <img src="{{ MEDIA_URL }}img/forums/delete.png" alt="{{ _('Delete') }}" title="{{ _('Delete') }}">
    </a>
  {% endif %}
  </div>
</div>
<div class="content">
  {{ post.content_parsed }}
</div>
<div class="info">
  {{ datetimeformat(post.created, format='longdatetime') }}
  <a href="#post-{{ post.id }}" class="permalink" title="{{ _('Link to this post.') }}">#</a>
  {% if post.id and user.is_authenticated() and not thread.is_locked %}
    <span class="post-action">
      <a href="#thread-reply">{{ _('Reply') }}</a>
    </span>
  {% endif %}
  {% if post.created != post.updated %}
    <span class="post-modified">
      {{ _('Modified by {name} on {datetime}')|f(name=post.updated_by.username, datetime=datetimeformat(post.updated, format='longdatetime'))|safe }}
    </span>
  {% endif %}
</div>