# From kuma .gitignore
*.pyc
*.pyo
*.sw?
*devmo*.sql*
.DS_Store
.awsconfig
.cache
.coverage
.env
.noseids
.noserc
.tox
.vagrant
bower_components
static/*/*
build.py
build/assets/css/*
build/locale/
celeryev.pid
coverage.xml
docs/_build/
htmlcov/
humans.txt
james.ini
kuma.box
kuma/static/js/libs/ckeditor/source/ckbuilder
kumascript.log
kumascript_settings_local.json
locale/**/*.mo
logs/
media/attachments
media/sitemap*
media/uploads
node_modules/
nosetests.xml
pip-log.txt
tmp
uploads/
webroot/.htaccess
wheelhouse
xfers/*

# From kumascript .gitignore
kumascript/*.swp
kumascript/*.swo
kumascript/tmp
kumascript/logs
kumascript/docs
kumascript/.monitor
kumascript/.nodemonignore
kumascript/*.node
kumascript/*.dSYM
kumascript/*.o
kumascript/*.a
kumascript/*.dylib
kumascript/*.un~
kumascript/node_modules/fibers
kumascript/node_modules/underscore/raw
kumascript/npm-debug.log

# Additional ignores
.git
.gitignore
kumascript/.git
kumascript/.gitignore
provisioning
k8s
docker
docker-compose*
Dockerfile
Dockerfile*
