# Files excluded from Docker context
#
# This is useful to test changes, find files to exclude:
# https://stackoverflow.com/questions/38946683/how-to-test-dockerignore-file
#
# Patterns from kuma .gitignore, but with changes for
# .dockerignore directory matching:
# foo/     - Directory foo in the root of the repo
# **/foo/  - Directory foo anywhere in the repo
# foo/*    - Files under foo in the root of the repo, keep directory
# **/foo/* - Files under foo anywhere in the repo, keep directory
#

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Distribution / packaging
build/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
test_results/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Celery
celerybeat-schedule
celeryev.pid

# .dotenv
.env

# Virtualenv
.venv
**/venv/
**/ENV/

# Swapfiles
*.sw?

# macOS finder files
.DS_Store

# Kuma-specfic
*devmo*.sql*
assets/ckeditor4/source/ckbuilder/
bower_components
build.py
developer.mozilla.org.tar.gz
docker-compose.dev.yml
docker-compose.locust.yml
james.ini
mdn_sample_db.sql
mdn_sample_db.sql.gz
mdntests/
media/attachments
media/uploads
media/revision.txt
media/kumascript-revision.txt
**/node_modules/
static/
tmp

# Not an actual file any more but kept for simplicity.
humans.txt

# Selenium
geckodriver.log

# Legacy
.awsconfig
logs/
xfers/
wheelhouse
uploads/
kumascript.log
kuma/static/js/libs/ckeditor/source/ckeditor/
kuma/static/js/libs/ckeditor/source/ckbuilder/

#
# End adjusted kuma .gitignore
#


# Additional ignores
.git
.gitignore
k8s/
docker/
docker-compose*
# Rebuilt in Docker
locale/*/LC_MESSAGES/*.mo
*.pot
