# Top-most EditorConfig file ?
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentiation
[*.js]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 4

[*.styl]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4