# Top-most EditorConfig file ?
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation
indent_style = space
indent_size = 4

# YAML and Jenkins use two spaces
[{*.yml,Jenkinsfile}]
indent_size = 2

# git and Makefile use the superior tabs
[{.git*,Makefile,make.bat}]
indent_style = tab
