[flake8]
# Black recommends 88-char lines and ignoring the following lints:
# - E203 - whitespace before ':'
# - E501 - line too long
# - W503 - line break before binary operator
max-line-length=88
ignore = E203, E501, W503

# Allow star imports in config files:
per-file-ignores =
    kuma/settings/local.py:F403,F405
    kuma/settings/prod.py:F403,F405
    kuma/settings/pytest.py:F403,F405

# flake8-import-order settings
import-order-style=edited
application-import-names=kuma,pages,utils
