*.pyc
*.pyo
*.sw?
.vagrant
.cache
kuma.box
pip-log.txt
.coverage
coverage.xml
nosetests.xml
.noserc
.noseids
build.py
media/uploads
media/attachments
media/sitemap*
/static/*/*
!/static/fonts/.htaccess
xfers/*
humans.txt
tmp
webroot/.htaccess
kumascript.log
kumascript_settings_local.json
.DS_Store
node_modules/
docs/_build/
wheelhouse
.awsconfig
james.ini
celeryev.pid
kuma/static/js/libs/ckeditor/source/ckbuilder
.tox
uploads/
.env
*devmo*.sql*
htmlcov/
locale/**/*.mo
/bower_components
build/assets/css/*
build/locale/
!build/assets/css/README.md
