[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/kuma-lib.git
[submodule "kumascript"]
	path = kumascript
	url = git://github.com/mozilla/kumascript.git
[submodule "media/js/libs/ckeditor/source/ckeditor"]
	path = media/js/libs/ckeditor/source/ckeditor
	url = git://github.com/ckeditor/ckeditor-dev.git
[submodule "media/js/libs/ckeditor/source/plugins/scayt"]
	path = media/js/libs/ckeditor/source/plugins/scayt
	url = git://github.com/WebSpellChecker/ckeditor-plugin-scayt.git
[submodule "media/js/libs/ckeditor/source/plugins/wsc"]
	path = media/js/libs/ckeditor/source/plugins/wsc
	url = git://github.com/WebSpellChecker/ckeditor-plugin-wsc.git
[submodule "media/js/libs/ckeditor/source/plugins/descriptionlist"]
	path = media/js/libs/ckeditor/source/plugins/descriptionlist
	url = git://github.com/Reinmar/ckeditor-plugin-descriptionlist
