*.pyc
*.pyo
*.sw?
.vagrant
vagrantconfig_local.yaml
kuma.box
settings_local.py
pip-log.txt
.coverage
coverage.xml
nosetests.xml
.noserc
.noseids
build.py
media/uploads
media/attachments
media/sitemap*
/static/
locale
xfers/*
puppet/cache/*
humans.txt
tmp
webroot/.htaccess
kumascript.log
kumascript_settings_local.json
lib/product_details_json
.DS_Store
node_modules/
docs/_build/
wheelhouse
.awsconfig
james.ini
celeryev.pid
static/assets/js/libs/ckeditor/source/ckbuilder
.tox

# CSS compiled in-place by django-pipeline
kuma/static/assets/styles/*.css
