*.pyc
*.pyo
*.sw?
.vagrant
kuma.box
settings_local.py
pip-log.txt
.coverage
coverage.xml
nosetests.xml
.noserc
.noseids
build.py
**-all.css
**-min.css
**-all.js
**-min.js
media/uploads
media/attachments
media/sitemap*
static/
locale
xfers/*
humans.txt
tmp
webroot/.htaccess
kumascript.log
kumascript_settings_local.json
.DS_Store
node_modules/
media/css/*.css
docs/_build/
wheelhouse
.awsconfig
james.ini
celeryev.pid
media/js/libs/ckeditor/source/ckbuilder
.tox
.env
*_devmo.sql*
