[submodule "kumascript"]
	path = kumascript
	url = git://github.com/mozilla/kumascript.git
[submodule "vendor/src/basket-client"]
	path = vendor/src/basket-client
	url = git@github.com:mozilla/basket-client.git
[submodule "vendor/src/bleach"]
	path = vendor/src/bleach
	url = git@github.com:lmorchard/bleach.git
[submodule "vendor/src/check"]
	path = vendor/src/check
	url = git@github.com:jbalogh/check.git
[submodule "vendor/src/commonware"]
	path = vendor/src/commonware
	url = git@github.com:jsocol/commonware.git
[submodule "vendor/src/django"]
	path = vendor/src/django
	url = git@github.com:django/django.git
[submodule "vendor/src/django-allauth"]
	path = vendor/src/django-allauth
	url = git@github.com:pennersr/django-allauth.git
[submodule "vendor/src/django-appconf"]
	path = vendor/src/django-appconf
	url = git@github.com:jezdez/django-appconf.git
[submodule "vendor/src/django-authority"]
	path = vendor/src/django-authority
	url = git@github.com:jsocol/django-authority.git
[submodule "vendor/src/django-badger"]
	path = vendor/src/django-badger
	url = git@github.com:mozilla/django-badger.git
[submodule "vendor/src/django-browserid"]
	path = vendor/src/django-browserid
	url = git@github.com:mozilla/django-browserid.git
[submodule "vendor/src/django-cache-machine"]
	path = vendor/src/django-cache-machine
	url = git@github.com:jbalogh/django-cache-machine.git
[submodule "vendor/src/django-constance"]
	path = vendor/src/django-constance
	url = git@github.com:comoga/django-constance.git
[submodule "vendor/src/django-cronjobs"]
	path = vendor/src/django-cronjobs
	url = git@github.com:jsocol/django-cronjobs.git
[submodule "vendor/src/django-csp"]
	path = vendor/src/django-csp
	url = git@github.com:mozilla/django-csp.git
[submodule "vendor/src/django-debug-cache-panel"]
	path = vendor/src/django-debug-cache-panel
	url = git@github.com:jbalogh/django-debug-cache-panel.git
