sudo: required
services:
    - docker
language: python
python:
    - "2.7"
env:
    global:
        - DJANGO_SETTINGS_MODULE=settings_travis
        - DEBIAN_FRONTEND=noninteractive
        - CFLAGS=-O0
before_install:
    - scripts/travis-install
install:
    - ./docker-build.sh
script:
    - echo "OK"
