branches:
    only:
        - master
language: minimal
services:
    - docker
matrix:
    include:
        - language: python
          name: "Documentation"
          python: 3.8
          cache: pip
          install:
            - pip install -r docs/requirements.txt
          script:
            - sphinx-build -b html -d doctrees docs html
        - language: python
          name: "Python linting"
          python: 3.8
          cache: pip
          script:
            - set -x
            # Make sure there are no left-over git patch markers in
            - git --no-pager grep '>>>>>>>'
            - pip install poetry~=1.0.0b9
            - poetry --version
            - poetry install -vv
            - poetry run flake8 kuma docs tests
            - poetry run black --check --diff kuma docs tests
        - language: python
          name: "Python testing"
          python: 3.8
          env:
            UID=0
            DOCKER_COMPOSE_VERSION=1.23.2
          cache:
            directories:
              - downloads
              - build
              - static
          script:
            - set -e
            - scripts/ci-python
            - scripts/ci-jest
            - scripts/ci-localerefresh
            - bash <(curl -s https://codecov.io/bash)
        - language: node_js
          name: "Javascript linting"
          node_js: 10
          cache: npm
          script:
            - scripts/ci-jslint
            - scripts/ci-flow
