language: python
cache: apt

python:
    - "2.6"

env: FORCE_DB=1 PYTHONPATH=. DJANGO_SETTINGS_MODULE=settings_travis


services:
    - memcached
    - elasticsearch

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install build-essential aria2 python2.6-dev libxml2-dev libxslt-dev libjpeg8 libjpeg62-dev libfreetype6 libfreetype6-dev zlib1g-dev sqlite3 libtidy-dev
    - sudo ln -s /usr/lib/`uname -i`-linux-gnu/libfreetype.so /usr/lib
    - sudo ln -s /usr/lib/`uname -i`-linux-gnu/libz.so /usr/lib
    - aria2c -j 10 https://s3-us-west-2.amazonaws.com/pkgs.mozilla.net/python/mdn/base_wheels.tar.gz
    - aria2c -j 10 https://s3-us-west-2.amazonaws.com/pkgs.mozilla.net/python/mdn/travis_wheels.tar.gz
    - aria2c -j 10 https://s3-us-west-2.amazonaws.com/pkgs.mozilla.net/python/mdn/product_details_json.tar.gz
    - tar xvfz base_wheels.tar.gz
    - tar xvfz travis_wheels.tar.gz
    - tar -C .. -zxf product_details_json.tar.gz

install:
    # we install 1.4.9 here separately because 1.4.x can't be packaged as a wheel file
    - pip install -U pip wheel Django==1.4.9
    - pip install --no-index --find-links=travis_wheels -r requirements/compiled.txt
    - pip install --no-index --find-links=base_wheels -r requirements/prod.txt -r requirements/dev.txt

before_script:
    - mysql -e 'create database kuma;'

script:
    - python manage.py test --noinput -v2 actioncounters contentflagging dashboards demos devmo kpi landing search users wiki

notifications:
    irc:
        channels:
            - "irc.mozilla.org#mdndev"
        on_success: always
        on_failure: always
        use_notice: true
        skip_join: true
