branches:
    only:
        - master
language: python
python:
    - "3.7"
services:
    - docker
matrix:
    include:
        - language: python
          name: "Documentation"
          python: 3.6
          cache: pip
          script:
            - scripts/ci-docs
        - language: python
          name: "Python linting"
          python: 3.7
          cache: pip
          script:
            - set -x
            # Make sure there are no left-over git patch markers in
            - git --no-pager grep '>>>>>>>'
            # Make sure these match what's in requirements/dev.txt!
            - pip install flake8==3.7.3 flake8-import-order==0.18
            - flake8 kuma docs tests
        - language: python
          name: "Python testing"
          python: 3.7
          env:
            UID=0
            DOCKER_COMPOSE_VERSION=1.23.2
          cache:
            directories:
              - downloads
              - build
              - static
          script:
            - set -e
            - scripts/ci-python
            - scripts/ci-jest
            - scripts/ci-localerefresh
            - bash <(curl -s https://codecov.io/bash)
        - language: node_js
          name: "Javascript linting"
          node_js: 10
          cache: npm
          script:
            - scripts/ci-jslint
            - scripts/ci-flow
