sudo: required
branches:
    only:
        - master
cache:
    pip: True
    directories:
      - node_modules
      - downloads
language: python
services:
    - docker
    - memcached
    - mysql
    - redis
env:
    global:
        - DATABASE_URL=mysql://root:@127.0.0.1:3306/kuma
        - DJANGO_SETTINGS_MODULE=kuma.settings.travis
        - DOCKER_COMPOSE_VERSION=1.9.0
        - ES_VERSION=2.4.5
        - ES_DOWNLOAD_URL=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz
        - PIPELINE_CLEANCSS_BINARY=$TRAVIS_BUILD_DIR/node_modules/.bin/cleancss
        - PIPELINE_CSS_COMPRESSOR=kuma.core.pipeline.cleancss.CleanCSSCompressor
        - PIPELINE_JS_COMPRESSOR=pipeline.compressors.uglifyjs.UglifyJSCompressor
        - PIPELINE_SASS_BINARY=$TRAVIS_BUILD_DIR/node_modules/.bin/node-sass
        - PIPELINE_UGLIFYJS_BINARY=$TRAVIS_BUILD_DIR/node_modules/.bin/uglifyjs

matrix:
    include:
        - python: "2.7"
          env:
            TOXENV=pytest
            CREATE_DB=kuma
            INSTALL_PIPELINE=1
            INSTALL_ELASTICSEARCH=1
        - python: "2.7"
          env:
            TOXENV=flake8
        - python: "2.7"
          env:
            TOXENV=docs
        - python: "2.7"
          env:
            TOXENV=locales
            CREATE_DB=kuma
            INSTALL_PIPELINE=1
        - python: "2.7"
          env:
            TOXENV=docker
            INSTALL_DOCKER_COMPOSE=1
            UID=0
        - python: "2.7"
          env:
            TOXENV=stylelint
        - python: "3.6"
          env:
            TOXENV=pytest
            CREATE_DB=kuma
            INSTALL_PIPELINE=1
            INSTALL_ELASTICSEARCH=1
    allow_failures:
        - python: "3.6"
          env:
            TOXENV=pytest
            CREATE_DB=kuma
            INSTALL_PIPELINE=1
            INSTALL_ELASTICSEARCH=1
install:
    - nvm install 6
    - nvm use 6
    - scripts/travis-install
    - pip install -U pip
    - pip install -r requirements/travis.txt
    # Wait for ElasticSearch to be ready
    - if [[ "$INSTALL_ELASTICSEARCH" == "1" ]]; then wget -q --waitretry=1 --retry-connrefused -T 10 -O - http://127.0.0.1:9200; fi;
script:
    - tox -v
after_failure:
    - dmesg | tail
after_success:
    - codecov
notifications:
    irc:
        channels:
            - "irc.mozilla.org#mdndev"
        on_success: always
        on_failure: always
        use_notice: true
