sudo: required
branches:
    only:
        - master
cache:
    pip: True
    directories:
      - node_modules
      - downloads
language: python
python:
    - "2.7"
services:
    - docker
    - memcached
    - mysql
env:
    global:
        - DATABASE_URL=mysql://root:@127.0.0.1:3306/kuma
        - DJANGO_SETTINGS_MODULE=kuma.settings.travis
        - DOCKER_COMPOSE_VERSION=1.9.0
        - ES_VERSION=2.4.5
        - ES_DOWNLOAD_URL=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.5/elasticsearch-2.4.5.tar.gz
        - PIPELINE_CLEANCSS_BINARY=$TRAVIS_BUILD_DIR/node_modules/.bin/cleancss
        - PIPELINE_CSS_COMPRESSOR=kuma.core.pipeline.cleancss.CleanCSSCompressor
        - PIPELINE_JS_COMPRESSOR=pipeline.compressors.uglifyjs.UglifyJSCompressor
        - PIPELINE_SASS_BINARY=$TRAVIS_BUILD_DIR/node_modules/.bin/node-sass
        - PIPELINE_UGLIFYJS_BINARY=$TRAVIS_BUILD_DIR/node_modules/.bin/uglifyjs
    matrix:
        - TOXENV=py27
          CREATE_DB=kuma
          INSTALL_PIPELINE=1
          INSTALL_ELASTICSEARCH=1
          PYTHONHASHSEED=0
        - TOXENV=flake8
        - TOXENV=docs
        - TOXENV=locales
          INSTALL_DOCKER_COMPOSE=1
        - TOXENV=docker
          INSTALL_DOCKER_COMPOSE=1
          UID=0
        - TOXENV=stylelint
        # TODO: make this default when http://bugzil.la/1127798 is fixed
        - TOXENV=py27
          CREATE_DB=kuma
          INSTALL_PIPELINE=1
          INSTALL_ELASTICSEARCH=1

matrix:
    allow_failures:
        - env: TOXENV=py27 CREATE_DB=kuma INSTALL_PIPELINE=1 INSTALL_ELASTICSEARCH=1
install:
    - nvm install 6
    - nvm use 6
    - scripts/travis-install
    - pip install -U pip
    - pip install -r requirements/travis.txt
    # Wait for ElasticSearch to be ready
    - if [[ "$INSTALL_ELASTICSEARCH" == "1" ]]; then wget -q --waitretry=1 --retry-connrefused -T 10 -O - http://127.0.0.1:9200; fi;
script:
    if [[ "$PYTHONHASHSEED" == "0" ]]; then
        tox -v --hashseed=noset;
    else
        tox -v;
    fi
after_failure:
    - dmesg | tail
after_success:
    - codecov
notifications:
    irc:
        channels:
            - "irc.mozilla.org#mdndev"
        on_success: always
        on_failure: always
        use_notice: true
