[tool.poetry]
name = "kuma"
version = "0.0.0"
license = "MPL-2.0"
description = "The MDN Web Docs site"
authors = ["MDN Devs <mdn-dev@mozilla.com>"]
homepage = "https://developer.mozilla.org"
repository = "https://github.com/mdn/kuma"
documentation = "https://kuma.readthedocs.io"

[tool.poetry.dependencies]
# NOTE: Items from requirements/constraints.txt should be removed.
# They are present only to ease the transition to Poetry

python = "^3.8"

# From default.txt
babel = "^2.8.0"
bleach = "2.1.4"
boto3 = "^1.10.37"
celery = "^4.3.0"
commonware = "0.5.0"
cssselect = "^1.1.0"
dennis = "0.9"
dj-database-url = "^0.5.0"
dj-email-url = "^0.2.0"
django = "^1.11.28"
django-allauth = "^0.40.0"
django-cacheback = "1.4.0"
django-constance = {extras = ["database"], version = "~2.5.0"}
django-csp = "^3.6"
django-decorator-include = "1.4.1"
django-extensions = "^2.2.6"
django-honeypot = "^0.7.0"
django-jinja = "^2.6.0"
django-mysql = "^3.3.0"
django-pipeline = "^1.7.0"
django-ratelimit = "2.0.0"
django-redirect-urls = "1.0"
django-redis = "^4.11.0"
django-soapbox = "1.5"
django-statici18n = "^1.9.0"
django-storages = "^1.9.1"
django-sundial = "1.0.6"
django-taggit = "0.21.6"
django-tidings = "2.0.1"
django-waffle = "^0.19.0"
djangorestframework = "^3.11.0"
elasticsearch = "6.3.1"
elasticsearch-dsl = "6.4.0"
feedparser = "5.2.1"
google-api-python-client = "^1.7.11"
gunicorn = "^20.0.4"
html5lib = "1.0.1"
httplib2 = "^0.17.0"
jinja2 = "^2.11.1"
jsonpickle = "^1.2"
lxml = "^4.4.2"
meinheld = "1.0.1"
mysqlclient = "^1.4.6"
newrelic = "^5.6.0.135"
oauth2client = "^4.1.3"
polib = "1.1.0"
puente = "0.5.0"
pytest = "3.1.3"
python-dateutil = "^2.8.0"
python-decouple = "^3.3"
python-magic = "0.4.15"
pytidylib = "0.3.2"
pytz = "^2019.3"
raven = "6.10.0"
redo = "^2.0.3"
requests-mock = "0.7.0"
sqlparse = "0.3.0"
stripe = "^2.42.0"
urllib3 = "^1.25.7"
urlobject = "^2.4.3"
whitenoise = "3.3.1"

# From default_and_test.txt
pyquery = "1.4.1"
requests = "^2.22.0"
six = "^1.13.0"

# From dev.txt
django-babel = "0.6.2"
django-querycount = "0.7.0"
pytest-cov = "2.4.0"
pytest-django = "3.1.2"
urlwait = "0.4"

# From constraints.txt
coverage = "4.3.4"

[tool.poetry.dev-dependencies]
django-debug-toolbar = "^2.2"
werkzeug = "^0.16.1" # Enables runserver_plus from django-extensions

# From test.txt
braceexpand = "^0.1.5"
pytest-base-url = "^1.4.1"
pytest-metadata = "^1.8.0"
pytest-rerunfailures = "^4.2"
pytest-variables = "^1.9.0"

# From linting.txt
flake8 = "^3.7.9"
flake8-import-order = "^0.18.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
