[tool.poetry]
name = "kuma"
version = "0.0.0"
license = "MPL-2.0"
description = "The MDN Web Docs site"
authors = ["MDN Devs <mdn-dev@mozilla.com>"]
homepage = "https://developer.mozilla.org"
repository = "https://github.com/mdn/kuma"
documentation = "https://kuma.readthedocs.io"

[tool.poetry.dependencies]
# NOTE: Items from requirements/constraints.txt should be removed.
# They are present only to ease the transition to Poetry

python = "^3.8"

# From default.txt
babel = "2.2.0"
bleach = "2.1.4"
boto3 = "^1.10.37"
celery = "^4.3.0"
commonware = "0.5.0"
cssselect = "1.0.3"
dennis = "0.9"
dj-database-url = "0.4.0"
dj-email-url = "0.0.4"
django = "1.11.23"
django-allauth = "0.38.0"
django-cacheback = "1.4.0"
django-constance = "2.4.0"
django-csp = "3.5"
django-decorator-include = "1.4.1"
django-extensions = "2.2.5"
django-flat-theme = "1.1.3"
django-honeypot = "0.5.0"
django-jinja = "2.4.1"
django-mysql = "3.2.0"
django-picklefield = "1.0.0"
django-pipeline = "1.6.14"
django-ratelimit = "2.0.0"
django-redirect-urls = "1.0"
django-redis = "4.10.0"
django-soapbox = "1.5"
django-statici18n = "1.7.0"
django-storages = "1.7.2"
django-sundial = "1.0.6"
django-taggit = "0.21.6"
django-tidings = "2.0.1"
django-waffle = "0.16.0"
djangorestframework = "3.9.4"
elasticsearch = "6.3.1"
elasticsearch-dsl = "6.4.0"
feedparser = "5.2.1"
google-api-python-client = "1.5.1"
gunicorn = "19.9.0"
html5lib = "1.0.1"
httplib2 = "0.9.2"
jinja2 = "2.10.1"
jsonpickle = "0.9.2"
lxml = "4.2.5"
meinheld = "1.0.1"
mysqlclient = "1.4.4"
newrelic = "4.20.1.121"
oauth2client = "3.0.0"
polib = "1.1.0"
puente = "0.5.0"
pytest = "3.1.3"
python-dateutil = "^2.8.0"
python-decouple = "3.1"
python-magic = "0.4.15"
pytidylib = "0.3.2"
pytz = "^2019.3"
raven = "6.10.0"
redis = "3.2.1"
requests-mock = "0.7.0"
sqlparse = "0.3.0"
stripe = "2.31.0"
urllib3 = "^1.25.7"
urlobject = "2.4.0"
whitenoise = "3.3.1"

# From default_and_test.txt
pyquery = "1.4.0"
requests = "^2.22.0"
six = "^1.13.0"

# From dev.txt
django-babel = "0.6.2"
django-debug-toolbar = "1.10.1"
django-querycount = "0.7.0"
pytest-cov = "2.4.0"
pytest-django = "3.1.2"
urlwait = "0.4"
werkzeug = "0.16.0"

# From constraints.txt
chardet = "3.0.4"
coverage = "4.3.4"
defusedxml = "0.5.0"
django-appconf = "1.0.2"
greenlet = "0.4.15"
markupsafe = "1.0"
oauthlib = "2.0.4"
py = "1.4.33"
pyasn1 = "0.1.9"
pyasn1-modules = "0.0.8"
python3-openid = "3.1.0"
requests-oauthlib = "0.8.0"
rsa = "3.4.2"
uritemplate = "0.6"
webencodings = "0.5.1"

[tool.poetry.dev-dependencies]
# From test.txt
braceexpand = "0.1.1"
pytest-base-url = "1.4.1"
pytest-html = "1.16.1"
pytest-metadata = "1.5.1"
pytest-rerunfailures = "2.1.0"
pytest-variables = "1.7.1"

# From linting.txt
flake8 = "3.7.9"
flake8-import-order = "0.18"

# From constraints.txt
entrypoints = "0.3"
mccabe = "0.6.1"
pycodestyle = "2.5.0"
pyflakes = "2.1.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
