-e svn+http://code.djangoproject.com/svn/django/trunk@12335#egg=Django
-e svn+http://django-localeurl.googlecode.com/svn/trunk@90#egg=django_localeurl-trunk-py2.6-dev_r90
-e git://github.com/jbalogh/django-multidb-router.git#egg=django-multidb-router
-e git://github.com/jbalogh/django-cache-machine.git#egg=django-cache-machine
Jinja2==2.2.1
-e git://github.com/jbalogh/jingo.git#egg=jingo
MySQL-python==1.2.3c1
python-memcached==1.45
Werkzeug==0.5.1
Babel==0.9.4
phpserialize
south

# for spell checking
-e svn+http://pyhunspell.googlecode.com/svn/trunk@6#egg=hunspell-0.1-py2.6-dev_r6
-e git://github.com/jsocol/didyoumean.git#egg=didyoumean
