@font-face {
    font-family: 'Milk';
    src: url($path-to-fonts + 'ABTSmilk.eot');
    src: url($path-to-fonts + 'ABTSmilk.eot?#iefix') format('embedded-opentype'),
         url($path-to-fonts + 'ABTSmilk.woff') format('woff'),
         url($path-to-fonts + 'ABTSmilk.ttf') format('truetype'),
         url($path-to-fonts + 'ABTSmilk.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
