/* because kuma forces us to override this way */
.text-content {
    .webdev {
        h3 {
            background-color: $brand-primary-500;
            color: $text-color;
            padding: 0;

            &::before {
                display: inline-block;
                content: '';
                background: transparent url('/static/general/book.svg') 0 0
                    no-repeat;
                background-size: 28px;
                margin-right: 5px;
                width: 28px;
                height: 28px;
                vertical-align: sub;
            }
        }
    }
}
