{% extends "base.html" %}


{% block body_attributes %}id="contribute"{% endblock %}

{% block title %}{{ page_title(_('Contribute')) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'jquery-ui' %}
{% endblock %}

{% block site_js %}
    {{ super() }}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    {% javascript 'jquery-ui' %}
    {% javascript 'contribute' %}
{% endblock %}

{% block extrahead %}
    {# TODO: Implement copy & design for the share functionality #}
    {% set seo_description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.' %}
    {% set social_title = _('Support MDN') %}
    <meta property="og:description" content="{{ seo_description }}">
    <meta name="description" content="{{ seo_description }}">
    <meta name="twitter:description" content="{{ seo_description }}">
    <meta name="twitter:title" content="{{ social_title }}">
    <meta property="og:title" content="{{ social_title }}">
{% endblock %}

{% block document_head %}
    {% with form=form, is_popover=False %}
        {% include "contributions/includes/contribution-form.html" %}
    {% endwith %}
{% endblock %}

{% block content %}

<div id="contributions-page" class="conributions-page">
    <div class="section">
        <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation">
        <div class="index">
            <h2>{{_('FAQs')}}</h2>
        </div>
        <ul class="faqs clear">
            <li class="faq">
                <h3>{{_('How has MDN been funded to date?')}}</h3>
                <span class="faq-number">1</span>
                <p>{{_('Since 2005, when Mozilla launched MDN, Mozilla has funded MDN out of its general budget.')}}</p>
                <span class="small">{{_('Did this answer your question?')}}</span>
                <div class="vote-button-group">
                    <button class="thumbs-up" data-faq="1">{% include 'includes/icons/emojis/thumbs-up.svg' %}</button>
                    <button class="thumbs-down" data-faq="1">{% include 'includes/icons/emojis/thumbs-down.svg' %}</button>
                </div>
            </li>
            <li class="faq">
                <h3>{{_('How does Mozilla make money?')}}</h3>
                <span class="faq-number">2</span>
                <p>{{_('Mozilla generates most of its revenue from revenue-sharing with search providers, in the search dropdown and powering the start page. Google accounts for most of that, but the revenue mix also includes search revenue shares from others e.g. Bing & Yandex, as well as some e-commerce affiliate revenue from Amazon, eBay and others')}}</p>
                <p>{{ _('To conform with non-profit rules, we report our one-year trailing revenues publicly; here is the 2016 report.')}}</p>
                <span class="small">{{_('Did this answer your question?')}}</span>
                <div class="vote-button-group">
                    <button class="thumbs-up" data-faq="2">{% include 'includes/icons/emojis/thumbs-up.svg' %}</button>
                    <button class="thumbs-down" data-faq="2">{% include 'includes/icons/emojis/thumbs-down.svg' %}</button>
                </div>
            </li>
            <li class="faq">
                <h3>{{_('Why is MDN starting to ask for money?')}}</h3>
                <span class="faq-number">3</span>
                <p>{{_('A little history of our evolution is helpful here. MDN was originally the Mozilla Developer Network, and was used primarily for Firefox internal documentation. We then started documenting the web platform as it became implemented in Firefox, and have further broadened our coverage to web standards more generally.')}}</p>
                <p>{{_('In 2017, MDN established a Product Advisory Board (PAB) and added documentation from other developer programs to grow in our role as a truly cross-organizational, web-wide developer resource. While the PAB does not provide financial support to Mozilla, the time is right to broaden our financial support beyond coming from just Mozilla.  And having our broad readership contribute financially also creates a tighter, healthier loop between our audience (you), our content (written for you) and source of financial support (also you).')}}</p>
                <span class="small">{{_('Did this answer your question?')}}</span>
                <div class="vote-button-group">
                    <button class="thumbs-up" data-faq="3">{% include 'includes/icons/emojis/thumbs-up.svg' %}</button>
                    <button class="thumbs-down" data-faq="3">{% include 'includes/icons/emojis/thumbs-down.svg' %}</button>
                </div>
            </li>
            <li class="faq">
                <h3>{{_('If I donate to the Mozilla Foundation, will that help MDN?')}}</h3>
                <span class="faq-number">4</span>
                <p>{{_('Donations to the Mozilla Foundation go to support Mozilla-only programs. We are setting up a mechanism to support MDN as a cross-organizational resource; to support MDN specifically, donations should go via X tool thing. Another note for U.S.-residents: Mozilla Foundation donations are tax-deductible, but contributions to MDN aren’t.')}}</p>
                <span class="small">{{_('Did this answer your question?')}}</span>
                <div class="vote-button-group">
                    <button class="thumbs-up" data-faq="4">{% include 'includes/icons/emojis/thumbs-up.svg' %}</button>
                    <button class="thumbs-down" data-faq="4">{% include 'includes/icons/emojis/thumbs-down.svg' %}</button>
                </div>
            </li>
            <li class="faq">
                <h3>{{_('If MDN is volunteer-driven, why do you need to hire writers?')}}</h3>
                <span class="faq-number">5</span>
                <p>{{_('Our contributors are core to our success. To effectively scale how we work with them, we need folks to provide guidance and support.')}}</p>
                <span class="small">{{_('Did this answer your question?')}}</span>
                <div class="vote-button-group">
                    <button class="thumbs-up" data-faq="5">{% include 'includes/icons/emojis/thumbs-up.svg' %}</button>
                    <button class="thumbs-down" data-faq="5">{% include 'includes/icons/emojis/thumbs-down.svg' %}</button>
                </div>
            </li>
            <li class="faq">
                <h3>{{_('Why can’t you just open a Crowdsourcing campaign?')}}</h3>
                <span class="faq-number">6</span>
                <p>{{_('The current options in the market are designed for different use cases -- typically, short-term campaigns (think product launches) and specific dollar amounts. Our goal is to create a way for contributions (and eventually membership or subscriptions) to support our ongoing work and provide new awesome stuff. ')}}</p>
                <span class="small">{{_('Did this answer your question?')}}</span>
                <div class="vote-button-group">
                    <button class="thumbs-up" data-faq="6">{% include 'includes/icons/emojis/thumbs-up.svg' %}</button>
                    <button class="thumbs-down" data-faq="6">{% include 'includes/icons/emojis/thumbs-down.svg' %}</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="section">
        <div class="index">
            <h2>{{_('Feedback')}}</h2>
        </div>
        <div class="faqs clear feedback">
            <form id="faq-feedback" class="faq-feedback">
                <h3>{{_('Is there anything else you’d like to know more about?')}}</h3>
                <textarea placeholder="{{_('Your feedback goes here')}}" name="faq3" id="faq3" cols="30" rows="2"></textarea>
                <button type="submit"> {{_('Send')}} {% include 'includes/icons/arrows/arrow.svg' %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
