{% extends 'landing/base_promote.html' %}

{% block body_attributes %}id="contribute"{% endblock %}

{% block title %}{{ page_title(_('Thank You')) }}{% endblock %}

{% block contrib_popup %}{% endblock %}

{% block document_head %}
    <div class="contribution-banner align-center">
        <div class="column-container">
            <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            <div class="column">
                {% if status == 'succeeded' %}
                    <h1 class="highlight highlight-spanned">
                        <span class="highlight-span">{{_('Thanks for joining MDN.')}}</span>
                    </h1>
                    <p class="subtext">
                        {% trans %}
                            To build the commons, we depend on uncommon
                            boosters like you. What you’ve given to MDN will
                            stay here to build more of the tools and
                            information we use every day. And it helps us
                            expand MDN to devs everywhere.
                        {% endtrans %}
                    </p>
                    <p class="subtext">
                        {% trans %}
                            We are committed to providing the best source of
                            free information about the internet to our
                            community of devs around the world. Support us, and
                            it will all come back around. It already has. And
                            it will again.
                        {% endtrans %}
                    </p>
                    <p class="subtext">{{_('Thank you again,')}}</p>
                    <p class="subtext">{{_('The MDN Team')}}</p>

                    <div class="button-tab-group">
                        <a href="https://twitter.com/intent/tweet?text=I%27ve%20contributed%20to%20help%20make%20MDN%20sustainable,%20you%20can%20too%20here:%20developer.mozilla.com/en-US/contribute/" class="button" target="_blank" rel="noopener" aria-label="{{_('Share your support on Twitter')}}">{% include 'includes/icons/social/twitter.svg' %}</a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdeveloper.mozilla.org%2Fen-US%2Fcontribute" class="button" target="_blank" rel="noopener" aria-label="{{_('Share your support on Facebook')}}">{% include 'includes/icons/social/facebook.svg' %}</a>
                    </div>
                {% else %}
                    <h2 class="highlight highlight-spanned">
                        <span class="highlight-span">{{_('Ooops, something went wrong')}}</span>
                        <p>
                            <a href="{{ url('contribute') }}">{{_('Click here to go back')}}</a>
                        </p>
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main id="contributions-page" class="conributions-page">
        <section class="section">
            <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            <div class="index">
                <h2>{{_('Feedback')}}</h2>
            </div>
            <div class="faqs clear feedback">
                <form id="faq-feedback" class="faq-feedback">
                    <h3>{{_('Is there anything else you’d like to know more about?')}}</h3>
                    <textarea placeholder="{{_('Your feedback goes here')}}" name="faq3" id="faq3" cols="30" rows="2"></textarea>
                    <button type="submit"> {{_('Send')}} {% include 'includes/icons/arrows/arrow.svg' %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
