{% extends "socialaccount/base.html" %}
{% from "includes/error_list.html" import errorlist %}
{% from 'includes/common_macros.html' import newsletter_widget %}

{% set title = _('Finish setting up your MDN account') %}

{% set classes = 'register' %}

{% block site_css %}
    {{ super() }}
    {{ css('newsletter') }}
    {{ css('submission') }}
{% endblock %}

{% block site_js %}
    {{ super() }}
    {{ js('newsletter',) }}
{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
    <section id="content-main" role="main">
      <article id="browser_register">
          <h1>{{ _('Finish setting up your MDN account') }}</h1>

          <form id="create_user" class="boxed submission" method="post" action="{{ url('socialaccount_signup') }}">

              <p>{% trans provider_name=account.get_provider().name %}
              Thanks for signing in to MDN with {{ provider_name }}. You have
              one more step to join MDN and set up your account: <strong>choose
              a user name</strong>.
              {% endtrans %}<p>

              <p>{% trans %}
              You can access everything on the MDN website even without an
              account. However, by joining MDN, you'll be able to edit docs,
              submit demos, and have your own profile page.
              {% endtrans %}</p>

              <p>{% trans %}
              To set up your account, please <strong>choose a user name</strong>
              for MDN. Your user name will be displayed on MDN to identify any
              contributions (edits, demos, etc.) that you make.
              {% endtrans %}</p>

              <p>{% trans bug_href='https://bugzilla.mozilla.org/enter_bug.cgi?assigned_to=nobody%40mozilla.org&bug_file_loc=http%3A%2F%2F&bug_ignored=0&bug_severity=normal&bug_status=NEW&cc=jkarahalis%40mozilla.com&cf_fx_iteration=---&cf_fx_points=---&component=Login&contenttypemethod=autodetect&contenttypeselection=text%2Fplain&defined_groups=1&flag_type-4=X&flag_type-607=X&flag_type-791=X&flag_type-800=X&flag_type-803=X&form_name=enter_bug&maketemplate=Remember%20values%20as%20bookmarkable%20template&op_sys=All&priority=--&product=Mozilla%20Developer%20Network&rep_platform=All&status_whiteboard=%5Btrouble-logging-in%5D&target_milestone=---&version=unspecified&format=__standard__' %}
              If you're <strong>having trouble</strong> signing in or creating
              an account, <strong><a href="{{ bug_href }}" rel="external">let us know</a></strong>.
              {% endtrans %}</p>

              {{ errorlist(form) }}

          {{ csrf() }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <fieldset>
            <ul>
              <li>
                <label for="{{ form.username.id_for_label }}" class="outer"><b>{{ form.username.label }}</b></label>
                {{ form.username }}
                <p class="field-explanation"><small>{{ _("Please enter the name you'd like to display to other users to identify your contributions.") }}</small></p>
              </li>
              {# The email field is hidden if only one email is provided #}
              {% if form.email.field.widget.input_type == 'hidden' %}
                {{ form.email }}
              {% else %}

              <li>
                <label for="{{ form.email.id_for_label }}" class="outer upper"><b>{{ form.email.label }}</b></label>
                <p class="field-explanation-top"><small>
                {{ _("We will use this to send you emails related to your account and if you sign up for any additional notifications.") }}
                </small></p>
                <ul class="choices">
                {% for email_choice in form.email %}
                  {% set id_for_label="{name}_{id}"|f(name=email_choice.name, id=loop.index0) %}
                  <li>
                    {% if email_choice.choice_value == form.other_email_value %}
                      {{ email_choice.tag() }}
                      <label for="{{ id_for_label }}" class="inner other-label">{% trans %}other:{% endtrans %}</label>
                      {{ form.other_email }}
                    {% else %}
                    <label for="{{ id_for_label }}">
                      {{ email_choice.tag() }}
                      {{ email_choice.choice_label|safe }}
                    </label>
                    {% endif %}
                  </li>
                {% endfor %}
                </ul>
              </li>
              {% endif %}

              {{ newsletter_widget(form) }}

              <li class="submit">
                <button type="submit" name="create">{{ _('Create my account') }}</button>
              </li>
            </ul>
          </fieldset>
        </form>

      </article>
    </section>
  </div>
</section>
{% endblock %}

{% block js %}
{{ super() }}
<script>
(function ($) {
    'use strict';

    var $otherLabel = $('.other-label');
    var $otherRadio = $otherLabel.prev();
    $otherLabel.next().on('focus', function() {
      $otherRadio.prop('checked', true);
    });

})(jQuery);
</script>

{% endblock %}
