.user-head {
    background: $light-background-color;
    margin-bottom: $grid-spacing;
    min-height: 200px;
    overflow: hidden;
    padding: $grid-spacing;
    position: relative;
}

.user-buttons {
    position: absolute;
    top: $grid-spacing;
    right: $grid-spacing;

    & > a {
        bidi-value(float, left, right);
        bidi-value(margin, 0 5px 0 0, 0 0 0 5px);
    }
}

@media $media-query-tablet {
    .user-buttons {
        position: relative;
        top: auto;
        right: auto;
        margin: 0 0 $grid-spacing 0;

        a {
            float: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }
}

.user-info {
    li {
        display: inline;
        bidi-style(margin-right, ($grid-spacing / 2), margin-left, 0);

        &:before {
            color: $user-head-secondary-text-color;
            content: '/';
            bidi-style(margin-right, ($grid-spacing / 2), margin-left, 0);
        }

        &:first-child:before {
            content: '';
            margin: 0;
        }
    }
}

.user-bio {
    set-smaller-font-size();
}

.user-since {
    color: #6a9412;
    set-smaller-font-size();
    font-style: italic;
    margin-bottom: $grid-spacing;
}
