{% extends "base.html" %}

{% set display_name = profile.name | default(profile.user.username, true) %}
{% set username  = profile.user.username %}

{% block pageid %}{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block title %}{{ page_title(profile.user) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {{ css('demostudio') }}
{% endblock %}

{% block site_js %}
    {{ super() }}
    {{ js('demostudio') }}
{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">

  <section id="content-main" class="full">

    <section id="profile-head" class="vcard">
      <div class="main">
        <h1 class="page-title"><span class="nickname">{{ profile.user.username }}</span> {% if profile.fullname %}<b>(<span class="fn">{{ profile.fullname }}</span>)</b>{% endif %}</h1>
  
      {% if profile.title or profile.organization or profile.location or profile.irc_nickname %}
      <ul class="info">
        {% if profile.title %}<li class="title">{{ profile.title }}</li>{% endif %}
        {% if profile.organization %}<li class="org">{{ profile.organization }}</li>{% endif %}
        {% if profile.location %}<li class="loc">{{ profile.location }}</li>{% endif %}
	{% if profile.irc_nickname %}<li class="irc">IRC: {{ profile.irc_nickname }}</li>{% endif %}
      </ul>
      {% endif %}
  
      <div class="bio">
        <p>{{ profile.bio | nl2br }}</p>
      </div>
        
        {% set tag_ns = 'profile:interest:' %}     
        {% set tags = profile.tags.all_ns(tag_ns) %}
        {% if tags | length %}
        <div class="tags">
          <h2>{{_("Interests")}}</h2>
          <ul class="int-taglist taglist">
            {% for tag in tags%}
                <li><span rel="tag">{{ tag.name.replace(tag_ns,'') }}</span></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% set tag_ns = 'profile:expertise:' %}
        {% set tags = profile.tags.all_ns(tag_ns) %}
        {% if tags | length %}
        <div class="tags">
          <h2>{{_("Areas of Expertise")}}</h2>
          <ul class="exp-taglist taglist">
            {% for tag in tags%}
                <li><span rel="tag">{{ tag.name.replace(tag_ns,'') }}</span></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="memberSince">{{ _('Member since {date}') | f(date=profile.user.date_joined.strftime('%B %d, %Y')) }}</div>
      </div>
      
      <div class="extra">
        <figure class="avatar">
          <img src="{{ profile.gravatar }}" alt="{{ profile.user.username }}" width="120" height="120" class="photo" />
        </figure>
        
        <ul class="links">
        {% for site in profile.website_choices %}
            {% set site_name = site[0] %}
            {% set site_meta = site[1] %}
            {% set href = profile.websites[site_name] %}
            {% if href %}
                <li class="{{site_name}}"><a href="{{href}}" rel="me external" class="url">{{site_meta['label']}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <p class="edit">
          {% if show_manage_roles_button %}
              {# TODO: Need a method to detect whether the logged in user can manage any roles, here #}
              <a href="{{ url('teamwork.views.user_roles', profile.user.username) }}" class="button">{{_("Manage Roles")}}</a>
          {% endif %}
          <!-- Only shown for the user and admins -->
          {% if profile.allows_editing_by(request.user) %}
              <a href="{{ url('authkeys.list') }}" class="button">{{_("Manage API Keys")}}</a>
              <a id="edit-profile" href="{{ url('devmo.views.profile_edit', username=profile.user.username) }}" class="button">{{_("Edit Profile")}}</a>
          {% endif %}
          {{ ban_link(profile.user, request.user) }}
      </p>
    </section>

    {% if demos_page.object_list | length > 0 %} 
        <section id="profile-demos" class="profile-section">
            {{ submission_listing(
                request, demos_page.object_list, demos_page.has_other_pages(),
                demos_paginator, demos_page,
                _("Subscribe to a feed of {display_name}'s demos") | f(display_name=display_name),
                url('demos_feed_profile', format='atom', username=username), cols_per_row=4,
                show_submit=True
            ) }}
        </section>
    {% elif profile.user == request.user %}
        <section id="profile-demos" class="profile-section">
          <header class="gallery-head">
            <h2 class="count">{{_("No Demos")}}</h2>
          </header>
          <p class="none">{% trans submit_url=url('demos.views.submit') %}You haven't submitted any web technology demos. Build something awesome and <a class="button positive" href="{{submit_url}}">Submit a Demo</a>{% endtrans %}</p>
        </section>
    {% endif %}

      {% if wiki_activity and wiki_activity | length > 0 %}
          <section id="docs-activity" class="profile-section">
            <header>
              <h2>{{_("Recent Docs Activity")}}</h2>
            </header>
            <table class="activity">
              <thead>
                <th scope="col" class="page">{{_("Page")}}</th>
                <th scope="col" class="date">{{_("Date")}}</th>
                <th scope="col" class="summary">{{_("Comment")}}</th>
              </thead>
              <tbody>
                {% for rev in wiki_activity %}
                <tr>
                  <th scope="row">
                      <h3><a href="{{ rev.document.get_absolute_url() }}">{{ rev.document.title }}</a></h3>
                      <ul class="actions">
                          <li><a href="{{ rev.document.get_absolute_url() }}$edit" class="edit">{{_("Edit page")}}</a></li>
                          <li>{% if rev.get_previous() %}<a href="{{ rev.document.get_absolute_url() }}$compare?from={{ rev.get_previous().id }}&to={{ rev.id }}" class="diff">{{_("View complete diff")}}</a>{% endif %}</li>
                          <li><a href="{{ rev.document.get_absolute_url() }}$history" class="history">{{_("View page history")}}</a></li>
                      </ul>
                  </th>
                  <td>{{ rev.created.strftime('%B %d, %Y') }}<br />
                      {{ rev.created.strftime('%I:%M %p') }}</td>
                  {# TODO: auto-generate smart comment like "N words changed." #}
                  <td>{{ format_comment(rev) }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                      {# TODO: create user revision activity feed
                <tr>
                  <td colspan="3">
                      <a href="/index.php?title=Special:Contributions&feed=rss&target={{profile.user.username | urlencode}}" rel="alternate" class="feed">{{_("Feed")}}</a>
                  </td>
                </tr>
                      #}
              </tfoot>
            </table>
          </section>
      {% else %}
        <section id="docs-activity" class="profile-section">
          <header>
            <h2>{{_('Recent Docs Activity')}}</h2>
          </header>
          {% if profile.user == request.user %}
            {% trans docs_url=url('docs.views.docs') %}
            <p class="none">You haven't contributed to any MDN docs. <a href="{{docs_url}}">Pitch in!</a></p>
            {% endtrans %}
          {% endif %}
        </section>
      {% endif %}

  </section><!-- /#content-main -->
</div>
</section>
{% endblock %}
