{% extends "base.html" %}

{% set display_name = profile.name | default(profile.user.username, true) %}
{% set username  = profile.user.username %}

{% block pageid %}{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block title %}{{ page_title(profile.user) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {{ css('demostudio') }}
{% endblock %}

{% block site_js %}
    {{ super() }}
    {{ js('demostudio') }}
{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">

  <section id="content-main" class="full">

    <section id="profile-head" class="vcard">
      <div class="main">
        <h1 class="page-title"><span class="nickname">{{ profile.user.username }}</span> {% if profile.fullname %}<b>(<span class="fn">{{ profile.fullname }}</span>)</b>{% endif %}</h1>
  
      {% if profile.title or profile.organization or profile.location %}
      <ul class="info">
        {% if profile.title %}<li class="title">{{ profile.title }}</li>{% endif %}
        {% if profile.organization %}<li class="org">{{ profile.organization }}</li>{% endif %}
        {% if profile.location %}<li class="loc">{{ profile.location }}</li>{% endif %}
      </ul>
      {% endif %}
  
      <div class="bio">
        <p>{{ profile.bio | nl2br }}</p>
      </div>
        
        {% set tag_ns = 'profile:interest:' %}     
        {% set tags = profile.tags.all_ns(tag_ns) %}
        {% if tags | length %}
        <div class="interests">
          <h2>Interests</h2>
          <ul class="int-taglist">
                {% for tag in tags%}
                    <li><span rel="tag">{{ tag.name.replace(tag_ns,'') }}</span></li>
                {% endfor %}
          </ul>
        </div>
        {% endif %}

      </div>
      
      <div class="extra">
        <figure class="avatar">
          <img src="{{ profile.gravatar }}" alt="" width="120" height="120" class="photo">
        </figure>
        
        <ul class="links">
        {% for site in profile.website_choices %}
            {% set site_name = site[0] %}
            {% set site_meta = site[1] %}
            {% set href = profile.websites[site_name] %}
            {% if href %}
                <li class="{{site_name}}"><a href="{{href}}" rel="me external" class="url">{{site_meta['label']}}</a></li>
            {% endif %}
          {% endfor %}
          <li class="docs"><a href="/User:{{profile.user.username}}" rel="me">Docs user page</a></li>
        </ul>
      </div>

      <!-- Only shown for the user and admins -->
      {% if profile.allows_editing_by(request.user) %}
          <p class="edit"><a href="{{ url('devmo.views.profile_edit', username=profile.user.username) }}" class="button">Edit Profile</a></p>
      {% endif %}
    </section>

    {% if demos | length > 0 %} 
        <section id="profile-demos" class="profile-section">
            {{ submission_listing(
                request, demos, demos_page.has_other_pages(), demos_paginator, demos_page,
                _("Subscribe to a feed of {display_name}'s demos") | f(display_name=display_name),
                url('demos_feed_profile', format='atom', username=username), cols_per_row=4,
                show_submit=True
            ) }}
        </section>
    {% elif profile.user == request.user %}
        <section id="profile-demos" class="profile-section">
          <header class="gallery-head">
            <h2 class="count">No Demos</h2>
          </header>
          <p class="none">{% trans submit_url=url('demos.views.submit') %}You haven't submitted any web technology demos. Build something awesome and <a class="button positive" href="{{submit_url}}">Submit a Demo</a>{% endtrans %}</p>
        </section>
    {% endif %}

    {% if False %}
    <section id="docs-activity" class="profile-section">
      <header>
        <h2>Recent Docs Activity</h2>
        <p class="more"><a href="https://developer.mozilla.org/Special:Contributions?target=Sheppy">See more history</a></p>
      </header>
      
      <table class="activity">
        <thead>
          <th scope="col" class="page">Page</th>
          <th scope="col" class="date">Date</th>
          <th scope="col" class="summary">Edit summary</th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/FileReader">en/DOM/element.removeEventListener</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 19, 2011 <br>6:36 AM</td>
            <td>1 words added, 53 words removed</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/document.doctype">en/DOM/document.doctype</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 16, 2011 <br>11:33 AM</td>
            <td>Removed tags: !DOCTYPE, DOCTYPE, DTD, ECMAScript, PUBLIC, SYSTEM, TEASER, W3C, create</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/document">en/DOM/document</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 15, 2011 <br>5:47 PM</td>
            <td>5 words added</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/TouchEvent">en/DOM/TouchEvent</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 15, 2011 <br>1:43 PM</td>
            <td>28 words added</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="https://developer.mozilla.org/en/Firefox_6_for_developers">en/Firefox 6 for developers</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 14, 2011 <Br>11:17 AM</td>
            <td>clean up a tad; 11 words added, 28 words removed</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="https://developer.mozilla.org/index.php?title=Special:Contributions&feed=rss&target=Sheppy" rel="alternate" class="feed">RSS</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    {% endif %}

  </section><!-- /#content-main -->
</div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
