{% extends "base.html" %}

{% block pageid %}{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block title %}{{ page_title(profile.user) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {{ css('demostudio') }}
{% endblock %}

{% block site_js %}
    {{ super() }}
    {{ js('demostudio') }}
{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">

  <section id="content-main" class="full">

    <section id="profile-head" class="vcard">
      <div class="main">
        <h1 class="page-title"><span class="nickname">{{ profile.user.username }}</span> {% if profile.fullname %}<b>(<span class="fn">{{ profile.fullname }}</span>)</b>{% endif %}</h1>
  
      {% if profile.title or profile.organization or profile.location %}
      <ul class="info">
        {% if profile.title %}<li class="title">{{ profile.title }}</li>{% endif %}
        {% if profile.organization %}<li class="org">{{ profile.organization }}</li>{% endif %}
        {% if profile.location %}<li class="loc">{{ profile.location }}</li>{% endif %}
      </ul>
      {% endif %}
  
      <div class="bio">
        <p>{{ profile.bio | nl2br }}</p>
      </div>
        
        {% set tags = profile.tags.all() %}
        {% if tags | length %}
        <div class="interests">
          <h2>Interests</h2>
        	<ul class="int-taglist">
                {% for tag in profile.tags.all() %}
                    <li><span rel="tag">{{ tag.name.replace('profile:interest:','') }}</span></li>
                {% endfor %}
          </ul>
        </div>
        {% endif %}

      </div>
      
      <div class="extra">
        <figure class="avatar">
          <img src="{{ profile.gravatar }}" alt="" width="120" height="120" class="photo">
        </figure>
        
        <ul class="links">
        {% for site in profile.website_choices %}
            {% set site_name = site[0] %}
            {% set site_meta = site[1] %}
            {% set href = profile.websites[site_name] %}
            {% if href %}
                <li class="{{site_name}}"><a href="{{href}}" rel="me external" class="url">{{site_meta['label']}}</a></li>
            {% endif %}
          {% endfor %}
          <li class="docs"><a href="/User:{{profile.user.username}}" rel="me">Docs user page</a></li>
        </ul>
      </div>

      <!-- Only shown for the user and admins -->
      {% if profile.allows_editing_by(request.user) %}
          <p class="edit"><a href="{{ url('devmo.views.profile_edit', username=profile.user.username) }}" class="button">Edit Profile</a></p>
      {% endif %}
    </section>

    {% if False %}
    <section id="profile-demos" class="profile-section">
      <header class="gallery-head">
        <h2 class="count">7 Demos <a class="button positive" href="demo-submit.php">Submit a Demo</a></h2>
        <ul class="sort">
          <li><strong title="You are viewing these demos sorted by most views">Most Viewed</strong></li>
          <li><a href="#" title="Sort demos by most likes">Most Liked</a></li>
          <li><a href="#" title="Sort demos by most recently submitted">Most Recent</a></li>
        </ul>
      </header>
  
  <!-- NOTES:
       First item in each row needs the class "row-first". It's a strictly presentational class that only serves to 
       clear the floats of the row above, but it's necessary to preserve the layout.
  -->
      <ul class="gallery">
        <li class="demo row-first">
          <h2 class="demo-title">
            <a href="demo-detail.php" title="See more about &ldquo;The Incredible Machine&rdquo; by Neil Gauldin">
              <img src="./media/img/fpo55.png" alt="" width="200" height="150"> The Incredible Machine
            </a>
          </h2>
          <p class="byline vcard"><a href="demo-gallery-author.php" class="url fn" title="See more demos by Neil Gauldin">Neil Gauldin</a></p>
          <div class="extra">
            <ul class="stats">
              <li class="views" title="This demo has been viewed 20,000 times">20,000</li>
              <li class="likes" title="3,000 people liked this demo">3,000</li>
              <li class="comments"><a href="demo-detail.php#comments" title="There are 100 comments for this demo">100</a></li>
            </ul>
            <p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="launch"><a href="#" class="button" title="Launch &ldquo;The Incredible Machine&rdquo;">Launch</a></p>
          </div>
        </li>
        <li class="demo featured">
          <h2 class="demo-title">
            <a href="demo-detail.php" title="See more about &ldquo;Fantastic Voyage&rdquo; by Neil Gauldin">
              <img src="./media/img/fpo55.png" alt="" width="200" height="150"> Fantastic Voyage
            </a>
            <strong class="flag">Featured</strong>
          </h2>
          <p class="byline vcard"><a href="demo-gallery-author.php" class="url fn" title="See more demos by Neil Gauldin">Neil Gauldin</a></p>
          <div class="extra">
            <ul class="stats">
              <li class="views" title="This demo has been viewed 1,234 times">1,234</li>
              <li class="likes" title="151 people liked this demo">151</li>
              <li class="comments"><a href="demo-detail.php#comments" title="There are 3 comments for this demo">3</a></li>
            </ul>
            <p class="desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="launch"><a href="#" class="button" title="Launch &ldquo;Fantastic Voyage&rdquo;">Launch</a></p>
          </div>
        </li>
        <li class="demo">
          <h2 class="demo-title">
            <a href="demo-detail.php" title="See more about &ldquo;It's a Mad Mad Mad Mad Mad Mad World&rdquo; by Neil Gauldin">
              <img src="./media/img/fpo55.png" alt="" width="200" height="150"> It&#8217;s a Mad Mad Mad Mad Mad Mad World
            </a>
          </h2>
          <p class="byline vcard"><a href="demo-gallery-author.php" class="url fn" title="See more demos by Neil Gauldin">Neil Gauldin</a></p>
          <div class="extra">
            <ul class="stats">
              <li class="views" title="This demo hasn't been viewed by anyone yet">0</li>
              <li class="likes" title="Nobody has liked this demo yet">0</li>
              <li class="comments"><a href="demo-detail.php#comments" title="There are no comments yet for this demo">0</a></li>
            </ul>
            <p class="desc">Morbi in sem quis dui placerat ornare.</p>
            <p class="launch"><a href="#" class="button" title="Launch &ldquo;It's a Mad Mad Mad Mad Mad Mad World&rdquo;">Launch</a></p>
          </div>
        </li>
        <li class="demo featured">
          <h2 class="demo-title">
            <a href="demo-detail.php" title="See more about &ldquo;Twenty Years to Midnight&rdquo; by Neil Gauldin">
              <img src="./media/img/fpo55.png" alt="" width="200" height="150"> Twenty Years to Midnight
            </a>
            <strong class="flag">Featured</strong>
          </h2>
          <p class="byline vcard"><a href="demo-gallery-author.php" class="url fn" title="See more demos by Neil Gauldin">Neil Gauldin</a></p>
          <div class="extra">
            <ul class="stats">
              <li class="views" title="This demo has been viewed 1,234 times">1,234</li>
              <li class="likes" title="151 people liked this demo">151</li>
              <li class="comments"><a href="demo-detail.php#comments" title="There are 3 comments for this demo">3</a></li>
            </ul>
            <p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="launch"><a href="#" class="button" title="Launch &ldquo;Twenty Years to Midnight&rdquo;">Launch</a></p>
          </div>
        </li>
      </ul>
      
      <div id="gallery-foot">
        <p class="showing">1&ndash;4 of 7</p>
        <ul class="paging">
          <!-- No first or prev when we're on the first page, no next or last when we're on the last page -->
          <li class="next"><a href="#" title="Go to the next page">Next</a></li>
          <li class="last"><a href="#" title="Go to the last page">Last</a></li>
        </ul>
        <p class="feed"><a href="#" rel="alternate" title="Subscribe to a feed of Neil Gauldin's demos">RSS</a></p>
      </div>
    </section>
    
    <section id="docs-activity" class="profile-section">
      <header>
        <h2>Recent Docs Activity</h2>
        <p class="more"><a href="https://developer.mozilla.org/Special:Contributions?target=Sheppy">See more history</a></p>
      </header>
      
      <table class="activity">
        <thead>
          <th scope="col" class="page">Page</th>
          <th scope="col" class="date">Date</th>
          <th scope="col" class="summary">Edit summary</th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/FileReader">en/DOM/element.removeEventListener</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 19, 2011 <br>6:36 AM</td>
            <td>1 words added, 53 words removed</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/document.doctype">en/DOM/document.doctype</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 16, 2011 <br>11:33 AM</td>
            <td>Removed tags: !DOCTYPE, DOCTYPE, DTD, ECMAScript, PUBLIC, SYSTEM, TEASER, W3C, create</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/document">en/DOM/document</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 15, 2011 <br>5:47 PM</td>
            <td>5 words added</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="http://developer.mozilla.org/en/DOM/TouchEvent">en/DOM/TouchEvent</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 15, 2011 <br>1:43 PM</td>
            <td>28 words added</td>
          </tr>
          <tr>
            <th scope="row">
              <h3><a href="https://developer.mozilla.org/en/Firefox_6_for_developers">en/Firefox 6 for developers</a></h3>
              <ul class="actions">
                <li><a href="#">Edit page</a></li>
                <li><a href="#">View complete diff</a></li>
                <li><a href="#">View page history</a></li>
              </ul>
            </th>
            <td>July 14, 2011 <Br>11:17 AM</td>
            <td>clean up a tad; 11 words added, 28 words removed</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="https://developer.mozilla.org/index.php?title=Special:Contributions&feed=rss&target=Sheppy" rel="alternate" class="feed">RSS</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    {% endif %}

  </section><!-- /#content-main -->
</div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
