{% from "upload/attachments.html" import attachment %}
<div class="user-section">
  <div class="avatar">
    <a href="{{ profile_url(answer.creator) }}">
      <img src="{{ profile_avatar(answer.creator) }}" height="48" width="48" alt="{{ answer.creator }}"/>
    </a>
  </div>
  <div class="answered-by">
    <span class="user" title="{{answer.creator}}">{{ answer.creator.username|truncate(10, True) }}</span>
    {% if answer.creator==question.creator %}
      <span class="author">{{ _('Author') }}</span>
    {% else %}
      <span class="posts">{{ _('{numposts} posts')|f(numposts=answer.creator_num_posts) }}</span>
      <span class="answers">{{ _('{numanswers} answers')|f(numanswers=answer.creator_num_answers) }}</span>
    {% endif %}
  </div>
</div>
<div class="main-section">
  <p class="posted">
    {{ _('Posted {datetime}:')|f(datetime=datetimeformat(answer.created, format='longdatetime'))|safe }}
  </p>
  <div class="content">
    {{ answer.content_parsed|safe }}
  </div>
  <div class="ans-attachments attachments-list">
    {% for image in answer.images.all() %}
      {{ attachment(image, user) }}
    {% endfor %}
  </div>
  {% if answer.updated_by %}
    <p class="edited">
      {{ _('Modified {datetime} by {name}')|f(name=answer.updated_by.username, datetime=datetimeformat(answer.updated, format='longdatetime'))|safe }}
    </p>
  {% endif %}
  {% if answer.id and not question.is_locked %}
    <div class="reply">
      <a href="#question-reply">{{ _('Reply to this post') }}</a>
    </div>
  {% endif %}
</div>
<div class="side-section">
  {% if answer.creator != question.creator %}
    {% if not question.is_locked %}
      {% if not question.solution and user == question.creator %}
        <h4>{{ _('Did this solve your problem?') }}</h4>
        <form class="helpful" action="{{ url('questions.solution', question_id=question.id, answer_id=answer.id) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="btn g-btn" name="solution" value="{{ _('Solved It') }}" />
        </form>
      {% elif not answer.has_voted(request) and user != question.creator and user != answer.creator %}
        <h4>{{ _('Was this reply helpful?') }}</h4>
        <form class="helpful" action="{{ url('questions.answer_vote', question_id=question.id, answer_id=answer.id) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="btn g-btn" name="helpful" value="{{ _('Helpful') }}" />
          <input type="submit" class="btn g-btn" name="not-helpful" value="{{ _('Not Helpful') }}" />
        </form>
      {% endif %}
    {% endif %}

    {% if question.solution == answer %}
      <div class="solved">{{ _('Solution chosen by author') }}</div>
    {% endif %}

    {% if answer.num_votes != 0 %}
      <div class="helpful {% if answer.num_helpful_votes == 0 %}zero{% endif %}">
        {{ ngettext('<mark>{count} out of {total} person</mark> <span>found this reply helpful</span>',
                    '<mark>{count} out of {total} people</mark> <span>found this reply helpful</span>',
                    answer.num_votes)|fe(count=answer.num_helpful_votes, total=answer.num_votes) }}
      </div>
    {% endif %}
  {% endif %}
  {% if user.is_authenticated() and user != answer.creator and not question.is_locked  %}
    <form class="report" action="{{ url('questions.answer_flag', question.id, answer.id) }}" method="post">
      {% include 'questions/includes/flag_form.html' %}
    </form>
  {% endif %}
  {% if answer.id and not question.is_locked and has_perm_or_owns('questions.change_answer', answer, answer) %}
    <a class="edit" href="{{ url('questions.edit_answer', question.id, answer.id) }}">
      {{ _('Edit this post') }}
    </a>
  {% endif %}
  {% if answer.id and user.has_perm('questions.delete_answer') %}
    <a class="delete" href="{{ url('questions.delete_answer', question.id, answer.id) }}">
      {{ _('Delete this post') }}
    </a>
  {% endif %}
</div>
