{% from "layout/errorlist.html" import errorlist %}
<section id="email-subscribe" class="pop-in">
  <a class="close" href="#close">&#x2716;</a>
  <h1>
    {% if user.is_authenticated() %}
      {{ _("Send an email:") }}
    {% else %}
      {{ _("Send an email to this address:") }}
    {% endif %}
  </h1>
  <form class="wrap" action="{{ url('questions.watch', question.id) }}" method="post">
    {{ csrf() }}
    {{ errorlist(watch_form) }}
    {% if user.is_authenticated() %}
      {{ watch_form.email.as_hidden()|safe }}
    {% else %}
      {{ watch_form.email|safe }}
    {% endif %}
    {{ watch_form.event_type|safe }}
    <input type="submit" class="btn g-btn" value="{{ _('Send Updates') }}" />
    <span class="cancel">
      <a class="cancel no-thanks" href="{{ question.get_absolute_url() }}">{{ _('Cancel') }}</a>
    </span>
  </form>
</section>
