{% from "layout/errorlist.html" import errorlist %}
<section id="vote-thanks" title="{{ _('Thanks!') }}" data-position="none" data-id="vote-thanks-kbox">
  <form action="{{ url('questions.watch', question.id) }}" method="post">
    {{ csrf() }}
    <p>{{ _('Thanks for letting us know you have this problem.') }}</p>
    <p>{{ _('Identifying common problems helps the community answer your questions more quickly.') }}</p>
    <p>
      <strong>{{ _('Want to know when a solution is found?') }}</strong>
      {% if not user.is_authenticated() %}
        {{ _("Please provide an email address and we'll send you an alert.") }}
      {% endif %}
    </p>
    <input type="hidden" name="from_vote" value="yes" />
    {{ errorlist(watch_form) }}
    {{ watch_form.event_type.as_hidden()|safe }}

    {% if user.is_authenticated() %}
      {{ watch_form.email.as_hidden()|safe }}
    {% else %}
      {{ watch_form.email|safe }}
    {% endif %}

    <input type="submit" class="btn" value="{{ _('Send Updates') }}" />
    <a class="no-thanks kbox-cancel" href="{{ question.get_absolute_url() }}">{{ _('No Thanks') }}</a>
  </form>
</section>