/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
	font-family: "Bebas Neue";
	src: url('../fonts/BebasNeue-webfont.eot'); /* IE9 */
 	src: url('../fonts/BebasNeue-webfont.eot?') format('eot'), /* IE6-8 */
 	     url('../fonts/BebasNeue-webfont.woff') format('woff'), /* Modern browsers */
	     url('../fonts/BebasNeue-webfont.ttf') format('truetype'), /* Older Webkits */
	     url('../fonts/BebasNeue-webfont.svg#webfont') format('svg'); /* Opera */
	font-weight: normal;
	font-style: normal;
}

/* @General elements and content *********/
html { background: #f6f6f1 url("../img/bg-content.png") fixed; }
body { min-height: 400px; font: 14px/1.286 "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif; margin: 0 auto; color: #333; }

/*** @Links *********/
:link { color: #369; text-decoration: none; }
:visited { color: #69c; text-decoration: none; }
:link:hover, :link:focus, :link:active { color: #25a; text-decoration: underline; }
:visited:hover, :visited:focus, :visited:active { color: #25a; text-decoration: underline; }

/*** @Headings *********/
h1, h2, h3, h4, h5, h6 { margin: 0 0 .8em; }
h1, .page-title { font-size: 1.857em; }
h2 { font-size: 1.428em; }
h3 { font-size: 1.142em; }
h4, h5, h6 { font-size: 1em; }

/* @Layout *********/
.wrap { position: relative; width: 940px; padding: 0 10px; margin: 0 auto; }
.wrap:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; } /* clear floats */

#content { min-height: 400px; }
#content .wrap { padding: 30px 0; }

/* @Header *********/
#masthead { background: #000 url("../img/bg-pinstripe.png") center top repeat-x; border-top: 2px solid #fff; border-bottom: 4px solid #f8d575; color: #ccc; min-height: 70px; -moz-box-shadow: 0 1px 0 rgba(0,0,0,.25); -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25); box-shadow: 0 1px 0 rgba(0,0,0,.25); }
#masthead .wrap { padding-top: 85px; background: #000 url("../img/bg-pinstripe.png") center top repeat-x; }

#branding { position: absolute; left: 10px; top: 10px; width: 50%; padding: 2px 0 0 70px; margin: 0 0 10px; }
#logo { margin: 6px 0 0; font: normal 44px/1 "Bebas Neue", "League Gothic", Haettenschweiler, Impact, "Arial Narrow", sans-serif; text-transform: uppercase; color: #fff; letter-spacing: 1px; }
#logo a { color: #fff; text-decoration: none; }
#logo img { position: absolute; left: -3px; top: -4px; }

/*** @Tabzilla *********/
#masthead #tabzilla { position: absolute; right: 0; top: 0; }

.beast { float: right; margin: 20px 0 20px 20px; }

