/*
Override MDN standard styles
======================================================================*/
body.fellowship {
    background-color: #424f5a;
}

.zone-landing h1 {
    width: auto;
}

.languages {
    display: none;
}

figure {
    text-align: center;
}

figure img {
    margin: 0 auto;
}

.section-apply .media-body{
    margin-top: 1em;
}