/*
The quote on the fellowship page
********************************************************************** */

.pullquote {
    box-sizing: border-box;

    .quote {
        position: relative;
        background-color: inherit;
        border: none;
        color: $neutral;

        font-family: $heading-font-family;
        font-style: italic;
        @include set-font-size($larger-font-size);
        #{$selector-heading-font-fallback} {
            font-family: $heading-font-family-fallback;
        }
    }

    .quote:before,
    .quote:after {
        font-size: 2rem;
        font-family: sans-serif;
        color: $neutral;
    }

    .quote:before {
        content: '\201C';
        position: absolute;
        top: -.3rem;
        left: -.8rem;
    }

    .quote:after {
        content: '\201D';
        line-height: 1;
    }
}
