/*
demos section and carousel
====================================================================== */
.home-demos {
    padding: $first-content-top-padding 0;
    background: $light-background-color;

    .owl-theme .owl-controls {
        margin-top: $grid-spacing;
    }
    .owl-item.loading {
        background: url('/media/js/libs/owl.carousel/owl-carousel/AjaxLoader.gif') no-repeat center center;
    }

    /* In right-to-left languages, show some carousel items in reverse order
       and hide the pager. This is not a permanent solution,
       https://bugzilla.mozilla.org/show_bug.cgi?id=992745 */
    html[dir='rtl'] & {
        .owl-item {
            float: right;
        }

        .owl-item.loading, .owl-controls {
            display: none;
        }

        .owl-carousel {
            margin-bottom: $grid-spacing;
        }
    }

    .preview {
        text-transform: uppercase;
        bidi-value(float, right, left);
        margin-top: -10px;

        span {
            display: block;
        }
    }
}

.home-demos-list {
    clearfix();
    position: relative;
    height: 150px;
    overflow: hidden;
}

.home-demos-list-item {
    set-smaller-font-size();
    display: block;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    overflow: hidden;
    width: 194px;

    img {
        border: 6px solid #fff;
        display: block;
        box-shadow: 2px 2px 1px rgba(0 , 0, 0, .1);
        margin-bottom: $content-vertical-spacing;
        width: 180px;
        height: 133px;
    }
}
