{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "gallery/base.html" %}
{% set title = _('{title} | Media Gallery | Firefox Support')|f(title=media.title) %}
{% set crumbs = [(url('gallery.gallery'), _('Media Gallery')),
                 (None, media.title)] %}

{% block content %}
  <div id="breadcrumbs">
    {{ _('You are here:') }}
    {{ breadcrumbs(crumbs) }}
  </div>
  <section class="media">
    <header>
      <h1>{{ media.title }}</h1>
      <div class="creator">
        {{ _('by {user}')|f(user=media.creator) }}
      </div>
      <div class="created">
        {{ _('Uploaded {date}')|f(date=datetimeformat(media.created, format='longdatetime'))|safe }}
      </div>
      <div class="locale">
        {{ media.locale }}
      </div>
      {% if media_type =='image' %}
        <div class="dimensions">
          {{ media.file.width }} x {{ media.file.height }}px
        </div>
      {% endif %}
      <div class="size">
        {{ media.file.size // 1024 }}KB
      </div>
    </header>
    <div class="media">
      {% if media_type == 'image' %}
        <img src="{{ media.file.url }}" alt="{{ media.title }}" />
      {% else %}
        <video src="{{ media.file.url }}" controls="controls"></video>
      {% endif %}
    </div>
    <div class="description">{{ media.description }}</div>
    <footer>
      <form action="{# TODO delete view #}" method="post">
        {% if media_type == 'image' %}
          <input type="submit" value="{{ _('Delete this Image') }}" />
        {% else %}
          <input type="submit" value="{{ _('Delete this Video') }}" />
        {% endif %}
      </form>
    </footer>
  </section>
{% endblock %}