{% extends "403.html" %}

{% block page_title %}{{ _("You're trying to create a new page.") }}{% endblock %}

{% block reason %}
<p class="notice">
  {% trans email_link=(
  'mailto:{email}?subject=Page Creation permission&'
  'body=My username is {username}. I want the page creation permission on {host} because...'.format(email=email_address, username=request.user.username, host=request.get_host() )) %}

  Creating a new page is a restricted action.
  To request a new page, please <a href="{{ request_page_url }}">file a bug</a>.
  If you need permission to create new pages, please <a href="{{ email_link }}">contact us</a>.
  {% endtrans %}
</p>

{% trans %}
<p>You are more likely to be granted permission to create new pages if you:</p>
<ul>
  <li>Tell us your MDN username.</li>
  <li>Tell us why you'd like to create new pages
      (Are you documenting a new feature? What feature?
       Is there a glossary term you’d like to add? What term?).
  </li>
  <li>Have made some good edits to existing pages.</li>
  <li>Have been contributing to the site for a while.</li>
</ul>
{% endtrans %}
{% endblock %}

{% block tumbeast %}{% endblock %}
{% block tumbeast_attribution %}{% endblock %}
{% block next_action %}{% endblock %}

{% block js %}
<script type="text/javascript">
    mdn.analytics.trackError('403', String(window.location), 'create-page');
</script>
{% endblock %}
