  <footer id="learn-fineprint">
      {% trans feedback_url=devmo_url('Project:Feedback') %}
      <p>These resources are created by forward-thinking companies and web developers who have embraced open standards and best practices for web development. If you think we've omitted a great resource, please <a href="{{ feedback_url }}">tell us about it</a>. We want to share these resources with our international community, so we prefer ones that provide or allow translations, through an open content license such as <a href="http://creativecommons.org" rel="external">Creative Commons</a>.</p>
      {% endtrans %}
  </footer>
