/* contributor avatars at top of articles */
.contributor-avatars {
    set-smaller-font-size();
    color: #777;
    padding: 10px 10px $content-vertical-spacing;
    border-bottom: 1px solid rgb(241, 241, 241);
    border-top: 1px solid rgb(241, 241, 241);
    background: none repeat scroll 0 0 rgba-fallback(rgba(234, 239, 243, 0.4));
    margin-top: -20px;
    margin-bottom: 20px;

    ul {
        display: inline;
        opacity: 0.7;
        margin-left: 2px;
        vendorize(transition, opacity .3s ease-in-out);

        &:hover,
        &.focused {
            opacity: 1;
        }

        li {
            margin: 0 5px 4px 0;

            &, .no-js  &.hidden {
                display: inline-block;
            }

            &.hidden {
                display: none;
            }
        }

        a {
            display: inline-block;
            vendorize(transition, all .2s);

            &:hover,
            &:focus {
                outline: none;
                vendorize(transform, scale(1.7));
            }
        }
    }

    .avatar {
        vertical-align: text-bottom;
        border-radius: 2px;
        max-width: 20px;
        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }

    button {
        set-smaller-font-size();
        margin-left: -2px;
        color: #777;
        text-transform: none;
        padding: 5px 0;

        &:hover,
        &:focus {
            color: #4D4E53;
        }
    }
}
