
/*
Summary boxes
====================================================================== */

$summary-box-item-spacing = $content-horizontal-spacing;
$summary-box-spacing = ($grid-spacing) - $summary-box-item-spacing;
$summary-box-indent = ($grid-spacing * 2) - $summary-box-item-spacing;

.cssprop,
.htmlelt,
.audionodebox,
.summary-box-js,
.summary-box-events {
    display: table;
    margin: 0 0 $grid-spacing 0;
    border-style: solid;
    bidi-value(clear, left, right);
    background: $code-block-background-alt-color;

    .text-content & { /* need to override default text-content styles */
        border-collapse: separate;
        bidi-value(padding, $summary-box-spacing $summary-box-indent $summary-box-spacing $summary-box-spacing, $summary-box-spacing $summary-box-spacing $summary-box-spacing $summary-box-indent);
        bidi-value(border-width, 0 0 0 $border-width, 0 $border-width 0 0);
        border-color: $code-block-border-color;

        @media $media-query-small-mobile {
            bidi-value(padding, $summary-box-item-spacing, $summary-box-item-spacing);
        }
    }

   li {
        display: table-row;
        margin: 0;
    }

    li dfn {
        display: table-cell;
        bidi-value(padding, $summary-box-item-spacing ($summary-box-item-spacing * 2) $summary-box-item-spacing $summary-box-item-spacing, $summary-box-item-spacing $summary-box-item-spacing $summary-box-item-spacing ($summary-box-item-spacing* 2 ));
        border-bottom: none;
        font-weight: bold;
        white-space: pre;
        cursor: inherit;
    }

    li li {
        display: list-item;
        list-style-type: disc;
        line-height: 1;
    }

    th {
        font-weight: bold;
    }

    th,
    td {
        border-width: 0;
        vertical-align: top;
    }
}
