{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "admin/change_list.html" %}
{% load i18n %}
    {% block object-tools %}
        <ul class="object-tools">
          {% if has_add_permission %}
          <li>
            <a href="{% url wiki.load_documents %}{% if is_popup %}?_popup=1{% endif %}">
              {{ _("Load documents") }}
            </a>
          <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
          </li>
          {% endif %}
        </ul>
    {% endblock %}
