{% extends "admin/change_list.html" %}
{% load i18n %}
    {% block object-tools %}
        <ul class="object-tools">
          {% if has_add_permission %}
          <li>
            <a href="{% url wiki.load_documents %}{% if is_popup %}?_popup=1{% endif %}">
              {{ _("Load documents") }}
            </a>
          <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              {% trans name=cl.opts.verbose_name %}Add {{ name }}{% endtrans %}
            </a>
          </li>
          {% endif %}
        </ul>
    {% endblock %}
