<%
// Inserts a link to the WAI-ARIA roles spec for a specified role.
// Used in: en/Accessibility/AT-APIs/Gecko/Roles/ROLE_TABLE
//
//  $0 - role

var link = 'https://w3c.github.io/aria/#' + $0;
%>
<code><a href="<%=link%>" class="external"><%=$0%></a></code>
