<%
var text = mdn.localString({
    "en-US": "No&nbsp;support",
    "de"   : "Nicht unterstützt",
    "es"   : "Sin soporte",
    "fr"   : "Pas de support",
    "ja"   : "未サポート",
    "nl"   : "Niet ondersteund",
    "pt-BR": "Não suportado",
    "ru"   : "Нет",
    "zh-CN": "未实现"
});

%><span style="color:#f00;"><%- text %></span>
