<%
switch(env.locale) {
    case "de":
%>CSS Schlüsselkonzepte:
 <a href="/de/docs/Web/CSS/Syntax" title="Syntax">CSS Syntax</a>,
 <a href="/de/docs/Web/CSS/Spezifität" title="Spezifität">Spezifität</a> und
 <a href="/de/docs/Web/CSS/Vererbung" title="Vererbung">Vererbung</a>,
 das <a href="/de/docs/Web/CSS/Boxmodell" title="Boxmodell">Boxmodell</a>,
 <a href="/de/docs/Web/CSS/Layoutmodi" title="CSS Layoutmodi">Layoutmodi</a> und
 <a href="/de/docs/Web/Guide/CSS/Visuelles_Formatierungsmodell" title="Visuelles Formatierungsmodell">visuelle Formatierungsmodelle</a>
 und <a href="/en-US/docs/Web/CSS/Boxmodell/Abstandzusammenfallen_meistern" title="Abstandzusammenfallen">Abstandzusammenfallen</a>,
 or the <a href="/de/docs/Web/CSS/Initialwert" title="Initialwert">initiale</a>,
 <a href="/de/docs/Web/CSS/berechneter_Wert" title="berechneter Wert">berechnete</a>,
 <a href="/de/docs/Web/CSS/verwendeter_Wert" title="verwendeter Wert">verwendete</a>
 and <a href="/de/docs/Web/CSS/tatsächlicher_Wert" title="tatsächlicher Wert">tatsächliche</a> Werte.
 Definitions of <a href="/de/docs/Web/CSS/Wertdefinitionssyntax" title="Wertdefinitionssyntax">Wertsyntax</a>,
 <a href="/de/docs/Web/CSS/Kurzschreibweiseeigenschaften" title="Kurzschreibweiseeigenschaften">Kurzschreibweiseeigenschaften</a>
 and <a href="/de/docs/Web/CSS/ersetztes_Element" title="Ersetztes Element">ersetzte Elemente</a>.<%
        break;

    case 'fr':    
%>Concepts-clé du CSS:
 <a href="/fr/docs/Web/CSS/Syntax">syntaxe CSS</a>,
 <a href="/fr/docs/Web/CSS/Specificity">specificité</a> and
 <a href="/fr/docs/Web/CSS/inheritance">héritage</a>,
 le <a href="/fr/docs/Web/CSS/box_model">modèle de boîte</a>,
 <a href="/fr/docs/Web/CSS/Layout_mode">modes d'affichage</a> and
 <a href="/fr/docs/Web/CSS/Visual_formatting_model">modèles de formattage visuel</a>,
 et <a href="/fr/docs/Web/CSS/margin_collapsing">fusion des marges</a>,
 ou les valeurs <a href="/fr/docs/Web/CSS/initial_value">initiales</a>,
 <a href="/fr/docs/Web/CSS/computed_value">calculées</a>,
 <a href="/fr/docs/Web/CSS/used_value">utilisées</a>
 et <a href="/fr/docs/Web/CSS/actual_value">veritables</a>.
 Définitions des <a href="/fr/docs/Web/CSS/Value_definition_syntax">syntaxes de valeurs</a>,
 <a href="/fr/docs/Web/CSS/Shorthand_properties">propriétés raccourcies</a>
 et <a href="/fr/docs/Web/CSS/Replaced_element">éléments remplacés</a>.<%
        break;

    case "ja":
%>CSS の主要概念:
 <a href="/ja/docs/Web/CSS/Syntax" title="Syntax" >CSS 構文</a>、
 <a href="/ja/docs/Web/CSS/Specificity" title="Specificity">詳細度</a>、
 <a href="/ja/docs/Web/CSS/inheritance" title="inheritance">継承</a>、
 <a href="/ja/docs/Web/CSS/box_model" title="Box model">ボックスモデル</a>、
 <a href="/ja/docs/Web/CSS/Layout_mode" title="CSS layout modes">レイアウトモード</a>、
 <a href="/ja/docs/Web/CSS/Visual_formatting_model" title="Visual formatting model">視覚フォーマットモデル</a>、
 <a href="/ja/docs/Web/CSS/margin_collapsing" title="Margin collapsing">マージンの相殺</a>、
 値 (<a href="/ja/docs/Web/CSS/initial_value" title="initial value">initial</a> /
 <a href="/ja/docs/Web/CSS/computed_value" title="computed value">computed</a> /
 <a href="/ja/docs/Web/CSS/used_value" title="used value">used</a> /
 <a href="/ja/docs/Web/CSS/actual_value" title="actual value">actual</a>)、
 <a href="/ja/docs/Web/CSS/Value_definition_syntax" title="Value definition syntax">値の定義構文</a>、
 <a href="/ja/docs/Web/CSS/Shorthand_properties" title="Shorthand properties">ショートハンドプロパティ</a>、
 <a href="/ja/docs/Web/CSS/Replaced_element" title="Replaced element">置換要素</a><%
        break;

    case 'ru':
%>Ключевые концепции CSS:
 <a href="/ru/docs/Web/CSS/Синтаксис" title="Синтаксис">Синтаксис CSS</a>,
 <a href="/ru/docs/Web/CSS/At-rule" title="@-правила">@-правила</a>,
 <a href="/ru/docs/Web/CSS/Comments" title="Комментарии">комментарии</a>,
 <a href="/ru/docs/Web/CSS/Specificity" title="Специфичность">специфичность</a> и
 <a href="/ru/docs/Web/CSS/inheritance" title="Наследование">наследование</a>,
 <a href="/ru/docs/Web/CSS/box_model" title="Блочная модель">блочная модель</a>,
 <a href="/ru/docs/Web/CSS/Layout_mode" title="Режимы компоновки CSS">режимы компоновки</a> и
 <a href="/ru/docs/Web/CSS/Visual_formatting_model" title="Модель визуального форматирования">модели визуального форматирования</a>,
 <a href="/ru/docs/Web/CSS/margin_collapsing" title="Схлопывание отступов">схлопывание отступов</a>,
 <a href="/ru/docs/Web/CSS/initial_value" title="Начальное значение">начальные</a>,
 <a href="/ru/docs/Web/CSS/computed_value" title="Вычисленное значение">вычисленные</a>,
 <a href="/ru/docs/Web/CSS/resolved_value" title="Решённое значение">решённые</a>,
 <a href="/ru/docs/Web/CSS/specified_value" title="Указанное значение">указанные</a>,
 <a href="/ru/docs/Web/CSS/used_value" title="Используемое значение">используемые</a> и
 <a href="/ru/docs/Web/CSS/actual_value" title="Действительное значение">действительные</a> значения. 
 <a href="/ru/docs/Web/CSS/Value_definition_syntax" title="Синтаксис определения значений">Синтаксис определения значений</a>,
 <a href="/ru/docs/Web/CSS/Shorthand_properties" title="Сокращённые свойства">сокращённые свойства</a> и
 <a href="/ru/docs/Web/CSS/Замещаемый_элемент" title="Замещаемые элементы">замещаемые элементы</a>.<%
        break;
    case "zh-CN":
%>CSS Key Concepts:
 <a href="/zh-CN/docs/Web/CSS/Syntax" title="语法">CSS 语法</a>,
 <a href="/zh-CN/docs/Web/CSS/At-rule" title="@规则">@规则</a>,
 <a href="/zh-CN/docs/Web/CSS/Comments" title="注释">注释</a>,
 <a href="/zh-CN/docs/Web/CSS/Specificity" title="优先级">优先级</a>和<a href="/zh-CN/docs/Web/CSS/inheritance" title="继承">继承</a>,
 the <a href="/zh-CN/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model" title="盒模型">盒模型</a>,
 <a href="/zh-CN/docs/Web/CSS/Layout_mode" title="CSS 布局模式">布局模式</a>和<a href="/zh-CN/docs/Web/Guide/CSS/Visual_formatting_model" title="视觉格式化模型">视觉格式化模型</a>，以及<a href="/zh-CN/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" title="外边距合并">外边距合并</a>，或者<a href="/zh-CN/docs/Web/CSS/initial_value" title="初始值">初始</a>、<a href="/zh-CN/docs/Web/CSS/computed_value" title="计算值">计算</a>、<a href="/zh-CN/docs/Web/CSS/resolved_value" title="解析值">解析</a>、<a href="/zh-CN/docs/Web/CSS/specified_value" title="指定值">指定</a>、<a href="/zh-CN/docs/Web/CSS/used_value" title="使用值">使用</a>和<a href="/zh-CN/docs/Web/CSS/actual_value" title="实际值">实际</a>值。
 Definitions of <a href="/zh-CN/docs/Web/CSS/Value_definition_syntax" title="值定义语法">值语法</a>、<a href="/zh-CN/docs/Web/CSS/Shorthand_properties" title="简写属性">简写属性</a>和<a href="/zh-CN/docs/Web/CSS/Replaced_element" title="可替换元素">可替换元素</a>。<%
        break;

    default:
%>CSS Key Concepts:
 <a href="/en-US/docs/Web/CSS/Syntax" title="Syntax">CSS syntax</a>,
 <a href="/en-US/docs/Web/CSS/At-rule" title="At-rule">at-rule</a>,
 <a href="/en-US/docs/Web/CSS/Comments" title="Comments">comments</a>,
 <a href="/en-US/docs/Web/CSS/Specificity" title="Specificity">specificity</a> and
 <a href="/en-US/docs/Web/CSS/inheritance" title="inheritance">inheritance</a>,
 the <a href="/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model" title="Box model">box</a>,
 <a href="/en-US/docs/Web/CSS/Layout_mode" title="CSS layout modes">layout modes</a> and
 <a href="/en-US/docs/Web/Guide/CSS/Visual_formatting_model" title="Visual formatting model">visual formatting models</a>,
 and <a href="/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" title="Margin collapsing">margin collapsing</a>,
 or the <a href="/en-US/docs/Web/CSS/initial_value" title="initial value">initial</a>,
 <a href="/en-US/docs/Web/CSS/computed_value" title="computed value">computed</a>,
 <a href="/en-US/docs/Web/CSS/resolved_value" title="resolved value">resolved</a>,
 <a href="/en-US/docs/Web/CSS/specified_value" title="specified value">specified</a>,
 <a href="/en-US/docs/Web/CSS/used_value" title="used value">used</a>,
 and <a href="/en-US/docs/Web/CSS/actual_value" title="actual value">actual</a> values.
 Definitions of <a href="/en-US/docs/Web/CSS/Value_definition_syntax" title="Value definition syntax">value syntax</a>,
 <a href="/en-US/docs/Web/CSS/Shorthand_properties" title="Shorthand properties">shorthand properties</a>
 and <a href="/en-US/docs/Web/CSS/Replaced_element" title="Replaced element">replaced elements</a>.<%
}%>
