<%
// Embeds a New Relic chart.
//
// Parameters:
//  $0 - Chart ID
//  $1 - Height of the <iframe> (optional)

var height = $1 || 300;

var s_result = '<p><iframe allowfullscreen="allowfullscreen" scrolling="no" frameborder="0" height="' + height + '" src="https://rpm.newrelic.com/public/charts/' + $0 + '" width="100%"></iframe></p>';

%><%- s_result %>
