<%
// Creates a link to a page, with a tooltip based on the SEO summary.
//
// Parameters:
//  $0  Page link

let page = await wiki.getPage($0);
let title = page.title;
let summary = page.summary.replace(/<img[^>]*>/g," ");
let url = page.url
%>
<a href="<%-url%>" title="<%=summary%>"><%=title%></a>
