<div class="standardSidebar"><%

var lang = env.locale;

switch(lang) {
    case "fr": frenchText(); break;
    case "ja": japaneseText(); break;
    case "ko": koreanText(); break;
    case "pl": polishText(); break;
    case "zh-CN": zhcnText(); break;
    case "zh-TW": zhtwText(); break;
    case "de": germanText(); break;
    default: englishText(); break;
}


function englishText() { %>
    <div><a href="/en-US/docs/Project:How_to_Help" style="font-size:large;">How to help: contents</a></div>

    <dl>
		<dt>Guides</dt>
        <dd>
			<ul style="padding:0">
				<li><a href="/en-US/docs/Project:Getting_started">Getting started</a></li>
                <li><a href="/en-US/docs/Project:Documentation_process">Developer documentation process</a></li>
				<li><a href="/en-US/docs/Project:Kuma">The MDN platform (Kuma)</a></li>
				<li><a href="/en-US/docs/Project:Writing_interface_reference_documentation">Writing I/F reference docs</a></li>
				<li><a href="/en-US/docs/Project:Disambiguation">Disambiguation</a></li>
				<li><a href="/en-US/docs/Project:Localization_Projects">Localization projects</a></li>
				<li><a href="/en-US/docs/Project:Copyrights">Copyrights and licensing</a></li>
			</ul>
        </dd>

        <dt>References</dt>
        <dd>
			<ul style="padding:0">
				<li><a href="/en-US/docs/Project:MDC_style_guide">Style guide</a></li>
				<li><a href="/en-US/docs/Project:MDC_editor_guide">Editing interface</a></li>
				<li><a href="/en-US/docs/Project:Custom_CSS_Classes">Custom CSS classes</a></li>
				<li><a href="/en-US/docs/Project:Custom_templates">Custom templates</a></li>
				<li><a href="/en-US/docs/Project:Compatibility_tables">Compatibility tables</a></li>
				<li><a href="/en-US/docs/Project:External_Redirects">External redirects</a></li>
				<li><a href="/en-US/docs/Project:Needs_Redirect">Needs redirect</a></li>
				<li><a href="/en-US/docs/Project:Subject-matter_experts" title="A list of topics and the engineers that understand them best.">Subject-matter experts</a></li>
				<li><a href="/en-US/docs/Project:Topic_drivers">Topic drivers</a></li>
			</ul>
        </dd>

        <dt>Lists</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/en-US/docs/Project:Documentation_Wishlist">Documentation wish list</a></li>
				<li><a href="/en-US/docs/Project:To-Do_List">Editing/review to do list</a></li>
				<li><a href="/en-US/docs/Project:Existing_Content">Migration list</a></li>
				<li><a href="/en-US/docs/Project:Blog_posts_to_integrate_into_documentation">Blog posts to integrate</a></li>
			</ul>
        </dd>
	</dl>
<%}


function frenchText() {%>
	<div><a style="font-size:large;" href="/fr/docs/Project:Comment_aider">Comment aider : contenu</a></div>

	<dl>
        <dt>Guides</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/fr/docs/Project:Pour_commencer">Pour commencer</a></li>
				<li><a href="/fr/docs/Project:Guide_du_r%C3%A9dacteur">Guide du rédacteur</a></li>
				<li><a href="/fr/docs/Project:Guide_de_nommage_des_pages">Guide de nommage des pages</a></li>
				<li><a href="/fr/docs/Project:D%C3%A9sambiguation">Pages de désambiguation</a></li>
				<li><a href="/fr/docs/Project:Projets_de_localisation">Commencer une nouvelle localisation de MDC</a></li>
				<li><a href="/fr/docs/Project:Copyright">Copyrights et licences</a></li>
			</ul>
		</dd>

        <dt>Références</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/fr/docs/Project:R%C3%A9f%C3%A9rence_des_balises_wiki">Référence des balises wiki</a></li>
				<li><a href="/fr/docs/Project:Classes_CSS_personnalis%C3%A9es">Classes CSS personnalisées</a></li>
				<li><a href="/fr/docs/Project:Mod%C3%A8les_personnalis%C3%A9s">Modèles personnalisés</a></li>
				<li><a href="/fr/docs/Project:Extensions_MediaWiki">Extensions MediaWiki</a></li>
				<li><a href="/fr/docs/Project:Redirections_externes">Redirections externes</a></li>
			</ul>
		</dd>

    	<dt>Listes</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/fr/docs/Project:Pages_%C3%A0_traduire">Pages à traduire</a></li>
				<li><a href="/Special:Tags">Traductions à relire</a></li>
				<li><a href="/Special:Tags">Traductions en cours</a></li>
			</ul>
		</dd>
	</dl>
<%}


function japaneseText() {%>
	<div><a style="font-size:large;" href="/ja/docs/Project:How_to_Help">How to help: 目次</a></div>

	<dl>
		<dt>ガイド</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ja/docs/Project:Getting_started">はじめるには</a></li>
                <li><a href="/ja/docs/Project:Documentation_process">Developer documentation process</a></li>
				<li><a href="/ja/docs/Project:Kuma">The MDN platform (Kuma)</a></li>
				<li><a href="/ja/docs/Project:Writing_interface_reference_documentation">Writing I/F reference doc</a></li>
				<li><a href="/ja/docs/Project:Disambiguation">あいまい性除去のページ</a></li>
				<li><a href="/ja/docs/Project:Localization_Projects">MDC の新しいローカライズをはじめる</a></li>
				<li><a href="/ja/docs/Project:Copyrights">著作権とライセンス</a></li>
			</ul>
		</dd>
        <dt>リファレンス</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ja/docs/Project:MDC_style_guide">MDC スタイルガイド</a></li>
				<li><a href="/ja/docs/Project:MDC_editor_guide">MDC のエディタの利用方法</a></li>
				<li><a href="/ja/docs/Project:Custom_CSS_Classes">カスタム CSS クラス</a></li>
				<li><a href="/ja/docs/Project:Custom_Templates">カスタムテンプレート</a></li>
				<li><a href="/ja/docs/Project:Compatibility_tables">互換性一覧表</a></li>
				<li><a href="/ja/docs/Project:External_Redirects">外部リダイレクト</a></li>
				<li><a href="/ja/docs/Project:Needs_Redirect">リダイレクトが必要なページ</a></li>
				<li><a href="/ja/docs/Project:Subject-matter_experts" title="A list of topics and the engineers that understand them best.">Subject-matter experts</a></li>
				<li><a href="/ja/docs/Project:Topic_drivers">Topic drivers</a></li>
			</ul>
		</dd>

    	<dt>リスト</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ja/docs/Project:Documentation_Wishlist">Documentation wishlist</a></li>
				<li><a href="/ja/docs/Project:To_Do_List">編集/レビューが必要な項目一覧</a></li>
				<li><a href="/ja/docs/Project:Existing_Content">移設リスト</a></li>
			</ul>
		</dd>

		<dt>MDC 日本語版</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ja/docs/Project:%E6%97%A5%E6%9C%AC%E8%AA%9E%E7%89%88">日本語版</a></li>
				<li><a href="/ja/docs/Project:Translation">翻訳</a></li>
				<li><a href="/ja/docs/Project:%E4%BA%95%E6%88%B8%E7%AB%AF%E4%BC%9A%E8%AD%B0">井戸端会議</a></li>
			</ul>
		</dd>
	</dl>
<%}


function koreanText() {	%>
	<div><a style="font-size:large;" href="/ko/docs/Project:How_to_Help">프로젝트 참여 방법</a></div>

	<dl>
		<dt>가이드</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ko/docs/Project:Getting_started">시작하기</a></li>
				<li><a href="/ko/docs/Project:Kuma">The MDN platform (Kuma)</a></li>
				<li><a href="/ko/docs/Project:Writing_interface_reference_documentation">Writing interface reference documentation</a></li>
				<li><a href="/ko/docs/Project:Disambiguation">Disambiguation pages</a></li>
				<li><a href="/ko/docs/Project:Localization_Projects">새 MDC 다국어 버전 만들기</a></li>
				<li><a href="/ko/docs/Project:Copyrights">저작권 및 라이센스</a></li>
			</ul>
		</dd>

		<dt>참고 문서</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ko/docs/Project:MDC_style_guide">Style guide</a></li>
				<li><a href="/ko/docs/Project:MDC_editor_guide">Editing interface</a></li>
				<li><a href="/ko/docs/Project:Custom_CSS_Classes">사용자 정의CSS 항목</a></li>
				<li><a href="/ko/docs/Project:Custom_Templates">사용자 정의 템플릿</a></li>
				<li><a href="/ko/docs/Project:Compatibility_tables">Compatibility tables</a></li>
				<li><a href="/ko/docs/Project:External_Redirects">외부 이동</a></li>
				<li><a href="/ko/docs/Project:Needs_Redirect">이동 필요성</a></li>
				<li><a href="/ko/docs/Project:Subject-matter_experts" title="A list of topics and the engineers that understand them best.">Subject-matter experts</a></li>
				<li><a href="/ko/docs/Project:Topic_drivers">Topic drivers</a></li>
			</ul>
		</dd>

    	<dt>항목</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/ko/docs/Project:Documentation_Wishlist">문서 요청 목록</a></li>
				<li><a href="/ko/docs/Project:To_Do_List">할 일 편집 및 관리</a></li>
				<li><a href="/ko/docs/Project:Existing_Content">목록 이전</a></li>
			</ul>
		</dd>
	</dl>
<%}


function polishText() { %>
	<div><a href="/pl/docs/Project:Pomoc" style="font-size:large;">Jak pomóc: Treść</a></div>

	<dl>
		<dt>Poradnik</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/pl/docs/Project:Na_pocz%C4%85tek">Na początek</a></li>
				<li><a href="/pl/docs/Project:Jak_edytowa%C4%87_stron%C4%99">Przewodnik dla edytorów</a></li>
				<li><a href="/pl/docs/Project:Poradnik_nazywania_stron">Poradnik nazywania stron</a></li>
				<li><a href="/pl/docs/Project:Ujednoznacznienie">Strony ujednoznaczniające</a></li>
				<li><span class="comment"><a href="/pl/docs/Project:Projekty_lokalizacyjne">Projekty lokalizacyjne</a></span></li>
				<li><a href="/pl/docs/Project:Prawa_autorskie">Prawa autorskie i licencje</a></li>
			</ul>
		</dd>
		<dt>Dokumentacja</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/pl/docs/Project:Opis_sk%C5%82adni_Wiki">Opis składni Wiki</a></li>
				<li><a href="/pl/docs/Project:W%C5%82asne_klasy_CSS">Własne klasy CSS</a></li>
				<li><a href="/pl/docs/Project:W%C5%82asne_szablony">Własne szablony</a></li>
				<li><a href="/pl/docs/Project:Rozszerzenia_MediaWiki">Rozszerzenia MediaWiki</a></li>
				<li><a href="/pl/docs/Project:Zewn%C4%99trzne_przekierowania">Zewnętrzne przekierowania</a></li>
			</ul>
		</dd>

		<dt>Dodatkowa pomoc</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/pl/docs/Project:Do_zrobienia">Edycja/przegląd listy</a></li>
				<li><a href="/pl/docs/Project:S%C5%82ownik">Słownik</a></li>
				<li><a href="/pl/docs/Project:Cz%C4%99sto_zadawane_pytania">FAQ</a></li>
				<li><a href="/pl/docs/Project:Spo%C5%82eczno%C5%9B%C4%87">Społeczność MDC</a></li>
				<li><a href="/pl/docs/Project:Lista_kontakt%C3%B3w">Lista kontaktów</a></li>
			</ul>
		</dd>
	</dl>
<%}


function zhcnText() { %>
	<div><a href="/Help:cn/%E7%9B%AE%E5%BD%95" style="font-size:large;">帮助目录</a></div>

	<dl>
        <dt>指导</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-CN/docs/Project:%E7%8E%B0%E5%9C%A8%E5%B0%B1%E5%BC%80%E5%A7%8B">现在就开始</a></li>
				<li><a href="/zh-CN/docs/Project:%E7%BC%96%E8%80%85%E5%90%91%E5%AF%BC">编者向导</a></li>
				<li><a href="/zh-CN/docs/Project:%E9%A1%B5%E9%9D%A2%E5%91%BD%E5%90%8D%E6%8C%87%E5%8D%97">页面命名指南</a></li>
				<li><a href="/zh-CN/docs/Project:%E6%B6%88%E6%AD%A7%E4%B9%89">消歧义页</a></li>
				<li><a href="/zh-CN/docs/Project:%E6%9C%AC%E5%9C%B0%E5%8C%96%E9%A1%B9%E7%9B%AE">开始一项新的mdc本地化项目</a></li>
				<li><a href="/zh-CN/docs/Project:%E7%89%88%E6%9D%83">版权和许可</a></li>
			</ul>
		</dd>

		<dt>参考</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-CN/docs/Project:Wiki%E6%A0%87%E8%AE%B0%E8%AF%AD%E6%B3%95%E5%8F%82%E8%80%83">维基语法参考</a></li>
				<li><a href="/zh-CN/docs/Project:%E8%87%AA%E5%AE%9A%E4%B9%89_CSS_%E7%B1%BB">自定义 CSS 类</a></li>
				<li><a href="/zh-CN/docs/Project:%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A8%A1%E6%9D%BF">自定义模板</a></li>
				<li><a href="/zh-CN/docs/Project:MediaWiki_%E6%89%A9%E5%B1%95">MediaWiki 扩展</a></li>
				<li><a href="/zh-CN/docs/Project:%E5%A4%96%E9%83%A8%E9%87%8D%E5%AE%9A%E5%90%91">外部重定向</a></li>
				<li><a href="/zh-CN/docs/Project:%E9%9C%80%E8%A6%81%E9%87%8D%E5%AE%9A%E5%90%91">需要重定向</a></li>
			</ul>
		</dd>

    	<dt>列表</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-CN/docs/Project:%E6%96%87%E6%A1%A3%E8%AF%B7%E6%B1%82%E5%88%97%E8%A1%A8">文档请求列表</a></li>
				<li><a href="/zh-CN/docs/Project:To_Do_List">Editing/review to do list</a></li>
				<li><a href="/zh-CN/docs/Project:%E5%B7%B2%E6%9C%89%E5%86%85%E5%AE%B9">合并列表</a></li>
			</ul>
		</dd>
    </dl>
<%}


function germanText() {	%>
	<div><a href="/de/docs/Project" style="font-size:large;">Project:de</a></div>

	<dl>
		<dt>Leitfäden</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/de/docs/Project:Wie_kann_ich_helfen%3f">Wie kann ich helfen?</a></li>
				<li><a href="/de/docs/Project:Schreibstil">Schreibstil</a></li>
				<li><a href="/de/docs/Project:Dokumentationsm%C3%A4ngel_%C3%BCber_Bugzilla_verfolgen">Dokumentionsmängel über Bugzilla verfolgen</a></li>
				<li><a href="/de/docs/Project:Seitenbenennung">Seitenbenennung</a></li>
				<li><a href="/de/docs/Project:Schreiben_der_Interface_Dokumentation">Schreiben der Interface Dokumentation</a></li>
				<li><a href="/de/docs/Project:Begriffserkl%C3%A4rungen">Begriffserklärungen</a></li>
				<li><a href="/de/docs/Project:Lokalisierung">Lokalisierung</a></li>
				<li><a href="/de/docs/Project:Copyrights">Copyrights und Lizenzierung</a></li>
			</ul>
		</dd>

		<dt>Referenzen</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/de/docs/Project:Spezielle_CSS_Klassen">Spezielle CSS Klassen</a></li>
				<li><a href="/de/docs/Project:Spezielle_Vorlagen">Spezielle Vorlagen</a></li>
			</ul>
		</dd>

    	<dt>Listen</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/de/docs/Project:Updates">Aktualisierungen</a></li>
				<li><a href="/de/docs/Project:To_Do_Liste">To Do Liste</a></li>
				<li><a href="http://bugzilla.mozilla.org/buglist.cgi?keywords=dev-doc-needed">Bugzilla doc-needed Liste</a></li>
			</ul>
		</dd>
	</dl>
<%}


function zhtwText() { %>
	<div><a href="/zh-TW/docs/Project:%e5%a6%82%e4%bd%95%e5%8d%94%e5%8a%a9" style="font-size:large;">如何協助 MDC:內容</a></div>

	<dl>
		<dt>指南</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-TW/docs/Project:%e9%96%8b%e5%a7%8b%e5%8b%95%e6%89%8b">開始動手</a></li>
				<li><a href="/zh-TW/docs/Project:%e5%af%ab%e4%bd%9c%e6%8c%87%e5%8d%97">寫作指南</a> <small>（含體例）</small></li>
				<li><a href="/zh-TW/docs/Project:%e6%b6%88%e6%ad%a7%e7%be%a9">消歧義</a></li>
				<li><a href="/zh-TW/docs/Project:%e6%9c%ac%e5%9c%b0%e5%8c%96%e5%b0%88%e6%a1%88">開創新的 MDC 本地化專案</a></li>
				<li><a href="/zh-TW/docs/Project:%e7%89%88%e6%ac%8a">授權方式</a></li>
			</ul>
		</dd>

		<dt>參考文件</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-TW/docs/Project:Wiki_%e6%a8%99%e7%b1%a4%e5%8f%83%e8%80%83">Wiki 標籤參考</a></li>
				<li><a href="/zh-TW/docs/Project:%e8%87%aa%e8%a8%82_CSS_%e9%a1%9e%e5%88%a5">自訂 CSS 類別</a></li>
				<li><a href="/zh-TW/docs/Project:%e8%87%aa%e8%a8%82%e6%a8%a3%e6%9d%bf">自訂樣板</a></li>
				<li><a href="/zh-TW/docs/Project:MediaWiki_%e6%93%b4%e5%85%85%e5%8a%9f%e8%83%bd">MediaWiki 擴充功能</a></li>
				<li><a href="/zh-TW/docs/Project:%e7%ab%99%e5%a4%96%e9%80%a3%e7%b5%90%e8%bd%89%e5%90%91">站外連結轉向</a></li>
				<li><a href="/zh-TW/docs/Project:%e5%be%85%e8%bd%89%e5%90%91">待轉向</a></li>
			</ul>
		</dd>

    	<dt>清單</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-TW/docs/Project:%e6%96%87%e4%bb%b6%e9%9c%80%e6%b1%82">文件需求清單</a></li>
				<li><a href="/zh-TW/docs/Project:%e5%be%85%e8%be%a6">編輯、檢視待辦事項</a></li>
				<li><a href="/zh-TW/docs/Project:%e6%97%a2%e5%ad%98%e5%85%a7%e5%ae%b9">需搬移的文件清單</a></li>
			</ul>
		</dd>
		
		<dt>MDC 正體中文</dt>
		<dd>
			<ul style="padding:0">
				<li><a href="/zh-TW/docs/Project:%e6%ad%a3%e9%ab%94%e4%b8%ad%e6%96%87%e7%89%88">正體中文版</a></li>
				<li><a href="/zh-TW/docs/Project:%e7%bf%bb%e8%ad%af">翻譯方法及須知</a></li>
			</ul>
		</dd>
	</dl>
<% } %>
</div>
