<%
// Inserts a link to a Plug-in API.
//
// Parameters:
//
//  $0 - API name

var lang = env.locale;
var slug;
if (lang == "en-US") {
    slug = '/Add-ons/Plugins/Reference/';
}
else {
    slug = '/docs/';
}

var URL = '<a href="/' + lang + slug + $0 + '">' + $0 + '</a>';
%>
<code><%- URL %></code>
