<%
var localStrings = {
    "prefSystemTitle": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System\">Preferences System</a> documentation:",
        "de"   : "<a href=\"/de/docs/Preferences_System\">Einstellungssystem</a>dokumentation:",
        "es"   : "Documentación sobre el <a href=\"/es/docs/Sistema_de_preferencias\">Sistema de preferencias</a>:",
        "fr"   : "Documentation sur le <a href=\"/fr/docs/Syst%c3%a8me_de_pr%c3%a9f%c3%a9rences\">système de préférences</a> :",
        "ja"   : "<a href=\"/ja/docs/Preferences_System\">設定システム</a>の資料:",
        "ko"   : "<a href=\"/ko/docs/Preferences_System\">Preferences System</a> 문서:",
        "pl"   : "Dokumentacja <a href=\"/pl/docs/System_preferencji\">Systemu preferencji</a>:",
    },
    "introduction": {
        "en-US": "Introduction: ",
        "de"   : "Einführung: ",
        "es"   : "Introducción: ",
        "fr"   : "Introduction : ",
        "ja"   : "簡単な紹介: ",
        "ko"   : "소개: ",
        "pl"   : "Wprowadzenie: "
    },
    "gettingStartedLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/Getting_Started\">Getting Started</a>",
        "de"   : "<a href=\"/de/docs/Preferences_System/Erste_Schritte\">Erste Schritte</a>",
        "es"   : "<a href=\"/es/docs/Sistema_de_preferencias/Comenzando\">Comenzando</a>",
        "fr"   : "<a href=\"/fr/docs/Syst%c3%a8me_de_pr%c3%a9f%c3%a9rences/Premiers_pas\">Premiers pas</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/Getting_Started\">Getting Started</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/Getting_Started\">시작하기</a>",
        "pl"   : "<a href=\"/pl/docs/System_preferencji/Na_początek\">Na początek</a>"
    },
    "examplesLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/Examples\">Examples</a>",
        "de"   : "<a href=\"/de/docs/Preferences_System/Beispiele\">Beispiele</a>",
        "es"   : "<a href=\"/es/docs/Sistema_de_preferencias/Ejemplos\">Ejemplos</a>",
        "fr"   : "<a href=\"/fr/docs/Syst%c3%a8me_de_pr%c3%a9f%c3%a9rences/Exemples\">Exemples</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/Examples\">サンプル</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/Examples\">예제</a>",
        "pl"   : "<a href=\"/pl/docs/System_preferencji/Przykłady\">Przykłady</a>"
    },
    "troubleshootingLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/Troubleshooting\">Troubleshooting</a>",
        "de"   : "<a href=\"/de/docs/Preferences_System/Fehlerbehebung\">Fehlerbehebung</a>",
        "es"   : "<a href=\"/es/docs/Sistema_de_preferencias/Problemas\">Problemas</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/Troubleshooting\">トラブルシューティング</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/Troubleshooting\">문제 해결하기</a>",
        "pl"   : "<a href=\"/pl/docs/Preferences_System/Usuwanie_nieprawidłowości\">Usuwanie nieprawidłowości</a>"
    },
    "reference": {
        "en-US": "Reference: ",
        "de"   : "Referenz: ",
        "es"   : "Referencia: ",
        "fr"   : "Référence : ",
        "ja"   : "リファレンス: ",
        "ko"   : "참조: ",
        "pl"   : "Dokumentacja: "
    },
    "xulAttributesLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/New_attributes\">XUL attributes</a>",
        "de"   : "<a href=\"/de/docs/Preferences_System/Neue_Attribute\">XUL Attribute</a>",
        "es"   : "<a href=\"/es/docs/Sistema_de_preferencias/Nuevos_atributos\">Nuevos atributos</a>",
        "fr"   : "<a href=\"/fr/docs/Syst%c3%a8me_de_pr%c3%a9f%c3%a9rences/Nouveaux_attributs\">Nouveaux attributs</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/New_attributes\">新しい属性</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/New_attributes\">새 속성</a>",
        "pl"   : "<a href=\"/pl/docs/System_preferencji/Nowe_atrybuty\">Nowe atrybuty</a>"
    }
};

var output = "<div class=\"moreinfo\">" +
             "  <p><strong>$prefSystemTitle$</strong></p>" +
             "  <ul>" +
             "    <li>$introduction$$gettingStarted$ | $examples$ | $troubleshooting$</li>" +
             "    <li>$reference$$prefwindow$ | $prefpane$ | $preferences$ | $preference$ | $xulAttributes$</li>" +
             "  </ul>" +
             "</div>";
var output = mdn.replacePlaceholders(
                output,
                {
                    prefSystemTitle: mdn.getLocalString(localStrings, "prefSystemTitle"),
                    introduction: mdn.getLocalString(localStrings, "introduction"),
                    gettingStarted: mdn.getLocalString(localStrings, "gettingStartedLink"),
                    examples: mdn.getLocalString(localStrings, "examplesLink"),
                    troubleshooting: mdn.getLocalString(localStrings, "troubleshootingLink"),
                    reference: mdn.getLocalString(localStrings, "reference"),
                    prefwindow: await template("XULElem", ["prefwindow"]),
                    prefpane: await template("XULElem", ["prefpane"]),
                    preferences: await template("XULElem", ["preferences"]),
                    preference: await template("XULElem", ["preference"]),
                    xulAttributes: mdn.getLocalString(localStrings, "xulAttributesLink")
                }
);
%>
<%-output%>
