<%
/* parameters: */
/* $0 = name of specification */

var specList = string.deserialize(await template('SpecData'));

var status = {};

Object.keys(specList).forEach(function(name) {
  status[name] = specList[name].status;
});

status['CSS3 2D Transforms'] = status['CSS3 Transforms'];
status['CSS3 3D Transforms'] = status['CSS Transforms 2'];
status['CSS3 Flexbox'] = status['CSS Flexbox'];
status['CSS3 Grid'] = status['CSS Grid'];
status['CSS3 UI'] = status['CSS3 Basic UI'];
status['CSS4 UI'] = status['CSS4 Basic UI'];
status['CSS Scroll Snap Points'] = status['CSS Scroll Snap'];
status['WebSMS'] = status['Messaging'];
status['Blending'] = status['Compositing'];
status['ES2015'] = status['ES6'];
status['ES7'] = status['ES2016'];
status['ES8'] = status['ES2017'];

var label = {
  'REC': mdn.localString({
    'en-US' : 'Recommendation',
    'ja'    : '勧告',
    'de'    : 'Empfehlung',
    'ru'    : 'Рекомендация',
    'fr'    : 'Recommendation',
    'pt-BR' : 'Recomendação'
  }),
  'PR' : mdn.localString({
    'en-US' : 'Proposed Recommendation',
    'ja'    : '勧告案',
    'de'    : 'Vorgeschlagene Empfehlung',
    'ru'    : 'Предложенная рекомендация',
    'fr'    : 'Recommendation proposée',
    'pt-BR' : 'Recomendação proposta'
  }),
  'CR' : mdn.localString({
    'en-US' : 'Candidate Recommendation',
    'ja'    : '勧告候補',
    'de'    : 'Anwärter Empfehlung',
    'ru'    : 'Кандидат в рекомендации',
    'fr'    : 'Candidat au statut de recommandation',
    'pt-BR' : 'Candidata a Recomendação'
  }),
  'RC' : mdn.localString({
    'en-US' : 'Release Candidate',
    'ja'    : '勧告候補',
    'de'    : 'Anwärter Empfehlung',
    'ru'    : 'Кандидат в рекомендации',
    'fr'    : 'En cours de validation comme recommandation',
    'pt-BR' : 'Recomendação em homologação'
  }),
  'WD' : mdn.localString({
    'en-US' : 'Working Draft',
    'ja'    : '草案',
    'de'    : 'Arbeitsentwurf',
    'ru'    : 'Рабочий черновик',
    'fr'    : 'Version de travail',
    'pt-BR' : 'Rascunho atual'
  }),
  'ED' : mdn.localString({
    'en-US' : 'Editor\'s Draft',
    'ja'    : '編集者草案',
    'de'    : 'Bearbeiterentwurf',
    'ru'    : 'Редакторский черновик',
    'fr'    : 'Brouillon de l\'éditeur',
    'pt-BR' : 'Rascunho editorial'
  }),
  'Old-Transforms' : mdn.localString({
    'en-US' : 'This has been merged in another draft. Please update.',
    'ja'    : 'この仕様は他のドラフトへ移動されました。アップデートしてください。',
    'de'    : 'Diese Spezifikation wurde mit einem anderen Entwurf zusammengeführt. Bitte aktualisieren.',
    'ru'    : 'Эта спецификация была слита с другим черновиком. Пожалуйста, обновите.',
    'fr'    : 'Cette spécification a été fusionnée avec une autre. Veuillez mettre à jour cette mention.',
    'pt-BR' : 'Isso foi anexado a outro rascunho. Por favor, atualize.'
  }),
  'Living' : mdn.localString({
    'en-US' : 'Living Standard',
    'ja'    : '現行の標準',
    'de'    : 'Lebender Standard',
    'ru'    : 'Живой стандарт',
    'fr'    : 'Standard évolutif',
    'pt-BR' : 'Padrão em tempo real'
  }),
  'RFC' : mdn.localString({
    'en-US'   : 'IETF RFC'
  }),
  'Standard' : mdn.localString({
    'en-US' : 'Standard',
    'ja'    : '標準',
    'de'    : 'Standard',
    'ru'    : 'Стандарт',
    'fr'    : 'Standard',
    'pt-BR' : 'Padrão'
  }),
  'Draft'  : mdn.localString({
    'en-US' : 'Draft',
    'ja'    : 'ドラフト',
    'de'    : 'Entwurf',
    'ru'    : 'Черновик',
    'fr'    : 'Projet',
    'pt-BR' : 'Rascunho'
  }),
  'Obsolete' : mdn.localString({
      'en-US' : 'Obsolete',
      'ja'    : '廃止された',
      'de'    : 'Veraltet',
      'ru'    : 'Устаревшая',
      'pt-BR' : 'Obsoleto'
  }),
  'LC' : mdn.localString({
      'en-US' : 'Last Call Working Draft',
      'ja'    : '最終草案',
      'ru'    : 'Последнее изменение рабочего черновика',
      'pt-BR' : 'Ultima chamada para rascunho'
  })
}

var unknown_label = mdn.localString({
    'en-US' : 'Unknown',
    'ja'    : '不明',
    'de'    : 'Unbekannt',
    'ru'    : 'Неизвестно',
    'fr'    : 'Statut inconnu',
    'pt-BR' : 'Desconhecido'
});

%><span class="spec-<%- status[$0] || ''  %>"><%= (status[$0] && label[status[$0]]) || unknown_label %></span>
