<%
/* one parameter: attribute name */
var slug = mdn.localString({
    "en-US": "Attribute",
    "de"   : "Attribut",
    "fr"   : "Attributs",
    "pl"   : "Atrybut"
});

var URL = "/" + env.locale + "/docs/Web/SVG/" + slug + "/" + $0;
%>
<code><a href="<%- URL %>"><%= $0 %></a></code>
