<% if ('fr' == env.locale) {
    %>&laquo; <a href="/fr/docs/R%c3%a9f%c3%a9rence_de_l'API_XPCOM">Référence de l'API XPCOM</a><%
} else if ('ja' == env.locale) {
    %>&laquo; <a href="/ja/docs/XPCOM_API_Reference">XPCOM API Reference</a><%
} else if ('ko' == env.locale) {
    %>&laquo; <a href="/ko/docs/XPCOM_API_Reference">XPCOM API Reference</a><%
} else if ('pl' == env.locale) {
    %>&laquo; <a href="/pl/docs/Dokumentacja_API_XPCOM">Dokumentacja API XPCOM</a><%
} else if ('ru' == env.locale) {
    %>&laquo; <a href="/ru/docs/%d0%a1%d0%bf%d1%80%d0%b0%d0%b2%d0%be%d1%87%d0%bd%d0%b8%d0%ba_XPCOM_API">Справочник XPCOM API</a><%
} else {
    %>&laquo; <a href="/en-US/docs/XPCOM_API_Reference">XPCOM API Reference</a><%
} %>
