<%
// Inserts a link to the top page of the XUL Reference. This should be used
// at the top of XUL Reference subpages.

var lang = env.locale;

var title = "XUL Reference home";
var url = "/" + lang + "/docs/XUL_Reference";

switch(lang) {
    case "de":
        title = "Startseite XUL Referenz";
        url = "/de/docs/XUL_Referenz";
        break;
    case "es":
        title = "Referencia de XUL";
        url = "/es/docs/XUL/Elementos";
        break;
    case "fr":
        title = "Référence XUL";
        url = "/fr/docs/Référence_XUL";
        break;
    case "ja":
        title = "XUL リファレンス HOME";
        url = "/ja/docs/XUL_Reference";
        break;
    case "ko":
        title = "XUL Reference";
        url = "/ko/docs/XUL_Reference";
        break;
    case "pl":
        title = "Dokumentacja XUL";
        url = "/pl/docs/Dokumentacja_XUL";
        break;
    case "ru":
        title = "XUL Справочник";
        url = "/ru/docs/XUL/Справочник";
        break;
    case "pt-BR":
        title = "Referência XUL";
        url = "/pt-BR/docs/XUL_Reference";
        break;
    case "zh-CN":
        title = "XUL Reference";
        url = "/zh-CN/docs/XUL_Reference";
        break;
    default :
        break;
}

title = "« " + title;


%><a href="<%=url%>" title="<%=title%>"><%=title%></a>
