<%- $0 %> (<span style="color: green;"><%- $1 %></span>)
<%
/*
<div class="noinclude">
<dl><dt>これは何
</dt><dd>これは訳した際に当てた日本語と元の言語とを積極的に対比するためのテンプレートです。原語と訳語を関連づけたいだけなら<a href="Template:%e8%a8%b3%e8%aa%9e">Template:訳語</a>を使ってください。今のところ、このテンプレートを元にした訳語の自動抽出などは行われていません。
</dd><dd>どの訳語を当てるかについては <a class="external" href="http://www.mozilla-japan.org/jp/yakugo/">Mozilla訳語決定会</a>が参考になります。MDC 日本語版で使われている訳語(を含んだページ)は <a href="Special:Whatlinkshere/Template%3a%e5%8e%9f%e8%aa%9e%e4%bd%b5%e8%a8%98">Template:原語併記にリンクしているページ</a>を参照してください。
</dd><dt>使い方
</dt><dd><pre>{{原語併記|訳語|原語}}</pre>
</dd><dt>例
</dt><dd><pre>ここで使われる XML は{{原語併記|妥当|valid}}である必要があります。</pre>
</dd></dl>
</div>
</span><span lang="*" class="lang lang-*"><span class="script">$0</span> (<span style="color: green;"><span class="script">$1</span></span>) <div class="noinclude">
<dl><dt>これは何
</dt><dd>これは訳した際に当てた日本語と元の言語とを積極的に対比するためのテンプレートです。原語と訳語を関連づけたいだけなら<a href="Template:%e8%a8%b3%e8%aa%9e">Template:訳語</a>を使ってください。今のところ、このテンプレートを元にした訳語の自動抽出などは行われていません。
</dd><dd>どの訳語を当てるかについては <a class="external" href="http://www.mozilla-japan.org/jp/yakugo/">Mozilla訳語決定会</a>が参考になります。MDC 日本語版で使われている訳語(を含んだページ)は <a href="Special:Whatlinkshere/Template%3a%e5%8e%9f%e8%aa%9e%e4%bd%b5%e8%a8%98">Template:原語併記にリンクしているページ</a>を参照してください。
</dd><dt>使い方
</dt><dd><pre>{{原語併記|訳語|原語}}</pre>
</dd><dt>例
</dt><dd><pre>ここで使われる XML は{{原語併記|妥当|valid}}である必要があります。</pre>
</dd></dl>
</div>
*/
%>
