<%
var enID = String.Replace($0, " ", "_");

%><span id="<%- enID %>"></span>
<%/*

# 注意
※このテンプレートは内容によって自動的に見出しの id/name 属性が書き換わる事により
英語版のアンカーがそのまま使用できなくなる問題を解決する為に作成されたものですが、
幾つかの解決不能な欠陥があり、用いるべきではありません。

# 代替となる解決方法
英語版の各見出しの id 属性と同じ内容の name 属性を指定する事により
内容による id/name 属性の自動変換を抑制可能です。

  原文:
  <h2 id="Summary">Summary</h2>
  
  問題が発生する例:
  <h2 id="Summary">概要</h2>
  
  解決策:
  <h2 id="Summary" name="Summary">概要</h2>







これは何
Wiki では、章の見出しを指定して、内部リンクが設定できますが、見出しを訳すと、リンク元でも訳の方でリンクを設定する必要があります。このテンプレートを使用して見出しの直後に英語版の見出し文字列も定義しておくことで、英語版と同じ指定で、リンクできるようになります。なお、このテンプレートで定義した内容は画面には表示されません。

使い方
{{英語版章題|Title}}</pre> </dd> <dt>例</dt> </dl> <pre>
{{英語版章題|Title}}
== 見出し ==
本文+.

[[#Title]] で内部リンクできます。

*/%>
