<%/* 原文にない情報を補足するためのテンプレート

使い方 : {{訳注('補足内容')}}
例 : <p>Template:訳注を活用しましょう。{{訳注('但し、日本語ページ以外では使用できません。')}}</p>

※次のテンプレートも同じ動作となります。 {{yakuchu('補足内容')}} 
*/
%><span style="color: darkgreen; background: #ef9;">【訳注: <%- $0 %>】</span>
