{% set socialaccount_providers = get_providers() %}
{% if socialaccount_providers %}
  <ul class="no-bullets socialaccount-providers">
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" and process != 'create' %}
            {% for brand in provider.get_brands() %}
              <li><a title="{{ brand.name }}"
                 class="socialaccount_provider {{ provider.id }} {{ brand.id }}"
                 href="{{ provider_login_url(provider.id, openid=brand.openid_url, process=process, next=next_url) }}"
                 >{{ brand.name }}</a></li>
            {% endfor %}
        {% endif %}
        {% if provider.id == "github" %}
            <li><a href="{{ provider_login_url(provider.id, process=process, next=next_url) }}" class="github-button js-login-link" data-next="{{ next_url }}" data-service="{{ provider.name }}" data-process="{{ process }}">
              <span class="github-icon"><i class="icon-github" aria-hidden="true"></i></span>
              <span class="signin">
              {% if process == "connect" %}
                {{ _('Connect with GitHub') }}
              {% else %}
                {{ _('Sign in with GitHub') }}
              {% endif %}
              </span>
            </a></li>
        {# {% else %}
          <li><a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}" href="{{ provider_login_url(provider.id, process=process, next=next_url) }}">{{ provider.name }}</a></li> #}
        {% endif %}
    {% endfor %}
  </ul>
{% endif %}
