{% extends "users/base.html" %}
{% if account %}
  {% set title = _('Account successfully verified!') %}
{% else %}
  {% set title = _('Something is wrong') %}
{% endif %}
{% set classes = 'register' %}

{% block content %}

  <article>
    <h1>{{ title }}</h1>
    {% if account %}
      <p>{% trans %}
        You've confirmed your email address and activated your account! You
        can now log in, and go edit your profile.{% endtrans %}
      </p>
      {% if questions %}
        <p>{{ ngettext('Your question is now visible on the site!',
                       'Your questions are now visible on the site!',
                       questions.count()) }}
        <ul class="questions">
          {% for q in questions %}
            <li><a href="{{ q.get_absolute_url() }}">{{ q.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% include "users/login_form.html" %}
    {% else %}
      <p class="failure">{% trans %}We could not activate your account.
        Please make sure that you have clicked the correct link in your
        email or typed in the correct address.{% endtrans %}</p>
    {% endif %}
  </article>

{% endblock content %}
