{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% if account %}
  {% set title = _('Account successfully verified!') %}
{% else %}
  {% set title = _('Something is wrong') %}
{% endif %}
{% set classes = 'register' %}

{% block content %}
  <article class="main">
    <h1>{{ title }}</h1>
    {% if account %}
      <p>{% trans login_url=url('users.login')|urlparams(next=url('home')),
        profile_url=url('users.edit_profile') %}
        You've confirmed your email address and activated your account! You
        can now <a href="{{ login_url }}">log in</a>, and go
        <a href="{{ profile_url }}">edit your profile</a>.{% endtrans %}
      </p>
      {% if questions %}
        <p>{{ ngettext('Your question is now visible on the site!',
                       'Your questions are now visible on the site!',
                       questions.count()) }}
        <ul class="questions">
          {% for q in questions %}
            <li><a href="{{ q.get_absolute_url() }}">{{ q.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% else %}
      <p class="failure">{% trans %}We could not activate your account.
        Please make sure that you have clicked the correct link in your
        email or typed in the correct address.{% endtrans %}</p>
    {% endif %}
  </article>
{% endblock content %}
