{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% set styles = ('wiki', 'users') %}
{% set scripts = ('users',) %}

{# NOTE/TODO: We are using wiki base.html and CSS for now (Until the refactoring moves what we need into main.css, etc.) #}

{% block side %}
  {% if not profile and user.is_authenticated() %}
    {% set profile = user.get_profile() %}
  {% endif %}
  {% if profile %}
    <nav id="doc-tabs">
      <ul>{# If form is set, we're editing #}
        <li{% if not form %} class="active"{% endif %}>
          <a href="{{ profile_url(profile.user) }}">
            {% if user == profile.user %}
              {{ _('My profile') }}
            {% else %}
              {{ display_name(profile.user) }}
            {% endif %}
          </a>
        </li>
        {% if request.user == profile.user %}
          <li{% if form %} class="active"{% endif %}>
            <a href="{{ url('users.edit_profile') }}">{{ _('Edit my profile') }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
