{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Register') %}
{% set classes = 'register' %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
  <article id="browser_register" class="main">

    <section class="create">
      <h1>{{ _('New profile') }}</h1>
      <p>{% trans %}
        We couldn't find an MDN profile for your BrowserID. If you're
        new here, you can pick a name:
      {% endtrans %}</p>
      {{ errorlist(register_form) }}
      <form id="create_user" method="post" action="">
        {{ csrf() }}
        <input type="hidden" name="action" value="register" />
        <fieldset>
          <ul>
            <li>
              <label for="id_username">{{ _('Username:') }}</label>
              {{ register_form.username|safe }}
            </li>
          </ul>
        </fieldset>
        <div class="submit">
          <button name="create">{{ _('Create a new profile') }}</button>
        </div>
      </form>
    </section>

    <section class="Existing">
      <h1>{{ _('Existing profile') }}</h1>
      <p>{% trans %}
        If you remember a username and password that worked before we started
        using BrowserID, try logging in here to use your existing MDN profile:
      {% endtrans %}</p>
      {{ errorlist(login_form) }}
      <form id="existing_user" method="post" action="">
        {{ csrf() }}
        <input type="hidden" name="action" value="login" />
        <fieldset>
          <ul>
            <li>
              <label for="id_username">{{ _('Username:') }}</label>
              {{ login_form.username|safe }}
            </li>
            <li>
              <label for="id_password">{{ _('Password:') }}</label>
              {{ login_form.password|safe }}
            </li>
          </ul>
        </fieldset>
        <div class="submit">
          <input type="submit" value="{{ _('Log In with Existing Profile') }}" />
        </div>
      </form>
    </section>

  </article>
    </div>
   </div>
</section>
{% endblock %}
