{% from "layout/errorlist.html" import errorlist %}
<h1>{{ _('Sign In with Persona') }}</h1>
<form class="browserid boxed" action="{{url('users.browserid_verify')}}" method="POST">
  <input type="hidden" name="next" id="next" value="{{ next_url }}" />

  {{ errorlist(form) }}
  {% include "users/browserid_explanation.html" %}

    <p>
      <a href="#" class="persona-button persona-login" data-next="{{ next_url }}">
        <span class="persona-icon"><i aria-hidden="true"></i></span>
        <span class="signin">{{ _('Sign in with Persona') }}</span>
      </a>
    </p>
</form>
