{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Register') %}
{% set classes = 'register' %}

{% block content %}
<section id="content">
  <div class="wrap">
    <section id="content-main" role="main">
      <article id="browser_register" class="main">

        <div class="notice">
        <h1>{{ _('Persona is here!') }}</h1>
        <p>{% trans browserid_href='https://persona.org/', why_browserid='http://identity.mozilla.com/post/12950196039/deploying-browserid-at-mozilla' %}
        MDN has switched to <a href="{{ browserid_href }}" rel="external">Persona</a>,
        a safe and simple way to sign in with just your e-mail address. <a href="{{ why_browserid }}" rel="external">Learn more about it.</a>
        {% endtrans %}</p>
        <p>
        {% trans bug_href='https://bugzilla.mozilla.org/enter_bug.cgi?format=guided#h=dupes|Mozilla%20Developer%20Network|Login' %}
        <strong>Having trouble logging in? <a href="{{ bug_href }}" rel="external">Let us know.</a></strong>
        {% endtrans %}
        </p>
      </div>

        <form id="create_user" class="boxed" method="post" action="">
          <h2>{{ _('New MDN Members') }}</h2>
          <p>{% trans %}
            We couldn't find an MDN profile for your Persona. If you're new here,
            you can pick an MDN username now and complete your registration.
          {% endtrans %}</p>
          <p>{% trans %}
            You can access everything on the MDN website even without an account,
            but when you join you'll be able to edit docs, submit demos, and have
            your own profile page.
          {% endtrans %}</p>
          {{ errorlist(register_form) }}

          {{ csrf() }}
          <input type="hidden" name="action" value="register">
          <fieldset>
            <ul>
              <li>
                <label for="id_username">{{ _('Username') }}</label>
                {{ register_form.username|safe }}
                <p><small>{{ _("Please enter the name you'd like to display to other users to identify your contributions.") }}</small></p>
              </li>
              <li class="submit">
                <button type="submit" name="create">{{ _('Create a New Profile') }}</button>
              </li>
            </ul>
          </fieldset>
        </form>

        <form id="forgot_email" class="boxed" method="post" action="{{ url('users.send_email_reminder') }}">
          <h2>{{ _('Forgot your email?') }}</h2>
          <p>{% trans %}
            If you have an MDN account, but you've forgotten which email
            address you use on MDN, enter your username below and we'll send you
            an email reminder.
          {% endtrans %}</p>
          {{ errorlist(login_form) }}

          {{ csrf() }}
          <input type="hidden" name="action" value="remind">
          <fieldset>
            <ul>
              <li>
                <label for="id_username">{{ _('Username') }}</label>
                {{ login_form.username|safe }}
              </li>
              <li class="submit">
                <button type="submit">{{ _('Log In') }}</button>
              </li>
            </ul>
          </fieldset>
        </form>

      </article>
    </section>
  </div>
</section>
{% endblock %}
