{# vim: set ts=2 et sts=2 sw=2: #}

{% from "layout/errorlist.html" import errorlist %}
<h1>{{ _('Sign In with Persona') }}</h1>
<form class="browserid boxed" action="{{url('users.browserid_verify')}}" method="POST">
  <input type="hidden" name="next" id="next" value="{{ next_url }}" />
  
  {{ errorlist(form) }}
  {% include "users/browserid_explanation.html" %}

  {% if waffle.flag('redesign') %}
    <p>
      <a href="#" class="persona-button persona-login" data-next="{{ next_url }}">
        <span class="persona-icon"><img src="{{ MEDIA_URL }}redesign/img/persona-person-white.png" alt=""></span>
        <span class="signin">{{ _('Sign in with Persona') }}</span>
      </a>
    </p>
  {% else %}
	<p><a href="#" target="_blank" class="browserid-signin" title="{{_('Sign in with Persona')}}">{{ _('Sign in') }}</a></p>
{% endif %}
</form>
