{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% if duplicate %}
  {% set title = _('Unable to change email for user {username}')|f(username=username) %}
{% else %}
  {% set title = _('Email changed for user {username}')|f(username=username) %}
{% endif %}
{% set classes = 'register' %}

{% block content %}
  <article id="register">
    <h1>{{ title }}</h1>
    <p>
      {% if duplicate %}
        {{ _('The email you entered ({new_email}) already exists in the system. The current email for your account is still {old_email}.')|f(
             old_email=old_email, new_email=new_email) }}
      {% else %}
        {{ _('Your email has been changed from {old_email} to {new_email}.')|f(
             old_email=old_email, new_email=new_email) }}
      {% endif %}
    </p>
  </article>
{% endblock %}
