{% extends "users/base.html" %}
{% set title = _('Delete avatar') %}
{% set classes = 'avatar' %}

{% block content %}
  <article id="avatar-delete" class="main">
    <h1>{{ _('Are you sure you want to delete your avatar?') }}</h1>
    <div id="avatar-preview">
      <img src="{{ profile_avatar(profile.user) }}" alt="">
    </div>

    <form action="{{ url('users.delete_avatar') }}" method="post">
      {{ csrf() }}
      <p>
        {% trans upload_url=url('users.edit_avatar') %}
          You are about to permanently delete your avatar.
          <strong>This cannot be undone!</strong>
          You can always <a href="{{ upload_url }}">upload another avatar</a> to replace your current one.
        {% endtrans %}
      </p>
      <div class="form-actions">
        <a href="{{ url('users.edit_profile') }}">{{ _('Cancel') }}</a>
        <input type="submit" class="btn" value="{{ _('Delete avatar') }}" />
      </div>
    </form>
  </article>
{% endblock %}
