{# vim: set ts=2 et sts=2 sw=2: #}
{% from "layout/errorlist.html" import errorlist %}
{% extends "users/base.html" %}
{% set title = _('Log In') %}
{% set classes = 'login' %}
{% set use_browserid = LANG|lower in config.BROWSERID_LOCALES.split(' ') %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
        <article id="login" class="main">
        {% if use_browserid %}
            <h1>{{ _('Sign In with BrowserID') }}</h1> 
            <form class="browserid boxed" action="{{url('users.browserid_verify')}}" method="POST">
              <input type="hidden" name="next" value="{{ next_url }}" />
              {{ errorlist(form) }}
              <p>{% trans browserid_href='https://browserid.org/', why_browserid='http://identity.mozilla.com/post/12950196039/deploying-browserid-at-mozilla' %}
              MDN has switched to <a href="{{ browserid_href }}" rel="external">BrowserID</a>, 
              a safe and simple way to sign in with just your e-mail address. <a href="{{ why_browserid }}" rel="external">Learn more about it.</a>
              {% endtrans %}</p> 
              {{ browserid_form }}
              <a href="https://browserid.org/" target="_blank" class="browserid-signin" title="{{_('Sign in with BrowserID')}}">{{ _('Sign in') }}</a>
            </form>
        {% else %}
            <h1>{{ _('Log In') }}</h1>
            {% include "users/login_form.html" %}
        {% endif %}
        </article>
    </div>
   </div>
</section>
{% endblock %}
