{% from "layout/errorlist.html" import errorlist %}

<form method="post" class="boxed" action="{{ url('users.login') }}">
  {{ csrf() }}
  <input type="hidden" name="next" value="{{ next_url }}" />
  <fieldset>
  {{ errorlist(form) }}
    <ul>
      <li>
        <label for="id_username">{{ _('Username') }}</label>
        {{ form.username|safe }}
      </li>
      <li>
        <label for="id_password">{{ _('Password') }}</label>
        {{ form.password|safe }}
      </li>
      <li class="submit"><button type="submit">{{ _('Log in') }}</button></li>
    </ul>
  </fieldset>
</form>

<div id="login-help">
  <h3>{{ _('Login Problems?') }}</h3>
  <ul>
    <li><a href="{{ url('users.register') }}">{{ _("I don't have an account.") }} </a></li>
    <li><a href="{{ url('users.pw_reset') }}">{{ _('I forgot my password.') }}</a></li>
    <li><a href="{{ url('users.resend_confirmation') }}">{{ _('My account is inactive.') }}</a></li>
  </ul>
</div>
