{# vim: set ts=2 et sts=2 sw=2: #}
{% from "layout/errorlist.html" import errorlist %}
{% extends "users/base.html" %}
{% set title = _('Log In') %}
{% set classes = 'login' %}
{% set use_browserid = LANG|lower in config.BROWSERID_LOCALES.split(' ') %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
      <article id="login" class="main" data-browserid-signin-html="{{ url('users.browserid_signin_html') }}">
            <h1>{{ _('Log In') }}</h1>
            {% include "users/login_form.html" %}
        </article>
    </div>
   </div>
</section>
{% endblock %}

{% block js %}
{% if use_browserid %}
<script type="text/javascript">
  $('article.main').load($('article.main').attr('data-browserid-signin-html'), bindBrowserIDSignin);
</script>
{% endif %}
{% endblock %}
