{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Password Reset') %}
{% set classes = 'password' %}

{% block content %}
      <article id="pw-reset">
        <h1>{{ title }}</h1>
        <p>
          {% trans %} Forgotten your password? Enter your email address below,
          and we'll send you instructions for setting a new one.
          {% endtrans %}
        </p>
        <form class="boxed" method="post" action="">
          {{ csrf() }}
          <fieldset>
            {{ errorlist(form) }}
            <ul>
              <li>
                <label for="id_email">{{ _('Email Address') }}</label>
                {{ form.email|safe }}
              </li>
              <li class="submit"><button type="submit">{{ _('Send password reset link') }}</button></li>
            </ul>
          </fieldset>
        </form>
      </article>
{% endblock content %}
