{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Resend confirmation email') %}
{% set classes = 'password' %}

{% block content %}
<article id="pw-reset">
  <h1>{{ title }}</h1>
  <p>{% trans %}
    To activate your account you must first confirm your email
    address. Enter your email and submit the form below, and we will
    resend the confirmation email.
    {% endtrans %}</p>

  <form class="boxed" method="post" action="">
    <fieldset>
      {{ csrf() }}
      <ul>
        {{ form.as_ul()|safe }}
        <li class="submit"><button type="submit">{{ _('Resend confirmation email') }}</button></li>
      </ul>
    </fieldset>
  </form>
</article>
{% endblock content %}
