{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Resend confirmation email') %}
{% set classes = 'password' %}

{% block content %}
  <article id="pw-reset" class="main">
    <h1>{{ title }}</h1>
    <form method="post" action="">
      {{ csrf() }}
      <fieldset>
        <p class="instruct">
          {% trans %}To activate your account you must first confirm your email
            address. Enter your email and submit the form below, and we will
            resend the confirmation email.
          {% endtrans %}
        </p>
        <ul>
          {{ form.as_ul()|safe }}
        </ul>
      </fieldset>
      <div class="submit">
        <input type="submit" value="{{ _('Resend account confirmation email') }}" />
      </div>
    </form>
  </article>
{% endblock content %}
