{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set classes = 'register' %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
      <article id="register" class="main">
        {% if error == 'no_email' %}
          <h1>{{ _('No email found for this account') }}</h1>
          <p>
          {% trans bug_url='http://mzl.la/mdn-bug' %}Could not find email for <strong>{{ username }}</strong>. Please <a href="{{ bug_url }}">file a bug</a> to restore your account.{% endtrans %}
          </p>
        {% else %}
          <h1>{{ _('Reminder email sent.') }}</h1>
          <p>
          {% trans %}We've sent a reminder email to the address registered for <strong>{{ username }}</strong>.{% endtrans %}
          </p>
        {% endif %}
      </article>
    </div>
   </div>
</section>
{% endblock %}
