{% extends "base.html" %}
{% set title = _('Unsubscribe') %}
{% set crumbs = [(None, title)] %}

{% block content %}
<article id="notification-unsubscribe" class="main">
  <h1>{{ title }}</h1>

  {# L10n: {0} is an object title, {1} is an object type. #}
  <p>{{ _('Do you want to stop receiving email notifications from the {1} <strong>{0}</strong>?')|fe(watched, watch.content_type) }}</p>

  <form action="{{ url('notifications.remove', watch.hash)|urlparams(email=watch.email) }}" method="post">
    {{ csrf() }}
    <div class="submit-or-cancel">
      <a href="{{ watched.get_absolute_url() }}">{{ _('Cancel') }}</a>
      <input type="submit" value="Unsubscribe"/>
    </div>
  </form>
</article>
{% endblock %}
