/*
The details list
======================================================================*/
.details-list {
    margin-left: $grid-spacing * 2;
    margin-bottom: $gutter-width;
}

.details-list summary {
    color: $link-color;
}

.details-list summary:hover,
.details-list summary:focus {
    text-decoration: underline;
}