{% extends "base.html" %}

{% block bodyclass %}error{% endblock %}

{% block title %}{{ page_title(_('Permission Denied')) }}{% endblock %}

{% set styles = ('error',) %}

{% block content %}

<section id="content" class="text-content">
<div class="wrap">

  <section id="content-main" class="full" role="main">

    <h1 class="page-title">Permission Denied</h1>

    <img src="{{ MEDIA_URL }}img/beast-403.png" alt="" class="beast 403">

    {% if user.username %}
      {% trans name=user.username %}
      <p>We're sorry {{ name }}, we're afraid we can't do that.</p>
      {% endtrans %}
    {% else %}
      {% trans %}
      <p>We're sorry, we're afraid we can't do that.</p>
      {% endtrans %}
    {% endif %}

      <ul class="prose">
      {% if user.username %}
        {% trans %}
        <li><a href="/logout">Log out</a> to try again.</li>
        {% endtrans %}
      {% else %}
        {% trans login_url=url('account_login') %}
        <li><a href="{{ login_url }}">Sign in</a> to try again.</li>
        {% endtrans %}
      {% endif %}
        {% trans %}
        <li><a href="/demos">View demos</a> or <a href="/docs">browse docs</a></li>
        {% endtrans %}
      </ul>

  </section>

</div>
</section>

{% endblock %}

{% block site_js %}
    {{ super() }}
    {{ js('framebuster') }}
{% endblock %}
