/*
    Main CSS file for MDN.  Holds the site structure and key styles.
*/

/*
    Classes which should be mirror extensions and mixins - mixins.styl
    These classes are used within wiki content so we must have them available as classes as well
*/

@require '../includes/mixin_draw-grid';

/* grid setup for direct class uses */
draw-grid();


/* global notices (via soapbox) */
.global-notice {
    background: $light-background-color;

    .wrap {
        @extend .center;
        set-smaller-font-size();
        padding: 10px 24px;
        max-width: $max-width-default;

        prevent-last-child-spacing(p, margin-bottom);
    }
}

/* header */
#main-header {
    clearfix();
    border-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top: 2px solid #fff;

    /* margin-top will be added to small-mobile media query to ensure oauth widget doesn't overly */
    .logo {
        bidi-value(float, left, right);
        width: 205px;
        height: 40px;
        margin-top: 7px;
        background-image: url($logo-sprite-url);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size:100% auto;
        display: block;
        direction: ltr; // ltr should be set with negative text indent
        text-indent: -9999px;
        overflow: hidden;
    }
}

#tabzilla {
    /* below copied from https://github.com/mozilla/bedrock/blob/master/media/css/tabzilla/tabzilla.less#L51-L60 */
    bidi-value(float, right, left);
    display: block;
    height: 44px;
    width: 150px;
    overflow: hidden;

    /* Prevents the "mozilla" link from displaying before tabzilla is loaded */
    opacity: 0;

    &.loaded {
        opacity: 1;
    }
}

#tabzilla-panel {
    /* in case the javascript loads before the CSS */
    height: 0;
    overflow: hidden;
}

#nav-access {
    width: 100%;
    position: absolute;
    top: -20em;
    z-index: 1001;

    a {
        background: rgba-fallback(rgba(255, 255, 255, 0.9));
        padding: 12px 10px;
        position: absolute;
        left: 0;
        right: 0;
        font-weight: bold;
        text-align: center;

        &:hover, &:focus {
            box-shadow: 3px 3px 5px #aaa;
            top: 20em;
            text-decoration: none;
        }
    }
}

#main-nav {
    > ul {
        bidi-value(float, right, left);
        margin-top: 20px;
        margin-bottom: $grid-spacing;

        > li {
            bidi-style(margin-left, 31px, margin-right, 0);
            position: relative;
            opacity: 1;
            max-width: 1000px;
            display: inline-block;
            vendorize(transition-property, width);
            vendorize(transition-duration, $default-animation-duration);
            vendorize(transition-delay, $default-animation-duration);
            bidi-value(text-align, left, right);

            &:first-child {
                margin-left: 0;
            }

            > a i {
                opacity: 0.85;
            }

            > a, .search-trigger {
                text-transform: uppercase;
                font-weight: bold;
                {$selector-site-font-fallback} & {
                    font-weight: 600;
                }
            }

            > a {
                &:link, &:visited, &:hover, &:active {
                    color: $menu-link-color;
                    text-decoration: none;
                }
            }

            > a, .search-wrap {
                padding: 4px 8px;
            }
        }

        .nav-search-link {
                display: none;

            {$selector-icon} {
                margin: 0;
            }
        }
    }

    .submenu {
        $menu-border-color = $text-color;
        $menu-border-width = 5px;
        $menu-arrow-top = -19px;
        component-submenu(380px, 2, #fff, $menu-border-color);

        top: 40px;
        left: -136px;
        border-top: $menu-border-width solid $menu-border-color;

        .submenu-column {
            min-height: 90px;
        }

        &:before, &:after {
            top: $menu-arrow-top;
            bidi-style(left, 190px, right, auto);
        }

        &:after {
            top: ($menu-arrow-top - $menu-border-width);
        }
    }

    .submenu-single {
        width: 180px;
        left: -74px;

        &:before, &:after {
            bidi-style(left, 98px, right, auto);
        }
    }

    &.expand {
        > ul > li:not(:last-child) {
            opacity: 0;
            width: 0;
            max-width: 0;
            overflow: hidden;
            padding: 0;
            vendorize(transition-delay, 0);
        }
    }
}

.main-nav-search {
    position: relative;
    width: 73px;
    height: 21px;
}

a.persona-button, a.github-button {
    border-radius: 3px;
    z-index: 2;
    display: inline-block;
    font-weight: bold;

    &:focus{
        span{
            text-decoration: underline;
        }
    }

    span {
        text-decoration: none;
        display: block;
        float: left;
        set-font-size($base-font-size);
        line-height: 24px;
        color: white;
        padding: 0 10px 0 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -12px;
            width: 24px;
            height: 24px;
            z-index: 1;
            vendorize(transform, scale(0.707) rotate(45deg));
            border-radius: 0 3px 0 50px;
        }

        &.persona-icon, &.github-icon {
            padding-left: 3px;
            border-radius: 3px 0 0 3px;
            create-gradient(#43a6e2, #287cc2);
            height: 24px;

            &:after {
                create-gradient(#43a6e2, #287cc2, left top);
            }

            i {
                position: relative;
                top: 2px;
                left: 5px;
                width: 15px;
                height: 15px;
                display: inline-block;
            }
        }

        &.signin {
            text-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.35);
            line-height: 23px;
            padding-bottom 1px;

            &:after {
                z-index: 2;
                create-gradient(#56565a, #3a3a3a, top left);
            }

            & {
                create-gradient(#56565a, #3a3a3a);
            }
        }
    }
}

a.persona-button {
    i {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAABjElEQVR4Ae3WQYQbURjA8ccwhBCGYU+5LiGUEkoJPZUQQk5LWJawLMuSUyhLCTnlVIZSQk6llKGUEIZSQsg1hBCWZZnTEMK/KqqyMcn7Zubd9vddh7+5fN9TenC54wchOws86iid0fmoQJ+IQ3NqWQRKLIg3wEoXKBNy3Hes5AGXFaf1kgdG6KkkC7xii54gWeAL+l7LAxZP6OvJA1UkZvLADRJbbGmgh0xRFrBZIfNBFqgjtZQFOsjZksAlUqHsD1wiZD7LAooWEksK8lUxRF8l2bLTNUm6rsfoqUsC8oUdpDmZA06JKKcJ2PziuFbaV8UZc+J1s3gXObGJDkoSkB//tyheApwziD3/U67IJw04NBmy5rSAe95IAmW6jJF6ZEQT53ggT5816Ux4Hxdo8kA2fNzDwDs2ZOc3uf1AiZBsfdsP+GSv9j9QxYQZ1r/AT8xo7AJFTPF3gQ6mbHH+BgLMuVDkiDDHU1Qwaa64xqSN4hNGKXzTgQZtPuLhETB9Nmv0TA/mKx4et7T/AHu690RA5bMsAAAAAElFTkSuQmCC') 0 0 no-repeat;
        background-size: cover;
    }
}

a.github-button {
    span.github-icon {
        create-gradient(#5d649a, #63397b);

        &:after {
            create-gradient(#5d649a, #63397b, left top);
        }

        {$selector-icon} {
            margin-left: 0;
            top: 0;
            left: 8px;
        }
    }
}

/* Login widget and profile (logged in) links */
.header-login {
    bidi-style(right, 200px, left, auto);
    position: absolute;
    top: 12px;
    z-index: 3;

    set-font-size($small-bump-font-size);
    {$selector-site-font-fallback} & {
        letter-spacing: -.005em;
    }
}

.user-state {
    bidi-value(float, none, left);

    ul, > {$selector-icon} {
        bidi-value(float, left, right);

        /* Keep the line height equal to make the icon appear as though it is on
           the same line. */
        line-height: 20px;
    }

    > {$selector-icon} {
        bidi-style(margin-right, 10px, margin-left, 10px);
        set-font-size($small-bump-font-size + 20%);
    }

    li {
        display: inline;
        bidi-value(text-align, right, left);

        & + li {
            bidi-style(border-left, 1px solid #bbb, border-right, 0);
            bidi-style(padding-left, 10px, padding-right, 0);
            bidi-style(margin-left, 8px, margin-right, 0);
        }
    }

    a, a:hover, a:focus, a:visited {
        color: $link-color;
    }
}

.oauth-login-container {
    border-radius: 8px;
    border: 1px solid transparent;
    display: inline-block;
    min-width: 90px;

    {$selector-icon} {
        margin-left: 0;

        &:before {
            cursor: pointer;
        }
    }
}

.oauth-login-options {
    padding: 4px 8px;
    background: rgba-fallback(rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    cursor: default;
    position: relative;

    &.active {
        border-color: rgba-fallback(rgba(255, 255, 255, 0.3));
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .submenu-close {
            color: inherit;
            margin: 0;
            position: absolute;
            top: 0px;
            bidi-style(right, -6px, left, auto);
        }

        .oauth-login-picker {
            display: block;
        }
    }
}

.oauth-login-options-text-no-icons {
    display: none;
}

.oauth-icon {
    border-radius: 4px;
    text-align: center;
    padding: 0px 7px;
    font-size: $base-bump-font-size;
    bidi-style(margin-left, 4px, margin-right, 0);
    color: #fff;
    display: inline-block;
    create-gradient(#43a6e2, #287cc2);
    cursor: pointer;

    {$selector-icon} {
    	bidi-style(margin-left, 0, margin-right, 0);
    }
}

.oauth-github {
    create-gradient(#5d649a, #63397b);
}

.oauth-login-picker {
    component-submenu-close();
    display: none;
    background: #fff;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;

    a {
        display: block;
        padding: $content-vertical-spacing $content-horizontal-spacing;
        position: relative;

        &:hover, &:active, &:focus {
            background: rgba-fallback(rgba($link-color, 0.1));
        }
    }

    {$selector-icon} {
        background: none;
        bidi-style(margin-right, $icon-margin, margin-left, 0);
    }

    .submenu-close {
        display: none;
    }
}

.search-wrap {
    background-color: rgba-fallback(rgba(255, 255, 255, 0.9));
    border-radius: 3px;
    height: 21px;
    position: absolute;
    padding: 4px 8px;
    top: 0;
    bidi-style(right, 0, left, auto);
    vendorize(transition-property, width);
    vendorize(transition-duration, $default-animation-duration);

    &.expanded {
        background: #fff;
    }

    input {
        background: transparent;
        border: solid transparent;
        bidi-value(border-width, 0 22px 0 0, 0 0 0 22px);
        box-sizing: border-box;
        color: $menu-link-color;
        font-weight: bold;
        overflow: hidden;
        padding: 0;
        position: relative;
        vendorize(transition-property, 'width, opacity');
        vendorize(transition-duration, $default-animation-duration);
        width: 48px;
        max-width: 100%;
        z-index: 2;
        cursor: text;
        opacity: 0.01;

        set-placeholder-style(color, $text-color);
        set-placeholder-style(text-transform, uppercase);

        &:focus {
            width: 500px;
            opacity: 1;
        }
    }
}

.search-trigger {
    cursor: text;
    position: absolute;
    top: 3px;
    bidi-style(right, 12px, left, auto);
    z-index: 1;

}

/* feature testing */
#feature-test-element {
    position: absolute;
    left: 0;
    top: -999999px;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 1;

    @media $media-query-small-desktop { z-index: 2; }
    @media $media-query-tablet { z-index: 3; }
    @media $media-query-mobile { z-index: 4; }
}


/* tablet updates */
@media $media-query-tablet {

    /* make submenus full width */
    #main-nav {
        .submenu {
            left: 0;
            right: 0;

            &:before, &:after {
                bidi-style(left, 10px, right, auto);
            }
        }
    }

    #main-nav {
        > ul {
            > li {
                bidi-style(margin-left, 21px, margin-right, 0);

                > a {
                    i {
                        set-larger-font-size();
                    }
                }
            }
        }
    }

    .oauth-login-options-text {
        bidi-style(padding-right, 20px, padding-left, 0);
    }

    /* remove options to click icons to sign in on smaller screens where a corse pointer is more likely to be present */
    .oauth-login-options-text-icons {
        display: none;
    }

    .oauth-login-options-text-no-icons {
        display: inline;
    }

    .oauth-icon {
        display: none;
    }
}

/* custom nav menu movement */
@media $media-query-navigation-break {

    #main-header {
        .logo {
            margin-top: -33px;
        }
    }

    #main-nav {
        > ul {
            bidi-value(text-align, right, left);
            width: 100%;
            clear: both;

            > li {
                vendorize(transition-property, none);

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

/* break nav into blocks (own line) */
@media $media-query-navigation-block {

    #main-nav {
        > ul {
            float: none;
            bidi-value(text-align, left, right);

            > li {
                bidi-value(margin, $content-vertical-spacing $content-horizontal-spacing $content-vertical-spacing 0, $content-vertical-spacing 0 $content-vertical-spacing $content-horizontal-spacing);
            }
        }
    }
}


@media $media-query-mobile {

    .center {
        add-center-spacing(15px);
    }

    #tabzilla {
        display: none;
    }

    .header-clear {
        display: none;
    }

    #main-header {
        .logo {
            margin: ($grid-spacing / 2) 0;
            width: 140px;
            height: 40px;
            background-size: auto;
        }
    }

    .header-login {
        bidi-style(right, $gutter-width, left, auto);
    }

    .user-state {
        li {
            display: block;

            & + li {
                padding-left: 0;
                bidi-style(border-left, none, border-right, none);
                bidi-style(padding-right, 0, padding-left, 0);
                bidi-style(margin-right, 0, margin-left, 0);
            }
        }
    }

    /* move the search box under the nav */
    #main-header {
        .main-nav-search {
            display: none;
            padding: 0px;
            margin-top: 10px;
            width: auto;

            .search-wrap {
                width: 90%;
                bidi-value(left, auto, 0);
                bidi-value(right, 0, auto);

                input {
                    width: 100%;
                }
            }
        }

        &.expand {
            ul {
                > li:not(:last-child) {
                    width: auto;
                    max-width: none;
                    vendorize(transition-property, none);
                    overflow: visible;
                }
            }
        }
    }

    #main-nav > ul > li {
        margin-bottom: 4px;

        &.nav-search-link {
            display: inline-block;
        }
    }

    /* add bottom spacing to the footer */
    footer {
        padding-bottom: $grid-spacing;
    }
}

@media $media-query-small-mobile {

    #main-header {
        .logo {
            width: 44px;
        }
    }
}


@media print {
    header, footer {
        display: none;
    }

    .center {
        remove-center-spacing();
    }
}

p.field-explanation {
    margin-bottom: 0;
}

label {$selector-icon} {
    $label-icon-margin = 10px;
    bidi-value(margin-left, 0, $label-icon-margin);
    bidi-value(margin-right, $label-icon-margin, 0);
}

for i in (2 3 4) {
    .cols-{i} {
        vendorize(column-count, i);
        vendorize(column-gap, ($grid-spacing / 2));
    }
}

#content-main.full {
    clear: both;
    float: none;
    width: 100%;
}

.main {
    float: left;
    width: 670px;
}

.global-notice {
    position: relative;
    margin: 0 0 -1px;
}

ol.pagination {
    margin: $grid-spacing 0;
    padding: 0 0 ($grid-spacing * 1.5) 0;

    li {
        bidi-value(float, left, right);
        padding: 0 2px;

        &.prev, &.prev a {
            bidi-style(padding-left, 0, padding-right, inherit);
        }

        a {
            bidi-value(float, left, right);
            padding: 3px 8px 5px;

            &:hover {
                text-decoration: underline;
            }
        }

        &.selected a {
            background: #447bc4;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.socialaccount_providers li {
    margin: 0 $grid-spacing 0 0;
    display: inline-block;

    span.signin {
        min-width: 140px;
    }
}
