/*
    - default styles for all tags.
    - needs qualifying ul because to pass classes to tagit widget it must be input.tags
*/

ul.tags {
    background-color: transparent;
    border: none;
    clear: both;
    margin-bottom: 0; /* doesn't need bottom margin, each tag takes care of that */
    padding-left: 0; /* overrides padding added to lists in content areas */
    width: 100%;

    .wiki-block &,
    .user-edit & {
        margin-bottom: -($grid-spacing / 2); /* no bottom margin on these, need to compensate for margin on all <li> */
    }
}

/* not nested because I want to be able to @extend it seperately in tagit */
ul.tags li {
    background: $light-background-color;
    border: 1px solid #cee9f9;
    border-radius: 2px;
    display: inline-block;
    margin: 0 ($grid-spacing / 2) ($grid-spacing / 2) 0;
    padding: 3px ($grid-spacing / 2) 4px;

    label {
        margin-bottom: 0; /* for tag lists of expertise on user edit page */
    }
}

/*
    small
*/

$small-tag-spacing = 3px;

ul.tags-small li {
    margin: 0 ($small-tag-spacing * 2) ($small-tag-spacing * 2) 0;
    padding: 1px $small-tag-spacing;
}

.tag-attach-list .tags-small {
    clear: none;
    display: inline;
}

