{% extends "base.html" %}
{% set title = _('Dashboards') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{# Use the same titles as dashboards to avoid new i18n strings #}
{% set dashboards = [
    (_("Active macros"), url('dashboards.macros')),
    (_("All articles in need of review"), url('wiki.list_review')),
    (_("Articles in need of review: %(tag)s", tag='technical'),
        url('wiki.list_review_tag', tag='technical')),
    (_("Articles in need of review: %(tag)s", tag='editorial'),
        url('wiki.list_review_tag', tag='editorial')),
    (_("All documents"), url('wiki.all_documents')),
    (_("All Tags"), url('wiki.list_tags')),
    (_("Doc status by topic"),
        url('wiki.document', document_path='MDN/Doc_status')),
    (_("Documents with errors"), url('wiki.errors')),
    (_("Documents with no parent"), url('wiki.without_parent')),
    (_("Revision Dashboard"), url('dashboards.revisions')),
    (_("Top level documents"), url('wiki.top_level')),
    (_("Server charts"),
        url('wiki.document', document_path='MDN/Kuma/Server_charts')),
    (_("Spam Dashboard"), url('dashboards.spam'),
        (request.user.has_perm('wiki.add_revisionakismetsubmission') and
         request.user.has_perm('wiki.add_documentspamattempt') and
         request.user.has_perm('users.add_userban'))),
    (_("Localized articles tagged with: %(tag)s", tag='inprogress'),
        url('wiki.list_with_localization_tag', tag='inprogress'),
        request.LANGUAGE_CODE and
        request.LANGUAGE_CODE != settings.LANGUAGE_CODE),
]
%}

{% block content %}
<h1>{{ title }}</h1>

<ul>
    {%- for item in dashboards | sort(attribute='0') %}
        {%- set name = item[0] %}
        {%- set url = item[1] %}
        {%- set enabled = item[2] | default(True) %}
        {%- if enabled %}
            <li><a href="{{ url }}">{{ name }}</a></li>
        {%- endif %}
    {%- endfor %}
</ul>
{% endblock %}
