{% extends "base.html" %}
{% set title = _('Re-render dashboard') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<dl>
    <dt>{{ _('Current job') }}</dt>
    <dd>
        {%- if current_job %}
            <a href="{{ url('dashboards.rerender_job', current_job.job_id) }}">{{ current_job.ts_init.date() }}</a>:
            {{ current_job.summary() }}
        {%- else %}
            <em>{{_('none')}}</em>
        {%- endif %}
    </dd>
    {% if pending_jobs %}
        <dt>{{ _('Pending jobs') }}</dt>
        {% for job in pending_jobs | sort(attribute='ts_init') %}
            <dd>
                <a href="{{ url('dashboards.rerender_job', job.job_id) }}">{{ job.ts_init.date() }}</a>:
                {{ job.summary() }}
            </dd>
        {% endfor %}
    {% endif %}
    {% if complete_jobs %}
        <dt>{{ _('Complete jobs') }}</dt>
        {% for job in complete_jobs | sort(attribute='ts_init') %}
            <dd>
                <a href="{{ url('dashboards.rerender_job', job.job_id) }}">{{ job.ts_init.date() }}</a>:
                {{ job.summary() }}
            </dd>
        {% endfor %}
    {% endif %}
</dl>

{% endblock %}
