{% extends "base.html" %}
{% set title = _('Revision Dashboard') %}
{% set styles = ('dashboards', 'jquery-ui') %}
{% set classes = 'compare' %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block document_head %}
  <!-- heading -->
  <div class="document-head">
    <div class="center">
      <div class="document-title">
        <h1><a href="{{ url('dashboards.revisions') }}">{{ title }}</a></h1>
      </div>
    </div>
  </div>
{% endblock%}

{% block content %}

    <div class="dashboard">
        <form method="get" id="revision-filter" action="{{ url('dashboards.revisions') }}">
            <div class="revision-field">
                <label for="id_locale">{{ _('Locale:') }}</label>
                {{ form.locale }}
            </div>

            <div class="revision-field">
                <label for="id_user">{{ _('User:') }}</label>
                {{ form.user }}
            </div>

            <div class="revision-field">
                <label for="id_topic">{{ _('Topic:') }}</label>
                {{ form.topic }}
            </div>
            <br />

            <div class="revision-field">
                <label for="id_start_date">{{ _('Start Date:') }}</label>
                {{ form.start_date }}
            </div>

            <div class="revision-field">
                <label for="id_end_date">{{ _('End Date:') }}</label>
                {{ form.end_date }}
            </div>

            <div class="revision-field">
                <label for="id_preceding_period">{{ _('Preceding Period:') }}</label>
                {{ form.preceding_period }}
            </div>

            <div class="revision-field">
                <label for="id_authors">{{ _('Authors:') }}</label>
                {{ form.authors }}
            </div>

            <button type="submit">{{ _('Filter') }}</button>
            <input type="hidden" name="page" id="revision-page" value="{{ page }}" />
        </form>


        <div id="revision-replace-block">
        {% include 'dashboards/includes/revision_dashboard_body.html' %}
        </div>
    </div>

{% endblock %}


{% block js %}
{% javascript 'jquery-ui' %}
{% javascript 'dashboard' %}
{% endblock %}
