{% extends "react_base.html" %}

{% block title %}{{ page_title(_('Account Settings')) }}{% endblock %}

{% block site_css %}
{{ super() }}
{% stylesheet 'accountsettings' %}
{% stylesheet 'accountsettings-titlebar' %}
{% stylesheet 'accountsettings-user-details' %}
{% endblock %}

{% block document_head %}
{{ render_react("SPA", request.LANGUAGE_CODE, request.get_full_path(), {
"sortedLanguages": sorted_languages
})|safe }}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
