{% extends "base_compact.html" %}

{% block headernav_current %}
  <h2 class="current"><a href="{{ url('demos') }}">{{ _('Demos') }}</a></h2>
{% endblock %}

{% block site_css %}
    {{ super() }}
{% endblock %}

{% block site_js %}
    {{ super() }}
    <script src="{{MEDIA_URL}}js/demos.js" 
        type="text/javascript"></script>
{% endblock %}

{% block js %}
    {{ super() }}

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript">
// <![CDATA[
	$(".gallery").ready(function(){
		$(".gallery").addClass("js");

    $(".gallery .demo").hoverIntent({
      interval: 250,
      over: function() {
        var content = $(this).html(),
            demo = $(this), 
            offs = $(this).offset();
        $("#content").prepend('<div class="demo demohover"><div class="in">'+content+'<\/div><\/div>');
        if (demo.parents("#featured-demos").length) {
          $("#content").find("div.demohover").addClass("featured");
        };
        $("div.demohover").css({ left: offs.left, top: offs.top }).fadeIn(200).mouseleave(function() {
          $(this).fadeOut(200, function(){ 
            $(this).remove(); 
          });
        });
      }, 
      out: function() { /* do nothing */ }
    });

	});	
// ]]>
</script>
<script type="text/javascript">
    $('.modal').click(function (ev) {
            
        var link = $(this),
            width  = 600,
            height = 400,
            href   = link.attr('href');

        href += ((href.indexOf('?') == -1) ? '?' : '&') + 'popup=1';
        $.modal(
            '<iframe style="border:0" scrolling="no" src="'+href+'"' +
                ' height="'+height+'" width="'+width+'">', 
            {
                overlayClose:true,
                containerCss: { width: width, height: height },
                dataCss: { overflow: 'hidden' },
                onOpen: function (dialog) {
                    dialog.wrap.css({ overflow: 'hidden' });
                    dialog.overlay.show();
                    dialog.container.show();
                    dialog.data.show();
                }
            }
        );

        return false;
    });
</script>
{% endblock %}
