<div>
    <div class="screenshot">
        <a href="{{ request.build_absolute_uri(url('demos_detail', slug=submission.slug)) }}"><img src="{{request.build_absolute_uri(submission.screenshot_url(1))}}" width="320" height="240" alt="{{ submission.title }}" /></a>
    </div>
    <p class="summary">{{ submission.summary }}</p>
    <dl>
        <dt>{{_('Submitted by:')}}</dt>
            <dd>{{ submission_creator(submission) }}</dd>
        <dt>{{_('Tagged as:')}}</dt>
            <dd>
                {% for tag in tags_for_object(submission) %}
                    <a href="{{ request.build_absolute_uri(url('demos_tag', tag=tag.name)) }}">{{ tag_title(tag) }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>
        </dt>
    </dl>
</div>
