{% extends "demos/base.html" %}

{% block pageid %}demostudio{% endblock %}

{% block bodyclass %}section-demos landing{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="{{_('Recent demos')}}"
        href="{{ url('demos_feed_recent', format='atom') }}" />
    <link rel="alternate" type="application/atom+xml" title="{{_('Featured demos')}}"
        href="{{ url('demos_feed_featured', format='atom') }}" />
{% endblock %}

{% block title %}{{ page_title(_('Demo Studio')) }}{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">

  <header id="demos-head">
    <h1>{{_("Mozilla Demo Studio")}}</h1>
    <ul class="demo-buttons">
      <li class="learnmore"><a href="#learn-pop" class="button">{{ _('Learn More') }}</a>
        <div id="learn-pop" aria-hidden="true">        
          {% trans %}
          <p>Welcome to the Mozilla Demo Studio, where developers like you can develop, share, demonstrate, and learn all about Web technologies. See what's possible by exploring Demo Studio:</p>
          <ul>
            <li>View demos that showcase what HTML, CSS, and JavaScript can do.</li>
            <li>Inspect the source code for those demos so you can see how they work.</li>
            <li>Read documentation to learn about the open standards and technologies that power the Web.</li>
          </ul>
          {% endtrans %}
        </div>
      </li>
      <li class="submit"><a href="{{ url('demos_submit') }}" class="button">{{_("Submit a Demo")}}</a></li>
    </ul>
    <p id="derby-cta">
      <a href="{{url('demos_devderby_landing')}}">{% trans %}<span>Join the</span> <em>Dev Derby</em> &amp; Win Prizes <br/><strong>Learn More</strong>{% endtrans %}</a>
    </p>
  </header>

  {% if featured_submission_list | length %}
  <section id="featured-demos">
    <header>
      <h2>{{_("Featured Demos")}}</h2>
    </header>

    <ul class="nav-slide">
      <li class="nav-prev"><a href="#" class="prev" title="{{_("See the previous demo")}}">{{_("Previous")}}</a></li>
  		<li class="nav-next"><a href="#" class="next" title="{{_("See the next demo")}}">{{_("Next")}}</a></li>
    </ul>
  
    <div id="demo-main">
      <strong class="flag">{{_("Derby Winner")}}</strong>
      <div class="preview">
        <a href="demo-detail.php">
          <img src="./media/img/fpo2.jpg" alt="" width="435" height="326">
        </a>
        <div class="demo-details">
          <h2 class="demo-title">
            <a href="demo-detail.php" title="See more about &ldquo;The Incredible Machine&rdquo; by Neil Gauldin">The Incredible Machine</a>  
          </h2>
          <p class="byline vcard">
            <a href="demo-gallery-author.php" class="url fn" title="See more demos by Neil Gauldin">
            <img class="photo avatar" alt="" src="./media/img/blank.gif" width="50" height="50">
            Neil Gauldin</a>
          </p>
          <p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="launch"><a href="demo-wrapper.html" class="button" title="Launch &ldquo;The Incredible Machine&rdquo;">Launch</a></p>
        </div>
      </div>
    </div>
    
    <div id="demo-prev" class="side">
      <div class="preview">
        <h2 class="demo-title">
          <a href="demo-detail.php" title="See more about &ldquo;Fantastic Voyage&rdquo; by Alejandra Divens">
            <img class="preview" src="./media/img/fpo1.jpg" alt="" width="261" height="195">
            <b>Fantastic Voyage</b>
          </a>
        </h2>
      </div>
    </div>
    
    <div id="demo-next" class="side">
      <div class="preview">
        <h2 class="demo-title">
          <a href="demo-detail.php" title="See more about &ldquo;Return to the House of Mummies, Part Two&rdquo; by Stephanie Acuba">
            <img class="preview" src="./media/img/fpo3.jpg" alt="" width="261" height="195">
            <b>Return to the House of Mummies, Part Two</b>
          </a>
        </h2>
      </div>
    </div>
  </section>
  {% endif %}

  <section id="content-main" class="full" role="main">
  
    <div id="search-browse">
      <form class="demo-search" method="GET" action="{{ url('demos_search') }}">
        <p>
          <input type="search" id="search-demos" name="q" placeholder="{{_("Search")}}" />
          <noscript><button type="submit">{{_("Search")}}</button></noscript>
        </p>
      </form>
      
      {% trans %}<b>or</b>{% endtrans %}
      
      <div id="demo-tags">
        <a href="#tags-list" class="button">{{_("Browse by Technology")}}</a>
        <ul id="tags-list" class="menu">
            {% for tag in tags_used_for_submissions() %}
                {% if tag.name.startswith('tech:') %}
                    <li><a href="{{ url('demos_tag', tag=tag.name) }}">{{ tag_title(tag) }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
      </div> 
    </div>

    {{ submission_listing(request, submission_list,  is_paginated, paginator, page_obj,
        _('Subscribe to a feed of {tag_title} demos') | f(tag_title=_('recent')),
        url('demos_feed_recent', format='rss'), cols_per_row=4,
        pagination_base_url=url('demos_all') ) }}

  </section><!-- /#content-main -->

</div>
</section>
{% endblock %}

{% block js %}
{{ super() }}
    
<script type="text/javascript">
// <![CDATA[
/* Demo detail boxes */
  $(document).ready(function(){
		$(".gallery").addClass("js");
    $(".gallery .demo").hoverIntent({
      interval: 250,
      over: function() {
        var demo    = $(this), 
            content = $(this).html(),
            offs    = $(this).offset();
        $("#content").prepend('<div class="demo demohover"><div class="in">'+content+'<\/div><\/div>');
        if (demo.parents("#featured-demos").length) {
          $("#content").find("div.demohover").addClass("featured");
        };
        $("div.demohover").css({ left: offs.left, top: offs.top }).fadeIn(200).mouseleave(function() {
          $(this).fadeOut(200, function(){ 
            $(this).remove(); 
          });
        });
      }, 
      out: function() { /* do nothing */ }
    });
  });

/* Learn More popup */
  $("#demos-head .learnmore .button").click(function(){
    $("#learn-pop").slideToggle(150).removeAttr("aria-hidden");
    $(this).blur();
    return false;
  });
	
/* Browse by Tech menu */
	$("#demo-tags").addClass("js");
  $("#demo-tags .button").click(function() {
    $("#tags-list").slideToggle(150).removeAttr("aria-hidden");
    $(this).blur();
    return false;
  });

  $("#tags-list, #learn-pop").hover(
    function() {
      $(this).show().removeAttr("aria-hidden");
    },
    function() {
      $(this).slideUp('fast').attr("aria-hidden", "true");
      $("#demo-tags .button").blur();
    }
  );

  $(document).bind('click', function(e) {
    var $clicked = $(e.target);
    if (! $clicked.parents().hasClass("menu"))
      $("#tags-list, #learn-pop").hide().attr("aria-hidden", "true");
  });
  
  $("a, input, textarea, button").bind('focus', function(e) {
    var $focused = $(e.target);
    if (! $focused.parents().hasClass("menu"))
      $("#tags-list, #learn-pop").hide().attr("aria-hidden", "true");
  });
	
/* Browse by Tech menu */
	$("#demo-tags").addClass("js");
  $("#demo-tags .button").click(function() {
    $("#tags-list").slideToggle(150);
    return false;
  });

  $("#tags-list").hover(
    function() {
      $(this).show().removeAttr("aria-hidden");
    },
    function() {
      $(this).slideUp('fast');
      $("#demo-tags .button").blur();
    }
  );

  $(document).bind('click', function(e) {
    var $clicked = $(e.target);
    if (! $clicked.parents().hasClass("menu"))
      $("#tags-list").hide().attr("aria-hidden", "true");
  });
  
  $("a, input, textarea, button").bind('focus', function(e) {
    var $focused = $(e.target);
    if (! $focused.parents().hasClass("menu"))
      $("#tags-list").hide().attr("aria-hidden", "true");
  });

/* Featured demos */
  $("#featured-demos").addClass("js");
  $("#featured-demos").ready(function(){
    $("#demo-main .demo-details, #featured-demos .side .demo-title b").hide().attr("aria-hidden", "true");
    
    $("#demo-main .preview").hoverIntent({
      interval: 150,
      over: function(){
        $("#demo-main .demo-details").fadeIn().removeAttr("aria-hidden");
      },
      out: function(){
        $("#demo-main .demo-details").fadeOut("fast").attr("aria-hidden", "true");
      }
    });
    
    $("#featured-demos .side .preview").hoverIntent({
      interval: 250,
      over: function(){
        $(this).find("img").animate({ opacity: "1" }, 150);
        $(this).find(".demo-title b").fadeIn(150).removeAttr("aria-hidden");
      },
      out: function(){
        $(this).find("img").animate({ opacity: ".6" }, 250);
        $(this).find(".demo-title b").fadeOut(250).attr("aria-hidden", "true");
      }
    });
  
  });

// ]]>
</script>

{% endblock %}
