{% extends "demos/base.html" %}

{% block pageid %}demos{% endblock %}
{% block bodyclass %}section-demos{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=_('{tag_title} Demos') | f(tag_title=tag_title(tag)))) }}{% endblock %}
{% block extrahead %}
  <link rel="alternate" type="application/atom+xml" 
      title="{{_('Demos tagged {tag}') | f(tag=tag_title(tag)) }}"
      href="{{ url('demos_feed_tag', format='atom', tag=tag.name) }}" />
{% endblock %}

{% block content %}

<section id="nav-toolbar">
<div class="wrap">
  <nav class="crumbs">
    <ol role="navigation">
        <li><a href="{{ url('home') }}">{{_('MDN')}}</a></li>
        <li><a href="{{ url('demos') }}">{{_('Demo Studio')}}</a></li>
      <li><a href="">{{ tag_title(tag) }}</a></li>
    </ol>
  </nav>
  <p class="demo-submit"><a href="{{ url('demos_submit') }}" class="button">{{_('Submit a Demo')}}</a></p>
</div>
</section>

<section id="content">
<div class="wrap">

  <header id="page-head" class="gallery">
    <div class="main">
        <h1 class="page-title"><img src="{{MEDIA_URL}}img/icons/{{tag.name}}.png" alt="" width="80" height="81"> {{ tag_title(tag) }}</h1>
      <p>{{ tag_description(tag) }}</p>
    </div>
    
    {% set learn_more = tag_learn_more(tag) %}
    {% if learn_more | length %}
    <div class="learn">
        <h2>{{_('Learn More')}}</h2>
      <ul>
        {% for l_name, l_url in learn_more %}
            <li><a href="{{l_url}}">{{l_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </header>

  <section id="content-main" role="main">
    {{ submission_listing(
        request, submission_list, is_paginated, paginator, page_obj,
        _('Subscribe to a feed of {tag_title} demos') | f(tag_title=tag_title(tag)),
        url('demos_feed_tag', format='atom', tag=tag.name) 
    ) }}
  </section><!-- /#content-main -->
  
  <aside id="content-sub" role="complementary">
    {{ search_form() }}
    {{ tags_list() }}
  </aside><!-- /#content-sub -->

</div>
</section>

{% endblock %}
