{% extends "demos/base.html" %}

{% block bodyclass %}section-demos plain{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=_('Browse all demos'))) }}{% endblock %}
{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="{{_('Recent demos')}}"
      href="{{ url('demos_feed_recent', format='atom') }}" />
{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

      {{ demos_head(request) }}

  <section id="content-main" role="main" class="full">
    <header id="page-head" class="gallery">
      <div class="main">
          <h1 class="page-title">{{_('Browse all demos')}}</h1>
      </div>
    </header>

    {{ submission_listing(
        request, submission_list, is_paginated, paginator, page_obj,
        _('Subscribe to a feed of all demos'),
        url('demos_feed_recent', format='atom'), cols_per_row=4
    ) }}
  </section><!-- /#content-main -->

</div>
</section>
{% endblock %}
