{% extends "demos/base.html" %}

{% block bodyclass %}section-demos plain{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=_('{tag_title} Demos') | f(tag_title=tag_title(tag)))) }}{% endblock %}
{% block extrahead %}
  <link rel="alternate" type="application/atom+xml" 
      title="{{_('Demos tagged {tag}') | f(tag=tag_title(tag)) }}"
      href="{{ url('demos_feed_tag', format='atom', tag=tag.name) }}" />
{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

  <header id="demos-head">
    <h1><a href="{{ url('demos') }}">{{_("Mozilla Demo Studio")}}</a></h1>
    <ul class="demo-buttons">
      <li class="submit"><a href="{{ url('demos_submit') }}" class="button"><b></b>{{_("Submit a Demo")}}</a></li>
      <li class="learnmore"><a href="#learn-pop" class="button">{{ _('Learn More') }}</a>
        <div id="learn-pop" aria-hidden="true">        
          {% trans %}
          <p>Welcome to the Mozilla Demo Studio, where developers like you can develop, share, demonstrate, and learn all about Web technologies. See what's possible by exploring Demo Studio:</p>
          <ul>
            <li>View demos that showcase what HTML, CSS, and JavaScript can do.</li>
            <li>Inspect the source code for those demos so you can see how they work.</li>
            <li>Read documentation to learn about the open standards and technologies that power the Web.</li>
          </ul>
          {% endtrans %}
        </div>
      </li>
      <li class="tags menu">
        <a href="#tags-list" class="button" aria-haspopup="true">{{_("Browse by Technology")}}</a>
        <ul id="tags-list" class="menu" aria-hidden="true">
            {% for tag in tags_used_for_submissions() %}
                {% if tag.name.startswith('tech:') %}
                    <li><a href="{{ url('demos_tag', tag=tag.name) }}">{{ tag_title(tag) }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
      </li>
      <li class="search">{{ search_form() }}</li>
    </ul>
  </header>

  <header id="page-head" class="gallery">
    <div class="main">
        <h1 class="page-title"><img src="{{MEDIA_URL}}img/icons/{{tag.name.replace('tech:','')}}.png" alt="" width="160" height="160"> {{ tag_title(tag) }}</h1>
      <p>{{ tag_description(tag) }}</p>
    </div>
    
    {% set learn_more = tag_learn_more(tag) %}
    {% if learn_more | length %}
    <div class="learn">
        <h2>{{_('Learn More')}}</h2>
      <ul>
        {% for l_name, l_url in learn_more %}
            <li><a href="{{l_url}}">{{l_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </header>

  <section id="content-main" role="main" class="full">
    {{ submission_listing(
        request, submission_list, is_paginated, paginator, page_obj,
        _('Subscribe to a feed of {tag_title} demos') | f(tag_title=tag_title(tag)),
        url('demos_feed_tag', format='atom', tag=tag.name) 
    ) }}
  </section><!-- /#content-main -->

</div>
</section>

{% endblock %}
