{% extends "demos/base.html" %}

{% set query = request.GET.get('q','') %}
{% if not query %}
    {% set query = ' ' %}
{% endif %}

{% block bodyclass %}section-demos plain{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=_('Search for "{q}"') | f(q=query))) }}{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/atom+xml" 
      title="{{ _('Search results for "{q}"') | f(q=query) }}"
      href="{{ url('demos_feed_search', format='atom') | urlparams(None, q=query) }}" />
{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

      {{ demos_head(request) }}

  <section id="content-main" role="main" class="full">
    <header id="page-head" class="gallery">
      <div class="main">
          <h1 class="page-title">{{ _('Search demos for "{q}"') | f(q=query) }}</h1>
      </div>
    </header>
  
    {{ submission_listing(
        request, submission_list, is_paginated, paginator, page_obj,
        _('Subscribe to a feed of search results for "{q}"') | f(q=query),
        url('demos_feed_search', format='atom') | urlparams(None, q=query), cols_per_row=4 
    ) }}
  </section>{# /#content-main #}

</div>
</section>{# /#content #}

{% endblock %}
