{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}

{% block site_css %}
    {{ super() }}
    {% if waffle.flag('redesign') %}
      {{ css('redesign-wiki', 'all') }}
    {% endif %}
    {% if KUMA_CUSTOM_CSS %}
      <style type="text/css">
        {{ KUMA_CUSTOM_CSS }}
      </style>
    {% endif %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% if waffle.flag('redesign') %}
    {{ js('redesign-wiki') }}
  {% endif %}
{% endblock %}

{% if not styles %}
  {% set styles = ('wiki',) %}
{% endif %}
{% if not scripts %}
  {% set scripts = ('wiki',) %}
{% endif %}
