{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}

{% block site_css %}
    {{ super() }}
    {{ css('wiki-print', media='print') }}
    {% if waffle.flag('redesign') %}
      {{ css('redesign-wiki', 'all') }}
    {% endif %}
    {% if config.KUMA_CUSTOM_CSS_PATH %}
      <link rel="stylesheet" type="text/css"
            href="{{ config.KUMA_CUSTOM_CSS_PATH }}?raw=1" />
    {% endif %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% if waffle.flag('redesign') %}
    {{ js('redesign-wiki') }}
  {% endif %}
{% endblock %}

{% if not styles %}
  {% set styles = ('wiki',) %}
{% endif %}
{% if not scripts %}
  {% set scripts = ('wiki',) %}
{% endif %}