<!DOCTYPE html>
{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ '%s%s' % (settings.SITE_URL, config.KUMA_CUSTOM_SAMPLE_CSS_PATH) }}?raw=1" />
        {% if css %}
        <style type="text/css">
            {{ css | safe }}
        </style>
        {% endif %}
    </head>
    <body>
        {% if html %}
            {{ html | safe }}
        {% endif %}
        {% if js %}
            <script type="text/javascript">
                {{ js | safe }}
            </script>
        {% endif %}
    </body>
</html>
