{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import document_tabs, for_contributors %}
{% set title = _('Compare Revisions | {document}')|f(document=document.title) %}
{% set crumbs = [(url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (None, _('Compare Revisions'))] %}
{% set classes = 'compare' %}

{% block content %}
  <article id="compare-revisions" class="main">
    <div id="breadcrumbs">
      {{ _('You are here:') }}
      {{ breadcrumbs(crumbs) }}
    </div>
    <hgroup>
      <h1>{{ _('Compare Revisions') }}</h1>
      <h2>{{ document.title }}</h2>
    </hgroup>
    {% include 'wiki/includes/revision_diff.html' %}
    <p><a href="{{ url('wiki.document_revisions', document.slug) }}">{{ _('Back to History') }}</a></p>
  </article>
{% endblock %}

{% block side %}
  {{ document_tabs(document, document.parent, user, 'history', settings) }}
  {{ for_contributors(user) }}
{% endblock %}
