{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Compare Revisions | {document} | Firefox Support')|f(document=document.title) %}
{% set crumbs = [(url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (None, _('Compare Revisions'))] %}
{% set classes = 'compare' %}

{% block content %}
  <div id="breadcrumbs">
    {{ _('You are here:') }}
    {{ breadcrumbs(crumbs) }}
  </div>
  <hgroup>
    <h1>{{ _('Compare Revisions') }}</h1>
    <h2>{{ document.title }}</h2>
  </hgroup>
  {% include 'wiki/includes/revision_diff.html' %}
  <p><a href="{{ url('wiki.document_revisions', document.slug) }}">{{ _('Back to History') }}</a></p>
{% endblock %}
