{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import document_tabs, for_contributors, document_notifications, quick_links %}
{# L10n: {t} is the title of the document. {c} is the category. #}
{% set title = _('{t} | {c}')|f(t=document.title, c=document.get_category_display()) %}
{% set classes = 'document' %}

{% if document.parent %}
  {# If there is a parent doc, use it's URL for switching locales. #}
  {% set localizable_url = url('wiki.document', document.parent.slug, locale=settings.WIKI_DEFAULT_LANGUAGE) %}
{% endif %}

{% block content %}
  <article id="wiki-doc" class="main">
    {% if related %}
      <section id="related-articles">
        <h1> {{ _('Related Articles') }}</h1>
        <ul>
          {% for art in document.related_documents.all()[0:5] %}
            <li><a href="{{ art.get_absolute_url() }}">{{ art.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <h1 class="title">{{ document.title }}</h1>
    {% if redirected_from %}
      <div id="redirected-from">
        {{ _('(Redirected from <a href="{href}">{title}</a>)')|fe(href=redirected_from.get_absolute_url()|urlparams(redirect='no'), title=redirected_from.title) }}
      </div>
    {% endif %}
    {% if document.is_majorly_outdated() %}
      <div class="warning-box">
        {% trans url=document.parent.get_absolute_url(), title=document.parent.title %}
          <p>This article may be out of date.</p>
          <p>
            An important change has been made to the English article on which
            this is based. Until this page is updated, you might find this
            helpful: <a href="{{ url }}">{{ title }}</a>
          </p>
        {% endtrans %}
      </div>
    {% endif %}
    <section id="doc-content">
      {% if document.current_revision %}
        {{ document.html|safe }}
      {% else %}
        {{ _("This article doesn't have approved content yet.") }}
      {% endif %}
    </section>
    <section id="doc-contributors">
      {{ _('Contributors to this page: {users}')|f(users=contributors|join(', ')) }}
    </section>
  </article>
  {% if not document.has_voted(request) %}
    <div id="helpful-vote">
      <form class="helpful" action="{{ url('wiki.document_vote', document_slug=document.slug) }}" method="post">
        {{ csrf() }}
        <p>
          {{ _('Was this article helpful?') }}
          <input type="submit" class="btn" name="helpful" value="{{ _('Yes') }}" />
          <input type="submit" class="btn" name="not-helpful" value="{{ _('No') }}" />
          <img class="wait" src="{{ settings.MEDIA_URL }}img/customercare/spinner.gif" alt="{{ _('Please wait...') }}" />
        </p>
      </form>
    </div>
  {% endif %}
  <div id="more-help">
    <div class="wrap">
      <h2>{{ _("Couldn't find what you were looking for?") }}</h2>
      <ul>
        {% if related %}
          <li>
            {{ _("Here's a list of related articles that might help:") }}
            <ul>
              {% for art in related %}
                <li><a href="{{ art.get_absolute_url() }}">{{ art.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        <li>
          {{ _('Browse other articles about <a href="{url}">{category}</a>')|fe(url=url('wiki.category', document.category), category=document.get_category_display()) }}
        </li>
        <li>
          <a href="{{ url('wiki.document', 'ask') }}">{{ _('Ask our awesome support community for help') }}</a>
        </li>
      </ul>
      {{ search_box(settings, id=False, prefix=_('Or try searching:')) }}
    </div>
  </div>
{% endblock %}

{% block side %}
  {{ document_tabs(document, document.parent, user, 'article', settings) }}

  {% if user.is_authenticated() and document %}
    <div id="doc-watch">
      {% if is_watching(document, user) %}
        <form action="{{ url('wiki.document_unwatch', document.slug) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="submit" value="{{ _('Turn off emails.') }}" />
        </form>
      {% else %}
        <form action="{{ url('wiki.document_watch', document.slug) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="submit" value="{{ _('Get emailed when this article changes.') }}" />
        </form>
      {% endif %}
    </div>
  {% endif %}

  {{ for_contributors(user) }}
  {{ quick_links() }}
  {% include 'wiki/includes/support_for_selectors.html' %}
{% endblock %}
