{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% block title %}{{ page_title(document.title + seo_parent_title) }}{% endblock %}

{% from "wiki/includes/document_macros.html" import build_document_crumbs, get_document_buttons, document_watch with context %}

{% set canonical = request.build_absolute_uri(url('wiki.document', document.full_path)) %}

{% set zone_stack = document.find_zone_stack() %}
{% set is_zone = zone_stack|length %}
{% set is_zone_root = is_zone and zone_stack[0].document == document %}

{% block bodyclass %}document {% if is_zone %}zone{% endif %} {% if is_zone_root %}zone-landing{% endif %}{% endblock %}

{% if document.parent %}
  {# If there is a parent doc, use it for translating. #}
  {% set translate_url = url('wiki.select_locale', document_path=document.parent.full_path) %}
{% else %}
  {% set translate_url = url('wiki.select_locale', document_path=document.full_path, locale=document.locale) %}
{% endif %}
{% if fallback_reason == 'no_translation' %}
  {% set help_link = url('wiki.translate', document_path=document.full_path, locale=document.locale)|urlparams(tolocale=request.locale) %}
{% elif fallback_reason == 'translation_not_approved' %}
  {% set help_link = url('wiki.translate', document_path=document.parent.full_path, locale=document.parent.locale)|urlparams(tolocale=request.locale) %}
{% endif %}

{% block site_css %}
    {{ super() }}
    {% set zone_stack = document.find_zone_stack() %}
    {% if zone_stack %}
      {% for zone in zone_stack|reverse() %}
        <link rel="stylesheet" type="text/css" href="{{ url('wiki.styles', zone.document.full_path) }}">
      {% endfor %}
    {% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/json" href="{{ url('wiki.json_slug', document.full_path) }}">
  <link rel="canonical" href="{{ canonical }}" >

  {% if document.other_translations|length %}
    {% for translation in document.other_translations %}
      <link rel="alternate" hreflang="{{ translation.locale }}" href="{{ url('wiki.document', translation.full_path, locale=translation.locale) }}" title="{{ translation.title }}">
    {% endfor %}
  {% endif %}

  <!-- document-specific social tags -->
  <meta property="og:title" content="{{ document.title }}">
  <meta property="og:url" content="{{ request.build_absolute_uri(url('wiki.document', document.full_path)) }}">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:title" content="{{ document.title }}">
  {% if seo_summary %}
  <meta property="og:description" content="{{ seo_summary }}">
  <meta name="description" content="{{ seo_summary }}">
  <meta name="twitter:description" content="{{ seo_summary }}">
  {% endif %}
{% endblock %}

{% block lang_switcher %}
  {% if (document.is_localizable or document.parent) and document.other_translations.exists() %}
    <form class="languages go" method="get" action="{{ devmo_url('Web') }}">
      <label for="language">{{ _('Other languages:') }}</label>
      <select id="language" class="wiki-l10n" name="next" dir="ltr">
        <option value="{{ url('wiki.document', document.full_path, locale=document.locale) }}" selected>
          {{ document.language }}
        </option>
        {% for translation in document.other_translations %}
          <option value="{{ url('wiki.document', translation.full_path, locale=translation.locale) }}">
            {{ translation.language }}
          </option>
        {%- endfor %}
      </select>
      <noscript><button type="submit">{{ _('Go') }}</button></noscript>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'wiki/includes/document_content.html' %}
{% endblock %}

{% block body_attributes %}data-slug="{{ document.slug }}" data-docid="{{ document.id }}"{% endblock body_attributes %}

{% block js %}
  {% if waffle.flag('search_doc_navigator') %}
  <script type="text/javascript">
    (function($, ga) {
      {% if search_ref %}
      $('.from-search-toc').mozSearchResults('{{ search_ref }}', ga);
      {% endif %}
    })(jQuery);
  </script>
  {% endif %}
{% endblock %}
