{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "wiki/includes/sidebar_modules.html" import document_tabs %}
{% set title = _('Edit Article | {document}')|f(document=document.title) %}
{# TODO: Change KB url to landing page when we have one #}
{% set crumbs = [(url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (None, _('Edit Article'))] %}
{% set classes = 'edit' %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
  <article id="edit-document" class="article" role="main">
    {{ errorlist(revision_form) }}
    <form id="wiki-page-edit" class="editing" method="post" action="">
    {{ csrf() }}
      <fieldset>
        <header id="article-head">
          <div class="title">
  <h1>{{ _('Editing <em>{title}</em>')|fe(title=document.title) }}</h1>
            <button type="button" id="btn-properties" title="Edit Page Title and Properties">{{ _('Edit Page Title and Properties') }}</button>
            <!--
          <p class="save-state">Draft automatically saved at 14:25. <button id="btn-savedraft" type="submit">Save Draft</button></p>
          -->
      </div>

      {% include 'wiki/includes/page_buttons.html' %}

        </header>
    {% if revision_form %}
            {{ revision_form.content|safe }}
            <input type="hidden" name="form" value="rev" />
            {#
            {% include 'wiki/includes/submit_revision_for_review.html' %}
            #}
      {% endif %}
       </fieldset>
  </form>
    <div id="preview"></div>
  </article>
    </div>
   </div>
</section>
{% endblock %}

{% block side_top %}
  {{ document_tabs(document, document.parent, user, 'edit', settings) }}
{% endblock %}
