{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% if category %}
  {% set title = _('{category} | Firefox Support')|fe(category=category) %}
  {% set crumbs = [(None, category)] %}
{% else %}
  {% set title = _('All Articles | Firefox Support') %}
  {% set crumbs = [(None, _('All Articles'))] %}
{% endif %}

{% block content %}
  <div id="breadcrumbs">
    {{ _('You are here:') }}
    {{ breadcrumbs(crumbs) }}
  </div>
  <h1>{% if category %}{{ category }}{% else %}{{ _('All Articles') }}{% endif %}</h1>
  <div id="document-list">
    <ul>
      {% for doc in documents %}
        <li><a href="{{ doc.get_absolute_url() }}">{{ doc.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
