{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% set title = _('All Files') %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set crumbs = [(None, title)] %}

{% block extrahead %}
<link rel="alternate" type="application/atom+xml" title="{{title}}" 
      href="{{ url('wiki.feeds.recent_files', format='atom') }}" />
{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">

      <div id="document-list" class="boxed">
        <h1>{{ title }}</h1>
        {% if files.object_list %}
          <ul class="documents cols-3">
            {% for file in files.object_list %}
              <li>
                <a href="{{ file.get_absolute_url() }}">{{ file.title }}</a><br/>
                <small>{{ file.get_absolute_url() }}</small>
              </li>
            {% endfor %}
          </ul>
          {{ files|paginator }}
        {% else %}
          <p>{{ _('There are no files.') }}</p>
        {% endif %}
      </div>

    </div>
   </div>
</section>
{% endblock %}
