{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% if category %}
  {% set title = category %}
{% elif tag %}
  {% set title = _('Articles tagged: {tag}')|f(tag=tag) %}
{% elif is_templates %}
  {% set title = _('All Templates') %}
{% else %}
  {% set title = _('All Articles') %}
{% endif %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set crumbs = [(None, title)] %}

{% block extrahead %}
  {% if category %}
      <link rel="alternate" type="application/atom+xml" title="{{title}}" 
          href="{{ url('wiki.feeds.recent_documents_category', format='atom', category=category) }}" />
  {% elif tag %}
      <link rel="alternate" type="application/atom+xml" title="{{title}}" 
          href="{{ url('wiki.feeds.recent_documents', format='atom', tag=tag) }}" />
  {% else %}
      <link rel="alternate" type="application/atom+xml" title="{{title}}" 
          href="{{ url('wiki.feeds.recent_documents', format='atom') }}" />
      {% if (request.locale != 'en-US'): %}
        {# TODO: Someday, en-US won't be special in l10n. #}
        <link rel="alternate" type="application/atom+xml" 
              title="{{_('Translation updates needed')}}" 
              href="{{ url('wiki.feeds.l10n_updates', format='atom') }}" />
      {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">

      <div id="document-list" class="boxed">
        <h1>{{ title }}</h1>
        {% if documents.object_list %}
          <ul class="documents cols-3">
            {% for doc in documents.object_list %}
              <li>
                <a href="{{ doc.get_absolute_url() }}">{{ doc.title }}</a> ({{ doc.locale }})<br/>
                <small>{{ doc.get_absolute_url() }}</small>
              </li>
            {% endfor %}
          </ul>
          {{ documents|paginator }}
        {% else %}
          <p>{{ _('There are no articles.') }}</p>
        {% endif %}
      </div>

    </div>
   </div>
</section>
{% endblock %}
