{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% set title = _('Page move requested') %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% block bodyclass %}move-page{% endblock %}

{% block content %}
{% set old_slug=document.slug %}
{% set new_slug=form.slug.value() %}
{% trans new_url=url('wiki.document', new_slug, locale=document.locale) %}
<p>Moving {{ old_slug }} to <a href="{{ new_url }}">{{ new_slug }}</a></p>
<p> You'll receive an email when it finishes, or if any errors occur during the move.</p>
{% endtrans %}
{% endblock %}
