{% extends "wiki/base.html" %}
{% set title = _('External Document Source Signup') %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}
  <article class="main-full" id="mvp-signup">

      {% if not submitted %}
        {% trans %}
        <h1>We put TFM in RTFM</h1>
        <p>MDN has great docs, you have great docs.  Tell us where your great docs are and we'll work on adding them to the MDN collection.</p>
        {% endtrans %}

        {% if error %}
        <p class="error">
          {{ error }}
        </pre>
        {% endif %}

        <form action="{{ url('wiki.external_signup') }}" method="post">
          {{ csrf() }}
          <input type="text" value="{{ location }}" placeholder="{{ _('URL to hosted docs or repository') }}" name="location" autofocus required />
          <button>{{ _('Add Your Docs to MDN') }}</button>
        </form>

        {% trans %}
        <p>Note:  If your docs are in a sub-directory of a repository, please give us the full path to the docs directory.</p>
        {% endtrans %}

        <style type="text/css">
          #mvp-signup input {
            display: block;
            width: 50%;
            margin-bottom: 20px;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }

          #mvp-signup button {
            margin-bottom: 20px;
            display: block;
          }

          #mvp-signup  .error {
            color: #900;
          }
        </style>

      {% else %}

        {% trans %}
        <h1>Thanks</h1>
        <p>We will work on adding your docs in MDN.  If you'd like to help or follow along, watch or give us comments and feedback on <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=861981">bug 861981</a>.</p>
        {% endtrans %}

      {% endif %}
  </article>
{% endblock %}
