{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Create a New Article | Knowledge Base') %}
{# TODO: Change KB url to landing page when we have one #}
{% set crumbs = [(url('wiki.all_documents'), _('Knowledge Base')),
                 (None, _('New Article'))] %}

{% block content %}
  <div id="breadcrumbs">
    {{ _('You are here:') }}
    {{ breadcrumbs(crumbs) }}
  </div>
  <h1>{{ _('Create a New Knowledge Base Article') }}</h1>
  <div id="document-form">
    <form action="" method="post">
      {{ csrf() }}
      {{ errorlist(document_form) }}
      {{ errorlist(revision_form) }}
      <ul>
        {{ document_form.as_ul()|safe }}
        {% for field in revision_form if field.name != 'comment' %}
          <li>{{ field.label_tag()|safe }}{{ field|safe }}</li>
        {% endfor %}
      </ul>
      {% include 'wiki/includes/submit_revision_for_review.html' %}
    </form>
  </div>
{% endblock %}
