{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Edit Article | {document}')|f(document=document.title) %}
{# TODO: Change KB url to landing page when we have one #}
{% set crumbs = [(url('wiki.all_documents'), _('Knowledge Base')),
                 (url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (None, _('Edit Article'))] %}
{% set classes = 'edit' %}

{% block content %}
  <div id="breadcrumbs">
    {{ _('You are here:') }}
    {{ breadcrumbs(crumbs) }}
  </div>
  <h1>{{ _('Edit Article') }}</h1>
  {% if not document_form %}
    <div id="document-info">
      <ul>
        <li>
          <label>{{ _('Title:') }}</label>
          {{ document.title }}
        </li>
        <li>
          <label>{{ _('Locale:' )}}</label>
          {{ document.locale }}
        </li>
        <li>
          <label>{{ _('Category:') }}</label>
          {{ document.get_category_display() }}
        </li>
        <li>
          <label>{{ _('Tags:') }}</label>
          {% for tag in document.tags.all() %}
            {{ tag.name }}
            {% if not loop.last %}, {% endif %}
          {% endfor %}
        </li>
        <li>
          <label>{{ _('Firefox Versions:') }}</label>
          {% for ff_v in document.firefox_versions.all() %}
            {{ ff_v.get_item_id_display() }}
            {% if not loop.last %}, {% endif %}
          {% endfor %}
        </li>
        <li>
          <label>{{ _('Operating Systems:') }}</label>
          {% for os in document.operating_systems.all() %}
            {{ os.get_item_id_display() }}
            {% if not loop.last %}, {% endif %}
          {% endfor %}
        </li>
      </ul>
    </div>
  {% endif %}
  <div id="document-form">
    <form action="" method="post">
      {{ csrf() }}
      {% if document_form %}
        {{ errorlist(document_form) }}
      {% endif %}
      {{ errorlist(revision_form) }}
      <ul>
        {% if document_form %}
          {{ document_form.as_ul()|safe }}
        {% endif %}
        {% for field in revision_form if field.name != 'comment' and field.name != 'content' %}
          <li>{{ field.label_tag()|safe }}{{ field|safe }}</li>
        {% endfor %}
        <li>
          {{ revision_form.content.label_tag()|safe }}
          <div class="forum-editor">
            <div class="forum-editor-tools"></div>
            {{ revision_form.content|safe }}
          </div>
        </li>
      </ul>
      {% include 'wiki/includes/submit_revision_for_review.html' %}
      <div id="preview"></div>
    </form>
  </div>
{% endblock %}
