{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "includes/common_macros.html" import content_editor %}
{% set title = _('Create a New Article | Knowledge Base') %}
{% block title %}{{ page_title(title) }}{% endblock %}
{# TODO: Change KB url to landing page when we have one #}
{% set crumbs = [(None, _('New Article'))] %}
{% set classes = 'new' %}
{% block bodyclass %}new{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
    <article class="article" role="main">
    {{ errorlist(document_form) }}
    {{ errorlist(revision_form) }}
    <form id="wiki-page-edit" class="editing" method="post" action="">
      <fieldset>
      <header id="article-head">
        <div class="title">
            {{ document_form.title|safe }}
            {{ document_form.slug|safe }}
            {{ document_form.category|safe }}
            <button type="button" id="btn-properties" title="Edit Page Title and Properties">{{ _('Edit Page Title and Properties') }}</button>
        </div>

        {% include 'wiki/includes/page_buttons.html' %}

      </header>

      {{ revision_form.content|safe }}

      <section>
        <h4>Review needed?</h4>
        {{ revision_form.review_tags|safe }}
      </section>
      
    </fieldset>
    </form>
    
    </article>
    <div id="preview"></div>
    </div>
   </div>
</section>
{% endblock %}
