{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Create a New KB Article | Firefox Support') %}
{% set crumbs = [(None, _('New KB Article'))] %}

{% block content %}
  <div id="breadcrumbs">
    {{ _('You are here:') }}
    {{ breadcrumbs(crumbs) }}
  </div>
  <h1>{{ _('Create a New KB Article') }}</h1>
  <div id="document-form">
    <form action="" method="post">
      {{ csrf() }}
      {{ errorlist(form) }}
      <ul>
        {{ form.as_ul()|safe }}
      </ul>
      <div class="submit">
        <input type="submit" value="{{_('Save') }}">
      </div>
    </form>
  </div>
{% endblock %}
