
{# vim: set ts=2 et sts=2 sw=2: #}

{% extends "wiki/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% set classes = 'document' %}
{% block bodyclass %}document{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
  	
    <div id="content-main" class="full">
    	
      {% if kumascript_errors %}
	    {% include 'wiki/includes/kumascript_errors.html' %}
	  {% endif %}
    	
      <div class="warning warning-review">
  		<p>{{ _('This is a preview of an unsaved document.') }}</p>
  	  </div>
    	
      <article class="article" role="main">
      <header id="article-head">
        <div class="title">
            <h1 class="page-title">{{ title }}</h1>
        </div>
      </header>
      
       <div id="wikiArticle" class="page-content boxed">
       		{{ content|safe }}
       </div>
      
  	  </article>
    </div>
  </div>
</section>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
