{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import document_tabs, for_contributors %}
{# L10n: {n} is the revision number, {t} is the title of the document. {c} is the category. #}
{% set title = _('Revision {n} | {t} | {c}')|f(n=revision.id, t=document.title, c=document.get_category_display()) %}
{% set meta = [('robots', 'noindex, nofollow')] %}
{% set crumbs = [(url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (None, _('Revision {num}')|f(num=revision.id))] %}
{% set classes = 'document' %}

{% block content %}
  <article id="wiki-doc" class="main">
    <div id="breadcrumbs">
      {{ _('You are here:') }}
      {{ breadcrumbs(crumbs) }}
    </div>
    <h1 class="title">{{ document.title }}</h1>
    <div class="revision-info">
      <h2>{{ _('Revision {num}')|f(num=revision.id) }}</h2>
      <ul>
        <li>
          <mark>{{ _('Created:') }}</mark>
          <span>{{ datetimeformat(revision.created, format='datetime') }}</span>
        </li>
        <li>
          <mark>{{ _('Creator:') }}</mark>
          <span>{{ revision.creator }}</span>
        </li>
        <li>
          <mark>{{ _('Is reviewed?') }}</mark>
          <span>{{ revision.reviewed != None }}</span>
        </li>
        {% if revision.reviewed %}
          <li>
            <mark>{{ _('Reviewed:') }}</mark>
            <span>{{ datetimeformat(revision.created, format='datetime') }}</span>
          </li>
          <li>
            <mark>{{ _('Reviewed by:') }}</mark>
            <span>{{ revision.reviewer }}</span>
          </li>
          <li>
            <mark>{{ _('Is approved?') }}</mark>
            <span>{{ revision.is_approved }}</span>
          </li>
          <li>
            <mark>{{ _('Is current revision?') }}</mark>
            <span>{{ revision == document.current_revision }}</span>
          </li>
        {% endif %}
      </ul>
    </div>
    <div id="doc-content">
      {{ revision.content_parsed|safe }}
    </div>
  </article>
{% endblock %}


{% block side %}
  {{ document_tabs(document, document.parent, user, '', settings) }}
  {{ for_contributors(user) }}
  {% include 'wiki/includes/support_for_selectors.html' %}
{% endblock %}
