{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "includes/common_macros.html" import content_editor %}
{% set title = _('Translate Article | {document}')|f(document=parent.title) %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set crumbs = [(url('wiki.category', parent.category), parent.get_category_display()),
                 (parent.get_absolute_url(), parent.title),
                 (None, _('Translate Article'))] %}
{% block bodyclass%}translate{% endblock %}

{% block content %}
  {% set language = settings.LANGUAGES[locale.lower()] %}
<section id="content">
  <div class="wrap">
    <div id="content-main" class="full">
      <form action="" method="post" data-json-url="{{ url('wiki.json') }}" id="wiki-page-translate">
        {{ csrf() }}
        <input type="hidden" name="form" value="both" />

  <div id="localize-document" class="editing">
    <header id="article-head">
      <div class="title">
        <h1>{{ _('<span class="action">Translating</span> <em>{title}</em>')|fe(title=parent.title) }}</h1>
      </div>
      
      <div class="change-locale">
        {{ _('Translating article to {locale}' )|f(locale=language) }}.
        <a id="change-locale-link" class="toggle" href="#change-locale">{{ _('Change') }}</a>
        <ul id="change-locale" class="sub-menu menu" data-target="#change-locale-link" data-modal="true" data-close-on-out-click="true">
        {% for lcl in settings.LANGUAGE_CHOICES %}
          {% if lcl[0] not in [settings.WIKI_DEFAULT_LANGUAGE, locale] %}
            <li><a href="{{ url('wiki.translate', document_path=parent.full_path)|urlparams(tolocale=lcl[0]) }}">{{ lcl[1] }} ({{ lcl[0] }})</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      
    {% include 'wiki/includes/page_buttons.html' %}
          
    {% if not based_on.reviewed or not based_on.is_approved %}
      <p class="trans-note">{{ _('You are translating an unreviewed or rejected English document.') }}</p>
    {% endif %}
    </header>

    {% include 'wiki/includes/translate_description.html' %}

    {% if revision_form %}
      <details id="trans-content" open="open">
        <summary>{{ _('Translate Content') }}</summary>
        {{ errorlist(revision_form) }}
        {# TODO: restore keywords and summary when we restore search app
        <ul class="description">
          <li>
            <dl class="approved">
              <dt>{{ _('Keywords:') }}</dt>
              <dd>{{ based_on.keywords }}</dd>
            </dl>
            <dl class="localized">
              <dt><label for="{{ revision_form.keywords.auto_id }}" title="{{ revision_form.keywords.help_text }}">{{ _('Keywords in {locale}:')|f(locale=language) }}</label></dt>
              <dd>{{ revision_form.keywords|safe }}</dd>
            </dl>
          </li>
          <li>
            <dl class="approved">
              <dt>{{ _('Search result summary:') }}</dt>
              <dd>{{ based_on.summary }}</dd>
            </dl>
            <dl class="localized">
              <dt><label for="{{ revision_form.summary.auto_id }}" title="{{ revision_form.summary.help_text }}">{{ _('Search result summary in {locale}:')|f(locale=language) }}</label></dt>
              <dd>{{ revision_form.summary|safe }}</dd>
            </dl>
          </li>
        </ul>
        #}
        {% if document.current_revision and document.current_revision.based_on %}
          {% if parent.current_revision != document.current_revision.based_on %}
            {# Diff between the English version the current translation is based on and the current English version. #}
            {% set revision_from = document.current_revision.based_on %}
            {% set revision_to = parent.current_revision %}
            {% include 'wiki/includes/revision_diff.html' %}
            {# TODO: 'change revisions' link and modal selector #}
          {% endif %}
        {% endif %}
        
        <div id="content-fields">
          <article class="approved">
            <header>
              <h3>{{ _('Approved {default_locale} version:')|f(default_locale=settings.LANGUAGES[settings.WIKI_DEFAULT_LANGUAGE.lower()]) }}</h3>
            </header>
            <div class="boxed translate-display">
              {{ based_on.content|safe }}
            </div>

            <section class="page-meta">
            <section class="page-tags">
              <h3><i class="icon-tag"></i>{{ _('Tags') }}</h3>
                {% set parent_tags = parent.tags.all() %}
              <div id="deki-page-tags">
                {% if parent_tags | length %}
                  <ul class="tag-list tagit ui-widget ui-widget-content">
                    {% for parent_tag in parent_tags %}
                    <li class="tagit-choice ui-widget-content ui-state-default">
                        <a class="text tagit-label" href="{{url('wiki.tag', parent_tag.name)}}">{{ parent_tag.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>{{ _('This document has no tags.') }}</p>
                {% endif %}
              </div>
            </section>
            </section>


          </article>
          
          <article class="localized">
            <header>
              <h3>{{ _('{locale} translation:')|f(locale=language) }}</h3>
            </header>
            <div class="ckeditor-container">
              {{ content_editor(revision_form.content) }}
            </div>
          </article>
        </div>
        {{ revision_form.hidden_fields()|join|safe }}

        
        <div class="approved">&nbsp;</div>
        <div class="localized">
          <section class="page-meta">
              <section id="page-tags" class="page-tags">
                <h2><i class="icon-tag"></i>{{ _('Tags') }}</h2>
                {% if document.tags %}
                  {% set tags = document.tags.all() %}
                  <input id="tagit_tags" type="text" name="tags" value="{% for tag in tags %}{{ tag.name }},{% endfor %}" maxlength="255" />
                {% else %}
                  <input id="tagit_tags" type="text" name="tags" value="" maxlength="255" />
                {% endif %}
              </section>
              <section class="page-tags">
                <h2>{{_('Localization flags')}}</h2>
                {{ revision_form.localization_tags|safe }}
              </section>
          </section>

          {% include 'wiki/includes/revision_comment.html' %}

        </div>
      </details>
    {% endif %}

    <div id="preview"></div>
  </div>
</form>
  
    {% include 'wiki/includes/attachment_list.html' %}

    </div>
   </div>
</section>
{% endblock %}

{% block js %}
  {% include 'wiki/includes/tag_suggestions.html' %}
  
  <script src="{{ MEDIA_URL }}js/libs/ckeditor/ckeditor.js?build={{ BUILD_ID_JS }}"></script>
  <script src="{{ MEDIA_URL }}js/libs/ckeditor/adapters/jquery.js?build={{ BUILD_ID_JS }}"></script>
  <script src="{{ MEDIA_URL }}redesign/js/wiki-editor.js?build={{ BUILD_ID_JS }}"></script> 
  
  {{ js('wiki-edit') }}
{% endblock %}
