{% extends "base.html" %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user ban-user{% endblock %}

{% block title %}{{ _('Ban') }} {{ detail_user }}{% endblock %}
{% set styles = ('dashboards', 'jquery-ui') %}
{% set classes = 'compare' %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'users' %}
  {% stylesheet 'user-banned' %}
{% endblock %}

{% block content %}
<section id="content">
{# TODO: Add an if block if the user has already been identified as a spammer #}

<h1>
  {{ _('Identify') }}
  <a href="{{ detail_user.get_absolute_url() }}">{{ detail_user }}</a>
  {{ _('as a spammer?') }}
</h1>

<div class="wrap">

  <section id="content-main" class="full">
    <section id="user-head" class="column-container column-container-reverse vcard user-head">
      <div class="column-10">
        {% include "users/includes/user_title_info.html" %}
      </div>
      <div class="column-2 ">
        {% with accounts=social_accounts(detail_user) %}
          {% include "users/includes/user_avatar_and_links.html" %}
        {% endwith %}
      </div>
    </section><!-- /#user-head -->

    <section id="docs-activity" class="user-section">
        {% include "users/includes/user_revision_history_form.html" %}

        <form action="{{ url('users.ban_and_cleanup',detail_user.id) }}" method="POST">
          {% csrf_token %}
          <p>
            <button type="submit" class="button negative ban-link">
              {{ _('Ban User for Spam') }}
            </button>
            <a href="{{ url('users.ban_user',detail_user.id) }}">
              {{ _('Ban user for other reasons.') }}
            </a>
          </p>

        </form>

    </section><!-- /#docs-activity -->
</section><!-- /#content-main -->

{% endblock %}
