{% extends "base.html" %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user ban-user{% endblock %}

{% block title %}{{ _('Ban %(user)s', user=detail_user) }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'users' %}
  {% stylesheet 'user-banned' %}
{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">
  <section id="content-main" class="full">
    <section id="user-head" class="column-container column-container-reverse vcard user-head">
      <div class="column-10">
        <h1 class="user-title">
          {{ _('Why are you banning %(user)s', user=detail_user) }}?
        </h1>
        <div class="column-4">
          <h5>{{ _('Choose a reason') }}:</h5>
          {% for reason in common_reasons %}
            <div><button class="ban-common-reason">{{ _(reason) }}</button></div>
          {% endfor %}
        </div>

        <h5>{{ _('or enter a reason in the text box below') }}:</h5>
        <form method="post" id="ban-user-form" action="{{ url('users.ban_user',detail_user.username) }}">
          {% csrf_token %}
          {{ form.reason.errors }}
          <div>{{ form.reason }}</div>
          <input type="hidden" name="previous-url" value={{ previous_url }}></input>
          <button type="submit">{{ _('Ban user') }}</button>
        </form>
      </div>
    </section>
  </section>
</div>
</section>
{% endblock %}

{% block js %}
<script>
(function (jQuery) {
    'use strict';
    $('.ban-common-reason').on('click', function(){
      $('#id_reason').val($(this).html())
    });
})(jQuery);
</script>
{% endblock %}
