{% extends "base.html" %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user ban-user{% endblock %}

{% block title %}{{ _('Ban %(user)s', user=detail_user) }}{% endblock %}
{% set styles = ('dashboards', 'jquery-ui') %}
{% set classes = 'compare' %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'users' %}
  {% stylesheet 'user-banned' %}
{% endblock %}

{% block content %}
<section id="content">

{% if not user_banned %}
  <h1>
    {{ _('Identify <a href="%(url)s">%(user)s</a> as a spammer?', url=detail_user.get_absolute_url(), user=detail_user) }}
  </h1>
{% else %}
  <h1>
    {{ _('<a href="%(url)s">%(user)s</a> has been banned.', url=detail_user.get_absolute_url(), user=detail_user) }}
  </h1>
  <p>
  {{ _('%(user)s has already been banned. You may review and revert their revisions below.', user=detail_user) }}
  </p>
{% endif %}

<section id="user-head" class="column-container column-container-reverse vcard user-head">
  <div class="column-10">
    {% with accounts=social_accounts(detail_user) %}
      {% include "users/includes/user_title_info.html" %}
    {% endwith %}
  </div>
</section><!-- /#user-head -->

<form id="ban-and-cleanup-form" action="{{ url('users.ban_user_and_cleanup_summary', detail_user.username) }}" method="POST">
  {% csrf_token %}
  {% include "users/includes/user_revision_history_form.html" %}
  <p>
    {% if user == detail_user %}
      {{ _('You cannot ban yourself for spam.') }}
    {% elif not user_banned or revisions_not_spam %}
      <button type="submit" class="button negative ban-link">
        {% if user_banned and revisions_not_spam %}
          {{ _('Submit Spam') }}
        {% elif not user_banned and not revisions_not_spam %}
          {{ _('Ban User for Spam') }}
        {% else %}
          {{ _('Ban User for Spam & Submit Spam') }}
        {% endif %}
      </button>
      {% if not user_banned and revisions_not_spam %}
        <a id="ban-for-other-reasons" href="{{ url('users.ban_user',detail_user.username) }}">{{ _('Ban user for other reasons.') }}</a>
      {% endif %}
    {% else %}
      {{ _('User has not made any revisions to be reverted in the past three days, and this user was already banned.') }}
    {% endif %}
  </p>

</form>


{% endblock %}
