{% extends "socialaccount/base.html" %}

{% set title=_("Connect Account") %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="text-content readable-line-length">

 <h2>{{ _("Use the button below to connect your MDN profile to GitHub.") }}</h2>

  {% with process="connect", next_url=url('users.user_edit', username=request.user.username) %}
  {% include "socialaccount/snippets/provider_list.html" %}
  {% endwith %}

  <p>{{ _("This account recovery link cannot be used to log in again.") }}</p>

</div>


{% endblock %}
