{% extends "base.html" %}
{% from 'includes/common_macros.html' import li_field %}

{% set delete_user = request.user %}
{% set is_me = user.pk == delete_user.pk %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user user-delete{% endblock %}

{% set title=_("Delete your account") %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block site_css %}
  {{ super() }}
{% endblock %}

{% block site_js %}
  {{ super() }}
{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="text-content readable-line-length">

        <p>{{ _('We\'re sorry to see you go.') }}</p>

        <p>
          {% trans count=revisions.count() %}
          You have {{ count }} wiki revisions.
          {% endtrans %}
        </p>


        <form action="" method="post">
          {% csrf_token %}

          {# If the user no revisions, there's nothing to ask. #}
          {% if revisions.exists() %}
          {{ form }}
          {% endif %}

          <button type="submit" class="button positive">{{ _('Delete my account') }}</button>
        </form>
    </div>

{% endblock %}
