{% extends "base.html" %}
{% from 'includes/common_macros.html' import li_field %}

{% set delete_user = request.user %}
{% set is_me = user.pk == delete_user.pk %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user user-delete{% endblock %}

{% set title=_("Delete your account") %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'user-delete' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'delete-user-page' %}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  {% include "users/includes/delete-user-content.html" %}
{% endblock %}
