{% extends "base.html" %}

{% set display_name = user_display(detail_user) %}
{% set is_me = user.pk == detail_user.pk %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user user-display{% endblock %}

{% block title %}{{ page_title(detail_user) }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'jquery-ui' %}
  {% stylesheet 'users' %}
{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">

  <section id="content-main" class="full">
    <section id="user-head" class="column-container column-container-reverse vcard user-head">
      <div class="column-10">
        {% with accounts=social_accounts(detail_user) %}
          {% include "users/includes/user_title_info.html" %}
        {% endwith %}
      </div>
      <div class="column-2 ">
        {% include "users/includes/user_avatar.html" %}
      </div>
    </section><!-- /#user-head -->
  </section><!-- /#content-main -->
</div>
</section>
{% endblock %}
