{% extends "react_base.html" %}
{% from 'includes/common_macros.html' import li_field %}

{% set accounts = social_accounts(edit_user) %}
{% set is_me = user.pk == edit_user.pk %}

{% block body_attributes %}{% endblock %}

{% block bodyclass %}user user-edit{% endblock %}

{% block title %}{{ page_title(_('Edit Your Profile')) }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'users' %}
  {% stylesheet 'submission' %}
  {% stylesheet 'delete-user-modal' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'jquery-ui' %}
  {% javascript 'users' %}
  {% javascript 'delete-user-modal' %}
{% endblock %}

{% block pageheader %}
{{ render_react("user-account", request.LANGUAGE_CODE, request.get_full_path(),
                  None, False)|safe }}
{% endblock %}

{% block content %}
<div class="column-container center clear">

  <div class="column-2 smaller">
    <img src="{{ get_avatar_url(edit_user) }}" alt="{{ edit_user.username }}" width="200" height="200" class="user-photo avatar" />
  </div>

  <div id="user-edit" class="column-half">
    <h1>{{ edit_user.username }} <a class="user-title-profile" href="{{ edit_user.get_absolute_url() }}">{{ _('View profile') }}</a></h1>

    {% if not is_me %}
    <div class="notification warning">
      {% trans %}You're editing a different profile than your own. Please take care!{% endtrans %}
    </div>
    {% endif %}

    <form class="submission" method="post" action="">
      {% csrf_token %}

      <fieldset class="section notitle" id="personal">
        <ul>
          <li id="field-beta" class="field">
            <h2>{{_('User Information')}}</h2>
            <label for="{{ user_form.beta.id_for_label }}">
              {{ user_form.beta }}
              {{ user_form.beta.label }}
            </label>
            <p class="field-note">{{ _("We'd love to have your feedback on site changes! Beta testers get access to new features first and we send the occasional email asking for help testing specific things.") }}</p>
          </li>
          <li id="field_email" class="field type_email required">
            <label>{{ _('Primary Email') }} <a class="field-management" href="{{ url('account_email') }}">{{ _('Edit email') }}</a></label>
            {{ edit_user.email }}
          </li>
          {{ li_field(user_form, 'username') }}
          {{ li_field(user_form, 'fullname') }}
          {{ li_field(user_form, 'title') }}
          {{ li_field(user_form, 'organization') }}
          {{ li_field(user_form, 'location') }}
          {{ li_field(user_form, 'locale') }}
          {{ li_field(user_form, 'timezone') }}
          {{ li_field(user_form, 'irc_nickname') }}
        </ul>
      </fieldset>
      {%- if recurring_payment_enabled %}
        <div class="section notitle" id="subscriptions">
          <h2>{{ _('Subscriptions') }} <a class="subscription-link" href="{{ url('recurring_payment_management') }}">{{ _('Edit monthly subscription') }}</a></h2>
        </div>
      {% endif %}
      <fieldset class="section" id="users">
        <legend><h2>{{ _('My Profiles') }}</h2></legend>
        <ul>

          <li id="field_github_url" class="field site github">
            {% if accounts.github %}
            <label for="{{ user_form.github_url.id_for_label }}">
                {% include 'includes/icons/social/github.svg' %}GitHub
            </label>
            <div class="field-account">
              {% for github_account in accounts.github %}{% if github_account.extra_data %}{{ github_account.get_profile_url() }}{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}
            </div>

            <div id="field_is_github_url_public">
              <label for="{{ user_form.is_github_url_public.id_for_label }}">
                {{ user_form.is_github_url_public }}
                {{ user_form.is_github_url_public.label }}
              </label>
            </div>
            {% else %}
            <label for="{{ user_form.github_url.id_for_label }}">
                {% include 'includes/icons/social/github.svg' %}GitHub
            </label>
            {{ user_form.github_url }}
            {% endif %}
          </li>

          {{ li_field(user_form, 'twitter_url', classes='site twitter') }}

          {{ li_field(user_form, 'stackoverflow_url', classes='site stackoverflow') }}

          {{ li_field(user_form, 'linkedin_url', classes='site linkedin') }}

          {{ li_field(user_form, 'mozillians_url', classes='site mozillians') }}

          {{ li_field(user_form, 'facebook_url', classes='site facebook') }}

          {{ li_field(user_form, 'discourse_url', classes='site discourse') }}

        </ul>
      </fieldset>
      <ul class="button-container">
        <li>
          <button type="submit" class="positive">
            {% include 'includes/icons/general/check-mark.svg' %}
            {{ _('Publish') }}
          </button>
        </li>
        <li>
          {% if is_me %}
            <a id="delete-user-button"
              href="{{ url('users.user_delete', username=request.user.username) }}">{{ _('Delete your account') }}</a>
          {% endif %}
        </li>
      </ul>
    </form>
    {% if is_me and waffle.flag('subscription') and settings.STRIPE_PUBLIC_KEY %}
      {% include "users/includes/stripe_subscription.html" %}
    {% endif %}
  </div>
  <div class="column-4">
    {% if settings.NEWSLETTER %}
    {% include "includes/newsletter.html" %}
    <h3>Unsubscribe</h3>
    <p><a href="https://www.mozilla.org/en-US/newsletter/recovery/">{{ _('Manage your Mozilla Newsletter Subscriptions.') }}</a></p>
    {% endif %}
  </div>
</div>

{% include "/users/includes/delete-user-modal.html" %}

{% endblock %}

{% block js %}

{% if settings.NEWSLETTER %}
  {% javascript 'newsletter' %}
{% endif %}

{% endblock %}
