#translate-document {
    /* approved version of the article content */
    .translate-rendered {
        overflow-x: hidden;
    }

    /* translation interface has a number of headings that do not have icons
       so we hide the icon on this heading to make them all match */
    #page-comment .icon-comment {
        display: none;
    }

    /* when approved version hidden from view translated version fills full width of page */
    .translate-only {
        .boxed,
        .doc-mode-btn {
            display: none;
        }

        .approved-title {
            display: inline-block;
            float: left;
            margin-top: 0;
        }
    }

    .translate-rendered,
    .translate-source {
        padding-top: 223px; /* approximate height of tool bar on translation side */
    }
}

@media #{$mq-max-width-and-up} {
    #translate-document {
        .translate-rendered,
        .translate-source {
            padding-top: 155px; /* approximate height of tool bar on translation side */
        }
    }
}
