.translate-buttons {
    margin-top: 19px; /* Margin to level buttons with CKEditor top */
    text-align: right;

    button {
        margin-bottom: 10px; /* Margin when buttons are stacked */
    }
}

/* changes to bring buttons inline when original article is hidden from view */
.translate-only {

    .translate-buttons {
        margin-top: 0;
        margin-left: 10px;
        display: inline-block;
    }
}
