{% extends "wiki/base.html" %}
{% set title = _('All Tags') %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}
    <div id="document-list">
      <h1>{{ title }}</h1>
      {% if tags.object_list %}
        <ul class="documents-list cols-3">
          {% for tag in tags.object_list %}
            <li>
              <a href="{{url('wiki.tag', tag.name)}}">{{ tag.name }}</a>
            </li>
          {% endfor %}
        </ul>
        {{ tags|paginator }}
      {% else %}
        <p>{{ _('There are no tags.') }}</p>
      {% endif %}
    </div>
{% endblock %}
