{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "kbforums/base.html" %}
{# L10n: {t} is the title of the thread. {d} is the name of the document. #}
{% set title = _('Delete Post | {t} | {d} Discussion | Knowledge Base')|f(t=thread.title, d=document.title) %}
{% set crumbs = [(url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (url('wiki.discuss.threads', document.slug), _('Discuss')),
                 (url('wiki.discuss.posts', document.slug, thread.id), thread.title),
                 (None, _('Delete Post'))] %}

{% block content %}
<article id="confirm-delete" class="main">
  <h1>{{ _('Are you sure you want to delete this post?') }}</h1>
  <div class="post-to-delete">
    <label>{{ _('Author') }}</label>
    <div>{{ post.creator }}</div>
    <label>{{ _('Date') }}</label>
    <div>{{ datetimeformat(post.created, format='longdatetime') }}</div>
    <label>{{ _('Content') }}</label>
    <div class="content">{{ post.content_parsed }}</div>

    <form action="{{ url('wiki.discuss.delete_post', document.slug, thread.id, post.id) }}" method="post">
      {{ csrf() }}
      <p>
        {{ _('You are about to permanently delete this post. <strong>This cannot be undone!</strong> Are you sure you want to continue?')|safe }}
      </p>
      <a href="{{ url('wiki.discuss.posts', document.slug, thread.id) }}">{{ _('Cancel') }}</a>
      <input type="submit" value="{{ _('Delete') }}" />
    </form>
  </div>
</article>
{% endblock %}
