#translate-document,
.move-page {
    .description {
        li {
            clearfix();
            margin: 0 0 7px;
        }

        dl {
            margin: 0;
        }

        dt {
            display: inline-block;
            font-style: normal;
            font-weight: bold;
            margin-right: 10px;
        }

        dd {
            display: inline-block;
        }
    }
}


#translate-document {

    .description {
        margin: $summary-margin;
        padding: $summary-padding;
    }
}
