/* Space needed to account for the absolutely-positioned #page-buttons element. */
$space-for-buttons = 40px;

/* Space around the <summary> element. Store these to align other elements with <summary>. */
$summary-margin = 0 ($grid-spacing / 2) ($grid-spacing / 2);
$summary-padding = 5px;
