{% extends "admin/base_site.html" %}
{% load i18n admin_modify admin_static %}

{% block title %}{% trans "Load documents" %} {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url 'admin:app_list' "wiki" %}">{% trans "Wiki" %}</a> &rsaquo;
     <a href="{% url 'admin:wiki_document_changelist' %}">{% trans "Documents" %}</a> &rsaquo;
     {% trans "Load documents" %}
</div>
{% endif %}{% endblock %}

{% block content %}
<h1>{% trans "Load documents" %}</h1>

<div>
  <form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    <div>
      {% if import_file_form.errors %}
        <p class="errornote">{% trans "Please correct the error below." %}</p>
      {% endif %}
      <fieldset class="module aligned">
        {% for field in import_file_form %}
          <div class="form-row{% if field.errors %} errors{% endif %}">
        <div>
          {% if field.errors %}
          <ul class="errorlist">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
            </ul>
          {% endif %}
              <label class="required">{{ field.label }}: </label>{{ field }}
              {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
        </div>
          </div>
        {% endfor %}
      </fieldset>
      <div class="submit-row">
    <input class="default" type="submit" name="_load"
               value="{% trans "Load" %}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
