/* Author description of demo on demo details page */
.demo-more {
  font-size: 0.928em;
  color: #666;
}
.moreabout {
  padding: 20px 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.moreabout h1 {
  color: #333;
  font-size: 1.571em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
