$nav-slide-button-width = 65px;
$nav-slide-button-height = $nav-slide-button-width;

/* featured demos - navigate between demos */
#featured-demos .nav-slide {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 0;
}
#featured-demos .nav-slide a {
  position: absolute;
  z-index: 30;
  top: 219px; /* Vertically-centered on the screen. */
  width: $nav-slide-button-width;
  height: $nav-slide-button-height;
  text-indent: -999em;
  overflow: hidden;
  background: transparent url("/media/img/demos/nav-slide.png") no-repeat;
}
#featured-demos .nav-slide .next {
  right: -(($nav-slide-button-width / 2) - 10);
  background-position: 0 0;
}
#featured-demos .nav-slide .next:hover,
#featured-demos .nav-slide .next:focus,
#featured-demos .nav-slide .next:active {
  background-position: 0 -100px;
}
#featured-demos .nav-slide .prev {
  left: -(($nav-slide-button-width / 2) - 10);
  background-position: 0 -200px;
}
#featured-demos .nav-slide .prev:hover,
#featured-demos .nav-slide .prev:focus,
#featured-demos .nav-slide .prev:active {
  background-position: 0 -300px;
}


/* demobox - on demo detail page navigate between thumbnails */
#demobox .nav-slide {
  margin: 0;
  padding: 0;
  list-style: none;
}
#demobox .nav-slide a {
  opacity: 0.85;
  position: absolute;
  z-index: 30;
  top: 40%;
  width: $nav-slide-button-width;
  height: $nav-slide-button-height;
  text-indent: -999em;
  overflow: hidden;
  background: transparent url("/media/img/demos/nav-slide.png") no-repeat;
}
#demobox .nav-slide .next {
  right: -($nav-slide-button-width);
  background-position: 0 0;
}
#demobox .nav-slide .next:hover,
#featured-demos .nav-slide .next:focus,
#featured-demos .nav-slide .next:active {
  background-position: 0 -100px;
}
#demobox .nav-slide .prev {
  left: -($nav-slide-button-width);
  background-position: 0 -200px;
}
#demobox .nav-slide .prev:hover,
#featured-demos .nav-slide .prev:focus,
#featured-demos .nav-slide .prev:active {
  background-position: 0 -300px;
}

@media $media-query-tablet {
    #demobox .screenshots.multi-images .nav-slide {
        .next, .prev {
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
            display: block !important;
            outline: 0;
            background-color: transparent;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .prev {
            left: -10px !important; /* overriding the JS widget :/ */
        }

        .next {
            right: -10px !important; /* overriding the JS widget :/ */
        }
    }
}
