@require '../../includes/vars';
@require '../../includes/mixins';
@require '../../base/fonts/milk';

html {
    background: url('/media/img/bg-content.png') repeat fixed 0% 0% #f6f6f1;
}

#demostudio .center,
.section-demos .center {
    max-width: 1200px;
}

/* demos page */
.section-demos {
    min-width: 0;
    use-white-logo();

    main {
        background: transparent;
    }

    &:not(.devderby) {
        override-main-header-color(#fff);

        #main-header {

            .search-wrap {
                background-color: rgba-fallback(rgba(255, 255, 255, 0.2));

                &, input, .search-trigger {
                    color: #fff !important;
                }
            }
        }
    }

    /* dev derby landing - legacy offsets */
    &.devderby.landing {

        main {
            .center {
                max-width: 980px; /* bandaid to keep the page looking good in the redesign */
            }
        }

        .main, .sub {
            float: left;
        }

        .main {
            @extend $column-main;
        }

        .sub {
            @extend $column-strip;
        }

        #challenge-prizes {
            padding: 0;
        }
    }

    /* remove ugly button styles */
    .button, button {
        &, &:link, &:visited {
            color: #fff;
        }
        box-shadow: none;
    }

    .gallery-head {
        position: relative;
        z-index: 11;
    }
}

#demostudio.landing, #demostudio.detail {
    background-position: center 0px;
}


/* Setup the first, previous, next, and last pagination */
.gallery-foot .paging li {
    &.next a, &.prev a, &.first a, &.last a {
        width: auto;
        background-image: none;
        position: relative;

        &:hover, &:active, &:focus {
            color: #fff;
        }

        &:after {
            font-family: 'FontAwesome';
            position: absolute;
        }
    }

    &.first a, &.last a {
        text-indent: 0;
    }

    &.next a, &.last a {
        bidi-style(padding-right, $icon-margin, padding-left, 0);
    }

    &.prev a, &.first a {
        bidi-style(padding-left, $icon-margin, padding-right, 0);
    }

    &.next a:after {
        bidi-value(content, "\f105", "\f104");
    }

    &.prev a:after {
        bidi-value(content, "\f104", "\f105");
    }

    &.last a:after {
        bidi-value(content, "\f101", "\f101");
    }

    &.first a:after {
        bidi-value(content, "\f100", "\f101");
    }

    &.prev a, &.first a {
        bidi-style(padding-left, 22px, padding-right, 11px);
        &:after {
            bidi-style(left, $icon-margin, right, auto);
        }
    }

    &.next a, &.last a {
        bidi-style(padding-right, 22px, padding-left, 11px);
        &:after {
            bidi-style(right, $icon-margin, left, auto);
        }
    }
}


/* Hide tap color on mobile devices */
#featured-demos .nav-slide .prev,
#featured-demos .nav-slide .next {
    &:hover, &:active, &:focus {
        background-color: transparent;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}

/* Hide the demos categories button list until the screen gets small */
.demo-mobile-list {
    display: none;
}


/* Adjustments to demo home for mobile widths */
@media $media-query-tablet {

    #demos-head .demo-buttons {
        display: none;
    }

    .landing #demos-head {
        padding: 0;

        h1 {
            position: static;
            margin: 0 auto;
        }
    }

    #demo-main .demo-details {
        bottom: 20px;
        left: 20px;
        right: 20px;
        display: block !important; /* overrides the javascript functionality */
        padding: 6px;
        text-align: center;

        .desc, .byline {
            display: none;
        }
    }

    #featured-demos .nav-slide .prev,
    #featured-demos .nav-slide .next {
        &:hover, &:active, &:focus {
            outline: 0;
        }
    }

}

@media $media-query-mobile {

    #demostudio main > .center {
        padding-top: 0;
    }

    #demo-prev, #demo-next {
        display: none;
    }

    #featured-demos .nav-slide .prev {
        left: -15px;
    }

    #featured-demos .nav-slide .next {
        right: -15px;
    }

}

@media $media-query-small-mobile {

    .landing #demo-main {
        width: auto;
        height: auto;
        position: relative;
        left: auto;
        margin-left: 0;
        padding: 11px 0 0;
    }

    .landing #demo-main .demo-details {
        left: 20px;
        width: auto;
    }

    .landing #demo-main .preview img {
        max-width: 100%;
        height: auto;
    }

    .landing #demo-main .preview {
        width: 98%;
        height: 98%;
    }

    .landing #search-browse {
        #demo-tags, .demo-search, b {
            display: block;
            float: none;
            text-align: center;
        }

        #demo-tags, .demo-search {
            width: auto;
        }

        p {
            margin-bottom: 12px;
        }

        b {
            transform: none;
        }
    }

    .landing #featured-demos {
        height: auto;
        margin-bottom: 20px;
    }

    .section-demos-home .demo-mobile-list {
        display: block;
    }

    #demo-tags .button, .demo-mobile-list .button {
        margin-top: 12px;
        font-size: 1.2em !important;
    }

    .section-demos-home {
        .demo-mobile-list {
            display: block;
        }
        .demo-landing-gallery {
            display: none;
        }
    }

    #search-browse #demo-tags {
        text-align: center;
    }
}

.demos-terms-buttons {
    margin: $grid-spacing 0;
}
