@require 'includes/vars';

/* Submission Form */
#page-head.form {
  padding: 20px 30px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
.section-demos .submission .section {
  padding: 3.75em 0 0;
  border-top: 5px double rgba(100,120,130,0.25);
}
.section-demos .submission .section > legend b {
  margin-top: 18px;
  margin-left: 20px;
  font: 200 1.714em/1 $heading-font-family;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.section-demos .submission .section.notitle {
  padding-top: 18px;
}
#demo-submit {
    textarea {
        width: 610px;
    }

    .fm-submit button {
        color: #fff;
    }
}
