.mdn-cta-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 190px;
    text-align: center;
    z-index: 99;

    @media #{$mq-small-desktop-and-up} {
        height: 130px;
    }

    .slab-text {
        background-color: #222;
        color: #fff;
        padding: 0 10px 0 20px;
        width: fit-content;
    }

    .mdn-cta-content {
        @media #{$mq-small-desktop-and-up} {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100%;
        }
    }

    .mdn-cta-content-container {
        text-align: left;

        @media #{$mq-small-desktop-and-up} {
            flex-basis: 50%;
        }
    }

    .mdn-cta-title {
        position: relative;
        display: inline-block;
        margin: 0;
        font-weight: normal;
    }

    .mdn-cta-copy {
        margin: 12px 0;
        @include set-font-size(21px);
    }

    .mdn-cta-button-container {
        position: relative;

        @media #{$mq-small-desktop-and-up} {
            margin: 0;
            flex-basis: 50%;
        }
    }

    .mdn-cta-button,
    .mdn-cta-button:link,
    .mdn-cta-button:visited {
        display: inline-block;
        background-color: #3143e2;
        color: #fff;
        padding: 10px;
        border-radius: 56px;
        text-decoration: none;
        @include set-font-size(21px);
        font-weight: bold;
        width: 70%;

        @media #{$mq-tablet-and-up} {
            padding: 15px;
            max-width: 50%;
        }
    }

    .mdn-cta-close {
        position: absolute;
        top: 10px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

html[dir='rtl'] {
    .mdn-cta-content-container {
        @media #{$mq-small-desktop-and-up} {
            text-align: right;
        }
    }

    .mdn-cta-close {
        left: 20px;
    }
}
