@import '../../minimalist/vars/vars-color-palette.scss';

.cta-background-default {
    background-color: #333;
    color: #fff;

    .icon-close {
        fill: #fff;
    }
}

.cta-background-dino {
    background: #bfe7f9
        url('https://developer.mozilla.org/static/img/hero-dino-blank.df6798604b72.png')
        100% 0 no-repeat;

    h2 {
        color: #222;
    }
}

.cta-background-linear {
    background-image: linear-gradient(to right, #83cff3, #ebf8e1);

    .icon-close {
        fill: $neutral-600;
    }
}
