@import '../../includes/vars';
@import '../../minimalist/vars/vars-color-palette';
@import '../../includes/mixins';
@import 'vars';

.developer-needs {
    .mdn-cta-content {
        background: $primary-200 url('../../../img/home-masthead-background.svg') 40% 0 no-repeat;
        color: $neutral-100;
        padding-top: 16px;
        box-shadow: 5px 0 9px #c7c7c7;
        height: 100%;

        @media #{$mq-small-desktop-and-up} {
            padding-top: 0;
        }
    }

    .mdn-cta-content-container {
        margin: 0 auto;
        max-width: 70%;
        text-align: center;

        @media #{$mq-tablet-and-up} {
            max-width: 90%;
        }

        @media #{$mq-small-desktop-and-up} {
            margin: unset;
            padding: 20px;
            padding-left: 45px;
            max-width: unset;
            text-align: left;
        }

        @media #{$mq-large-desktop-and-up} {
            @include bidi(((padding-left, 120px, padding-right, 120px),));
        }
    }

    .mdn-cta-copy {
        @include set-font-size(16px);

        @media #{$mq-small-desktop-and-up} {
            @include set-font-size(18px);
            line-height: 1.3;
            max-width: 80%;
        }

        @media #{$mq-large-desktop-and-up} {
            @include set-font-size(21px);
        }
    }

    .mdn-cta-button {
        @media #{$mq-small-desktop-and-up} {
            margin-top: 35px;
        }
    }

    .mdn-cta-button,
    .mdn-cta-button:link,
    .mdn-cta-button:visited {
        background-color: $neutral-100;
        color: $neutral-600;
        border: 2px solid $neutral-600;
        border-radius: 6px;
    }

    .mdn-cta-close {
        svg {
            fill: $neutral-100;
        }
    }
}
