@import '../../includes/vars';

.mdn-wiki-notice {
    display: flex;
    flex-flow: column;
    background-color: $blue-vdark;
    color: #fff;
    padding: 10px 10px 10px 20px;

    h3 {
        margin: 0;
        line-height: 1.3;
        font-weight: normal;
    }

    p {
        margin-bottom: 0;
    }

    a:link,
    a:visited {
        color: #fff;
        text-decoration: underline;
    }
}
