.contribution-page-header {
    min-width: 320px;
    overflow: hidden;
    position: relative;

    .column-container {
        box-sizing: border-box;
        margin: 0 auto;
        max-height: 100%;
        max-width: $payment-header-max-width;
        padding: $payment-header-padding;
        position: relative;
        transition: padding .3s ease;

        > .column-half {
            box-sizing: border-box;

            .container {
                margin: 0 auto;
                max-width: $payment-column-max-width;
            }
        }

        h1 {
            @extend %highlight;
            @include set-font-size($h2-font-size);
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 0;
        }

        @media #{$mq-mobile-and-down} {
            padding: $payment-header-padding-mobile;
        }
    }

    /* Mozilla dino background image. */
    .backdrop-image {
        display: none;

        @media #{$mq-small-desktop-and-up} {
            bottom: -150px;
            left: auto;
            position: absolute;
            right: 0;
            z-index: -1;
        }
    }
}

.payment-terms-container {
    margin: 0 auto;
    padding: 16px 86px;
    max-width: 1320px;
}

.contributions-page {

    @media #{$mq-small-desktop-and-up} {
        background: url('/static/img/hero-dino-blank.png') no-repeat 10% 1%;
    }

    .section {
        display: flex;
        position: relative;
        margin: 0 auto;
        padding: 56px 25px;
        max-width: 1160px;

        .sub-section {
            margin-bottom: 2em;
        }

        @media #{$mq-mobile-and-down} {
            display: block;
            h2,
            .faqs {
                display: block;

                .faq {
                    margin: 30px 0;
                }
            }
        }
    }

    header {
        flex: 30%;
        z-index: 99;

        h2 {
            border-bottom: 2px solid $text-color;
        }
    }

    .faqs {
        flex: 60%;

        a {
            border-bottom: 1px solid $payment-faq-base-color;
            color: $payment-faq-base-color;
            padding-bottom: 1px;
            text-decoration: none;
        }

        .faq {
            background-color: #fff;
            border: 2px solid $text-color;
            border-radius: $payment-faq-border-radius;
            margin: 2em;
            padding: 48px;
            position: relative;

            ul {
                list-style-type: initial;
                padding-left: 1em;
            }

            p:last-child {
                margin-bottom: 0;
            }

            .faq-number {
                background: #333;
                box-sizing: border-box;
                color: #fff;
                font-family: $heading-font-family;
                font-size: 36px;
                font-weight: 500;
                height: 45px;
                left: -22px;
                line-height: 40px;
                padding: 0;
                position: absolute;
                text-align: center;
                top: 42px;
                width: 45px;
            }

            .small {
                display: block;
                font-weight: 700;
            }
        }

        h3 {
            font-size: 1.8em;
            font-weight: normal;
            margin-top: 0;
        }
    }
}
