@import '../../includes/vars';
@import '../../minimalist/vars/_vars-color-palette.scss';
@import '../../minimalist/atoms/buttons.scss';

@import '../../minimalist/components/accountsettings/subscription.scss';

.subheader-container {
    min-width: 320px;
    overflow: hidden;
    position: relative;

    .column-container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-height: 100%;
        max-width: $payment-header-max-width;
        padding: $payment-header-padding-mobile;
        position: relative;
        transition: padding .3s ease;

        @media #{$mq-tablet-and-up} {
            min-height: 200px;
            padding: $payment-header-padding;
        }

        > .column-half {
            box-sizing: border-box;

            .container {
                margin: 0 auto;
                max-width: $payment-column-max-width;
            }
        }

        h1 {
            @extend %highlight;
            @include set-font-size($h2-font-size);
            margin-bottom: 20px;

            &:only-child {
                margin-bottom: 0;
            }
        }

        h1 + h2 {
            font-size: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}

.contributions-page {
    &.faq {
        @media #{$mq-tablet-and-up} {
            background: url('/static/img/hero-dino-blank.png') no-repeat 10% 1%;
        }
    }

    // faq and thank you pages have two column layouts
    &.faq,
    &.thank-you {
        section {
            @media #{$mq-tablet-and-up} {
                display: flex;
            }
        }
    }

    .lead-in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $neutral-500;
        border-bottom: 1px solid $neutral-500;
        padding: 24px 10px 24px;
        max-width: 670px;

        p {
            margin-bottom: 0;
        }
    }

    section {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 56px 25px;
        max-width: 1160px;

        .sub-section {
            margin-bottom: 2em;
        }

        h2:first-child {
            margin-top: 0;
        }

        > ul,
        > ol {
            flex: 60%;

            > li {
                background-color: #fff;
                border: 2px solid $text-color;
                border-radius: $payment-faq-border-radius;
                margin: 30px 0;
                padding: 48px;
                position: relative;

                > ul {
                    list-style-type: initial;
                    padding-left: 1em;
                }

                p:last-child {
                    margin-bottom: 0;
                }

                .faq-number {
                    background: #333;
                    box-sizing: border-box;
                    color: #fff;
                    font-family: $heading-font-family;
                    font-size: 36px;
                    font-weight: 500;
                    height: 45px;
                    left: -22px;
                    line-height: 40px;
                    padding: 0;
                    position: absolute;
                    text-align: center;
                    top: 42px;
                    width: 45px;
                }

                .small {
                    display: block;
                    font-weight: 700;
                }
            }

            h3 {
                font-size: 1.8em;
                font-weight: normal;
                margin-top: 0;
            }

            @media #{$mq-tablet-and-up} {
                > li {
                    margin: 32px;
                }
            }
        }


        > ul {
            > li {
                border: none;
                padding: 24px 48px 48px;
            }

            @media #{$mq-tablet-and-up} {
                > li {
                    margin: 0 32px;
                }
            }
        }

        > form,
        .success-msg {
            flex: 60%;
            box-sizing: border-box;
            padding: 24px 0 48px;
            display: flex;
            flex-direction: column;

            @media #{$mq-tablet-and-up} {
                padding-left: 80px;
                padding-right: 80px;
            }

            input {
                height: 40px;
                border-width: 1px;
                border-radius: $payment-faq-border-radius;
            }

            .form-footer {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                button {
                    // this keeps button flush right
                    margin-left: auto;
                    min-width: auto;
                }
            }
        }
    }

    header {
        flex: 30%;

        h2 {
            border-bottom: 2px solid $text-color;
        }
    }

    .alert {
        clear: both;
        padding: 20px;

        &.error {
            background: $red-light;
            border: 1px solid $brand-red;
        }

        &.success {
            background: $green-light;
            border: 1px solid  $brand-green;
            color: $brand-green;
        }
    }
}
