$contribution-background-colors: #83cff3,#ebf8e1;
$contribution-background-gradient: linear-gradient(to right, nth($contribution-background-colors, 1) , nth($contribution-background-colors, 2));

$contribution-form-input-height: 56px;
$contribution-form-input-spacing: 18px;
$contribution-form-button-color: #3143e2;
$contribution-form-backdrop-color: #ffffff;
