/* Width of page containers */
$payment-header-max-width: 1320px;
$payment-column-max-width: 540px;

/* Outside padding on the header container */
$payment-header-padding: 36px 56px;
$payment-header-padding-mobile: 12px;

// Banner gradient colors
$payment-background-colors: #83cff3, #ebf8e1;
$payment-background-gradient: linear-gradient(
    to right,
    nth($payment-background-colors, 1),
    nth($payment-background-colors, 2)
);

/* FAQs */
$payment-faq-base-color: #3143e2;
$payment-faq-border-radius: 4px;
