@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.contribution-banner {
    background-image: $contribution-background-gradient;
    min-width: 320px;
    overflow: hidden;
    position: relative;

    // Additional styling for when the banner acts a popover and is fixed to the
    // bottom of the viewport.
    &.contribution-popover {
        bottom: 0;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
        position: fixed;
        width: 100%;
        height: 110px;
        transition: height .5s;
        z-index: 99;

        .form-footer {
            margin-top: 0;
            text-align: center;
        }

        &.expanded {
            height: 480px;
        }

        &.expanded-extend {
            height: 580px;
        }

        &.expanded,
        &.expanded-extend {
            // Locks position of Pay button and payment options while the
            // popover animates up and down.
            .contribution-form {
                position: static;
            }

            .form-footer {
                margin-top: $grid-spacing;
            }

            .payments-form-container {
                padding: 26px;
            }
        }

        &.is-expanding {
            h4,
            .body,
            .cta-link,
            .payments-switch,
            .form-group {
                animation-duration: .6s;
                animation-name: fadeIn;
            }

            .payments-form-container {
                padding: 26px;
            }
        }

        @media #{$mq-mobile-and-down} {
            // Make sure the banner popover never shows on mobile.
            display: none;
        }
    }

    @media #{$mq-tablet-and-down} {
        .column-half {
            width: 100%;
        }
    }

    .contribution-popover-actions {
        position: absolute;
        right: 10px;
        text-align: right;
        top: 10px;
        z-index: 10;

        button {
            background: none;
            border: none;
            margin-right: 10px;
            padding: 0;
            vertical-align: middle;

            &:last-child {
                margin-right: 0;
            }

            > svg {
                height: 30px;
                width: 30px;
            }

            &:last-of-type > svg {
                height: 20px;
                width: 20px;
            }
        }
    }

    h2 {
        margin: 0;
    }

    .column-container {
        box-sizing: border-box;
        margin: 0 auto;
        max-height: 100%;
        max-width: 1320px;
        padding: 0;
        position: relative;

        > .column-half {
            padding: 26px;
            box-sizing: border-box;
            .container {
                max-width: 540px;
                margin: 0 auto;
            }
        }

        @media #{$mq-mobile-and-down} {
            padding: 20px 0;
        }
    }

    .payments-form-container {
        background: $contribution-form-backdrop-color;
        border-radius: 35px;
        max-width: 540px;
        padding: 10px;
        transition: padding .3s ease-in-out;
        margin: 0 auto;

        @media #{$mq-mobile-and-up} {
            padding: 24px;
        }
        @media #{$mq-small-desktop-and-up} {
            padding: 14px;
        }
        @media #{$mq-large-desktop-and-up} {
            padding: 28px;
        }
    }

    .payments-switch {
        border: 2px solid #333;
        border-radius: 50px;
        box-sizing: border-box;
        height: 56px;

        > a,
        > button {
            background: none;
            border: none;
            border-radius: 50px;
            color: #333;
            display: inline-block;
            font-weight: bold;
            height: 100%;
            line-height: 3.33;
            margin-right: -3px; // ensure % fits
            overflow: hidden;
            padding: 0;
            text-decoration: none;
            text-align: center;
            vertical-align: top;
            width: 50%;
            &.active {
                background: #333;
                color: #fff;
            }
        }
    }
    .column {
        position: relative;
    }

    .subtext {
        margin: 2em auto;
        max-width: 600px;
    }

    // Mozilla dino background image.
    .backdrop-image {
        bottom: -150px;
        left: auto;
        position: absolute;
        right: 0;
        z-index: -1;
    }

    .hide-collapsed {
        display: inherit;
    }

    .hide-expand {
        display: none;
    }

    &.is-collapsed {
        // Hide all unessesary content on the collapsed CTA.
        h4,
        .body,
        .cta-link,
        .hide-collapse,
        .payments-switch,
        .form-group {
            display: none;
            opacity: 0;
        }

        .hide-expand {
            display: inherit;
        }
    }

    &.is-collapsing {
        h4,
        .body,
        .cta-link,
        .hide-collapse,
        .payments-switch,
        .form-group {
            animation-duration: .6s;
            animation-name: fadeOut;
        }

        .payments-form-container {
            padding: 10px;
        }
    }

    .cta-link {
        color: $text-color;
        display: block;

        &:first-of-type {
            margin-bottom: 1em;
        }
    }
}

@media #{$mq-mobile-and-down} {
    .contribution-banner {

        .contribute-lead-in {
            text-align: center;
        }

        .contribution-form {
            margin: 0 auto;
            width: 100%;
        }
    }
}


.payment-form-button,
.form-footer .payment-form-button {
    background-color: $contribution-form-button-color;
    border-radius: $contribution-form-input-height;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-weight: normal;
    height: $contribution-form-input-height;
    line-height: $contribution-form-input-height;
    min-width: 190px;
    padding: 0;
    text-align: center;
    white-space: nowrap;

    &:hover {
        background-color: darken($contribution-form-button-color, 5%);
    }

    svg {
        margin-left: 1em;
        vertical-align: middle;
    }

    .payment-details {
        display: none;
        line-height: 0;
        padding: 10px;
        vertical-align: top;

        @media #{$mq-mobile-and-down} {
            display: inline-block;
            margin-top: -4px;
            padding: 0;
            position: relative;
            vertical-align: middle;

            > img {
                max-height: 24px;
            }
        }
    }
}
