/*
Legend
********************************************************************** */

.bc-legend {
    margin-bottom: $grid-spacing;
    margin-top: $grid-spacing;

    dl {
        display: grid;
        grid-template-columns: 30px 1fr;
    }

    dt {
        display: block;
        margin: 0 0 ($bc-grid-spacing / 2) 0;
    }

    dd {
        display: block;
        margin: 0 $bc-grid-spacing ($bc-grid-spacing / 2) $bc-grid-spacing;
    }
}

@media #{$mq-tablet-and-up} {
    .bc-legend {
        dl {
            grid-template-columns: 30px 1fr 30px 1fr;
        }
    }
}
