.bc-browsers {
    .bc-head-txt-label {
        display: inline-block;
        bottom: 0;
        margin: 0 0 0 10px;
        @include bidi(((margin-bottom, 20px, 40px),));
        padding: 0;
        width: 20px;
        height: 20px;
        @include bidi(((transform, rotate(-90deg), rotate(90deg)),));
        @include bidi(((transform-origin, left, center),));
        @include set-font-size($small-bump-font-size);
        text-align: left;
        white-space: nowrap;

        &:before {
            position: absolute;
            @include bidi(((top, 2px, 5px),));
            @include bidi(((left, -28px, 28px),));
            display: inline-block;
            content: '';
            background-repeat: no-repeat;
            @include bidi(((transform, rotate(90deg), rotate(-90deg)),));
        }
    }

    .bc-head-icon-chrome:before,
    .bc-head-icon-chrome_android:before {
        @include set-icon($path-to-svg-browser-icons + 'chrome.svg', 20px, 24px);
    }

    .bc-head-icon-edge:before,
    .bc-head-icon-edge_mobile:before {
        @include set-icon($path-to-svg-browser-icons + 'edge.svg', 20px, 24px);
    }

    .bc-head-icon-firefox:before,
    .bc-head-icon-firefox_android:before {
        @include set-icon($path-to-svg-browser-icons + 'firefox.svg', 20px, 24px);
    }

    .bc-head-icon-ie:before {
        @include set-icon($path-to-svg-browser-icons + 'internet-explorer.svg', 20px, 24px);
    }

    .bc-head-icon-nodejs:before {
        @include set-icon($path-to-svg-platform-icons + 'nodejs.svg', 20px, 24px);
    }

    .bc-head-icon-opera:before,
    .bc-head-icon-opera_android:before {
        @include set-icon($path-to-svg-browser-icons + 'opera.svg', 20px, 24px);
    }

    .bc-head-icon-safari:before,
    .bc-head-icon-safari_ios:before {
        @include set-icon($path-to-svg-browser-icons + 'safari.svg', 20px, 24px);
    }

    .bc-head-icon-webview_android:before {
        @include set-icon($path-to-svg-platform-icons + 'android.svg', 18px, 22px);
        left: -23px;
    }

    .bc-head-icon-samsunginternet_android:before {
        @include set-icon($path-to-svg-browser-icons + 'samsung-internet.svg', 20px, 24px);
    }
}

.bc-platforms {
    span {
        @include visually-hidden;
    }

    th:before {
        display: inline-block;
        content: '';
        background-repeat: no-repeat;
        background-size: 24px;
        margin-top: 10px;
        width: 24px;
        height: 24px;
    }

    .bc-platform-desktop:before {
        @include set-icon($path-to-svg-platform-icons + 'desktop.svg', 24px, 24px);
    }

    /* mobile icon is vertical, therefore needs
       different width, height and margin values */
    .bc-platform-mobile:before {
        @include set-icon($path-to-svg-platform-icons + 'mobile.svg', 16px, 32px);
        margin-top: 0;
    }

    .bc-platform-server:before {
        @include set-icon($path-to-svg-platform-icons + 'server.svg', 24px, 24px);
    }
}

/*
Icons denooting complicatons with support (footnote, altname, prefix, etc)
********************************************************************** */

.ic-altname:before {
    @include set-icon($path-to-svg-bc-general-icons + 'alternate.svg', 12px, 22px);
}

.ic-footnote:before {
    @include set-icon($path-to-svg-bc-general-icons + 'asterisk.svg', 10px, 10px);
}

.ic-prefix:before {
    content: '-x-';
    @include set-font-size($base-font-size);
    line-height: 1;
    font-family: sans-serif;
    font-style: normal;
}

.ic-disabled:before {
    @include set-icon($path-to-svg-general-icons + 'flag.svg', 24px, 24px);
}

.ic-non-standard:before {
    @include set-icon($path-to-svg-notification-icons + 'exclamation-triangle.svg');
}

.ic-experimental:before {
    @include set-icon('../general/flask.svg');
}

.ic-history:before {
    @include set-icon($path-to-svg-arrow-icons + 'caret-down.svg', 9px, 13px);
}

.ic-deprecated:before {
    @include set-icon($path-to-svg-emoji-icons + 'thumbs-down.svg');
}

/* some flex alignment for icons inside the legend */
.bc-legend {
    .bc-supports {
        margin-bottom: 25px;
    }

    .ic-altname,
    .ic-deprecated,
    .ic-disabled,
    .ic-experimental,
    .ic-footnote,
    .ic-non-standard,
    .ic-prefix {
        display: flex;
        justify-content: center;
    }
}

.bc-icons {
    position: relative;
    z-index: 12; /* raise z-index so tool tips still appear even if overlapping history link */
    display: inline-block;

    abbr {
        margin: 0 2px;
    }

    a {
        text-decoration: none;
    }
}

@media #{$mq-small-desktop-and-up} {
    .bc-icons {
        float: right;
    }
}
