/*
Variables to support compat tables
********************************************************************** */

$android-browser: 'android';
$chrome-android: 'chrome_for_android';
$chrome-desktop: 'chrome_desktop';
$firefox-android: 'firefox_android';
$firefox-desktop: 'firefox_desktop';
$firefox-fxos: 'firefox_os';
$ie-desktop: 'ie_desktop';
$ie-mobile: 'ie_mobile';
$opera-desktop: 'opera_desktop';
$opera-mobile: 'opera_mobile';
$opera-mini: 'opera_mini';
$safari-desktop: 'safari_desktop';
$safari-ios: 'safari_ios';

/* not using site default colours, to increase difference between colours for
   colour blind users */
$bc-colors: (
    yes: #e4f8e1,
    no: #f8e1e1,
    partial: $yellow-light,
    unknown: $grey-light
);

/* returns the appropriately coloured down caret based on the support status */
$bc-icon-caret-colors: (
    yes: url('data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2U0ZjhlMTsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMTYgMjgiPjxwYXRoIGQ9Ik0xNiAxMWEuOTkuOTkgMCAwIDEtLjI5Ny43MDNsLTcgN0M4LjUxNiAxOC44OSA4LjI2NSAxOSA4IDE5cy0uNTE2LS4xMDktLjcwMy0uMjk3bC03LTdBLjk5Ni45OTYgMCAwIDEgMCAxMWMwLS41NDcuNDUzLTEgMS0xaDE0Yy41NDcgMCAxIC40NTMgMSAxeiIvPjwvc3ZnPg=='),
    no: url('data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2Y4ZTFlMTsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMTYgMjgiPjxwYXRoIGQ9Ik0xNiAxMWEuOTkuOTkgMCAwIDEtLjI5Ny43MDNsLTcgN0M4LjUxNiAxOC44OSA4LjI2NSAxOSA4IDE5cy0uNTE2LS4xMDktLjcwMy0uMjk3bC03LTdBLjk5Ni45OTYgMCAwIDEgMCAxMWMwLS41NDcuNDUzLTEgMS0xaDE0Yy41NDcgMCAxIC40NTMgMSAxeiIvPjwvc3ZnPg=='),
    partial: url('data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2ZmZjNkNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTYiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAxNiAyOCI+PHBhdGggZD0iTTE2IDExYS45OS45OSAwIDAgMS0uMjk3LjcwM2wtNyA3QzguNTE2IDE4Ljg5IDguMjY1IDE5IDggMTlzLS41MTYtLjEwOS0uNzAzLS4yOTdsLTctN0EuOTk2Ljk5NiAwIDAgMSAwIDExYzAtLjU0Ny40NTMtMSAxLTFoMTRjLjU0NyAwIDEgLjQ1MyAxIDF6Ii8+PC9zdmc+'),
    unknown: url('data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2VlZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTYiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAxNiAyOCI+PHBhdGggZD0iTTE2IDExYS45OS45OSAwIDAgMS0uMjk3LjcwM2wtNyA3QzguNTE2IDE4Ljg5IDguMjY1IDE5IDggMTlzLS41MTYtLjEwOS0uNzAzLS4yOTdsLTctN0EuOTk2Ljk5NiAwIDAgMSAwIDExYzAtLjU0Ny40NTMtMSAxLTFoMTRjLjU0NyAwIDEgLjQ1MyAxIDF6Ii8+PC9zdmc+')
);

$bc-color-text: $bg-dark;
$bc-border-color: $bg-dark;
$bc-border-width-thin: 1px;
$bc-border-width-thick: 2px;
$bc-support: yes, no, partial, unknown;
$bc-grid-spacing: 10px;
$bc-mobile-browser-width: 220px;

$table-types: (
	web: (
		size: 12,
		feature-name-width: 200px,
		platform-border: (8)
	),
	js: (
		size: 13,
		feature-name-width: 200px,
		platform-border: (8, 14)
	),
	ext: (
		size: 5,
		feature-name-width: 300px,
		platform-border: (7)
	)
);
