/*
Variables to support compat tables
********************************************************************** */

$android-browser: 'android';
$chrome-android: 'chrome_for_android';
$chrome-desktop: 'chrome_desktop';
$firefox-android: 'firefox_android';
$firefox-desktop: 'firefox_desktop';
$firefox-fxos: 'firefox_os';
$ie-desktop: 'ie_desktop';
$ie-mobile: 'ie_mobile';
$opera-desktop: 'opera_desktop';
$opera-mobile: 'opera_mobile';
$opera-mini: 'opera_mini';
$safari-desktop: 'safari_desktop';
$safari-ios: 'safari_ios';

/* not using site default colours, to increase difference between colours for
   colour blind users */
$bc-colors: (
    yes: #e4f8e1,
    no: #f8e1e1,
    partial: $yellow-light,
    unknown: $grey-light
);

$bc-color-text: $bg-dark;
$bc-border-color: $bg-dark;
$bc-border-width-thin: 1px;
$bc-border-width-thick: 2px;
$bc-support: yes, no, partial, unknown;
$bc-grid-spacing: 10px;
$bc-mobile-browser-width: 220px;

$table-types: (
	web: (
		size: 13,
		feature-name-width: 200px,
		platform-border: (8)
	),
	js: (
		size: 14,
		feature-name-width: 200px,
		platform-border: (8, 15)
	),
	ext: (
		size: 5,
		feature-name-width: 300px,
		platform-border: (6)
	)
);
