.bc-browser-name {
    display: none;
}

/*
Hide icons and show browser name in mobile view
********************************************************************** */

@media #{$mq-mobile-and-down} {
    .bc-browser-name {
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        padding-left: 6px;
        height: 25px;
        width: $bc-mobile-browser-width;
        color: $text-color;
        white-space: nowrap;
    }
}
