/*
Icons in mobile view
====================================================================== */

@media $media-query-small-mobile {

    [class*='bc-browser-']:before,
    [class*='bc-browser-']:after {
        position: absolute;
        top: 8px;
        height: 25px;
        width: 25px;
        font-family: 'compat-icons';
        speak: none;
        color: $text-color;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-align: center;
        text-transform: none;
    }

    /*
    vendor icons
    ----------------------------------------------------------------------  */

    [class*='bc-browser-']:before{
        left: 30px;
    }

    .bc-browser-{$android-browser}:before {
        content: '\e9ca';
    }
    .bc-browser-{$chrome-android}:before,
    .bc-browser-{$chrome-desktop}:before {
        content: '\eae5';
    }
    .bc-browser-{$firefox-android}:before,
    .bc-browser-{$firefox-desktop}:before,
    .bc-browser-{$firefox-fxos}:before {
        content: '\eae6';
    }
    .bc-browser-{$ie-desktop}:before,
    .bc-browser-{$ie-mobile}:before {
        content: '\eae7';
    }
    .bc-browser-{$opera-desktop}:before,
    .bc-browser-{$opera-mobile}:before,
    .bc-browser-{$opera-mini}:before {
        content: '\eae8';
    }
    .bc-browser-{$safari-desktop}:before,
    .bc-browser-{$safari-ios}:before {
        content: '\e94a';
    }

    /*
    medium icons
    ----------------------------------------------------------------------  */

    [class*='bc-browser-']:after {
        left: 2px;
    }

    .bc-browser-{$chrome-desktop}:after,
    .bc-browser-{$firefox-desktop}:after,
    .bc-browser-{$ie-desktop}:after,
    .bc-browser-{$opera-desktop}:after,
    .bc-browser-{$safari-desktop}:after {
        content: '\f108';
    }

    .bc-browser-{$android-browser}:after,
    .bc-browser-{$chrome-android}:after,
    .bc-browser-{$firefox-android}:after {
        content: '\f17b';
    }

    .bc-browser-{$ie-mobile}:after,
    .bc-browser-{$opera-mobile}:after,
    .bc-browser-{$safari-ios}:after {
        content: '\f10a';
    }
    .bc-browser-{$opera-mini}:after {
        content: '\f10b';
    }

    .bc-browser-{$firefox-fxos}:after {
        content: '\e600';
    }

}
