/*
History-link
********************************************************************** */

.bc-history-link {
    /* override MDN defaults */
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: $text-color;
    padding: 0;

    /* button styles */
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 11;
    display: block;
    width: 100%;
    height: 11px;
    margin-top: -10px;
    clear: both;
    text-align: center;
    @include set-font-size(12px);
    border-top: 1px solid rgba($bc-border-color, .3);
}

.bc-history-link i {
    position: relative;
    top: -4px;
}

/*
active styles
====================================================================== */

.active .bc-history-link {
    z-index: 21;
    margin-top: -10px;
}

.active .bc-history-link,
td[tabindex]:hover .bc-history-link,
td[tabindex]:focus .bc-history-link {
    background-color: $bc-border-color;
    border-top: 1px solid rgba($bc-border-color, 1);
}

@each $support in $bc-support {
    .active.bc-supports-#{$support} .bc-history-link,
    td[tabindex].bc-supports-#{$support}:hover .bc-history-link,
    td[tabindex].bc-supports-#{$support}:focus .bc-history-link {
        color: map-get($bc-colors, $support);
    }
}


/*
mobile adjustments
====================================================================== */

@media #{$mq-mobile-and-down} {
    .bc-history-link {
        width: calc(100% - 60px); /* falls back to 100% on non supporting browsers */
        height: 20px;
        margin-top: -20px;
        @include set-font-size(16px);
    }

    .bc-history-link i {
        top: 0;
        margin: 0;
    }

    .active .bc-history-link {
        margin-top: -18px;
    }
}
