/*
History
====================================================================== */

.bc-history {
    z-index: 20;
    box-sizing: border-box;
    border-top: 4px solid $bc-color-border;
    border-bottom: 3px solid $bc-color-border;
    padding-left: 200px;
    overflow: hidden;
    cursor: default;
}

    .bc-table .bc-history{
        position: absolute;
        top: 100%;
        display: none;
        visibility: hidden;
        box-shadow: inset 200px 0 0 0 $bc-color-border;
    }

    .active .bc-history {
        display: block;
        visibility: visible;
        height: 0;
    }

    /* creates a block to fill the space under the absolutely
       positioned .bc-history-button so text doesn't overlap
       the button */
    .bc-history:before {
        content: '';
        display: block;
        height: 45px;
        width: 60px;
        float: right;
    }

.bc-history-head {
    padding-top: $bc-grid-spacing;
    padding-left: $bc-grid-spacing;
    margin-bottom: $bc-grid-spacing;
    @include set-font-size($base-bump-font-size);
    text-align: left;
}

.bc-history dl {
    text-align: left;
    margin: $bc-grid-spacing;
    margin-left: 160px;
}

.bc-history dt {
    float: left;
    clear: left;
    max-width: 120px;
    margin-left: -150px;
}

.bc-history dt,
.bc-history dd {
    margin-top: 30px;
}

.bc-history dd {
    min-height: 1.2em;
    margin-bottom: 0; //override .text-content defaults
    padding-top: 4px;
    padding-left: 0; //override .text-content defaults
    padding-bottom: $bc-grid-spacing;
    font-weight: normal; //override .text-content defaults
}

.bc-history dl > dt:first-child,
.bc-history dl > dt:first-child + dd,
.bc-history dd + dd {
    margin-top: 0;
}

.bc-history-button {
    position: absolute;
    top: $bc-grid-spacing;
    right: $bc-grid-spacing;
}

.bc-supports {
    display: inline-block;
    position: relative;
    border: 1px solid $bc-color-border;
    padding: 3px;
    min-width: 120px;
    text-align: center;
}

.bc-legend .bc-supports {
    display: inline-block;
    min-width: 30px;
}


@mixin bc-history-tablet-display() {
    .bc-table .bc-history {
        padding-left: 0;
        box-shadow: none;
    }
}

@media all and (min-width: 769px) {
    .wiki-right-present.wiki-left-present {
        @include bc-history-tablet-display()
    }
}

@media #{$media-query-mobile} {
    @include bc-history-tablet-display()
}

@media #{$media-query-small-mobile} {

    .bc-history dl {
       margin-left: $bc-grid-spacing;
    }

    .bc-history dt {
        margin-top: $bc-grid-spacing;
        margin-left: 0;
        margin-bottom: $bc-grid-spacing;
    }

    .bc-history dd {
        clear: left;
        min-height: 0;
    }
}
