/*
Icons denooting complicatons with support (footnote, altname, prefix, etc)
********************************************************************** */

.bc-icons {
    position: relative;
    z-index: 12; /* raise z-index so tool tips still appear even if overlapping history link */
    display: inline-block;

    abbr {
        margin: 0 2px;
    }

    a {
        text-decoration: none;
    }
}

@media #{$mq-small-desktop-and-up} {
    .bc-icons {
        float: right;
    }
}
