/*
Supports colouring
====================================================================== */

.bc-supports-yes,
.bc-supports-partial,
.bc-supports-no,
.bc-supports-unknown,
.bc-table .bc-history {
    color: $bc-color-border;
}

.bc-supports-yes a,
.bc-supports-partial a,
.bc-supports-no a,
.bc-supports-unknown a {
    color: $bc-color-border;
    text-decoration: underline;
}

.bc-supports-yes,
.bc-supports-yes .bc-history {
    background-color: $bc-color-yes;
}

.bc-supports-partial,
.bc-supports-partial .bc-history {
    background: $bc-color-partial;
}
.bc-supports-partial {
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.15) 4px, transparent 4px, transparent 65px, rgba(0,0,0,0.15) 65px, rgba(0,0,0,0.15) 75px, transparent 75px, transparent 136px, rgba(0,0,0,0.15) 136px, rgba(0,0,0,0.15) 146px, transparent 146px);
    background-size: 100px 100px;
    background-position: 50% 50%;
}

.bc-supports-no,
.bc-supports-no .bc-history {
    background-color: $bc-color-no;
}

.bc-supports-no {
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.15) 4px, transparent 4px, transparent 65px, rgba(0,0,0,0.15) 65px, rgba(0,0,0,0.15) 75px, transparent 75px, transparent 136px, rgba(0,0,0,0.15) 136px, rgba(0,0,0,0.15) 146px, transparent 146px), linear-gradient(to bottom left, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.15) 4px, transparent 4px, transparent 65px, rgba(0,0,0,0.15) 65px, rgba(0,0,0,0.15) 75px, transparent 75px, transparent 136px, rgba(0,0,0,0.15) 136px, rgba(0,0,0,0.15) 146px, transparent 146px);
    background-size: 100px 100px, 100px 100px;
    background-position: 50% 50%, 50% 50%;
}

.bc-supports-unknown,
.bc-supports-unknown .bc-history {
    background-color: $bc-color-unknown;
}

