/*
Custom icon font for compat tables
********************************************************************** */

@import '../../base/fonts/compat-icons';

[class^='ic-'],
[class*=' ic-'] {
    font-family: compat-icons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering - - - - -  */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-altname:before {
    content: '\e601';
}

.ic-footnote:before {
    content: '\e602';
}

.ic-prefix:before {
    content: '\e603';
}

.ic-disabled:before {
    content: '\f024';
}

.ic-non-standard:before {
    content: '\f071';
}

.ic-experimental:before {
    content: '\f0c3';
}

.ic-history:before {
    content: '\f0dd';
}

.ic-protected:before {
    content: '\f132';
}

.ic-deprecated:before {
    content: '\f088';
    font-family: FontAwesome;
}

/*
platform icons
====================================================================== */

.ic-desktop:before {
    content: '\e956';
}

.ic-mobile:before {
    content: '\f108';
}

.ic-server:before {
    content: '\e963';
}

/*
browser icons
====================================================================== */

.ic-webview_android:before {
    content: '\f17b';
}

.ic-chrome:before {
    content: '\eae5';
}

.ic-chrome_android:before {
    content: '\eae5\0020\f17b';
}

.ic-firefox:before {
    content: '\eae6';
}

.ic-firefox_android:before {
    content: '\eae6\0020\f17b';
}

.ic-edge:before {
    content: '\e605';
}

.ic-edge_mobile:before {
    content: '\e605';
}

.ic-ie:before {
    content: '\eae7';
}

.ic-ie_mobile:before {
    content: '\eae7';
}

.ic-nodejs:before {
    content: '\e900';
}

.ic-opera:before {
    content: '\eae8';
}

.ic-opera_android:before {
    content: '\eae8';
}

.ic-opera_mini:before {
    content: '\eae8\0020\f10b';
}

.ic-safari:before {
    content: '\e94a';
}

.ic-safari_ios:before {
    content: '\e94a';
}
