/* make stylus variables out of browser slugs,
   slugs will update before we're out of alpha */

$android-browser = 'android_browser';
$chrome-android = 'chrome_android';
$chrome-desktop = 'chrome';
$firefox-android = 'firefox_mobile';
$firefox-desktop = 'firefox';
$firefox-fxos = 'firefox_fxos';
$ie-desktop = 'internet_explorer';
$ie-mobile = 'ie_mobile';
$opera-desktop = 'opera';
$opera-mobile = 'opera_mobile';
$opera-mini = 'opera_mini';
$safari-desktop = 'safari';
$safari-ios = 'safari_mobile';

$bc-color-yes = #288436;
$bc-color-no = #962a2a;
$bc-color-partial = #a25e00;
$bc-color-unknown = #bbbbbb;
$bc-color-border = #ffffff;

$bc-support = yes no partial unknown;
