{# vim: set ts=2 et sts=2 sw=2: #}
{% set classes = 'img' %}
{% if params['align'] %}
  {% set classes = classes + ' ' + params['align'] %}
{% endif %}
{% if params['valign'] %}
  {% set classes = classes + ' ' + params['valign'] %}
{% endif %}

{% if not params['frameless'] %}
  {% if params['link'] %}
    <a class="{{ classes }}" href="{{ params['link'] }}">
  {% else %}
    <div class="{{ classes }}">
  {% endif %}
{% endif %}

<img {% if params['frameless'] %}class="frameless"{% endif %}
  src="{{ img_path }}"
  alt="{% if params['alt'] %}{{ params['alt'] }}{% else %}{{ caption }}{% endif %}"
  title="{{ caption }}"
  {% if params['width'] %}
    width="{{ params['width']|int('') }}"
  {% endif %}
  {% if params['height'] %}
    height="{{ params['height']|int('') }}"
  {% endif %}
  />
{{ caption }}

{% if not params['frameless'] %}
  {% if params['link'] %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endif %}
