{% set classes = 'img' %}
{% if params['align'] %}
  {% set classes = classes + ' align-' + params['align'] %}
{% endif %}
{% if params['align'] %}
  {% set has_frame = True %}
{% elif not params['frame'] or params['valign'] %}
  {% set has_frame = False %}
{% else %}
  {% set has_frame = True %}
{% endif %}

{% if has_frame %}
  <div class="{{ classes }}">
    <div class="img-inner">
{% endif %}

{% if params['link'] %}
  <a href="{{ params['link'] }}"{% if params['page'] and not params['found'] %} class="new"{% endif %}>
{% endif %}

<img {% if not has_frame %}class="frameless"{% endif %}
  src="{{ image.file.url }}"
  alt="{% if 'alt' in params %}{{ params['alt'] }}{% else %}{{ params['caption'] }}{% endif %}"
  title="{{ params['caption'] }}"
  {% if params['width'] and params['width']|int(None) %}
    width="{{ params['width']|int('') }}"
  {% endif %}
  {% if params['height'] and params['height']|int(None) %}
    height="{{ params['height']|int('') }}"
  {% endif %}
  {% if params['valign'] %}
    style="vertical-align:{{ params['valign'] }}"
  {% endif %}
  />

{% if params['link'] %}
  </a>
{% endif %}

{% if has_frame %}

  {% if params['caption'] %}
    <div class="caption"
      {% if params['width'] %}
        style="width:{{ params['width']|int('') }}px"
      {% endif %}
    >{{ params['caption'] }}</div>
  {% endif %}
  </div>
  </div>{# /classes #}
{% endif %}

