{% extends "wiki/base.html" %}
{# L10n: 'title' is the title of the document. #}
{% set title = _('Attachments | %(title)s', title=document.title) %}
{% block title %}{{ page_title(document.title) }}{% endblock %}
{% set classes = 'document' %}
{% from 'includes/common_macros.html' import li_field %}
{% from "includes/error_list.html" import errorlist %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'submission' %}
{% endblock %}

{% block content %}
  <form class="submission" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="column-container">
      <div class="column-half">
        <fieldset class="section">
        <legend><b>{{ _('Upload file to article %(title)s', title=document.title) }}</b></legend>
        {{ errorlist(form) }}
          <ul>
            {{ li_field(form, 'file') }}
            {{ li_field(form, 'title') }}
            {{ li_field(form, 'description') }}
            {{ li_field(form, 'comment') }}
          </ul>
        </fieldset>
        <button type="submit" class="neutral">
            {% include 'includes/icons/general/paperclip.svg' %}
            {{ _('Upload files') }}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
