{% extends "wiki/base.html" %}
{% set title = _('All Files') %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/atom+xml" title="{{title}}"
      href="{{ url('attachments.feeds.recent_files', format='atom') }}" />
{% endblock %}

{% block content %}
      <div id="document-list">
        <h1>{{ title }}</h1>
        {% if files.object_list %}
          <ul class="document-list cols-3">
            {% for file in files.object_list %}
              <li>
                <a href="{{ file.get_absolute_url() }}">{{ file.title }}</a>
              </li>
            {% endfor %}
          </ul>
          {{ files|paginator }}
        {% else %}
          <p>{{ _('There are no files.') }}</p>
        {% endif %}
      </div>
{% endblock %}
