.learnmore {
    display: inline-block;
    padding: $content-vertical-spacing ($content-horizontal-spacing * 1.5);
    background-color: $neutral;
    color: #fff;

    a {
        color: @color;
    }

    span {
        offscreen();
    }
}
