{% extends "base.html" %}

{% block content %}

	<ul class="page-buttons">
		<li><a href="$edit" class="button">{{ _('Edit Page') }}<i class="icon-pencil"></i></a></li><li><a href="" class="button only-icon"><span>{{ _('Settings') }}</span><i class="icon-cog"></i></a></li>
	</ul>

	<nav class="crumbs" role="navigation"><ol><li><a href="">MDN</a><i class="icon-chevron-right"></i></li><li><a href="">Section title</a><i class="icon-chevron-right"></i></li><li><a href="">Design</a><i class="icon-chevron-right"></i></li><li><a href="">Design patterns</a><i class="icon-chevron-right"></i></li><li>Navigation patterns</li></ol></nav>

	<h1>Navigation patterns</h1>

	<div id="wiki-column-container">

		<!-- additional controls; hidden unless needed -->
		<div id="wiki-controls" class="column-container">
			<div class="column-strip quick-links hidden">
				<a href="" class="title smaller" id="show-quick-links"><i class="icon-caret-down"></i>{{ _('Show QuickLinks') }}</a>	
			</div>
			<div class="column-half">
				&nbsp;
			</div>
			<div class="column-strip">
				
			</div>
		</div>
		
		<!-- main content area -->
		<div class="column-container">
			<div id="wiki-left" class="column-strip wiki-column">
				<!-- quick links -->
				<div class="quick-links" id="quick-links">
					<a href="#quick-links" class="title" id="quick-links-toggle"><i class="icon-caret-up"></i>Hide QuickLinks</a>
					<ol>
						<li class="toggleable closed"><a href="" class="toggler"><i class="icon-caret-up"></i>Application Cache API</a>
							<ol class="toggle-container">
								<li><a href="">Sub link</a></li>
								<li><a href="">Sub link</a></li>
								<li><a href="">Sub link</a></li>
							</ol>
						</li>
						<li><a href="">Something</a></li>
						<li><a href="">Something</a></li>
						<li><a href="">Something</a></li>
					</ol>
				</div>
			</div>

			<article id="wiki-content" class="column-half wiki-column">
				<div class="summary">
					<p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? </p>
				</div>

				<p>De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium. Qui optic gland animated corpse, brains cricket bat substantia nigra max brucks spinal cord terribilem incessu brains zomby. The medulla voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal ganglia tofth eliv ingdead.</p>

				<h2>Heading 2</h2>

				<p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium.</p>

				<p>Qui optic gland animated corpse, brains cricket bat substantia nigra max brucks spinal cord terribilem incessu brains zomby. The medulla voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal ganglia tofth eliv ingdead.</p>

				<h3>Heading 3</h3>

				<p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium.</p>

				<h4>Heading 4</h4>

				<p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium.</p>

				

			</article>

			<div class="column-strip wiki-column" id="wiki-right">

				<!-- table of contents -->
				<div id="toc" class="toc toggleable">
					<a href="#toc" class="title toggler">{{ _('In This Article') }}<i></i></a>
					<ol class="toggle-container">
						<li><a href="">Introduction</a></li>
						<li><a href="">Heading</a>
							<ol>
								<li><a href="">Sub-Heading 1</a></li>
								<li><a href="">Sub-Heading 2</a></li>
							</ol>
						</li>
						<li><a href="">Another Heading</a>
					</ol>
				</div>

				<div class="tag-attach-list tags">
					<i class="icon-tags"></i>
					<ul class="tag-list"><li><a href="">awesome</a></li><li><a href="">css</a></li><li><a href="">jack-black-johnson</a></li></ul>
				</div>

				<div class="tag-attach-list attachments">
					<i class="icon-paper-clip"></i>
					<a href="">4 Attachments</a>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block site_css %}
    {{ super() }}
    {{ css('wiki-print', media='print') }}
    {% if waffle.flag('redesign') %}
      {{ css('redesign-wiki') }}
    {% endif %}
{% endblock %}