{% extends "base.html" %}

{% block bodyclass %}zone zone-landing{% endblock %}

{% block masthead %}
<div class="zone-landing-header"><div class="center" style="min-height:300px;">
	<ul class="page-buttons"><li><a href="$edit" class="button">{{ _('Edit Page') }}<i class="icon-pencil"></i></a></li><li><a href="" class="button only-icon"><span>{{ _('Settings') }}</span><i class="icon-cog"></i></a></li></ul>

	<nav class="crumbs" role="navigation"><ol><li><a href="">MDN</a><i class="icon-chevron-right"></i></li><li><a href="">Section title</a><i class="icon-chevron-right"></i></li><li><a href="">Design</a><i class="icon-chevron-right"></i></li><li><a href="">Design patterns</a><i class="icon-chevron-right"></i></li><li>Navigation patterns</li></ol></nav>

	<h1 class="column-6">Navigation patterns</h1>

	<div class="column-container">
		<div class="column-strip">&nbsp;</div>
		<div class="column-5 masthead-text"><p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro.</p></div>
	</div>

	<div class="zone-image" style="background-image:url(/media/redesign/img/temporary-zone-image.png);"></div>
</div></div>
{% endblock %}

{% block content %}

	<div class="column-container zone-content">

		<div class="column-strip zone-subnav-container">

			<ol class="subnav accordion">
				<li class="toggleable current">
					<a href="#toc" class="title toggler">Design<i></i></a>
					<ol class="toggle-container">
						<li><a href="">Concept: a great app</a></li>
						<li><a href="">UI Guidelines</a></li>
						<li class="toggleable">
							<div>
								<a href="" class="toggler">Design Patterns<i></i></a>
								<ol class="toggle-container">
									<li><a href="">UI Guidelines</a></li>
									<li class="current-page"><a href="">Concept: a great app</a></li>
									<li><a href="">Layouts</a></li>
								</ol>
							</ul>
						</li>
						<li><a href="">Style guides</a></li>
					</ol>
				</li>
				<li class="toggleable closed">
					<a href="#toc" class="toggler">Code<i></i></a>
					<ol class="toggle-container">
						<li><a href="">Concept: a great app</a></li>
						<li><a href="">UI Guidelines</a></li>
						<li><a href="">Style guides</a></li>
					</ol>
				</li>
				<li>
					<a href="">Publish</a>
				</li>
				<li>
					<a href="">Tools<i></i></a>
				</li>
				<li>
					<a href="">APIs<i></i></a>
				</li>
				<li>
					<a href="">Support<i></i></a>
				</li>
			</ol>
		</div>

		<div class="column-main zone-landing-lists">

			<div class="column-container">
				<div class="column-strip">
					<h2>Top Article</h2>
					<ul class="smaller">
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
					</ul>
				</div>

				<!-- To Do:  Not this -->
				<div class="column-1">&nbsp;</div>

				<div class="column-4">
					<h2>MDN Community</h2>
					<ul class="smaller">
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
					</ul>
				</div>
			</div>

			<div class="column-container zone-callout">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td class="column-strip larger">
								Let us guide you through the steps to build your app.
					Let us guide you through the steps to build your app.
							</td>
							<td class="column-1">
								<a href="">Design.</a>
							</td>
							<td class="column-1">
								<a href="">Build.</a>
							</td>
							<td class="column-1">
								<a href="">Publish.</a>
							</td>
						</tr>
					</table>
			</div>

			<div class="column-container">
				<h2>Topics</h2>
				<div class="column-strip">
					<span class="title">Documentation</span>
					<ul class="smaller">
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
					</ul>
				</div>
				<div class="column-strip">
					<span class="title">Tools for Developers</span>
					<ul class="smaller">
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
					</ul>
				</div>
				<div class="column-strip">
					<span class="title">Technology Reference</span>
					<ul class="smaller">
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
						<li><a href="">Building the web for beginners</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}



{% block site_css %}
    {{ super() }}
    {{ css('wiki-print', media='print') }}
    {% if waffle.flag('redesign') %}
      {{ css('redesign-wiki') }}
    {% endif %}
{% endblock %}