{% extends "account/base.html" %}

{% set title = _('Sign In') %}

{% set classes = 'login' %}

{% set socialaccount_providers = get_providers() %}

{% block content %}
<div class="text-content readable-line-length">
  <article id="login">

      <h1>{{ _("Please sign in") }}</h1>

      <p>{% trans %}
      All content on MDN is free and available without signing in.
      {% endtrans %}</p>

      <p>{% trans %}
      In order to contribute, you need to sign in to MDN. You can sign in using
      GitHub and a MDN profile will be created for you if you don't already
      have one.
      {% endtrans %}</p>

      {% if socialaccount_providers  %}
          {% with process="login" %}
            {% include "socialaccount/snippets/provider_list.html" %}
          {% endwith %}
      {% endif %}

    {# hidden form to measure bot submissions from this page #}
    <form class="hidden" method="post" action="{{ url('users.honeypot') }}">
      {% csrf_token %}
      <label for='wpName2'>Username</label>
      <input id="wpName2" tabindex="1" size="20" placeholder="Enter your username" name="wpName" />

      <label for='wpPassword2'>Password</label>
      <input id="wpPassword2" tabindex="3" size="20" placeholder="Enter a password" type="password" name="wpPassword" />

      <label for='wpRetype'>Confirm password</label>
      <input id="wpRetype" tabindex="5" size="20" placeholder="Enter password again" type="password" name="wpRetype" />

      <label for='wpEmail'>Email address (optional)</label>
      <input id="wpEmail" tabindex="6" size="20" placeholder="Enter yourour email address" type="email" name="wpEmail" />

      <input id="wpCreateaccount" tabindex="10" type="submit" value="Create your account" name="wpCreateaccount" />
    </form>
  </article>
</div>
{% endblock %}
