{% extends "account/base.html" %}

{% block title %}{{ page_title(_("Signup")) }}{% endblock %}

{% block content %}
<div class="text-content readable-line-length">

  <h1>{{ _("Sign Up") }}</h1>

  <p>{% trans login_url=login_url %}Already have an profile? Then please <a href="{{ login_url }}">sign in</a>.{% endtrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}" {% if matching_accounts.exists() %}data-account-match-for="{{ provider.name }}>
    {% csrf_token %}
    {{ form.as_p() }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{{ _("Sign Up") }} &raquo;</button>
  </form>

</div>
{% endblock %}
