{% extends "account/base.html" %}

{% block title %}{{ page_title(_("Confirm Your Email Address")) }}{% endblock %}

{% block content %}
<div class="text-content readable-line-length">
  <h1>{{ _("Confirm Your Email Address") }}</h1>

  <p>{% trans %}This part of the site requires us to confirm that
  you are who you claim to be. For this purpose, we require that you
  confirm ownership of your email address. {% endtrans %}</p>

  <p>{% trans %}We have sent an email to you for
  confirmation. Please click on the link inside this email. Please
  contact us if you do not receive it within a few minutes.{% endtrans %}</p>

  <p>{% trans email_url=url('account_email') %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endtrans %}</p>

</div>
{% endblock %}
