{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "admin/base_site.html" %}

{% block title %}Settings {{ block.super }}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" media="screen,projection,tv" href="{{ MEDIA_URL }}css/kadmin.css" />
{% endblock %}

{% block content %}
<h2>Settings</h2>
<table id="settings">
  <tbody>
    {% for setting in settings %}
      <tr>
        <th id="{{ setting.key|slugify }}">
          {{ setting.key }} <a href="#{{ setting.key|slugify }}">¶</a>
        </th>
        <td>{{ setting.value|pprint }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}