/* some documents have different lisences for historic reasons */
.licenseblock,
.originaldocinfo {
    @include set-font-size($smaller-font-size);
    @include heading-2-section();
    background: $grey-light;
    border: 2px solid $grey;
    padding: $grid-spacing $grid-spacing 0;
}

.originaldocinfo {
    h2 {
        @include set-font-size($base-font-size);
        margin-top: 0;
    }
}
