.callout-box {
    @include pull-aside();
    @include bidi(((margin-bottom, $grid-spacing, $grid-spacing),)); /* override behaviour of pull-aside */
    box-sizing: border-box;
    background: $light-background-color;
    border: 1px solid #f1f1f1;
    padding: $grid-spacing;
    position: relative;
    text-align: center;
    min-width: 200px;
    z-index: 2;

    /* override behaviour of pull-aside */
    @media #{$mq-small-mobile-and-down} {
        @include bidi(((margin-bottom, $grid-spacing, $grid-spacing),));
    }
}
