/*
side by side calls to action
********************************************************************** */

.text-content .card-grid {
    @include full-width-content();
    margin: 0 0 $grid-spacing;
    @include bidi(((padding, 0, 0),)); /* need some extra specificity for RTL */
    list-style-type: none;

    > li {
        padding: ($grid-spacing / 2);
        background-color: $light-background-color;

        > span:first-child,
        > a:first-child {
            display: block;
            margin-bottom: 12px;

            @include set-font-size($h3-font-size);
            line-height: 1;
            @include set-heading-font-family();
        }
    }

    @media #{$mq-tablet-and-up} {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 ($grid-spacing / 2); /* margins on items don't collapse with margin on box, reduce so two together add up to $grid-spacing */

        > li {
            flex: 1;
            margin: 0 ($grid-spacing / 2) ($grid-spacing / 2);

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
