ul.directory-tree {
    @include bidi(((padding-left, 0, padding-right, 0),));

    &,
    ul {
        @include bidi(((margin-left, 0, margin-right, 0),));
        list-style: none;
    }

    ul {
        @include bidi(((padding-left, ($grid-spacing + $content-horizontal-spacing), padding-right, 0),));

        li {
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                @include bidi(((left, -15px, right, auto),));
                display: block;
            }

            &:before {
                top: 0;
                height: .75em;
                width: 10px;
                border-bottom: 1px solid $grey;
                @include bidi(((border-left, 1px solid $grey, border-right, none),));
            }

            &:after {
                bottom: -7px;
                height: 100%;
                @include bidi(((border-left, 1px solid $grey, border-right, none),));
            }

            &:last-child:after {
                display: none;
            }
        }
    }
}
