/* For Landing page boxes; these are boxes displayed within columns on landing
     pages, such as the Community and Related boxes. */
.landingPageBox {
    width: 100%;
    padding: 0;
    border-bottom: $section-border;
    margin-bottom: $grid-spacing;
}

.landingPageBox ul {
    padding-left: 44px;
}

/*
 * Landing page lists
 */

dt.landingPageList,
dd.landingPageList {
    page-break-after: avoid;
}
