/*
moreinfo styling
********************************************************************** */

.moreinfo {
    @include restrict-line-length();
    position: relative;
    padding: ($grid-spacing / 2) $grid-spacing $grid-spacing 30px;
    margin-bottom: $grid-spacing;
    background: $light-background-color;

    h3:first-child,
    h4:first-child {
        margin-top: 0;
    }

    dl {
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:after {
        border-top: $grid-spacing solid transparent;
        border-bottom: $grid-spacing solid transparent;
        border-left: 15px solid #fff;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 5px;
    }
}
