/* wiki summary, usually displays at the top of the article */
.summary {
    background: $light-background-color;
    font-weight: bold;
    padding: $grid-spacing;
    margin-bottom: $grid-spacing;

    prevent-last-child-spacing(p, margin-bottom);
}
