$border-value: 1px solid #e0e0dc;

#page-attachments {
    table {
        border: $border-value;
        border-bottom: 0;
        border-collapse: collapse;
        border-right: 0;
        margin: 20px 0 0 0;
        width: 100%;
    }

    th,
    td {
        border-bottom: $border-value;
        border-right: $border-value;
        padding: 5px;
        vertical-align: top;
    }

    th {
        font-weight: bold;
        color: $grey;
    }

    td {
        @include set-font-size($small-bump-font-size);
    }
}

.attachment-description {
    @include set-font-size(11px);
    font-style: italic;
}

.attachment-name-cell {
    width: 40%;
}

.attachment-error {
    color: $error;
    @include set-font-size(11px);
}

#page-attachments-new-table {
    input[type='text'] {
        width: 90%;

        .attachment-required {
            border: 1px solid $error;
        }
    }

    textarea {
        height: 40px;
    }
}

#page-attachments {
    h2 #{$selector-icon},
    h3 #{$selector-icon} {
        @include right-icons();
    }
}

@media #{$mq-mobile-and-down} {
    /* display the attachments table as inline */
    #page-attachments {
        table {
            border: 0;
        }

        thead {
            display: none;
        }

        tr {
            border-bottom: 1px solid #e0e0dc;

            &:last-child {
                border-bottom: 0;
            }
        }

        td {
            display: block;
            border-bottom: 0;
            border-right: 0;
        }
    }
}
