/*
Welcome message put up first time someone edits a doc
********************************************************************** */

.first-contrib-welcome {
    background: $light-background-color;
    border: 5px solid $header-background-color;
    padding: 15px 15px 10px;
    margin: 20px 0;

    h2 {
        margin: 0 0 10px;
        @include set-font-size(18px);
        line-height: 1.5;
        font-family: $site-font-family;
        #{$selector-site-font-fallback} {
            font-family: $site-font-family-fallback;
        }
    }

    p {
        margin-bottom: 8px;
    }
}
