/* link to editor and style guide editor that appear above text editor */
.guide-links{
    bidi-value(text-align, right, left);
    margin-top: $grid-spacing;
    padding: 0 4px 2px 0;
    color: #999;
}
