/*
Red background & stripped border for archived pages
- intentionally odd
********************************************************************** */

.wiki-main-content {
    background-color: rgba(255, 217, 217, 1);
    border: 20px solid #f00;
    border-image: repeating-linear-gradient(-45deg, rgba(255, 0, 0, 1) 0, rgba(255, 0, 0, 1) 10px, rgba(255, 168, 0, 1) 10px, rgba(255, 168, 0, 1) 20px, rgba(255, 0, 0, 1) 20px) 20 20 repeat;
}
