/*
Styles for connect zone
- formerly the dev program page hence the class names
********************************************************************** */


%dev-program-pad {
    @include prevent-last-child-spacing(p, margin-bottom);
    background: $light-background-color;
    padding: ($grid-spacing);
}


/*
Three grey boxes
====================================================================== */
.dev-program-block {
    margin-bottom: ($grid-spacing * 2);
    @include prevent-last-child-spacing('*', margin-bottom);

    ul {
        margin-bottom: 0;
    }
}

.dev-program-callouts {
    border-spacing: 50px 0;
    display: table;
    height: 100%;
    margin-left: $grid-margin;
    margin-right: $grid-margin;
}

.dev-program-callout {
    @extend %dev-program-pad;
    display: table-cell;
    height: 100%;
    width: 33%;

    h2 {
        @include set-larger-font-size();
    }
}

@media #{$mq-mobile-and-down} {
    .dev-program-callouts {
        display: block;
    }
    .dev-program-callout {
        display: block;
        width: auto;
    }
}

/* highlighted (bottom) link in call-out boxes */
.callout-link-container {
    position: relative;
    height: 100%;
}

.callout-link-wrapper {
    padding-top: 32px;
}

.callout-link {
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*
Content
====================================================================== */
.dev-program-explanation {
    @extend %dev-program-pad;
}


/*
Hacks blog headlines
====================================================================== */
.dev-program-hacks {
    h3 {
        @include set-larger-font-size();
        margin-bottom: 4px;
    }

    p {
        @include set-smaller-font-size();
        color: #bbb;
        margin-bottom: 10px;

        a {
            color: #777;
        }
    }
}
