/*
Custom images which appear in zone headers
********************************************************************** */


.zone-image {
    @include bidi-style(right, $grid-spacing, left, auto);
    @include bidi-value(background-position, bottom right, bottom left);
    background-repeat: no-repeat;
    background-size: contain;
    top: $grid-spacing / 2 * -1;
    bottom: $grid-spacing / 2 * -1;
    display: block;
    position: absolute;
    width: -calc-col-width(3);

    .zone-landing-header & {
        bottom: $grid-spacing;
        top: 80px;
        height: auto;
    }
}


@media #{$mq-tablet-and-down} {
    .zone-image {
        .zone-landing-header & {
            @include bidi-value(background-position, bottom right, bottom left);
            background-size: contain;
            opacity: .2;
            width: 48%;
        }
    }
}


@media #{$mq-mobile-and-down} {
    .zone-image {
        display: none;
    }
}
