/*
Blue square buttons in MDN 10 zone
********************************************************************** */

.learnmore {
    display: inline-block;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    background-color: $neutral;
    color: #fff;

    a {
        color: #fff;
    }

    span {
        @extend %offscreen-placeholder;
    }
}
