/*
Blue "join us!" promo in MDN 10 zone
********************************************************************** */

.promo10 {
    margin-bottom: $grid-spacing;
    padding: $grid-spacing;
    background-color: $zone-background-color;
    color: $blue-background-text-color;
    text-align: center;


    font-family: $heading-font-family;
    font-size: $larger-font-size;
    #{$selector-heading-font-fallback} {
        font-family: $heading-font-family-fallback;
    }

    h3 {
        color: $blue-background-text-color;
    }
}

.promo10-globe {
    background: $zone-background-color center -30% no-repeat url($path-to-images + '/zones/mdn10/globe.png');
}

.promo10-img {
    display: inline-block;
    vertical-align: top;
    padding: 0 $grid-spacing $grid-spacing;
}

.promo10-text {
    display: inline-block;
    width: 300px;
    max-width: 100%;
}
