/*
Zone subnav styling
********************************************************************** */

.zone-subnav-container {
    background: #fff;
    margin-bottom: $grid-spacing;
    position: relative;
    z-index: 10;
}
