{% extends "admin/base_site.html" %}
{% load i18n admin_modify admin_static %}

{% block title %}{% trans "Purge documents" %} {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url 'admin:app_list' 'wiki' %}">{% trans "Wiki" %}</a> &rsaquo;
     <a href="{% url 'admin:wiki_document_changelist' %}">{% trans "Documents" %}</a> &rsaquo;
     {% trans "Purge documents" %}
</div>
{% endif %}{% endblock %}

{% block content %}
<h1>{% trans "Purge documents" %}</h1>

<div>
  <form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    <div>
      <p>
        {% blocktrans trimmed %}
          The following documents will be permanently removed from the database. This action cannot be undone. To cancel, press the "Back" button in your browser.
        {% endblocktrans %}
      <p>
      <fieldset class="module aligned">
          <div class="form-row">
	    <div>
	      <ul>
                {% for doc in to_purge %}
                  <li><a href="{{ doc.get_absolute_url }}">{{ doc }}</a></li>
                {% endfor %}
	      </ul>
	    </div>
          </div>
      </fieldset>
      <div class="submit-row">
	<input class="default" type="submit" name="confirm_purge"
               value="{% trans "Purge documents" %}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
