/*
colorful callouts
********************************************************************** */
.column-callout {
    margin-bottom: $grid-spacing;
    background: #00539f;

    > a {
        display: block;
        min-height: $callout-min-height;
        position: relative;
        overflow: hidden;
        @include set-larger-font-size();

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: $grid-spacing;
            /* prettier-ignore */
            @include bidi(((right, $grid-spacing, left, auto),));
            height: $callout-icon-width;
            width: $callout-icon-width;
        }

        &:before {
            position: absolute;
            bottom: 11px;
            /* prettier-ignore */
            @include set-bidi-icon('../../../arrows/arrow-right.svg', '../../../arrows/arrow-left.svg', $grid-spacing);
            z-index: 4;
        }
    }

    span {
        position: absolute;
        z-index: 1;
        bottom: -2px;
        /* prettier-ignore */
        @include bidi(((padding, $grid-spacing $callout-icon-space $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing $callout-icon-space),));
        box-sizing: border-box;
    }
}

@media #{$mq-tablet-only} {
    .column-callout {
        a:after {
            display: none;
        }

        span {
            /* prettier-ignore */
            @include bidi(((padding, $grid-spacing $callout-arrow-space $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing $callout-arrow-space),));
        }
    }
}

@media #{$mq-tablet-and-up} {
    .column-callout {
        @include column-4();
        margin-bottom: 0;
    }
}
