{% extends "wiki/base.html" %}
{% block extrahead %}
  {% if tag %}
    <link rel="alternate" type="application/atom+xml" title="{{ _('Documents for %(tag)s review', tag=tag) }}"
      href="{{ url('wiki.feeds.list_review_tag', format='atom', tag=tag) }}" />
  {% else %}
    <link rel="alternate" type="application/atom+xml" title="{{ _('Documents for review') }}"
      href="{{ url('wiki.feeds.list_review', format='atom') }}" />
  {% endif %}
{% endblock %}
{% if tag %}
  {% set title = _('Articles in need of review: %(tag)s', tag=tag) %}
{% else %}
  {% set title = _('All articles in need of review') %}
{% endif %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set crumbs = [(None, title)] %}

{% block content %}

      <div id="document-list" class="boxed">
        <h1>{{ title }}</h1>
        {% if tag|string=='editorial' %}
          <p>
            {% trans url=wiki_url('MDN/Contribute/Howto/Do_an_editorial_review') + '#core-steps' %}
            Please review these articles for spelling, grammar, formatting, layout, etc., and then clear the Editorial review flag. <a href="{{ url }}">See more detailed instructions</a>.
            {% endtrans %}
          </p>
        {% elif tag|string == 'technical' %}
          <p>
            {% trans url=wiki_url('MDN/Contribute/Howto/Do_a_technical_review') + '#core-steps' %}
            Please review these articles for technical accuracy and completeness, and then clear the Technical review flag. <a href="{{ url }}">See more detailed instructions</a>.
            {% endtrans %}
          </p>
        {% endif %}
        <p>{{ _('Found %(count)s documents.', count=count) }}</p>
        {% if documents.object_list %}
          {{ documents|paginator }}
          <ul class="document-list cols-3">
            {% for doc in documents.object_list %}
              <li><a href="{{ doc.get_absolute_url() }}">{{ doc.title }}</a></li>
            {% endfor %}
          </ul>
          {{ documents|paginator }}
        {% else %}
          <p>{{ _('There are no articles.') }}</p>
        {% endif %}
      </div>

{% endblock %}
