{% extends "wiki/base.html" %}
{% set title = _('Revision History | %(document)s', document=document.title) %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'wiki-revisions' %}
{% endblock %}

{% block content %}

  <article>

    <h1>{{ _('History of') }} <a href="{{ document.get_absolute_url() }}">{{ document.title }}</a></h1>

    <div class="revision-list-head">
      {{ _('Revision history for:') }}
      <ul>
        {% if document.parent %}
          <li>
            <a href="{{ url('wiki.document_revisions', document.parent.slug, locale=document.parent.locale) }}" rel="nofollow, noindex">{{ document.parent.language }}</a>
          </li>
        {% endif %}
        <li>
          <span>{{ document.language }}</span>
        </li>
      </ul>
    </div>
    <div class="revision-list-contain">
      {% set revision_count=revisions|length %}
      {% set user_can_delete=user.has_perm('wiki.delete_revision') %}
      {% if revision_count > 0 %}
        {% if request.GET.origin == 'translate' %}
          {% set destination_url = url('wiki.translate', document.slug) %}
        {% else %}
          {% set destination_url = url('wiki.compare_revisions', document.slug) %}
        {% endif %}
        <form action="{{ destination_url }}" method="get" class="nodisable">
          <input type="hidden" name="locale" value="{{ document.locale }}">
          {% if revision_count > 1 %}
            <div class="revision-list-controls revision-list-controls-top">
              <input type="submit" class="link-btn" value="{% if document.parent %}{{ _('Compare Selected Translations') }}{% else %}{{ _('Compare Selected Revisions') }}{% endif %}" />
            </div>
          {% endif %}
          {% for rev in revisions %}
            {% if loop.first %}<ul class="revision-list">{% endif %}
            <li>
              <div class="revision-list-cell revision-list-radio">
                {% if not current %}<input type="radio" name="from" value="{{ rev.id }}" {% if loop.index == 2 %}checked="checked"{% endif %} />{% endif %}
              </div>
              <div class="revision-list-cell revision-list-radio">
                {% if not loop.last %}<input type="radio" name="to" value="{{ rev.id }}" {% if loop.first %}checked="checked"{% endif %} />{% endif %}
              </div>
               <div class="revision-list-cell revision-list-prev">
              {% if rev.previous_revision %}
                <a href="{{ url('wiki.compare_revisions', document.slug) }}?to={{ rev.id }}&amp;from={{ rev.previous_revision.id }}" rel="nofollow, noindex">{{ _('Previous') }}</a>
              {% endif %}
              </div>
              <div class="revision-list-cell revision-list-date">
                <a href="{{ url('wiki.revision', document.slug, rev.id) }}" rel="nofollow, noindex">{{ datetimeformat(rev.created, format='datetime') }}</a>
              </div>
              <div class="revision-list-cell revision-list-creator">
                <a href="{{ rev.creator.get_absolute_url() }}">{{ rev.creator }}</a>
              </div>
              <div class="revision-list-cell revision-list-comment">
                {{ format_comment(rev) }}
              </div>
              {% if document.current_revision.id != rev.id and user_can_delete %}
              <div class="revision-list-cell">
                <a href="{{ url('wiki.revert_document', document.slug, rev.id) }}" class="button revert-revision" rel="nofollow, noindex">{{ _('Revert to this revision') }}</a>
              </div>
              {% endif %}
            </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </form>
      {% else %}
        {{ _('This document has no revisions.') }}
      {% endif %}
    </div>
  </article>

  {% if page %}
    {{ page|paginator }}
  {% endif %}

{% endblock %}

 {% block site_js %}
  {{ super() }}
  {% javascript 'framebuster' %}

  <script type="text/javascript">
    $(document).ready(function() {
      var $pagination = $('.pagination');
      var $next = $pagination.find('.next');

      {% set class='hidden' if not request.user.is_authenticated() %}

      if($next.length) {
      $pagination.append('<li title="Sign in to view all history"><a href="?limit=all" id="pagination-all" class="{{ class }}" rel="nofollow, noindex">' + gettext('View All') + '</a></li>');
      }
    });
  </script>
{% endblock %}
