<h3>{{ _('Title:') }}</h3>
<p class="title">{{ object.content_object.title }}</p>
<h3>{{ _('Content:') }}</h3>
<div class="content">{{ object.content_object.content_parsed }}</div>
<h3>{{ _('Created:') }}</h3>
<p class="created">{{ _('{date} by {user}')|f(user=object.content_object.creator, date=datetimeformat(object.content_object.created, format='longdatetime')) }}</p>
{% if object.content_object.updated_by %}
  <h3>{{ _('Updated:') }}</h3>
  <p class="updated">{{ _('{date} by {user}')|f(user=object.content_object.updated_by, date=datetimeformat(object.content_object.updated, format='longdatetime')) }}</p>
{% endif %}
<h3>{{ _('Take Action:') }}</h3>
<div class="actions">
  <a href="{{ object.content_object.get_absolute_url() }}">View</a>
  <a href="{{ url('questions.edit_question', object.content_object.id) }}">Edit</a>
  {% if user.has_perm('questions.delete_question') %}
    <a class="delete" href="{{ url('questions.delete', object.content_object.id) }}">{{ _('Delete') }}</a>
  {% endif %}
</div>
