@require 'includes/vars';
@require 'includes/mixins';

/*
General element over-rides
====================================================================== */
@require 'components/home/base';


/*
Blueprint section, heading, search form, and featured link lists
====================================================================== */
@require 'components/home/home-masthead';
@require 'components/home/home-features';


/*
Three colourful teasers
====================================================================== */
@require 'components/home/home-callouts';
@require 'components/home/column-callout';


/*
====================================================================== */
@require 'components/home/home-hacks';
@require 'components/home/home-demos';
@require 'components/home/home-contribute';
