@require 'includes/vars';
@require 'includes/mixins';

.home-search-form {
    position: relative;
}

.search-form {
    .search-filter-wrapper {
        big-search();
        cursor: text;
        padding: $input-padding;
        position: relative;
        background-color: #fff;
        clearfix();
    }

    input#home-q {
        border: none;
        display: inline-block;
        padding: 3px 0;
        margin-bottom: 0;
        outline: none;
        max-width: 100%;
        max-width: calc(100% - 40px);
    }

    .show-topics {
        background-color: rgba-fallback(rgba(255, 255, 255, 0)) !important;
        box-shadow: none;
        color: $text-color !important;
        font-size: 1.2em !important;
        position: absolute;
        bidi-style(right, 0, left, auto);
        top: 6px;
     }

    .suggestions {
        big-search();
        border-radius: 0px;
        color: #fff;
        max-height: 300px;
        overflow-y: scroll;
        padding: $input-padding; /* Give the suggestions list the same width as the search box */

        ul {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        strong, li a.search-ss {
            padding: 0 10px;
        }

        strong {
            text-transform: uppercase;
        }

        li {
            a.search-ss {
                display: block;
                color: #fff;

                &:hover,
                &:focus,
                &.selected {
                    background: $homepage-background-color;
                    color: #fff !important;
                    text-decoration: none;
                }

                span {
                    bidi-value(float, right, left);
                }
            } /* end a.search-ss */
        } /* end li */
    } /* end .suggestions */

    .filters {
        box-sizing: border-box;
        bidi-style(margin-right, -5px, margin-left, 0);
        display: inline-block;
        max-width: 100%;
        max-width: calc(100% - 40px);
        vertical-align: top;
        bidi-value(float, left, right);

        span.topic {
            display: inline-block;
            background-color: $homepage-background-color !important;
            box-shadow: none;
            color: #fff!important;
            cursor: default!important;
            bidi-style(margin-right, 5px, margin-left, 0);
            padding: 2px 10px 2px 10px !important;
            text-transform: none !important;

            button.close {
                background-color: transparent !important;
                box-shadow: none;
                color: #fff!important;
                bidi-style(margin-left, 5px, margin-right, 0);
                bidi-value(padding, 5px 0px 5px 5px  !important, 5px 5px 5px 0px  !important);

                {$selector-icon} {
                    margin-left: 0;
                }
            } /* end button.close */

            &:last-child {
                bidi-style(margin-right, 10px, margin-left, 0);
            }
        } /* end span.topic */
    } /* end .filters */

    &.dark {
        .suggestions {
            background-color: #fff;
        }

        #home-q, .show-topics, .suggestions, .suggestions li a {
            color: #4d4e53 !important;
        }
    }

} /* end .search-form */

@-webkit-keyframes openNotification {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes openNotification {
    from {
        margin-top: -115px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}
