@require 'includes/vars';
@require 'includes/mixins';

@font-face {
    font-family: 'compat-icons';
    src:url('/media/fonts/compat-icons.eot?-ehmwve');
    src:url('/media/fonts/compat-icons.eot?#iefix-ehmwve') format('embedded-opentype'),
        url('/media/fonts/compat-icons.woff?-ehmwve') format('woff'),
        url('/media/fonts/compat-icons.ttf?-ehmwve') format('truetype'),
        url('/media/fonts/compat-icons.svg?-ehmwve#compat-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
    font-family: 'compat-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-altname:before {
    content: "\e601";
}

.ic-firefoxos:before {
    content: "\e600";
}

.ic-footnote:before {
    content: "\e602";
}

.ic-prefix:before {
    content: "\e603";
}

.ic-obsolete:before {
    content: "\f014";
}

.ic-disabled:before {
    content: "\f024";
}

.ic-non-standard:before {
    content: "\f071";
}

.ic-experimental:before {
    content: "\f0c3";
}

.ic-history:before {
    content: "\f0dd";
}

.ic-desktop:before {
    content: "\f108";
}

.ic-mobile:before {
    content: "\f10a";
}

.ic-mini:before {
    content: "\f10b";
}

.ic-protected:before {
    content: "\f132";
}

.ic-android:before {
    content: "\f17b";
}

.ic-safari:before, .ic-safari_mobile:before {
    content: "\e94a";
}

.ic-android-browser:before {
    content: "\e9ca";
}

.ic-chrome:before {
    content: "\eae5";
}

.ic-firefox:before {
    content: "\eae6";
}

.ic-ie:before, .ic-internet_explorer:before, .ic-ie_mobile:before {
    content: "\eae7";
}

.ic-opera:before {
    content: "\eae8";
}


/*
icons support rules
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.only-icon > span {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* ie6, ie7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.only-icon > i {
    margin: 0;
}

.bc-icons {
    position: relative;
    z-index: 12; /* raise z-index so tool tips still appear even if overlapping history link */

    /* TODO: center icons if they wrap, :first-line? only on mobile?  */
    float: right;
    margin: 0 2px;
}

.bc-icons a {
    text-decoration: none;
}

@media all and (max-width: 800px) {
    th .bc-icons {
        float: none;
        display: inline-block;
    }
}

 /* icons in mobile view */

@media all and (max-width: 480px) {

    [class*='bc-browser-']:before,
    [class*='bc-browser-']:after {
        position: absolute;
        font-family: 'compat-icons';
        speak: none;
        color: #4D4E53;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-align: center;
        text-transform: none;
        line-height: 1;
    }

    [class*='bc-browser-']:before{
        top: 8px;
        left: 30px;
        height: 25px;
        width: 25px;
    }

    .bc-browser-android-browser:before {
        content: '\e9ca';
    }
    .bc-browser-chrome:before,
    .bc-browser-chrome-android:before {
        content: '\eae5';
    }
    .bc-browser-firefox:before,
    .bc-browser-firefox_mobile:before,
    .bc-browser-firefox-fxos:before {
        content: '\eae6';
    }
    .bc-browser-internet-explorer:before,
    .bc-browser-ie_mobile:before {
        content: '\eae7';
    }
    .bc-browser-opera:before,
    .bc-browser-opera_mobile:before,
    .bc-browser-opera_mini:before {
        content: '\eae8';
    }
    .bc-browser-safari:before,
    .bc-browser-safari_mobile:before {
        content: '\e94a';
    }

    /* medium icons in mobile view */

    [class*='bc-browser-']:after {
        top: 8px;
        left: 2px;
        width: 25px;
    }

    .bc-browser-chrome:after,
    .bc-browser-firefox:after,
    .bc-browser-internet-explorer:after,
    .bc-browser-opera:after,
    .bc-browser-safari:after {
        content: '\f108';
    }

    .bc-browser-android-browser:after,
    .bc-browser-chrome-android:after,
    .bc-browser-firefox_mobile:after {
        content: '\f17b';
    }

    .bc-browser-ie_mobile:after,
    .bc-browser-opera_mobile:after,
    .bc-browser-safari_mobile:after {
        content: '\f10a';
    }
    .bc-browser-opera_mini:after {
        content: '\f10b';
    }

    .bc-browser-firefox-fxos:after {
        content: '\e600';
    }

}

/*
Support icons
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.bc-level {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    height: 19px;
    width: 20px;
    overflow: hidden;
    cursor: help;
}

.bc-support:after {
    content: '';
}

.bc-level img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.bc-level-partial img {
    top: -20px;
}

.bc-level-no img {
    top: -40px;
}

.active .bc-level img,
*:hover > .bc-level img,
*:focus > .bc-level img {
    display: block;
}

@media all and (max-width: 480px) {
    td > .bc-level {
        left: 60px;
    }
}

/* always show support icon in high contrst themes */
@media screen and (-ms-high-contrast) {
    .bc-level img {
        display: block;
    }
}



/*
---------------------------------------------------------------- */

abbr {
    cursor: help;
}


/*
table layout
- uses display: block for smaller screen sizes;
- assumes 10 browsers and 5 brands, add class to adjust for more or less
---------------------------------------------------------------- */

.bc-table,
.bc-table thead,
.bc-table tbody,
.bc-table tr,
.bc-table th,
.bc-table td {
    box-sizing: border-box;
}

.bc-table thead th,
.bc-table tbody td {
    width: 10%; /* not actually 10% but triggers making all equal width */
}

.bc-table-3 thead th,
.bc-table-3 tbody td {
    width: 33%;
}

.bc-table-4 thead th,
.bc-table-4 tbody td {
    width: 25%;
}

.bc-table-5 thead th,
.bc-table-5 tbody td {
    width: 20%;
}

.bc-table-6 thead th,
.bc-table-6 tbody td {
    width: 16.66%;
}

.bc-table-7 thead th,
.bc-table-7 tbody td {
    width: 14.2%;
}

.bc-table-8 thead th,
.bc-table-8 tbody td {
    width: 12.5%;
}

.bc-table-9 thead th,
.bc-table-9 tbody td {
    width: 11.11%;
}

/* 10 is default */

.bc-table-11 thead th,
.bc-table-11 tbody td {
    width: 9.09%;
}

.bc-table-12 thead th,
.bc-table-12 tbody td {
    width: 8.33%;
}

.bc-table-13 thead th,
.bc-table-13 tbody td {
    width: 7.69%;
}

.bc-table thead th[colspan='2'] {
    width: 50%;
}

.bc-table thead th[colspan='3'] {
    width: 33.33%;
}

.bc-table tbody th,
.bc-table thead td {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
}

@media all and (max-width: 800px) {

    .bc-table thead,
    .bc-table tbody,
    .bc-table tr {
        width: 100%;
        display: block;
        clear: left;
    }

    .bc-table th,
    .bc-table td {
        display: block;
        float: left;
        padding: 0;
    }

    .bc-table tbody th + td {
        clear: left;
    }

    .bc-table thead td {
        display: none;
    }

    .bc-table tbody th {
        width: 100%;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 0;
    }

}

@media all and (max-width: 480px) {

    .bc-table thead {
        display: none;
    }

    .bc-table tbody td {
        position: relative;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 10px;
        text-align: left;
      }

}

/*
Flexbox for those lucky few who can handle it
- we only needs this to make equal height columns in the middle display view
- ie is not among those that can handle this code, but it doesn't supoort @support so we're good
- all browsers which support @support also use unprefixed syntax
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

@supports (display: flex) {

    @media all and (min-width: 481px) and (max-width: 800px) {

        .bc-table,
        .bc-table thead,
        .bc-table tbody,
        .bc-table tr,
        .bc-table th {
            display: flex;
        }

        .bc-table,
        .bc-table thead,
        .bc-table tbody {
            flex-direction: column;
        }

        .bc-table tr {
            flex-wrap: wrap;
            align-items: stretch;
        }

        .bc-table th,
        .bc-table td {
            flex: 1 1 0;
            justify-content: center;
        }

        .bc-table th[colspan='2'] {
            flex: 2 2 0;
        }
        .bc-table th[colspan='3'] {
            flex: 3 3 0;
        }
        .bc-table th[colspan='5'] {
            flex: 5 5 0;
        }
        .bc-table th[colspan='8'] {
            flex: 8 8 0;
        }

        .bc-table tbody th {
            display: block;
            flex: 1 1 100%;
            justify-content: flex-start;
        }

        .bc-table td {
            display: block; /* if we leave it table-cell it doesn't act like a flex-item */
        }
    }
}


/*
Table styling that is not layout related
---------------------------------------------------------------- */

.bc-table {
    width: 100%;
    border-spacing: 0;
    background-color: #EAEFF2;
}

.bc-table tr {
    position: relative;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.2s ease-out;
}

.bc-table th,
.bc-table td {
    position: relative;
    padding: 5px 3px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.2s ease-out;
    text-align: center;
}

.bc-table .bc-mediums th {
    padding: 2px 0 5px 0;
    border-bottom: 4px solid #fff;
    font-size: 24px;
}

.bc-table .bc-browsers th {
    border-top: 0;
    padding: 3px 0;
    font-size:18px;
}

.bc-table thead td {
    border-top-color: transparent;
    border-right: 4px solid #fff;
    border-left: 0;
}

.bc-table thead td + th,
.bc-table tbody th + td {
    border-left: 0;
}

.bc-table tbody th {
    border-right: 4px solid #fff;
    border-left: 0;
    text-align: left;
}

/*
[class*=bc-browser-chrome] + [class*=bc-browser-chrome],
[class*=bc-browser-firefox] + [class*=bc-browser-firefox],
[class*=bc-browser-internet-explorer] + [class*=bc-browser-internet-explorer],
[class*=bc-browser-opera] + [class*=bc-browser-opera],
[class*=bc-browser-safari] + [class*=bc-browser-safari]{
    border-left-width: 1px;
}
*/

/* thicker border between mediums */
.bc-mediums th + th,
[class*=desktop] + [class*=android],
[class*=desktop] + [class*=mobile],
[class*=desktop] + [class*=fxos],
[class*=desktop] + [class*=mobile]  {
    border-left: 4px solid #fff;
}

.bc-table td:focus {
    /* make outline more visible */
    z-index: 1;
}


.no-js .bc-table tbody td,
.bc-table tbody td[tabindex] {
    padding-top: 6px;
    padding-bottom: 12px;
}

@supports (display: flex) {

    @media all and (min-width: 481px) and (max-width: 800px) {

        .no-js .bc-table tbody td,
        .bc-table tbody td[tabindex] {
            /* flex is top aligned not center aligned so keep spacing at top same as no icons */
            padding-top: 5px;
        }
    }
}

.bc-table tbody th code {
    white-space: nowrap;
}

.bc-table td[tabindex] {
    cursor: pointer;
}

@media all and (max-width: 800px) {

    .bc-table tbody th {
        border-right: 0;
    }
}

@media all and (max-width: 480px) {
    .bc-table tbody td {
        border-top: 1px solid #fff;
        border-left: 0;
        box-shadow: inset 60px 0 0 0 #EAEFF2;
    }

    .no-js .bc-table tbody td,
    .bc-table tbody td[tabindex] {
       padding-bottom: 20px;
    }

    /* thicker border between mediums */
    .bc-table tbody th + td,
    [class*=desktop] + [class*=android],
    [class*=desktop] + [class*=mobile],
    [class*=desktop] + [class*=fxos],
    [class*=desktop] + [class*=mobile],
    .bc-table tbody tr {
        border-top: 4px solid #fff;
        border-left: none;
    }

}

/*
supports colouring
---------------------------------------------------------------- */

.bc-supports-yes,
.bc-supports-partial,
.bc-supports-no,
.bc-supports-unknown,
.bc-table .bc-history {
    color: #fff;
}

.bc-supports-yes a,
.bc-supports-partial a,
.bc-supports-no a,
.bc-supports-unknown a {
    color: #fff;
    text-decoration: underline;
}

.bc-supports-yes,
.bc-supports-yes .bc-history {
    background-color: #288436; /*#309c40;*/
}

.bc-supports-partial,
.bc-supports-partial .bc-history {
    background: #a25e00; /* #ff9500; */
}
.bc-supports-partial {
    background-image:
            linear-gradient(to bottom right, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.15) 4px, transparent 4px, transparent 65px, rgba(0,0,0,0.15) 65px, rgba(0,0,0,0.15) 75px, transparent 75px, transparent 136px, rgba(0,0,0,0.15) 136px, rgba(0,0,0,0.15) 146px, transparent 146px);
    background-size: 100px 100px;
    background-position: 50% 50%;
}

.bc-supports-no,
.bc-supports-no .bc-history {
    background-color: #962a2a; /*#af3232;*/
}

.bc-supports-no {
    background-image:
        linear-gradient(to bottom right, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.15) 4px, transparent 4px, transparent 65px, rgba(0,0,0,0.15) 65px, rgba(0,0,0,0.15) 75px, transparent 75px, transparent 136px, rgba(0,0,0,0.15) 136px, rgba(0,0,0,0.15) 146px, transparent 146px),
        linear-gradient(to bottom left, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.15) 4px, transparent 4px, transparent 65px, rgba(0,0,0,0.15) 65px, rgba(0,0,0,0.15) 75px, transparent 75px, transparent 136px, rgba(0,0,0,0.15) 136px, rgba(0,0,0,0.15) 146px, transparent 146px);
    background-size: 100px 100px, 100px 100px;
    background-position: 50% 50%, 50% 50%;
}

.bc-supports-unknown,
.bc-supports-unknown .bc-history {
    background-color: #bbbbbb;
}


/*
History link and history
---------------------------------------------------------------- */

/*
History-link
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.bc-history-link {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 11;
    display: block;
    width: 100%;
    height: 11px;
    margin-top: -10px;
    clear: both;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255, 0.3);
    line-height: 1;
}

a.bc-history-link { /* needs additional specificity to over ride rule giving it an underline */
    text-decoration: none;
}

.active .bc-history-link {
    z-index: 21;
}

/* increases hit area of the history link, making it easier to click/tap/etc, only necisary if JS is off */
.bc-history-link:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    display: block;
    height: 15px;
    width: 30px;
}
    /* if there are icons the text is shifted left, shift the target extention as well */
    .bc-icons + .bc-history-link:before {
        margin-left: -30px;
    }

.active .bc-history-link,
td[tabindex]:hover .bc-history-link,
td[tabindex]:focus .bc-history-link {
    background-color: #fff;
    border-top: 1px solid rgba(255,255,255, 1);
}

    .active.bc-supports-yes .bc-history-link,
    td[tabindex].bc-supports-yes:hover .bc-history-link,
    td[tabindex].bc-supports-yes:focus .bc-history-link {
        color: #288436;
    }
    .active.bc-supports-no .bc-history-link,
    td[tabindex].bc-supports-no:hover .bc-history-link,
    td[tabindex].bc-supports-no:focus .bc-history-link {
        color: #962a2a;
    }
    .active.bc-supports-partial .bc-history-link,
    td[tabindex].bc-supports-partial:hover .bc-history-link,
    td[tabindex].bc-supports-partial:focus .bc-history-link {
        color: #a25e00;
    }
    .active.bc-supports-unknown .bc-history-link,
    td[tabindex].bc-supports-unknown:hover .bc-history-link,
    td[tabindex].bc-supports-unknown:focus .bc-history-link {
        color: #bbbbbb;
    }

    .active .bc-history-link {
        margin-top: -8px;
    }

.bc-history-link i {
    position: relative;
    top: -4px;
}


@media all and (max-width: 480px) {
    .bc-history-link {
        width: calc(100% - 60px);
        height: 20px;
        margin-top: -20px;
        font-size: 16px;
    }

    .active .bc-history-link {
        margin-top: -18px;
    }

    .bc-history-link i {
        top: 0;
    }
}

/*
History
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.bc-history {
    z-index: 20;
    box-sizing: border-box;
    border-top: 4px solid #fff;
    border-bottom: 3px solid #fff;
    overflow: hidden;
    cursor: default;
}

    .bc-table .bc-history{
        position: absolute;
        top: 100%;
        display: none;
        visibility: hidden;
        box-shadow: inset 200px 0 0 0 #fff;
    }

    .active .bc-history {
        display: block;
        visibility: visible;
        height: 0;
        padding-left: 200px;
        transition: height 0.2s ease-out;
    }

    .bc-history:before {
        content: '';
        display: block;
        height: 45px;
        width: 60px;
        float: right;
    }

.bc-history dl {
    text-align: left;
    margin: 10px;
    margin-left: 160px;
}

.bc-history dt {
    float: left;
    clear: left;
    max-width: 120px;
    margin-left: -150px;
}

.bc-history dt,
.bc-history dd {
    margin-top: 30px;
}

.bc-history dd {
    min-height: 1.2em;
    padding-top: 4px;
    padding-bottom: 10px;
}

.bc-history dl > dt:first-child,
.bc-history dl > dt:first-child + dd,
.bc-history dd + dd {
    margin-top: 0;
}

.bc-history-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bc-supports {
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    padding: 3px;
    min-width: 120px;
    text-align: center;
}

.bc-legend .bc-supports {
    display: inline-block;
    min-width: 30px;
}

@media all and (max-width: 800px) {

    .bc-table .bc-history {
        padding-left: 0;
        box-shadow: none;
    }
}

@media all and (max-width: 480px) {

    .bc-history dl {
       margin-left: 10px;
    }

    .bc-history dt {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .bc-history dd {
        clear: left;
        min-height: 0;
    }
}

/*
legend
---------------------------------------------------------------- */

.bc-legend {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    page-break-inside: avoid;
    webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 24px;
}

.bc-legend dt {
    display: inline-block;
    margin: 0 0 5px 0;
}

.bc-legend dd {
    display: inline;
    margin: 0 10px 5px 10px;
}

.bc-legend dd:after {
  content: '\a';
  white-space: pre;
}

/*
footnotes
---------------------------------------------------------------- */

.bc-footnotes dt {
    margin-top: 10px;
    font-weight: bold;
}

.bc-footnotes dl > dt:first-child {
    margin-top: 0;
}

.bc-footnotes dd {
    margin-left: 20px;
}

/*

---------------------------------------------------------------- */

.only-icon > i.logo-fxos-c:before {
    content: url('fxos-c.png');
    top: 0;
    left: 0;
}
