@require '../../includes/vars';
@require '../../includes/mixins';

/*
    Styles for overall document.  Minimally styles the canvas.
*/

html {
    background: #fff;
    font-size: $base-font-size;
}

body {
    color: $text-color;
    create-gradient-background($header-background-color);

    font-family: $site-font-family;
    line-height: 1.5;
    {$selector-site-font-fallback} {
        font-family: $site-font-family-fallback;
        letter-spacing: 0.01em;
        word-spacing: 0.03em;
    }
}
