@require '../../includes/vars';
@require '../../includes/mixins';

/*
    Sectioning elements - things that contribute to document outline
    Section, article, aside, header, footer, main (main is not actually sectioning,
    did you know that?), hr (hr is sectioning in HTML5, did you know that?)
*/

aside {
    @extend $column-half;
    prevent-last-child-bottom-spacing();

    float: right;
    border: 1px solid $header-background-color;
    background: $light-background-color;
    padding: $grid-spacing;
    margin-left: $grid-spacing;
    margin-bottom: $grid-spacing;
}

main {
    background: #fff;
    min-height: 200px;

    > .center {
        padding-top: $first-content-top-padding;
    }
}

footer {

    background: #fff;
    padding:  $first-content-top-padding 0 0 0;

    set-smaller-font-size();
    {$selector-heading-font-fallback} {
        letter-spacing: -0.01em;
        word-spacing: 0;
    }

    p, label {
        font-style: italic;
    }

    p {
        bidi-style(padding-left, 92px, padding-right, 0, true);
        padding-top: 10px;
        padding-bottom: 0;
        position: relative;
        min-height: 62px;

        &:after {
            bidi-style(left, 0, right, 0);
            content: '';
            display: block;
            width: 65px;
            height: 60px
            background-image: url($logo-sprite-url);
            background-position: 0px -83px;
            background-size: 205px auto;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
        }
    }

    .column-strip {
        padding-top: 10px;
    }

    label {
        padding-right: 4px;
    }
}

details {
    clear: both;
    display: block;
}

summary  {
    display: block;

    h1, h2, h3, h4, h5, h6 {
        display: inline-block;
    }
}

hr {
    border-top: 1px solid $text-color;
    height: 0;
    margin: $grid-spacing 0;
}


@media $media-query-mobile {

   /* add bottom spacing to the footer */
    footer {
        padding-bottom: $grid-spacing;
    }
}


@media print {
    header, footer {
        display: none;
    }
}

