/*
table layout
- uses display: block for smaller screen sizes;
- requires .bc-table-{$num} modifier to display columns correctly
====================================================================== */

.text-content table.bc-table { /* specificity to over-ride .text-content styles */
    width: 100%;
    border: none; /* to over-ride .text-content styles */
    border-collapse: separate; /* to over-ride .text-content styles */
    border-spacing: 0;
    background-color: $header-background-color;
}

.bc-table,
.bc-table thead,
.bc-table tbody,
.bc-table tr,
.bc-table th,
.bc-table td {
    box-sizing: border-box;
}

/* tr
----------------------------------------------------------------------  */

.bc-table tr {
    position: relative;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.2s ease-out;
}

/* th & td
----------------------------------------------------------------------  */

.bc-table th,
.bc-table td {
    position: relative;
    padding: 5px 3px;
    border-color: $bc-color-border;
    border-top: 1px solid $bc-color-border;
    border-left: 1px solid $bc-color-border;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.2s ease-out;
    text-align: center;
}

for $num in (1..14) {
    .bc-table-{$num} thead th,
    .bc-table-{$num} tbody td {
        width: (100 / $num)%;
    }
}

/* first column, fixed at 200 */
.bc-table thead td,
.bc-table tbody th {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
}

/* everything except first column */
.bc-table thead th,
.bc-table tbody td {
    width: 10%; /* not actually 10% but triggers making all equal width */
}

/* second column */
.bc-table thead td + th,
.bc-table tbody th + td {
    border-left: 0;
}

/* thicker border between mediums */
.bc-mediums th + th,
.bc-medium-border {
    border-left: 4px solid $bc-color-border;
}


/* th
----------------------------------------------------------------------  */


for $num in (2..3) {
    .bc-table thead th[colspan={'"' + $num + '"'}] {
        width: (100 / $num)%;
    }
}

.bc-table .bc-mediums th {
    padding: 2px 0 5px 0;
    border-bottom: 4px solid $bc-color-border;
    font-size: 24px;
}

.bc-table .bc-browsers th {
    border-top: 0;
    padding: 3px 0;
    font-size:18px;
}

.bc-table tbody th {
    border-right: 4px solid $bc-color-border;
    border-left: 0;
    text-align: left;
}


/* td
----------------------------------------------------------------------  */

/* empty td in thead */
.bc-table thead td {
    border-top-color: transparent;
    border-right: 4px solid $bc-color-border;
    border-left: 0;
}

/* make outline more visible */
.bc-table td:focus {

    z-index: 1;
}

.bc-table td[tabindex] {
    cursor: pointer;
}

.no-js .bc-table tbody td,
.bc-table tbody td[tabindex] {
    padding-top: 6px;
    padding-bottom: 12px;
}


/* code
----------------------------------------------------------------------  */
.bc-table tbody th code {
    white-space: nowrap;
}


/*
tablet display
- declarataions are mixins
- mixins are included in media queries below
----------------------------------------------------------------------  */

bc-table-tablet-display-block() {

    .bc-table thead,
    .bc-table tbody,
    .bc-table tr {
        width: 100%;
        display: block;
        clear: left;
    }

    .bc-table th,
    .bc-table td {
        display: block;
        float: left;
    }

    .bc-table tbody th + td {
        clear: left;
    }

    .bc-table thead td {
        display: none;
    }

    .bc-table tbody th {
        width: 100%;
        max-width: 100%;
        border-right: 0;
        padding-top: 10px;
        padding-bottom: 0;
    }
}

bc-table-tablet-display-flex() {
    /*
    Flexbox for those lucky few who can handle it
    - we only needs this to make equal height columns in the tablet display view
    - ie is not among those that can handle this flexbox code,
      but it doesn't supoort @support so we need to include that in the MQ
    - all browsers which support @support also use unprefixed syntax
    ----------------------------------------------------------------------  */

    .bc-table,
    .bc-table thead,
    .bc-table tbody,
    .bc-table tr,
    .bc-table th {
        display: flex;
    }

    .bc-table,
    .bc-table thead,
    .bc-table tbody {
        flex-direction: column;
    }

    .bc-table tr {
        flex-wrap: wrap;
        align-items: stretch;
    }

    .bc-table th,
    .bc-table td {
        flex: 1 1 0;
        justify-content: center;
    }

    for $num in (2..8) { /* 1 is default for both colspan and flex */
        .bc-table th[colspan={'"' + $num + '"'}] {
            flex: $num $num 0;
        }
    }

    .bc-table tbody th {
        display: block;
        flex: 1 1 100%;
        justify-content: flex-start;
    }

    .bc-table td {
        display: block; /* if we leave it table-cell it doesn't act like a flex-item */
    }

    .no-js .bc-table tbody td,
    .bc-table tbody td[tabindex] {
        /* flex is top aligned not center aligned so keep spacing at top same as no icons */
        padding-top: 5px;
    }
}

@media all and (min-width: 769px) {
    .wiki-right-present.wiki-left-present {
        bc-table-tablet-display-block();
    }
}

@supports (display: flex) {
    @media all and (min-width: 769px) {
        .wiki-right-present.wiki-left-present {
            bc-table-tablet-display-flex();
        }
    }
}

@media $media-query-mobile {
    bc-table-tablet-display-block();
}


@supports (display: flex) {
    @media all and (min-width: 481px) and (max-width: 768px) {
        bc-table-tablet-display-flex();
    }
}


/*
mobile display
----------------------------------------------------------------------  */

@media $media-query-small-mobile {

    .bc-table thead {
        display: none;
    }

    .bc-table tbody td {
        position: relative;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        box-shadow: inset 60px 0 0 0 #EAEFF2;
        border-top: 1px solid $bc-color-border;
        border-left: 0;
        padding-left: 70px;
        padding-right: 10px;
        text-align: left;
      }

    .no-js .bc-table tbody td,
    .bc-table tbody td[tabindex] {
       padding-bottom: 20px;
    }

    /* thicker border between mediums */
    .bc-table tbody th + td,
    [class*=desktop] + [class*=android],
    [class*=desktop] + [class*=mobile],
    [class*=desktop] + [class*=fxos],
    [class*=desktop] + [class*=mobile],
    .bc-table tbody tr {
        border-top: 4px solid $bc-color-border;
        border-left: none;
    }

}
