<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"
                       xmlns:moz="http:/www.mozilla.org/2006/browser/search/">
<ShortName>{{ _('Mozilla Developer Network') }}</ShortName>
{# L10n: Search Mozilla Developer Network documentation #}
<Description>{{ _('Search Mozilla Developer Network documentation') }}</Description>
<InputEncoding>UTF-8</InputEncoding>
<Image width="16" height="16" type="image/png">{{ MEDIA_URL }}img/favicon32.png</Image>
<Url type="text/html" method="get" template="{{ url('search', locale=locale)|absolutify }}">
  <Param name="q" value="{searchTerms}"/>
  <Param name="w" value="3"/>
  <Param name="qs" value="plugin"/>
</Url>
<Url type="application/opensearchdescription+xml"
     rel="self"
     template="{{ url('search.plugin', locale=locale)|absolutify }}"/>
<Url type="application/x-suggestions+json"
     template="{{ url('search.suggestions', locale=locale)|absolutify }}?q={searchTerms}"/>
<moz:SearchForm>{{ url('search', locale=locale)|absolutify }}</moz:SearchForm>
</OpenSearchDescription>
