{# Set URLs outside of translation block, to keep user's locale #}
{% set payments_url = url('payments') %}
{% set recurring_payment_subscription_url = url('recurring_payment_subscription') %}
{% set recurring_payment_initial_url = url('recurring_payment_initial') %}
{% set default_payment_url = recurring_payment_initial_url if recurring_payment_enabled else payments_url %}
{% set faq_url = default_payment_url + "#contribute-faqs" %}
{% set recurring_faq_url = default_payment_url + "#contribute-faqs" %}
{% set feedback_url = default_payment_url + "#contribute-feedback" %}
{% set account_login_url = url('account_login') %}
{% set github_next_url = account_login_url + '?next=' + recurring_payment_subscription_url %}

{% translation 'en-US' %}{# Display in English until Q1 2019 #}
    <div id="contrib_beta"
        class="contribution-banner {% if is_popover %}contribution-popover is-collapsed hidden{% endif %}"
        {% if is_popover %} aria-expanded="false" aria-hidden="true" {% endif %} data-banner="contrib_beta">

        {% if is_popover %}
            <div class="contribution-popover-actions">
                <button id="collapse-popover-button" class="hide-collapse mdn-cta-collapse" aria-labelledby="mdn-cta-minimize-icon">
                    {{ include_svg('includes/icons/arrows/chevron-down.svg', _('Collapse pop over window'), 'mdn-cta-minimize-icon') }}
                </button>
                <button id="close-popover-button" class="mdn-cta-close" aria-labelledby="mdn-cta-close-icon">
                    {{ include_svg('includes/icons/general/close.svg', _('Close pop over window'), 'mdn-cta-close-icon') }}
                </button>
            </div>
        {% endif %}
        <div class="column-container">
            <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            <div class="column-half contribute-lead-in">
                <div class="container">
                    <h2 class="highlight highlight-spanned">
                        <span class="highlight-span">{{ _('Help grow MDN')}}</span>
                    </h2>
                    <h4 tabindex="-1">{{_('Support MDN, and it comes back to you.')}}</h4>
                    <p class="body">
                        {% trans %}
                        You come to MDN for information and assistance. Be a
                        part of making MDN even better. You’ll get back more of
                        the knowledge and tools you rely on for when your work
                        has to work.
                        {% endtrans %}
                    </p>
                    {% if is_popover %}
                        <div class="button-group">
                            <a href="{{ faq_url }}" class="cta-link">
                                {{_('Learn more about payments to MDN')}} {% include 'includes/icons/arrows/arrow.svg' %}
                            </a>
                            <a href="{{ feedback_url}} " class="cta-link">
                                {{_('Provide feedback')}} {% include 'includes/icons/arrows/arrow.svg' %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="column-half payments-form">
                {% if recurring_payment_enabled %}
                    <div class="payments-form-container">
                        {% if is_popover %}
                            <div id="dynamic-payment-switch" class="payments-switch">
                                <input type="radio" id="switch_left" name="payment_selector" value="one_time" autocomplete="off"/>
                                <label for="switch_left">{{_('One off payment')}}</label>
                                <input type="radio" id="switch_right" name="payment_selector" value="recurring" autocomplete="off" checked/>
                                <label for="switch_right">{{_('Monthly payment')}}</label>
                            </div>
                        {% else %}
                            <div class="payments-switch">
                                <a href="{{ payments_url }}" {% if not recurring_payment %}class="active"{% endif %}>
                                    {{_('One off payment')}}
                                </a>
                                <a href="{{ recurring_payment_initial_url }}" {% if recurring_payment %}class="active"{% endif %}>
                                    {{_('Monthly payment')}}
                                </a>
                            </div>
                        {% endif %}

                        {% with form=form, default_payment_url=default_payment_url, is_popover=is_popover, recurring_payment=recurring_payment, payments_url=payments_url, recurring_payment_subscription_url=recurring_payment_subscription_url, recurring_payment_enabled=True %}
                            {%  include "payments/includes/payments-form.html" %}
                        {% endwith %}

                        {% if not user.is_authenticated %}
                            {% set github_url = provider_login_url('github', process='login') %}
                            <div id="login-popover" class="hidden align-center login-prompt">
                                <p>{{_('We’ve noticed you’re not logged in to MDN. To complete your monthly payment, we’ll need you to log in first.')}}</p>
                                <a href="{{ github_url }}" id="github_redirect_payment" class="payment-form-button js-login-link" data-service="GitHub" rel="nofollow" data-next="{{ github_next_url }}">
                                    {{ _('Sign in') }}{% include 'includes/icons/social/github.svg' %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% with form=form, default_payment_url=default_payment_url, is_popover=is_popover, payments_url=payments_url, recurring_payment_subscription_url=recurring_payment_subscription_url, recurring_payment_enabled=False %}
                        {%- include "payments/includes/payments-form.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>

{% endtranslation %}
