{% if beta %}
{% set payment_terms_url = url_for_wiki_site('payment_terms') | absolutify(for_wiki_site=True) %}
{% else %}
{% set payment_terms_url = url('payment_terms') %}
{% endif %}
<form id="contribute-form"
    class="contribution-form {% if recurring_payment or (is_popover and recurring_payment_enabled) %}recurring-form{% endif %}"
    method="{% if recurring_payment and not request.user.is_authenticated %}get{% else %}post{% endif %}"
    action="{% if recurring_payment or (is_popover and recurring_payment_enabled) %}{{ recurring_payment_subscription_url }}{% else %}{{ payments_url }}{% endif %}"
    data-payment-type="{% if recurring_payment or (is_popover and recurring_payment_enabled) %}recurring{% else %}one_time{% endif %}"
    data-recurring-action="{{ recurring_payment_subscription_url }}"
    data-one-time-action="{{ payments_url }}"
    novalidate>
    <div class="form-group">
        <label class="offscreen" for="id_{{form.name.name}}">{{form.name.label}}</label>
        {{form.name}}
        {{form.name.errors}}
        <div class="email-input-container">
            <label class="offscreen" for="id_{{form.email.name}}">{{form.email.label}}</label>
            {{form.email}}
            {{form.email.errors}}
            <button class="tooltip-button" id="tooltip-email-button" aria-controls="tooltip-email" aria-label="{{_('Open tooltip for further email field information') }}">
                {% include 'includes/icons/punctuation/question-mark.svg' %}
            </button>
            <div class="tooltip {% if is_popover %}popover-fixed{% endif %}" aria-hidden="true" id="tooltip-email">
                <button class="tooltip-close" aria-controls="tooltip-email" aria-label="{{_('Close this tooltip') }}"></button>
                <p>{{_('Why do you need my email address?') }}</p>
                <p>{{_('This is so we can send you a receipt. This is handy if you’d like a refund.') }}</p>
            </div>
        </div>
        <label class="offscreen" for="id_{{form.donation_choices.name}}">{{form.donation_choices.label}}</label>
        {{form.donation_choices}}
        <label class="label" aria-label="{{ _('Other contribution amount') }}" for="id_{{form.donation_amount.name}}">{{form.donation_amount.label}}</label>
        {{form.donation_amount}}
        {{form.donation_amount.errors}}
        {% if request.user.is_authenticated or not recurring_payment and not request.user.is_authenticated %}
            {{form.stripe_token}}
            {{form.stripe_public_key}}
        {% endif %}
        <p class="legal-copy">
            Payments are not tax deductible. Your payment details will be processed by
            <a href="https://stripe.com/" rel="noopener" target="_blank">Stripe</a>.
            See our
            <a href="{{ payment_terms_url }}" rel="noopener" target="_blank">payment terms</a>
            and
            <a href="https://www.mozilla.org/en-US/privacy/websites/" rel="noopener" target="_blank">privacy notice</a>.
        </p>
        <input type="hidden" id="stripe_source_setup" value="1">
        {% set show_checkbox = recurring_payment or (is_popover and recurring_payment_enabled) %}
        <div id="recurring-confirmation-container" {% if not show_checkbox %}class="hidden"{% endif %}>
            <div class="recurring-payment-confirmation">
                <label for="{{form.accept_checkbox.id_for_label}}">
                    {{form.accept_checkbox}}
                    <div class="control-indicator"></div>
                    <span class="legal-copy">
                        By clicking this button, I authorize Mozilla to charge
                        this payment method <span data-dynamic-amount>$8</span>
                        each month, according to the <a href="{{ payment_terms_url }}">Payment Terms</a>, until
                        I cancel my subscription.
                    </span>
                </label>
            </div>
        </div>

    </div>
    <ul class="errorlist hidden" id="contribution-error-message">
        <li>{{_('There has been an issue, please try again later.')}}</li>
    </ul>
    <div class="form-footer">
        <button class="payment-form-button" type="button" id="stripe_submit">
            <span class="hide-expand">{{_('Support MDN')}} {% include 'includes/icons/arrows/chevron-up.svg' %}</span>
            <span class="hide-collapse">
                {{_('Pay <span data-dynamic-amount>%(amount)s</span>%(recurring)s', amount="$8", recurring='/month' if recurring_payment else '') }}
            </span>
        </button>

        <a class="payment-form-link" href="{{ default_payment_url }}">
            {{_('Support MDN')}}
        </a>

        <div class="payment-details">
            <img src="{{ static('img/payment-type-mastercard-1x.png') }}" srcset="{{ static('img/payment-type-mastercard-1x.png') }}, {{ static('img/payment-type-mastercard-2x.png') }} 2x" alt="{{ _('We accept Mastercard payments') }}" title="{{ _('We accept Mastercard payments') }}">
            <img src="{{ static('img/payment-type-visa-1x.png') }}" srcset="{{ static('img/payment-type-visa-1x.png') }}, {{ static('img/payment-type-visa-2x.png') }} 2x" alt="{{ _('We accept Visa payments') }}" title="{{ _('We accept Visa payments') }}">
            <img src="{{ static('img/payment-type-american-express-1x.png') }}" srcset="{{ static('img/payment-type-american-express-1x.png') }}, {{ static('img/payment-type-american-express-2x.png') }} 2x" alt="{{ _('We accept American Express payments') }}" title="{{ _('We accept American Express payments') }}">
        </div>
    </div>
</form>
<script>
    window.payments = {
        paymentChoices: {
            oneTime: {{payments_form_donation_choices_json}},
            recurring: {{recurring_payment_form_donation_choices_json}}
        },
        isAuthenticated: '{{user.is_authenticated}}' === 'True'
    };
</script>
