.delete-user {
    @include card();
    margin: 20px auto;
    padding: 20px;
    max-width: 550px;

    header {
        text-align: center;
    }

    p {
        padding: 0;
        text-align: left;
    }

    form {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 24px;
                }
            }
        }
        a {
            margin-left: 20px;
            font-weight: bold;
        }
    }
}

.hidden {
    display: none;
}
