{% if config.GOOGLE_ANALYTICS_ACCOUNT != '0' %}
<script type="text/javascript">
  // http://cfsimplicity.com/61/removing-analytics-clutter-from-campaign-urls
  var removeUtms  =   function(){
      var location = window.location;
      if (location.hash.indexOf('utm') != -1) {
          var anchor = location.hash.match(/#(?!utm)[^&]+/);
          anchor  =   anchor ? anchor[0] : '';
          if(!anchor && window.history.replaceState){
              history.replaceState({}, '', location.pathname + location.search);
          } else {
              location.hash = anchor;
          }
      }
  };
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ config.GOOGLE_ANALYTICS_ACCOUNT }}'],
            ['_setAllowAnchor', true],
{% if request.user.is_authenticated() %}
            ['_setCustomVar', 7, 'Signed-In', 'Yes', 1],
{% if request.user.get_profile().beta_tester %}
            ['_setCustomVar', 9, 'Beta Tester', 'Yes', 1],
{% endif %}
{% endif %}
{% if waffle.flag('search_doc_navigator') %}
            ['_setCustomVar', 8, 'docs navigator', 'Yes', 1],
{% endif %}
            ['_trackPageview']);
  _gaq.push(removeUtms);

  {% set GA_FILE = 'u/ga_debug.js' if settings.TEMPLATE_DEBUG else 'ga.js' %}

  (function(a, d) {
    var ga = d.createElement(a); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/{{ GA_FILE }}';
    var s = d.getElementsByTagName(a)[0]; s.parentNode.insertBefore(ga, s);
  })('script', document);

</script>
{% endif %}
