{% if config.GOOGLE_ANALYTICS_ACCOUNT != '0' %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ config.GOOGLE_ANALYTICS_ACCOUNT }}']);
  {% if not request.user.is_anonymous() %}
  _gaq.push(['_setCustomVar', 7, 'Signed-In', 'Yes', 1]);
  {% endif %}
  {% if waffle.flag('redesign') %}
  _gaq.push(['_setCustomVar', 6, 'Redesign', 'Yes', 1]);
  {% endif %}
  _gaq.push(['_trackPageview']);

  (function(a, d) {
    var ga = d.createElement(a); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = d.getElementsByTagName(a)[0]; s.parentNode.insertBefore(ga, s);
  })('script', document);

</script>
{% endif %}
