{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

<form class="languages go" method="get" action="#">
  <label for="language">{{ _('Other languages:') }}</label>
  <select id="language" name="lang" dir="ltr">
    {% for code, name in settings.LANGUAGE_CHOICES -%}
      <option value="{{ code }}" {{ code|ifeq(LANG, "selected") }}>
        {{ name }}
      </option>
    {%- endfor %}
  </select>
  <noscript><button type="submit">{{ _('Go') }}</button></noscript>
</form>
