<form class="languages go" method="get" action="#">
  <label for="language">{{ _('Other languages:') }}</label>
  {% for name, value in request.GET.iteritems() %}
    {% if name != 'lang' %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {% endif %}
  {% endfor %}
  <select id="language" class="autosubmit" name="lang">
    {% for code, name in settings.LANGUAGES -%}
      <option value="{{ code }}" {{ code|ifeq(LANG, "selected") }}>
        {{ name }}
      </option>
    {%- endfor %}
  </select>
  <noscript><button type="submit">{{ _('Go') }}</button></noscript>
</form>
