{% if user.is_authenticated() %}
    <div class="user-state">
        {% include 'socialaccount/snippets/login_service_icon.html' %}
        <ul>
            <li><a href="{{ request.user.get_absolute_url() }}" class="user-state-profile">{{ user_display(request.user) }}</a></li>
            <li><a href="{{ url('account_logout') }}?next={{ next_url }}" class="user-state-signout">{{ _('Sign out') }}</a></li>
        </ul>
    </div>
{% else %}

    {% set github_url = provider_login_url('github', next=next_url) %}

    <form>
      <div class="oauth-login-container">
          <div class="oauth-login-options" tabIndex="0">
              <span class="oauth-login-options-text">
                <span class="oauth-login-options-text-icons">{{ _('Sign in with') }}</span>
                <span class="oauth-login-options-text-no-icons">{{ _('Sign in') }}</span>
              </span>
              <span class="oauth-icon oauth-persona launch-persona-login" data-service="Persona" data-next="{{ next_url }}" title="{{ _('Persona') }}"><i class="icon-user" aria-hidden="true"></i></span>
              <span class="oauth-icon oauth-github" data-service="GitHub" data-href="{{ github_url }}" title="{{ _('GitHub') }}"><i class="icon-github" aria-hidden="true"></i></span>
          </div>
          <div class="submenu oauth-login-picker" aria-hidden="true">
              <ul>
                  <li><a href="{{ url('account_login') }}" class="login-link launch-persona-login" data-next="{{ next_url }}" data-service="Persona"><i class="icon-user" aria-hidden="true"></i>Persona</a></li>
                  <li><a href="{{ github_url }}" class="login-link" data-service="GitHub"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
              </ul>
          </div>
      </div>
    </form>
{% endif %}
