{% if user.is_authenticated() %}
  <ul class="user-state">
    {% set username = request.user.username %}
      <li><a href="{{ url('devmo.views.profile_view', username=username) }}">{{ _('{username}') | f(username=username) }}</a></li>
      <li><a href="{{ url('users.logout') }}?next={{ next_url }}">{{ _('Sign out') }}</a></li>
  </ul>
{% else %}
<ul class="user-state signed-out">
    <li class="user-signin menu">
    <form class="browserid" action="{{url('users.browserid_verify') }}" method="POST">
        <input id="next" name="next" type="hidden" value="{{ next_url }}"/>
        {{ browserid_form }}
        {% set toggle = 'toggle' %}
        {% if request.COOKIES.get('browserid_explained', 0) == '1' %}
          {% set toggle = '' %}
        {% endif %}

          <a href="#" class="persona-button persona-login" data-next="{{ next_url }}">
            <span class="persona-icon"><i aria-hidden="true"></i></span>
            <span class="signin">{{ _('Sign in with Persona') }}</span>
          </a>

      </form>
    </li>
  </ul>
{% endif %}