{% set use_browserid = LANG|lower in config.BROWSERID_LOCALES.split(' ') %}
<ul class="user-state">
{% if user.is_authenticated() %}
    {% set username = request.user.username %}
      <li><a href="{{ url('devmo.views.profile_view', username=username) }}">{{ _('{username}') | f(username=username) }}</a></li>
    {# Use "Sign out" language as inverse of BrowserID's "Sign in", but don't
       mess with other locales' already translated string #}
    {% if use_browserid %}
      <li><a href="{{ url('users.logout') }}">{{ _('Sign out') }}</a></li>
    {% else %}
      <li><a href="{{ url('users.logout') }}">{{ _('Log out') }}</a></li>
    {% endif %}
{% else %}
    {# Show BrowserID only for supported locales #}
    {% if use_browserid %}
      <li id="user-signin" class="menu">
          <form class="browserid" action="{{url('users.browserid_verify')}}" method="POST">
              {{ browserid_form }}
              {% set toggle = 'toggle' %}
              {% if request.COOKIES.get('browserid_explained', 0) == '1' %}
                {% set toggle = '' %}
              {% endif %}
              <a href="#" target="_blank" class="browserid-signin {{ toggle }}" aria-haspopup="true" title="{{_('Sign in with BrowserID')}}">{{ _('Sign in') }}</a> 
              {% if toggle %}
              <div id="browserid-info" class="sub-menu" aria-hidden="true" aria-labelledby="user-signin">
              {% trans browserid_href='https://browserid.org/', why_browserid='http://identity.mozilla.com/post/12950196039/deploying-browserid-at-mozilla' %}
                <h3>What's this?</h3>
                <p>MDN has switched to <a href="{{ browserid_href }}" target="_blank" rel="external">BrowserID</a>, a safe and simple way to sign in with just your e-mail address. 
                  <a href="{{ why_browserid }}" rel="external">Learn more about why Mozilla is using BrowserID</a>.</p>
                <p><strong>Returning members:</strong> sign in with BrowserID and you'll be connected to your MDN profile (all your information is still here).</p>
                <p><strong>New members:</strong> sign in with BrowserID first, then you'll be able to set up your new MDN profile.</p>
              {% endtrans %}
                <p><a href="#" target="_blank" class="browserid-signin" title="{{_('Sign in with BrowserID')}}">{{ _('Sign in') }}</a></p>
              </div>
              {% endif %}
          </form>
      </li>
    {% else %}
      <li><a href="{{ url('users.register') }}">{{ _('Join MDN') }}</a></li>
      <li><a href="{{ url('users.login') }}">{{ _('Log in') }}</a></li>
    {% endif %}
{% endif %}
</ul>
