{% if num_pages > 1 %}
  <ol class="pagination">
  {% if pager.has_previous() %}
    <li class="prev">
      <a href="{{ pager.url|urlparams(page=pager.previous_page_number()) }}">
        {{ _('Previous') }}
      </a>
    </li>
  {% endif %}
  {% if pager.dotted_lower %}
    <li><a href="{{ pager.url|urlparams(page=1) }}">{{ 1 }}</a></li>
    {% if pager.page_range[0] != 2 %}
      <li class="skip">&hellip;</li>
    {% endif %}
  {% endif %}
  {% for x in pager.page_range %}
    <li {{ x|class_selected(pager.number) }}>
      <a href="{{ pager.url|urlparams(page=x) }}">{{ x }}</a>
    </li>
  {% endfor %}
  {% if pager.dotted_upper %}
    {% if pager.page_range[-1] != num_pages-1 %}
      <li class="skip">&hellip;</li>
    {% endif %}
    <li><a href="{{ pager.url|urlparams(page=num_pages) }}">{{ num_pages }}</a></li>
  {% endif %}
  {% if pager.has_next() %}
    <li class="next">
      <a href="{{ pager.url|urlparams(page=pager.next_page_number()) }}">
        {{ _('Next') }}
      </a>
    </li>
  {% endif %}
  </ol>
{% endif %}


