{% macro for_contributors(user) -%}
  {% if user.is_authenticated() %}
    <section id="for-contributors" class="sd-module">
      <h1>{{ _('For Contributors') }}</h1>
      <ul>
        <li><a href="{{ url('wiki.document', 'Contributor Home Page') }}">{{ _('Contributor Home Page') }}</a></li>
        <li><a href="{{ url('dashboards.localization') }}">{{ _('Knowledge Base Dashboard') }}</a></li>
        <li><a href="{{ url('gallery.home') }}">{{ _('Media Gallery') }}</a></li>
        <li><a href="{{ url('customercare.landing') }}">{{ _('Help on Twitter') }}</a></li>
        <li><a href="{{ url('wiki.document', 'answering-support-questions') }}">{{ _('Answer Support Questions') }}</a></li>
        <li><a href="{{ url('wiki.document', 'Helping with Live Chat') }}">{{ _('Help with Live Chat') }}</a></li>
        <li><a href="{{ url('wiki.document', 'improve-knowledge-base') }}">{{ _('Improve the Knowledge Base') }}</a></li>
        <li><a href="{{ url('wiki.document', 'localize-firefox-help') }}">{{ _('Translate Articles') }}</a></li>
        <li><a href="{{ url('forums.forums') }}">{{ _('Contributors Forums') }}</a></li>
      </ul>
    </section>
  {% endif %}
{%- endmacro %}

{% macro quick_links(active=0) -%}
  <nav id="quick-links">
    <ul>
      <li class="home {{ 'active' if active == 1 }}">
        <a href="{{ url('home') }}">{{ _('Firefox Help Home') }}</a>
      </li>
      <li class="aaq {{ 'active' if active == 2 }}">
        <a href="{{ url('wiki.document', 'ask') }}">{{ _('Ask a Question') }}</a>
      </li>
    </ul>
  </nav>
{%- endmacro %}
