{# String used by the JS Video Player #}
<div style="display: none">
  <span id="video-player-close">{{ _('Close') }}</span>
  {# L10n: Label used before a list of links to download the video #}
  <span id="video-player-download-link">{{ _('Download Formats:') }}</span>
  {# L10n: Browsers and Plugins useful for viewing video content #}
  <div id="video-player-fallback">{% trans %}This video requires a browser with support for open video:
    <ul>
      <li><a href="http://www.mozilla.com/firefox/">Firefox</a></li>
      <li><a href="http://www.opera.com/">Opera</a></li>
      <li><a href="http://www.google.com/chrome">Chrome</a></li>
    </ul>
    or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash 
    Player</a>. Alternatively, you may use the video download links 
    provided.{% endtrans %}</div>
</div>
