{% extends "common/base.html" %}
{% set title = _("Search") %}
{% set search_form = SearchForm(request) %}
{% if advanced == '1' %}
{% set classes = 'advanced_search' %}
{% endif %}
{% set styles = (MEDIA_URL + 'css/search.css',) %}
{% set scripts = (MEDIA_URL + 'js/jquery.min.js',
        MEDIA_URL + 'js/jqueryui.min.js',
        MEDIA_URL + 'js/search.js') %}

{% block content %}
    {% if advanced == '1' %}
    <div id="search-tabs">
        <input type="hidden" id="where" value="{{ w }}" />
        <input type="hidden" id="default_author" value="username" />
        <input type="hidden" id="default_query" value="crashes on youtube" />
        <input type="hidden" id="default_tags" value="tag1, tag2" />
        <ul>
            <li><a title="{{ _("Search the Knowledge Base") }}" class="tablink" href="#kb">{{ _("Knowledge Base") }}</a></li>
            <li><a title="{{ _("Search the Forum") }}" class="tablink" href="#forum">{{ _("Forum") }}</a></li>
        </ul>
        <div id="tab-wrapper">
        <form id="kb" method="get">
            <div class="container">
                <label for="kb_q">{{ _("Article contains") }}</label>
                <input name="q" id="kb_q" value="{{ search_form.q.data or '' }}" type="text" />
            </div>

            <div class="container">
                {{ search_form.language.label_tag()|safe }}
                {{ search_form.language|safe }}
            </div>

            <div class="container">
                {{ search_form.category.label_tag()|safe }}
                {% if search_form.category %}
                <div class="category">
                {% for value, name in search_form.fields['category'].choices %}
                    <label>
                        <input type="checkbox" name="category" value="{{ value }}"/> {{ _(name) }}
                    </label>
                {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="container">
                {{ search_form.tag.label_tag()|safe }}
                {{ search_form.tag|safe }}
                <div class="search-tips-small">
                    {{ _("Note: Searching for \"tag1, tag2\" returns articles tagged with both tag1 and tag2") }}
                </div>
            </div>

            <input type="hidden" value="1" name="w" />
            <div class="submit-search">
                <input type="submit" value="{{ _("Search") }} »" />
            </div>
        </form><!-- kb -->
        <form method="get" id="forum">
            <label>
                <span>{{ _("Post contains") }}</span>
                <input name="q" value="{{ q|e }}" type="text" />
            </label>

            <label>
                <span>{{ _("Post status") }}</span>
                <select name="status">
                {% for k, v in status_list|dictsort %}
                    <option value="{{ k }}">{{ _(v.name) }}</option>
                {% endfor %}
                </select>
            </label>

            <label>
                <span>{{ _("Post author") }}</span>
                <input name="author" value="{{ author|e }}" type="text" /><br/>
            </label>

            <label>
                <span>{{ _("Created") }}</span>
                <select name="created">
                    <option value="0" selected="selected">{{ _("Don't filter") }}</option>
                    <option value="1">{{ _("Before") }}</option>
                    <option value="2">{{ _("After") }}</option>
                </select>
                <input name="created_date" type="text" value="{{ created_date|e }}" class="datepicker" title="Created date. Format: mm/dd/yy" />
            </label>

            <label>
                <span>{{ _("Last updated") }}</span>
                <select name="lastmodif">
                {% for k, v in lastmodif_list|dictsort %}
                    <option value="{{ k }}">{{ _(v) }}</option>
                {% endfor %}
                </select>
            </label>

            <label>
                <span>{{ _("Sort results by") }}</span>
                <select name="sortby">
                {% for k, v in sortby_list|dictsort %}
                    <option value="{{ k }}">{{ _(v) }}</option>
                {% endfor %}
                </select>
            </label>

            <label>
                <span>{{ _("Search in forum") }}</span>
                <select name="forumid[]" multiple="multiple" size="3">
                    <option value="1" selected="selected">{{ _("Firefox") }}</option>
                    <option value="2">{{ _("Contributors") }}</option>
                    <option value="3">{{ _("Off Topic") }}</option>
                </select>
            </label>

            <input type="hidden" value="2" name="w" />
            <input type="hidden" value="1" name="a" />
            <div class="submit-search">
                <input type="submit" value="{{ _("Search") }} »" />
            </div>
        </form><!-- forum -->
        </div><!-- tab-wrapper-->
    </div><!-- search-tabs -->

    <a href="/{{ locale }}/search">{{ _("Use basic search")|safe }}</a>
    {% else %}
    <div id="basic-search" class="search-empty">
    {{ _("Enter your terms in the form below and click <strong>Search</strong>")|safe }}
        <form role="search" method="get" action="search">
            <input type="hidden" value="{{ locale }}" name="locale">
            <input type="text" class="search-query search-empty-query" value="{{ q }}" name="q">
            <input type="submit" class="search-empty-submit btn-large" value="{% print _("Search") %}">
        </form>
    </div>
    <a href="/{{ locale }}/search?a=1">{{ _("Use advanced search")|safe }}</a>
    {% endif %}
{% endblock %}
