{# vim: set ts=2 et sts=2 sw=2: #}
{% extends 'base.html' %}
{% set title = _('Live Chat') %}
{% set scripts = ('chat',) %}
{% set styles = ('chat',) %}
{% set crumbs = [(None, _('Chat'))] %}

{% block content %}
  <article id="chat" class="main">
    <hgroup>
      <h1>{{ _('Live Chat') }}</h1>
      <h2>{% trans %}Live Chat provides real time text support right in your browser.
      If Foxkeh says we're open, click on him to begin a one-on-one chat with one
      of our volunteers.{% endtrans %}</h2>
    </hgroup>
    <section id="chat-status" data-server="{{ settings.CHAT_SERVER }}" data-status="{{ url('chat.queue-status') }}">
      <h1>{{ _('Checking Live Chat Status...') }}</h1>
    </section>
    <section>
      <h1 id="How_to_get_started">{{ _('How to get started') }}</h1>
      <ol>
        <li>{% trans %}If this page says "We're Open," that means people are ready to help
        you with your Firefox problem. Click on the fox to launch the chat
        window.{% endtrans %}</li>
        <li>{% trans %}Fill out as many of the fields as you can and click <span
        class='button'>Start Chat</span>.{% endtrans %}</li>
        <li>{% trans %}When someone answers your question, the request window will change
        to show a chat field and the conversation starts.{% endtrans %}</li>
      </ol>

      <h1 id="What_you_should_know">{{ _('What you should know') }}</h1>

      <ul>
        <li>{% trans %}Helpers are volunteers, not Mozilla employees.{% endtrans %}</li>
        <li>{% trans %}We're currently only providing support in English.{% endtrans %}</li>
        <li>{% trans report='mailto:abuse@support.mozilla.com' %}We'll never ask you to give us
        personal information, including passwords. If someone does,
        <a href="{{ report }}">report them</a>.{% endtrans %}</li>
        <li>{% trans rules=url('wiki.document', 'Forum and chat rules and guidelines') %}We expect our users
        and helpers to be polite with each other; <a href="{{ rules }}">see our rules</a>.{% endtrans %}</li>
        <li>{% trans %}Transcripts are kept for quality purposes and to keep info in the
        knowledge base up to date.  You'll be given a chance to request a copy
        of the transcript when your chat is over.{% endtrans %}</li>
        <li>{% trans %}Right now we only help with issues using Firefox.  If you want chat
        support for other products, or for writing add-ons or contributing code,
        please go to <a href="http://irc.mozilla.org">Mozilla's
        IRC network</a>.{% endtrans %}</li>
      </ul>

      <p><a href="{{ url('wiki.document', 'Terms of service') }}">{{ _('Terms of service') }}</a>
      | <a  href="http://www.mozilla.com/privacy-policy.html">{{ _('Privacy Policy') }}</a></p>

      <h1 id="Want_to_help">{{ _('Want to help?') }}</h1>

      <p>{% trans help=url('wiki.document', 'Helping with Live Chat') %}Our Live Chat volunteers are regular Firefox users like you!
      Check out what you need to know to
      <a href="{{ help }}">help users through Live Chat</a>.{% endtrans %}</p>
    </section>
  </article>
{% endblock %}
