/*
Styles for form elements
********************************************************************** */

input,
button,
textarea,
select,
optgroup,
option {
    @include set-font-size($base-font-size);
    @include set-site-font-family();
    font-style: normal;
    font-weight: normal;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=number],
textarea {
    color: $form-text;
    background: $form-background-color;
    border: $form-border-width solid $form-border-color;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    font-weight: normal;

    @include set-placeholder-style(color, $placeholder-text);
}

textarea {
    color: $text-color;
    font-weight: normal;
}

input[type='search'] {
    @include vendorize(appearance, textfield);

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

label {
    cursor: pointer;

    &.visually-hidden {
        @include visually-hidden();
    }
}

/* disabling of elements */
.disabled,
[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
}

/*
    buttons
*/

.button,
button,
input[type='submit'],
input[type='button'] {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    letter-spacing: normal;
    border: $form-border-width solid $form-border-color;
    background-color: $form-background-color;
    padding: 5px 11px;
    color: $form-text;
    text-decoration: none;

    &.neutral {
        border-color: $blue;
        color: $blue-dark;
    }

    &.negative {
        border-color: $red-dark;
        color: $red-dark;
    }

    &.positive {
        min-height: 32px;
        border-color: $green;
        color: $green-dark;
    }

    &.transparent {
        background-color: transparent;
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &.link {
        @include button-link();
    }

    &::-moz-focus-inner {
        margin-top: -1px;
        margin-bottom: -1px;
    }

    #{$selector-icon} {
        @include set-font-size($base-bump-font-size);
    }

    #{$selector-icon}:before {
        cursor: pointer;
    }

    &:not(.only-icon) #{$selector-icon} {
        @include bidi((
            (float, left, right),
            (margin-right, $icon-margin, margin-left, 0),
        ));
    }
}

/* only need these styles on links with class button added */
.button {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}
