/*
Styles for overall document.  Minimally styles the canvas.
********************************************************************** */

html {
    background: #fff;
    color: $text-color;
}

body {
    line-height: 1.6;
    @include set-site-font-family();
    @include set-font-size($body-font-size);
}
