/*
Styles for overall document.  Minimally styles the canvas.
********************************************************************** */

html {
    background: #fff;
    color: $text-color;
}

body {
    @include create-gradient-background($header-background-color);

    /* typography */
    font-family: $site-font-family;
    line-height: 1.5;
    #{$selector-site-font-fallback} {
        font-family: $site-font-family-fallback;
    }
}
