/*
Styles for form elements
********************************************************************** */

input,
button,
textarea,
select,
optgroup,
option {
    @include set-font-size(16px);
    font-style: normal;
    font-weight: normal;
    font-family: $site-font-family;
    #{$selector-site-font-fallback} {
        font-family: $site-font-family-fallback;
    }
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
textarea {
    background: #fff;
    border: 1px solid #cbc8b9;
    padding: $content-vertical-spacing $content-horizontal-spacing;
}

input[type='search'] {
    @include vendorize(appearance, textfield);

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

label {
    cursor: pointer;
}

/* disabling of elements */
.disabled,
[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
}

/*
    buttons
*/

.button,
button,
input[type='submit'],
input[type='button'] {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: normal;
    letter-spacing: normal;
    background-color: $button-background;
    text-transform: uppercase;
    padding: 5px 11px;
    border-radius: 4px;
    box-shadow: inset 0 -1px $button-shadow-color;
    color: $button-color;
    text-decoration: none;

    &.disabled,
    &[disabled] {
        box-shadow: inset 0 -1px rgba($button-shadow-color, .5);
    }

    &.neutral,
    &.negative,
    &.positive {
        color: #fff;
    }

    &.neutral {
        background-color: $blue;
        box-shadow: inset 0 -1px $homepage-background-color;
    }

    &.negative {
        background-color: $red;
        box-shadow: inset 0 -1px #c13832;
    }

    &.positive {
        background-color: $green;
        box-shadow: inset 0 -1px #486900;
    }

    &.transparent {
        box-shadow: none;
        background-color: transparent;
    }

    &.link {
        @include vendorize(appearance, none);
        font-weight: inherit;
        letter-spacing: inherit;
        background-color: transparent;
        text-transform: inherit;
        padding: 0;
        box-shadow: none;
        color: $link-color;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &::-moz-focus-inner {
        margin-top: -1px;
        margin-bottom: -1px;
    }

    #{$selector-icon}:before {
        cursor: pointer;
    }
}

/* only need these styles on links with class button added */
.button {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}
