/*
Styles for form elements
********************************************************************** */

input,
button,
textarea,
select,
optgroup,
option {
    @include set-font-size(16px);
    font-style: normal;
    font-weight: normal;
    font-family: $site-font-family;
    line-height: 1.15;
    #{$selector-site-font-fallback} {
        font-family: $site-font-family-fallback;
    }
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
textarea {
    color: $form-text;
    background: $form-background-color;
    border: $form-border-width solid $form-border-color;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    font-weight: bold;

    @include set-placeholder-style(color, $placeholder-text);
}

input[type='search'] {
    @include vendorize(appearance, textfield);

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

label {
    cursor: pointer;
}

/* disabling of elements */
.disabled,
[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
}

/*
    buttons
*/

.button,
button,
input[type='submit'],
input[type='button'] {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    letter-spacing: normal;
    border: $form-border-width solid $form-border-color;
    background-color: $form-background-color;
    padding: 5px 11px;
    color: $form-text;
    text-decoration: none;

    &.neutral {
        border-color: $blue;
        color: $blue-dark;
    }

    &.negative {
        border-color: $red;
        color: $red-dark;
    }

    &.positive {
        border-color: $green;
        color: $green-dark;
    }

    &.transparent {
        background-color: transparent;
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &.link {
        @include vendorize(appearance, none);
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        background-color: transparent;
        text-transform: inherit;
        border: 0;
        padding: 0;
        color: $link-color;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &::-moz-focus-inner {
        margin-top: -1px;
        margin-bottom: -1px;
    }

    #{$selector-icon} {
        @include set-font-size($base-bump-font-size);
    }

    #{$selector-icon}:before {
        cursor: pointer;
    }

    &:not(.only-icon) #{$selector-icon} {
        @include bidi-value(float, left, right);
        @include bidi-style(margin-right, $icon-margin, margin-left, 0);
    }
}

/* only need these styles on links with class button added */
.button {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}
