/*
Sectioning elements - things that contribute to document outline
Section, article, aside, header, footer, main (main is not actually sectioning,
did you know that?), hr (hr is sectioning in HTML5, did you know that?)
********************************************************************** */

aside {
    @include column-half();
    @include prevent-last-child-bottom-spacing();
    float: right;
    border: 1px solid $header-background-color;
    background: $light-background-color;
    padding: $grid-spacing;
    margin-left: $grid-spacing;
    margin-bottom: $grid-spacing;
}

main {
    background: #fff;
    min-height: 200px;

    > .center {
        padding-top: $first-content-top-padding;
    }
}

footer {
    background: #fff;
    padding: $first-content-top-padding 0 0 0;
    font-style: italic;

    .column-strip {
        padding-top: 10px;
    }

    label {
        padding-right: 4px;
    }

    select {
        font-style: normal;
    }
}

details {
    clear: both;
    display: block;
    margin-bottom: $grid-spacing;
    @include bidi-style(margin-left, $grid-spacing, margin-right, 0);
}

summary {
    display: block; /* removes Firefox's marker */
    @include bidi-style(margin-left, ( -1 * $grid-spacing ), margin-right, 0);
    cursor: pointer;
    color: $link-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: inline-block;
        margin-bottom: 0;
        color: inherit;
    }

    &::-webkit-details-marker { /* removes webkit's marker */
        display: none;
    }

    /* add marker back in way we control */
    &:before {
        @include bidi-value(content, '\25B6', '\25C0');
        display: inline-block;
        width: $grid-spacing; /* fixed width avoids content jog when marker swapped for narrower one */
        color: $blue;
    }

    /* change marker when details is open */
    details[open] > & {
        margin-bottom: ($grid-spacing / 2);

        &:before {
            content: '\25BC';
        }
    }
}

hr {
    border-top: 1px solid $text-color;
    height: 0;
    margin: $grid-spacing 0;
}

@media #{$media-query-tablet} {
    footer {
        border-top: 1px solid $button-background;
    }
}

@media #{$media-query-mobile} {
    /* add bottom spacing to the footer */
    footer {
        padding-bottom: $grid-spacing;
    }
}


@media print {
    header,
    footer {
        display: none;
    }
}
