@require '../../includes/vars';
@require '../../includes/mixins';

/*
    Table styles
*/

table {
    margin-bottom: $content-block-margin;
}

caption {
    font-weight: bold;
}

caption, th {
    bidi-value(text-align, left, right);
}

