/*
Typography
- headings, blockquotes, paragraphs, links, pre, code
********************************************************************** */

/*
Headings
====================================================================== */

h1 {
    @include heading-1();
}

h2 {
    @include heading-2();
}

h3 {
    @include set-font-size(24px);
    font-family: $subheading-font-family;
    #{$selector-subheading-font-fallback} {
        font-family: $subheading-font-family-fallback;
    }
}

h4 {
    @include set-font-size(20px);
    font-family: $subheading-font-family;
    #{$selector-subheading-font-fallback} {
        font-family: $subheading-font-family-fallback;
    }
}

h5 {
    @include set-font-size(16px);
    font-family: $heading-font-family;
    #{$selector-heading-font-fallback} {
        font-family: $heading-font-family-fallback;
    }
}

/*
====================================================================== */

p {
    margin-bottom: $content-block-margin;
}

/*
====================================================================== */

blockquote {
    @include callout();
}

/*
inline elements
====================================================================== */

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }

    #{$selector-icon}:before {
        cursor: pointer;
    }

    &[name] {
        color: inherit;
        text-decoration: none;
    }
}

abbr[title] {
    cursor: help;
    text-decoration: dotted underline;
}

sup {
    /* stops sup from messing with line height */
    position: relative;
    top: -.15em;
    vertical-align: top;
}

/*
mono space elements (pre, code, kbd)
====================================================================== */

code {
    font-family: $code-inline-font-family;
    word-wrap: break-word;
}

/* pre is a block element so it gets a bit more fancy styling */
pre {
    @include set-font-size($base-font-size);
    line-height: 19px;
    border: 0;
    background: $light-background-color;
    color: $text-color;
    padding: $code-block-padding;
    overflow: auto;
    margin: 0 0 $grid-spacing 0;
    font-family: $code-block-font-family;
    font-style: normal;
}

pre code {
    font-family: inherit;
    font-weight: inherit;
    font-style: normal;
}

@media #{$media-query-mobile} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        code {
            word-break: break-all;
        }
    }
}

kbd {
    background-color: $light-background-color;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    display: inline-block;
    font-family: $code-inline-font-family;
    font-size: .85em;
    font-weight: bold;
    line-height: inherit;
    padding: 2px 4px;
    white-space: nowrap;
}

var {
    font-style: italic;
}
