/*
Apps only
- grey box with coloured icons at the top of the old apps landing page
- now only on localized landing pages
********************************************************************** */

.initial-steps {
    @include clearfix();
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    padding-top: 0;
    border-radius: 3px;
    box-shadow: 0 2px 2px #ccc;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px;

    .panel {
        float: left;
        width: 33%;
        margin: 0;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
    }

    .panel:nth-of-type(1) {
        padding: 10px 60px 10px 20px;
    }

    .panel:nth-of-type(2) {
        padding: 10px 70px 10px 20px;
    }

    .panel:nth-of-type(3) {
        padding: 10px 10px 10px 20px;
    }

    .panel:nth-of-type(1) h2 {
        background: url($path-to-images + 'zones/apps/eye-icon.png') no-repeat left center;
        padding-left: 40px;
    }

    .panel:nth-of-type(2) h2 {
        background: url($path-to-images + 'zones/apps/tool-icon.png') no-repeat left center;
        padding-left: 40px;
    }

    .panel:nth-of-type(3) h2 {
        background: url($path-to-images + 'zones/apps/cloud-icon.png') no-repeat left center;
        padding-left: 40px;
    }

    .link-wrapper {
        position: absolute;
        bottom: 0;
    }
}


@media (max-width: 880px) {
    .initial-steps {
        min-height: 540px;

        .panel {
            width: 50%;
            min-height: 270px;
        }

        .panel:nth-of-type(1),
        .panel:nth-of-type(2),
        .panel:nth-of-type(3) {
            background: none;
            padding: 10px;
        }


        .panel:nth-of-type(3) {
            float: none;
            width: 50%;
            margin: 20px auto;
            top: 20px;
        }

        .panel:nth-of-type(3) h2 {
            background-position: left 98%;
            padding-left: 50px;
        }

        .panel:nth-of-type(3) .link-wrapper {
            position: static;
        }
    }
}

@media (max-width: 600px) {

    .initial-steps {
        height: auto;

        .panel,
        .panel:nth-of-type(3) {
            float: none;
            width: 100%;
            top: 0;
        }


        .panel:nth-of-type(1),
        .panel:nth-of-type(2) {
            /* background: url($path-to-images + 'zones/apps/chevron_down.png) no-repeat 85% 85%; */
            margin: 0 auto;
        }
    }
}
