<div class="text-content delete-user-content" id="user-delete">

    <form id="delete-user-form" action="{{ url('users.user_delete', username) }}" method="post">
        {% csrf_token %}

        {% if revisions.exists() or attachment_revisions.exists() %}
            <p>{{ _('Deleting your account loses any preferences you have set.') }}</p>
            <p>{{ _('Although we can delete your account, any revisions you have made to pages on MDN will remain. Please select how would like us to handle the attribution for your changes.') }}</p>
            {{ form.attributions.errors }}
            <ul>
                {% for field in form.attributions %}
                    <li>
                        <label for="{{ field.id_for_label }}">
                            {{ field.tag() }}
                            {% if "Anonymous" not in field.choice_label %}
                                {{ field.choice_label }} ({{ username }})
                            {% else %}
                                {{ field.choice_label }}
                            {% endif %}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ _('Deleting your account loses any preferences you have set, as well as makes your username available for others to use.') }}</p>
        {% endif %}

        <p>{{ _('Are you sure you want to continue?') }}</p>

        <button type="button" id="cancel-button" class="simple-text" data-first-focusable="true">{{ _('Cancel') }}</button>
        <button type="submit" id="delete-user-confirm" {% if revisions.exists() %}class="disabled" disabled{% else %}class="negative"{% endif %}>{{ _('Yes, Delete my Account') }}</button>
    </form>
</div>
