{% set is_me = user.pk == detail_user.pk %}

<h1 class="user-title">
    <span class="nickname">{{ detail_user.username }}</span>
    {% if detail_user.fullname %}
        <b class="user-title-fullname">(<span class="fn">{{ detail_user.fullname }}</span>)</b>
    {% endif %}
</h1>

<div class="user-buttons">
  {% if not is_me and user.has_perm('users.add_userban') and not on_ban_page %}
    {{ ban_links(detail_user, user) }}
  {% endif %}

  {% if user.is_superuser %}
    {{ admin_link(detail_user) }}
  {% endif %}

  <!-- Only shown for the user and admins -->
  {% if detail_user.allows_editing_by(user) %}
      <a id="edit-user" href="{{ url('users.user_edit', username=detail_user.username) }}" class="button neutral">{{ _("Edit") }}<i aria-hidden="true" class="icon-pencil"></i></a>
      {% if is_me %}
      <button id="advanced-menu" class="neutral only-icon" {{ disabled_attr }} aria-haspopup="true" aria-owns="advanced-menu-submenu" aria-expanded="false"><span>{{ _('Advanced') }}</span><i aria-hidden="true" class="icon-cog"></i></button>
      <div class="submenu js-submenu" id="advanced-menu-submenu">
        <!-- this page -->
        <div class="submenu-column">
          <div class="title">{{ _('Manage') }}</div>
          <ul>
            <li><a href="{{ url('authkeys.list') }}" class="neutral">{{ _("API keys") }}</a></li>
            <li><a href="{{ url('account_email') }}" class="neutral">{{ _("Email addresses") }}</a></li>
          </ul>
        </div>
      </div>
      {% endif %}
  {% endif %}
</div>
{% if detail_user.title or detail_user.organization or detail_user.location or detail_user.irc_nickname %}
<ul class="user-info">
  {% if detail_user.title %}<li class="title">{{ detail_user.title }}</li>{% endif %}
  {% if detail_user.organization %}<li class="org">{{ detail_user.organization }}</li>{% endif %}
  {% if detail_user.location %}<li class="loc">{{ detail_user.location }}</li>{% endif %}
  {% if detail_user.irc_nickname %}<li class="irc">IRC: {{ detail_user.irc_nickname }}</li>{% endif %}
</ul>
{% endif %}

{% set tag_ns = 'profile:interest:' %}
{% set tags = detail_user.tags.all_ns(tag_ns) %}
{% if tags|length %}
<div class="user-tags">
  <h2>{{ _("Interests") }}</h2>
  <ul>
    {% for tag in tags %}
      <li><span rel="tag">{{ tag.name.replace(tag_ns, '') }}</span></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% set tag_ns = 'profile:expertise:' %}
{% set tags = detail_user.tags.all_ns(tag_ns) %}
{% if tags|length %}
<div class="user-tags">
  <h2>{{ _("Areas of Expertise") }}</h2>
  <ul>
    {% for tag in tags %}
      <li><span rel="tag">{{ tag.name.replace(tag_ns, '') }}</span></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<ul class="user-links">
  {% if detail_user.twitter_url %}
    <li class="twitter"><i class="icon-twitter" aria-hidden="true"></i><a href="{{ detail_user.twitter_url }}" rel="me external" class="url">{{ _("Twitter") }}</a></li>
  {% endif %}

  {% if accounts.github %}
    {% for github_account in accounts.github %}{% if github_account.extra_data %}
    <li class="github"><i class="icon-github" aria-hidden="true"></i><a href="{{ github_account.get_profile_url() }}" rel="me external" class="url">{{ _("GitHub") }}</a></li>
    {% endif %}{% endfor %}
  {% else %}
    {% if detail_user.github_url %}
      <li class="github"><i class="icon-github" aria-hidden="true"></i><a href="{{ detail_user.github_url }}" rel="me external" class="url">{{ _("GitHub") }}</a></li>
    {% endif %}
  {% endif %}

  {% if detail_user.stackoverflow_url %}
    <li class="stackoverflow"><i class="icon-stackexchange" aria-hidden="true"></i><a href="{{ detail_user.stackoverflow_url }}" rel="me external" class="url">{{ _("Stack Overflow") }}</a></li>
  {% endif %}

  {% if detail_user.linkedin_url %}
    <li class="linkedin"><i class="icon-linkedin" aria-hidden="true"></i><a href="{{ detail_user.linkedin_url }}" rel="me external" class="url">{{ _("LinkedIn") }}</a></li>
  {% endif %}

  {% if detail_user.mozillians_url %}
    <li class="mozillians"><i class="icon-group" aria-hidden="true"></i><a href="{{ detail_user.mozillians_url }}" rel="me external" class="url">{{ _("Mozillians") }}</a></li>
  {% endif %}

  {% if detail_user.facebook_url %}
    <li class="facebook"><i class="icon-facebook" aria-hidden="true"></i><a href="{{ detail_user.facebook_url }}" rel="me external" class="url">{{ _("Facebook") }}</a></li>
  {% endif %}

</ul>

<div class="user-since">{% trans date_joined=datetimeformat(detail_user.date_joined, format='date') %}Member since {{ date_joined }}{% endtrans %}</div>
