{% set is_popup = request.GET.get('popup', false) %}
{% if not is_popup %}
    {% extends "demos/base.html" %}
{% else %}
    {% extends "demos/base_popup.html" %}
{% endif %}

{% block body_attributes %}{% endblock %}
{% block bodyclass %}section-demos{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=submission.title)) }}{% endblock %}
{% block extrahead %}
    <style type="text/css">
        body { background-color: #fff; background-image: none; }
    </style>
{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">

  <main id="content-main" role="main" class="full">

    <form id="flag-confirm" enctype="multipart/form-data" action="" method="POST" target="_top">
        <h1 class="page-title">{{_('Flag this demo?')}}</h1>
        {{ csrf() }}
        <fieldset>
            <ul>
                {{ form.as_ul() | safe }}
                <li class="submit">
                    {% trans cancelUrl=submission.get_absolute_url() %}
                    <button type="submit" name="action_create">Flag content</button>
                    {% endtrans %}
                </li>
            </ul>
        </fieldset>
    </form>

  </main>

</div>
</section>

{% endblock %}
