{% set is_popup = request.GET.get('popup', false) %}
{% if not is_popup %}
    {% extends "demos/base.html" %}
{% else %}
    {% extends "demos/base_popup.html" %}
{% endif %}

{% block body_attributes %}{% endblock %}
{% block bodyclass %}section-demos{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=_('Terms for Contributors'))) }}{% endblock %}

{% block content %}

<div class="demos-terms-buttons">
    <a href="{{ url('demos') }}" class="button">Back to Demo Studio</a>
    <a href="{{ url('demos_submit') }}" class="button">Submit a Demo</a>
</div>

<div class="demo-terms text-content">
<h2>{{_('Demo Studio: Terms for Contributors')}}</h2>

<P>If you choose
to contribute a demo ("Demo") to this project you need to abide
by the following rules.</P>
<P>1.	You agree
that you are making your entire Demo, or if it includes elements
licensed from a third party those elements for which you have
sufficient rights, available under the <A HREF="http://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative
Commons: Attribution Share Alike License v3.0</A> (or any later
version). This means that while you (or the author) still own the
copyright in the creative elements of your Demo, you give everyone
the right to copy, distribute, and remix it, as long as they give you
credit and distribute new versions under the same terms (See the
<A HREF="http://creativecommons.org/licenses/by-sa/3.0/">license
summary</A>). This includes giving Mozilla the ability to use your
Demo for promotional purposes. If you do not have sufficient rights
to license certain elements of the Demo under the above CC license,
you agree to clearly identify those elements and to provide contact
information for the copyright owners so others may seek to obtain
usage rights.
</P>
<P><A NAME="_GoBack"></A>2.	You
represent and warrant that you have
all the legal rights needed to post and transmit your Demo
over the web as well as the rights to authorize others to use,
distribute, and modify those elements of your Demo
you are making available under the CC-BY-SA license.
For a more detailed explanation of what this means, see the <A HREF="#rrd">Rights
Representation Details</A> below.</P>
<P>3.	You
agree to either dedicate the source code of your Demo to the <A HREF="http://creativecommons.org/publicdomain/zero/1.0/">public
domain</A> or make it available under one of the following open
source licenses: <A HREF="http://www.mozilla.org/MPL/">MPL</A>,
<A HREF="http://www.apache.org/licenses/">Apache</A>, <A HREF="http://www.opensource.org/licenses/gpl-license.php">GPL</A>,
or <A HREF="http://www.opensource.org/licenses/bsd-license.php">BSD</A>.

</P>
<P>4.	You
represent and warrant that your Demo does not include:</P>
<UL style="margin-left: 2em;">
	<LI>provocative,
	offensive, or sexual content
	<LI>violence
	or Nazi imagery
	<LI>discriminatory
	or hateful words or images

	<LI>promotion
	of online gambling
	<LI>anything
	that violates any applicable law or regulation or the rights of any
	person or entity
</UL>
<P>5.  Protecting user privacy is very important to Mozilla. Please be mindful of the
privacy rights of users of your Demo and don't collect personal information
such as social network login information, email addresses or geolocation
information without prior permission. If you collect any personal information,
you must make available a privacy policy for your users to review.</P>
<P>6.	If you are
an individual acting as a representative of a corporation or other
legal entity that is submitting a Demo, you represent and agree that
you accept these Terms on behalf of such entity.</P>
<P>7.	You
understand and agree that you and your Demo are also subject to
Mozilla's <A HREF="http://www.mozilla.com/about/legal.html">website
legal notices</A> and other posted policies, guidelines or
requirements that apply either to our websites in general or this
particular project, and that your Demo will be displayed publicly, as
further described in our <A HREF="https://www.mozilla.org/privacy/websites/">Privacy
Policy</A>.</P>
<P>8.	You
understand that Mozilla may reject
or remove your Demo at any time for any reason without explanation or
advance notice.</P>
<P>9.	Mozilla
may revise these Terms at any time. If we make substantive changes we
will post a note to that effect on the project web page.</P>
<P>10.	These
Terms don't grant you any right to use our logos, trademarks, trade
names, or trade dress or those of our licensors. For information on
our trademarks, please see our <A HREF="http://www.mozilla.org/foundation/trademarks">Trademark
and Logo Usage Policies</A>.</P>

    </section>

    <section id="rrd">
    <h2>{{_('Rights Representation Details')}}</h2>

<P>
When you represent and warrant that you
have all the legal rights needed to post and transmit your Demo
over the web as well as the rights to authorize others to use,
distribute, and modify your Demo,
you mean that:</P>
<OL>
	<OL TYPE=A>
		<LI><P>Either
		you are the owner of the copyright and all other rights in your
		Demo;
		or you have a perpetual, worldwide, unrestricted license to use,
		distribute, and modify for any purpose and in any medium, every
		element of your Demo that you have
		not identified as excluded from the CC-BY-SA license
		and authorize others to do the same; or you have worldwide rights
		to freely use, distribute, and modify your Demo,
		or any elements of your Demo
		you don't own or have a license to, and
		to authorize others to do the same, under a legal doctrine such as
		fair use; and
		</P>
		<LI><P>To the
		extent your Demo
		contains any commercial identifiers such as trademarks or trade
		dress, you have worldwide rights to use and to authorize the use of
		such commercial identifiers under the law (such as via a license or
		under fair use principles); and</P>
		<LI><P>To the
		extent your Demo
		contains any name, image, likeness, voice, or contact or location
		information of a person other than yourself, you have full rights
		to the use of, and to authorize further uses of, the name, image,
		likeness, voice, or contact or location information of that person
		in your Demo;
		and</P>
		<LI><P>Your
		Demo
		does not violate any applicable law or regulation nor violate any
		rights of any third party.</P>
	</OL>
</OL>
</div>

<div class="demos-terms-buttons">
    <a href="{{ url('demos') }}" class="button">Back to Demo Studio</a>
    <a href="{{ url('demos_submit') }}" class="button">Submit a Demo</a>
</div>

{% endblock %}
