/*
Syntax boxes are used for short, non-functional code snippets.
.syntaxbox is used anywhere (DOM, JS, CSS, ...)
.twopartsyntaxbox is used for CSS properties
********************************************************************** */

pre.syntaxbox,
pre.twopartsyntaxbox {
    @extend %code-block;
    background: $code-block-background-alt-color;
    line-height: 1;
    white-space: pre-wrap;
}

pre.twopartsyntaxbox {
    border-bottom: 2px solid $code-block-background-color;
    margin-bottom: 0;
}
