// Overwrites for contribution-form to enable it to be used as a CTA
.contribution-form.contribution-popover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;

    .hide-collapsed {
        display: initial;
    }

    .hide-expand,
    .mobile-link {
        display: none;
    }

    // Show the link on mobile but not desktop
    @media #{$mq-mobile-and-down} {
        .form-footer button {
            display: none;
        }

        .form-footer .mobile-link {
            display: block;
        }
    }

    // extra height for close/hide buttons
    .column-container {
        padding: 4em 20px 2em 20px;
    }

    h4,
    .body,
    .cta-link,
    .form-group {
        animation-name: fadeIn;
        animation-duration: .6s;
    }

    &.collapsed {
        // Hide all unessesary content on the collapsed CTA.
        h4,
        .body,
        .cta-link,
        .hide-collapse,
        .form-group {
            display: none;
            opacity: 0;
        }

        .hide-expand {
            display: initial;
        }
    }

    &.collapsing {
        h4,
        .body,
        .cta-link,
        .form-group {
            animation-name: fadeOut;
            animation-duration: .6s;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    .cta-link {
        color: $text-color;
        display: block;
        &:first-of-type {
            margin-bottom: 1em;
        }
    }
}
