@include describe('-remify') {
    @include it('Converts pixel based units to rem units') {
        $expect: .88889rem; /* stylelint-disable number-leading-zero */

        /* Docs: http://oddbird.net/true/docs/api-assert-values.html#mixin--assert-equal */
        @include assert-equal(-remify(16px), $expect, null, true);
    }
}

@include describe('set-font-size') {
    @include it(
        'Returns a rem based font-size declaration, and a pixel based fallback'
    ) {
        @include assert {
            @include output {
                @include set-font-size(16px);
            }

            @include expect {
                font-size: 16px;
                font-size: 0.88889rem;
            }
        }
    }

    @include it('Returns only a rem based font-size declaration') {
        @include assert {
            @include output {
                @include set-font-size(2rem);
            }

            @include expect {
                font-size: 2rem;
            }
        }
    }
}
