{% from "includes/error_list.html" import errorlist %}
<h1>{{ _('Sign In with Persona') }}</h1>
<form class="browserid boxed" action="{{url('users.browserid_verify')}}" method="POST">
  <input type="hidden" name="next" id="next" value="{{ next_url }}" />
  {{ browserid_form }}

  {{ errorlist(browserid_form) }}
  {% include "users/browserid_explanation.html" %}

    <p>
      <a href="#" class="persona-button persona-login login-link" data-next="{{ next_url }}" data-service="Persona">
        <span class="persona-icon"><i aria-hidden="true"></i></span>
        <span class="signin">{{ _('Sign in with Persona') }}</span>
      </a>

      {% if waffle.flag('oauth_login') %}
        <a href="#" class="github-button login-link" data-next="{{ next_url }}" data-service="GitHub">
            <span class="github-icon"><i class="fa fa-github" aria-hidden="true"></i></span>
            <span class="signin">{{ _('Sign in with GitHub') }}</span>
          </a>
      {% endif %}
    </p>
</form>

{# hidden form to measure bot submissions from this page #}
<form class="hidden" method="post" action="{{ url('users.honeypot') }}">
  {{ csrf() }}
  <label for='wpName2'>Username</label>
  <input id="wpName2" tabindex="1" size="20" placeholder="Enter your username" name="wpName" />

  <label for='wpPassword2'>Password</label>
  <input id="wpPassword2" tabindex="3" size="20" placeholder="Enter a password" type="password" name="wpPassword" />

  <label for='wpRetype'>Confirm password</label>
  <input id="wpRetype" tabindex="5" size="20" placeholder="Enter password again" type="password" name="wpRetype" />

  <label for='wpEmail'>Email address (optional)</label>
  <input id="wpEmail" tabindex="6" size="20" placeholder="Enter yourour email address" type="email" name="wpEmail" />

  <input id="wpCreateaccount" tabindex="10" type="submit" value="Create your account" name="wpCreateaccount" />
</form>
