{% extends "base.html" %}

{% block pageid %}apps{% endblock %}

{% block bodyclass %}section-apps landing{% endblock %}

{% block title %}{{ page_title(_('Apps')) }}{% endblock %}

{% block content %}
<header id="section-head">
<div class="wrap">
  <h1 class="intro">{{ _('Welcome to the <b>Apps Developer Community</b>')|safe }}</h1>

  <div class="util">
    <p><strong>{{ _('Your favorite Web apps: online, offline, anywhere!') }}</strong></p>
    <ul>
      <li class="util-twitter"><a href="http://twitter.com/planetmozilla">{{ _('Twitter') }}</a></li>
      <li class="util-rss"><a href="http://blog.mozilla.com/about_mozilla/feed/">{{ _('Subscribe') }}</a></li>
    </ul>
  </div>
</div>
</header>

<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">

    <div class="boxed">
      <section id="apps-interests" class="articles-list">
        <header class="head section-apps">
          {# L10n: Please escape HTML entities here, like &amp; #}
          <h2>{{ _('What\'s Your Interest?') }}</h2>
        </header>

        <ul class="hfeed">
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/For_mobile_app_developers')) }}" rel="bookmark">{{ _('For mobile app developers') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            If you already develop apps for mobile devices, here's how to develop open Web apps.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/For_Web_developers')) }}" rel="bookmark">{{ _('For Web developers') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            If you already develop Web sites or applications, here's how to make them into installable open Web apps.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/Developing_game_apps')) }}" rel="bookmark">{{ _('For Game Developers') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            Want to make a Web app game? Find out about special considerations for games, such as user identity, multi-player interaction, offline use, and in-game purchases.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://wiki.mozilla.org/Apps" rel="external bookmark">{{ _('Apps Wiki') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            Check here for current status and activities of the Mozilla Apps project team.
            {% endtrans %}
            </p>
          </li>
        </ul>
      </section>
      
      <section id="popular-docs" class="articles-list">
        <header class="head section-apps">
          {# L10n: Please escape HTML entities here, like &amp; #}
          <h2>{{ _('Popular Apps Documentation') }}</h2>
        </header>

        <ul class="hfeed">
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/Getting_Started')) }}" rel="bookmark">{{ _('Getting Started') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            This walk-through can quickly give you an understanding of what it takes to turn an ordinary site into an open Web application.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/Using_apps_offline')) }}" rel="bookmark">{{ _('Using apps offline') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            How to design apps so that they can be cached and used without an Internet connection.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/The_Manifest')) }}" rel="bookmark">{{ _('The App Manifest') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            The specification of the structure and content of an application manifest.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/Apps_JavaScript_API')) }}" rel="bookmark">{{ _('The App API') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            JavaScript methods that applications can call to install themselves.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Apps/FAQs')) }}" rel="bookmark">{{ _('App FAQs') }}</a></h4>
          </li>
        </ul>
        <p class="all"><a href="{{ devmo_url(_('/en/Apps')) }}" class="go">{{ _('All Apps documentation') }}</a></p>
      </section>
      
      <section id="videos">
        <header class="subhead">
          <h2>{{ _('Watch Apps Videos')|safe }}</h2>
        </header>
        {% include "includes/video_player.html" %}
        <ul class="hfeed">
          <li class="hentry">
            <h3>
              <a href="https://apps.mozillalabs.com/v/openwebapps.ogv" title="{{ _('Watch this video') }}"
                 id="openwebapps" class="video_thumbnail">
                <img src="{{MEDIA_URL}}img/vidthumb-appsoverview.jpg" 
                   alt="" height="150" width="270">
                <span>{{ _('An overview of Mozilla Web apps.')}}</span>
              </a>
            </h3>
          </li>
        </ul>
      </section>

    </div>{# /.boxed #}

  </section>{# /#content-main #}

  <aside id="content-sub" role="complementary">
  
    <form class="fm-subscribe module" action="{{ url('apps_subscription') }}" method="POST">
      <h3 class="mod-title">{{ _('Apps Developer Newsletter') }}</h3>
      <p class="mod-intro">{% trans %}
          Sign up now for the monthly Apps Developer newsletter. The first 5,000
          subscribers will gain access to the Developer Preview of the Mozilla Apps
          market. <strong>Join us!</strong>
      {% endtrans %}</p>
      
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% if form %}
      <fieldset>
        <ol>
          <li>
            {{ form.email.errors }}
            <label for="email">{{ form.email.label }}</label>
            {{ form.email }}
          </li>
          <li class="check">
            {{ form.format.errors }}
            <span class="label">{{ form.format.label }}</span>
            <fieldset class="inline">
            {% for c in form.fields.format.choices %}
                <label for="sub-{{ c[0] }}"><input type="radio" name="format" value="{{ c[0] }}" id="sub-{{ c[0] }}" checked>{{ c[1] }}</label>
            {% endfor %}
            </fieldset>
          </li>
          <li class="agree">
            {{ form.agree.errors }}
            <label for="sub-agree">
                {{ form.agree }} {{form.agree.label }}
            </label>
            {% trans privacy_url='http://www.mozilla.org/about/policies/privacy-policy.html' %}
            to the <a href="{{ privacy_url }}">Privacy Policy</a>
            {% endtrans %}
          </li>
          <li class="fm-submit"><button type="submit" class="button positive">{{ _('Sign me up!') }}</button></li>
        </ol>
      </fieldset>
      {% endif %}
    </form>
  
    <figure class="promo banner">
      <a href="http://webfwd.org" rel="external">
        <img src="{{MEDIA_URL}}img/webfwd-promo-square.png" width="235" height="205" alt="{{ _("Web Fwd: Mozilla's accelerator for open Web projects. Learn more.") }}">
      </a>
    </figure>

    {{ twitter(tweets, title=_('Tweets from the Apps developer community.')) }}
  </aside>{# /#content-sub #}

</div>
</section>{# /#content #}

{% endblock %}
