{% extends "base.html" %}

{% block title %}{{ page_title(_('Discussions')) }}{% endblock %}

{% block bodyclass %}section-community landing{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

  <section id="content-main" role="main">
    <h1 class="page-title">{{ _('Where are the forums?') }}</h1>

    {% set forum_link = '/forums' %}
    {% if waffle.switch('static_forums') %}
        {% set forum_link = '/forum-archive/' %}
    {% endif %}
    {% trans forum_link=forum_link%}
    <p>Posting a question about a technical problem and never getting an answer 
    is almost more frustrating than the technical problem itself. Because the MDN 
    forums got very little traffic (more than a year after they launched), very 
    few posts got responses. Rather than create more frustration, we have decided 
    to close the forums.</p>
    
    <p><a href="{{ forum_link }}" id="forum-archive-link"><strong>Browse the archive of old posts and responses.</strong></a></p>
    
    <p>Thanks to everyone who contributed posts and responses!</p>
    
    <p>If you have technical questions, here are some places with more lively 
    discussions where you might find someone with answers:</p>
    {% endtrans %}

    <ul class="prose">
      <li><a href="http://stackoverflow.com/questions/tagged/web-development">{{ _('Open web technologies') }}</a></li> 
      <li><a href="http://www.mozilla.org/about/forums/#general-development">{{ _('General Mozilla development') }}</a></li>
      <li><a href="http://www.mozilla.org/about/forums/#mozilla-technologies">{{ _('Mozilla technologies') }}</a></li>
      <li><a href="http://www.mozilla.org/about/forums/#application-development">{{ _('Mozilla application development') }}</a></li>
      <li><a href="https://forums.mozilla.org/addons/">{{ _('Mozilla add-ons') }}</a></li>
      <li><a href="https://mozillalabs.com/discussions/">{{ _('Mozilla Labs') }}</a></li>
      <li><a href="http://www.mozilla.org/about/forums/#dev-mdc">{{ _('MDN content and community') }}</a></li>
    </ul>
  
  </section>
  
  <img src="{{ MEDIA_URL }}img/balloons.png" alt="" class="beast">

</div>
</section>

{% endblock %}
