{% cache updates %}
<ul class="hfeed">
  {% for entry in updates %}
    {% with e = entry.parsed %}
      <li class="hentry">
      {% trans authorlink='<cite class="author vcard">{0}</cite>'|f(e.author)|safe,
               summary='<a href="{0}" class="entry-summary entry-title">{1}</a>'|f(
                 e.link, (e.summary or e.subtitle)|strip_tags|entity_decode|truncatewords(30))|safe %}
      {{ authorlink }} wrote {{ summary }}
      {% endtrans %}
      </li>
    {% endwith %}
  {% endfor %}
</ul>
{% endcache %}
