{% extends "landing/base_learn.html" %}

{% block pageid %}learn{% endblock %}

{% block title %}{{ page_title(_('Learn How to Make Websites')) }}{% endblock %}

{% block content %}
<header id="page-head" class="landing">
  <div class="wrap">
    <h1 class="page-title">{{ _('Learn How to Make Websites') }}</h1>
    {% trans %}
    <p>Want to learn to use the technologies that power the Web?
    <br>We've put together a great collection of resources to get you started.</p>
    {% endtrans %}
  </div>
</header>

<section id="content">
<div class="wrap">

  <section id="content-main" class="full" role="main">
    <div id="blackboard">
      <ul>
        <li id="sub-html">
          <a href="{{ url('learn_html') }}">
            <h2>{{ _('HTML') }}</h2>
                    {% trans %}<p><strong>HyperText Markup Language</strong> is the core syntax for putting information on the worldwide web. If you want to create or modify web pages, it's best if you learn HTML.</p>{% endtrans %}
                  </a>
                </li>
        <li id="sub-css">
          <a href="{{ url('learn_css') }}">
            <h2>{{ _('CSS') }}</h2>
                    {% trans %}<p><strong>Cascading Style Sheets</strong> is a language for describing the appearance of web pages. To create good-looking web pages, you need to learn CSS in order to define the appearance and location of the HTML elements within the pages.</p>{% endtrans %}
                  </a>
        </li>
        <li id="sub-js">
          <a href="{{ url('learn_javascript') }}">
            <h2>{{ _('JavaScript') }}</h2>
                    {% trans %}<p><strong>JavaScript</strong> (JS for short) is the programming language that enables web pages to respond to user interaction beyond the basic level provided by HTML links and forms.</p>{% endtrans %}
                  </a>
        </li>
      </ul>
    </div>
  </section><!-- /#content-main -->

  <section id="learn-p2pu">
    {% trans %}
    <h2>Are you tired of learning on your own?<br>Do you want to join a community of people learning about open web technologies?</h2>
    <p>Consider signing up for free online peer study groups through <a href="http://p2pu.org/">Peer-to-Peer University's<span title="Peer-to-Peer University"></span></a> <a href="http://p2pu.org/webcraft/course-listing">School of Webcraft</a>. Share your discoveries, struggles, and victories with others who are learning the same things.</p>
    {% endtrans %}
  </section>

  {% include 'landing/learn_fineprint.html' %}

</div>
</section>

{% endblock %}
