{% extends "base.html" %}

{% block pageid %}mozilla{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://blog.mozilla.com/about_mozilla/feed/" />
{% endblock %}

{% block bodyclass %}section-moz landing{% endblock %}

{% block title %}{{ page_title(_('Mozilla')) }}{% endblock %}

{% block content %}
<header id="section-head">
<div class="wrap">
  <h1 class="intro">{{ _('Welcome to the <b>Mozilla Developer Community</b>')|safe }}</h1>
  
  <div class="util">
    <p><strong>{{ _('Are you ready to make browsing better?') }}</strong></p>
    <ul>
      <li class="util-twitter"><a href="http://twitter.com/planetmozilla">{{ _('Twitter') }}</a></li>
      <li class="util-rss"><a href="http://blog.mozilla.com/about_mozilla/feed/">{{ _('Subscribe') }}</a></li>
    </ul>
  </div>
</div>
</header>

<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">
  
    <div class="boxed">
      <section id="popular-docs" class="articles-list">
        <header class="head section-mozilla">
          {# L10n: Please escape HTML entities here, like &amp; #}
          <h2>{{ _('Popular <span class="mozilla">Mozilla</span> Documentation')|safe }}</h2>
        </header>
        
        <ul class="hfeed">
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Developer_Guide')) }}" rel="bookmark">{{ _('Mozilla Developer Guide') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            Whether you're an old hand or just getting started, this is the
            best way to get started with Mozilla development.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
          <h4 class="entry-title"><a href="{{ devmo_url(_('/en/The_Mozilla_platform')) }}" rel="bookmark">{{ _('The Mozilla Platform') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            Learn more about the technologies at the core of Mozilla products
            and services.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
          <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Using_Mozilla_code_in_other_projects')) }}" rel="bookmark">{{ _('Using Mozilla code in other projects') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            There are several ways you can use Mozilla code in your own
            project. Find everything you need to develop "powered by
            Mozilla" applications.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
          <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Debugging')) }}" rel="bookmark">{{ _('Debugging') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            Mozilla developers have come up with not just technologies
            and features to help you debug code, but have devised tips and
            techniques that can help too.
            {% endtrans %}
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="{{ devmo_url(_('/en/Localization')) }}" rel="bookmark">{{ _('Localization') }}</a></h4>
            <p class="entry-summary">
            {% trans %}
            Localization (L10n) is the process of translating software user
            interfaces from one language to another and adapting it to suit
            a foreign culture. These resources are about making Mozilla-based
            applications/extensions localizable.
            {% endtrans %}
            </p>
          </li>
        </ul>
        <p class="all"><a href="{{ devmo_url(_('/en/Tools')) }}" class="go">{{ _('All applications development documentation') }}</a></p>
      </section>

      <section id="fave-tools">
        <header class="subhead">
          {# L10n: Please escape HTML entities here, like &amp; #}
          <h3>{{ _('Favorite <span class="mozilla">Mozilla</span> Tools')|safe }}</h3>
        </header>
        <ul class="tools">
          <li>
            <h4><a href="https://bugzilla.mozilla.org/">{{ _('Bugzilla') }} <img src="{{ MEDIA_URL }}img/icn-tool-bugzilla.png" alt="" width="65" /></a></h4>
            <p class="desc">{{ _('The main issue-tracker for Mozilla projects.') }}</p>
          </li>
          <li>
            <h4><a href="http://mxr.mozilla.org/">{{ _('MXR') }} <img src="{{ MEDIA_URL }}img/icn-tool-mozilla.png" alt="" width="65" /></a></h4>
            <p class="desc">{{ _('A Mozilla source tree browser.') }}</p>
          </li>
          <li class="all"><a href="{{ devmo_url(_('/en/Tools')) }}" class="go">{{ _('All application development tools') }}</a></li>
        </ul>
      </section>
      
      <section id="recent-news" class="articles-list">
        <header class="subhead">
          {# L10n: Please escape HTML entities here, like &amp; #}
          <h3>{{ _('Recent <span class="mozilla">Mozilla</span> News &amp; Updates')|safe }}</h3>
        </header>

        {{ newsfeed(updates) }}

        <p class="all"><a href="http://blog.mozilla.com/about_mozilla/archives/" class="go">{{ _('All application development entries') }}</a></p>
      </section>
    </div>{# /.boxed #}
    
  </section>{# /#content-main #}
  
  <aside id="content-sub" role="complementary">
    <figure class="promo banner">
      <a href="http://webfwd.org" rel="external">
        <img src="{{MEDIA_URL}}img/webfwd-promo-square.png" width="235" height="205" alt="Web Fwd: Mozilla's accelerator for open Web projects. Learn more.">
      </a>
    </figure>
  
    {{ twitter(tweets, title=_('Correspondence on Twitter from the Mozilla developer community.')) }}
  </aside>{# /#content-sub #}

</div>
</section>{# /#content #}

{% endblock %}
