<ul class="hfeed">
  {% for entry in updates %}
    {% with e = entry.parsed %}
    <li class="hentry">
      <h2 class="entry-title"><a href="{{ e.link }}" rel="bookmark">{{ e.title|entity_decode }}</a></h2>
      <p class="entry-summary">{{ e.summary|strip_tags|entity_decode|truncatewords(50) }}</p>
      <p class="entry-meta vcard">
      {% trans authorlink='<cite class="author fn">{0}</cite>'|f(e.author)|safe,
               entrydate='<time class="updated" datetime="{0}" title="{0}">{1}</time>'|f(
                 entry.last_published|datetime('%Y-%m-%d'), entry.last_published|datetime)|safe %}
      Posted {{ entrydate }} by {{ authorlink }}
      {% endtrans %}
      {% if section_headers and entry.section %}
      under <a href="{{ url(entry.section.short) }}" rel="tag">{{ entry.section.pretty }}</a>
      {% endif %}
      </p>
    </li>
    {% endwith %}
  {% endfor %}
</ul>
