{% extends "landing/base_promote.html" %}

{% block pageid %}promote-buttons{% endblock %}

{% block title %}{{ page_title(_('Promote MDN')) }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/promote.css" />
{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

  <header id="page-head">
    <div class="wrap">
      {# <nav class="crumb"><a href="{{ url('promote') }}">{{ _('Back to Home') }}</a></nav> #}
      <h1 class="page-title">{{ _('Promote MDN') }}</h1>
      <h2 class="page-subtitle">{{ _('Spread some developer love.') }}</h2>
      {% trans %}
      <ol>
          <li><strong>Get Buttons:</strong> Use our simple form below to create a custom button and source code to promote MDN on your website or blog.</li>
          <li><strong>Post Buttons:</strong> Copy the source code and paste it anywhere on your website or blog to help people click through to MDN.</li>
          <li><strong>Feel Good:</strong> Take pride in knowing you're making developers lives just a little bit better by sharing MDN with the world.</li>
      </ol>
      {% endtrans %}
    </div> 
  </header>

  <section id="content-main" class="full" role="main">

        <form id="button-builder">
            
            <div id="button-preview" class="boxed">
                <h3>{{_('Preview')}}</h3>
                <div><img id="button-image" src="" width="120" height="240" alt="" /></div>
            </div>

            <fieldset id="step-design" class="step">
                <h3><b>1</b> {{_('Pick your button style')}}</h3>
                <ul>
                    <li>
                        <label for="button-design-betterdocs">
                            <input type="radio" name="button-design" value="betterdocs" id="button-design-betterdocs">
                            <img src="{{ MEDIA_URL }}img/promote/betterdocs_foo.png" alt="{{_('Better Docs')}}" />
                        </label>
                    </li>
                    <li>
                        <label for="button-design-devpowered">
                            <input type="radio" name="button-design" value="devpowered" id="button-design-devpowered">
                            <img src="{{ MEDIA_URL }}img/promote/devpowered_foo.png" alt="{{_('Developer Powered')}}" />
                        </label>
                    </li>
                    <li>
                        <label for="button-design-bydev">
                            <input type="radio" name="button-design" value="bydev" id="button-design-bydev">
                            <img src="{{ MEDIA_URL }}img/promote/bydev_foo.png" alt="{{_('For Developers, By Developers')}}" />
                        </label>
                    </li>
                    <li>
                        <label for="button-design-devtoolbox">
                            <input type="radio" name="button-design" value="devtoolbox" id="button-design-devtoolbox">
                            <img src="{{ MEDIA_URL }}img/promote/devtoolbox_foo.png" alt="{{_('Web Developer Toolbox')}}" />
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset id="step-color" class="step">
                <h3><b>2</b> {{_('Choose a color')}}</h3>
                <ul>
                    <li class="gray">
                        <label for="button-color-gray">
                            <input id="button-color-gray" name="button-color" type="radio" value="gray" /> 
                            {{_('Gray')}}
                        </label>
                    </li>
                    <li class="orange">
                        <label for="button-color-orange">
                            <input id="button-color-orange" name="button-color" type="radio" value="orange" />
                            {{_('Orange')}}
                        </label>
                    </li>
                    <li class="red">
                        <label for="button-color-red">
                            <input id="button-color-red" name="button-color" type="radio" value="red" />
                            {{_('Red')}}
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset id="step-topic" class="step">
                <h3><b>3</b>{{_('Replace <FOO> with')}}</h3>
                <ul>
                    <li>
                        <label for="button-topic-css">
                            <input id="button-topic-css" name="button-topic" type="radio" value="css" />
                            {{_('CSS')}}
                        </label>
                    </li>
                    <li>
                        <label for="button-topic-html">
                            <input id="button-topic-html" name="button-topic" type="radio" value="html" />
                            {{_('HTML')}}
                        </label>
                    </li>
                    <li>
                        <label for="button-topic-js">
                            <input id="button-topic-js" name="button-topic" type="radio" value="js" />
                            {{_('JavaScript')}}
                        </label>
                    </li>
                    <li>
                        <label for="button-topic-web">
                            <input id="button-topic-web" name="button-topic" type="radio" value="web" />
                            {{_('Web')}}
                       </label>
                    </li>
                </ul>
            </fieldset>

            <section id="step-code" class="step">
                <h3><b>4</b> {{_('Add your custom button to your website')}}</h3>
                <h4>{{_('Your source code:')}}</h4>
                    <textarea id="button-code" cols="40" rows="7"></textarea>
                <h4>{{_('Your button will take people to:')}}</h4>
                    <a id="button-url" href="#">...</a>
            </section>

        </form>
    </div>
    
  </section><!-- /#content-main -->

</div>
</section>

{% endblock %}

{% block js %}
<script type="text/javascript">
// <![CDATA[

function rowsToObjects (col_names, rows) {
    var items = [];
    for (var i=0,row; row=rows[i]; i++) {
        var item = {};
        for (var j=0,col_name; col_name=col_names[j]; j++) {
            item[col_name] = row[j];
        }
        items.push(item);
    }
    return items;
}

var buttons = rowsToObjects(
    [ "design","topic","color","url","wt","id","tracked_url" ],
    [
        [ "betterdocs","css","gray","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn1","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn1" ],
        [ "betterdocs","html","gray","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn2","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn2" ],
        [ "betterdocs","js","gray","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn3","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn3" ],
        [ "betterdocs","web","gray","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn4","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn4" ],
        [ "betterdocs","css","orange","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn5","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn5" ],
        [ "betterdocs","html","orange","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn6","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn6" ],
        [ "betterdocs","js","orange","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn7","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn7" ],
        [ "betterdocs","web","orange","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn8","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn8" ],
        [ "betterdocs","css","red","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn9","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn9" ],
        [ "betterdocs","html","red","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn10","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn10" ],
        [ "betterdocs","js","red","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn11","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn11" ],
        [ "betterdocs","web","red","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn12","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn12" ],
        [ "devpowered","css","gray","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn13","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn13" ],
        [ "devpowered","html","gray","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn14","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn14" ],
        [ "devpowered","js","gray","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn15","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn15" ],
        [ "devpowered","web","gray","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn16","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn16" ],
        [ "devpowered","css","orange","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn17","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn17" ],
        [ "devpowered","html","orange","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn18","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn18" ],
        [ "devpowered","js","orange","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn19","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn19" ],
        [ "devpowered","web","orange","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn20","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn20" ],
        [ "devpowered","css","red","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn21","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn21" ],
        [ "devpowered","html","red","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn22","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn22" ],
        [ "devpowered","js","red","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn23","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn23" ],
        [ "devpowered","web","red","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn24","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn24" ],
        [ "bydev","css","gray","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn25","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn25" ],
        [ "bydev","html","gray","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn26","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn26" ],
        [ "bydev","js","gray","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn27","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn27" ],
        [ "bydev","web","gray","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn28","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn28" ],
        [ "bydev","css","orange","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn29","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn29" ],
        [ "bydev","html","orange","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn30","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn30" ],
        [ "bydev","js","orange","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn31","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn31" ],
        [ "bydev","web","orange","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn32","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn32" ],
        [ "bydev","css","red","https:\/\/developer.mozilla.org\/docs\/css","\/?WT.mc_id=","mdn33","https:\/\/developer.mozilla.org\/docs\/css\/?WT.mc_id=mdn33" ],
        [ "bydev","html","red","https:\/\/developer.mozilla.org\/docs\/html","\/?WT.mc_id=","mdn34","https:\/\/developer.mozilla.org\/docs\/html\/?WT.mc_id=mdn34" ],
        [ "bydev","js","red","https:\/\/developer.mozilla.org\/docs\/javascript","\/?WT.mc_id=","mdn35","https:\/\/developer.mozilla.org\/docs\/javascript\/?WT.mc_id=mdn35" ],
        [ "bydev","web","red","https:\/\/developer.mozilla.org\/docs","\/?WT.mc_id=","mdn36","https:\/\/developer.mozilla.org\/docs\/?WT.mc_id=mdn36" ],
        [ "devtoolbox","---","gray","https:\/\/developer.mozilla.org\/web","\/?WT.mc_id=","mdn37","https:\/\/developer.mozilla.org\/web\/?WT.mc_id=mdn37" ],
        [ "devtoolbox","---","orange","https:\/\/developer.mozilla.org\/web","\/?WT.mc_id=","mdn38","https:\/\/developer.mozilla.org\/web\/?WT.mc_id=mdn38" ],
        [ "devtoolbox","---","red","https:\/\/developer.mozilla.org\/web","\/?WT.mc_id=","mdn39","https:\/\/developer.mozilla.org\/web\/?WT.mc_id=mdn39" ]
    ]
);

(function($) {

    function updateButtonCode (ev) {

        // Build a search spec from current selection state.
        var spec = {
            design: $('input:radio[name=button-design]:checked').val(),
            color:  $('input:radio[name=button-color]:checked').val(),
            topic:  $('input:radio[name=button-topic]:checked').val()
        };

        // Reveal / hide builder steps only if preceding conditions are met.
        $('#step-color')[ ( spec['design'] ) ? 'fadeIn':'hide' ]();
        $('#step-topic')[ ( spec['design'] && 'devtoolbox' != spec['design'] && spec['color'] ) ? 'fadeIn':'hide' ]();
        
        if ( spec['design'] === 'devtoolbox' ) {
          $("#step-code h3 b").text("3");
        }
        else {
          $("#step-code h3 b").text("4");
        }
        
        $('#step-topic ul').removeClass();
        $('#step-topic ul').addClass(spec['color']);

        // Search through known combinations for a match
        var sel = null;
        for (var i=0,item; item=buttons[i]; i++) {
            // Be optimistic, assume a match until a column mismatch.
            var found = true;
            for (var k in spec) if (spec.hasOwnProperty(k)) {
                // Accept --- or selector value as column match.
                if ('---' != item[k] && spec[k] != item[k]) { 
                    found = false; break;
                }
            }
            // If nothing mismatched, then we have our item.
            if (found) { sel = item; break; }
        }

        // Reveal preview only if there's a valid selection.
        $('#button-preview, #step-code')[ sel ? 'fadeIn':'hide' ]();

        // Do nothing if, somehow, a valid selection wasn't found.
        if (!sel) { return; }

        // Update the button preview image.
        $('#button-image').attr('src', '{{ MEDIA_URL }}img/promote/promobutton_'+sel.id+'.png');

        $('#button-url').text(sel.url).attr('href', sel.tracked_url);

        // var button_label = $('#button-design-'+sel.design+' + label').text();
        var button_label = $('#button-design-'+sel.design+' + label img').attr('alt');

        // Update the button code.
        $('#button-code').val([
            '<a href="', sel.tracked_url, '">',
            '<img src="{{ request.build_absolute_uri(MEDIA_URL) }}img/promote/promobutton_', sel.id, '.png" ', 
                'alt="', button_label, '">',
            '</a>'
        ].join(''));

    }

    $('#button-builder input:radio').click(function(){
      $(this).parents('ul').children('li').removeClass('selected');
      $(this).parents('li').addClass('selected');      
    });
    $('#button-builder input:radio:checked').parents('li').addClass('selected');
    

    // Update the button code on any change to selectors.
    $('#button-builder input:radio').click(updateButtonCode);
    $('#button-builder select').change(updateButtonCode);
    
    // Do an initial code update on page ready.
    $(document).ready(function () {
        updateButtonCode();
    });

    // Redirect clicks on topic links to radio selection.
    $('#step-topic a').click(function () { 
        $(this).parent().prev().click(); 
        updateButtonCode();
        return false; 
    });

    // Focusing on the code textarea selects all for copypasta
    $('#button-code').click(function (ev) { $(ev.target).select(); });

    // Keep the button preview onscreen during scrolling
    var fixed = false;
    $(document).scroll(function() {
    	if( $(this).scrollTop() >= $("#button-builder").offset().top-20 ) {
    	  if( !fixed ) {
    	    fixed = true;
    	    $("#button-preview").css({position:'fixed', top:"20px", marginLeft:"671px"});
    	  }
    	} else {
    	  if( fixed ) {
    	    fixed = false;
    	    $("#button-preview").css({position:'static', top:"auto", marginLeft:"0"});
    	  }
    	}
    });


})(jQuery);

// ]]>
</script>
{% endblock %}
