{% extends "base.html" %}

{% block pageid %}docs{% endblock %}

{% block bodyclass %}section-docs landing serp{% endblock %}

{% block title %}{{ page_title(_('Search Results')) }}{% endblock %}

{% block content %}
<section id="content">
<div class="wrap">
  <section id="content-main" role="main" class="full">
    <h1 class="page-title">{{ _('Search Results for "{query}"'|f(query=query)) }}</h1>
    <div id="google-branding"></div>

    <div id="search-results" data-q="{{ query }}" class="boxed"></div>

  </section><!-- /#content-main -->
</div>
</section><!-- /#content -->
{% endblock %}
