/*
prism.css problem fixing
Prism adds class="lang- to <pre> and <code> by default but we override it
in syntax-prism.js to just add it to <pre>, it also wraps the contents of the
<pre> with a <code class="lang- and includes styles for that in its default styles
********************************************************************** */

.text-content {

    #{$selector-prism} {
        @extend %code-block;

        /* prism.css overrides our gridspacing with its own margin, override it back */
        margin: 0 0 $grid-spacing 0;

        /* customCSS contains a conflicting class that hides comments, show comments in prism */
        span.comment {
            display: inherit;
        }
    }

    /* prism.css incorrectly double styles code > code, but only with a backround color */
    code[class*='language-'] > code[class*='language-'] {
        background-color: none;
    }

    /* prism.css overrides our text-color with black and adds a text-shadow, override it back */
    #{$selector-prism},
    code[class*='language-'] {
        color: $text-color;
        text-shadow: none;
    }

    /* %code-block wrecks the padding prisim needs for line numbers, add it back */
    pre.line-numbers {
        padding-left: 3.8em;
    }

    /* Something caused .no-line-numbers to no longer be correctly respected */
    pre.no-line-numbers .line-numbers-rows {
        display: none;
    }
}

/*
Enhancements!
====================================================================== */

/* don't give operators, strings, etc a background color */
span.token.operator,
span.token.entity,
span.token.url,
.language-css span.token.string,
.style span.token.string {
    background-color: transparent;
}

/*
Line Highlight
====================================================================== */

.line-highlight {
    padding: 0;

    &:before {
        display: none;
    }
}
