$bg-good: mix($positive, #fff, 5%);
$bg-bad: mix($negative, #fff, 5%);

.text-content { /* bump specificity to over-ride prism */

    .example,
    .example-good,
    .example-bad {
        @include example-box($code-block-background-color, $grey);

        &:after {
            position: absolute;
            bottom: 2px;
            @include bidi(((right, 2px, left, auto),));
            z-index: 10;
            speak: none;
        }
    }

    /* code is always LTR
       Can't combine with above selector because
       https://github.com/sass/sass/issues/1425 */
    html[dir='rtl'] & #{$selector-prism}.example,
    html[dir='rtl'] & #{$selector-prism}.example-good,
    html[dir='rtl'] & #{$selector-prism}.example-bad {
        &:after {
            right: 2px;
            left: auto;
        }
    }

    .example-good,
    #{$selector-prism}.example-good, {
        background-color: $bg-good;
        border-color: $positive;

        &:after {
            background: $bg-good;
            @include set-icon($icon-green-smile);
        }
    }

    .example-bad,
    #{$selector-prism}.example-bad, {
        background-color: $bg-bad;
        border-color: $negative;

        &:after {
            background: $bg-bad;
            @include set-icon($icon-red-frown);
        }
    }
}
