$bg-good: mix($positive, #fff, 5%);
$bg-bad: mix($negative, #fff, 5%);

.example:not(pre),
.example-good:not(pre),
.example-bad:not(pre) {
    position: relative;
    padding: $grid-spacing;
    margin: 0 0 $grid-spacing 0;

    @include prevent-last-child-spacing(p, margin-bottom);
}

/*
Pseudo element for icons
====================================================================== */

.example-good:not(pre),
.example-bad:not(pre),
:not(pre) > code.example-good[class*='language-'],
pre.example-good[class*='language-'],
:not(pre) > code.example-bad[class*='language-'],
pre.example-bad[class*='language-'] {
    position: relative;

    &:before {
        border-radius: 100%; /* make it into a circle so bgcolor doesn't show */
        font-family: FontAwesome;
        font-size: $larger-font-size;
        position: absolute;
        bottom: 2px;
        right: 2px;
        z-index: 10;
        speak: none;
    }
}

.example-good:not(pre):before,
:not(pre) > code.example-good[class*='language-']:before,
pre.example-good[class*='language-']:before {
    background: $bg-good;
    color: $positive;
    content: '\f118';
}

.example-bad:not(pre):before,
:not(pre) > code.example-bad[class*='language-']:before,
pre.example-bad[class*='language-']:before {
    background: $bg-bad;
    color: $negative;
    content: '\f119';
}

/*
Background colouration
-------------------------------------------------------------- */

.example:not(pre) {
    background-color: $grey-light;
    border-left: $code-block-border-width $code-block-border-style $grey;
}

.example-good:not(pre),
:not(pre) > code.example-good[class*='language-'],
pre.example-good[class*='language-'] {
    background: $bg-good;
    border-left: $code-block-border-width $code-block-border-style $positive;
}

.example-bad:not(pre),
:not(pre) > code.example-bad[class*='language-'],
pre.example-bad[class*='language-'] {
    background: $bg-bad;
    border-left: $code-block-border-width $code-block-border-style $negative;
}
