/*
Syntax boxes are used for short, non-functional code snippets.
.syntaxbox is used anywhere (DOM, JS, CSS, ...)
.twopartsyntaxbox is used for CSS properties
********************************************************************** */

pre.syntaxbox,
pre.twopartsyntaxbox {
    @extend %code-block;
    background: $code-block-background-alt-color;
    white-space: pre-wrap;
}

pre.twopartsyntaxbox {
    margin-bottom: 0;
}
