/*
  "Components" used throughout the site in varying ways.
  For example, .toggler is used in a few different widgets (TOC, subnav, etc.)
*/

@import '../includes/vars'
@import '../includes/mixins'

/* toggler component: a basic slide up and slide now system*/
.toggler {
  position: relative;

  {selector-icon} {
    bidi-style(right, icon-margin, left, auto);
    position: absolute;
    top: 3px;
    color: text-color;
  }
}

.toggle-container.closed {
  display: none;
}

/* subnav component:  used within the wiki */
.subnav {
  .toggler, > ol > li > a {
    padding: grid-spacing (2 * grid-spacing) grid-spacing grid-spacing;
    border-bottom: 1px dotted #d4dde4;
    text-transform: uppercase;
    display: block;
  }

  ol ol {
    display: none; /* prevents flash of unstyled content */

    .no-js & {
      display: block;
    }
  }

  .toggleable.current, > ol > li.current {
    background: light-background-color;
  }

  {selector-icon} {
    top: (grid-spacing + 3px);
    right: grid-spacing;
  }

  .toggle-container {
    a {
      @extend .smaller;
      display: block;
      padding: list-item-spacing grid-spacing;
    }

    .toggleable {
      background: #e9eef1;

      .toggler {
        title-header();
        font-weight: normal;
        padding-top: (grid-spacing / 2);
        padding-bottom: (grid-spacing / 2);
        border: 0;

        i {
          top: (grid-spacing / 2);
        }
      }

      .toggle-container a {
        padding-left: (grid-spacing * 1.5);
      }
    }

    li.current {
      > a:not(.toggler) {
        position: relative;
        color: #fff;
        background-color: text-color;

        generate-arrow();

        &:before {
          border-right-color: #fff;
          position: absolute;
          top: 20%;
          right: 0;
        }
      }
    }
  }

  reverse-link-decoration();
}
