/* 
  Styles for overall document.  Minimally styles the canvas.
*/

@import '../includes/vars'

html {
  background: #fff;
}

body {
  font: 14px/1.5 site-font-family;
  color: text-color;
  create-gradient-background(header-background-color);
}
