[req]
distinguished_name = req_distinguished_name
x509_extensions     = v3_req
prompt              = no

[req_distinguished_name]
O  = Mozilla
OU = Kuma Development
CN = developer.127.0.0.1.nip.io

[v3_req]
keyUsage          = keyEncipherment, dataEncipherment
extendedKeyUsage  = serverAuth
subjectAltName    = @alt_names

[alt_names]
DNS.1 = developer.127.0.0.1.nip.io
DNS.2 = demos.developer.127.0.0.1.nip.io

