@import '../vars/vars-color-palette';
@import '../vars/vars-media-queries';

@import '../utils/layout-utils';

@import '../atoms/forms';
@import '../atoms/buttons';

@import '../components/accountsettings/titlebar';

.lead-in {
    border-top: 1px solid $neutral-500;
    border-bottom: 1px solid $neutral-500;
    padding: 24px 10px 24px;

    @media #{$mq-tablet-and-up} {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 670px;

        p {
            margin-bottom: 0;
        }
    }
}

.signin-required {
    margin: 40px auto;

    @media #{$mq-tablet-and-up} {
        margin: 80px auto;
    }
}
