@import '../../includes/mixins';

/*
contributors block at the bottom of the article
********************************************************************** */

.contributors {
    color: $grey;

    @include set-smaller-font-size();
}

.contributors-sub {
    padding: 4px 0;
}

/*
React contributors block at the bottom of the article
********************************************************************** */
.contributors-sub {
    header {
        display: inline;
    }

    h4 {
        display: inline-block;
        margin: 5px;
        @include set-font-size(21px);
    }

    ul {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline;
        }
    }
}
