/*
contributor avatars at top of articles
********************************************************************** */

$avatar-max-width: 20px;
$avatar-margin: 5px;
$avatar-limit: 6;

.contributor-avatars {
    @include bidi ((
        (float, right, left),
        (margin-left, $grid-spacing, margin-right, 0),
        (text-align, right, left),
    ));
    position: relative;
    max-width: ($avatar-limit * ($avatar-max-width + $avatar-margin));
    margin-top: 23px;
    margin-bottom: $grid-spacing;
    color: $grey;
    @include set-smaller-font-size();

    .no-js & {
        display: none;
    }

    &.contributor-avatars-open {
        max-width: none;
        width: 100%;
        @include bidi(((margin-left, 0, margin-right, 0),));
    }


    ul {
        display: inline-block;
        opacity: .7;
        @include vendorize(transition, opacity .3s ease-in-out);

        &.contributor-avatars-open,
        &:hover,
        &.focused {
            opacity: 1;
        }
    }

    li {
        @include bidi((
            (float, left, right),
            (margin, 0 0 4px $avatar-margin, 0 $avatar-margin 4px 0),
        ));
        display: inline-block;


        &.hidden {
            display: none;
        }
    }

    a {
        display: inline-block;
        @include vendorize(transition, all .2s);

        &:hover,
        &:focus {
            outline: none;
            @include vendorize(transform, scale(1.7));
        }
    }

    .avatar {
        vertical-align: text-bottom;
        border-radius: 2px;
        max-width: $avatar-max-width;
        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }

    button {
        position: absolute;
        top: 100%;
        @include bidi((
            (right, 0, left, auto),
            (text-align, right, left),
        ));
        margin-top: -5px;
        padding: 0;
        color: $link-color;
        text-transform: none;
    }
}


@media #{$mq-mobile-and-down} {
    .contributor-avatars {
        display: none;
    }
}
