article {
    position: relative;

    a {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }

        &:active {
            background-color: $blue-dark;
            color: #fff;
        }

        &[name] {
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }

        /* 404 link */
        &.new {
            color: $error;
        }
    }

    .local-anchor,
    .section-link {
        .icon {
            color: $link-color;
            width: 21px;
            height: 21px;
            /* ensure svg will never be target of mouse event */
            pointer-events: none;
            @include bidi(((margin-left, ($grid-spacing / 2 ), margin-right, 0),));
        }

        span {
            @include visually-hidden;
        }
    }
}
