/*
kumascript errors block at the top of an article
********************************************************************** */

#kserrors {
    ul {
        list-style-type: none;
        padding-left: 0 !important; /* stylelint-disable-line declaration-no-important */
    }
}

.kserrors-details {
    padding: $grid-spacing 0;
}
