.sample-code-frame {
    border: 1px $code-block-border-style $code-block-border-color;
    @include bidi(((border-width, 1px 1px 1px $code-block-border-width, 1px $code-block-border-width 1px 1px),));
    max-width: calc(100% - #{$grid-spacing * 2} - #{1px + $code-block-border-width});
    padding: $grid-spacing;
    width: calc(100% - #{$grid-spacing * 2} - #{1px + $code-block-border-width});

    .sample-code-table & {
        border: 0;
        @include bidi(((border-width, 0, 0),));
        max-width: 100%;
        padding: 0;
        width: auto;
    }
}

.open-in-host-container {
    @include bidi(((text-align, right, left),));
}

.open-in-host {
    width: 100%;
    margin-bottom: $grid-spacing / 2;
}

@media #{$mq-mobile-and-up} {
    .open-in-host {
        @include bidi(((margin-right, $grid-spacing, margin-left, 0),));
        margin-bottom: $grid-spacing;
        width: auto;

        &:last-child {
            @include bidi(((margin-right, 0, margin-left, 0),));
        }
    }
}
