.section-edit {
    @include bidi((
        (float, right, left),
        (margin-left, 20px, margin-right, 0),
    ));
    @include set-smaller-font-size();
    opacity: 0;

    @media #{$mq-mobile-and-down} {
        display: none;
    }

    &:focus,
    h2:hover & {
        opacity: 1;
    }
}
