/*
Column structure for main wiki content

<div id="wiki-column-container" class="(wiki-left-present | wiki-left-closed wiki-left-none)">
    <div class="column-container column-container-reverse">
        <div id="wiki-content" class="column-main wiki-column"></div>
        <!-- if left column is present -->
        <div id="wiki-left" class="column-strip wiki-column"></div>
********************************************************************** */

#wiki-column-container {
    overflow: auto; /* don't let wiki content escape the article - BUG 1325569 */
    clear: both;
}

.wiki-column {
    padding-bottom: ($grid-spacing * 2);
}

/* the subnav and quick link column of the layout */
#wiki-left {
    position: relative;
}

@media #{$mq-tablet-and-up} {

    .wiki-main-content {
        min-height: 300px;
    }

    .wiki-column {
        min-height: 1px; /* ensures the column has width when empty */
    }

    #wiki-column-container.wiki-left-closed {
        #wiki-content {
            @include column-all();
            float: none;
            width: auto;
        }
    }
}
