/*
Sticky TOC
====================================================================== */
$padding-vertical: 15px;
$padding-horizontal: 30px;


.toc {
    display: none;
    background-color: $bg-dark;
    color: #fff;
    line-height: 1;
    top: 0;
    z-index: $toc-z;

    .no-js .toc {
        display: none;
    }

    &.hidden {
        display: none;
    }
}

.toc-head {
    display: inline-block;
    font-family: $heading-font-family;
    @include set-font-size(22px);
    @include bidi(((padding-right, $grid-spacing, padding-left, 0),));
}

.toc-links {
    display: inline;

    /* submenus are still being included in HTML, but we don't want them in TOC */
    ol {
        display: none;
    }

    li {
        display: inline-block;
        word-wrap: nowrap;
    }

    a {
        position: relative;
        color: $accent-light;
        display: inline-block;
        @include set-font-size($base-font-size);
        letter-spacing: .02em;
        @include bidi(((padding, $padding-vertical $padding-horizontal $padding-vertical 0, $padding-vertical 0 $padding-vertical $padding-horizontal),));
        white-space: nowrap;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    li:last-child a {
        @include bidi(((padding, ($padding-vertical 0 $padding-vertical 0), ($padding-vertical 0 $padding-vertical 0)),));
    }
}

@media #{$mq-tablet-and-up} {
    .toc {
        display: block;
    }
}

$emify-tablet-height: (680px / 16px) * 1em;
@media #{$mq-tablet-and-up} and (min-height: #{$emify-tablet-height}) {
    .toc {
        position: -webkit-sticky;
        position: sticky;
    }

    .toc_tall {
        position: static;
    }

    .toc-links {
        li {
            a {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    @include bidi(((left, 0, right, $padding-horizontal),));
                    width: calc(100% - #{$padding-horizontal});
                    height: 0;
                    background-color: $accent-light;
                    transition: height .1s;
                }

                &.toc-current:after {
                    height: 3px;

                    /* no underline if it's not sticky because its too tall */
                    .toc_tall & {
                        height: 0;
                    }
                }
            }

            &:last-child a {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

/*
On This Page component
====================================================================== */
/* Because of the blanket styling of all aside elements
 here[1], we need to override those here to get an unstyled
 aside element. [1] kuma/static/styles/base/elements/sectioning.scss
 TODO: Do not apply such broad style rules to all elements of a type */
.document-toc-container {
    float: none;
    background-color: unset;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: unset;

    @media #{$mq-small-desktop-and-up} {
        padding-bottom: 20px;
    }
}

.document-toc {
    position: relative;

    h2 {
        display: none;

        @media #{$mq-small-desktop-and-up} {
            display: block;
        }
    }

    .toc-trigger-mobile {
        margin-top: $gutter-width / 2;
        padding: 10px 0;
        border: 0;
        border-bottom: 2px solid $blue;
        color: $link-color;
        width: 100%;
        font-weight: normal;
        text-align: left;

        svg {
            margin-left: 5px;
            fill: currentColor;
            width: 18px;
            height: 18px;
            vertical-align: bottom;

            @media #{$mq-small-desktop-and-up} {
                display: none;
            }
        }

        @media #{$mq-small-desktop-and-up} {
            display: none;
        }
    }

    ul {
        display: none;
        position: absolute;
        top: 50px;
        background-color: #fff;
        padding: 0 20px;
        border: 2px solid $blue;
        width: calc(100% - 40px);
        list-style: none;
        z-index: 94;

        @media #{$mq-small-desktop-and-up} {
            @include bidi(((padding-left, 20px, padding-right, 0),));
            @include set-font-size(16px);
            display: block;
            position: inherit;
            top: inherit;
            background-color: inherit;
            border: 0;
            width: auto;
        }

        li {
            margin: 20px 0;
            line-height: 1.2;

            @media #{$mq-small-desktop-and-up} {
                margin: 10px 0;
            }
        }

        &.show-toc {
            display: block;
        }
    }

    @media #{$mq-small-desktop-and-up} {
        background-color: $toc-background-color;
        margin-top: 30px;
        border: solid 1px $toc-border-color;

        &:before {
            display: block;
            background-image: linear-gradient(-272deg, $toc-gradient-start-color, $toc-gradient-end-color);
            content: '';
            height: 4px;
        }

        h2 {
            margin: 15px 0;
            @include bidi(((padding-left, 10px, padding-right, 0),));
            font-weight: 400;
            @include set-font-size(24px);
        }

        .toc-related-topics {
            display: none;
        }
    }
}
