/*
Two columns
- usually found on article landing pages
- applied to both <table> and <div> elements
    - tables use <td>s to designate columns
    - divs use class="section" to designate columns
********************************************************************** */

body .topicpage-table { // need the extra specificity of body to over-ride .textcontent table {} declaration
    clear: both;
    width: 100%;
    border: none;
    display: block;
    border-collapse: collapse;
    margin-bottom: $grid-spacing;

    tr,
    th,
    td {
        border: none;
        display: block;
        padding: 0;
        vertical-align: top;
    }
}

/* styles for elements inside .topicpage-table */
.topicpage-table {
    h2 {
        @include set-heading-font-family();
        margin-top: 0;
    }

    ul {
        padding-left: $grid-spacing;
    }

    small {
        font-size: $smaller-font-size;
    }
}

/* Simulate two columns, if enough space is available    */
@media #{$mq-small-desktop-and-up} {
    body .topicpage-table {
        display: table;
        border-collapse: collapse;

        tr {
            display: table-row;
        }

        th,
        td,
        .section {
            display: table-cell;
            width: 50%;
            padding: 0 $grid-spacing;
            @include bidi(((border-left, solid 6px #eaeff2, border-right, none),));

            &:first-child {
                @include bidi((
                    (border-left, none, border-right, solid 6px #eaeff2),
                    (padding-left, 0, padding-right, $grid-spacing),
                ));
            }

            &:last-child {
                @include bidi(((padding-right, 0, padding-left, $grid-spacing),));
            }
        }
    }
}
