/*
contributors block at the bottom of the article
********************************************************************** */

.contributors {
    color: #777;

    @include set-smaller-font-size();

    #{$selector-icon} {
        @include bidi-style(margin-left, 0, margin-right, $icon-margin);
        @include bidi-style(margin-right, $icon-margin, margin-left, 0);
    }
}

.contributors-sub {
    padding: 4px 0;
}

@media print {
    .contributors {
        display: none;
    }
}
