/* contributor avatars at top of articles */

$avatar-max-width = 20px;
$avatar-margin = 5px;
$avatar-limit = 6;

.contributor-avatars {
    bidi-value(float, right, left);
    position: relative;
    max-width: ($avatar-limit * ($avatar-max-width + $avatar-margin));
    margin-top: 23px;
    bidi-style(margin-left, $grid-spacing, margin-right, 0);
    margin-bottom: $grid-spacing;
    color: #777;
    set-smaller-font-size();
    bidi-value(text-align, right, left);

    .from-search &,
    .no-js & {
        display: none;
    }

    &.contributor-avatars-open {
        max-width: none;
        width: 100%;
        bidi-style(margin-left, 0, margin-right, 0);
    }


    ul {
        display: inline-block;
        opacity: 0.7;
        vendorize(transition, opacity .3s ease-in-out);

        .contributor-avatars-open&,
        &:hover,
        &.focused {
            opacity: 1;
        }
    }

    li {
        bidi-value(float, left, right);
        bidi-value(margin, 0 0 4px $avatar-margin, 0 $avatar-margin 4px 0);
        display: inline-block;


        &.hidden {
            display: none;
        }
    }

    a {
        display: inline-block;
        vendorize(transition, all .2s);

        &:hover,
        &:focus {
            outline: none;
            vendorize(transform, scale(1.7));
        }
    }

    .avatar {
        vertical-align: text-bottom;
        border-radius: 2px;
        max-width: $avatar-max-width;
        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }

    button {
        position: absolute;
        top: 100%;
        bidi-style(right, 0, left, auto);
        margin-top: -5px;
        padding: 0;
        color: $link-color;
        bidi-value(text-align, right, left)
        text-transform: none;
    }
}


@media $media-query-mobile {
    .contributor-avatars {
        display: none;
    }
}
