/*
contributor avatars at top of articles
********************************************************************** */

$avatar-max-width: 20px;
$avatar-margin: 5px;
$avatar-limit: 6;

.contributor-avatars {
    @include bidi-value(float, right, left);
    position: relative;
    max-width: ($avatar-limit * ($avatar-max-width + $avatar-margin));
    margin-top: 23px;
    @include bidi-style(margin-left, $grid-spacing, margin-right, 0);
    margin-bottom: $grid-spacing;
    color: #777;
    @include set-smaller-font-size();
    @include bidi-value(text-align, right, left);

    .no-js & {
        display: none;
    }

    &.contributor-avatars-open {
        max-width: none;
        width: 100%;
        @include bidi-style(margin-left, 0, margin-right, 0);
    }


    ul {
        display: inline-block;
        opacity: .7;
        @include vendorize(transition, opacity .3s ease-in-out);

        &.contributor-avatars-open,
        &:hover,
        &.focused {
            opacity: 1;
        }
    }

    li {
        @include bidi-value(float, left, right);
        @include bidi-value(margin, 0 0 4px $avatar-margin, 0 $avatar-margin 4px 0);
        display: inline-block;


        &.hidden {
            display: none;
        }
    }

    a {
        display: inline-block;
        @include vendorize(transition, all .2s);

        &:hover,
        &:focus {
            outline: none;
            @include vendorize(transform, scale(1.7));
        }
    }

    .avatar {
        vertical-align: text-bottom;
        border-radius: 2px;
        max-width: $avatar-max-width;
        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }

    button {
        position: absolute;
        top: 100%;
        @include bidi-style(right, 0, left, auto);
        margin-top: -5px;
        padding: 0;
        color: $link-color;
        @include bidi-value(text-align, right, left);
        text-transform: none;
    }
}


@media #{$media-query-mobile} {
    .contributor-avatars {
        display: none;
    }
}
