/*
wiki article cookie crumbs
********************************************************************** */

.crumbs {
    margin-bottom: ($grid-spacing / 2);

    @include set-smaller-font-size();

    li {
        @include bidi-style(margin-right, ($grid-spacing / 2), margin-left, 0);
        display: inline-block;
    }

    a {
        display: block;

        &:after {
            @include bidi-style(margin-left, 4px, margin-right, 0, true);
            @include bidi-style(content, '\f054', content, '\f053');
            display: inline-block;
            font-family: FontAwesome;
            text-decoration: none;
            color: $grey;
            @include set-font-size(70%);
        }
    }

    @include reverse-link-decoration();
}

@media print {
    .crumbs {
        display: none;
    }
}
