/*
wiki article bread crumbs
********************************************************************** */
$crumb-vertical-spacing-tablet: $grid-spacing / 2;
$crumb-vertical-spacing-desktop: $grid-spacing / 4;

.crumbs {
    border: 1px solid #d7d7d7;
    border-width: 1px 0;
    margin: $grid-spacing 0;
    padding: $grid-spacing 0;
    @include set-font-size($smaller-font-size);

    @media #{$mq-tablet-and-up} {
        border-top-width: 0;
        margin-top: 0;
        padding-bottom: $grid-spacing - $crumb-vertical-spacing-tablet;
        padding-top: 0;
    }

    @media #{$mq-small-desktop-and-up} {
        padding-bottom: $grid-spacing - $crumb-vertical-spacing-desktop;
    }

    li {
        display: inline;
    }

    a { // @include reverse-link-decoration has buggy behaviour in .crumbs for some reason
        text-decoration: none;

        &:hover span,
        &:focus span {
            text-decoration: underline;
        }
    }

    a.crumb-current-page {
        &:link,
        &:visited {
            color: $text-color;
        }
    }

    a.crumb-current-page {
        &:link,
        &:visited {
            color: $text-color;
        }
    }

    span {
        display: inline-block;
        position: relative;
        @include bidi(((padding-right, 5px, padding-left, 0),));
        /* borders increase hit area for mobile without messing with position of arrow */
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        line-height: 1.5;

        /* Hyphenate long titles like CanvasRenderingContext2D if needed*/
        hyphens: auto;

        @media #{$mq-tablet-and-up} {
            border-top: none;
            border-bottom: $crumb-vertical-spacing-tablet solid transparent;
        }

        @media #{$mq-small-desktop-and-up} {
            border-bottom: $crumb-vertical-spacing-desktop solid transparent;
        }

        &:after {
            margin: 10px 5px 5px;
            vertical-align: bottom;
            @include set-bidi-icon($path-to-svg-arrow-icons + 'chevron-right.svg', $path-to-svg-arrow-icons + 'chevron-left.svg', auto, auto, 8px, 10px);
            height: 11px;
        }
    }

    li:last-child span:after {
        display: none;
    }
}
