.document-head {
    position: relative;
    clear: both;

    h1 {
        margin-top: $grid-spacing;
        margin-bottom: ($grid-spacing * 1.5);

        line-height: 1;
        {$selector-site-font-fallback} {
            line-height: 1.005;
        }
    }
}
