/* Pages like /docs/all, /docs/with-errors, and more. */
.document-list {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: $grid-spacing;

    li {
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
