article {
    position: relative;

    a {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }

        &[name] {
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }

        /* 404 link */
        &.new {
            color: $error;
        }
    }

    .local-anchor {
        display: inline-block;
        background: transparent url($path-to-images+'icons/link.svg') 0 0
            no-repeat;
        margin-right: ($grid-spacing / 2);
        width: 20px;
        height: 20px;

        span {
            @include visually-hidden;
        }
    }
}
