@require '../../includes/vars';
@require '../../includes/mixins_indicators';

/*
Indicators
- in a perfect world each indicator is composed of 2 classes that
  combine to indicate how it should display.
- one to indicate whether it is a block or a inline indicator
- one to indicate what colour and icons it should halve
- in practice there are multiple classes that indicate these things
  and a few indicators that only have one class to serve both purposes
====================================================================== */

/*
block indicators aka banners
- full width, left border, optional icon
-------------------------------------------------------------- */

.blockIndicator,
.overheadIndicator,
.standardNoteBlock,
.banner,
.inheritsbox,
.notice,
.note,
.warning,
.geckoVersionNote {
    @extends $indicator-block;

    /* heading */
    p > strong {
        @extends $indicator-block-heading;
    }
}

/* heading */
.bannerHeading {
    @extends $indicator-block-heading;
}

/* If there are 2 indicators in close proximity, snug them up.
   Too many combinations to do them all but this
   should take care of most common combinations */
.warning + .warning,
.warning + .overheadIndicator,
.overheadIndicator + .overheadIndicator,
.note + .note {
    margin-top: ($grid-spacing * -1) + 2;
}

/* code block looks funny without it's padding,
   only appears in kumascript error boxes AFIK */
.warning pre:last-child {
    padding-bottom: $code-block-padding;
}

/* remove empty p tag between top of note and start of heading
   if text editor has inserted one  */
.geckoVersionNote {
    > p:first-child:empty {
        display: none;
    }
}

/*
modifications for 'system' indicators
- border goes all the way around, meant to indicate info is
  seperate from content
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.draft,
.notice:not(.experimental),
.translationInProgress {
    @extends $indicator-system;
}

.warning {
    &#kserrors,
    &#doc-rendering-in-progress,
    &#doc-rendering-scheduled,
    &.warning-review {
        @extends $indicator-system;
    }
}


/*
inline indicators aka badges
- inline-block, smaller font
-------------------------------------------------------------- */

.inlineIndicator,
.indicatorInHeadline,
.badge {
    @extends $indicator-inline;
    @extends $indicator-inline-icon;
}

.inlineIndicator[title],
.indicatorInHeadline[title] {
    cursor: help;
}

/*
inline in a heading
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.headingWithIndicator {
    clearfix();

    h1, h2, h3, h4, h5, h6 {
        bidi-value(float, left, right);
    }
}

.indicatorInHeadline {
    bidi-value(float, right, left);
}


/*
icons for both types of indicators
-------------------------------------------------------------- */

#kserrors.warning {
    indicator-icon('\f119'); /* frowny facy */
}

#doc-rendering-in-progress.warning,
#doc-rendering-scheduled.warning {
    indicator-icon('\f017'); /* clock */
}

.experimental,
.experimentalBadge,
/* es7 and harmony macros  */
.overheadIndicator[style='background: #9CF49C;'] {
    indicator-icon('\f0c3'); /* flask */
}

.warning:not(.notification) {
    indicator-icon('\f06a'); /* circle with excamation point */
}

.deprecated {
    indicator-icon('\f088'); /* thumbs down */
}

.draft,
.warning.warning-review,
.translationInProgress {
    indicator-icon('\f044'); /* edit icon */
}

.note {
    indicator-icon('\f016'); /* file icon rotated */

    &:before {
        vendorize(transform, scaleY(-0.8) scaleX(0.8));
    }
}

.obsolete {
    indicator-icon('\f014'); /* trash can */
}

.nonStandard,
.nonstandardBadge {
    indicator-icon('\f071'); /* triangle with exclamation point */
}

.privilegedBadge,
.install{
    indicator-icon('\f132'); /* shield */
}

.translationInProgress {
    indicator-icon('\f0ac'); /* globe */
}


/*
Colours for both types
-------------------------------------------------------------- */

/* don't use */
.warning,
.obsolete,
.obsoleteBadge,
.deprecated,
.deprecatedBadge,
.nonStandard,
.nonstandardBadge,
.unimplemented,
.unimplementedBadge {
    @extends $indicator-danger;
}

/* experimental */
.experimental,
.experimentalBadge,
.prefixBox {
    @extends $indicator-warning;
}

/* if you don't know this it won't work */
.warning.warning-review,
.draft,
.todo,
.note,
.notice,
.renamed,
.privilegedBadge,
.translationInProgress {
    @extends $indicator-warning;
}

/* version info */
.htmlVer,
.domLevel,
.jsMinVer,
.jsMinVerHeader,
.standardNote,
.mbMinVer,
.tbMinVer,
.smMinVerHeader,
.notXPCOM,
.mobileOnly,
.projectSpecific, /* single use, might be able to remove */
.geckoVersionNote,
.geckoMinVer,
.geckoMinVerMethod,
.firefoxVersionBadge,
.geckoVersionBadge {
    @extends $indicator-version;
}

/* you might like to know */
.optional {
    @extends $indicator-info;
}

/*
Special snowflakes
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* kumascript warnings get brigther red */
#kserrors.warning,
#doc-rendering-in-progress.warning,
#doc-rendering-scheduled.warning {
    border-color: #B54D48;
    background-color: #CA5651;
    @extends $indicator-link-invert;
    @extends $indicator-text-invert;
}

/* code colouration */
.inheritsbox {
    border-color: $code-block-border-color; /*orignally #D1D1FF*/
    background: $code-block-background-alt-color; /* orignally #F5F5FF*/
}

/* bright red */
.noscript {
    border-color: #f20000;
    background: #f00;
    @extends $indicator-text-invert;
    @extends $indicator-link-invert;
}

/* black */
.readOnly {
    border-color: #4b4b4b;
    background: #595959;
    @extends $indicator-text-invert;
    @extends $indicator-link-invert;
}

/* heading that goes in with geckoVersionNote */
.geckoVersionHeading {
    margin: (($grid-spacing / 2) * -1) (($grid-spacing / 2) * -1) 4px;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    background: theme-pale-medium($blue);
    @extends $indicator-block-heading;

    > div {
        font-family: $tiny-font-family;
    }
}
