.interactive {
    height: 430px;
    width: 100%;
    margin-bottom: $grid-spacing;
}

.interactive-js {
    height: 330px;
}

.interactive-large {
    height: 630px;
}

@media #{$mq-tablet-and-up} {
    .interactive {
        height: 280px;
    }

    .interactive-js {
        height: 330px;
    }

    .interactive-large {
        height: 455px;
    }
}
