.interactive {
    height: 600px;
    width: 100%;
}

.interactive-js {
    height: 400px;
}

.interactive-large {
    height: 665px;
}

.interactive-editor-survey {
    margin: 0 auto $grid-spacing;
    max-width: 600px;
    text-align: center;
}

@media #{$mq-tablet-and-up} {
    .interactive {
        height: 420px;
    }

    .interactive-large {
        height: 455px;
    }
}
