.interactive {
    box-sizing: border-box;
    background-color: #f5f9fa;
    color: $text-color;
    padding: 10px;
    border: 1px solid #eaf2f4;
    height: 550px;
    width: 100%;
}

.interactive.interactive-js {
    height: 490px;
}

.interactive.taller {
    height: 692px;
}

.interactive.shorter {
    height: 410px;
}

.interactive.tabbed {
    height: 430px;
}

.no-js .interactive {
    background-color: #f8f8f8;
    height: 240px;
}

.interactive-editor-survey {
    margin: 0 auto $grid-spacing;
    max-width: 600px;
    text-align: center;
}

/* custom sizing classes for the tabbed interactive editor */
.interactive.tabbed-shorter {
    height: 375px;
}

.interactive.tabbed-standard {
    height: 445px;
}

.interactive.tabbed-taller {
    height: 655px;
}

@media #{$mq-small-desktop-and-up} {
    .interactive {
        height: 390px;
    }
}
