/* used on page move page */

/* TODO: this does not need its own styles, create a grey box class to re-use here */

.move-descendants {
    border: 1px solid #dfe6eb;
    padding: 10px 10px 0 10px;
    background: #eaeff2;
    resize: vertical;
    margin-bottom: $grid-spacing;

    a {
        display: inline-block;
        margin: 0 0 10px 0;
    }
}
