/* The .no-details styles will get applied only if JavaScript is enabled and
<details> is not natively supported. */
.no-details {
    summary {
        cursor: pointer;
        bidi-style(padding-right, -15px, padding-left, 0);
    }
    summary:after {
        content: '+';
        bidi-value(float, right, left);
        margin-top: -.15em;
        bidi-style(margin-right, -15px, margin-left, 0);
        set-font-size(1.25em);
        font-weight: bold;
    }
    &.open summary:after {
        content: '–';
        margin-top: -.2em;
        bidi-style(margin-right, -13px, margin-left, 0);
    }
}
