/*
edit, language, settings, save, and cancel buttons
********************************************************************** */

.page-buttons,
#page-buttons {
    @include bidi(((float, right, left),));
    padding: 5px 0;
    width: auto;

    > li {
        margin-left: ($grid-spacing / 2);
        display: inline-block;
        position: relative;
        @include bidi(((text-align, left, right),));
    }
}

@media #{$mq-mobile-and-down} {
    .page-buttons > li.page-buttons-advanced,
    .page-buttons > li.page-buttons-edit {
        display: none;
    }
}

.move-page {
    #page-buttons {
        right: auto;
        top: auto;
        text-align: left;
        float: none;
        margin: $grid-spacing 0;
        position: relative;
    }
}

#translate-document {
    header .page-buttons {
        clear: both;
        margin-bottom: 0;
    }
}

#new-document,
#edit-document,
#translate-document {
    .page-buttons {
        z-index: 1; /* Move above the .title and .metadata classes to be clickable. */
    }
}

#new-document,
#edit-document,
#translate-document,
.move-page {
    .page-buttons {
        @include bidi(((text-align, right, left),));
        float: none;
        padding: 0;
        margin-bottom: -10px;

        li {
            margin-bottom: 10px;
        }
    }
}
