.wiki-promo-sauce-labs {
    background-color: #ebebeb;
    background-repeat: no-repeat;

    .wiki-promo-copy strong {
        @include set-font-size(16px);
    }

    .wiki-promo-link {
        display: inline-block;

        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
        }

        &:after,
        span {
            background: #82d1f6;
            color: #fff;
            display: inline-block;
            height: 38px;
            line-height: 38px;
            overflow: hidden;
        }

        span {
            padding: 0 25px;
        }

        &:after {
            @include bidi-style(margin-left, 6px, margin-right, 6px);
            @include bidi-style(content, '\f105', content, '\f104');
            @include set-font-size(30px);
            font-family: FontAwesome;
            padding: 0 15px;
        }
    }
}

#wiki-promo-sauce-labs-a {
    @include clearfix();
    @include bidi-style(background-position, bottom 20px right 20px, background-position, bottom 20px left 20px);
    @include bidi-style(padding, 20px 350px 20px 25px, padding, 20px 25px 20px 350px);
    background-image: url($path-to-embedded-images + 'promos/sauce-labs-wiki-a.png');
    min-height: 106px;

    .wiki-promo-copy,
    .wiki-promo-cta {
        @include bidi-style(float, left, float, right);
        box-sizing: border-box;
    }

    .wiki-promo-copy {
        @include bidi-style(padding, 0 20px 0 0, padding, 0 0 0 20px);
        width: 50%;

        p {
            margin-bottom: 10px;
        }
    }

    .wiki-promo-cta {
        padding-top: 47px;
        text-align: center;
        width: 50%;
    }
}

#wiki-promo-sauce-labs-b {
    @include bidi-style(background-position, bottom right 20px, background-position, bottom left 20px);
    @include bidi-style(padding, 20px 250px 20px 25px, padding, 20px 25px 20px 250px);
    background-image: url($path-to-embedded-images + 'promos/sauce-labs-wiki-b.png');
    min-height: 139px;
}

#wiki-promo-sauce-labs-c {
    @include bidi-style(background-position, bottom right 20px, background-position, bottom left 20px);
    @include bidi-style(padding, 0 230px 0 0, padding, 0 0 0 230px);
    background-color: transparent;
    background-image: url($path-to-embedded-images + 'promos/sauce-labs-wiki-c.png');
    margin-top: 20px;
    min-height: 155px;

    .wiki-promo-copy {
        padding-top: 30px;

        strong {
            font-weight: normal;
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    #wiki-promo-sauce-labs-a {
        background-image: url($path-to-embedded-images + 'promos/sauce-labs-wiki-a-high-res.png');
        background-size: 331px 99px;
    }

    #wiki-promo-sauce-labs-b {
        background-image: url($path-to-embedded-images + 'promos/sauce-labs-wiki-b-high-res.png');
        background-size: 210px 139px;
    }

    #wiki-promo-sauce-labs-c {
        background-image: url($path-to-embedded-images + 'promos/sauce-labs-wiki-c-high-res.png');
        background-size: 190px 155px;
    }
}

@media all and (max-width: $max-width-default) {
    #wiki-promo-sauce-labs-a {
        .wiki-promo-copy,
        .wiki-promo-cta {
            @include bidi-style(float, none, float, none);
            width: auto;
        }

        .wiki-promo-cta {
            @include bidi-style(text-align, left, text-align, right);
            padding-top: 15px;
        }
    }
}

// max 1200px
@media #{$media-query-small-desktop} {
    #wiki-promo-sauce-labs-b .wiki-promo-copy {
        @include bidi-style(padding, 0 120px 0 0, padding, 0 0 0 120px);
    }
}

// max 1024px
@media #{$media-query-tablet} {
    #wiki-promo-sauce-labs-b {
        @include bidi-style(background-position, bottom right 40px, background-position, bottom left 40px);
        @include bidi-style(padding, 20px 350px 20px 25px, padding, 20px 25px 20px 350px);

        .wiki-promo-copy {
            @include bidi-style(padding, 0 0 0 0, padding, 0 0 0 0);
        }
    }

    #wiki-promo-sauce-labs-c .wiki-promo-copy {
        @include bidi-style(padding, 0 120px 0 0, padding, 0 0 0 120px);
    }
}

// max 768px
@media #{$media-query-mobile} {
    #wiki-promo-sauce-labs-a {
        @include bidi-style(background-position, bottom 20px center, background-position, bottom 20px center);
        @include bidi-style(padding, 20px 10px 140px, padding, 20px 10px 140px);

        .wiki-promo-copy,
        .wiki-promo-cta {
            @include bidi-style(text-align, center, text-align, center);
        }

        .wiki-promo-copy {
            padding: 0 40px;
        }

        .wiki-promo-cta {
            padding-top: 20px;
        }
    }

    #wiki-promo-sauce-labs-b {
        @include bidi-style(background-position, bottom center, background-position, bottom center);
        @include bidi-style(padding, 20px 20px 160px, padding, 20px 20px 160px);

        .wiki-promo-copy,
        .wiki-promo-cta {
            text-align: center;
        }

        .wiki-promo-copy {
            @include bidi-style(padding, 0 40px, padding, 0 40px);
        }
    }

    #wiki-promo-sauce-labs-c .wiki-promo-copy {
        @include bidi-style(padding, 0, padding, 0);
    }
}

// max 480px
@media #{$media-query-small-mobile} {
    #wiki-promo-sauce-labs-a .wiki-promo-copy {
        @include bidi-style(padding, 0, padding, 0);
    }

    #wiki-promo-sauce-labs-b {
        @include bidi-style(padding, 20px 10px 160px, padding, 20px 10px 160px);

        .wiki-promo-copy {
            @include bidi-style(padding, 0, padding, 0);
        }
    }

    #wiki-promo-sauce-labs-c {
        @include bidi-style(background-position, bottom center, background-position, bottom center);
        @include bidi-style(padding, 0 0 175px, padding, 0 0 175px);
        min-height: 0;
    }
}
