
/*
Property definition boxes
====================================================================== */

$properties-item-spacing = $content-horizontal-spacing;
$properties-spacing = ($grid-spacing) - $properties-item-spacing;
$properties-indent = ($grid-spacing * 2) - $properties-item-spacing;

.learn-box, /* not part of .properties so not being phased out */
.properties, /* writing team is transitioning to use only this class - bug 1207344 */
.cssprop,
.htmlelt,
.summary-box-js,
.summary-box-events {

    .text-content & {
        /* could be defined one level up but that creates duplicate classes in output */
        display: table;
        margin: 0 0 $grid-spacing 0;
        border-style: solid;
        bidi-value(clear, left, right);
        background: $code-block-background-alt-color;

        /* need extra level of specificity to override default text-content styles */
        border-collapse: separate;
        bidi-value(padding, $properties-spacing $properties-indent $properties-spacing $properties-spacing, $properties-spacing $properties-spacing $properties-spacing $properties-indent);
        bidi-value(border-width, 0 0 0 $border-width, 0 $border-width 0 0);
        border-color: $code-block-border-color;

        @media $media-query-small-mobile {
            bidi-value(padding, $properties-item-spacing, $properties-item-spacing);
        }
    }

    /* writing team is transitioning to use table element only - bug 1207344 */

   li {
        display: table-row;
        margin: 0;
    }

    li dfn {
        display: table-cell;
        bidi-value(padding, $properties-item-spacing ($properties-item-spacing * 2) $properties-item-spacing $properties-item-spacing, $properties-item-spacing $properties-item-spacing $properties-item-spacing ($properties-item-spacing* 2 ));
        border-bottom: none;
        font-weight: bold;
        white-space: pre;
        cursor: inherit;
    }

    li li {
        display: list-item;
        list-style-type: disc;
        line-height: 1;
    }

    th {
        min-width: 150px;
        font-weight: bold;
    }

    th,
    td {
        border-width: 0;
        vertical-align: top;

        li {
            display: list-item;
            list-style-type: disc;
            line-height: 1;
        }
    }
}

.text-content .learn-box {
    border-color: #f69855;
    background-color: #fce1ce;
}

/* small screen improvements to table display, only need to apply to .properties and .learn-box
because we can be sure that is implemented with a table element */
@media $media-query-small-mobile {
    .learn-box,
    .properties {
        th,
        td {
            display:block;
        }
        th {
            padding-bottom: 0;
        }
        td {
            padding-top: 0;
            padding-left: $grid-spacing * 2;
        }
    }
}
