.quick-links-head {
    @include set-font-size(20px);
    display: inline-block;
    font-family: $heading-font-family;
    margin-bottom: $grid-spacing;
    width: 100%;
}

.quick-links {
    margin-bottom: $grid-spacing;
    position: relative;
    overflow: hidden;
    @include set-font-size($left-nav-font-size);

    a {
        display: inline;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;

        /* 404 link */
        &.new {
            color: $error;
        }
    }

    li {
        line-height: 1.2;
        padding-bottom: $grid-spacing;
    }

    li li {
        @include bidi-style(padding-left, $grid-spacing, padding-right, 0);
        padding-bottom: $grid-spacing / 2;

        &:first-child {
            padding-top: $grid-spacing / 2;
        }
    }

    /* toggles */
    .toggleable {
        margin-top: $grid-spacing * -1 + 5px;

        /* not if it's first in the quicklinks menu */
        &:first-child {
            margin-top: 0;
        }

        > a {
            @include bidi-style(padding-left, $grid-spacing, padding-right, 0);
            color: $text-color;
            display: inline-block;

            #{$selector-icon} {
                @include bidi-style(left, 0, right, auto);
                @include set-font-size($body-font-size);
                color: $link-color;
                position: absolute;
                top: 1px;
            }
        }
    }

    /* toggled closed by default, not all get the default-state identifier though  */
    > ol > li > ol {
        display: none;

        .no-js & {
            display: block;
        }
    }

    /* these will be open once JS runs  */
    > ol > li[data-default-state='open'] > ol {
        display: block;
    }

    /* sidebar icons - deprecated, obsolete, experiemental, etc */
    .sidebar-icon {
        @include bidi-value(margin-left, $grid-spacing * -1, 5px);
        @include bidi-value(margin-right, 5px, $grid-spacing * -1);
        opacity: .3;

        /* only the first sidebar-icon gets pulled into the gutter */
        & + .sidebar-icon {
            @include bidi-value(margin-left, 0, 5px);
            @include bidi-value(margin-right, 5px, 0);
        }

        #{$selector-icon} {
            @include set-font-size($body-font-size);
            min-width: 15px;
            vertical-align: top;
        }
    }
}
