.quick-links-head {
    @include set-font-size(20px);
    @include set-heading-font-family();
    display: inline-block;
    margin-bottom: $grid-spacing;
    width: 100%;
}

.quick-links {
    margin-bottom: $grid-spacing;
    position: relative;
    overflow: hidden;
    @include set-font-size($base-font-size);

    a {
        display: inline-block;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;

        /* 404 link */
        &.new {
            color: $error;
        }
    }

    li {
        line-height: 1.2;
        padding-bottom: $grid-spacing / 2;

        > em {
            margin-bottom: 10px;
            display: inline-block;
        }
    }

    li li {
        @include bidi(((padding-left, $grid-spacing, padding-right, 0),));
        padding-bottom: 0;

        &:first-child {
            padding-top: $grid-spacing / 2;
        }

        ol {
            padding-bottom: $grid-spacing / 2;
        }
    }

    /* toggles */
    .toggle {
        summary {
            color: $text-color;
            display: inline-block;

            #{$selector-icon} {
                @include bidi(((left, 0, right, auto),));
                @include set-font-size($base-font-size);
                color: $link-color;
                position: absolute;
                top: 1px;
            }
        }
    }
    details {
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: $grid-spacing;
        li {
            padding-left: 0;

            li {
                padding-left: $grid-spacing;
            }
        }
        summary:before {
            @include set-font-size(.6rem);
        }
    }

    /* sidebar icons - deprecated, obsolete, experiemental, etc */
    .sidebar-icon {
        @include bidi(
            (
                (margin-left, $grid-spacing * -1, 5px),
                (margin-right, 5px, $grid-spacing * -1)
            )
        );
        opacity: .3;

        /* only the first sidebar-icon gets pulled into the gutter */
        & + .sidebar-icon {
            @include bidi(((margin-left, 0, 5px), (margin-right, 5px, 0)));
        }

        #{$selector-icon} {
            @include set-font-size($base-font-size);
            min-width: 15px;
            vertical-align: top;
        }
    }
    li.webextension-api-sidebar {
        padding-left: $grid-spacing;
        position: relative;
        left: $grid-spacing * -1;
        padding-top: .5em;
        margin-bottom: .5em;

        ol {
            padding-bottom: 0;
        }
    }
}
