$see-also-outdent : 6px;

.quick-links {
    margin-bottom: $grid-spacing;
    position: relative;
    background-color: #fff;

    @include set-smaller-font-size();

    /* need to give it a fake border when appearing on zones */
    .zone-landing-header-preview-base & {
        box-shadow: ($see-also-outdent * -1) 0 0 #fff;
    }

    a {
        color: $text-color;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;

        /* 404 link */
        &.new {
            color: #900;
        }
    }

    /* hides submenus by default */
    ul ul {
        display: none;

        .no-js & {
            display: block;
        }
    }

    li {
        padding-top: $content-vertical-spacing;
        position: relative;
    }

    li li {
        @include bidi-style(padding-left, $grid-spacing * 1.5, padding-right, 0);
    }

    li li li {
        @include bidi-style(padding-left, $grid-spacing, padding-right, 0);
    }

    /* don't allow empty paragraphs by CKEditor */
    p:empty,
    div:empty {
        display: none;
    }

    .title {
        display: inline-block;
        margin-bottom: 0;
        width: 100%;

        &.see-also {
            background: $light-background-color;
            /* to left align the text in this box with the text above and below */
            @include bidi-style(margin-left, ($see-also-outdent * -1), margin-right, 0);
            @include bidi-value(padding, 4px $see-also-outdent 4px 0, 4px 0 4px $see-also-outdent);
            text-indent: $see-also-outdent;
        }
    }

    .sidebar-icon {
        @include bidi-value(margin-left, $grid-spacing * -1, 5px);
        @include bidi-value(margin-right, 5px, $grid-spacing * -1);
        opacity: .3;

        /* only the first sidebar-icon gets pulled into the gutter */
        & + .sidebar-icon {
            @include bidi-value(margin-left, 0, 5px);
            @include bidi-value(margin-right, 5px, 0);
        }

        #{$selector-icon} {
            @include set-font-size($base-font-size);
            @include bidi-style(margin-left, 0, margin-right, 0);
            @include bidi-style(margin-right, 0, margin-left, 0);
            position: realtive;
            top: 3px;
            min-width: 15px;
            vertical-align: top;
        }
    }
}

/* items which can be clicked on to toggle */
.quick-links .toggleable > a {
    display: inline-block;
    @include bidi-style(padding-left, $grid-spacing, padding-right, 0);

    #{$selector-icon} {
        @include set-font-size($base-font-size);
        position: absolute;
        top: 1px;
        @include bidi-style(left, -6px, right, auto);
    }
}
