/* document review form stuff */
.reviews {
    set-message-base(false);
    set-smaller-font-size();
    @extend $review-base;

    p {
        margin: 0;
    }

    ul {
        padding-bottom: $content-vertical-spacing;
    }

    li {
        padding-top: $content-vertical-spacing;
    }
}
