.section-edit {
    @include bidi-value(float, right, left);
    @include bidi-style(margin-left, 20px, margin-right, 0);
    @include set-smaller-font-size();
    opacity: 0;

    @media #{$media-query-mobile} {
        display: none;
    }

    &:focus,
    h2:hover & {
        opacity: 1;
    }
}
