#toc {
    @include reverse-link-decoration();
    background: $light-background-color;
    padding: 20px 15px;

    > ol {
        @include set-smaller-font-size();
    }

    li {
        padding-top: ($grid-spacing / 2);
        position: relative;

        &:before {
            @include bidi-value(text-align, left, right);
            @include bidi-style(left, -($grid-spacing * 1.5), right, auto);
            position: absolute;
            color: $grey-dark;
        }
    }

    li li {
        padding-left: $grid-spacing;
    }

    .toggler {
        pointer-events: none;
        color: inherit;

        i {
            display: none;
        }
    }

    .title {
        margin-bottom: 0;
    }

    a.title {
        position: relative;
        text-decoration: none;
    }
}
