.helpful-survey-content {
    height: 40px;
    position: relative;
}

.helpful-survey-buttons,
.helpful-survey-thankyou {
    position: absolute;
    width: 200px;
}

.helpful-survey-buttons {
    @include vendorize(transition, opacity .2s ease);
    z-index: 2;
}

.helpful-survey-thankyou {
    @include vendorize(transition, opacity .2s ease .25s);
    line-height: 40px; // vertically center the text
    opacity: 0;
    z-index: 1;
}

.helpful-survey-vote {
    @include vendorize(transition, 'transform 0.2s ease, background 0.2s ease, box-shadow 0.25s ease');
    margin: 0 10px;

    &:hover {
        @include vendorize(transform, translateY(-3px));
        background: #fff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .4);
    }
}

.helpful-survey {
    background: #{map-get( map-get($colors-lookup, 'neutral'), 'dark')};
    color: #fff;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 200px;

    #{$selector-icon} {
        font-size: 26px;
    }

    &.submitted {
        .helpful-survey-thankyou {
            opacity: 1;
        }

        .helpful-survey-buttons {
            pointer-events: none; // no more button clicks!
            opacity: 0;
        }
    }
}

@media print {
    .helpful-survey {
        display: none;
    }
}
