<a href="{{ url('home') }}" class="nav-footer-logo">{{ _('MDN Web Docs') }}</a>
<div class="footer-group footer-group-mdn">
  <h2 class="footer-title">MDN</h2>
  <ul class="footer-list">
    <li><a href="{{ wiki_url('Web') }}">{{ _('Web Technologies') }}</a></li>
    <li><a href="{{ wiki_url('Learn') }}">{{ _('Learn Web Development') }}</a></li>
    <li><a href="/docs/MDN/About">{{ _('About MDN') }}</a></li>
    <li><a href="{{ wiki_url('MDN/Feedback') }}">{{ _('Feedback') }}</a></li>
    <li class="footer-social">
        <a href="https://twitter.com/mozdevnet">
            <!-- {{ _('Twitter') }} -->{# TODO: Add to SVG as translated title #}
            {% include 'includes/icons/social/twitter.svg' %}
        </a>
    </li>
    <li class="footer-social">
        <a href="https://github.com/mdn/">
            <!-- {{ _('GitHub') }} -->{# TODO: Add to SVG as translated title #}
            {% include 'includes/icons/social/github.svg' %}
        </a>
    </li>
  </ul>
</div>
