{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "common/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{# L10n: {f} if the name of the forum. #}
{% set title = _('Create a new thread | {f} | Forums')|f(f=forum.name) %}
{% set crumbs = [(url('forums.forums'), _('Forums')),
                 (url('forums.threads', forum.slug), forum.name),
                 (None, _('Create a new thread'))] %}
{% set scripts = ('forums',) %}

{% block content %}
  <h2>{{ _('Create a new thread') }}</h2>

  <form action="{{ url('forums.new_thread', forum.slug) }}" method="post" class="new-thread">
    {{ csrf() }}
    {{ errorlist(form) }}

    {% for field in form %}
      <div class="form-widget{% if field.errors %} invalid{% endif %}">
        {% if field.name == 'content' %}
            <div class="forum-editor-tools"></div>
        {% endif %}
        {{ field.label_tag()|safe }}
        {{ field|safe }}
      </div>
    {% endfor %}

    <div class="form-widget submit">
      <a href="{{ url('forums.threads', forum.slug) }}">{{ _('Cancel') }}</a>
      <input type="submit" value="{{ _('Post') }}" />
    </div>
  </form>
{% endblock %}
