[mysql]
# Making this huge, just in case
max_allowed_packet=1024M
default-character-set = utf8

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0
port            = 3306
# bind-address    = 127.0.0.1

# Uncomment for debugging; can create a huge log file, though.
#log = /var/log/mysqld.log

# Making this huge, just in case
max_allowed_packet=1024M
character-set-server=utf8
collation-server=utf8_unicode_ci
init_connect='set collation_connection = utf8_unicode_ci;'

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
