@require '../../includes/mixin_submenu.styl';

/* search navigator near article heading */
.from-search {
    padding-left: ($grid-spacing * 2);

    h1, .from-search-navigate {
        display: inline-block;
    }
    .from-search-previous, .from-search-next {
        display: block;
    }
}

.from-search-previous, .from-search-next {
    position: absolute;
    top: ($grid-spacing * .75) + 2px;
    display: none;
    font-size: 24px;

    &.disabled {
        opacity: 0.3;
    }
}

.from-search-previous {
    left: 0;
}

.from-search-next {
    right: 0;
}

.from-search-navigate {
    set-larger-font-size();
    position: relative;
    color: #ced1d2;
    display: none;
    height: 38px;
    width: $grid-spacing;
    top: 4px;
}

.from-search-navigate-up, .from-search-navigate-down {
    set-smaller-font-size();
    position: absolute;
    left: 0;
}

.from-search-navigate-up {
    top: 0;
}

.from-search-navigate-down {
    bottom: 0;
}

.from-search-toc {
    submenu-set(200px, 1px, $button-background, $button-shadow-color)
    set-smaller-font-size();
    border: 1px solid $button-shadow-color;
    left: 66px;
    top: 0;
    z-index: 2;
    color: #888;

    &:before, &:after { /* remove submenu arrows */
        display: none;
    }

    ol {
        list-style-type: decimal;
        padding-left: $grid-spacing;
    }

    a.current {
        color: #888;
        pointer-events: none;
        cursor: default;
    }
}

@media print {
    .from-search,
    .from-search-previous-box,
    .from-search-navigate-wrap,
    .from-search-next-box  {
        padding-left: 0;
    }
}
