/*
Main CSS file for MDN.  Holds the site structure and key styles.
********************************************************************** */


/*
Classes which should be mirror extensions and mixins - mixins.styl
These classes are used within wiki content sowe must have them available as classes as well.
====================================================================== */

/* grid setup for direct class uses */
@import '../includes-skinny/mixin_draw-grid';
@include draw-grid();

/* columns */
@import 'structure/cols';


/*
Pre-header
====================================================================== */

/* soapbox notice */
@import 'structure/global-notice';

/* keyboard/screen reader skip link menu */
@import 'structure/nav-access';


/*
Header
====================================================================== */

@import 'structure/main-header';
@import 'structure/submenu';


/*
Secondary Navigation
- login widget
- profile (logged in) links
-------------------------------------------------------------- */

@import 'structure/nav-sec';
@import 'structure/login';


/*
Main Navigation
- menus & submenus
- search bar
-------------------------------------------------------------- */

@import 'structure/nav-main';
@import 'structure/nav-main-search';
@import 'structure/search-wrap';
@import 'structure/search-form';


/*
Document Head
====================================================================== */

@import 'structure/document-head';


/*
Footer
====================================================================== */

@import 'structure/nav-footer';
@import 'structure/contentinfo';


/*
Misc - needs sorting
====================================================================== */

@import 'structure/socialaccount-providers';
@import 'structure/feature-test-element';
@import 'structure/pagination';

#wikiArticle > p:first-child:empty {
    display: none; /* bug 1305178: hide empty first paragraph */
}

p.field-explanation {
    margin-bottom: 0;
}

#content-main.full {
    clear: both;
    float: none;
    width: 100%;
}

.main {
    float: left;
    width: 670px;
}

@media #{$mq-mobile-and-down} {
    .header-clear {
        display: none;
    }
}
