/*
colorful callouts
********************************************************************** */

$callout-icon-spacing: 25px;
$callout-icon-width: 90px;

.column-callout {
    @include column-4();
    background: #00539f;

    a {
        color: $blue-background-text-color !important; /* stylelint-disable-line declaration-no-important */
        display: block;
        min-height: 170px;
        position: relative;
        overflow: hidden;
        @include set-larger-font-size();

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: $callout-icon-spacing;
            @include bidi-style(right, $callout-icon-spacing + $grid-spacing, left, auto);
            height: $callout-icon-width;
            width: $callout-icon-width;
            background-image: url($path-to-embedded-images + 'promo-sprite.png');
        }

        &:before {
            @include bidi-style(content, '\f061', content, '\f060');
            @include bidi-style(right, $grid-spacing, left, auto);
            font-family: FontAwesome;
            bottom: 11px;
            position: absolute;
            @include set-font-size(24px);
            z-index: 4;
        }
    }

    span {
        position: absolute;
        z-index: 1;
        bottom: -2px;
        @include bidi-value(padding, $grid-spacing 50px $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing 50px);
        width: 75%;
        min-width: 160px;
        max-width: 270px;
        box-sizing: border-box;
    }
}

/*
Colours and icons
-------------------------------------------------------------- */

.callout-foundation {
    background: #523e53;

    strong {
        content: '';
        display: block;
        height: 30px;
        width: 109px;
        margin-bottom: 2px;
        background-image: url($path-to-images + 'home-foundation.gif');
        direction: ltr; // ltr should be set with negative text indent
        text-indent: 100%;
        overflow: hidden;
    }

    a:before {
        display: none;
    }

    a:after {
        height: 79px;
        background-image: url($path-to-images + 'home-foundation.gif');
        background-position: 0 -29px;
    }

    button {
        margin-top: 6px;
        border: 3px solid #fff;
        background-color: transparent;
        color: #fff;
    }
}

.callout-learn {
    background-color: #c43957;
}

.callout-deved {
    background-color: #056b9f;

    a:after {
        background-position: 0 -300px;
    }
}

.callout-apps {
    background-color: #58779d;

    a:after {
        background-position: 0 -600px;
    }
}

/*
DevRel Survey promo
-------------------------------------------------------------- */
.callout-devrel {
    background-color: #80cff7;

    a {
        @include set-font-size(14px);

        &:after {
            @include bidi-style(right, 20px, right, auto);
            @include bidi-style(left, auto, left, 20px);
            background-image: url($path-to-embedded-images + 'promos/devrel-survey-icon.png');
            top: 15px;
            height: 140px;
            width: 129px;
        }

        &:before {
            content: none;
            display: none;
        }

        p {
            color: #000;
            margin-bottom: 0;
        }

        button {
            @include bidi-style(text-align, left, text-align, right);
            display: inline-block;
            background: #80cff7;
            color: #000;
            margin-top: 14px;
            padding: 10px 15px;
            border: 3px solid #fff;
            border-radius: 0;
            box-shadow: none;
            font-weight: bold;
            text-transform: none;
        }
    }
}

/*
Promos
-------------------------------------------------------------- */

.callout-saucelabs {
    background-color: #82d1f5;

    a {
        @include set-font-size(14px);
        color: #000 !important; /* stylelint-disable-line declaration-no-important */
        font-weight: bold;

        &:after {
            @include bidi-style(right, 20px, left, 20px);
            background-image: url($path-to-embedded-images + 'promos/sauce-labs-home.png');
            height: 140px;
            top: 15px;
            width: 129px;
        }

        &:before {
            content: none;
            display: none;
        }

        p {
            margin-bottom: 0;
        }

        button {
            @include bidi-style(text-align, left, text-align, right);
            background: #82d1f5;
            border: 2px solid #fff;
            border-radius: 0;
            box-shadow: none;
            color: #000;
            display: inline-block;
            font-weight: bold;
            margin-top: 14px;
            padding: 9px;
            text-transform: none;
        }
    }
}

/*
Media queries
-------------------------------------------------------------- */
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    .callout-saucelabs a:after {
        background-image: url($path-to-embedded-images + 'promos/sauce-labs-home-high-res.png');
        background-size: 129px 140px;
    }

    .callout-devrel a:after {
        background-image: url($path-to-embedded-images + 'promos/devrel-survey-icon-high-res.png');
        background-size: 129px 140px;
    }
}

@media #{$mq-small-desktop-and-down} {
    .callout-saucelabs a:after {
        @include bidi-style(right, -20px, right, auto);
        @include bidi-style(left, auto, left, -20px);
    }

    .callout-devrel {
        a {
            @include set-font-size(12px);

            &:after {
                @include bidi-style(right, 0, right, auto);
                @include bidi-style(left, auto, left, 0);
            }
        }

        span {
            @include bidi-value(padding, 0 50px ($grid-spacing * 2) $grid-spacing, 0 $grid-spacing ($grid-spacing * 2) 50px);
        }
    }
}

@media #{$mq-tablet-and-down} {
    .column-callout a:after {
        top: $grid-spacing;
        @include bidi-style(right, $grid-spacing, left, auto);
    }

    .callout-saucelabs,
    .callout-devrel {
        a {
            @include set-font-size(12px);

            &:after {
                @include bidi-style(right, -70px, right, auto);
                @include bidi-style(left, auto, left, -70px);
            }
        }

        span {
            width: 90%;
        }
    }

    .callout-devrel {
        a:after {
            @include bidi-style(right, -50px, right, auto);
            @include bidi-style(left, auto, left, -50px);
        }

        span {
            @include bidi-value(padding, ($grid-spacing / 2) 50px ($grid-spacing + 10) $grid-spacing, ($grid-spacing / 2) $grid-spacing ($grid-spacing + 10) 50px);
        }
    }
}

@media #{$mq-mobile-and-down} {
    .column-callout {
        margin-bottom: $grid-spacing;
    }

    .column-callout a:after {
        top: $callout-icon-spacing;
        @include bidi-style(right, $callout-icon-spacing + $grid-spacing, left, auto);
    }

    .callout-saucelabs,
    .callout-devrel {
        a {
            @include set-font-size(14px);

            &:after {
                @include bidi-style(right, 20px, right, auto);
                @include bidi-style(left, auto, left, 20px);
            }
        }

        span {
            max-width: 300px;
        }
    }

    .callout-devrel {
        a:after {
            top: 15px;
        }
    }
}

@media #{$mq-small-mobile-and-down} {
    .column-callout a:after {
        top: $grid-spacing;
        @include bidi-style(right, $grid-spacing, left, auto);
    }

    .callout-saucelabs a {
        @include set-font-size(14px);

        &:after {
            @include bidi-style(right, -30px, right, auto);
            @include bidi-style(left, auto, left, -30px);
        }

        span {
            max-width: 250px;
        }
    }

    .callout-devrel a {
        &:after {
            background-repeat: no-repeat;
            background-size: 109px auto;
            @include bidi-style(right, -25px, right, auto);
            @include bidi-style(left, auto, left, 5px);
        }
    }
}
