{% extends "authkeys/base.html" %}

{% block intro %}{{ _("API Keys: <b>Delete Key</b>" | safe) }}{% endblock %}

{% block subcontent %}
    <dl class="key" id="key-{{ key.pk }}">
        <dt>{{ _("Created") }}</dt>
        <dd class="created">{{ key.created }}</dd>
        <dt>{{ _("Description") }}</dt>
        <dd class="description">{{ key.description }}</dd>
    </dl>
    <form method="POST" action="" class="key">
        {{ csrf() }}
        <p>Are you sure?</p>
        <button type="submit" name="action_delete">{{ _("Delete") }}</button>
        <a class="button positive" href="{{ url('authkeys.list') }}">{{ _('Cancel') }}</a>
    </form>
{% endblock %}
