@import '../includes/_vars.scss';
@import 'vars/_vars-paths.scss';
@import '../includes/_mixins.scss';

@import '../includes/_svg_data_uri_icons.scss';
@import '../includes/_mixins_indicators.scss';

/*
Main stylesheet for the site, standalone
********************************************************************** */

/* stylesheets used only in main  */
@import '../base/_elements.scss';
@import '../base/_icons.scss';

/* components also used elsewhere */
@import '../components/_components.scss';
@import '../components/_content.scss';
@import '../components/_cta.scss';
@import 'base/_structure.scss';
@import '../components/_form.scss';
@import 'utils/_highlighted-headings.scss';
@import '../components/_tags.scss';
@import '../components/_errorlist.scss';
@import '../components/_newsletter.scss';
@import '../components/_payments.scss';

@import 'components/_loading-bar.scss';
