/* Browse by Technology */
.no-js #tags-list {
  display: block;
}
#tags-list {
  display: none;
  padding: 20px 5px 10px;
  overflow: hidden;
  font-size: 11px;
  position: absolute;
  left: 0;
  z-index: 30;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #000;
  background: rgba(0,0,0,0.9);
  background: -moz-linear-gradient(top, #333 0, rgba(0,0,0,0.9) 100%);
  background: -webkit-linear-gradient(top, #333 0, rgba(0,0,0,0.9) 100%);
  background: linear-gradient(top, #333 0, rgba(0,0,0,0.9) 100%);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
#tags-list li {
  width: 45%;
  float: left;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 0 -1px;
  padding: 0.25em 5px;
  background: none;
  text-align: left;
  font-weight: normal;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
#tags-list a {
  display: block;
  color: #fff;
}
#tags-list a:hover,
#tags-list a:focus,
#tags-list a:active {
  color: #eee;
}
#search-demos {
  border-radius: 0.99em;
  padding: 5px 10px 5px 30px;
  border: 0;
  background: #fff url("/media/img/search-icons.png") 10px -94px no-repeat;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75);
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
