{% for username, contributor in document.get_top_contributors().items() %}
{% set profile = contributor.user.get_profile() %}
{% set gravatar_url = profile.gravatar_url(size=40, default='') %}
<div class="contributor media">
  <a class="img" href="{{ profile_url(contributor.user) }}">
      <img src="{{ gravatar_url }}" alt="" />
  </a>
  <div class="body">
    <p><a href="{{ profile_url(contributor.user) }}">{{ username }}</a> has made {{ contributor.revisions }} revisions.</p>
  </div>
</div>
{% endfor %}
