{% from "wiki/includes/document_macros.html" import build_document_crumbs, get_document_quick_links, get_document_buttons, get_document_subnav, get_approvals_html, document_watch with context %}

{% if document.parent %}
  {# If there is a parent doc, use it for translating. #}
  {% set translate_url = url('wiki.select_locale', document_path=document.parent.full_path) %}
{% else %}
  {% set translate_url = url('wiki.select_locale', document_path=document.full_path, locale=document.locale) %}
{% endif %}
{% if fallback_reason == 'no_translation' %}
  {% set help_link = url('wiki.translate', document_path=document.full_path, locale=document.locale)|urlparams(tolocale=request.locale) %}
{% elif fallback_reason == 'translation_not_approved' %}
  {% set help_link = url('wiki.translate', document_path=document.parent.full_path, locale=document.parent.locale)|urlparams(tolocale=request.locale) %}
{% endif %}

{# get attachments and tags ready for use #}
{% set tags = document.tags.all() %}
{% set attachments = document.attachments.all() %}
{% set num_attachments = attachments|length %}
{% set is_logged_in = request.user.is_authenticated() %}
{% set disabled_class = ('disabled' if not is_logged_in else '') %}
{% set disabled_attr = ('title="%s"' % _('Please log in to use this feature.') if not is_logged_in else '') %}

{% if not document.is_template %}
  {% set quick_links_section_id = 'Quick_Links' %}
  {% set quick_links_html = document.rendered_html|section_extract(quick_links_section_id) %}
{% endif %}

{% set zone_stack = document.find_zone_stack() %}
{% set is_zone = zone_stack|length %}
{% set is_zone_root = is_zone and zone_stack[0].document == document %}
{% set zone_subnav_section_id = 'Subnav' %}
{% set zone_subnav_html = document|zone_section_extract(zone_subnav_section_id) %}

{% set current_revision = document.current_revision %}
{% if (user.is_authenticated() and current_revision and document.allows_revision_by(user)) and (current_revision.needs_technical_review() or current_revision.needs_editorial_review()) %}
  {% set approvals_html = get_approvals_html(document, request.user) %}
{% endif %}

{% set show_left = zone_subnav_html or quick_links_html or approvals_html %}
{% set show_right = (not is_zone_root and (toc_html or tags|length or num_attachments)) %}

{% set content_class = 'column-all' %}
{% if show_left and show_right %}
  {% set content_class = 'column-half' %}
{% elif show_left or show_right %}
  {% set content_class = 'column-main' %}
{% endif %}

{% if is_zone %}
  {% if is_zone_root %}
    <div class="zone-landing-header"><div class="center">
      <!-- edit, settings buttons -->
      {{ get_document_buttons(document) }}
      
      <!-- crumbs -->
      {{ build_document_crumbs(document) }}

      <h1>{{ document.title }}</h1>

      <div class="column-container zone-landing-header-preview">
        <div class="column-strip">
          <div class="zone-landing-header-preview-base">
            {% if zone_subnav_html %}
              <!-- zone subnav -->
              {{ get_document_subnav(zone_subnav_html) }}
            {% endif %}

            {% if quick_links_html %}
              <!-- quick links -->
              {{ get_document_quick_links(quick_links_html) }}
            {% endif %}
          </div>
          <div class="zone-landing-header-spacing">&nbsp;</div>
        </div>
        <div class="column-5 masthead-text"><p>{{ document|selector_content_find('.summary') }}</p></div>
      </div>

      <div class="zone-image"></div>
    </div></div>
  {% elif zone_stack|length %}
    <div class="zone-article-header"><div class="center">
      <!-- zone title -->
      <div class="zone-title"><a href="{{ zone_stack[0].document.get_absolute_url() }}">{{ zone_stack[0].document.title }}</a></div>
      <!-- zone image -->
      <div class="zone-image"></div>
    </div></div>
  {% endif %}

{% endif %}

<div class="wiki-main-content"><div class="center">

  {% if not is_zone_root %}
  <div class="article-meta">
    <!-- action buttons -->
    {{ get_document_buttons(document) }}

    <!-- crumbs -->
    {{ build_document_crumbs(document) }}
  </div>

  <!-- heading -->
  <div class="document-head{% if from_search %} from-search{% endif %}">
    {% if from_search %}
      <a href="" class="from-search-previous only-icon"><i class="icon-chevron-left"></i></a>
      <a href="" class="from-search-navigate"><span class="from-search-navigate-up"><i class="icon-double-angle-up"></i></span><span class="from-search-navigate-down"><i class="icon-double-angle-down"></i></span></a>
      <div class="from-search-toc hidden">
        <ol>
          <li><a href="">Blah blah blah</a></li>
          <li><a href="">Blah blah blah Blah blah blah Blah blah blah Blah blah blah</a></li>
          <li><a href="">Blah blah blah</a></li>
          <li><a href="">Blah blah blah</a></li>
          <li><a href="" class="current">Blah blah blah</a></li>
          <li><a href="">Blah blah blah</a></li>
          <li><a href="">Blah blah blah</a></li>
        </ol>
      </div>
      <a href="" class="from-search-next only-icon"><i class="icon-chevron-right"></i></a>
    {% endif %}

    <h1>{{ document.title }}</h1>

    {% if redirected_from %}
    <div class="redirected-from" id="redirected-from">
      <p>{{ _('Redirected from <a href="{href}">{title}</a>')|fe(href=redirected_from.get_absolute_url()|urlparams(redirect='no'), title=redirected_from.title) }}</p>
    </div>
    {% endif %}
    
  </div>
  {% endif %}

  <!-- start the main content container -->
    <div id="wiki-column-container" class="{% if show_right %}wiki-right-present{% else %}wiki-right-closed wiki-right-none{% endif %} {% if show_left %}wiki-left-present{% else %}wiki-left-closed wiki-left-none{% endif %}">

      {% if show_left and not is_zone_root %}
      <!-- additional controls row; hidden unless needed -->
      <div id="wiki-controls" class="column-container column-container-reverse">
        <div class="column-strip">
          <!-- Show TOC "show" link -->
          &nbsp;
        </div>
        <div class="column-half">
          &nbsp;
        </div>
        <div class="column-strip quick-links hidden">
          <a href="#show-quick-links" class="title smaller" id="show-quick-links"><i class="icon-caret-down"></i>{{ _('Show Sidebar') }}</a>
        </div>
      </div>
      {% endif %}

      <!-- content row with three strips -->
      <div class="column-container column-container-reverse">

        {% if show_right %}
          <!-- TOC, approvals, etc -->
          <div class="column-strip wiki-column" id="wiki-right">
          {% if toc_html %}
          <!-- table of contents -->
          <div id="toc" class="toc toggleable">
            <a href="#toc" class="title toggler" data-open-icon="icon-plus" data-closed-icon="icon-minus">{{ _('In This Article') }}<i></i></a>
            <ol class="toggle-container">
              {{ toc_html|safe }}
            </ol>
          </div>
          {% endif %}

          {% if tags|length %}
          <!-- tags if present -->
          <div class="tag-attach-list tags">
            <i class="icon-tags"></i>
            <ul class="tag-list">{% for tag in tags %}<li><a href="{{url('wiki.tag', tag.name)}}">{{ tag.name }}</a></li>{% endfor %}</ul>
          </div>
          {% endif %}

          {% if num_attachments %}
          <!-- attachment list, if present -->
          <div class="tag-attach-list attachments">
            <i class="icon-paper-clip"></i>
            <a href="#page-attachments">{{ _('%s Attachment%s' % (num_attachments, 's' if num_attachments > 1 else '')) }}</a>
          </div>
          {% endif %}
          </div>
        {% endif %}

        <!-- just the article content -->
        {% if not document.is_template %}
          {% set document_html_safe = document_html|section_hide(zone_subnav_section_id, quick_links_section_id)|safe %}
        {% else %}
          {% set document_html_safe = document_html|safe %}
        {% endif %}

        <!-- center: main article content -->
        <div id="wiki-content" class="{{ content_class }} wiki-column text-content">

          {% if kumascript_errors %}
            {% include 'wiki/includes/kumascript_errors.html' %}
          {% endif %}

          <!-- just the article content -->
          <article id="wikiArticle">
            {% if not fallback_reason %}
              {% if not document_html %}
                {{ _("This article doesn't have any content yet.") }}
              {% elif document.is_template %}
                <pre class="brush: js">{{ document_html }}</pre>
              {% else %}
                {{ document_html_safe }}
              {% endif %}
            {% elif fallback_reason == 'no_translation' %}
              {{ document_html_safe }}
            {% elif fallback_reason == 'translation_not_approved' %}
              {{ document.parent.html|safe }}
            {% else %}
              {{ _("This article doesn't have approved content yet.") }}
            {% endif %}
          </article>
          
          {% if not is_zone_root %}
            <!-- attachments list -->
            {% if num_attachments %}
              {% include 'wiki/includes/attachment_list.html' %}
            {% endif %}
          
            <!-- contributors -->
            <div class="wiki-block contributors">
              <p>
                {% trans contributors=user_list(contributors) %}
                  <strong>Contributors to this page:</strong> {{ contributors }}
                {% endtrans %}
                {% if current_revision.creator %}
                  <br />
                  {{ _('Last updated by:') }}  
                  <a href="{{ url('devmo.views.profile_view', username=current_revision.creator) }}">{{ current_revision.creator }}</a>, 
                  {{ datetimeformat(current_revision.created, format='datetime') }}
                {% endif %}
              </p>
            </div>
          {% endif %}
        </div>

        {% if show_left %}
          <!-- quick links and zone subnav strip -->
          <div id="wiki-left" class="column-strip wiki-column">
          
          {% if not is_zone_root %}
            
            <a href="#quick-links" class="title smaller" id="quick-links-toggle"><i class="icon-caret-up"></i>{{ _('Hide Sidebar') }}</a>
            
            {% if zone_subnav_html %}
              <!-- zone subnav -->
              {{ get_document_subnav(zone_subnav_html) }}
            {% endif %}
            
            {% if quick_links_html %}
              <!-- quick links -->
              {{ get_document_quick_links(quick_links_html) }}
            {% endif %}
            
            <!-- approvals -->
            {% if approvals_html %}
              {{ approvals_html }}
            {% endif %}
            
          {% endif %}
            
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div> <!-- ends "main-content" -->
