{% macro document_watch(document, user) -%}
  {% if user.is_authenticated() and document %}
    <li class="page-watch">
      {% if document.is_watched_by(user) %}
        <form action="{{ url('wiki.document_unwatch', document.slug) }}" method="post">
          {{ csrf() }}
          <button type="submit" class="link-btn" /><i class='icon-eye-closed'></i>{{ _('Stop article emails') }}</button>
        </form>
      {% else %}
        <form action="{{ url('wiki.document_watch', document.full_path) }}" method="post">
          {{ csrf() }}
          <button type="submit" class="link-btn" /><i class='icon-eye-open'></i>{{ _('Email me article changes') }}</button>
        </form>
      {% endif %}
    </li>
  {% endif %}
{%- endmacro %}
