{% from "wiki/includes/document_macros.html" import document_watch with context %}

{% if document.parent %}
  {# If there is a parent doc, use it for translating. #}
  {% set translate_url = url('wiki.select_locale', document_path=document.parent.full_path) %}
{% else %}
  {% set translate_url = url('wiki.select_locale', document_path=document.full_path, locale=document.locale) %}
{% endif %}
{% if fallback_reason == 'no_translation' %}
  {% set help_link = url('wiki.translate', document_path=document.full_path, locale=document.locale)|urlparams(tolocale=request.locale) %}
{% elif fallback_reason == 'translation_not_approved' %}
  {% set help_link = url('wiki.translate', document_path=document.parent.full_path, locale=document.parent.locale)|urlparams(tolocale=request.locale) %}
{% endif %}

{# get attachments and tags ready for use #}
{% set tags = document.tags.all() %}
{% set attachments = document.attachments.all() %}
{% set num_attachments = attachments|length %}
{% set is_logged_in = request.user.is_authenticated() %}
{% set disabled_class = ('disabled' if not is_logged_in else '') %}
{% set disabled_attr = ('title="%s"' % _('Please log in to use this feature.') if not is_logged_in else '') %}

{% set show_left = (request.user.is_authenticated() and document.current_revision and document.allows_revision_by(request.user) and (document.current_revision.needs_technical_review() or document.current_revision.needs_editorial_review())) %}
{% set show_right = (toc_html or tags|length or num_attachments) %}
{% set content_class = '' %}
{% if show_left and show_right %}
  {% set content_class = 'column-half' %}
{% elif show_left or show_right %}
  {% set content_class = 'column-main' %}
{% endif %}

<!-- action buttons -->
<ul class="page-buttons"><li><a href="{{ url('wiki.edit_document', document.full_path, locale=document.locale) }}" class="button {{ disabled_class }}" {{ disabled_attr }}>{{ _('Edit Page') }}<i class="icon-pencil"></i></a></li>{% if user.is_authenticated() and document %}<li class="page-watch">
      {% if document.is_watched_by(user) %}
        <form action="{{ url('wiki.document_unwatch', document.slug) }}" method="post">
          {{ csrf() }}
          <button type="submit">{{ _('Unsubscribe') }}<i class="icon-eye-close"></i></button>
        </form>
      {% else %}
        <form action="{{ url('wiki.document_watch', document.full_path) }}" method="post">
          {{ csrf() }}
          <button type="submit">{{ _('Subscribe') }}<i class="icon-eye-open"></i></button>
        </form>
      {% endif %}
    </li>{% endif %}<li style="position:relative;"><a href="javascript:;" id="settings-menu" class="button only-icon" {{ disabled_attr }}><span>{{ _('Settings') }}</span><i class="icon-cog"></i></a>

      <div class="submenu">
        <!-- this page -->
        <div class="submenu-column">
          <div class="title">{{ _('This Page') }}</div>
          <ul>
            <li class="page-print"><a href="#" onclick="return window.print();"  title="{{ _('Print page') }}">{{ _('Print this page') }}</a></li>
              <li><a href="{{ url('wiki.document_revisions', document.full_path) }}">{{_('History')}}</a></li>
              {% if not document.is_template %}
                <li><a href="{{ url('wiki.new_document') }}?parent={{ document.id }}">{{ _('New sub-page') }}</a></li>
                <li><a href="{{ url('wiki.new_document') }}?clone={{ document.id }}">{{ _('Clone this page') }}</a></li>
              {% endif %}
              {% if waffle.flag('page_move') %}
                <li><a href="{{ url('wiki.move', document.slug, locale=document.locale) }}">{{ _('Move this page') }}</a></li>
              {% endif %}
              {% if user.is_superuser %}
                <li><a href="{{ url('admin:wiki_document_change', document.id) }}">{{ _('View in Admin') }}</a></li>
              {% endif %}

              {% set policy_links = build_policy_admin_links(request.user, document) %}
              {% if policy_links['change_one'] %}
                <li><a target="_blank" href="{{ policy_links['change_one'] }}">{{ _('Manage access policy') }}</a></li>
              {% elif policy_links['change_list'] %}
                <li><a target="_blank" href="{{ policy_links['change_list'] }}">{{ _('Manage access policies') }}</a></li>
              {% elif policy_links['add'] %}
                <li><a target="_blank" href="{{ policy_links['add'] }}">{{ _('Add access policy') }}</a></li>
              {% endif %}

              {% set zone_links = document_zone_management_links(request.user, document) %}
              {% if zone_links['change'] %}
                <li><a target="_blank" href="{{ zone_links['change'] }}">{{ _('Manage content zone') }}</a></li>
              {% endif %}
              {% if zone_links['add'] %}
                <li><a target="_blank" href="{{ zone_links['add'] }}">{{ _('Convert to content zone') }}</a></li>
              {% endif %}
          </ul>
        </div><div class="submenu-column">
          <div class="title">{{ _('Languages') }}</div>
          <ul id="translations">
              {% for translation in document.other_translations %}
                <li><a rel="internal" href="{{ url('wiki.document', translation.full_path, locale=translation.locale) }}" title="{{ translation.title }}">{{ translation.language }}</a></li>
              {% endfor %}

              {% if document.is_localizable %}
                <li><a href="{{ translate_url }}">{{ _('Add translation') }}</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
  </li></ul>

<!-- crumbs -->
<nav class="crumbs" role="navigation"><ol>
  <li><a href="/{{ request.locale }}/docs">MDN</a><i class="icon-chevron-right"></i></li>
  {% for doc in document.parents %}
    <li class="crumb"><a href="{{ url('wiki.document', doc.full_path) }}">{{ doc.title }}</a><i class="icon-chevron-right"></i></li>
  {% endfor %}
  <li class="crumb">{{ document.title }}</li>
</ol></nav>

<!-- heading -->
<div class="document-head{% if from_search %} from-search{% endif %}">
  {% if from_search %}
    <a href="" class="from-search-previous only-icon"><i class="icon-chevron-left"></i></a>
    <a href="" class="from-search-navigate"><span class="from-search-navigate-up"><i class="icon-double-angle-up"></i></span><span class="from-search-navigate-down"><i class="icon-double-angle-down"></i></span></a>
    <div class="from-search-toc hidden">
      <ol>
        <li><a href="">Blah blah blah</a></li>
        <li><a href="">Blah blah blah Blah blah blah Blah blah blah Blah blah blah</a></li>
        <li><a href="">Blah blah blah</a></li>
        <li><a href="">Blah blah blah</a></li>
        <li>Blah blah blah</li>
        <li><a href="">Blah blah blah</a></li>
        <li><a href="">Blah blah blah</a></li>
      </ol>
    </div>
    <a href="" class="from-search-next only-icon"><i class="icon-chevron-right"></i></a>
  {% endif %}
  <h1>{{ document.title }}</h1>

  {% if redirected_from %}
  <div class="redirected-from" id="redirected-from">
    <p>{{ _('Redirected from <a href="{href}">{title}</a>')|fe(href=redirected_from.get_absolute_url()|urlparams(redirect='no'), title=redirected_from.title) }}</p>
  </div>
  {% endif %}
</div>

<!-- start the main content container -->
<div id="wiki-column-container">

  {% if show_left or show_right %}
  <!-- additional controls row; hidden unless needed -->
  <div id="wiki-controls" class="column-container column-container-reverse">
    <div class="column-strip">
      <!-- Show TOC "show" link -->
      &nbsp;
    </div>
    <div class="column-half">
      &nbsp;
    </div>
    <div class="column-strip quick-links hidden">
      <a href="#show-quick-links" class="title smaller" id="show-quick-links"><i class="icon-caret-down"></i>{{ _('Show QuickLinks') }}</a>
    </div>
  </div>
  {% endif %}

  <!-- content row with three strips -->
  <div class="column-container column-container-reverse">

    {% if show_right %}
      <!-- TOC, approvals, etc -->
      <div class="column-strip wiki-column" id="wiki-right">
      {% if toc_html %}
      <!-- table of contents -->
      <div id="toc" class="toc toggleable">
        <a href="#toc" class="title toggler">{{ _('In This Article') }}<i></i></a>
        <ol class="toggle-container">
          {{ toc_html|safe }}
        </ol>
      </div>
      {% endif %}

      {% if tags|length %}
      <!-- tags if present -->
      <div class="tag-attach-list tags">
        <i class="icon-tags"></i>
        <ul class="tag-list">{% for tag in tags %}<li><a href="{{url('wiki.tag', tag.name)}}">{{ tag.name }}</a></li>{% endfor %}</ul>
      </div>
      {% endif %}

        {% if num_attachments %}
        <!-- attachment list, if present -->
        <div class="tag-attach-list attachments">
          <i class="icon-paper-clip"></i>
          <a href="#page-attachments">{{ _('%s Attachment%s' % (num_attachments, 's' if num_attachments > 1 else '')) }}</a>
        </div>
        {% endif %}
      </div>
    {% endif %}

    <!-- center: main article content -->
    <div id="wiki-content" class="{{ content_class }} wiki-column text-content">

      {% if kumascript_errors %}
        {% include 'wiki/includes/kumascript_errors.html' %}
      {% endif %}

      {% if seo_summary %}
        <div class="summary">
          <p>{{ seo_summary }}</p>
        </div>
      {% endif %}

      <!-- just the article content -->
      <article>
        {% if not fallback_reason %}
          {% if not document_html %}
            {{ _("This article doesn't have any content yet.") }}
          {% elif document.is_template %}
            <pre class="brush: js">{{ document_html }}</pre>
          {% else %}
            {{ document_html|safe }}
          {% endif %}
        {% elif fallback_reason == 'no_translation' %}
          {{ document_html|safe }}
        {% elif fallback_reason == 'translation_not_approved' %}
          {{ document.parent.html|safe }}
        {% else %}
          {{ _("This article doesn't have approved content yet.") }}
        {% endif %}
      </article>

      <!-- attachments list -->
      {% if num_attachments %}
        {% include 'wiki/includes/attachment_list.html' %}
      {% endif %}

      <!-- contributors -->
      <div class="wiki-block">
      {% trans contributors=user_list(contributors) %}
        <strong>Contributors to this page:</strong> {{ contributors }}
      {% endtrans %}
      </div>
    </div>

    {% if show_left %}
      <!-- quick links strip -->
      <div id="wiki-left" class="column-strip wiki-column">
        {#
        <!-- quick links -->
        <div class="quick-links" id="quick-links">
          <a href="#quick-links" class="title" id="quick-links-toggle"><i class="icon-caret-up"></i>{{ _('Hide QuickLinks') }}</a>
          <ol>
            <li class="toggleable closed"><a href="" class="toggler"><i class="icon-caret-up"></i>Application Cache API</a>
              <ol class="toggle-container">
                <li><a href="">Sub link</a></li>
                <li><a href="">Sub link</a></li>
                <li><a href="">Sub link</a></li>
              </ol>
            </li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
          </ol>
        </div>
        #}

        <!-- approvals -->
        {% if request.user.is_authenticated() and document.current_revision and document.allows_revision_by(request.user) %}
          {% if document.current_revision.needs_technical_review() or document.current_revision.needs_editorial_review() %}
          <section class="page-meta reviews">
            <p>{{ _('The following reviews have been requested:') }}</p>

            <form method="post" action="{{ url('wiki.quick_review', document.full_path) }}">
              {{ csrf() }}
              <ul>
              {% if document.current_revision.needs_technical_review() %}
                <li>
                  <input type="checkbox" value="approve_technical" id="id_approve_technical" name="approve_technical">
                  <label for="id_approve_technical">{{ _('Technical') }}</label>
                </li>
              {% endif %}
              {% if document.current_revision.needs_editorial_review() %}
                <li>
                  <input type="checkbox" value="approve_editorial" id="id_approve_editorial" name="approve_editorial">
                  <label for="id_approve_editorial">{{ _('Editorial') }}</label>
                </li>
              {% endif %}
              </ul>

              <button type="submit">{{ _('Submit Review') }}</button>
            </form>
          </section>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
