{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

  {% if not document.has_voted(request) %}
    <div id="helpful-vote">
      <form class="helpful" action="{{ url('wiki.document_vote', document_slug=document.slug) }}" method="post">
        {{ csrf() }}
        <p>
          {{ _('Was this article helpful?') }}
          <input type="submit" class="btn" name="helpful" value="{{ _('Yes') }}" />
          <input type="submit" class="btn" name="not-helpful" value="{{ _('No') }}" />
          <img class="wait" src="{{ settings.MEDIA_URL }}img/customercare/spinner.gif" alt="{{ _('Please wait...') }}" />
        </p>
      </form>
    </div>
  {% endif %}
