<!-- include syntax highlighting scripts -->
{% if waffle.flag('prism_highlighter') %}

  <link rel="stylesheet" href="{{ MEDIA_URL }}prism/prism.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}prism/plugins/line-highlight/prism-line-highlight.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}prism/plugins/ie8/prism-ie8.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}prism-mdn-plugins/line-numbering/prism-line-numbering.css" type="text/css" />

  <script type="text/javascript" src="{{ MEDIA_URL }}prism/prism.js" data-manual></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}prism/plugins/line-highlight/prism-line-highlight.js" data-manual></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}prism/plugins/ie8/prism-ie8.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}prism-mdn-plugins/line-numbering/prism-line-numbering.js"></script>
  <script type="text/javascript">
  (function($) {
    // Fudge a few languages
    var languages = Prism.languages;
    languages.xml = languages.xul = languages.html = languages.markup;
    languages.js = languages.json = languages.javascript;
    languages.cpp = languages.clike;

    // Hacks to make this work in IE8 :(
    if (!('forEach' in Array.prototype)) {
        patchIE8ForPrism();
    }
    else {
        // Capable browsers get syntax highlighting because
        // querySelectorAll isn't easily patchable
        var script = document.createElement('script');
        script.src = '/media/prism/plugins/line-highlight/prism-line-highlight.js';
        document.body.appendChild(script);
    }

    // Treat and highlight PRE elements!
    $('pre').each(function() {
        var $pre = $(this),
            defaultBrush = 'html',
            klass = $.trim($pre.attr('class')),
            // Split on ';' to accommodate for old line numbering
            semiSplit = klass.split(';'),
            klassParts = semiSplit[0].split(':');

        // Style all as HTML initially
        $pre.addClass('language-' + defaultBrush);
        
        // Format PRE content for Prism highlighting
        if(klassParts[0] == 'brush') {
            var brush = $.trim(klassParts[1].toLowerCase());
            $pre.html('<code class="language-' + (languages[brush] ? brush : defaultBrush) + '">' + $.trim($pre.html()) + '</code>');
        }

        // Accommodate for line-highlighting
        // highlight:[8,9,10,11,17,18,19,20]
        if(semiSplit.length > 1) {
            console.log('semiSplit ', semiSplit.length)
            var lines = semiSplit[1].match(/\[(.*)\]/);
            console.log(lines)
            if(lines && lines.length > 1) {
                console.log(lines[1])
                $pre.attr('data-line', lines[1]);
            }
        }
    });

    // Highlight elements now that they've been treated
    Prism.highlightAll();

    // Patch for IE8 so that Prism works
    function patchIE8ForPrism() {

        // Add Array map
        Array.prototype.map = function(callback, thisArg) {
            var T, A, k, O = Object(this), len = O.length >>> 0;
            if (thisArg) {
              T = thisArg;
            }
            A = new Array(len);
            k = 0;
            while(k < len) {
              var kValue, mappedValue;
              if (k in O) {
                kValue = O[ k ];
                mappedValue = callback.call(T, kValue, k, O);
                A[ k ] = mappedValue;
              }
              k++;
            }
            return A;
        };

        // Add forEach map
        Array.prototype.forEach = function(action, that) {
            for (var i = 0, n = this.length; i < n; i++) {
                if (i in this) {
                    action.call(that, this[i], i, this);
                }
            }
        };
    }
  })(jQuery);
  </script>
{% else %}
  
  <link rel="stylesheet" href="{{ MEDIA_URL }}syntaxhighlighter/styles/shCore.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}syntaxhighlighter/styles/shThemeDefault.css" type="text/css" />

  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushBash.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushCpp.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushCss.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushJava.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushPhp.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushXml.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushPlain.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}syntaxhighlighter/scripts/shBrushPython.js"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function() {
        $('pre').each(function() {
            var $this = $(this),
                newText = $this.text().replace(/<span class="nowiki">(.*)<\/span>/g, '$1');
            $this.text(newText);
        });
        SyntaxHighlighter.defaults.toolbar = false;
        SyntaxHighlighter.defaults['auto-links'] = false;
        SyntaxHighlighter.all();
      });
    })(jQuery);
  </script>
{% endif %}