{% if not discard_href %}
  {% if document %}
    {% set discard_href = url('wiki.document', document.full_path) %}
  {% else %}
    {% set discard_href = url('wiki.new_document') %}
  {% endif %}
{% endif %}

<ul id="page-buttons"
    data-new-page-href="{{ url('wiki.new_document') }}"
    data-new-page-label="{{ _('New Page') }}"
    data-new-page-msg="{{ _('Discard changes and create a new document?') }}">{% if document %}<li><iframe id="save-and-edit-target" name="save-and-edit-target"></iframe><button type="submit" id="btn-save-and-edit" class="button positive"><span>{{ _('Save and Keep Editing') }}</span><i aria-hidden="true" class="icon-edit"></i></button></li>{% endif %}<li><button type="submit" id="btn-save" class="button positive">{{ _('Save Changes') }}<i aria-hidden="true" class="icon-save"></i></button></li><li><button type="button" id="btn-preview" class="btn-preview button" data-preview-url="{{ url('wiki.preview') }}">{{ _('Preview Changes') }}<i aria-hidden="true" class="icon-play-circle"></i></button></li><li><a href="{{ discard_href }}" id="btn-discard" class="button negative">{{ _('Discard Changes') }}<i aria-hidden="true" class="icon-undo"></i></a></li>
</ul>
