{# vim: set ts=2 et sts=2 sw=2: #}
<ul id="page-buttons">
    <li><button type="submit" id="btn-save" class="btn-save">{{ _('Save Changes') }}</button></li>
  <li><button type="button" id="btn-preview" class="btn-preview" data-preview-url="{{ url('wiki.preview') }}">{{ _('Preview Changes') }}</button></li>
{% if document %}
    {% set discard_href = url('wiki.document', document.slug) %}
{% else %}
    {% set discard_href = url('wiki.new_document') %}
{% endif %}
  <li><a href="{{ discard_href }}" id="btn-discard" class="btn-discard">{{ _('Discard Changes') }}</a></li>
</ul>
