{% if not discard_href %}
  {% if document %}
    {% set discard_href = url('wiki.document', document.full_path) %}
  {% else %}
    {% set discard_href = url('wiki.new_document') %}
  {% endif %}
{% endif %}

<ul class="page-buttons">
  {% if document %}
  <li>
    <button type="submit" class="button positive btn-save-and-edit"><span>{{ _('Save and Keep Editing') }}</span><i aria-hidden="true" class="icon-edit"></i></button>
  </li>
  {% endif %}
  <li>
    <button type="submit" class="button positive btn-save">{{ _('Save Changes') }}<i aria-hidden="true" class="icon-save"></i></button>
  </li>
  <li>
    <button type="button" class="btn-preview" data-preview-url="{{ url('wiki.preview') }}">{{ _('Preview Changes') }}<i aria-hidden="true" class="icon-play-circle"></i></button>
  </li>
  <li>
    <a href="{{ discard_href }}" class="button negative btn-discard">{{ _('Discard Changes') }}<i aria-hidden="true" class="icon-undo"></i></a>
  </li>
</ul>
