{# vim: set ts=2 et sts=2 sw=2: #}
{% macro document_tabs(document, parent, user, active, settings) -%}
  {% if not parent %}
    {% set parent = document %}
  {% endif %}
  <nav id="doc-tabs">
    <ul>
      <li{% if active == 'article' %} class="active"{% endif %}>
        {% if active == 'article' or not document %}
          <span>{{ _('Article') }}</span>
        {% else %}
          <a href="{{ url('wiki.document', document.slug) }}">{{ _('Article') }}</a>
        {% endif %}
      </li>
      {% if document %}
        <li{% if active == 'discussion' %} class="active"{% endif %}>
          {% if active == 'discussion' %}
            <span>{{ _('Discussion') }}</span>
          {% else %}
            <a href="{{ url('wiki.discuss.threads', document.slug) }}">{{ _('Discussion') }}</a>
          {% endif %}
        </li>
      {% endif %}
      {% if user.is_authenticated() and document %}
        {% if document.allows_revision_by(user) or document.allows_editing_by(user) %}
          <li class="edit{% if active == 'edit' %} active{% endif %}">
            {% if active == 'edit' %}
              <span>{{ _('Edit Article') }}</span>
            {% else %}
              <a href="{{ url('wiki.edit_document', document.slug) }}">{{ _('Edit Article') }}</a>
            {% endif %}
          </li>
        {% endif %}
        {% if document.is_localizable %}
          <li{% if active == 'localize' %} class="active"{% endif %}>
            {% if active == 'localize' %}
              <span>{{ _('Translate Article') }}</span>
            {% else %}
              <a href="{{ url('wiki.select_locale', document.slug) }}">{{ _('Translate Article') }}</a>
            {% endif %}
          </li>
        {% endif %}
        <li{% if active == 'history' %} class="active"{% endif %}>
          <a href="{% if document %}{{ url('wiki.document_revisions', document.slug) }}{% else %}{{ url('wiki.document_revisions', parent.slug, locale=settings.WIKI_DEFAULT_LANGUAGE) }}{% endif %}">{{ _('Show History') }}</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{%- endmacro %}

{% macro for_contributors(user) -%}
  {% if user.is_authenticated() %}
    <section id="for-contributors" class="sd-module">
      <h1>{{ _('For Contributors') }}</h1>
      <ul>
        <li><a href="{{ url('dashboards.contributors') }}">{{ _('Contributor Home Page') }}</a></li>
        <li><a href="{{ url('dashboards.localization') }}">{{ _('Localization Dashboard') }}</a></li>
        <li><a href="{{ url('gallery.home') }}">{{ _('Media Gallery') }}</a></li>
        <li><a href="{{ url('wiki.document', 'Creating Articles') }}">{{ _('Creating Articles') }}</a></li>
        <li><a href="{{ url('wiki.document', 'Helping in the Forum') }}">{{ _('Helping in the Forum') }}</a></li>
        <li><a href="{{ url('wiki.document', 'Helping in Live Chat') }}">{{ _('Helping in Live Chat') }}</a></li>
      </ul>
    </section>
  {% endif %}
{%- endmacro %}

{% macro document_notifications(document, user) -%}
  {% if user.is_authenticated() %}
    <div id="doc-watch">
      {% if is_watching(document, user) %}
        <form action="{{ url('wiki.document_unwatch', document.slug) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="submit" value="{{ _('Unsubscribe from edit notifications') }}" />
        </form>
      {% else %}
        <form action="{{ url('wiki.document_watch', document.slug) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="submit" value="{{ _('Subscribe to edit notifications') }}" />
        </form>
      {% endif %}
    </div>
  {% endif %}
{%- endmacro %}

{% macro quick_links(active=0) -%}
  <nav id="quick-links">
    <ul>
      <li class="home {{ 'active' if active == 1 }}">
        <a href="{{ url('home') }}">{{ _('Firefox Help Home') }}</a>
      </li>
      <li class="aaq {{ 'active' if active == 2 }}">
        <a href="{{ url('wiki.document', 'ask') }}">{{ _('Ask a Question') }}</a>
      </li>
    </ul>
  </nav>
{%- endmacro %}
