<div>{# Dummy wrapper so modal doesn't get shown by details/summary code #}
  <div id="submit-modal" class="kbox" title="{{ _('Submit Your Changes') }}" data-target="#btn-submit" data-modal="true">
    <p>
      {% trans %}You rock! We'll send an email to let you know if your changes get approved. You
      can follow the discussion about this article by clicking the Discussion tab.{% endtrans %}
    </p>
    <div class="comment">
      <label for="id_comment">{{ _('Briefly describe your changes:') }}</label>
      {{ revision_form.comment|safe }}
    </div>
    <div class="notifications">
      <label>
        <input type="checkbox" name="notify-future-changes" value="Yes" />
        {{ _('Notify me of any future changes to this page') }}
      </label>
    </div>
    <input type="submit" value="{{ _('Submit') }}">
    <a class="kbox-cancel" href="#cancel">{{ _('Cancel') }}</a>
  </div>
</div>
