{# vim: set ts=2 et sts=2 sw=2: #}
<section id="support-for">
  <h1>{{ _("Help with:") }}</h1>
  <div>
    <select id="os" data-oses="{{ oses_json }}" class="enable-if-js" disabled="disabled">
      {% for label, options in oses %}
        {% for _, name, slug in options %}
          <option value="{{ slug }}" data-dependency="{{ label[1] }}">{{ name }}</option>
        {% endfor %}
      {% endfor %}
    </select>
  </div>
  <div>
    <select id="browser" data-browsers="{{ browsers_json }}" data-version-groups="{{ version_group_json }}" class="enable-if-js" disabled="disabled">
      {% for label, options in browsers %}
        <optgroup label="{{ label[0] }}">
          {% for option in options if option.show_in_ui %}
            <option value="{{ option.slug }}" data-dependency="{{ label[1] }}">{{ option.name }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
  </div>
</section>
