/* Set min height for crumbs and page buttons to avoid jump, when buttons are sticky */
.article-meta{
    min-height: 41px;
}

#edit-document {
    #article-head {
        position: relative;
    }
}
