article {
    position: relative;

    a {
        text-decoration: none;

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }

        /* 404 link */
        &.new {
            color: #900;
        }
    }
}
