/* kumascript errors block at the top of an article */
#kumascript-errors {
    ul {
        list-style-type: none;
        padding-left: 0 !important;
    }
}

.kumascript-error-details {
    padding: $grid-spacing 0;
}
