@require '../../includes/vars';

/* Background */
.section-demos {
  background: #00101b url("/media/img/demos/bg-demostudio.jpg?v=2") center top no-repeat;
  min-width: 960px;
}

.section-demos #content-main {
  margin: 20px -20px 40px;
  padding: 20px 20px 10px;
  background-color: #c0c4c8;
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.25);

  @media $media-query-small-mobile {
    margin: 20px 0;
    padding: 20px 0 10px;
  }
}

.popup.section-demos #content-main {
    box-shadow: none;
    margin: 0;
}


#demostudio.detail {
  background: #00101b url("/media/img/demos/bg-demodetail.jpg?v=2") center top no-repeat;
}

#demostudio.detail #content-main {
  background: transparent;
  padding: 0 20px;
  box-shadow: none;

  @media $media-query-small-mobile {
    padding: 0;
  }
}

#demostudio.landing {
  background: #00101b url("/media/img/demos/bg-demolanding.jpg?v=2") center top no-repeat;

  @media $media-query-mobile {
    background-image: url("/media/img/demos/bg-demolanding-low.jpg?v=2");
  }
}


#demostudio.landing #content-main {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}
