@require '../../includes/vars';

/* edit/remove/hide buttons on demo detail page */
#demo-manage {
    margin-bottom: $grid-spacing;

    @media $media-query-mobile {
        display: none;
    }
}

#demo-manage li {
  font-size: 1.142em;
  display: inline;
  margin: 0 4px 0 0;
}
#demo-manage form {
  display: inline;
  margin-left: -3px;
}
#demo-manage button {
  padding: 0;
  background: transparent none;
  box-shadow: none;
  border: 0;
}
#demo-manage button span {
  margin: 0;
  white-space: nowrap;
}
#demo-manage .button {
  font-size: 1em;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
#demo-manage .button:hover,
#demo-manage .button:focus,
#demo-manage .button:active {
  background-color: #ae4935;
}
#demo-manage .button strong {
  font-weight: normal;
}
#demo-manage .edit {
  background-color: $button-background;
  color: $button-color;

  &:hover,
  &:focus,
  &:active {
        background-color: $button-background;
        color: $button-color;
    }
}

#demo-manage .remove {
  background-color: #ea3b28;
  color: #fff;
}
#demo-manage .remove:hover,
#demo-manage .remove:focus,
#demo-manage .remove:active,
#demo-manage button:hover .remove,
#demo-manage button:focus .remove {
  background-color: #ea3b28;
  color: #fff;
  text-decoration: underline;
}
