@require '../../includes/vars';
@require '../../includes/mixins';

/* Demo Galleries */
#page-head {
  clear: both;
  margin: 0 0 20px;
}
#page-head:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
#page-head h1,
#page-head h2,
#page-head li {
  margin: 0 0 0.25em;
}
#page-head p,
#page-head ul,
#page-head ol {
  margin: 0 0 0.5em;
}
#page-head .main,
#page-head .author,
#page-head .learn {
  min-height: 90px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
#page-head .main {
  vendorize(box-sizing, border-box);
  min-height: 150px;
  padding: 30px 140px 30px 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#page-head .page-title {
  color: #861215;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#page-head .page-title img {
  position: absolute;
  right: -15px;
  top: 0;
}
#page-head .learn {
  padding: 18px;
}
#page-head .learn ul {
  list-style: disc;
  margin: 0 0 0 10px;
  text-transform: uppercase;
}
#page-head .learn h2 {
  margin: -10px -10px 15px;
  border-radius: 4px;
  padding: 0.75em 10px;
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  background-image: none;
  background: #000;
  background: -moz-linear-gradient(top, #333 0, #000 100%);
  background: -webkit-linear-gradient(top, #333 0, #000 100%);
  background: linear-gradient(top, #333 0, #000 100%);

  @media $media-query-mobile {
    margin-top: -30px;
    margin-left: -18px;
    margin-right: -18px;
    position: relative;
    z-index: 1;
  }

}
#page-head .author {
  padding: 30px 160px;
  position: relative;
}
#page-head .author .avatar {
  left: 30px;
  top: 30px;
  background: #fff;
  padding: 5px;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}
#page-head .author .edit {
  width: 140px;
  position: absolute;
  right: 30px;
  top: 30px;
  text-align: right;
}
#page-head .author .edit .button {
  color: #fff;
}
