/* Gallery Foot */
.gallery-foot {
  margin: 20px 0;
  padding: 0.5em 20px;
  clear: both;
  background: #e4e4d9;
  background: rgba(198,198,175,0.3);
  font-size: 0.857em;
}
.gallery-foot:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.gallery-foot .showing {
  float: left;
  width: 15%;
  margin: 0;
}
.gallery-foot .feed {
  float: right;
  width: 15%;
  text-align: right;
  margin: 0;
}
.gallery-foot .feed a {
  padding-left: 20px;
  background: url("/media/img/icons-links.png") 0 -349px no-repeat;
}
.gallery-foot .paging {
  text-align: center;
  float: left;
  width: 69.8%;
  margin: 0 auto;
}
.gallery-foot .paging li {
  display: inline;
  padding-left: 12px;
  margin-left: 8px;
  background: none;
  border-left: 1px solid #666;
}
.gallery-foot .paging li:first-child {
  border: 0;
}
.gallery-foot li.prev {
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}
.gallery-foot .paging a {
  background: url("/media/img/paging-arrows.png") no-repeat;
}
.gallery-foot .paging li.prev {
  border-right: 1px solid #666;
  padding-right: 13px;
  margin-right: 10px;
}
.gallery-foot .paging li.prev a {
  padding-left: 13px;
  background-position: 0 -97px;
}
.gallery-foot .paging li.prev a:hover,
#gallery-foot .paging li.prev a:focus,
#gallery-foot .paging li.prev a:active {
  background-position: 0 -147px;
}
.gallery-foot .paging li.next a {
  padding-right: 13px;
  background-position: 100% 4px;
}
.gallery-foot .paging li.next a:hover,
#gallery-foot .paging li.next a:focus,
#gallery-foot .paging li.next a:active {
  background-position: 100% -46px;
}
.gallery-foot .paging li.first a {
  display: inline-block;
  width: 20px;
  margin-right: -8px;
  text-indent: -999em;
  background-position: 100% -297px;
}
.gallery-foot .paging li.first a:hover,
.paging li.first a:focus,
.paging li.first a:active {
  background-position: 100% -347px;
}
.gallery-foot .paging li.last a {
  display: inline-block;
  width: 20px;
  margin-left: -8px;
  text-indent: -999em;
  background-position: 0 -197px;
}
.gallery-foot .paging li.last a:hover,
.paging li.last a:focus,
.paging li.last a:active {
  background-position: 0 -247px;
}
.section-demos .gallery-foot {
  padding: 10px 15px;
  padding: 8px 20px;
  margin: -3px auto 0;
  color: #fff;
  background: #000;
  background: -moz-linear-gradient(top, #333 0, #000 100%);
  background: -webkit-linear-gradient(top, #333 0, #000 100%);
  background: linear-gradient(top, #333 0, #000 100%);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.section-demos .gallery-foot .paging a {
  color: #fff;
  text-transform: uppercase;
  background-image: url("/media/img/demos/paging-arrows.png");
  background-repeat: no-repeat;
}
.section-demos .gallery-foot .paging a:hover,
.section-demos .gallery-foot .paging a:focus,
.section-demos .gallery-foot .paging a:active {
  color: #f1ed0f;
}
.section-demos .gallery-foot .feed a {
  color: #fff;
  background: url("/media/img/icons-welcome.png") 0 -499px no-repeat;
}