/* Gallery Head */
.gallery-head {
  clear: both;
  position: relative;
  z-index: 11;
}
.gallery-head:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.gallery-head .count {
  float: left;
}
.gallery-head .count .button {
  font-size: 0.636em;
  margin-left: 15px;
  position: relative;
  top: -2px;
}
.gallery-head .sort {
  float: right;
  font-size: 0.786em;
  margin: 0.5em 0 0;
}
.gallery-head .sort li {
  display: inline;
  padding: 0;
  margin: 0 0 0 20px;
  background: none;
}
.section-demos .gallery-head {
  margin: 0 0 20px;
  border: 0;
  padding: 8px 20px;
  color: #fff;
  background: #000;
  background: -moz-linear-gradient(top, #333 0, #000 100%);
  background: -webkit-linear-gradient(top, #333 0, #000 100%);
  background: linear-gradient(top, #333 0, #000 100%);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.section-demos .gallery-head .count {
  padding-left: 40px;
  margin: 0 20px -3px 0;
  background: url("/media/img/demos/icn-demoreel.png") 0 0 no-repeat;
  font: normal 22px/1.2 "Bebas Neue", "League Gothic", "Arial Narrow", sans-serif;
  letter-spacing: 2px;
}
.section-demos .gallery-head .sort {
  margin: 0.35em 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-demos .gallery-head .sort a {
  color: #fff;
  padding-bottom: 6px;
}
.section-demos .gallery-head .sort a:hover,
.section-demos .gallery-head .sort a:focus,
.section-demos .gallery-head .sort a:active {
  color: #f1ed0f;
  background: url("/media/img/demos/sort-arrow.png") center bottom no-repeat;
}
.section-demos .gallery-head .sort strong {
  font-weight: normal;
  color: #f1ed0f;
  padding-bottom: 6px;
  background: url("/media/img/demos/sort-arrow.png") center bottom no-repeat;
}