@require '../../includes/vars';

/* Header */
#demos-head {
  position: relative;
  padding: 40px 0 0 260px;
  min-height: 40px;

  @media $media-query-small-mobile {
    padding: 0;
  }
}
.landing #demos-head {
  padding: 40px 240px 0 360px;
}
#demos-head h1 {
  position: absolute;
  left: 0;
  top: 20px;
  width: 230px;
  height: 54px;
  text-indent: -999em;
  overflow: hidden;
  background: url("/media/img/demos/logo-demostudio-lt.png") 0 0 no-repeat;

  @media $media-query-small-mobile {
    position: static;
  }
}
.landing #demos-head h1 {
  left: 100px;
}
#demos-head h1 a {
  display: block;
  height: 54px;
}
.demo-buttons {
  position: relative;
  z-index: 30;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.demo-buttons li {
  float: left;
  position: relative;
  margin: 0 0 10px 10px;
  font-size: 11px;
  text-transform: uppercase;
}
main .demo-buttons .button {
  position: relative;
  z-index: 35;
  font-family: inherit;
  font-size: 1em;
  letter-spacing: 0.5px;
  padding: 0.5em 14px;
}
.demo-buttons .submit b {
  display: none;
}
