/* for module-style boxes in the main content */
.modules {
  clear: both;
  overflow: hidden;
}
.modules .module {
  width: 275px;
  float: left;
  margin-right: 20px;
}
#content .module.notes ul {
  font-size: 0.785em;
}
#content .module.notes li {
  margin: 0 0 10px;
  padding: 0 0 10px;
  background: none;
  border-bottom: 1px dotted #b9b6a7;
}
#content .module.notes li:last-child {
  padding: 0;
  border: 0;
  margin: 0;
}
#flag-confirm label {
  display: block;
}
#flag-confirm textarea {
  display: block;
  width: 500px;
  height: 8em;
}
#flag-confirm .submit {
  margin: 1em 0 0;
}
#flag-confirm .submit button {
  font-size: 1.142em;
}
#nav-toolbar {
  font-size: 0.785em;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.25);
  padding: 0;
  border-top: 1px solid #cbc8b9;
  border-bottom: 1px solid #f8f8f6;
  background: #f6f6f1 url("/media/img/bg-content.png") fixed;
}
#nav-toolbar>div {
  background: #e4e4d9;
  background: rgba(198,198,175,0.35);
}
#nav-toolbar .crumbs {
  margin: 0;
}
#nav-toolbar a:link,
#nav-toolbar a:visited {
  color: #6d6d67;
}
#nav-toolbar a:hover,
#nav-toolbar a:focus,
#nav-toolbar a:active {
  color: #25a;
}
#nav-toolbar a.disabled:hover,
#nav-toolbar a.disabled:focus,
#nav-toolbar a.disabled:active {
  color: #6d6d67;
  cursor: default;
}
#nav-toolbar .crumbs {
  float: left;
}
#nav-toolbar .crumbs ol {
  margin: 0;
  padding: 0.6em 0 0.7em;
  list-style: none;
}
#nav-toolbar .crumbs li {
  display: inline;
  padding-left: 13px;
  margin-left: 6px;
  background: url("/media/img/wiki/nav-arrows.png") -15px -698px no-repeat;
}
#nav-toolbar .crumbs li.first,
#nav-toolbar .crumbs li.second {
  display: none;
}
#nav-toolbar .crumbs li.first.last {
  display: inline;
}
#nav-toolbar .crumbs li.crumb-one {
  padding-left: 0;
  margin-left: 0;
  background: none;
}
#nav-toolbar .crumbs li a {
  text-decoration: underline;
}
html[dir="rtl"] #nav-toolbar .crumbs {
  float: right;
}
html[dir="rtl"] #nav-toolbar .crumbs li {
  padding-left: 13px;
  margin-left: 6px;
  background-position: 0 -798px;
}
html[dir="rtl"] #nav-toolbar .crumbs li.crumb-one {
  background: url("/media/img/wiki/nav-arrows.png") 0 -798px no-repeat;
}
html[dir="rtl"] #nav-toolbar .crumbs li:last-child {
  background: none;
}

