/* Next and Prev demos */
#demos-head .paging {
  width: 260px;
  float: right;
  text-transform: uppercase;
  font-size: 0.857em;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.6);

  @media $media-query-small-mobile {
    float:none;
    width: auto;
  }

}
#demos-head .paging a {
  display: block;
  color: #fff;
  background: url("/media/img/demos/demobox-icons.png?v=2") no-repeat;
}
#demos-head .paging .prev {
  width: 45%;
  float: left;
  border: 0;
}
#demos-head .paging .prev a {
  padding: 7px 0 7px 35px;
  background-position: 0 -3px;
}
#demos-head .paging .next {
  width: 45%;
  float: right;
  text-align: right;
}
#demos-head .paging .next a {
  padding: 7px 35px 7px 0;
  background-position: right -154px;
}
