/* Search and Browse by Tech */
#search-browse {
  text-align: center;
  padding: $grid-spacing 0;
  margin: 0 0 60px;

  #demo-tags {
      position: relative;
  }
}
#demo-tags .button {
  font-size: 1.2em;
  position: relative;
  z-index: 11;
  text-align: center;
}
#search-browse b {
  color: #fff;
  font: normal 24px "Milk", serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  display: inline-block;
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/* Spacing and sizing for the widgets in the #search-browse element (the search
   box and the "Browse by technology" dropdown) */
#search-browse {
    /* Widget containers */
    .demo-search, #demo-tags {
        width: 45%;
    }

    /* Widgets */
    $button-mobile-width = 70%;
    #search-demos, #demo-tags .button, #tags-list {
        width: 40%;

        @media $media-query-tablet {
            width: $button-mobile-width;
        }
    }

    /* The other "Browse by..." buttons, which should have the same width at
       mobile sizes as the "Browse by technology" button. */
    .demo-mobile-list a {
        width: $button-mobile-width;
    }
}
#search-browse .demo-search {
    float: left;
    text-align: right;
}
#search-browse #demo-tags, #tags-list {
    float: right;
    text-align: left;
}
#search-browse #tags-list {
    @media $media-query-small-mobile {
        width: 100%;
    }
}
