/* Search and Browse by Tech */
#search-browse {
  background: url("/media/img/demos/bg-darts.png") center center no-repeat;
  text-align: center;
  padding: 1em 15%;
  margin: 0 0 60px;
}
#search-browse .demo-search {
  width: 45%;
  float: left;
}
#search-browse #demo-tags {
  width: 45%;
  float: right;
  position: relative;
}
#demo-tags .button {
  font-size: 1.2em;
  position: relative;
  z-index: 11;
}
#search-browse b {
  color: #fff;
  font: normal 24px "Milk", serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
