#demo-sub {
}
#demo-sub .module {
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  border: 0;
}
#demo-sub .mod-title a {
  color: #fff;
}
#demo-sub .module .gallery li {
  padding: 0;
  background: none;
}
#demo-sub .module .gallery img {
  width: 80px;
}
#demo-sub .module .gallery a:hover img {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
#demo-report {
  color: #fff;
  padding: 20px;
}
#demo-report h3 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#demo-report ul li {
  list-style: disc;
  text-transform: uppercase;
  font-size: 0.857em;
  background: none;
  padding: 0;
  margin: 0 0 0.25em;
}
#source .download,
#source .browse {
  text-transform: uppercase;
  border-bottom: 1px solid #999;
  margin: 0 0 1em;
  padding: 0 0 1em;
}
#source .download a,
#source .browse a {
  display: block;
  padding-left: 50px;
  min-height: 35px;
  background: url("/media/img/demos/download-icons.png") no-repeat;
}
#source .download a {
  background-position: 0 0;
}
#source .download a:hover,
#source .download a:focus,
#source .download a:active {
  background-position: 0 -100px;
}
#source .browse a {
  background-position: 0 -200px;
}
#source .browse a:hover,
#source .browse a:focus,
#source .browse a:active {
  background-position: 0 -300px;
}
#source .note {
  color: #666;
  font-weight: normal;
  font-size: 0.857em;
  display: block;
}
#source a:hover .note,
#source a:focus .note,
#source a:active .note {
  color: #333;
}
#source .license {
  font-size: 0.857em;
  text-transform: uppercase;
  color: #666;
  padding-left: 50px;
  min-height: 40px;
  margin: 0;
  background: url("/media/img/demos/download-icons.png") 0 100px no-repeat;
}
#source .apache {
  background-position: 0 -400px;
}
#source .bsd {
  background-position: 0 -500px;
}
#source .gpl {
  background-position: 0 -600px;
}
#source .mpl {
  background-position: 0 -700px;
}
#source .publicdomain {
  background-position: 0 -800px;
}
