@require '../../includes/vars';
@require '../../includes/mixins';
@require '../../base/fonts/milk';

html {
    background: url('/media/img/bg-content.png') repeat fixed 0% 0% #f6f6f1;
}

/* open auth login header */
.oauth-login-options span {
    color: #fff;
}

/* demos page */
.section-demos {
    background: #c0c4c8;
    min-width: 0;

    use-white-logo();

    main {
        background: transparent;
    }

    &:not(.devderby) {
        override-main-nav-color(#fff);

        #main-header {

            .search-wrap {
                background-color: rgba(255, 255, 255, 0.2);

                &, input, .search-trigger {
                    color: #fff !important;
                }
            }
        }
    }

    /* dev derby landing - legacy offsets */
    &.devderby.landing {

        main {
            .center {
                max-width: 980px; /* bandaid to keep the page looking good in the redesign */
            }
        }

        .main, .sub {
            float: left;
        }

        .main {
            @extend $column-main;
        }

        .sub {
            @extend $column-strip;
        }

        #challenge-prizes {
            padding: 0;
        }
    }

    /* remove ugly button styles */
    .button, button {
        &, &:link, &:visited {
            color: #fff;
        }
        box-shadow: none;
    }

    .gallery-head {
        position: relative;
        z-index: 11;
    }
}

/* allow demo blocks for flow freely with site width */
.gallery {
    .demo {
        display: inline-block;
        vertical-align: text-top;
        float: none;
        margin: 20px 20px 0 0;
    }
}

#demostudio.landing, #demostudio.detail {
    background-position: center 0px;
}


/* Adjustments to demo home for mobile widths */
@media $media-query-tablet {

    #demos-head .demo-buttons {
        display: none;
    }

    .landing #demos-head {
        padding: 0;

        h1 {
            position: static;
            margin: 0 auto;
        }
    }

    #demo-main .demo-details {
        top: 20px;
        bottom: auto;
    }

}

@media $media-query-mobile {

    #demostudio main > .center {
        padding-top: 0;
    }

    #demo-prev, #demo-next {
        display: none;
    }

}

@media $media-query-small-mobile {

    #featured-demos .nav-slide .prev {
        left: 20px;
    }

    #featured-demos .nav-slide .next {
        right: 20px;
    }

    .landing #demo-main {
        width: auto;
        height: auto;
        position: relative;
        left: auto;
        margin-left: 0;
        padding: 11px 0 0;
    }

    .landing #demo-main .demo-details {
        left: 20px;
        width: auto;
    }

    .landing #demo-main .preview img {
        max-width: 100%;
        height: auto;
    }

    .landing #demo-main .preview {
        width: auto;
        height: auto;
    }

    .landing #search-browse #demo-tags {
        float: none;
        width: auto;
    }

    .landing #search-browse .demo-search {
        width: auto;
    }

    .landing #featured-demos {
        height: auto;
        margin-bottom: 20px;
    }
}
