{% extends 'base.html' %}

{% block body_attributes %}id="contribute"{% endblock %}

{% block title %}{{ page_title(_('Contribute')) }}{% endblock %}

{% block site_meta %}
    {{ super() }}
    {% set seo_description = _('Contribute to MDN Web Docs') %}
    {% set social_title = _('Support MDN') %}
    <meta property="og:description" content="{{ seo_description }}">
    <meta name="description" content="{{ seo_description }}">
    <meta name="twitter:description" content="{{ seo_description }}">
    <meta name="twitter:title" content="{{ social_title }}">
    <meta property="og:title" content="{{ social_title }}">
{% endblock %}

{% block document_head %}
    <div class="contribution-page-header payment-confirmation">
        <div class="column-container">
            <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            <div class="column">
                <div class="column-half">
                    <h1 class="highlight highlight-spanned">
                        <span class="highlight-span">{{_('Thank you for supporting MDN.')}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro faq_entry(number, title) %}
    <li class="faq">
        <h3>{{ title }}</h3>
        <span class="faq-number">{{ number }}</span>
        {{ caller() }}
    </li>
{%- endmacro %}

{% block content %}

    <main id="contributions-page" class="contributions-page" role="main">
        <section class="section">
            <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            <div class="index">
                <h2>{{_('FAQs')}}</h2>
            </div>
            <ol id="contribute-faqs" class="faqs clear">
                {% call faq_entry(1, _("Why is MDN asking me for money?")) %}
                    <p>
                        {% trans %}
                            MDN is experimenting with seeking direct support from
                            our users in order to accelerate growing and
                            maintaining our content and platform, with assistance
                            from those who use it.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                            Our user base has grown exponentially in the last few
                            years (with corresponding costs of maintaining the
                            platform) and we have a large list of improvements we’d
                            like to make. While MDN is currently wholly funded by
                            Mozilla, and has been since its inception, we are
                            looking to create a tighter, healthier loop between our
                            audience (you), our content (written for you), and our
                            supporters (also, you, again) that lets us accelerate
                            those improvements.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(2, _("How is my payment handled? Is it secure?")) %}
                    <p>
                        {% trans url="https://stripe.com/" %}
                            All payment information goes through payment processor
                            <a href="{{ url }}">Stripe</a>, and a record of your
                            payment will be stored by Mozilla. Mozilla does not
                            receive or store your credit card number.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(3, _("What data is Mozilla collecting about me?")) %}
                    <p>
                        {% trans url="https://stripe.com/" %}
                            Mozilla will collect and store your name and email,
                            which will be used to send transactional emails (e.g.
                            receipt). Mozilla will not have access to or store your
                            credit card number.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(4, _("What does money go towards?")) %}
                    <p>
                        {% trans url="https://stripe.com/" %}
                            The money collected through MDN (minus processing fees,
                            taxes, etc.) will be reinvested back into MDN. We will
                            publish a monthly report on MDN Web Docs showing what
                            work was completed.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(5, _("If I just donate to the Mozilla Foundation, will that help MDN?")) %}
                    <p>
                        {% trans foundation_url="https://www.mozilla.org/foundation/",
                             tax_faq_url="https://donate.mozilla.org/faq#item_tax_a",
                             corporation_url="https://www.mozilla.org/foundation/moco/" %}
                            The <a href="{{ foundation_url }}">Mozilla Foundation</a>
                            and MDN are separate organizations and programs.
                            Donations to the Mozilla Foundation are
                            <a href="{{tax_faq_url}}">tax-deductible in the U.S.</a>
                            to the fullest extent permitted by law,
                            and go to support Mozilla public and charitable
                            programs in one general fund. MDN is part of
                            <a href="{{ corporation_url }}">Mozilla Corporation</a>
                            and payments to MDN are not used in Mozilla’s
                            charitable programs but are reinvested into MDN’s
                            content, tools, and platform.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(6, _("Is support of MDN tax-deductible?")) %}
                    <p>
                        {% trans %}
                            No. Payments to Mozilla Corporation in support of MDN
                            are not tax deductible in the United States or other
                            countries.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(7, _("What will MDN user funding pay for?")) %}
                    <p>
                        {% trans %}
                            Currently, Mozilla pays for site operations and
                            overhead (including writers and web developers). MDN
                            user payments will fund accelerating current projects
                            or launching new ones, including:
                        {% endtrans %}
                    </p>
                    <ul>
                        <li>{{_('Adding more content, and updating current content')}}</li>
                        <li>{{_('Improving performance of the site')}}</li>
                        <li>{{_('Modernizing the MDN platform')}}</li>
                        <li>{{_('Adding offline access to MDN')}}</li>
                        <li>{{_('Supporting integrations with popular developer tools')}}</li>
                        <li>{{_('More tutorials and guides')}}</li>
                        <li>{{_('Training and webinars')}}</li>
                    </ul>
                {% endcall %}
                {%- call faq_entry(8, _("Why can’t you just open a Crowdsourcing campaign?")) %}
                    <p>
                        {% trans %}
                            Because we aren’t looking for a lump sum. Our goal is
                            to create a broad base of financial support from the
                            people who benefit from the work of MDN.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(9, _("How has MDN been funded to date?")) %}
                    <p>
                        {% trans %}
                            MDN is funded out of the Mozilla Corporation general
                            budget (and has been since it was founded in 2005).
                            Mozilla Corporation intends to continue to financially
                            support MDN into the future, even as we broaden and
                            diversify the sources of MDN funding. We just want to
                            do more things with you and for you!
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(10, _("How does Mozilla make money?")) %}
                    <p>
                        {% trans %}
                            The Mozilla Corporation, which funds MDN, makes money
                            primarily from royalties from search providers on
                            Firefox (such as Google, Amazon, Duck Duck Go, and
                            others).
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans url="https://www.mozilla.org/en-US/foundation/annualreport/2016/" %}
                            Separately, the Mozilla Foundation is a not-for-profit,
                            making its money primarily from donations and royalties
                            from Mozilla Corporation. As a not-for-profit, the
                            Mozilla Foundation reports these revenues publicly
                            every trailing year, as in our most recent
                            <a href="{{ url }}">2016 Mozilla Annual Report</a>.
                        {% endtrans %}
                    </p>
                {% endcall %}
            </ol>
        </section>
        <section class="section">
            <div class="index">
                <h2>{{_('Monthly payments')}}</h2>
            </div>
            <ol id="contribute-monthly-faqs" class="faqs clear">
                {%- call faq_entry(11, _("How do I manage my monthly payment?")) %}
                    <p>
                        {% trans url='mailto:%s' % settings.CONTRIBUTION_SUPPORT_EMAIL + "?Subject=Manage%20monthly%20payment",
                                 manage_subscription_url=url('recurring_payment_management'),
                                 email=settings.CONTRIBUTION_SUPPORT_EMAIL %}
                            If you would like to manage your monthly payment, such as changing
                            your card account details or the amount you pay, please cancel your
                            subscription on the <a href="{{ manage_subscription_url }}">manage monthly
                            subscriptions page</a> and sign up again using the new card details. If
                            you have any questions please contact <a href="{{ url }}">{{ email }}.</a>
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(12, _("How do I apply for a refund or cancel my payment?")) %}
                    <p>
                        {% trans manage_subscription_url=url('recurring_payment_management') %}
                            If you would like to cancel your monthly payment or apply for a refund,
                            you are free to do so at any point. Please cancel your subscription on
                            the <a href="{{ manage_subscription_url }}">manage monthly subscriptions
                            page</a>. If you choose to cancel, we will not charge your payment card
                            for subsequent months.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(13, _("What are the payment terms?")) %}
                    <p>
                        {% trans url=url('payment_terms') %}
                            Please read our <a href="{{ url }}">payment terms</a> for more information.
                        {% endtrans %}
                    </p>
                {% endcall %}
                {%- call faq_entry(14, _("Does deleting my MDN account cancel my subscription?")) %}
                    <p>
                        {% trans %}
                        When you request to delete your account we will also cancel your subscription
                        and not charge you for subsequent months.
                        {% endtrans %}
                    </p>
                {% endcall %}
            </ol>
        </section>
    </main>
{% endblock %}

{% block js %}
  {%- if contribution_enabled %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    {% javascript 'payments' %}
  {%- endif %}
{% endblock %}
