{% extends 'react_base.html' %}

{% block title %}{{ page_title(_('MDN payment terms')) }}{% endblock %}

{% block site_meta %}
    {{ super() }}
    {% set seo_description = _('MDN payment terms') %}
    {% set social_title = _('MDN payment terms') %}
    <meta property="og:description" content="{{ seo_description }}">
    <meta name="description" content="{{ seo_description }}">
    <meta name="twitter:description" content="{{ seo_description }}">
    <meta name="twitter:title" content="{{ social_title }}">
    <meta property="og:title" content="{{ social_title }}">
{% endblock %}

{% block document_head %}
    {{ render_react("SPA", request.LANGUAGE_CODE, request.get_full_path(), True)|safe }}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}{% endblock %}
