{% extends 'base.html' %}

{% block body_attributes %}id="contribute"{% endblock %}

{% block title %}{{ page_title(_('Thank You')) }}{% endblock %}

{% block document_head %}
    <div class="{% if status == 'succeeded' %} contribution-banner {% endif %}align-center">
        <div class="column-container">
            {% if status == 'succeeded' %}
                <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            {% endif %}
            <div class="column">
                {% if status == 'succeeded' %}
                    <h1 class="highlight highlight-spanned">
                        <span class="highlight-span">{{_('Thank you for supporting MDN.')}}</span>
                    </h1>
                    <p class="subtext">
                        {% trans %}
                            We are committed to providing the best source of
                            information about web standards. Your support enables MDN
                            to move even faster as we build more of the content and
                            tools you use every day, and helps us make sure MDN can
                            be available to everyone, everywhere.
                        {% endtrans %}
                    </p>
                    <p class="subtext">{{_('Thank you again,')}}</p>
                    <p class="subtext">{{_('The MDN Team')}}</p>

                    {%- set share_url = 'https://developer.mozilla.org' + url('payments') %}
                    {%- set tweet_phrase = _("I support MDN, and you can too: %(url)s", url=share_url) %}
                    {%- set tweet_text = tweet_phrase|urlencode %}
                    {%- set twitter_cta = _("Share your support for MDN on Twitter") %}
                    {%- set facebook_cta = _("Share your support for MDN on Facebook") -%}

                    <div class="button-tab-group">
                        <a href="https://twitter.com/intent/tweet?text={{ tweet_text }}"
                           class="button" target="_blank" rel="noopener"
                           aria-label="{{ twitter_cta }}">
                            {{ include_svg('includes/icons/social/twitter.svg', twitter_cta) }}
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | urlencode }}"
                           class="button" target="_blank" rel="noopener"
                           aria-label="{{ facebook_cta }}">
                            {{ include_svg('includes/icons/social/facebook.svg', facebook_cta) }}
                        </a>
                    </div>
                {% else %}
                    <h2 class="highlight highlight-spanned">
                        <span class="highlight-span">{{_('Ooops, something went wrong')}}</span>
                    </h2>
                    <p>
                        {% trans mailto='mailto:%s' % settings.CONTRIBUTION_SUPPORT_EMAIL,
                                 email=settings.CONTRIBUTION_SUPPORT_EMAIL %}
                            Please contact <a href="{{ mailto }}">{{ email }}</a>
                            for more information on this problem.
                        {% endtrans %}
                    </p>
                    <p>
                        <a href="{{ url('payments') }}">{{_('Click here to go back')}}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main id="contributions-page" class="contributions-page">
        <section class="section">
            <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            <div class="index">
                <h2>{{_('Feedback')}}</h2>
            </div>
            <div class="faqs clear feedback">
                <form id="faq-feedback" class="faq-feedback">
                    <h3>{{_('Is there anything else you’d like to know more about?')}}</h3>
                    <textarea data-action="Thank you Feedback" placeholder="{{_('Your feedback goes here')}}" name="thank-you-feedback" id="contribution-feedback" cols="30" rows="2"></textarea>
                    <button type="submit"> {{_('Send')}} {% include 'includes/icons/arrows/arrow.svg' %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
  {%- if contribution_enabled %}
    {% javascript 'payments' %}
  {%- endif %}
{% endblock %}
