{% extends 'base.html' %}

{% block body_attributes %}id="contribute"{% endblock %}

{% block title %}{{ page_title(_('Thank You')) }}{% endblock %}

{% block document_head %}
  {# Use user's locale for links #}
  {%- set payments_url = url('payments') %}
  {%- set recurring_payments_url = url('recurring_payment_initial') %}
  {%- set share_url = 'https://developer.mozilla.org' + payments_url %}
  {% translation 'en-US' %}{# Display in English until Q1 2019 #}
    <div class="{% if status == 'succeeded' %}contribution-banner {% else %} align-center {% endif %} payment-confirmation">
        <div class="column-container">
            {% if status == 'succeeded' %}
                <img src="{{ static('img/hero-dino-blank.png') }}" class="backdrop-image" alt="" role="presentation" />
            {% endif %}
            <div class="column">
                {% if status == 'succeeded' %}
                    <div class="column-half">
                        <h1 class="highlight highlight-spanned">
                            <span class="highlight-span">{{_('Thank you for supporting MDN.')}}</span>
                        </h1>
                        <p class="subtext">
                            {% trans %}
                            We are committed to providing the best source of
                            information about web standards. Your support enables MDN
                            to move even faster as we build more of the content and
                            tools you use every day, and helps us make sure MDN can
                            be available to everyone, everywhere.
                            {% endtrans %}
                        </p>
                        <p class="subtext">{{_('Thank you again,')}}</p>
                        <p class="subtext">{{_('The MDN Team')}}</p>
                    </div>

                    {%- set tweet_phrase = _("I support MDN, and you can too: %(url)s", url=share_url) %}
                    {%- set tweet_text = tweet_phrase|urlencode %}
                    {%- set twitter_cta = _("Share your support for MDN on Twitter") %}
                    {%- set facebook_cta = _("Share your support for MDN on Facebook") -%}
                    <div class="column-half align-center">
                        <div class="button-tab-group">
                            <a href="https://twitter.com/intent/tweet?text={{ tweet_text }}"
                            class="button" target="_blank" rel="noopener"
                            aria-label="{{ twitter_cta }}">
                                {{ include_svg('includes/icons/social/twitter.svg', twitter_cta) }}
                            </a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | urlencode }}"
                            class="button" target="_blank" rel="noopener"
                            aria-label="{{ facebook_cta }}">
                                {{ include_svg('includes/icons/social/facebook.svg', facebook_cta) }}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <h2 class="highlight highlight-spanned">
                        <span class="highlight-span">{{_('Ooops, something went wrong')}}</span>
                    </h2>
                    <p>
                        {% trans mailto='mailto:%s' % settings.CONTRIBUTION_SUPPORT_EMAIL,
                                 email=settings.CONTRIBUTION_SUPPORT_EMAIL %}
                            Please contact <a href="{{ mailto }}">{{ email }}</a>
                            for more information on this problem.
                        {% endtrans %}
                    </p>
                    <p>
                        <a href=" {% if recurring_payment_enabled and recurring %}{{ recurring_payments_url }}{% else %}{{ payments_url }}{% endif %}">{{_('Click here to go back')}}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
  {% endtranslation %}
{% endblock %}

{% block content %}
    <main id="contributions-page" class="contributions-page">
        {% if recurring_payment_enabled and recurring %}
            <section class="section">
                <div class="index">
                    <h2>{{_('Useful things')}}</h2>
                </div>
                <div class="faqs clear feedback">
                    <div class="faq-feedback">
                        <div class="sub-section">
                            <h3>{{_('Managing your payments')}}</h3>
                            <p>
                                {% trans url='mailto:%s' % settings.CONTRIBUTION_SUPPORT_EMAIL + "?Subject=Manage%20monthly%20payment",
                                         manage_subscription_url=url('recurring_payment_management'),
                                         email=settings.CONTRIBUTION_SUPPORT_EMAIL %}
                                    If you would like to manage your monthly payment, such as changing
                                    your card account details or the amount you pay, please cancel your
                                    subscription on the <a href="{{ manage_subscription_url }}">manage monthly
                                    subscriptions page</a> and sign up again using the new card details. If
                                    you have any questions please contact <a href="{{ url }}">{{ email }}.</a>
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="sub-section">
                            <h3>{{_('Refunds and canceling your payments')}}</h3>
                            <p>
                                {% trans url="mailto:%s" % settings.CONTRIBUTION_SUPPORT_EMAIL + "?Subject=Manage%20monthly%20payment",
                                         manage_subscription_url=url('recurring_payment_management'),
                                         email=settings.CONTRIBUTION_SUPPORT_EMAIL %}
                                    If you would like to cancel your monthly payment or apply for a refund, you are free to do so at any point.
                                    Please contact <a href="{{ url }}">{{ email }}</a> for a refund. If you choose to cancel, you can do so on
                                    the <a href="{{ manage_subscription_url }}">manage monthly subscriptions</a> page. We will not charge your
                                    payment card for subsequent months.
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="sub-section">
                            <h3>{{_('Payment terms')}}</h3>
                            <p>
                                {% trans url=url('payment_terms') %}
                                    Please read our
                                    <a href="{{ url }}">payment terms</a>
                                    for more information.
                                {% endtrans %}
                            </p>
                        </div>
                        <div>
                            <h3>{{_('FAQ')}}</h3>
                            <p>
                                {% trans url=url('payments') %}
                                    To find out more about why MDN is raising money
                                    through the one time and monthly payment programs,
                                    <a href="{{ url }}">please visit our FAQ</a>.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        <section class="section">
            <!-- TODO: replace with waffle flag/varible -->
            <div class="index">
                <h2>{{_('Feedback')}}</h2>
            </div>
            <div class="faqs clear feedback">
                <form id="faq-feedback" class="faq-feedback">
                    <h3>{{_('Is there anything else you’d like to know more about?')}}</h3>
                    <textarea data-action="Thank you Feedback" placeholder="{{_('Your feedback goes here')}}" name="thank-you-feedback" id="contribution-feedback" cols="30" rows="2"></textarea>
                    <button type="submit"> {{_('Send')}} {% include 'includes/icons/arrows/arrow.svg' %}</button>
                    <span class="feedback-confirmation hidden" aria-hidden="true">{{_('Thank you for submitting your feedback.')}}</span>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
  {%- if contribution_enabled %}
    {% javascript 'payments-confirmation' %}
    {% javascript 'payments' %}
  {%- endif %}
{% endblock %}
