{% extends "socialaccount/base.html" %}

{% block title %}{{ page_title(_("Account Sign In Failure")) }}{% endblock %}

{% block content %}
<h1>{{ _("Account Sign In Failure") }}</h1>

<p>{{ _("An error occurred while attempting to sign in with your account.") }}</p>

{#
    When you're doing local development it really helps to see what the
    error was.
#}
{% if settings.DEBUG %}
  <h3>Auth Error</h3>
  <ul>
      {#
        The 'auth_error' context variable comes from
        allauth.helpers.render_authentication_error() view function.
      #}
      {% for key in auth_error %}
        <li>
            <b>{{ key }}:</b>
            {{ auth_error[key] }}
        </li>
      {% endfor %}
  </ul>
{% endif %}

{% endblock %}
