{% extends "socialaccount/base_signup.html" %}

{% set styles = ('users',) %}
{% set classes = 'register' %}

{% block page_css %}
  {{ super() }}
  {% stylesheet 'signupflow' %}
{% endblock %}

{% set provider = account.get_provider() %}

{% block pageheader %}
{{ render_react("signupflow", request.LANGUAGE_CODE, request.get_full_path(),
                  None, False)|safe }}
{% endblock %}

{% block document_head %}
<div class="titlebar-container">
  <h1>{{ _('Create your MDN profile') }}</h1>
</div>
{% endblock %}

{% block content %}
<main id="content-main" role="main">
  <article id="browser_register" class="readable-line-length center">
    <ol class="auth-service-header">
      {% if provider.name == "GitHub" %}
        <li class="github-auth checked">
          <img src="{{ static('auth/github-auth.svg') }}" width="90px" alt="Github" />
          {{ _('Authorize with Github') }}
        </li>
      {% elif provider.name == "Google" %}
        <li class="google-auth checked">
          <img src="{{ static('auth/google-auth.svg') }}" width="90px" alt="Google" />
          {{ _('Authorize with Google') }}
        </li>
      {% endif %}
      <li class="mdn-profile">
        <img src="{{ static('auth/mdn-auth.svg') }}" width="90px" alt="{{ _('User avatar') }}" />
        {{ _('Create MDN Profile') }}
      </li>
    </ol>

    <p class="lead-in">
      {% trans provider_name=provider.name %}
      Thanks for signing in to MDN with {{ provider_name }}. To finish setting up your
      MDN Web Docs account, please choose a username and email address.
      {% endtrans %}
    </p>

    <form id="social-signup-form" class="social-signup-form" method="post" action="{{ url('socialaccount_signup') }}">
      {{ honeypot_field()|safe }}

      {% if form.errors %}
        {% for error in form.non_field_errors() %}
          <div class="notification error" data-level="error">{{ error }}</div>
        {% endfor %}
      {% endif %}

      {% csrf_token %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <ul>
        <li class="{{ 'error' if form.username.errors }}">
          <fieldset>
            <legend>{{ _('Username') }}</legend>

            {% if form.username.errors %}
              {{ form.username.errors }}
              {% include 'socialaccount/includes/change_username.html' %}
            {% elif matching_user %}
              {% include 'socialaccount/includes/change_username.html' %}
            {% else %}
              <div id="username-static-container" class="username-static">
                {% set provider_username = form.username.value() %}
                <input type="hidden" name="username" value="{{ provider_username }}" />
                {{ provider_username }}
                <button id="change-username" type="button" class="edit-default" aria-label="{{ _('Your’re current username is %s. Change username?'%(provider_username)) }}">{{ _('change username') }}</button>
              </div>
              {% set is_hidden = true %}
              {% include 'socialaccount/includes/change_username.html' %}
            {% endif %}

            <p class="field-explanation">
              {{ _("This will be the name displayed on MDN Web Docs to identify your contributions.") }}
            </p>
          </fieldset>
        </li>

        <li class="email-signup {{ 'error' if form.email.errors or form.other_email.errors }}">
          <fieldset>
            <legend>{{ _('Email Address') }}</legend>
            <ul class="errorlist">
              {% for error in form.email.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>

            {% set primary_email = get_primary_email(email_addresses) %}
            {% if primary_email %}
              <div id="email-static-container" class="email-static">
                <input type="hidden" name="email" value="{{ primary_email }}" />
                {{ primary_email }}
                <button id="change-email" type="button" class="edit-default" aria-label="{{ _('Your’re current email address is %s. Change email address?'%(primary_email)) }}">{{ _('change email address') }}</button>
              </div>
            {% else %}
              <div id="email-static-container" class="email-static">
                <input type="hidden" name="email" value="{{ default_email }}" />
                {{ default_email }}
                <button id="change-email" type="button" class="edit-default" aria-label="{{ _('Your’re current email address is %s. Change email address?'%(default_email)) }}">{{ _('change email address') }}</button>
              </div>
            {% endif %}

            {% if email_addresses|length > 1 %}
              {% include 'socialaccount/includes/email_choices.html' %}
            {% else %}
              {% include 'socialaccount/includes/change_email_address.html' %}
            {% endif %}

            <p class="field-explanation">
              {{ _('This will be the email address MDN Web Docs messages and notifications will be sent to. This will <strong>not</strong> be displayed on MDN Web Docs and will be used in accordance with our <a href="%(privacy_url)s">privacy policy</a>.', privacy_url='//www.mozilla.org/privacy/websites/')|safe }}
            </p>
          </fieldset>
        </li>

        {% if settings.ENABLE_NEWSLETTER_SIGNUP %}
          <li class="newsletter-signup">
            <label for="newsletter-signup">
              <input type="checkbox" id="newsletter-signup" name="newsletter" value="true" />
              {{ _('Get updates on what’s new with MDN to your inbox.') }}
            </label>
          </li>
        {% endif %}

        <li>
          <ul class="errorlist">
            {{ form.terms.errors }}
          </ul>
          <label for="{{ form.terms.id_for_label }}" class="terms-privacy">
            {{ form.terms }} {{ form.terms.label }}
            {% trans terms_url='https://www.mozilla.org/about/legal/terms/mozilla', privacy_url='https://www.mozilla.org/privacy/websites/' %}
            to Mozilla's <a href="{{ terms_url }}">Terms</a> and <a href="{{ privacy_url }}">Privacy Notice</a>.
            {% endtrans %}
          </label>
        </li>

        <li class="submit">
          <button id="create-mdn-account" class="cta primary" type="submit" name="create" data-avatar="{{ account.get_avatar_url() }}">{{ _('Create profile') }}</button>
        </li>
      </ul>

      <p class="account-help">
        {% trans bug_href='https://bugzilla.mozilla.org/enter_bug.cgi?format=__standard__&component=Account%20Help&product=developer.mozilla.org&status_whiteboard=%5Btrouble-logging-in%5D' %}
        Having trouble creating an account? <a href="{{ bug_href }}" rel="external nofollow">Let us help</a>.
        {% endtrans %}
      </p>
    </form>
  </article>
</main>
{% endblock %}

{% block js %}
  {{ super() }}
  {% javascript "user-signup" %}
{% endblock %}
