{% extends "socialaccount/base_signup.html" %}

{% block page_css %}
  {{ super() }}
  {% stylesheet 'signupflow' %}
{% endblock %}

{% block pageheader %}
{{ render_react("signupflow", request.LANGUAGE_CODE, request.get_full_path(),
                  None, False)|safe }}
{% endblock %}

{% block document_head %}
<div class="titlebar-container">
  <h1>{{ _('Create your MDN Web Docs Account') }}</h1>
</div>
{% endblock %}

{% block content %}
<main class="signup-landing" role="main">
    <section class="auth-providers">
        <header>
            <h2>{{ _('Sign In') }}</h2>
        </header>
        {% include "includes/auth-modal-content.html" %}
    </section>
    <section class="benefits">
        <header>
            <h2>{{ _('Benefits of an MDN account') }}</h2>
        </header>
        <ul>
            <li>{{ _('Be the first to try new features coming to MDN') }}</li>
            <li>{{ _('Help contribute to the continued improvement of MDN’s content') }}</li>
        </ul>
    </section>
</main>
{% endblock %}
