{% extends "socialaccount/base.html" %}

{% set title = _('Create your MDN profile to continue') %}

{% set classes = 'register' %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'submission' %}
{% endblock %}

{% set provider = account.get_provider() %}

{% block content %}
<section id="content">
  <div class="wrap">
    <section id="content-main" role="main">
      <article id="browser_register">
          <h1>{{ _('Create your MDN profile to continue') }}</h1>
          {% if matching_accounts.exists() %}
            {% set github_connect_url = provider_login_url('github', process='connect', next=request.session.sociallogin_next_url|default('/')) %}
            {% set persona_login_url = url('account_login') %}
            {% set persona_next_url = github_connect_url %}

            {% if matching_accounts.exists() and provider.id == 'github' %}

            <div class="notification warning" level="warning">
              {% trans count=matching_accounts.count(), persona_login_url=persona_login_url %}
                  A profile already exists with an email address below. Do you already have an MDN profile?
                  <a href="{{ persona_login_url }}">Yes, email me a link so I can use GitHub to sign in</a>
                  {% pluralize %}
                  A profile already exists with one of these email addresses below. Do you already have an MDN profile?
                  <a href="{{ persona_login_url }}">Yes, email me a link so I can use GitHub to sign in</a>
              {% endtrans %}</div>
            {% endif %}

          <form class="submission readable-line-length" method="post" action="{{ url('socialaccount_signup') }}">
              {{ honeypot_field()|safe }}

              <p>{% trans provider_name=provider.name %}
              Thanks for signing in to MDN with {{ provider_name }}. You have
              one more step to join MDN: <strong>create your MDN
              profile</strong>.
              {% endtrans %}<p>

              <p>{% trans %}
              You can access everything on the MDN website even without an MDN
              profile. However, by joining MDN, you'll be able to edit docs and
              have your own profile page.
              {% endtrans %}</p>

              <p>{% if form.email.field.widget.input_type == 'hidden' %}
                  {% trans %}
                  To set up your MDN profile, please <strong>choose a username</strong>.
                  Your username will be displayed on MDN to identify any
                  contributions that you make.
                  {% endtrans %}
              {% else %}
                  {% trans %}
                  To set up your MDN profile, please <strong>choose a username and email address</strong>.
                  Your username will be displayed on MDN to identify any
                  contributions that you make.
                  {% endtrans %}
              {% endif %}
              </p>

              <p>{% trans bug_href='https://bugzilla.mozilla.org/enter_bug.cgi?format=__standard__&component=Account%20Help&product=Mozilla%20Developer%20Network&status_whiteboard=%5Btrouble-logging-in%5D' %}
              If you're <strong>having trouble</strong> signing in or creating
              an MDN profile, <strong><a href="{{ bug_href }}" rel="external">let us know</a></strong>.
              {% endtrans %}</p>

          {% if form.errors %}
            {% for error in form.non_field_errors() %}
              <div class="notification error">{{ error }}</div>
            {% endfor %}
          {% endif %}

          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}


          <fieldset>
            <ul>
              <li class="{{ 'error' if form.username.errors }}">
                <label for="{{ form.username.id_for_label }}" class="outer"><b>{{ form.username.label }}</b></label>
                {% if form.username.errors %}
                  {{ form.username.errors }}
                {% elif matching_user %}
                  <ul class="errorlist">
                    <li>{% trans username=matching_user.username %}Your GitHub username {{ username }} is already taken. Please choose another.{% endtrans %}</li>
                  </ul>
                {% endif %}
                {{ form.username }}
                <p class="field-explanation"><small>{{ _("Please enter the name you'd like to display to other users to identify your contributions.") }}</small></p>
              </li>
              {# The email field is hidden if only one email is provided #}
              {% if form.email.field.widget.input_type == 'hidden' %}
                {{ form.email }}
              {% else %}

                <li class="{{ 'error' if form.email.errors or form.other_email.errors }}">
                  <label for="{{ form.email.id_for_label }}" class="outer"><b>{{ form.email.label }}</b></label>
                  <ul class="errorlist">
                    {% for error in form.email.errors %}
                      <li>
                      {# we have to handle this error message here to have access to the request #}
                      {% if error == form.duplicate_email_error_label %}
                        {% trans persona_login_url=persona_login_url, provider_name=provider.name %}
                        A profile already exists with the selected email address.
                        <a href="{{ persona_login_url }}" class="launch-persona-login" data-next="{{ persona_next_url }}">Connect your {{ provider_name }} account to it.</a>
                        {% endtrans %}
                      {% else %}
                        {{ error }}
                      {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                  <ul class="choices">
                  {% set matching_uids = matching_accounts.values_list('uid', flat=True) %}
                  {% for email_choice in form.email %}
                    {% set id_for_label="%s_%s" % (email_choice.name, loop.index0) %}
                    <li class="{{ 'exists' if email_choice.choice_value in matching_uids }}">
                      {% if email_choice.choice_value == form.other_email_value %}
                        {{ email_choice.tag() }}
                        <label for="{{ id_for_label }}" class="inner other-label">{{ _('Other:') }}</label>
                        {{ form.other_email }}
                        {{ form.other_email.error }}
                      {% else %}
                      <label for="{{ id_for_label }}">
                        {{ email_choice.tag() }}
                        {{ email_choice.choice_label|safe }}
                      </label>
                      {% endif %}
                    </li>
                  {% endfor %}
                  </ul>
                  <p class="field-explanation"><small>
                      {{ _('What email address should we use to send you MDN-related messages and notifications? This address will <strong>not</strong> be displayed on MDN and will be used according to our <a href="%(privacy_url)s">privacy policy</a>.', privacy_url='//www.mozilla.org/privacy/websites/')|safe }}
                  </small></p>
                </li>
              {% endif %}

              {% if form.captcha %}
                <li class="{{ 'error' if form.captcha.errors }}">
                  {% if form.captcha.errors %}
                    {{ form.captcha.errors }}
                  {% endif %}
                  {{ form.captcha }}
                </li>
              {% endif %}

              <li>
                <fieldset class="section">
                  <legend><b>{{ _('Terms and Privacy') }}</b></legend>
                  <ol>

                      <li id="terms-agree>">
                          <ul class="errorlist">
                          {{ form.terms.errors }}
                          </ul>
                      <label for="{{ form.terms.id_for_label }}">
                          {{ form.terms }} {{ form.terms.label }}
                          {% trans terms_url='https://www.mozilla.org/about/legal/terms/mozilla', privacy_url='https://www.mozilla.org/privacy/websites/' %}
                          to Mozilla's <a href="{{ terms_url }}">Terms</a> and <a href="{{ privacy_url }}">Privacy Notice</a>.
                          {% endtrans %}
                      </label>
                      </li>
                  </ol>
                </fieldset>
              </li>

              <li class="submit">
                <button class="positive" type="submit" name="create">{{ _('Create my MDN profile') }}</button>
              </li>
            </ul>
          </fieldset>
        </form>

        {% endif %}

      </article>
    </section>
  </div>
</section>
{% endblock %}

{% block js %}
{{ super() }}
<script>
(function ($) {
    'use strict';

    var $otherLabel = $('.other-label');
    var $otherRadio = $otherLabel.prev();
    $otherLabel.next().on('focus', function() {
      $otherRadio.prop('checked', true);
    });

})(jQuery);
</script>

{% endblock %}
