$callout-icon-width: 90px;
$callout-icon-space: 90px + $grid-spacing;
$callout-arrow-space: 3em; // arrow is text so increases in size, ems will scale too
$callout-min-height: 170px;

$standard-callout-image-width: 129px;
$standard-callout-image-spacing: 129px + 20px;
