$brand-primary: #015fdf;
$brand-primary-200: #3d7e9a;
$brand-primary-300: #3c7e9a;
$brand-primary-500: #ebf4f7;
$brand-primary-600: #f2f9ff;

$neutral-100: #fff;
$neutral-500: #c9c9c9;
$neutral-600: #212121;

$brand-red: #d65752;
$brand-green: #4d9f0c;
$brand-grey: #aeb7c2;

$blue-grey: #dce3e5;
$light-blue-grey: #a1b4ce;
$light-grey: #fdfdfd;

$link-color: $brand-primary-200;
$text-color: #333;
$text-color-inverted: $neutral-100;

$border-color: #585858;
$light-border-color: scale-color($border-color, $lightness: 70%);

$light-thin-border: 1px solid #dce3e5;

$warning-border-color: #ffc543;
$warning-background-color: scale-color($warning-border-color, $lightness: 50%);

$featured-banner-hover-shadow: 2px 2px 5px
    scale-color($brand-primary, $lightness: 70%);
$button-box-shadow: 5px 5px 5px $light-blue-grey;

$banner-button-border-color: #4c89a5;
$banner-button-text-color: #295c77;

$box-shadow-blue: 5px 5px 15px rgba(61, 126, 154, 0.3);
