<div class="author">
  <a href="{{ profile_url(post.creator) }}">
    <img src="{{ profile_avatar(post.creator) }}" height="45" width="45" alt=""/>
  </a>
  <a href="{{ profile_url(post.creator) }}">{{ post.creator }}</a>
  <span class="posts">{{ _('{0} posts')|f(post.creator.wiki_post_set.count()) }}</span>
  <div class="post-actions">
  {% if post.id and (perms.kbforums.edit_post or (post.creator == request.user and not thread.is_locked)) %}
    <a href="{{ url('wiki.discuss.edit_post', document.slug, thread.id, post.id) }}"><img src="{{ MEDIA_URL }}img/forums/edit.png" alt="{{ _('Edit') }}" title="{{ _('Edit') }}"/></a>
  {% endif %}
  {% if post.id and perms.kbforums.delete_post %}
    <a href="{{ url('wiki.discuss.delete_post', document.slug, thread.id, post.id) }}">
      <img src="{{ MEDIA_URL }}img/forums/delete.png" alt="{{ _('Delete') }}" title="{{ _('Delete') }}">
    </a>
  {% endif %}
  </div>
</div>
<div class="content">
  {{ post.content_parsed }}
</div>
<div class="info">
  {{ datetimeformat(post.created, format='longdatetime') }}
  <a href="#post-{{ post.id }}" class="permalink" title="{{ _('Link to this post.') }}">#</a>
  {% if post.id and user.is_authenticated() and not thread.is_locked %}
    <span class="post-action">
      <a href="#thread-reply">{{ _('Reply') }}</a>
    </span>
  {% endif %}
  {% if post.created != post.updated %}
    <span class="post-modified">
      {{ _('Modified by {name} on {datetime}')|fe(name=post.updated_by.username, datetime=datetimeformat(post.updated, format='longdatetime')) }}
    </span>
  {% endif %}
</div>
