@font-face {
    font-family: 'Bebas Neue';
    src: url('/media/fonts/BebasNeue-webfont.eot');
    src: url('/media/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/media/fonts/BebasNeue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
