@font-face {
    font-family: 'compat-icons';
    src:url('/media/fonts/compat-icons.eot?-ehmwve');
    src:url('/media/fonts/compat-icons.eot?#iefix-ehmwve') format('embedded-opentype'),
        url('/media/fonts/compat-icons.woff?-ehmwve') format('woff'),
        url('/media/fonts/compat-icons.ttf?-ehmwve') format('truetype'),
        url('/media/fonts/compat-icons.svg?-ehmwve#compat-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
