@font-face {
    font-family: 'Milk';
    src: url('/media/fonts/ABTSmilk.eot');
    src: url('/media/fonts/ABTSmilk.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/ABTSmilk.woff') format('woff'),
         url('/media/fonts/ABTSmilk.ttf') format('truetype'),
         url('/media/fonts/ABTSmilk.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
