/* Fonts used in Gaia examples */
@font-face {
  font-family: 'MozTT';
  font-weight: 200;
  src: url('/media/fonts/MozTT-light-webfont.eot');
  src: url('/media/fonts/MozTT-light-webfont.eot?#iefix') format('embedded-opentype'), url('/media/fonts/MozTT-light-webfont.woff') format('woff'), url('/media/fonts/MozTT-light-webfont.ttf') format('truetype'), url('/media/fonts/MozTT-light-webfont.svg#mozttlight') format('svg');
}
@font-face {
  font-family: 'MozTT';
  src: url('/media/fonts/MozTT-regular-webfont.eot');
  src: url('/media/fonts/MozTT-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/media/fonts/MozTT-regular-webfont.woff') format('woff'), url('/media/fonts/MozTT-regular-webfont.ttf') format('truetype'), url('/media/fonts/MozTT-regular-webfont.svg#mozttregular') format('svg');
}
@font-face {
  font-family: 'MozTT';
  font-weight: 600;
  src: url('/media/fonts/MozTT-medium-webfont.eot'); src: url('/media/fonts/MozTT-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/media/fonts/MozTT-medium-webfont.woff') format('woff'), url('/media/fonts/MozTT-medium-webfont.ttf') format('truetype'), url('/media/fonts/MozTT-medium-webfont.svg#mozttmedium') format('svg');
}
