@import '../includes/vars';
/*
Styles for Arabic
********************************************************************** */

@font-face {
    font-family: x-locale-heading-primary;
    font-display: 'swap';
    font-weight: normal;
    src: url('#{$path-to-locale-fonts}#{"ar/DroidNaskh-Regular.woff"}') format('woff');
}

@font-face {
    font-family: x-locale-heading-primary;
    font-display: 'swap';
    font-weight: bold;
    src: url('#{$path-to-locale-fonts}#{"ar/DroidNaskh-Bold.woff"}') format('woff');
}

@font-face {
    font-family: x-locale-body;
    font-display: 'swap';
    font-weight: normal;
    src: url('#{$path-to-locale-fonts}#{"ar/DroidNaskh-Regular.woff"}') format('woff');
}

@font-face {
    font-family: x-locale-body;
    font-display: 'swap';
    font-weight: bold;
    src: url('#{$path-to-locale-fonts}#{"ar/DroidNaskh-Bold.woff"}') format('woff');
}

/* Bug 944269 */
/* !important required for locale specific override */
* {
    letter-spacing: normal !important; /* stylelint-disable-line declaration-no-important */
}
