@import '../includes/vars';

/*
Styles for Azerbaijani
********************************************************************** */
/* stylelint-disable value-keyword-case  */


/* Bug 991516 */

@font-face {
    font-family: x-locale-body;
    font-display: 'swap';
    font-weight: normal;
    src: url('#{$path-to-locale-fonts}#{"az/mplus-2c-regular-az-subset.woff"}') format('woff');
}

@font-face {
    font-family: x-locale-body;
    font-display: 'swap';
    font-weight: bold;
    src: url('#{$path-to-locale-fonts}#{"az/mplus-2c-bold-az-subset.woff"}') format('woff');
}

/* stylelint-enable */
