@import '../includes/vars';
/*
Styles for Fulah
********************************************************************** */

/* Bug 776967 */

@font-face {
    font-family: x-locale-body;
    font-display: 'swap';
    font-weight: normal;
    src: url('#{$path-to-locale-fonts}#{"ff/mplus-2c-regular-fulah-subset.woff"}') format('woff');
}
