@import '../includes/vars';

/*
Styles for Tiwanese
********************************************************************** */
/* stylelint-disable value-keyword-case  */

@font-face {
    font-family: x-locale-heading-secondary;
    font-weight: normal;
    src:
        /* OS X */
        local(FZLTXHB--B51-0), /* = Lantinghei TC Extralight */
        /* Windows */
        local('Microsoft JhengHei Light'),
        /* Linux */
        local(DroidSansFallbackFull);
}

@font-face {
    font-family: x-locale-heading-secondary;
    font-weight: bold;
    src:
        /* OS X */
        local(FZLTZHB--B51-0), /* = Lantinghei TC Demibold */
        /* Windows */
        local('Microsoft JhengHei Bold'),
        /* Linux */
        local(DroidSansFallbackFull);
}

/* Bug 973171 */

* {
    /* !important required for locale specific override */
    font-style: normal !important; /* stylelint-disable-line declaration-no-important */
}

/* stylelint-enable */
