@import 'mixin_nav';
/*
Header login link
********************************************************************** */

@media #{$mq-tablet-and-up} {
    .nav-login {
        display: inline-block;
    }
}

@media #{$mq-mobile-and-down} {
    .login {
        @include nav-item();

        .submenu {
            position: relative;
            width: 100%;
            padding: 0;
            border-top: 0;
            box-shadow: none;

            a {
                display: block;
            }
        }
    }

    .login-form {
        display: block;
        margin: $content-vertical-spacing 0;
    }

    .button.logout {
        display: block;
    }

    .login-photo {
        display: none;
    }
}

@media #{$mq-tablet-and-up} {
    .login-name {
        display: none;
    }

    .login {
        @include inline-nav-item();

        > a {
            color: $text-color;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .login-photo {
        border-radius: 50%;
        max-width: 50px;
        max-height: 50px;
        vertical-align: middle;
        overflow: hidden;
    }
}


@media #{$mq-tablet-and-up} {
    .login {
        @include large-inline-nav-item();
    }
}
