/* mobile nav menu items */
@mixin nav-item() {
    border-bottom: 1px solid $text-color;

    > a {
        display: block;
        padding: $content-vertical-spacing 0;

        #{$selector-icon} {
            @include bidi(((float, right, left),));
        }
    }
}

@mixin inline-nav-item() {
    display: inline-block;
    position: relative;
    border: 0;

    > a {
        display: inline-block;
        line-height: $logo-height + ($grid-spacing * 2); // logo height + grid spacing *2
        padding: 0 ($grid-spacing / 2);

        html:not(.no-js) & {
            text-decoration: none;

            #{$selector-icon} {
                display: inline-block;
                float: none;
                margin-left: 5px;
            }
        }

        html[dir='rtl']:not(.no-js) & { // can't use bidi because html tag is in declaration
            #{$selector-icon} {
                margin-right: 5px;
            }
        }

        &:hover,
        &:focus {
            background-color: $grey-light;
            color: $text-color;
        }
    }
}

@mixin large-inline-nav-item() {
    > a {
        padding: 0 10px;
    }
}
