@import '_mixin_nav';
@import '../../../includes/_vars';
@import '_vars_nav';

/*
Main navigation menu
********************************************************************** */

.nav-main {
    display: block;
    position: relative;
    z-index: $main-nav-z;

    @media #{$mq-tablet-and-up} {
        min-height: $logo-height + ($grid-spacing * 2); // logo height + grid spacing *2
    }

    @media #{$mq-small-desktop-and-up} {
        min-height: 0;
        padding-top: 0;

        &:after {
            display: none;
        }
    }
}

html:not(.no-js) .nav-main-item > a {
    color: $text-color;
    text-decoration: none;
}

.expanded {
    .nav-main {
        flex-grow: 2;
        flex-shrink: 2;
    }
}

.nav-main-item {
    @include nav-item();

    @media #{$mq-tablet-and-up} {
        @include inline-nav-item();
    }

    @media #{$mq-small-desktop-and-up} {
        @include large-inline-nav-item();
    }
}
