/*
search items in .main-nav
********************************************************************** */
.nav-main-search {
    display: block; // JS uses this to determine if we're in mobile or not
    position: relative;
    background-color: transparent;

    @media #{$mq-tablet-and-up} {
        position: absolute;
        top: 15px;
        @include bidi((
            (right, $mobile-center-spacing, left, auto),
        ));
        min-width: 100px;
    }

    @media #{$mq-small-desktop-and-up} {
        display: inline-block; // JS uses this to determine if we're in mobile or not
        background-color: $bg-dark;
        position: relative;
        top: 0;
        @include bidi((
            (right, auto, left, auto),
        ));
        vertical-align: top;
    }

    input[type='search'] {
        color: $text-color;
        margin: $content-vertical-spacing auto;
        width: 100%;
        @include bidi(((padding-left, 2.5em, padding-right, 0),));

        @media #{$mq-small-desktop-and-up} {
            background-color: $bg-dark;
            color: #fff;
            @include bidi ((
                (margin-right, 50px, 75px),
                (margin-left, 75px, 50px),
            ));
            border: 0;
            border-bottom: 1px solid #fff;
            border-radius: unset;
            /* not using vendorize because this is specificly for mobile safari */
            -webkit-appearance: none;
            outline: 0;
            @include bidi(((padding-left, 0, padding-right, 0),));
        }

        @media #{$mq-large-desktop-only} {
            width: 335px;
        }

        @media #{$mq-small-desktop-only} {
            @include bidi ((
                (margin-right, 15px, 15px),
                (margin-left, 15px, 15px),
            ));
            width: 255px;
        }
    }
}

.search-trigger {
    $search-icon-size: 24px;
    position: absolute;
    top: 12px;
    @include bidi(((left, 15px, right, auto),));
    z-index: 2;
    svg {
        width: $search-icon-size;
        height: $search-icon-size;
    }

    @media #{$mq-small-desktop-and-up} {
        $lg-search-icon-size: 40px;
        position: absolute;
        top: calc(50% - #{$lg-search-icon-size/2});
        line-height: 1;
        @include bidi((
            (left, 30%, 30%),
            (right, auto, auto),
        ));
        color: #fff;

        svg {
            width: $lg-search-icon-size;
            height: $lg-search-icon-size;
        }
    }

    #{$selector-icon} {
        cursor: pointer;

        @media #{$mq-small-desktop-and-up} {
            @include set-font-size(32px);
        }
    }
}

.close-header-search {
    display: none;
}

@media #{$mq-small-desktop-and-up} {
    .nav-main-search {
        cursor: pointer;
    }

    .search-wrap {
        width: 0;
        overflow: hidden;
        line-height: 48px + ($grid-spacing * 2);
        @include vendorize(transition-property, 'width, opacity');
        @include vendorize(transition-duration, $default-animation-duration);
    }

    .expanded {
        .nav-main-search {
            cursor: default;
        }

        .search-trigger {
            @include bidi((
                (left, 15px, right, auto),
            ));

            @media #{$mq-small-desktop-only} {
                display: none;
            }
        }

        .close-header-search {
            position: absolute;
            top: 20px;
            @include bidi((
                (right, 45px, left, auto),
            ));
            display: inline-block;
            color: #fff;

            @media #{$mq-small-desktop-only} {
                @include bidi((
                    (right, 25px, left, auto),
                ));
            }
        }
    }
}

@media #{$mq-small-desktop-only} {
    .expanded .search-wrap {
        width: 300px;
    }
}

@media #{$mq-large-desktop-only} {
    .expanded .search-wrap {
        width: 450px;
    }
}

html[lang='de'] {
    .nav-main-search {
        min-width: 80px;
    }

    @media #{$mq-small-desktop-only} {
        .expanded .search-wrap {
            width: 280px;
        }
    }
}
