.submenu {
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: $submenu-z;
    top: 100%;
    width: 250px; // fallback, IE & Edge
    padding: 15px;
    border-top: 5px solid $grey-light;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
    background-color: #fff;
    @include bidi((
        (right, 0, left, auto),
        (text-align, left, right),
    ));

    &.submenu-cols-2 {
        width: (250px * 2);
    }

    .submenu-column {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: text-top;
        @include bidi(((padding-right, $grid-spacing, padding-left, 0),));
        width: 250px; // fallback, IE & Edge
    }

    @supports (width: -webkit-max-content) or (width: -moz-max-content) or (width: max-content) {
        &,
        &.submenu-cols-2 {
            @include vendorize-value(width, max-content);
        }

        .submenu-column {
            @include vendorize-value(width, max-content);

            + .submenu-column {
                @include bidi(((padding-left, ($grid-spacing * 2), padding-right, $grid-spacing),));
            }
        }
    }

    .title {
        @include set-heading-font-family;
        @include set-font-size($h4-font-size);
    }

    #{$selector-icon} {
        @include bidi(((margin-left, 5px, margin-right, 0),));
    }

    a {
        display: block;
        padding: 5px 0;
        margin-bottom: 5px;
    }

    .page-buttons & {
        @include bidi((
            (left, auto, right, auto),
            (right, 0, left, auto),
        ));
        border-top: 5px solid $form-border-color;
    }
}

.submenu-close {
    position: absolute;
    top: 0;
    @include bidi(((right, 0, left, auto),));
    z-index: 1; /* raise above links it might over-lap */
}

/* not mobile first because this is an exeption for main-header only and it's
easier to strip off the style for the exeption than to add them only for
everything else */
@media #{$mq-mobile-and-down} {
    .nav-main {
        .submenu {
            position: relative;
            width: 100%;
            padding: 0;
            border-top: 0;
            box-shadow: none;

            a {
                display: block;
            }

            .submenu-column,
            &.submenu-cols-2 {
                width: 100%;

                + .submenu-column {
                    @include bidi(((padding-left, 0, padding-right, 0),));
                }
            }
        }
    }
}


@media #{$mq-large-desktop-and-up} {
    /* Ideally this is hidden on non touch screens. Until we have
    @media pointer we use screen size as a surrogate */
    .submenu-close {
        display: none;
    }
}
