/*
Main header, wraps all components of logo, main, and secondary navigation
********************************************************************** */

#main-header {
    @include clearfix();
    position: relative;
    z-index: $main-header-z;
    border: 5px solid $accent-light;
    border-width: 5px 0 0;
    background-color: #fff;
}

.header-main {
    display: flex;
    flex-direction: column;
    padding: 15px $mobile-center-spacing 0;

    @media #{$mq-tablet-and-up} {
        display: block;
    }

    @media #{$mq-small-desktop-and-up} {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        @include bidi((
            (padding-left, 15px, 0),
            (padding-right, 0, 15px),
        ));
    }
}

.logo {
    position: relative;
    z-index: $logo-z;
    width: 170px;
    height: 30px;
    background: url($logo-sprite-url) 100% 0 no-repeat;
    background-size: 219px auto;
    display: block;
    direction: ltr; // ltr should be set with negative text indent
    text-indent: -9999px;
    overflow: hidden;
    flex-shrink: 1;

    @media #{$mq-tablet-and-up} {
        display: block;
        position: relative;
        height: 48px;
    }

    @media #{$mq-small-desktop-and-up} {
        background-size: 100% auto;
        margin-top: 15px;
        width: 219px;
    }
}
