{{ revisions|paginator }}

{% set show_ips = False %}
{% if waffle.switch('store_revision_ips') and user.is_superuser %}
    {% set show_ips = True %}
{% endif %}
{% if total %}
    <table class="dashboard-table" width="100%">
        <thead>
            <tr>
                <th class="dashboard-revision">Revision</th>
                <th class="dashboard-title">Title</th>
                <th class="dashboard-comment">Comment</th>
                <th class="dashboard-author">Author{% if show_ips %} <button id="show_ips_btn">Toggle IPs</button>{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revisions %}
                {% set previous_id = revision.previous.id %}
                {% set revision_url = revision.document.get_absolute_url() %}
                <tr
                    tabindex="0"
                    class="dashboard-row {% if not previous_id %}dashboard-row-new{% endif %}"
                    data-revision-id="{{ revision.id }}"
                    data-previous-id="{{ previous_id }}"
                    data-view-url="{{ revision_url }}"
                    data-edit-url="{{ url('wiki.edit_document', revision.document.slug, locale=revision.document.locale) }}"
                    data-compare-url="{{ url('wiki.compare_revisions', revision.document.slug, locale=revision.document.locale) }}?from={{ previous_id if previous_id else revision.id }}&to={{ revision.id }}&raw=1"
                    data-revert-url="{{ url('wiki.revert_document', revision.document.slug, revision.id, locale=revision.document.locale) }}"
                    data-history-url="{{ url('wiki.document_revisions', revision.document.slug, locale=revision.document.locale) }}">
                    <td class="dashboard-revision">
                        <a href="{{ url('wiki.revision', revision.document.slug, revision.id) }}">{{ datetimeformat(revision.created, format='datetime') }}</a>
                        <br />
                        <span class="locale">{{ revision.document.locale }}</span>
                        {% if not previous_id %}<span class="new">{{ _('new') }}</span>{% endif %}
                        {% if revision.document.deleted %}<span class="deleted">{{ _('deleted') }}</span>{% endif %}
                    </td>
                    <td class="dashboard-title">
                        <a href="{{ revision_url }}">{{ revision.title }}</a>
                        <span class="dashboard-slug">{{ revision.document.slug }}</span>
                    </td>
                    <td class="dashboard-comment">{{ format_comment(revision) }}</td>
                    <td class="dashboard-author"><a href="{{ revision.creator.get_absolute_url() }}">{{ revision.creator }}</a>
                    {% if show_ips and revision.revisionip_set.all() %}
                    {% set revision_ip = revision.revisionip_set.all()[0].ip %}
                    <span class="revision_ip">
                    <br/>IP: {{ revision_ip }}
                    {% set ban_ip_url = '%s?%s' % (url('admin:core_ipban_add'), 'ip=%s' % revision_ip) %}
                    <br/><a class="dashboard-ban-ip-link" href="{{ ban_ip_url }}" target="_blank">{{ _('Ban IP from Editing') }}</a>
                    </span>
                    {% endif %}
                    {% if request.user.is_superuser and revision.creator.profile.is_banned %}
                        {% set active_ban = revision.creator.profile.active_ban() %}
                        <div class="banned">
                            banned {{ datetimeformat(active_ban.date, format='date') }}
                            by {{ active_ban.by }}
                        </div>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else: %}

    <p>{{ _('There are no revisions matching this filter set.') }}</p>

{% endif %}

{{ revisions|paginator }}
