{{ revisions|paginator }}

{% set show_ips = False %}
{% set col_class = "dashboard-col" %}
{% if waffle.switch('store_revision_ips') and user.is_superuser %}
    {% set show_ips = True %}
    {% set col_class = "dashboard-with-ip-col" %}
{% endif %}
{% if total %}
    <table class="dashboard-table" width="100%">
        <thead>
            <tr>
                <td class="{{ col_class }}">Revision</td>
                <td class="{{ col_class }}">Title</td>
                <td class="{{ col_class }}">Comment</td>
                <td class="{{ col_class }}">Author</td>
                {% if show_ips %}
                <td class="{{ col_class }}">View IP</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for revision in revisions %}

                {% set previous_id = revision.get_previous().id %}
                {% set revision_url = url('wiki.document', revision.document.full_path, locale=revision.document.locale) %}
                <tr
                    tabindex="0"
                    class="dashboard-row {% if not previous_id %}dashboard-row-new{% endif %}"
                    data-revision-id="{{ revision.id }}"
                    data-previous-id="{{ previous_id }}"
                    data-view-url="{{ revision_url }}"
                    data-edit-url="{{ url('wiki.edit_document', revision.document.full_path, locale=revision.document.locale) }}"
                    data-compare-url="{{ url('wiki.compare_revisions', revision.document.full_path, locale=revision.document.locale) }}?from={{ previous_id if previous_id else revision.id }}&to={{ revision.id }}&raw=1"
                    data-revert-url="{{ url('wiki.revert_document', revision.document.full_path, revision.id, locale=revision.document.locale) }}"
                    data-history-url="{{ url('wiki.document_revisions', revision.document.full_path, locale=revision.document.locale) }}">
                    <td class="{{ col_class }}">
                        <a href="{{ url('wiki.revision', revision.document.full_path, revision.id) }}">{{ datetimeformat(revision.created, format='datetime') }}</a>
                        <br />
                        <span class="locale">{{ revision.document.locale }}</span>
                        {% if not previous_id %}<span class="new">{{ _('new') }}</span>{% endif %}
                        {% if revision.document.deleted %}<span class="deleted">{{ _('deleted') }}</span>{% endif %}
                    </td>
                    <td class="{{ col_class }}">
                        <a href="{{ revision_url }}">{{ revision.title }}</a>
                        <span class="dashboard-slug">{{ revision.document.slug }}</span>
                    </td>
                    <td class="{{ col_class }}">{{ format_comment(revision) }}</td>
                    <td class="{{ col_class }}"><a href="{{ revision.creator.get_absolute_url() }}">{{ revision.creator }}</a></td>
                    {% if show_ips %}
                    <td class="{{ col_class }}"><a href="{{ url('admin:wiki_revisionip_changelist') }}?revision={{revision.id}}">{{ _('View in admin') }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else: %}

    <p>{{ _('There are no revisions matching this filter set.') }}</p>

{% endif %}

{{ revisions|paginator }}
