/*
Provides main mixins for use within the MDN theme.
********************************************************************** */

@function -remify($value) {
    $u: unit($value);
    $v: 0;

    @if $u == 'px' {
        $v: $value/$base-font-size * 1rem;
    }
    @else {
        $v: unit($value, u);
    }

    @return $v;
}

@mixin set-font-size($value) {
    font-size: $value; // if this is px it will be the fallback for the rem value, otherwise it will be the only declaration

    @if ($value != 'inherit') {
        // make sure we're working with px otherwise remify will just spit out what we spat out before
        $u: unit($value);
        @if $u == 'px' {
            font-size: -remify($value);
        }
    }
}

@mixin set-smaller-font-size() {
    @include set-font-size($smaller-font-size);
}
@mixin set-larger-font-size() {
    @include set-font-size($base-bump-font-size);
}

@mixin set-heading-font-family() {
    font-family: $heading-font-family;
}

@mixin set-site-font-family() {
    font-family: $site-font-family;
    letter-spacing: -remify(-.05px);
}

/*
Accessibility helpers
====================================================================== */
/* When changing the values of this mixin, remember to also update the
   relevant test at __tests__/sass/mdn/_a11y-helpers-mixins-test.scss */
@mixin focus-visible() {
    box-shadow: 1px 1px 5px #2196f3, -1px -1px 5px #2196f3;
}


/*
Vendor prefixes
====================================================================== */

// vendorizes a propery based on it's value in the _prefixes lookup table
@mixin vendorize($property, $value) {

    // might be a quoted because it has commas in it, example: transition-property
    @if (type-of($value) == 'string') {
        $value: unquote($value);
    }

    @if (map-has-key($prefix-properties, $property)) {
        @each $prefix in map-get($prefix-properties, $property) {
            #{$prefix + $property}: $value;
        }
        // warn if we're vendorizing something unneccisarily
        @if (map-get($prefix-properties, $property)  == '') {
            @warn 'Warning in vendorize() ' + $property + ' does not need to be vendorized anymore.';
        }
    }
    @else {
        // warn if we're prefixing something unrecognized.
        @warn 'Warning in vendorize(): ' + $property + ' not listed in prefixes map';
        // provide unprefixed value as fallback
        #{$property}: $value;
    }
}

// vendorizes a value indescriminately by adding the prefixes defined by VENDOR-PREFIXES
@mixin vendorize-value($property, $value, $more: '') {
    @each $prefix in $VENDOR-PREFIXES {
        #{$property}: unquote($prefix + $value + $more);
    }
    #{$property}: unquote($value + $more);
}


/*
Prevent last child spacing
====================================================================== */

// prevents spacing of a given element if it's the last child
@mixin prevent-last-child-spacing($element: '*', $property: 'padding-bottom') {
    @if ($element == '*') {
        $element: unquote($element);
    }

    & > #{$element}:last-child {
        #{$property}: 0;
    }
}

@mixin prevent-last-child-bottom-spacing($element: '*') {
    @include prevent-last-child-spacing($element, margin-bottom);
    @include prevent-last-child-spacing($element, padding-bottom);
}


/*
Links
====================================================================== */

// text-decoration none, hover text-decoration underline
@mixin reverse-link-decoration() {
    a {
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}

// make a button look like a link
@mixin button-link() {
    @include vendorize(appearance, none);
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: transparent;
    text-transform: inherit;
    border: 0;
    padding: 0;
    color: $link-color;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

/*
Colours
====================================================================== */

/*
    creates a hex fallback of a property using an rgba value
    will use white as the background matte if no colour is provided
    */
@mixin rgba-fallback($property, $color, $opacity, $bg: #fff) {
    #{$property}: mix($color, $bg, $opacity * 100); // hex fallback
    #{$property}: rgba($color, $opacity); // rgba value
}

/* generates a cross-browser gradient */
@mixin create-gradient($start-color, $end-color, $direction: false) {
    @if $direction {
        @include vendorize-value(background, linear-gradient, '(' + $direction + ', ' + $start-color + ', ' + $end-color + ')');
    }
    @else {
        @include vendorize-value(background, linear-gradient, '(' + $start-color + ', ' + $end-color + ')');
    }
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$start-color}", endColorstr="#{$end-color}", GradientType=1)'; /* IE8-9 */
}

/* uses the white logo instead of color logo */
@mixin use-white-logo() {
    #main-header .logo {
        background-position: 0 -41px;
    }
}


/*
function to apply all the generated colors to a notification to theme it
-------------------------------------------------------------- */

@mixin notification-theme($color) {
    background-color: #{map-get( map-get($colors-lookup, $color), 'light')};
    border-color: #{map-get( map-get($colors-lookup, $color), 'medium')};
    color: $text-color;

    .notification-button {
        background-color: #{map-get( map-get($colors-lookup, $color), 'medium')};
        color: $text-color;

        &:hover,
        &:focus {
            background: transparent;
            text-decoration: none;
        }
    }

    button.close {
        color: #{map-get( map-get($colors-lookup, $color), 'medium')};

        &:hover,
        &:focus {
            color: #{map-get( map-get($colors-lookup, $color), 'dark')};
        }
    }
}

/*
coloured boxes
-------------------------------------------------------------- */

@mixin box-theme($color) {
    background: #{map-get( map-get($colors-lookup, $color), 'light')};
    border-color: #{map-get( map-get($colors-lookup, $color), 'medium')};
}

@mixin example-box($bg-color, $border-color) {
    @include set-font-size($base-font-size);
    background: $bg-color;
    border: 0 $code-block-border-style $border-color;
    @include bidi(((border-left-width, $code-block-border-width, border-right-width, 0),));
    color: $text-color;
    margin-top: 0;
    margin-bottom: $grid-spacing;
    padding: 15px;
    position: relative;

    @include prevent-last-child-bottom-spacing();
}

/* =================================================================== */


/* generates the essential "before" and "after" code for pseudo-arrows */
@mixin generate-arrow($arrow-width: 10px) {
    &:before,
    &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: $arrow-width solid transparent;
    }
}


/* =================================================================== */

/* used to create sliding animations */
@mixin slider($duration: $default-animation-duration, $maximum-height: 10000px) {
    overflow-y: hidden;
    max-height: $maximum-height;
    @include vendorize(transition-property, all);
    @include vendorize(transition-duration, $duration);
    @include vendorize(transition-timing-function, $slide-timing-function);

    &.closed {
        max-height: 0;
    }
}


/* =================================================================== */

/* sets the base styles for messages (review, warning, error, notice, etc.) */
@mixin set-message-base($remove-last-spacing: true) {
    @include restrict-line-length();
    overflow: hidden;
    margin-bottom: $grid-spacing;
    @include bidi((
        (border-left-width, $border-width, border-right-width, 0),
        (border-left-style, solid, border-right-style, none),
    ));
    padding: ($grid-spacing / 2);

    @if ($remove-last-spacing) {
        @include prevent-last-child-bottom-spacing();
    }
}

/*
Spacing
====================================================================== */

/* removes the implied "<main>" spacing so page is more customizable */
@mixin remove-main-spacing() {
    main > .center {
        width: auto;
        padding: 0;
        margin: 0;
        max-width: none;
    }
}

@mixin add-center-spacing($spacing: $gutter-width) {
    padding-left: $spacing;
    padding-right: $spacing;
}

@mixin remove-center-spacing() {
    padding-left: 0;
    padding-right: 0;
}

/* =================================================================== */

/* sets an input tag's placeholder styles */
@mixin set-placeholder-style($prop, $value) {
    &::-webkit-input-placeholder { // old Chrome & Safari, we can remove this soon
        #{$prop}: $value;
    }

    &:-ms-input-placeholder { // IE 9-11, Edge
        #{$prop}: $value;
    }

    &::-moz-placeholder { // Old Firefox, we can remove this soon
        #{$prop}: $value;
    }

    &::placeholder { // Current Firefox, Chrome, Safari
        #{$prop}: $value;
    }
}

/*
Bidi / l10n
- The bidi mixins are used to declare both the LTR and RTL values for
  a property together and output appropriate declarations
- This makes it easier to maintain the RTL version since you only have
  to update values in one place.
====================================================================== */

/*
    @mixin bidi
    accepts: a list of lists - each list must have 3 or 4 values

    A list with three properties overrides the ltr value in rtl locales
    @include bidi(((float, left, right),))
    LTR: float: left;
    RTL: float: right;

    A list with four properties overrides the ltr value in rtl locales
    AND provides a new rtl only property value
    @include bidi(((margin-right, 20px, margin-left, 0),))
    LTR: margin-right: 10px;
    RTL: margin-right: 0;
         margin-left: 10px;

    Example input:
    .test {
        @include bidi((
            (float, left, right),
            (margin-right, ($grid-spacing / 2), margin-left, 0),
        ));
    }

    Example output:
    .test {
        float: left;
        margin-right: 10px;
    }
    html[dir='rtl'] .test {
        float: right;
        margin-right: 0;
        margin-left: 10px;
    }
}
*/
@mixin bidi($list) {
    & {
        @each $property, $ltr-value, $inverse-val-or-prop, $inverse-value in $list {
            @if type-of($ltr-value) == 'null' or type-of($inverse-val-or-prop) == 'null' {
                @warn $list; /* I don't know why this won't output as part of the error */
                @error 'Error processing @mixin bidi(), see previous warning for stack trace';
                /*
                    Trouble shooting:
                    - Check that you have the right number of nested (((parentheses)))
                    - Check that there is a trailing comma:
                      @include bidi(((float, left, right),));
                */
            }
            #{$property}: $ltr-value;
        }
    }

    html[dir='rtl'] & {
        @each $property, $ltr-value, $inverse-val-or-prop, $inverse-value in $list {
            @if $inverse-value {
                #{$property}: $inverse-value;
                #{$inverse-val-or-prop}: $ltr-value;
            }
            @else {
                #{$property}: $inverse-val-or-prop;
            }
        }
    }
}

/*
    @mixin bidi-value-vendorize
    - adds vendor prefixes to property
    - does not support multiple declarations
    - does support !important with optional 4th parameter

    Example input:

    .test {
        @include bidi-value-vendorize(transform, rotate(90deg), rotate(-90deg));
    }

    Example output:

    .test {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    html[dir='rtl'] .test {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}
*/

@mixin bidi-value-vendorize($prop, $ltr, $rtl, $make-important: false) {
    $make-important: if($make-important, unquote('!important'), unquote(''));

    @include vendorize($prop, $ltr $make-important);

    html[dir='rtl'] & {
        @include vendorize($prop, $rtl $make-important);
    }
}


/* =================================================================== */

@mixin right-icons() {
    @include bidi(((margin-right, $icon-margin, 0),));
}

@mixin left-icons() {
    @include bidi(((margin-left, $icon-margin, 0),));
}


/*
MIXINS LIKE CLASSES
These are not dynamic but serve as mixins
====================================================================== */

@mixin heading-1() {
    @include set-font-size($h1-font-size);
    @include set-heading-font-family();
    line-height: 1;
}

@mixin heading-2() {
    @include set-font-size($mobile-h2-font-size);
    @include set-heading-font-family();
    line-height: $heading-line-height;

    @media #{$mq-tablet-and-up} {
        @include set-font-size($h2-font-size);
    }
}

@mixin heading-2-section() {
    position: relative;
    margin-top: $grid-spacing * 3;
    padding-top: $grid-spacing * 2;
    border-top: $section-border;
}

@mixin callout() {
    @include restrict-line-length();
    @include set-font-size($callout-font-size);
    border: $section-border-width solid $accent-light;
    border-width: $section-border-width 0;
    padding: $grid-spacing 0;
    margin-bottom: $grid-spacing;

    @include prevent-last-child-spacing(p, margin-bottom);

    article > &:first-child,
    article > div:first-child:empty + &,
    article > p:first-child:empty + &,
    article > p:first-child:empty + p:empty + & {
        border-top-width: 0;
        padding-top: 0;
    }
}

@mixin clearfix() {
    clear: both;

    &:after {
        content: ' ';
        clear: both;
        display: table;
    }
}

// Hide an element visually, but not from screen readers
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    /* !important required to ensure element is hidden when mixin is applied */
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    width: 1px;
}

@mixin title-header() {
    font-weight: bold;
    color: $text-color;
    text-decoration: none;
    display: block;
}

/*
pull aside
- assumes content has a bottom margin of its own
- floats to the right until there's not enough space for it
-------------------------------------------------------------- */

@mixin pull-aside() {
    @include column-4();
    min-width: 200px;
    @include bidi((
        (float, right, left),
        (margin, 0 0 ($grid-spacing / 2) $grid-spacing, 0 $grid-spacing ($grid-spacing / 2) 0),
    ));

    h3:first-child,
    h4:first-child {
        margin-top: 0;
    }

    @media #{$mq-small-mobile-and-down} {
        width: 100%;
        @include bidi(((margin, 0, 0),));
    }
}


/*
Placeholders
====================================================================== */

%offscreen-placeholder {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


@mixin restrict-line-length {
    box-sizing: border-box;
    max-width: $max-line-length;
}


@mixin full-width-content {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;

    p,
    ul,
    dl {
        max-width: 100%;
    }
}

/* Styles for code blocks - used for wiki document and WYSIWYG editor */
%code-block {
    @include example-box($code-block-background-color, $code-block-border-color);
    font-family: $code-block-font-family;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    overflow: auto;

    /* code is always LTR */
    /* stylelint-disable declaration-no-important  */
    direction: ltr !important;
    text-align: left !important;
    border-left-width: $code-block-border-width !important;
    border-right-width: 0 !important;
    /* stylelint-enable */

    p {
        @include full-width-content();
    }

    code {
        background-color: transparent;
        font-style: normal;
        font-weight: inherit;
        padding: 0;
    }

    @include vendorize(tab-size, 4);
    @include vendorize(hyphens, none);
}

%highlight {

    &.highlight-spanned { // needs to preceed .highlight-span definition or links aren't coloured
        padding: 0;
        background-color: inherit;
        color: inherit;

        a {
            color: inherit;
        }
    }

    &,
    & .highlight-span {
        background-color: $text-color;
        color: #fff;
        font-weight: normal;
        line-height: 1.25;
        padding: 0 4px;
        @include vendorize(box-decoration-break, clone);

        a {
            color: $accent-light;

            &[name] {
                color: inherit;
                text-decoration: none;
            }
        }

        code {
            background-color: rgba(255, 255, 255, .4) !important; /* stylelint-disable-line declaration-no-important */
            color: #fff !important; /* stylelint-disable-line declaration-no-important */
        }
    }
}

%cta-link {
    @include button-link();
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 2px solid;
    @include bidi((
        (padding, 10px 30px 10px 0, 10px 0 10px 30px),
        (text-align, left, right),
    ));

    .icon-envelope,
    .icon-arrow {
        position: absolute;
        top: 30%;
        @include bidi(((left, auto, right, 0),));
        @include bidi(((right, 0, left, auto),));
        @include bidi(((transition, right .2s, left .2s),));
    }

    &:hover,
    &:focus {
        text-decoration: none;

        .icon-arrow {
            @include bidi(((right, -5px, left, 10px),));
            @include bidi(((left, auto, right, 10px),));
        }
    }

    #{$selector-icon} {
        margin-top: 4px;
    }
}


/*
Grid
====================================================================== */

/*
grid - 12 columns assuming a 3% margin
-------------------------------------------------------------- */
@function -calc-col-width($col-span) {
    $grid-margin-numb : $grid-margin / 1%; // remove percent unit
    $col-percent : (100 - $grid-margin-numb * 11) / 12 * $col-span + $grid-margin-numb * ($col-span - 1);
    $col-percent : if($col-percent > 100, 100, $col-percent); // not over 100
    $col-percent : $col-percent;
    $col-percent : $col-percent * 1%; // add % unit
    @return $col-percent;
}

@mixin column-1() {
    width: -calc-col-width(1); // 5.583%;
}
@mixin column-2() {
    width: -calc-col-width(2); // 14.167%;
}
@mixin column-3() {
    width: -calc-col-width(3); // 22.75%;
}
@mixin column-strip() {
    width: -calc-col-width(3); // 22.75%;
}
@mixin column-quarter() {
    width: -calc-col-width(3); // 22.75%;
}
@mixin column-4() {
    width: -calc-col-width(4); // 31.333%;
}
@mixin column-third() {
    width: -calc-col-width(4); // 31.333%;
}
@mixin column-5() {
    width: -calc-col-width(5); // 39.917%;
}
@mixin column-6() {
    width: -calc-col-width(6); // 48.5%;
}
@mixin column-half() {
    width: -calc-col-width(6); // 48.5%;
}
@mixin column-7() {
    width: -calc-col-width(7); // 57.083%;
}
@mixin column-8() {
    width: -calc-col-width(8); // 65.667%;
}
@mixin column-9() {
    width: -calc-col-width($grid-width-column-main); // 74.25%
}
@mixin column-main() {
    width: -calc-col-width($grid-width-column-main); // 74.25%
}
@mixin column-10() {
    width: -calc-col-width(10); // 82.833%;
}
@mixin column-11() {
    width: -calc-col-width(11); // 91.417%;
}
@mixin column-12() {
    width: auto;
    margin: 0;
    float: none;
}
@mixin column-all() {
    width: auto;
    margin: 0;
    float: none;
}
