/*
Mixins for indicators
********************************************************************** */

$icon-spacing: 30px;
$inline-horizontal-padding: .35em;

/*
block indicators aka banners
====================================================================== */

%indicator-block {
    @include set-message-base(true);
    @include clearfix();
    clear: none; // over-rides default value assigned in clearfix

    background-color: $light-background-color;
    font-style: italic;
    font-family: $heading-font-family;
    #{$selector-heading-font-fallback} {
        font-family: $heading-font-family-fallback;
    }

    &:before {
        display: inline-block;
        width: 30px;
        @include bidi-value(float, left, right);
        @include bidi-value(margin, -5px 0 -5px ($icon-spacing * -1), -5px ($icon-spacing * -1) -5px 0);
        font-family: FontAwesome;
        font-size: $larger-font-size;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }

    pre {
        color: $text-color;
    }
}

%indicator-block-heading {
    font-style: normal;
    font-weight: bold;
}

%indicator-system {
    /* need to specifically declare RTL to over-ride RTL inherited from set-message-base */
    @include bidi-value(border-width, 2px, 2px);
    @include bidi-value(border-style, solid, solid);
}

/*
inline indicators aka badges
====================================================================== */

%indicator-inline {
    display: inline-block;
    min-width: 20px;
    vertical-align: baseline;
    @include bidi-style(margin-left, ($grid-spacing / 2 ), margin-right, 0);
    border-radius: 2px;
    @include bidi-style(border-left, 4px solid, border-right, 0 none);
    padding: .45em $inline-horizontal-padding .3em;
    background-color: $light-background-color;
    font-family: $tiny-font-family;
    font-size: $tiny-font-size;
    font-weight: normal;
    line-height: normal;
}

/* icon styling for indicators needs to be seperate because .spec
   extend %indicator-inline into some :before content */
%indicator-inline-icon {
    &:before {
        display: inline-block;
        @include bidi-value(margin-left, ($icon-spacing * -1 + 3px), 3px);
        @include bidi-value(margin-right, 3px, ($icon-spacing * -1 + 3px));
        font-family: FontAwesome;
    }
}


/*
icons for both indicator types
====================================================================== */

%indicator-with-icon {
    @include bidi-style(padding-left, $icon-spacing, padding-right, $inline-horizontal-padding);

    #{$selector-icon} {
        display: none;
    }
}

@mixin indicator-icon($icon) {
    @extend %indicator-with-icon;

    &:before {
        content: $icon;
    }
}

/*
colours for both indicator types
====================================================================== */

%indicator-text-invert {
    color: #fff;
}

%indicator-link-invert {
    a {
        color: #fff;
    }
}

%indicator-info,
%indicator-obsolete {
    @include box-theme($default);
}

%indicator-version {
    @include box-theme($neutral);
}

%indicator-warning {
    @include box-theme($warning);
}

%indicator-danger {
    @include box-theme($negative);
}
