/*
Mixins for indicators
********************************************************************** */

$icon-spacing: 25px;
$inline-horizontal-padding: .35em;

/*
block indicators aka banners
====================================================================== */

%indicator-block {
    @include set-message-base(true);
    @include clearfix();
    clear: none; // over-rides default value assigned in clearfix

    background-color: $light-background-color;
    @include set-heading-font-family();
    @include set-font-size($base-font-size);

    &:before {
        display: inline-block;
        width: 30px;
        @include bidi((
            (float, left, right),
            (margin, -1px 0 -5px ($icon-spacing * -1), -5px ($icon-spacing * -1) -5px 0),
        ));
    }

    pre {
        color: $text-color;
    }
}

%indicator-block-heading {
    font-style: normal;
    font-weight: bold;
}

%indicator-system {
    @include restrict-line-length();
    /* need to specifically declare RTL to over-ride RTL inherited from set-message-base */
    @include bidi((
        (border-width, 2px, 2px),
        (border-style, solid, solid),
    ));
}

/*
inline indicators aka badges
====================================================================== */

%indicator-inline {
    display: inline-block;
    min-width: 20px;
    vertical-align: baseline;
    @include bidi((
        (margin-left, ($grid-spacing / 2 ), margin-right, 0),
        (border-left, 4px solid, border-right, none),
    ));
    border-radius: 2px;
    padding: .45em $inline-horizontal-padding;
    background-color: $light-background-color;
    font-family: $tiny-font-family;
    font-size: $tiny-font-size;
    font-weight: normal;
    line-height: normal;
}

/*
 * icon styling for indicator icons needs to be separate because
 * .spec-* extends `%indicator-inline` into some :before content
 *
 * This also can't extend `%indicator-with-icon`, as `%indicator-inline-icon`
 * is applied to all inline indicators to ensure consistent inline icon spacing,
 * whereas `%indicator-with-icon` is used to add inline padding.
 */
%indicator-inline-icon {
    &:before {
        display: inline-block;
        @include bidi((
            (margin-left, ($icon-spacing * -1 + 3px), 3px),
            (margin-right, 3px, ($icon-spacing * -1 + 3px)),
        ));
    }
}


/*
icons for both indicator types
====================================================================== */

%indicator-with-icon {
    @include bidi(((padding-left, $icon-spacing, padding-right, $inline-horizontal-padding),));
}

/*
Base CSS rules used for both set-icon and set-inline-icon
====================================================================== */

%icon-base {
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
}

@mixin indicator-svg-icon($icon, $background-size: 16px, $height: 20px) {
    @extend %indicator-with-icon;

    &:before {
        content: '';
        background-image: url($icon);
        background-repeat: no-repeat;
        background-size: $background-size;
        margin-top: 5px;
        margin-left: -20px;
        width: $background-size; // $background-size and width will always match
        height: $height;
    }
}

/*
Styling for block level icons
====================================================================== */
@mixin set-icon($icon, $background-size: 16px, $height: 20px) {
    @extend %icon-base;
    background-image: url($icon);
    background-size: $background-size;
    width: $background-size;
    height: $height;
}

/*
Styling for inline icons
====================================================================== */
@mixin set-inline-icon($icon, $background-size: 16px, $height: 20px) {
    @extend %icon-base;
    background-image: url($icon);
    background-size: $background-size;
    margin: 0 5px 0 -20px;
    width: $background-size;
    height: $height;
    vertical-align: middle;
}

@mixin set-bidi-icon($icon-ltr, $icon-rtl, $right: auto, $left: auto, $background-size: 16px, $height: 20px) {
    display: inline-block;
    content: '';
    background-image: url($icon-ltr);
    right: $right;
    left: $left;
    background-size: $background-size;
    background-repeat: no-repeat;
    width: $background-size;
    height: $height;

    html[dir='rtl'] & {
        background-image: url($icon-rtl);
        right: $right;
        left: $left;
    }
}

/*
colours for both indicator types
====================================================================== */

%indicator-text-invert {
    color: #fff;
}

%indicator-link-invert {
    a {
        color: #fff;
    }
}

%indicator-info,
%indicator-obsolete {
    @include box-theme('default');
}

%indicator-version {
    @include box-theme('neutral');
}

%indicator-warning {
    @include box-theme('warning');
}

%indicator-danger {
    @include box-theme('negative');
}
