/******* this file cannot reference _mixins ******/

/*
vendors
====================================================================== */
/* our custom variable for prefixing */
$VENDOR-PREFIXES: '-webkit-', '-moz-', '-ms-';
/* custom list of properties and their valid prefixes for vendors we support */
@import 'prefixes';


/*
colors
====================================================================== */
$red: #e66465;
$orange: #f69d3c;
$yellow: #f6b73c;
$green: #4d9f0c;
$blue: #3f87a6;
$purple: #9198e5;
$grey: #696969;

$red-light: #ffe7e8;
$orange-light: #ffe8d4;
$yellow-light: #fff3d4;
$green-light: #ebf8e1;
$blue-light: #e4f0f5;
$purple-light: #d7d9f2;
$grey-light: #eee;

$red-vdark: #5d3739;
$orange-vdark: #332206;
$yellow-vdark: #332807;
$green-vdark: #162300;
$blue-vdark: #001d33;
$purple-vdark: #303253;
$grey-vdark: #151515;

$red-dark: mix($red, $red-vdark, 65);
$orange-dark: mix($orange, $orange-vdark, 65);
$yellow-dark: mix($yellow, $yellow-vdark, 65);
$green-dark: mix($green, $green-vdark, 65);
$blue-dark: mix($blue, $blue-vdark, 65);
$purple-dark: mix($purple, $purple-vdark, 65);
$grey-dark: mix($grey, $grey-vdark, 65);

$colors-lookup: (
    'negative': (
        'light': $red-light,
        'medium': $red,
        'dark': $red-dark,
        'vdark': $red-vdark,
    ),
    'warning': (
        'light': $yellow-light,
        'medium': $yellow,
        'dark': $yellow-dark,
        'vdark': $yellow-vdark,
    ),
    'positive': (
        'light': $green-light,
        'medium': $green,
        'dark': $green-dark,
        'vdark': $green-vdark,
    ),
    'neutral': (
        'light': $blue-light,
        'medium': $blue,
        'dark': $blue-dark,
        'vdark': $blue-vdark,
    ),
    'default': (
        'light': $grey-light,
        'medium': $grey,
        'dark': $grey-dark,
        'vdark': $grey-vdark,
    ),
);

$negative: $red;
$warning: $yellow;
$positive: $green;
$neutral: $blue;
$default: $grey;

$text-color: #333;
$link-color: #3F87A6;
$menu-link-color: $text-color;
$blue-background-text-color: #fff;
$light-background-color: #{map-get( map-get($colors-lookup, 'default'), 'light')};
$header-background-color: $light-background-color;
$border-width: 5px;
$code-block-background-color: #{map-get( map-get($colors-lookup, 'default'), 'light')};
$code-block-background-alt-color: #{map-get( map-get($colors-lookup, 'neutral'), 'light')}; /* TODO */
$code-block-border-color: #{map-get( map-get($colors-lookup, 'neutral'), 'medium')};
$code-block-padding: 15px;
$code-block-border-width: $border-width;
$code-block-border-style: solid;
$table-blue: #d4dde4;
$accent-light: #83d0f2;
$accent-dark: #216684;

$text-dark: $text-color;
$text-light: #fff;
$error: #900;


/*
typography
====================================================================== */
$site-font-family-fallback: arial, x-locale-body, sans-serif;
$site-font-family: 'Open Sans', $site-font-family-fallback;
$heading-font-family-fallback: 'Palatino', 'Palatino Linotype', x-locale-heading-secondary, serif;
$heading-font-family: x-locale-heading-primary, zillaslab, $heading-font-family-fallback;
$tiny-font-family: 'Helvetica', arial, sans-serif;
$code-block-font-family: consolas, monaco, 'Andale Mono', monospace; /* prism */
$code-inline-font-family: consolas, 'Liberation Mono', courier, monospace; /* inline */
$diff-font-family: $code-inline-font-family;

/*
sizes
====================================================================== */
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 22px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$callout-font-size: 22px;
$note-font-size: 18px;
$body-font-size: 16px;
$form-font-size: $body-font-size;
$tiny-font-size: 12px;

$mobile-document-title-font-size: 32px;

/* bumps */
$larger-font-size: $callout-font-size;
$small-bump-font-size: ($body-font-size + 2px);
$base-bump-font-size: ($body-font-size + 1px);
$smaller-font-size: ($body-font-size - 2px);

/*
forms
====================================================================== */
$form-border-width: 2px;
$form-border-color: #9b9b9b;
$form-text: $grey-dark;
$form-background-color: #fff;
$placeholder-text: lighten($form-border-color, 2);


/*
grid
====================================================================== */
/*
grid - 12 columns assuming a 3% margin
-------------------------------------------------------------- */
$grid-spacing: 20px;
$grid-margin: 3%;
$grid-column-selector: '> [class^="column-"]';
$grid-width-column-main: 9;

$max-line-length: 42rem; // approx 72ch for base font size and HHGTTG reference

/*
breakpoints & media queries
====================================================================== */

/*
break points
- developers understand pixel values better
- ems is a better user experience, because design handles text resizing better
- divide pixels by browser default font size (16px)
- and multiply by 1em to convert unit to em.
*/
$max-width-default: (1399px / 16px) * 1em;
$small-desktop-ends: (1199px / 16px) * 1em;
$tablet-ends: (1023px / 16px) * 1em;
$mobile-ends: (767px / 16px) * 1em;
$small-mobile-ends: (479px / 16px) * 1em;

$small-desktop-starts: $tablet-ends + .001em;
$tablet-starts: $mobile-ends + .001em;
$mobile-starts: $small-mobile-ends + .001em;

$navigation-break-ends: (1100px / 16px) * 1em;
$navigation-block-ends: (850px / 16px) * 1em;

$navigation-break-starts: $navigation-block-ends + .001em;

/*
media queries
- MDN should be coded "mobile first"
- when coding features, begin by coding the mobile presentation as default
- use the min-width MQs to modify presentation for larger screens
*/
$mq-max-width-and-up: 'all and (min-width: #{$max-width-default})';
$mq-large-desktop-and-up: 'all and (min-width: #{$small-desktop-ends})';
$mq-small-desktop-and-up: 'all and (min-width: #{$small-desktop-starts})';
$mq-tablet-and-up: 'all and (min-width: #{$tablet-starts})';
$mq-mobile-and-up: 'all and (min-width: #{$mobile-starts})';

$mq-large-desktop-only: 'all and (min-width: #{$small-desktop-ends})';
$mq-small-desktop-only: 'all and (min-width: #{$small-desktop-starts}) and (max-width: #{$small-desktop-ends})';
$mq-tablet-only: 'all and (min-width: #{$tablet-starts}) and (max-width: #{$tablet-ends})';
$mq-mobile-only: 'all and (min-width: #{$mobile-starts}) and (max-width: #{$mobile-ends})';
$mq-small-mobile-only: 'all and (max-width: #{$small-mobile-ends})';

$mq-navigation-break: 'all and (max-width: #{$navigation-break-ends})'; /* Moves nav items all the way to the left, moves logo above */
$mq-navigation-block: 'all and (max-width: #{$navigation-block-ends})'; /* Moves nav menu items to block, its own line */

$mq-break-and-up: 'all and (min-width: #{$navigation-break-starts})';

/* avoid using these media queries, code mobile first */
$mq-large-desktop-and-down: 'all and (max-width: #{$max-width-default})';
$mq-small-desktop-and-down: 'all and (max-width: #{$small-desktop-ends})';
$mq-tablet-and-down: 'all and (max-width: #{$tablet-ends})';
$mq-mobile-and-down: 'all and (max-width: #{$mobile-ends})';
$mq-small-mobile-and-down: 'all and (max-width: #{$small-mobile-ends})';


/*
animation
====================================================================== */
$default-animation-duration: .5s;
$slide-timing-function: cubic-bezier(0, 1, .5, 1);


/*
dimensions
====================================================================== */
$gutter-width: 24px;
$content-block-margin: $gutter-width;

$first-content-top-padding: ($grid-spacing * 1.5);
$last-content-bottom-padding: ($grid-spacing * 1.5);
$mobile-center-spacing: 15px;

$content-horizontal-spacing: 8px;
$content-vertical-spacing: 6px;
$list-item-spacing: $content-horizontal-spacing;

$icon-margin: ($grid-spacing / 2);

$logo-height: 48px;

/*
forms
====================================================================== */
$input-padding: $content-vertical-spacing $content-horizontal-spacing;


/*
selectors
====================================================================== */
$selector-icon: 'i[class^="icon-"]';
$selector-site-font-fallback: 'html[data-ffo-opensans="false"]:not(.no-js) &';
$selector-heading-font-fallback: 'html[data-zillaslab="false"]:not(.no-js) &';


/*
paths
====================================================================== */
$path-to-assets: '../';
$path-to-images: $path-to-assets + 'img/';
$path-to-embedded-images: $path-to-images + 'embed/';
$path-to-fonts: $path-to-assets + 'fonts/';
$path-to-locale-fonts: '../../' + 'fonts/locales/';
$logo-sprite-url: $path-to-images + 'web-docs-sprite.svg';


/*
edit-mode customizations - applied to blocks only in edit mode
====================================================================== */
$editor-box-border: 2px dotted #adf;
