/*
Support Icons
====================================================================== */

.bc-level {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    height: 19px;
    width: 20px;
    overflow: hidden;
    cursor: help;
}

.bc-support:after {
    content: '';
}

.bc-level img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.bc-level-partial img {
    top: -20px;
}

.bc-level-no img {
    top: -40px;
}

.active .bc-level img,
*:hover > .bc-level img,
*:focus > .bc-level img {
    display: block;
}

@media all and (max-width: 480px) {
    td > .bc-level {
        left: 60px;
    }
}

/* always show support icon in high contrst themes */
@media screen and (-ms-high-contrast) {
    .bc-level img {
        display: block;
    }
}
