{% extends "base.html" %}

{% block bodyclass %}error{% endblock %}

{% block title %}{{ page_title(_('Permission Denied')) }}{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

  <section id="content-main" class="full" role="main">

    <h1 class="page-title">Permission Denied</h1>

    <img src="{{ MEDIA_URL }}img/beast-403.png" alt="" class="beast 403">

    {% if user.username %}
      {% trans name=user.username %}
      <p>We're sorry {{ name }}, we're afraid we can't do that.</p>
      {% endtrans %}
    {% else %}
      {% trans name=user.username %}
      <p>We're sorry, we're afraid we can't do that.</p>
      {% endtrans %}
    {% endif %}

      <ul class="prose">
      {% if user.username %}
        {% trans %}
        <li><a href="/logout">Log out</a> to try again.</li>
        {% endtrans %}
      {% else %}
        {% trans %}
        <li><a href="{{ url('users.login') }}">Log in</a> to try again.</li>
        <li><a href="{{ url('users.register') }}">Register</a> to edit docs and submit demos.</li>
        {% endtrans %}
      {% endif %}
        {% trans %}
        <li><a href="/demos">View demos</a> or <a href="/docs">browse docs</a></li>
        {% endtrans %}
      </ul>

      {% trans %}
      <p>No computer has ever made a mistake or distorted information. We are all, by any practical definition of the words, foolproof and incapable of error. So it can only be attributable to human error. If so, <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20Developer%20Network&component=Website">file a bug</a> for my human operators.</p>
      {% endtrans %}
  
  </section>

</div>
</section>
      
{% endblock %}
 
{% block site_js %}
    {{ super() }}
    {{ js('framebuster') }}
{% endblock %}
