{% extends "base.html" %}

{% block bodyclass %}error{% endblock %}

{% block title %}{{ page_title(_('Permission Denied')) }}{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

  <section id="content-main" class="full" role="main">

    <h1 class="page-title">Permission Denied</h1>

    {% if reason == 'kumaediting' %}
      <p class="notice">{{ _('The wiki is in read-only mode.') }}</p>
    {% elif reason == 'kumabanned' %}
      <p class="notice">{{ _('Your account has been banned from making edits.') }}</p>
    {% elif reason == 'bannedprofile' %}
      <p class="notice">{{ _("This user's account has been banned.") }}</p>
    {% endif %}
  
    <img src="{{ MEDIA_URL }}img/beast-403.png" alt="" class="beast 403">

    {% if user.username %}
      {% trans name=user.username %}
      <p>We're sorry {{ name }}, we're afraid we can't do that.</p>
      {% endtrans %}
    {% else %}
      {% trans name=user.username %}
      <p>We're sorry, we're afraid we can't do that.</p>
      {% endtrans %}
    {% endif %}

      <ul class="prose">
      {% if user.username %}
        {% trans logout_url=url('users.logout') %}
          <li><a href="{{ logout_url }}">Log out</a> to try again.</li>
        {% endtrans %}
      {% else %}
        {% trans login_url=('{base_url}?next={next}' | f(base_url=url('users.login'), next=request.get_full_path())), register_url=url('users.register') %}
          <li><a href="{{ login_url }}">Log in</a> to try again.</li>
          <li><a href="{{ register_url }}">Register</a> to edit docs and submit demos.</li>
        {% endtrans %}
      {% endif %}
        {% trans demos_url=url('demos'), docs_url=devmo_url('Web') %}
          <li><a href="{{ demos_url }}">View demos</a> or <a href="{{ docs_url }}">browse docs</a></li>
        {% endtrans %}
      </ul>

      {% trans %}
      <p>No computer has ever made a mistake or distorted information. We are all, by any practical definition of the words, foolproof and incapable of error. So it can only be attributable to human error. If so, <a href="https://bugzilla.mozilla.org/form.mdn" rel="nofollow">file a bug</a> for my human operators.</p>
      {% endtrans %}
      
      {% trans %}
      <p class="attrib"><small><a href="http://theoatmeal.com/comics/state_web_summer#tumblr" rel="nofollow">Tumbeasts</a> by Matthew Inman of <a href="http://theoatmeal.com" rel="nofollow">The Oatmeal</a></small></p>
      {% endtrans %}
  
  </section>

</div>
</section>
      
{% endblock %}
 
{% block site_js %}
    {{ super() }}
    {{ js('framebuster') }}
{% endblock %}
