{% extends "base.html" %}

{% block bodyclass %}error{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/err404.css">
{% endblock %}

{% block title %}{{ page_title(_('Not Found')) }}{% endblock %}

{% block content %}

<section id="content">
<div class="wrap">

  <section id="content-main" class="full" role="main">

    <h1 class="page-title">Not Found</h1>
    
    <div id="beastainer">
			<img id="beast404le" src="{{ MEDIA_URL }}img/beast-404_LE.png" alt="">
			<img id="beast404re" src="{{ MEDIA_URL }}img/beast-404_RE.png" alt="">
			<img class="beast 404" src="{{ MEDIA_URL }}img/beast-404.png" alt="">
    </div>
    
    <p>We're sorry, we couldn't find what you were looking for.</p>
    
    <p>You can <a href="#q">try a search</a> or start over on the <a href="{{ url('home') }}">home page</a>.</p>
    
    <p>If you were following a broken link, please
    <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20Developer%20Network&component=Website">file a bug.</a>
    Thanks!</p>
    
    <p class="attrib"><small><a href="http://theoatmeal.com/comics/state_web_summer#tumblr">Tumbeasts</a> by Matthew Inman of <a href="http://theoatmeal.com">The Oatmeal</a></small></p>
    
  </section>

</div>
</section>

{% endblock %}

{% block site_js %}
    {{ super() }}
    {{ js('framebuster') }}
{% endblock %}
