{% extends "generic.html" %}

{% block title %}{{ page_title(_('Internal Server Error')) }}{% endblock %}

{% block h1 %}{{ _('Internal Server Error') }}{% endblock %}

{% block main_content %}
<p>An unhandled error occurred in the application. The error has been logged
and an administrator was notified. We apologize for the inconvenience!</p>

<p>Please start over on the <a href="{{ url('home') }}">home page</a>.</p>

<p>If you have additional information how to reproduce this problem, please
<a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20Developer%20Network&component=Website">file a bug.</a>
Thanks!</p>
{% endblock %}
