{% extends "base.html" %}

{# base.html with compact header. #}

{% block headerclass %}compact{% endblock %}

{% block headerlogo %}
    <h1 id="logo"><a href="{{ url('home') }}"><img src="{{ MEDIA_URL }}img/mdn-logo-compact.png" alt="Mozilla Developer Network" width="135" height="40"></a></h1>
{% endblock %}

{% block headertagline %}{% endblock %}

{% block headernav %}

    {# TODO: Make this adapt to current section - only Demo Studio uses this compact layout, so far #}
    <nav id="nav">
    {% block headernav_current %}
      <h2 class="current"><a href="{{ url('demos') }}">{{ _('Demos') }}</a></h2>
    {% endblock %}
      <div class="menu"><a href="#nav-main" class="toggle" title="Explore other parts of MDN">Explore MDN</a>
        <ul id="nav-main" class="sub-menu" role="navigation">
          <li id="nav-main-web"><a href="{{ url('web') }}" class="web">{{ _('Web') }}</a></li>
          <li id="nav-main-mobile"><a href="{{ url('mobile') }}" class="mobile">{{ _('Mobile') }}</a></li>
          <li id="nav-main-addons"><a href="{{ url('addons') }}" class="addons">{{ _('Add-ons') }}</a></li>
          <li id="nav-main-mozilla"><a href="{{ url('mozilla') }}" class="mozilla">{{ _('Mozilla') }}</a></li>
          {% block headernav_others %}
          <li id="nav-extra-docs"><a href="{{ url('docs') }}">{{ _('Docs') }}</a></li>
          <li id="nav-extra-learning"><a href="/learn">{{ _('Learning') }}</a></li>
          <li id="nav-extra-forums"><a href="/forums">{{ _('Forums') }}</a></li>
          {% endblock %}      
        </ul>
      </div>
    </nav>
    <script type="text/javascript">
        document.getElementById('nav').className = 'js';
    </script>

{% endblock %}

{% block site_js %}
    {{ super() }}

    <script type="text/javascript">
      // <![CDATA[
      $(document).ready(function() {
        $("#nav").addClass("js");
      	
        $("#nav .toggle").click(function() {
          $("#nav-main").slideToggle(100);
          return false;
        });
        
        $("#nav-main").hover(
          function() {
            $(this).show();
            $("#nav .menu").addClass('hover');
          },
          function() {
            $(this).slideUp('fast');
            $("#nav .menu").removeClass('hover');
            $("#nav .toggle").blur();
          }
        );
  
        $(document).bind('click', function(e) {
          var $clicked = $(e.target);
          if (! $clicked.parents().hasClass("menu"))
            $("#nav-main").hide();
        });
        
        $("a, input, textarea, button").bind('focus', function(e) {
          var $focused = $(e.target);
          if (! $focused.parents().hasClass("menu"))
            $("#nav-main").hide();
        });
  
      });
      // ]]>
    </script>
{% endblock %}
