{# vim: set ts=2 et sts=2 sw=2: #}
{% from 'includes/common_macros.html' import search_box, greeting %}
{% from 'includes/sidebar_modules.html' import quick_links, for_contributors %}
{% if not top_link %}
  {% set top_link = url('home') %}
{% endif %}
{% if not top_text %}
  {% set top_text = _('Firefox Help') %}
{% endif %}
<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale }}" {% if dir %}dir="{{ dir }}"{% endif %}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{ title }} | {{ _('Firefox Help', 'site_title') }}</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" title="{{ _('Firefox Help') }}" href="{{ url('search.plugin') }}"/>
{% if feeds %}
  {% for feed in feeds %}
    <link rel="alternate" type="application/atom+xml" href="{{ feed[0] }}" title="{{ feed[1] }}"/>
  {% endfor %}
{% endif %}

{{ css('common') }}
{% for style in styles %}
{{ css(style) }}
{% endfor %}
<!--[if lte IE 7]>
{{ css('ie') }}
<![endif]-->

{% if meta %}
  {% for tag in meta %}
    <meta name="{{ tag[0] }}" content="{{ tag[1] }}"/>
  {% endfor %}
{% endif %}

<!--[if lt IE 9]>
{# html5-shiv.js must be inside <head/> to work. #}
<script src="{{ MEDIA_URL }}js/libs/html5-shiv.js"></script>
<![endif]-->
</head>
<body{% if classes %} class="{{ classes }}"{% endif %}
      data-readonly="{{ settings.READ_ONLY|json }}"
      data-for-os="{{ for_os|json }}"
      data-for-version="{{ for_version|json }}">

{% include 'layout/header.html' %}

<div id="content">
  <div id="sub-header">
    {% block sub_header %}
      <div id="firefox-help">
        <a href="{{ top_link }}">{{ top_text }}</a>
      </div>
      {% if not hide_header_search %}
        {{ search_box(settings, id='support-search') }}
      {% endif %}
      {{ greeting(user, settings) }}
    {% endblock %}
  </div>

  {% block breadcrumbs %}
    {{ breadcrumbs(crumbs) }}
  {% endblock %}

  {% block above_main %}{% endblock %}

  <div id="main" role="main">
    {% block content %}{% endblock %}
  </div>

  {% block outer_side %}{# TODO: temporary wrapper block until questions and AoA get updated #}
    <div id="side">
      {% block side_top %}{% endblock %}
      {{ quick_links(active=active_side_link) }}
      {% block side %}{% endblock %}
      {{ for_contributors(user) }}
      <div class="sd-module promos">
        {% block side_promos %}
          <section id="want-to-get-involved">
            <h1>{{ _('Be <mark>Awesome</mark>')|safe }}</h1>
            <div class="img">
              <img src="{{ settings.MEDIA_URL }}img/promo.sumo.png" alt="" />
            </div>
            <p>
              {% trans %}Did you know that Firefox Help is powered by volunteer
                superheroes all around the world?{% endtrans %}
            </p>
            <a href="{{ url('wiki.document', 'superheroes-wanted') }}">{{ _('Grab your cape and join us &raquo;')|safe }}</a>
          </section>
          {% if not hide_plugin_check %}
            <section id="check-your-plugins">
              <h1>{{ _('Check your <mark>plugins</mark>')|safe }}</h1>
              <div class="img">
                <img src="{{ settings.MEDIA_URL }}img/promo.plugins.png" alt="" />
              </div>
              <p>
                {% trans %}
                  What is a plugin? Why should I keep them updated? Answer these
                  questions and run an instant check to see if you're up to date.
                {% endtrans %}
              </p>
              <a href="http://www.mozilla.com/plugincheck/">{{ _('Find out more &raquo;')|safe }}</a>
            </section>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}

</div>{# /#content #}

<footer id="footer">
  <div id="footer-contents" role="contentinfo">
    {% with localizable_url=localizable_url %}
      {% include 'layout/footer.html' %}
    {% endwith %}
  </div>{# /#footer-contents #}
</footer>{# /#footer #}

<script src="{{ url('jsi18n') }}/build:{{ BUILD_ID_JS }}"></script>
{{ js('common') }}
{% for script in scripts %}
{{ js(script) }}
{% endfor %}

{# Webtrends Stats Tracking #}
<script src="{{ MEDIA_URL }}js/webtrends.js" defer></script>
<noscript>
    <img id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcskot6d000000w0qxqho15rf_7r6o/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.2"/>
</noscript>
{# End Webtrends #}
</body>
</html>
