{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base.html" %}

{% block content %}
<section id="content" class="sidebar">
<div class="wrap">

  <section id="content-main" role="main">
  <h1 class="page-title">{% block h1 %}{% endblock %}</h1>

  {% block main_content %}{% endblock %}

  <aside id="content-sub" role="complementary">
    {% block sidebar %}{% endblock %}
  </aside>

</div>
</section>
{% endblock %}
