{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set styles = ('search',) %}
{% if not title %}
  {% set title = _('Oops, your request was unsuccessful') %}
{% endif %}
{% if message == None %}
  {% set message = _("We couldn't perform your request. Perhaps because the action is no longer applicable or you tried to perform an invalid action.") %}
{% endif %}

{% block content %}
<article id="error-page" class="main">
  <h1>{{ title }}</h1>

  <p>{{ message }}</p>
</article>
{% endblock %}
