{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set title = _('Access denied') %}

{% block content %}
<article id="error-page" class="main">
  <h1>{{ title }}</h1>

  <p>{{ _('You do not have permission to access this page.') }}</p>

  {% if not user.is_authenticated() %}
    {% include "layout/login.html" %}
  {% endif %}
</article>
{% endblock %}
