{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set title = _('Page Not Found') %}
{% set styles = ('search',) %}
{% set hide_header_search = True %}

{% block content %}
<article id="error-page" class="main">
  <h1>{{ title }}</h1>

  <p>{% trans %}Sorry, we couldn't find the page you were looking for. Please,
  try searching our site using the form below.{% endtrans %}</p>

  {% import "search/basic-form.html" as form %}

  {{ form.form() }}
</article>
{% endblock %}
