{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set title = _('An Error Occurred') %}

{% block content %}
<article id="error-page" class="main">
  <h1>{{ title }}</h1>

  <p>{% trans %}Oh, no! It looks like an unexpected error occurred. We've
  already notified the site administrators. Please try again now, or in a few
  minutes.{% endtrans %}</p>
</article>
{% endblock %}
