/* A button that resembles a text link. These should
   be use sparingly and *only* when a button truly is
   the correct element */
@mixin btn-simple-text() {
    background: none;
    color: $link-color;
    border: 0;
}

.button-base {
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.cta,
.cta {
    @extend .button-base;
    min-width: 200px;
    min-height: 40px;
}

button.primary,
.primary {
    background-color: $brand-primary-300;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        background-color: scale-color($brand-primary-300, $lightness: -20%);
    }
}

/* A button used inline. for exmaple at the end
   of a string of text - ex. Change my name? [ button ] */
.inline {
    min-width: auto;
    min-height: 30px;
}

/* Base for auth buttons */
.auth-button {
    display: block;
    margin: 10px;
    padding: 10px 0;
    border: 2px solid $brand-primary;
    border-radius: 2px;
    min-width: 280px;
    font-weight: bold;
    text-align: center;

    @media #{$mq-tablet-and-up} {
        min-width: 330px;
    }

    &::before {
        display: inline-block;
        content: '';
        background-size: 24px;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        vertical-align: text-bottom;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        box-shadow: $button-box-shadow;
    }
}

@mixin github-auth-button() {
    @extend .auth-button;

    &::before {
        background: transparent url('../../../auth/github-auth.svg') 0 0
            no-repeat;
    }
}

@mixin google-auth-button() {
    @extend .auth-button;

    /* icon use based on the following guidelines:
       https://developers.google.com/identity/branding-guidelines */
    &::before {
        background: transparent url('../../../auth/google-auth.svg') 0 0
            no-repeat;
    }
}
