.auth-service-header {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    padding: 0;
    max-width: 750px;
    text-align: center;
    font-weight: bold;

    @media #{$mq-tablet-and-up} {
        list-style-type: decimal;
    }

    .github-auth,
    .google-auth,
    .mdn-profile {
        position: relative;
        max-width: 140px;

        @media #{$mq-tablet-and-up} {
            max-width: unset;
        }
    }

    .github-auth,
    .google-auth,
    .mdn-profile {
        img {
            display: block;
            margin: 0 auto;
            border: 10px solid #fff;
            border-radius: 50%;
        }
    }

    .checked::after {
        display: block;
        position: absolute;
        top: 12px;
        right: 35px;
        background: transparent url('../../../general/auth-checkmark.svg') 0 0
            no-repeat;
        content: '';
        background-size: 20px;
        width: 20px;
        height: 20px;

        @media #{$mq-tablet-and-up} {
            right: 40px;
            background-size: 25px;
            width: 25px;
            height: 25px;
        }
    }

    .mdn-profile {
        &::after {
            right: 30px;

            @media #{$mq-tablet-and-up} {
                right: 20px;
            }
        }
    }

    .lead-in {
        text-align: center;
    }
}
