.lead-in {
    text-align: center;
}

.existing-account {
    background-color: $warning-background-color;
    padding: 10px;
    border: 2px solid $warning-border-color;
    text-align: center;

    form {
        display: inline;
    }
}

.social-signup-form {
    fieldset {
        @include fieldset;
    }

    legend {
        @include legend;
    }

    label {
        @include label;
        font-weight: normal;
    }

    input[type='text'],
    input[type='email'] {
        @include input-base;
    }

    .edit-default {
        display: block;
        @include btn-simple-text();
        padding-left: 0;

        @media #{$mq-tablet-and-up} {
            display: initial;
            padding-left: 10px;
        }
    }

    .field-explanation {
        margin-top: 5px;
        @include set-font-size($tiny-font-size);
    }

    .email-signup {
        margin-bottom: 30px;
    }

    .email-choices-container {
        li {
            margin: 5px 0;
        }
    }

    .terms-privacy {
        display: block;
        font-weight: normal;
    }

    .newsletter-signup {
        margin: 8px 0 40px;

        svg {
            height: 17px;
        }
    }

    .submit {
        text-align: center;
    }

    .account-help {
        margin: 40px 0;
        @include set-font-size(16px);
        text-align: center;
    }
}
