.auth-service-header {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    padding: 0;
    max-width: 750px;
    text-align: center;
    font-weight: bold;

    @media #{$mq-tablet-and-up} {
        list-style: decimal;
    }

    .github-auth,
    .mdn-profile {
        max-width: 140px;

        @media #{$mq-tablet-and-up} {
            max-width: unset;
        }
    }

    .github-auth::before,
    .mdn-profile::before {
        display: block;
        content: '';
        margin: 0 auto;
        background-size: 70px;
        width: 70px;
        height: 70px;

        @media #{$mq-tablet-and-up} {
            background-size: 100px;
            width: 100px;
            height: 100px;
        }
    }

    .github-auth::before {
        background-image: url('../../../general/auth-checkmark.svg'),
            url('../../../social/github-auth.svg');
        background-repeat: no-repeat;
        background-position: 48px 5px, 0 0;
        background-size: 20px, 70px;

        @media #{$mq-tablet-and-up} {
            background-position: 70px 8px, 0 0;
            background-size: 25px, 100px;
        }
    }

    .mdn-profile::before {
        background: transparent url('../../../brand/mdn-auth.svg') 0 0 no-repeat;
        opacity: 0.5;
    }

    .lead-in {
        text-align: center;
    }
}
