.auth-providers {
    @include card();
    margin: 20px auto;

    @media #{$mq-tablet-and-up} {
        margin: 60px auto;
    }

    &:focus {
        outline: 0;
    }

    .auth-button-container {
        margin: 0 auto;
        width: 350px;
    }

    .github-auth {
        @include github-auth-button();
    }

    .google-auth {
        @include google-auth-button();
    }
}
