@import '../utils/utility-mixins.scss';

.breadcrumbs {
    flex: 1 1;

    ol {
        flex: 1 1;
        font-size: 0.9rem;
    }

    li {
        display: inline;
        hyphens: auto;

        a.crumb-current-page {
            &:link,
            &:visited {
                color: $text-color;
            }
        }

        .breadcrumb-previous {
            &::before {
                @include caret-arrow($blue, left);
                margin: 0 10px 0 0;
                position: relative;
                top: -1px;
            }
        }

        // only show immediate parent on mobile and tablet
        .crumb-current-page,
        .breadcrumb-chevron {
            @include visually-hidden();
        }

        // if there are no crumb parents, reveal the current page crumb
        &:first-child > [class*='crumb-current-page'] {
            @include reset-visually-hidden();
        }
    }
}

@media #{$mq-small-desktop-and-up} {
    .breadcrumbs {
        li {
            // reveal other breadcrumbs on Desktop
            .breadcrumb-chevron,
            .crumb-current-page {
                @include reset-visually-hidden();
            }

            .breadcrumb-previous {
                &::before {
                    display: none;
                }
                span::before {
                    display: none;
                }
            }

            .breadcrumb-previous,
            .breadcrumb-chevron {
                &::after {
                    @include caret-arrow($grey-vdark);
                    margin: 0 8px 0 5px;
                    position: relative;
                    top: -1px;
                }
            }
        }

        .pre-text {
            @include visually-hidden();
        }
    }
}
