.breadcrumbs {
    flex: 1 1;

    ol {
        flex: 1 1;
        font-size: 0.9rem;
    }

    li {
        display: inline;
        hyphens: auto;
    }

    .breadcrumb-chevron:after {
        display: inline-block;
        content: '›';
        color: $grey-vdark;
        margin: 0 5px;
        font-size: 1rem;
        font-weight: bold;
    }
}
