$card-gradient-start-color: #3794bc;
$card-gradient-end-color: #7556ce;

@mixin card($gradient: false) {
    background-color: $light-grey;
    border: $light-thin-border;
    border-radius: 4px;
    max-width: 400px;

    @if $gradient {
        &::before {
            display: block;
            content: '';
            background-image: linear-gradient(
                -271deg,
                $card-gradient-start-color,
                $card-gradient-end-color
            );
            height: 4px;
        }
    }

    h2,
    p,
    ul {
        padding: 0 20px;
        text-align: center;
    }
}
