/*
homepage masthead (search, feature callouts)
********************************************************************** */

.home-masthead {
    @include clearfix();
    position: relative;
    background: $accent-light url('../../img/home-masthead-background.svg') 40%
        0 no-repeat;
    box-sizing: border-box;
    padding-top: ($grid-spacing * 2);
    padding-bottom: ($grid-spacing * 2);
    text-align: center;
    overflow: hidden;

    h1 {
        @include set-font-size(42px);
        margin: 0 0 ($grid-spacing * 2);
        line-height: 1;
    }
}

.home-masthead-no-search {
    h1 {
        @extend %highlight;
    }
}

@media #{$mq-tablet-and-up} {
    .home-masthead {
        min-height: 444px;
        padding-top: 150px;

        &:before {
            content: '';
            position: absolute;
            top: $grid-spacing;
            left: 50%;
            height: 200px;
            width: 246px;
            margin-left: 246px / 2 * -1; // centers it, does not need to be changed for RTL
            background: url('../../img/hero-dino.png');
            background-size: auto 200px;
        }
    }

    .home-masthead-no-search {
        // When we remove the search box from the masthead
        // (as in the React-based beta site) we want a smaller
        // minimum height
        min-height: 350px;
    }
}
