@import '../../includes/vars';

.loading-bar {
    position: fixed;
    display: none;
    background-image: linear-gradient(-271deg, $blue, $blue-light);
    height: 5px;
    width: 100%;
}

.loading-animation {
    display: block;
    animation: slidein 0.5s, throb 1s infinite alternate;
}

@keyframes slidein {
    0% {
        transform: translate(-100%, 0);
    }

    20% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes throb {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}
