@import '../vars/vars-nav';

/*
[mdn-static] ~ main navigation menu
********************************************************************** */
.main-nav {
    grid-area: M;
    @include set-font-size(18px);

    & > ul {
        display: block;

        @media #{$mq-tablet-and-up} {
            display: flex;
            position: relative;
            justify-content: space-evenly;
            font-weight: bold;
            z-index: $menu-zindex;
        }

        .main-menu-arrow {
            padding-left: 2px;
            font-size: 75%;
        }
    }

    li ul {
        display: none;
        background-color: #fff;
        margin: 0;
        padding: 4px 0;

        @media #{$mq-tablet-and-up} {
            box-shadow: $menu-box-shadow;
            border: $menu-border;
            border-radius: $menu-border-radius;
        }

        a {
            display: block;
            padding: 6px 16px;
            width: 100%;

            &:hover {
                background-color: $dropdown-item-background-color;
                color: #fff;
                text-decoration: none;
            }

            @media #{$mq-tablet-and-up} {
                width: unset;
            }
        }

        li {
            width: 100%;

            @media #{$mq-tablet-and-up} {
                width: unset;
            }
        }
    }

    .top-level-entry-container {
        position: relative;

        ul.show {
            display: block;

            @media #{$mq-tablet-and-up} {
                position: absolute;
                right: 0;
                min-width: 220px;
                min-width: max-content;
                z-index: 99;
            }

            @media #{$mq-small-desktop-and-up} {
                right: inherit;
            }
        }

        button {
            border: none;
            width: 100%;
            text-align: left;
            padding: 10px 10px 15px 0;

            @media #{$mq-tablet-and-up} {
                padding: 10px;
                width: unset;
            }
        }
    }
}
