@import '../vars/vars-nav';

/*
[mdn-static] ~ main navigation menu
********************************************************************** */
.main-nav {
    @include set-font-size(18px);
}

.main-menu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 100vh;
    font-weight: bold;
    z-index: $menu-zindex;

    @media #{$mq-tablet-and-up} {
        position: relative;
        top: inherit;
        display: flex;
        justify-content: space-evenly;
        width: inherit;
        height: inherit;
    }

    @media #{$mq-small-desktop-and-up} {
        padding: 0;
    }

    li ul {
        display: none;
        background-color: #fff;
        margin: 0;
        padding: 4px 0;

        @media #{$mq-tablet-and-up} {
            box-shadow: $menu-box-shadow;
            border: $menu-border;
            border-radius: $menu-border-radius;
        }

        a {
            display: block;
            padding: 6px 16px;
            width: 100%;

            &:hover {
                background-color: $dropdown-item-background-color;
                color: #fff;
                text-decoration: none;
            }

            @media #{$mq-tablet-and-up} {
                width: unset;
            }
        }

        li {
            width: 100%;

            @media #{$mq-tablet-and-up} {
                width: unset;
            }
        }
    }

    .top-level-entry-container {
        position: relative;

        ul.show {
            display: block;

            @media #{$mq-tablet-and-up} {
                position: absolute;
                right: 0;
                min-width: 220px;
                min-width: max-content;
                z-index: 99;
            }

            @media #{$mq-small-desktop-and-up} {
                right: inherit;
            }
        }

        button {
            border: none;
            width: 100%;
            text-align: left;
            padding: 10px 10px 15px 0;

            &::after {
                display: inline-block;
                content: '▼';
                margin-left: 5px;
                width: 12px;
                height: 12px;
                font-size: $tiny-font-size;
            }

            @media #{$mq-tablet-and-up} {
                padding: 10px;
                width: unset;
            }
        }
    }

    &.show {
        display: block;

        @media #{$mq-tablet-and-up} {
            display: flex;
        }
    }
}
