.page-header {
    position: relative;
    padding: 20px;

    @supports (display: grid) {
        display: grid;
        gap: 20px;
        grid-template-columns: 40px 2fr 80px;

        @media #{$mq-tablet-and-up} {
            grid-template-columns: 220px 2fr 80px;
            align-items: center;
        }

        @media #{$mq-large-desktop-and-up} {
            grid-template-columns: 220px 2fr 350px 80px;
        }

        .logo,
        .main-nav {
            grid-row: 1/2;
        }

        .main-nav {
            grid-column: 1/2;

            @media #{$mq-tablet-and-up} {
                grid-row: 2/3;
                grid-column: 1/4;
            }

            @media #{$mq-large-desktop-and-up} {
                grid-row: 1/2;
                grid-column: 2/3;
            }
        }

        .logo {
            grid-column: 2/3;

            @media #{$mq-tablet-and-up} {
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }

        .header-search {
            @media #{$mq-tablet-and-up} {
                grid-row: 1/2;
                grid-column: 2/3;
            }

            @media #{$mq-large-desktop-and-up} {
                grid-column: 2/4;
            }
        }

        .signin-link,
        .auth-container {
            grid-row: 1/2;
            grid-column: 3/4;

            @media #{$mq-tablet-and-up} {
                grid-row: 1/2;
                grid-column: 3/4;
            }

            @media #{$mq-large-desktop-and-up} {
                grid-column: 4/5;
            }
        }
    }
}
