@import '../utils/utility-mixins.scss';

.header-search {
    $mobile-search-height: 68px;
    $icon-size: 24px;
    box-sizing: border-box;
    position: absolute;
    top: -$mobile-search-height;
    right: 0;
    width: 100vw;
    height: $mobile-search-height;

    form {
        background: $neutral-100;
        grid-area: S;
        display: flex;
        flex: 2 1;
        flex-direction: row;
        height: $mobile-search-height;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        padding: 0 20px;
        transition: transform 0.2s ease-in;
        width: calc(100% - #{$mobile-search-height});

        .search-icon {
            display: none;
        }
    }

    input.search-input-field {
        flex: 1 1 100px;
        color: $text-color;
        border-width: 0;
        min-width: 60px;

        &:focus,
        &:invalid {
            border: 0;
            outline: none;
            box-shadow: none;
        }
    }

    .toggle-form {
        @include reset-visually-hidden();
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: $mobile-search-height;
        top: $mobile-search-height;
        right: 0;

        span {
            @include visually-hidden;
        }

        .search-icon,
        .close-icon {
            transition: transform 0.2s ease-in;
            width: $icon-size;
            height: $icon-size;
            position: absolute;
        }

        .close-icon {
            transform: translateY(-$mobile-search-height);
        }
    }

    &.show-form {
        position: fixed;
        z-index: 1;

        form {
            background: $neutral-100;
            transform: translateY($mobile-search-height);
        }

        .toggle-form {
            top: 0;

            .close-icon {
                transform: translateY(0);
            }

            .search-icon {
                transform: translateY($mobile-search-height);
            }
        }
    }
}

@media #{$mq-tablet-and-up} {
    .header-search {
        position: inherit;
        width: inherit;
        height: 40px;
        min-width: 80px;

        &.show-form {
            width: auto;
            position: inherit;
        }

        // needs [role='search'] to make it more specific in order to
        // override form.show-form styles
        form[role='search'] {
            @include reset-visually-hidden();
            transition: none;
            transform: translateY(0);
            padding: 2px 8px;
            border: 2px solid $text-color;
            border-radius: 20px;
            height: 40px;
            min-width: 80px;

            .search-icon {
                display: inline-block;
                flex: 0 0 25px;
                fill: $text-color;
            }
        }

        .toggle-form {
            @include visually-hidden();
        }
    }
}
