.notification {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 15px;
    right: 15px;
    background-color: $blue-light;
    color: $text-color;
    padding: 15px;
    padding-right: 8px;
    border: 2px solid $blue;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    width: 300px;
    font-size: $base-font-size;
    z-index: 999999;

    .dismiss-button {
        background-color: inherit;
        align-self: start;
        padding: 0;
        border-width: 0;
    }

    .dismiss-icon {
        height: 18px;
    }
}
