@import '../vars/vars-color-palette';

.titlebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey-light;
    padding: 8px 16px;
    border-bottom: solid 1px $blue-grey;
    border-top: solid 1px $blue-grey;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;

    @media #{$mq-tablet-and-up} {
        min-height: 106px;
        padding: 12px 24px;
    }

    .titlebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 1352px;
    }

    .title {
        flex: 1 1;
        font-size: $h3-font-size;
        font-weight: bold;
        hyphens: auto;

        @media #{$mq-tablet-and-up} {
            font-size: $h1-font-size;
        }
    }
}
