/*
mixins applying only to the wiki
********************************************************************** */

@mixin make-wiki-blocks-flat() {
    #wiki-content,
    #wiki-right,
    #wiki-left {
        margin-right: 0;
        width: auto !important; /* stylelint-disable-line declaration-no-important */
        float: none;
        padding-bottom: ($grid-spacing * 2);
    }
}

@mixin enable-toc-toggle() {
    #toc {
        padding: ($grid-spacing / 2) $grid-spacing;

        .toggler {
            pointer-events: auto;
            color: $link-color;

            i {
                display: inline-block;
            }
        }

        .toggle-container {
            display: none;

            .no-js & {
                display: block;
            }
        }
    }
}

%review-base {
    @include box-theme('warning');
    color: $text-color;
}
