/*
Indicators
- in a perfect world each indicator is composed of 2 classes that
  combine to indicate how it should display.
- one to indicate whether it is a block or a inline indicator
- one to indicate what colour and icons it should halve
- in practice there are multiple classes that indicate these things
  and a few indicators that only have one class to serve both purposes
********************************************************************** */


/*
block indicators aka banners
- full width, left border, optional icon
====================================================================== */

.blockIndicator,
.overheadIndicator,
.standardNoteBlock,
.banner,
.inheritsbox,
.notice,
.note,
.warning,
.geckoVersionNote {
    @extend %indicator-block;

    /* heading */
    p > strong {
        @extend %indicator-block-heading;
    }
}

/* heading */
.bannerHeading {
    @extend %indicator-block-heading;
}

/* If there are 2 indicators in close proximity, snug them up.
   Too many combinations to do them all but this
   should take care of most common combinations */
.warning + .warning,
.warning + .overheadIndicator,
.overheadIndicator + .overheadIndicator,
.note + .note {
    margin-top: ($grid-spacing * -1) + 2;
}

/* code block looks funny without it's padding,
   only appears in kumascript error boxes AFIK */
.warning pre:last-child {
    padding-bottom: $code-block-padding;
}

/* remove empty p tag between top of note and start of heading
   if text editor has inserted one  */
.geckoVersionNote {
    > p:first-child:empty {
        display: none;
    }
}


/*
modifications for 'system' indicators
- border goes all the way around, meant to indicate info is
  seperate from content
-------------------------------------------------------------- */

.draft,
.notice:not(.experimental),
.translationInProgress {
    @extend %indicator-system;
}

.warning {
    &#kserrors,
    &#doc-rendering-in-progress,
    &#doc-rendering-scheduled,
    &.warning-review {
        @extend %indicator-system;
    }
}


/*
inline indicators aka badges
- inline-block, smaller font
====================================================================== */

.inlineIndicator,
.indicatorInHeadline,
.badge {
    @extend %indicator-inline;
    @extend %indicator-inline-icon;
}

.inlineIndicator[title],
.indicatorInHeadline[title] {
    cursor: help;
}


/*
inline in a heading
-------------------------------------------------------------- */

.headingWithIndicator {
    @include clearfix();

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include bidi-value(float, left, right);
    }
}

.indicatorInHeadline {
    @include bidi-value(float, right, left);
}


/*
icons for both types of indicators
====================================================================== */

#kserrors.warning {
    @extend %indicator-with-icon;
    @include indicator-icon('\f119'); /* frowny facy */
}

#doc-rendering-in-progress.warning,
#doc-rendering-scheduled.warning {
    @include indicator-icon('\f017'); /* clock */
}

.experimental,
.experimentalBadge,
/* es7 and harmony macros  */
.overheadIndicator[style='background: #9CF49C;'],
/*
IE 11 converts hex to rgb, so target that as well.
*/
.overheadIndicator[style='background: rgb(156, 244, 156);'] {
    @include indicator-icon('\f0c3'); /* flask */
}

.warning:not(.notification) {
    @include indicator-icon('\f06a'); /* circle with excamation point */
}

.deprecated {
    @include indicator-icon('\f088'); /* thumbs down */
}

.draft,
.warning.warning-review,
.translationInProgress {
    @include indicator-icon('\f044'); /* edit icon */
}

.note {
    @include indicator-icon('\f016'); /* file icon rotated */

    &:before {
        @include vendorize(transform, scaleY(-.8) scaleX(.8));
    }
}

.obsolete {
    @include indicator-icon('\f014'); /* trash can */
}

.nonStandard,
.nonstandardBadge {
    @include indicator-icon('\f071'); /* triangle with exclamation point */
}

.privilegedBadge,
.install {
    @include indicator-icon('\f132'); /* shield */
}

.translationInProgress {
    @include indicator-icon('\f0ac'); /* globe */
}

.secureContexts {
    @include indicator-icon('\f023'); /* lock */
}

/*
Colours for both types
====================================================================== */

/* don't use */
.warning,
.obsolete,
.obsoleteBadge,
.deprecated,
.deprecatedBadge,
.nonStandard,
.nonstandardBadge,
.unimplemented,
.unimplementedBadge {
    @extend %indicator-danger;
}

/* if you don't know this it won't work */
.warning.warning-review,
.draft,
.todo,
.note,
.notice,
.renamed,
.secureContexts,
.prefixBox,
.privilegedBadge,
.translationInProgress {
    @extend %indicator-warning;
}

/* version info */
.experimental,
.experimentalBadge,
.htmlVer,
.domLevel,
.jsMinVer,
.jsMinVerHeader,
.standardNote,
.mbMinVer,
.tbMinVer,
.smMinVerHeader,
.notXPCOM,
.mobileOnly,
.projectSpecific, /* single use, might be able to remove */
.geckoVersionNote,
.geckoMinVer,
.geckoMinVerMethod,
.firefoxVersionBadge,
.geckoVersionBadge {
    @extend %indicator-version;
}

/* you might like to know */
.optional {
    @extend %indicator-info;
}


/*
Special snowflakes
-------------------------------------------------------------- */

/* kumascript warnings get brigther red */
#kserrors.warning,
#doc-rendering-in-progress.warning,
#doc-rendering-scheduled.warning {
    border-color: #{map-get( map-get($colors-lookup, 'negative'), 'dark')};
    background-color: #{map-get( map-get($colors-lookup, 'negative'), 'dark')};
    @extend %indicator-link-invert;
    @extend %indicator-text-invert;
}

/* code colouration */
.inheritsbox {
    border-color: $code-block-border-color;
    background: $code-block-background-alt-color;
}

/* bright red */
.noscript {
    border-color: #f20000;
    background: #f00;
    @extend %indicator-text-invert;
    @extend %indicator-link-invert;
}

/* black */
.readOnly {
    border-color: #4b4b4b;
    background: #595959;
    @extend %indicator-text-invert;
    @extend %indicator-link-invert;
}

/* harmony */
.overheadIndicator[style='background: #9CF49C;'],
.overheadIndicator[style='background: rgb(156, 244, 156);'] {
    border-color: #{map-get( map-get($colors-lookup, 'positive'), 'medium')} !important; /* stylelint-disable-line declaration-no-important */
    background: #{map-get( map-get($colors-lookup, 'positive'), 'light')} !important; /* stylelint-disable-line declaration-no-important */
}


/* heading that goes in with geckoVersionNote */
.geckoVersionHeading {
    margin: (($grid-spacing / 2) * -1) (($grid-spacing / 2) * -1) 4px;
    padding: $content-vertical-spacing $content-horizontal-spacing;
    background: -theme-pale-medium($blue);
    @extend %indicator-block-heading;

    > div {
        font-family: $tiny-font-family;
    }
}
