/*
document review form stuff
********************************************************************** */

.reviews {
    @include set-message-base(false);
    @include set-smaller-font-size();
    @extend %review-base;

    p {
        margin: 0;
    }

    ul {
        padding-bottom: $content-vertical-spacing;
    }

    li {
        /* grid for simple layout tweak, default is good for non-supporting browsers  */
        display: grid;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
        grid-gap: $content-horizontal-spacing;
        padding-top: $content-vertical-spacing;
    }
}
