{% extends "base.html" %}

{% block bodyclass %}error{% endblock %}

{% block title %}{{ page_title(_('Permission Denied')) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'error-403-alternate' %}
{% endblock %}

{% block content %}

<section id="content" class="text-content">
<div class="wrap">

  <section id="content-main" class="full" role="main">

    <h1 class="page-title">{% block page_title %}{{ _('Permission Denied') }}{% endblock %}</h1>
    {% block reason -%}

    {% if reason == 'kumaediting' %}
      <p class="notice">{{ _('The wiki is in read-only mode.') }}</p>
    {% elif reason == 'kumabanned' %}
      <p class="notice">{{ _('Your profile has been banned from making edits.') }}</p>
    {% elif reason == 'bannedprofile' %}
      <p class="notice">{{ _("This user's profile has been banned.") }}</p>
    {% elif reason == 'revisions_login_required' %}
      <p class="notice">{{ _("You must sign in to view all history") }}</p>
    {% endif %}
    {% endblock reason %}

    {% block tumbeast %}
    <img src="{{ static('img/beast-403.png') }}" alt="" class="beast 403">
    {% endblock tumbeast %}

    {% block next_action %}
    {% if user.username %}
      {% trans name=user.username %}
      <p>We're sorry {{ name }}, we're afraid we can't do that.</p>
      {% endtrans %}
    {% else %}
      {% trans name=user.username %}
      <p>We're sorry, we're afraid we can't do that.</p>
      {% endtrans %}
    {% endif %}

      <ul class="prose">
      {% if user.username %}
        {% trans logout_url=url('account_logout') %}
          <li><a href="{{ logout_url }}">Sign out</a> to try again.</li>
        {% endtrans %}
      {% else %}
        {% trans login_url=url('account_login')|urlparams(next=request.get_full_path()) %}
          <li><a href="{{ login_url }}">Sign in</a> to try again.</li>
        {% endtrans %}
      {% endif %}
      </ul>
    {% endblock %}

    {% block tumbeast_attribution -%}
      {% trans %}
      <p class="attrib"><small><a href="http://theoatmeal.com/comics/state_web_summer#tumblr" rel="nofollow">Tumbeasts</a> by Matthew Inman of <a href="http://theoatmeal.com" rel="nofollow">The Oatmeal</a></small></p>
      {% endtrans %}
    {% endblock tumbeast_attribution %}

  </section>

</div>
</section>

{% endblock %}

{% block site_js %}
    {{ super() }}
    {% javascript 'framebuster' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    mdn.analytics.trackError('403', String(window.location));
</script>
{% endblock %}
