{% set wiki = False %}
{% set untrusted = False %}

<!DOCTYPE html>
<html lang="{% block lang %}{{ LANG }}{% endblock %}" dir="{{ DIR }}" class="no-js">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  {%- block experiment_js %}{% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
  <title>{% block title %}{{ _('MDN Web Docs') }}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content=
    {%- if request.get_host() in settings.ALLOW_ROBOTS_WEB_DOMAINS -%}
        "{% block robots_value%}index, follow{% endblock %}"
    {%- else -%}
        "noindex, nofollow"
    {%- endif -%}
  >

  {% include "includes/preload.html" %}

  <link rel="home" href="{{ url('home') }}">
  <link rel="license" href="#license">

  {% block site_css %}
    {% include "includes/style.html" %}
  {% endblock %}

  {%- if settings.MAINTENANCE_MODE %}
    {% stylesheet 'maintenance-mode-global' %}
  {%- endif %}

  {% include "includes/zilla.html" %}

  {% include "includes/react_google_analytics.html" %}

  {% block speedcurve_lux %}
    {% include "includes/speedcurve-lux.html" %}
  {% endblock %}

  {% block perfhead %}{% endblock %}

  {%- block site_meta %}
  <!-- common social tags -->
  {% set social_logo = request.build_absolute_uri(static('img/opengraph-logo.png')) %}
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ social_logo }}">
  <meta property="og:site_name" content="{{ _('MDN Web Docs') }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ social_logo }}">
  <meta name="twitter:site" content="@MozDevNet">
  <meta name="twitter:creator" content="@MozDevNet">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ settings.SITE_URL }}/{{ request.LANGUAGE_CODE }}/search/xml" title="{{ _('MDN Web Docs') }}">
  {% endblock %}
  <!-- third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static('img/favicon144.png') }}">
  <!-- iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static('img/favicon114.png') }}">
  <!-- first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static('img/favicon72.png') }}">
  <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ static('img/favicon57.png') }}">
  <!-- basic favicon -->
  <link rel="shortcut icon" href="{{ favicon_url() }}">

  {% include "includes/polyfill_scripts.html" %}

  {% block extrahead %}{% endblock %}

  {% block printstyle %}
    {% stylesheet 'print' %}
  {% endblock %}
</head>
<body {% block body_attributes %}{% endblock %} class="{% block bodyclass %}{% endblock %}{% if settings.MAINTENANCE_MODE %} maintenance-mode{% endif %}">

  {% include "includes/config.html" %}

  {%- if settings.MAINTENANCE_MODE %}
    <div class="global-notice maintenance-mode-notice">
      <div class="wrap center">
        <p>
          <bdi>
            {{ _('MDN is currently in read-only maintenance mode.') }}
          </bdi>
        </p>
      </div>
    </div>
  {%- else %}
    {{ soapbox_messages(get_soapbox_messages(request.path)) }}
  {%- endif %}

  <!-- Header -->
  {% block pageheader %}{% endblock %}

  <!-- Content will go here -->
  {% block document_head %}{% endblock %}
  {% block content %}{% endblock %}

  {%- block contrib_popup %}{# Inject contributions popup where needed #}{% endblock %}

  {% block footer %}
    <!-- Footer -->
    <footer id="nav-footer" class="nav-footer">
      <div class="content-container">
        <a href="{{ url('home') }}" class="nav-footer-logo">{{ _('MDN Web Docs') }}</a>
        
        <ul class="link-list-mdn">
          <li><a href="{{ wiki_url('Web') }}">{{ _('Web Technologies') }}</a></li>
          <li><a href="{{ wiki_url('Learn') }}">{{ _('Learn Web Development') }}</a></li>
          <li><a href="/docs/MDN/About">{{ _('About MDN') }}</a></li>
          <li><a href="{{ wiki_url('MDN/Feedback') }}">{{ _('Feedback') }}</a></li>
        </ul>
        
        <ul class="link-list-moz">
          <li><a href="https://www.mozilla.org/about/" target="_blank" rel="noopener noreferrer">{{ _('About') }}</a></li>
          <li><a href="https://shop.spreadshirt.com/mdn-store/" target="_blank" rel="noopener noreferrer">MDN Web Docs Store</a></li>
          <li><a href="https://www.mozilla.org/contact/" target="_blank" rel="noopener noreferrer">{{ _('Contact Us') }}</a></li>
          <li><a
              href="https://www.mozilla.org/firefox/?utm_source=developer.mozilla.org&utm_campaign=footer&utm_medium=referral" target="_blank" rel="noopener noreferrer">Firefox</a>
          </li>
        </ul>
        
        <div class="social social-mdn">
          <h4>{{ _('MDN') }}</h4>
          <ul>
            <li>
              <a href="https://twitter.com/mozdevnet" target="_blank" rel="noopener noreferrer">
                {{ include_svg('includes/icons/social/twitter.svg', _('Twitter')) }}
              </a>
            </li>
            <li>
              <a href="https://github.com/mdn/" target="_blank" rel="noopener noreferrer">
                {{ include_svg('includes/icons/social/github.svg', _('GitHub')) }}
              </a>
            </li>
          </ul>
        </div>
        
        <div class="social social-moz">
          <h4>{{ _('Mozilla') }}</h4>
          <ul>
            <li>
              <a href="https://twitter.com/mozilla" target="_blank" rel="noopener noreferrer">
                {{ include_svg('includes/icons/social/twitter.svg', _('Twitter')) }}
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/mozillagram/" target="_blank" rel="noopener noreferrer">
                {{ include_svg('includes/icons/social/instagram.svg', _('Instagram')) }}
              </a>
            </li>
          </ul>
        </div>
        
        <div id="license" class="footer-license">
          {% trans copyright_url='/en-US/docs/MDN/About#Copyrights_and_licenses', thisyear=thisyear() %}
          &copy; 2005-{{ thisyear }} Mozilla and individual contributors. Content is available
          under <a href="{{ copyright_url }}">these licenses</a>.
          {% endtrans %}
        </div>
        
        <ul class="footer-legal">
          <li>
            <a href="https://www.mozilla.org/about/legal/terms/mozilla" target="_blank" rel="noopener noreferrer">{{ _('Terms') }}</a>
          </li>
          <li>
            <a href="https://www.mozilla.org/privacy/websites/" target="_blank" rel="noopener noreferrer">{{ _('Privacy') }}</a></li>
          <li>
            <a href="https://www.mozilla.org/privacy/websites/#cookies" target="_blank" rel="noopener noreferrer">{{ _('Cookies') }}</a>
          </li>
        </ul>
      </div>
    </footer>
    <div class="page-overlay hidden"></div>
  {% endblock %}

  {% block auth_modal %}
    {% include "includes/auth-modal.html" %}
  {% endblock %}

  <!-- site js -->
  {% block site_js %}
    {{ providers_media_js() }}
    {% javascript 'react-main' %}
    {% javascript 'auth-modal' %}
    {% for script in scripts %}
      {% javascript script %}
    {% endfor %}
  {% endblock %}

  {% block js %}{% endblock %}
</body>
</html>
