.user-edit {
    h1,
    fieldset {
        @include clearfix();
    }

    /* Set forms to full width so that they resize with the column. */
    .section li > input[type='text'],
    select,
    textarea,
    #tagit-interests,
    #tags-expertise,
    legend {
        width: 100%;
        @include vendorize(box-sizing, border-box);
    }

    .newsletter-signup {
        margin-bottom: 20px;

        svg {
            height: 17px;
        }
    }

    .button-container {
        a,
        button {
            border-radius: 3px;
            padding: 5px 20px;
        }
    }
}
