.user-edit {

    h1,
    fieldset {
        @include clearfix();
    }

    /* Set forms to full width so that they resize with the column. */
    .section li > input[type='text'],
    select,
    textarea,
    #tagit-interests,
    #tags-expertise,
    legend {
        width: 100%;
        @include vendorize(box-sizing, border-box);
    }
}
