.user-links {
    display: inline-block;

    li {
        display: inline-block;
        @include bidi(((margin-right, $content-horizontal-spacing, margin-left, 0),));
        margin-bottom: $grid-spacing;
    }

    i {
        @include right-icons();
        @include set-font-size($base-font-size);
    }
}
