.manage-payments {
    .button {
        line-height: 2em;

        > svg {
            overflow: visible;
        }

        &.back {
            margin: 8em 0 1em 0;
        }

        &.negative {
            float: right;
        }
    }

    .confirmation {
        display: flex;
        float: right;
        padding: 1em;

        .button-group {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-left: 4em;

            button {
                display: inline;
                margin-right: 5px;
                max-height: 3em;
            }
        }
    }

    .alert {
        &.danger {
            background: $red-light;
            border: 1px solid $red;
        }

        &.success {
            background: $green-light;
            border: 1px solid $green;
            color: #008200;
        }
    }

    @media #{$mq-small-mobile-and-down} {
        .column-4 {
            margin: 1em 0;
            padding: 0;
            width: 100%;
        }
    }

    .manage-payments-header {
        background: #fafafa;
        left: 0;
        padding: 2em 1.5em;
        position: absolute;
        right: 0;
        top: 0;
    }

    .manage-payments-help {
        background: #fff;
        float: right;

        &.column-4 {
            float: right;
        }

        h4 {
            font-weight: normal;
            line-height: 3rem;
            margin-bottom: .2em;
        }

        .cta-link {
            color: #000;
        }
    }

    .bordered-info {
        border: 2px solid #000;
        display: block;
        font-size: 1em;
        margin-bottom: 1em;
        padding: 1em;

        @media #{$mq-mobile-and-down} {
            border: none;
            font-size: 1em;
            padding: 0;
        }

        th,
        td {
            padding-right: 3em;
        }

        th {
            font-family: $heading-font-family;
        }

        td {
            font-weight: bold;
        }
    }
}
