.user-title {
    set-font-size(26px);
    letter-spacing: 0;
    margin-bottom: ($grid-spacing / 2);

    @media $media-query-tablet {
        line-height: 1.2;
    }
}

.user-title-profile {
   bidi-value(float, right, left);
   set-font-size($small-bump-font-size);
}

.user-title-fullname {
    color: $user-head-secondary-text-color;
    font-weight: normal;
    set-larger-font-size();
    white-space: nowrap;
}
