.user-tags {
    margin-bottom: $grid-spacing;

    h2 {
        @include set-font-size($base-font-size);
        margin-bottom: 0;
    }

    li {
        display: inline;
        @include set-smaller-font-size();
        @include bidi-style(margin-right, 10px, margin-left, 0);
    }
}
