/* User edit newsletter */
.user-newsletter-container {
    background: $light-background-color;
    padding: $grid-spacing;
    margin-bottom: $grid-spacing;
    overflow: hidden;
}

/* For tablet and lower, move the user buttons below the user name */
@media $media-query-tablet {
    .user-newsletter-container {
        margin-bottom: ($grid-spacing * 1.5);
    }
}

@media $media-query-mobile {
    .user-newsletter-container {
        #apps-newsletter-subscribe {
            margin: 0;
            padding: 0;
        }

        .fm-submit {
            display: none;
        }
    }
}
