.user-title {
    @include set-font-size(26px);
    letter-spacing: 0;
    margin-bottom: ($grid-spacing / 2);

    @media #{$mq-tablet-and-down} {
        line-height: 1.2;
    }
}

.user-title-profile {
    @include bidi(((float, right, left),));
    @include set-font-size($small-bump-font-size);
}

.user-title-fullname {
    color: $user-head-secondary-text-color;
    font-weight: normal;
    @include set-larger-font-size();
    white-space: nowrap;
}
