.activity {
    border-collapse: collapse;
    @include set-smaller-font-size();
    width: 100%;

    td,
    th {
        padding: 6px 3px;
    }

    h3 {
        @include set-font-size($base-bump-font-size);
        margin: 0 0 ($grid-spacing / 4);
    }

    thead {
        background: $header-background-color;
        th {
            font-weight: bold;
        }
    }

    tbody {
        h3 {
            margin-bottom: 4px;
        }

        tr {
            &:nth-child(even) {
                background: $light-background-color;
            }
        }

        th {
            font-weight: 200;
        }
    }
}

.activity-date {
    width: 120px;
}

.activity-page {
    width: 40%;
}

.activity-actions {
    @include set-font-size(10px);

    li {
        display: inline;
        @include bidi-style(margin-right, 10px, margin-left, 0);
    }
}
