// Styles for the contribution form
// TODO: cleanup this file
// Form cta background
$background-colors: #83cff3,#ebf8e1;
$background-gradient: linear-gradient(to right, nth($background-colors, 1) , nth($background-colors, 2));

// Form Varibles
$input-height: 64px;
$input-spacing: 18px;
$button-color: #3143e2;

// Gradient background for the contribution flow
.contribution-banner {
    background-image: $background-gradient;
    position: relative;
    overflow: hidden;

    .row {
        max-width: 1300px;
        margin: 0 auto;
    }

    .column {
        padding: 20px;
        position: relative;
    }

    .backdrop-image {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .button-tab-group {
        background: #fff;
        padding: 1em;
        border-radius: 50px;
        display: inline-block;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);

        button,
        .button {
            background-color: #fff;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            line-height: 50px;
            border: 2px solid $text-color;
            margin: 0 3px;
            padding: 5px 0 0 0;
            box-sizing: border-box;
            &:hover {
                background-color: darken(#fff, 3%);
            }
        }
    }

    .subtext {
        max-width: 600px;
        margin: 2em auto;
    }
}

.contribution-form {
    .backdrop-image {
        position: absolute;
        right: 0;
        bottom: -150px;
        left: auto;
    }

    .row {
        display: flex;
        position: relative;

        @media #{$mq-mobile-and-down} {
            display: block;
        }
        .column {
            flex: 50%;
            padding: 20px;
            box-sizing: border-box;
            &:first-of-type {
                .container {
                    max-width: 700px;
                    float: right;
                    @media #{$mq-mobile-and-down} {
                        padding-bottom: 0;
                        float: none;
                        max-width: none;
                    }
                }
            }

            .form-footer {
                position: absolute;
                padding: 10px;
                bottom: 0;
                left: 0;
                right: 0;
            }
            @media #{$mq-tablet-and-down} {
                padding: 10px;
            }

            .container {
                max-width: 500px;
                margin: 0 auto;
                position: relative;
                padding-bottom: 150px;
                box-sizing: border-box;
                height: 100%;

                @media #{$mq-mobile-and-down} {
                    max-width: 100%;
                }
                .body {
                    @include set-font-size($larger-font-size);
                    line-height: 1.75;
                    font-family: $heading-font-family;
                }

                h4 {
                    margin: 15px 0;
                    font-size: 28px;
                }

                .button-group a {
                    color: $text-color;
                    margin-right: 20px;
                    min-width: 150px;
                }
            }
        }
    }

    form {
        button {
            height: $input-height;
            border: none;
            border-radius: $input-height;
            line-height: $input-height;
            background-color: $button-color;
            font-weight: normal;
            color: #fff;
            padding: 0 3em;
            float: right;
            @media #{$mq-mobile-and-down} {
                width: 100%;
            }

            &:hover {
                background-color: darken($button-color, 5%);
            }

            .payment-details {
                display: none;
                vertical-align: top;
                line-height: 0;
                padding: 10px;

                @media #{$mq-mobile-and-down} {
                    display: inline-block;
                }
            }
        }

        .form-group {
            .errorlist {
                display: block;
                text-align: right;
            }

            input {
                width: 100%;
                display: block;
                line-height: 3;
                box-sizing: border-box;
                font-weight: normal;
                padding-left: 12px;
                border-color: $text-color;
                margin-top: $input-spacing;
                &.error {
                    border-color: $error;
                    color: $error;
                }
            }

            input[name=donation_amount] {
                padding-left: 35px;
            }

            .label {
                position: absolute;
                margin-left: 20px;
                margin-top: 40px;
            }

            input[name=donation_amount],
            #id_donation_choices {
                width: 49%;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                margin-top: $input-spacing;
                border-radius: $input-height;
                @media #{$mq-tablet-and-down} {
                    display: block;
                    width: 100%;
                }
            }
        }

        #id_donation_choices {
            text-align: center;

            li {
                display: inline-block;
                position: relative;
                width: 32%;
                @media #{$mq-tablet-and-down} {
                    margin-right: 1em;
                    width: auto;
                }

                input[type=radio] {
                    position: absolute;
                    opacity: 0;
                }

                label {
                    min-width: $input-height;
                    height: $input-height;
                    border: 2px solid $text-color;
                    border-radius: $input-height;
                    background-color: #fff;
                    text-align: center;
                    line-height: $input-height;
                    display: inline-block;

                    &:hover {
                        background: darken(#fff, 3%);
                    }

                    &.active {
                        background: $text-color;
                        color: #fff;
                    }
                }
            }
        }
        .payment-details {
            display: inline-block;
            padding: 15px 0;
            @media #{$mq-mobile-and-down} {
                display: none;
            }
        }
    }
}

// JQUI overwrite
.ui-tooltip.ui-widget.ui-widget-content {
    border: 2px solid $text-color;
    border-radius: 0;
    background-image: none;
    background-color: #fff;
    padding: 14px;
}
