@require 'components/option-list';

/*
    Additional formatting for the real page content; i.e. text in the <main> element
    We cannot put these styles in the tags.styl file because they don't apply to the entire layout
*/

$table-blue = #d4dde4;

.text-content {

    /* tables */
    table {
        border-collapse: collapse;
        border: solid #e0e0dc;
        border-width: 1px 0 0 1px;

        &.standard-table:not(.learn-box) {
            border: 2px solid #fff;

            td {
                background-color: rgba-fallback(rgba($table-blue, 0.15));
                border: @border;
                box-shadow: inset 0 -1px 0 0 rgba-fallback(rgba($table-blue, 0.5));
            }

            /* alternating row colours (aka zebra or candy striping) */
            &:not(.nostripe) tr:nth-child(odd) td {
                background-color: rgba-fallback(rgba($table-blue, 0.25));
            }

            td.header, th {
                border: @border;
                border-bottom: 2px solid rgba-fallback(rgba($table-blue, 1));
                background: rgba-fallback(rgba($table-blue, 0.5));
                padding: 2px 8px 4px;

                font-family: $heading-font-family;
                font-size: 14px;
                font-weight: bold;
                {$selector-heading-font-fallback} {
                    font-family: $heading-font-family-fallback;
                }
            }

            /* make this table full width */
            &.fullwidth {
                width: 100%;
            }
        }

        &.fullwidth-table {
            background: #fff;
            border: 1px solid rgba-fallback(rgba($table-blue, 0.5));
            margin-bottom: $grid-spacing;
            width: 100%;

            td {
                border: 1px solid #ccc;
                padding: 5px;
                bidi-value(text-align, left, right);
                vertical-align: top;
            }

            td.header, th {
                background: rgba-fallback(rgba($table-blue, 0.5));
                border: 1px solid rgba-fallback(rgba($table-blue, 1));
                padding: 5px;
            }
        }
    }

    td, th {
        border: solid #e0e0dc;
        border-width: 0 1px 1px 0;
        padding: $content-vertical-spacing $content-horizontal-spacing;
        bidi-value('text-align', left, right);
    }

    thead th {
        background: rgba-fallback(rgba($table-blue, 0.5));
    }

    /* lists and definitions */
    ul {
        list-style: disc;

        ul {
            list-style: circle;
        }
    }

    ul ul, ol ol, ul ol, ol ul {
        margin-bottom: 0;
        padding-top: $content-vertical-spacing;
    }

    ul, ol {
        bidi-style(padding-left, ($grid-spacing * 2), padding-right, 0);
        margin-bottom: $content-block-margin;

        &.no-bullets {
            list-style-type: none;
            bidi-style(padding-left, 0, padding-right, 0);
        }
    }

    ol {
        list-style-type: decimal;
    }

    li {
        margin-bottom: $content-vertical-spacing;
    }
    prevent-last-child-spacing(li, padding-bottom);

    dt {
        font-style: normal;
        font-weight: bold;
    }

    dd {
        margin-bottom: $content-block-margin;
        bidi-style(padding-left, $grid-spacing, padding-right, 0);
    }

    span.alllinks {
        display: block;
        text-align: right;
    }

    img {
        &.lwrap {
            padding: 0 20px 10px 0;
        }
        &.rwrap {
            padding: 0 0 10px 20px;
        }
    }

    .licenseblock,
    .originaldocinfo {
        set-message-base(true);
        background: #f1f1f1;
        border: 2px solid #cccccc;
        font-size: $smaller-font-size;
    }

    .originaldocinfo {
        h2 {
            font-size: $base-font-size;
        }
    }
}

ul.directory-tree {
    bidi-style(padding-left, 0, padding-right, 0);

    &,
    ul {
        bidi-style(margin-left, 0, margin-right, 0);
        list-style: none;
    }

    ul {
        bidi-style(padding-left, ($grid-spacing + $content-horizontal-spacing), padding-right, 0);

        li {
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                bidi-style(left, -15px, right, auto);
                display: block;
            }

            &:before {
                top: 0px;
                height: 0.75em;
                width: 10px;
                border-bottom: 1px solid $grey;
                bidi-style(border-left, 1px solid $grey, border-right, none);
            }

            &:after {
                bottom: -7px;
                height: 100%;
                bidi-style(border-left, 1px solid $grey, border-right, none);
            }

           &:last-child:after {
                display: none;
            }
        }
    }
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    background: #fff;
    border: 1px solid #e3e3e3;
    border-top: 0;
    cursor: default;
    padding-top: 2px;
    position: absolute;
    box-shadow: 1px 1px 1px rgba(0,0,0,.08);
}

.ui-menu {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    .ui-menu-item {
        clear: left;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        zoom: 1;

        a {
            display: block;
            line-height: 1.5;
            text-decoration: none;
            zoom: 1;
        }
    }

    .ui-state-hover, .ui-state-focus, .ui-state-highlight, .ui-state-active {
        background: #e4e4d9;
        background: rgba-fallback(rgba(198,198,175,.2));
    }
}

div.bug {
    font-style: italic;
    prevent-last-child-bottom-spacing();
    overflow: hidden;

    pre {
        color: $text-color;
    }
}

.callout-box {
    pull-aside();
    bidi-value(margin-bottom, $grid-spacing, $grid-spacing); /* override behaviour of pull-aside */
    box-sizing: border-box;
    background: $light-background-color;
    border: 1px solid #f1f1f1;
    padding: $grid-spacing;
    position: relative;
    text-align: center;
    min-width: 200px;
    z-index: 2;

    /* override behaviour of pull-aside */
    @media $media-query-small-mobile {
        bidi-value(margin-bottom, $grid-spacing, $grid-spacing);
    }
}

p.footnote {
    font-size: $smaller-font-size;
    font-style: italic;
    color: #716d65;
}

/* Classes created by the WYSIWYG */
.twocolumns {
    vendorize(column-count, 2);
}
.threecolumns {
    vendorize(column-count, 3);
}

@media $media-query-small-mobile {
   .twocolumns,
   .threecolumns {
        vendorize(column-count, 1);
    }
}

/* apply to any container to restrict width to 60em */
.readable-line-length {
    max-width: 60em;
}
