@import 'includes/vars';

// Styles for the contribution form
// TODO: cleanup this file

// Form Varibles
$input-height: 64px;
$input-spacing: 18px;
$button-color: #3143e2;

.contribution-form {
    .backdrop-image {
        position: absolute;
        right: 0;
        bottom: -150px;
        left: auto;
    }

    .hide-expand {
        display: none;
    }

    .row {
        display: flex;
        position: relative;

        @media #{$mq-mobile-and-down} {
            display: block;
        }

        .column {
            flex: 50%;
            box-sizing: border-box;
            &:first-of-type {
                .container {
                    max-width: 700px;
                    float: right;
                    @media #{$mq-mobile-and-down} {
                        padding-bottom: 0;
                        float: none;
                        max-width: none;
                    }
                }
            }

            @media #{$mq-mobile-and-down} {
                display: block;
                width: 100%;
            }

            .form-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: right;
                @media #{$mq-mobile-and-down} {
                    position: relative;
                }
            }

            .container {
                max-width: 500px;
                margin: 0 auto;
                position: relative;
                box-sizing: border-box;
                height: 100%;

                @media #{$mq-mobile-and-down} {
                    max-width: 100%;
                    padding-bottom: 0;
                }
                .body {
                    @include set-font-size($larger-font-size);
                    line-height: 1.75;
                    font-family: $heading-font-family;
                }

                h4 {
                    margin: 15px 0;
                    font-size: 28px;
                }

                .button-group a {
                    color: $text-color;
                    margin-right: 20px;
                    min-width: 150px;
                }
            }
        }
    }

    form {
        .mobile-link {
            display: none;
        }

        .form-footer button,
        .form-footer .button {
            height: $input-height;
            min-width: 190px;
            border: none;
            border-radius: $input-height;
            line-height: $input-height;
            background-color: $button-color;
            font-weight: normal;
            color: #fff;
            padding: 0;
            text-align: center;

            @media #{$mq-mobile-and-down} {
                width: 100%;
            }

            &:hover {
                background-color: darken($button-color, 5%);
            }

            .payment-details {
                display: none;
                vertical-align: top;
                line-height: 0;
                padding: 10px;

                @media #{$mq-mobile-and-down} {
                    display: inline-block;
                    padding: 0;
                    vertical-align: middle;

                    > img {
                        max-height: 30px;
                    }
                }
            }
        }

        .form-group {
            padding-bottom: 100px;

            .errorlist {
                display: block;
                text-align: right;
            }
            > input:first-of-type {
                margin-top: 0;
            }

            input {
                width: 100%;
                display: block;
                line-height: 3;
                box-sizing: border-box;
                font-weight: normal;
                padding-left: 12px;
                border-color: $text-color;
                margin-top: $input-spacing;
                &.error {
                    border-color: $error;
                    color: $error;
                }
            }

            input[name=donation_amount] {
                padding-left: 35px;
            }

            .label {
                position: absolute;
                margin-left: 20px;
                margin-top: 40px;
            }

            input[name=donation_amount],
            #id_donation_choices {
                width: 49%;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                margin-top: $input-spacing;
                border-radius: $input-height;
                @media #{$mq-tablet-and-down} {
                    display: block;
                    width: 100%;
                }
            }
        }

        #id_donation_choices {
            text-align: center;

            li {
                display: inline-block;
                position: relative;
                width: 32%;
                @media #{$mq-tablet-and-down} {
                    margin-right: 1em;
                    width: auto;
                }

                input[type=radio] {
                    position: absolute;
                    opacity: 0;
                }

                label {
                    min-width: $input-height;
                    height: $input-height;
                    border: 2px solid $text-color;
                    border-radius: $input-height;
                    background-color: #fff;
                    text-align: center;
                    line-height: $input-height;
                    display: inline-block;

                    &:hover {
                        background: darken(#fff, 3%);
                    }

                    &.active {
                        background: $text-color;
                        color: #fff;
                    }
                }
            }
        }
        .payment-details {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1em;
            @media #{$mq-mobile-and-down} {
                display: none;
            }
        }
    }
    .cta-min-text {
        display: none;
    }

    .cta-max-text {
        display: inline;
    }

    .email-input-container {
        position: relative;
    }

    .tooltip-button {
        background: none;
        border: none;
        position: absolute;
        right: 10px;
        top: 13px;
    }

}

// JQUI overwrite
.ui-tooltip.ui-widget.ui-widget-content {
    border: 2px solid $text-color;
    border-radius: 0;
    background-image: none;
    background-color: #fff;
    padding: 14px;
}
