/*
page titles on doc/move/edit/translate/new pages
except we can't call them page titles because demos already has a class with that name
********************************************************************** */

.doc-title {
    @include clearfix();
    @include title-header();
    position: relative;
    margin-bottom: 10px;

    h1 {
        line-height: 40px;
        margin-bottom: 20px;
    }

    em {
        color: #333;
        font-style: normal;
        @include bidi-style(margin-left, -3px, margin-right, 0);
        text-transform: none;
    }
}

.doc-title-properties {
    @include set-smaller-font-size();
}

/* small writing above the page title that says what action the user is
   performing on it Editing/Moving/Translating. In a perfect world this
   class wouild be doc-title-prefix but it's part of the translation
   string and I didn't want to lose the translations by changing it */
.title-prefix {
    @include set-larger-font-size();
    display: block;
    line-height: 20px;
    color: #888;
}
