.newsletter-teaser {
    margin-top: 0;
    margin-bottom: $grid-spacing;
    @include set-font-size($h2-font-size);
}

.newsletter-description {
    margin-bottom: $grid-spacing;
    @include set-heading-font-family();
}

.newsletter-errors .errorlist {
    @include bidi-style(padding-left, 0, padding-right, 0);
    list-style-type: none;
}

.newsletter-lang {
    margin-top: $grid-spacing;
    margin-bottom: 0;
    font-style: italic;
}

input.newsletter-input-email {
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    padding: ($grid-spacing / 2);
}

.newsletter-fields {
    margin-bottom: $grid-spacing;
}

.newsletter-hide {
    position: absolute;
    top: ($grid-spacing / 2);
    @include bidi-style(right, ($grid-spacing / 2), left, auto);
    z-index: 11;
    border: none;
    padding: 0;
}

.newsletter-thanks h2 {
    margin-top: 0;
    margin-bottom: $grid-spacing;
}

/* modifications for when it appears on articles */
.newsletter-box {
    position: relative;
    border-top: 2px solid $text-color;
    padding: $grid-spacing $mobile-center-spacing;
    background-color: #fff;


    .newsletter-teaser {

        /* small box to give .newsletter-hide button some space */
        &:before {
            content: '';
            display: block;
            @include bidi-value(float, right, left);
            height: .5em;
            width: 1.5em;
        }
    }

    .newsletter-description {
        @include set-font-size($larger-font-size);
    }

    .newsletter-fields {
        margin-bottom: 0;
    }
}

@media #{$mq-tablet-and-up} {
    .newsletter-box {
        padding: ($grid-spacing * 2);
    }
}

@media #{$mq-small-desktop-and-up} {
    .newsletter-box {

        .newsletter-teaser {
            @include set-font-size($large-screen-h2-font-size);
        }

        .newsletter-description {
            @include set-font-size($h3-font-size);
        }
    }
}

@media #{$mq-large-desktop-and-up} {
    @supports (display: grid) {
        .newsletter-box {

            .newsletter-form {
                display: grid;
                grid-column-gap: $grid-spacing;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto auto;

                &.hidden {
                    display: none;
                }
            }

            .newsletter-description {
                margin-bottom: 0;
            }
        }

        /* other grid stuff does not need .newsletter-box specificity
           since it has no affect without display: grid */
        .newsletter-teaser,
        .newsletter-description {
            grid-column: 1 / 2;
        }

        .newsletter-teaser {
            align-self: end;
        }

        .newsletter-fields {
            align-self: end;
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }

        input.newsletter-input-email {
            margin-top: $grid-spacing / 2;
        }
    }
}

.newsletter-submit {
    padding: ($grid-spacing / 2);
}

@media print {
    .newsletter-box {
        display: none;
    }
}
