/*
Newsletter styles
********************************************************************** */

/* big heading */
.newsletter-teaser {
    margin-top: 0;
    margin-bottom: $grid-spacing;
    @include set-font-size($h2-font-size);
}

/* smaller descriptive text */
.newsletter-description {
    margin-bottom: $grid-spacing;
    @include set-heading-font-family();
}

/* wraps email input, privacy checkbox and submit button */
.newsletter-fields {
    margin-bottom: $grid-spacing;
}

input.newsletter-input-email {
    box-sizing: border-box;
    width: 100%;
    padding: ($grid-spacing / 2);
}

/* hide button - only appears on article pages */
.newsletter-hide {
    position: absolute;
    top: ($grid-spacing / 2);
    @include bidi(((right, ($grid-spacing / 2), left, auto),));
    z-index: 11;
    border: none;
    padding: 0;
}

/* error messages */
.newsletter-errors .errorlist {
    @include bidi(((padding-left, 0, padding-right, 0),));
    list-style-type: none;
}

/* English only language warning */
.newsletter-lang {
    margin-top: $grid-spacing;
    margin-bottom: 0;
    font-style: italic;
}

/* thank you message */
.newsletter-thanks h2 {
    margin-top: 0;
    margin-bottom: $grid-spacing;
}

/* submit button */

.newsletter-submit {
    position: relative;
    width: 100%;
    padding: ($grid-spacing / 2);
    @include bidi(((text-align, left, right),));

    .icon-arrow {
        position: absolute;
        top: 30%;
        @include bidi(((right, 10px, left, 10px),));
        @include bidi(((left, auto, right, 10px),));
        @include bidi(((transition, right .2s, left .2s),));
    }

    &:hover,
    &:focus {
        text-decoration: none;

        .icon-arrow {
            @include bidi(((right, 5px, left, 10px),));
            @include bidi(((left, auto, right, 15px),));
        }
    }
}

/*
input and submit on same line
- for both homepage and article footers
-------------------------------------------------------------- */

@media #{$mq-mobile-and-up} {
    .callout-newsletter,
    .newsletter-box {

        .form-input {
            padding: 7px 10px 6px 10px; // same height as submit button
        }

        .newsletter-fields {
            display: flex;
            flex-wrap: wrap;
        }

        .newsletter-errors,
        .newsletter-group-privacy {
            width: 100%;
        }

        .newsletter-group-email {
            width: 60%;
            margin-bottom: 0;
        }

        .newsletter-group-privacy {
            order: 4;
        }

        .newsletter-group-submit {
            box-sizing: border-box;
            width: 40%;
            @include bidi(((padding-left, $grid-spacing, padding-right, 0),));
        }

        .newsletter-submit {
            width: 100%;
        }
    }
}

/*
text side by side with form fields
- for both homepage and article footers
-------------------------------------------------------------- */

@media #{$mq-small-desktop-and-up} {
    @supports (display: grid) {
        .callout-newsletter,
        .newsletter-box {
            display: flex;
            align-items: flex-end; // bottom align text

            .newsletter {
                width: 100%;
            }

            .newsletter-form {
                display: grid;
                grid-column-gap: $grid-spacing;
                grid-template-columns: 1fr 1fr;

                &.hidden {
                    display: none;
                }
            }

            .newsletter-fields {
                display: block; // override flex layout
            }

            .newsletter-group-email {
                // override from flex layout
                width: auto;
                margin-bottom: $grid-spacing;
            }

            .newsletter-input-email {
                max-width: none;
            }

            .newsletter-group-submit {
                width: auto;
                @include bidi(((padding-left, 0, padding-right, 0),));
            }

            .newsletter-submit {
                width: 100%;
            }

            .newsletter-description {
                margin-bottom: 0;
                @include set-font-size(18px);
            }
        }

        /* this grid stuff does not need .newsletter-box specificity
           since it has no affect without display: grid */
        .newsletter-head {
            grid-column: 1 / 2;
        }

        .newsletter-fields {
            grid-column: 2 / 3;
            align-self: end;
        }

        input.newsletter-input-email {
            margin-top: $grid-spacing / 2;
        }
    }
}

/* switch from 50/50 to 66/33 */
@media #{$mq-large-desktop-and-up} {
    @supports (display: grid) {
        .callout-newsletter,
        .newsletter-box {

            .newsletter-form {
                grid-template-columns: 2fr 1fr;
            }

            .newsletter-input-email,
            .newsletter-submit {
                height: 50px;
            }
        }
    }
}


/*
homepage modifications
- it gets the .callout-newsletter wrapper
-------------------------------------------------------------- */
.callout-newsletter {

    .newsletter-teaser,
    .newsletter-thanks h2 {
        @include set-font-size(26px);
    }

    .newsletter-fields,
    .newsletter-thanks p {
        margin-bottom: 0;
    }

    a {
        color: #000;
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}


/*
article page modifications
- it gets the .newsletter-box wrapper in articles
-------------------------------------------------------------- */
.newsletter-box {
    position: relative;
    border-top: $section-border-width solid $text-color;
    padding: $grid-spacing 0;
    margin-top: $grid-spacing * 2;
    background-color: #fff;

    &.hidden {
        display: none;
    }

    .newsletter-teaser {
        /* small box to give .newsletter-hide button some space */
        &:before {
            content: '';
            display: block;
            @include bidi(((float, right, left),));
            height: .5em;
            width: 1.5em;
        }
    }

    .newsletter-description {
        @include set-font-size($larger-font-size);
    }

    .newsletter-fields {
        margin-bottom: 0;
    }
}

@media #{$mq-tablet-and-up} {
    .newsletter-box {
        padding: ($grid-spacing * 2);
    }
}

@media #{$mq-small-desktop-and-up} {
    .newsletter-box {

        .newsletter-teaser {
            @include set-font-size($h1-font-size);
        }

        .newsletter-description {
            @include set-font-size($h3-font-size);
        }
    }
}
