.newsletter-box {
    position: relative;
    @include notification-theme($default);
    margin-bottom: $grid-spacing;
    border: none;
    padding: $grid-spacing;

    .wiki-block + & {
        margin-top: ($grid-spacing * 2);
    }
}

.newsletter-teaser {
    margin-bottom: $grid-spacing;

    .wiki-block-newsletter & {
        @include bidi-style(padding-right, ($grid-spacing * 3), padding-left, 0); // leave space for close button
    }
}

.newsletter-description {
    margin-bottom: 0;
}

.newsletter-errors .errorlist {
    @include bidi-style(padding-left, 0, padding-right, 0);
    list-style-type: none;
}

.newsletter-lang {
    margin-top: $grid-spacing;
    margin-bottom: 0;
    font-style: italic;
}

.newsletter-input-email {
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
}

.newsletter-hide {
    position: absolute;
    top: $grid-spacing;
    @include bidi-style(right, $grid-spacing, left, auto);
    z-index: 11;
}

.newsletter-thanks {
    h2 {
        @include bidi-style(padding-right, ($grid-spacing * 3), padding-left, 0); // leave space for close button
    }
}
