/*
- list that has text on left and child .option-list-options on right
- list is as narrow as possible given with width of the text on the left
- on large screens the options will drop below the text if the text is long
- on mobile screens the options are placed below intentionally
********************************************************************** */

ul.option-list {
    @include clearfix();
    float: left;
    list-style-type: none;
    max-width: 100%;
    overflow: hidden;
    @include bidi(((padding-left, ($grid-spacing), padding-right, 0),));

    li {
        @include clearfix();
    }
}

.option-list-options {
    @include bidi((
        (float, right, left),
        (margin-left, $grid-spacing, margin-right, $grid-spacing ),
        (text-align, right, left),
    ));
}

/* options drop beneath text on smaller screens */
@media #{$mq-mobile-and-down} {
    .option-list-options {
        width: 100%;
    }
}
