/*
share-link
====================================================================== */
.share-link {
    border: 1px solid rgba-fallback(rgba(255,255,255,0.2));
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    bidi-value(margin, 0 0 $content-vertical-spacing $content-horizontal-spacing , 0 $content-horizontal-spacing $content-vertical-spacing 0);
    padding: 3px;

    &.facebook {
        background-color: rgb(59, 89, 152);
    }
    &.twitter {
        background-color: rgb(0, 172, 237);
    }
    &.gplus {
        background-color: rgb(221, 75, 57);
    }

    {$selector-icon} {
        bidi-style(margin-left, 0, margin-right, 4px);
        bidi-style(margin-right, 4px, margin-left, 0);
    }
}
