.share {

    .document-head & {
        top: -($grid-spacing / 2);
        margin-bottom: $grid-spacing;
        bidi-value(text-align, left, right);
    }

    set-smaller-font-size();
    bidi-value(text-align, right, left);
    position: relative;
    top: $grid-spacing;

    ul,
    li {
        display: inline-block;
        margin: 0;
        bidi-value(padding, 0, 0); /* to over-ride default bidi-value) */
    }
}

