{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{% if is_active %}
  {% set title = _('Subscription confirmed.') %}
{% else %}
  {% set title = _('There was a problem confirming your subscription.') %}
{% endif %}
{% set classes = 'questions' %}

{% block content %}
<div class="activate-watch">
  <h2>{{ question.title }}</h2>
  {% if is_active %}
    <h3>
        {{ _('You will now receive updates via email.') }}
    </h3>
    <ul>
      <li>
        <a href="{{ question.get_absolute_url() }}" id="activate-watch">
          {{ _('Go back to the question.') }}
        </a>
      </li>
      <li>
        <a id="remove-watch" href="{{ unsubscribe_url }}">
          {{ _('Stop receiving updates via email for this question.') }}
        </a>
      </li>
    </ul>
  {% else %}
    <h3>{{ title }}</h3>
    <a href="{{ question.get_absolute_url() }}" id="activate-watch">
      {{ _('Go back to the question and try again.') }}
    </a>
  {% endif %}
</div>
{% endblock %}
