{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{# L10n: {q} is the title of the question. {f} is the name of the question forum. #}
{% set title = _('{q} | {f} | Questions')|f(q=question.title, f=forum.name) %}
{% set classes = 'answers' %}

{% block content %}
  <h2>{{ question.title }}</h2>

  {% if answers.object_list %}
    <ol class="answers">
      {% for answer in answers.object_list %}
        <li id="answer-{{ answer.id }}">
          {{ answer.content }}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>There are no answers. You should answer this question!</p>
  {% endif %}
{% endblock %}
