{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set styles = ('questions', 'jqueryui/jqueryui') %}
{% set scripts = ('questions', 'libs/jqueryui') %}

{% block outer_side %}
  <div id="side">
    {% block side %}
      <section class="sd-module" id="ask-question-module">
        <h1>{{ _("Can't Find an <mark>Answer?</mark>")|safe }}</h1>
        <p>{{ _('Post your question to the support forum. The Firefox community is here to help!') }}</p>
        <div class="ask-question">
          <a class="btn btn-important" href="{{ url('questions.new_question') }}">
            {{ _('Ask a Question') }}
          </a>
        </div>
      </section>
      {% if top_contributors %}
        <section class="sd-module" id="top-contributors">
          <h1>{{ _('Top <mark>Contributors</mark>')|safe }}</h1>
          <h2>{{ _('Most Solutions this Week') }}</h2>
          <ol>
            {% for user in top_contributors %}
              <li>{{ user }}</li>
            {% endfor %}
          </ol>
        </section>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
