{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{% set title = _('Please Confirm Your Email Address') %}
{% set classes = 'questions' %}

{% block content %}
<div class="confirm-question">
  <h2>{{ _('Please confirm your email address.') }}</h2>
  <p>
    {% trans %}
      Thank you! Your question will appear on the site as soon as you confirm
      your email address. You should receive an email shortly with a link to
      confirm.
    {% endtrans %}
  </p>
  <p>{{ _('An email has been sent to the address below:') }}</p>
  <p><strong>{{ question.creator.email }}</strong></p>
</div>
{% endblock %}
