{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{% set title = _('Confirm Question') %}
{% set classes = 'questions' %}

{% block content %}
  <article class="main">
    <div class="confirm-question">
      <h1>{{ _('Please confirm that you entered the question below.')}}</h1>
      <h2>{{ question.title }}</h2>
      <form action="" method="post">
        {{ csrf() }}
        <div class="submit-or-cancel">
          <a href="{{ url('questions.questions') }}">{{ _('Cancel') }}</a>
          <input type="submit" value="Confirm"/>
        </div>
      </form>
    </div>
  </article>
{% endblock %}

{% block side %}
{% endblock %}
