{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{# L10n: {t} is the title of the question. #}
{% set title = _('Delete Answer | {t} | Firefox Support Forum')|f(t=answer.question.title) %}
{% set crumbs = [(url('questions.questions'), _('Forum')),
                 (url('questions.answers', answer.question.id), answer.question.title),
                 (None, _('Delete answer'))] %}

{% block content %}
  <article class="main">
    <div class="to-delete">
      <h1>{{ _('Are you sure you want to delete this answer?') }}</h1>
      <label>{{ _('Creator') }}</label>
      <div>{{ answer.creator }}</div>
      <label>{{ _('Date') }}</label>
      <div>{{ datetimeformat(answer.created, format='longdatetime') }}</div>
      <label>{{ _('Content') }}</label>
      <div>{{ answer.content_parsed }}</div>

      <form action="{{ url('questions.delete_answer', answer.question.id, answer.id) }}" method="post">
        {{ csrf() }}
        <p>
          {{ _('You are about to permanently delete this answer. <strong>This cannot be undone!</strong> Are you sure you want to continue?')|safe }}
        </p>
        <input type="submit" class="btn" value="{{ _('Delete') }}" />
        <a href="{{ url('questions.answers', answer.question.id) }}">{{ _('Cancel') }}</a>
      </form>
    </div>
  </article>
{% endblock %}

{% block side %}
{% endblock %}
