{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/includes/question_editing_frame.html" %}
{% set title = _('Edit a Question') %}
{% set crumbs = [(url('questions.questions'), _('Forum')),
                 (url('questions.answers', question.id), question.title),
                 (None, _('Edit a question'))] %}

{% block headline %}{{ _('Edit a Question') }}{% endblock %}

{% block major_detail_instructions %}
  <h2>{{ _('Edit your question.') }}</h2>
{% endblock %}

{% block submit_button_value %}{{ _('Save Question') }}{% endblock %}

{% block more_submit_buttons %}
  <a href="{{ url('questions.answers', question.id) }}" class="cancel">{{ _('Cancel') }}</a>
{% endblock %}
