{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{# TODO: Make the title and other references to FF configurable. #}
{% set title = _('Firefox Support Forum') %}
{% set classes = 'questions' %}

{% block filter %}
<div id="filter">
  <ul>
    <li>
      <a href="#{# TODO #}">{{ _('Most Recent') }}</a>
    </li>
    <li>
      <a href="#{# TODO #}">{{ _('Most Requested') }}</a>
    </li>
    <li class="separator">|</li>
    <li{% if not filter %} class="active"{% endif %}>
      <a href="{{ url('questions.questions') }}">{{ _('All') }}</a>
    </li>
    <li>
      <a href="#{# TODO #}">{{ _('Unsolved') }}</a>
    </li>
    <li>
      <a href="#{# TODO #}">{{ _('Solved') }}</a>
    </li>
    <li{% if filter == 'no-replies' %} class="active"{% endif %}>
      <a href="{{ url('questions.questions')|urlparams(filter='no-replies') }}">{{ _('No Replies') }}</a>
    </li>
    {% if user.is_authenticated() %}
      <li>
        <a href="#{# TODO #}">{{ _('My Contributions') }}</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
  {% if questions.object_list %}
    <ol class="questions">
      {% for question in questions.object_list %}
        <li id="question-{{ question.id }}">
          {% include 'questions/includes/have_problem.html' %}
          <div class="title">
            <h2><a href="{{ question.get_absolute_url() }}">{{ question.title }}</a></h2>
            {% if question.solution %}
              <span class="badge solved">{{ _('Solved') }}</span>
            {% elif question.num_answers > 0 %}
              {# L10n: {n} is the number of replies. #}
              <span class="badge replies">{{ ngettext('{n} reply', '{n} replies', question.num_answers)|fe(n=question.num_answers) }}</span>
            {% endif %}
          </div>
          <div class="asked-by">
            {{ _('Asked by <span class="user">{user}</span>')|fe(user=question.creator) }}
            <time>{{ datetimeformat(question.created, format='longdatetime') }}</time>
          </div>
          <p>{{ question.content_parsed|striptags()|truncate(170) }}</p>
          <div class="meta">
            {% if question.metadata.ff_version %}
              <span>Firefox {{ question.metadata.ff_version }}</span>
              &bull;
            {% endif %}
            {% if question.metadata.os %}
              <span>{{ question.metadata.os }}</span>
              &bull;
            {% endif %}
            <span>{{ _('Tagged') }} {# TODO #}lorem, ipsum, dolor, sit amet</span>
          </div>
        </li>
      {% endfor %}

      {# TODO: Implement remaining badges 
        <span class="badge contributed">contributed</span>
      #}

    </ol>
    {{ questions|paginator }}
  {% else %}
    {# Not localized because it's not worth localizers time. #}
    <p>There are no questions. Maybe you should ask some!</p>
  {% endif %}
{% endblock %}
