{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{% if success %}
  {% set title = _('You have been unsubscribed.') %}
{% else %}
  {% set title = _('There was a problem unsubscribing.') %}
{% endif %}
{% set classes = 'questions' %}

{% block content %}
<div class="unsubscribe-watch">
  <h2>{{ title }}</h2>
  <p>
    {% if success %}
      {% trans question_title=question.title %}
        You will no longer receive email updates for this question:
        <a href="{{ question_url }}">{{ question_title }}</a>
      {% endtrans %}
    {% else %}
      {% trans question_title=question.title,
               question_url=question.get_absolute_url() %}
        We could not unsubscribe you from this question:
        <a href="{{ question_url }}">{{ question_title }}</a>.
        Please make sure you copied and pasted the unsubscribe link correctly.
      {% endtrans %}
    {% endif %}
  </p>
</div>
{% endblock %}
