{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set title = _('Search') %}
{% set crumbs = [(None, title)] %}
{% if not styles %}
  {% set styles = ('search',) %}
{% endif %}
{% if not scripts %}
  {% set scripts = ('search', 'libs/jqueryui') %}
{% endif %}
{% set hide_header_search = True %}
