{#
<div class="search-popular search-popular-col1">
  <h2>Popular Searches</h2>
  <ul>
    <li><a href="?q=">Popular Search 1</a></li>
    <li><a href="?q=">Popular Search 2</a></li>
    <li><a href="?q=">Popular Search 3</a></li>
    <li><a href="?q=">Popular Search 4</a></li>
    <li><a href="?q=">Popular Search 5</a></li>
  </ul>
</div>
<div class="search-popular">
  <h2>Popular Topics</h2>
  <ul>
    <li><a href="?q=">Popular Topic 1</a></li>
    <li><a href="?q=">Popular Topic 2</a></li>
    <li><a href="?q=">Popular Topic 3</a></li>
    <li><a href="?q=">Popular Topic 4</a></li>
    <li><a href="?q=">Popular Topic 5</a></li>
  </ul>
</div>
#}