.alert {
    clear: both;
    margin-bottom: 24px;
    padding: 20px;

    &.error {
        background: $red-light;
        border: 1px solid $brand-red;
    }

    &.success {
        background: $green-light;
        border: 1px solid $brand-green;
        color: $brand-green;
    }
}
