{% extends "account/base.html" %}

{% block title %}{{ page_title(_("Email addresses")) }}{% endblock %}

{% block content %}
<div class="text-content readable-line-length">
  <h1>{{ _("Email addresses") }}</h1>

    {% if user.emailaddress_set.all().exists() %}

      <p>{{ _('{email} is your <em>primary</em> email address')|fe(email=user.email) }}</p>

      {% if user.emailaddress_set.count() > 1  %}

        <p>{{ _("You've also added the following email addresses:") }}</p>

        <ul class="option-list">
        {% for emailaddress in user.emailaddress_set.all() %}
            {% if emailaddress.primary %}
            {% else %}
              <li>
                <form action="{{ url('account_email') }}" class="email_list" method="post">
                  {{ csrf() }}
                  {{ emailaddress.email }}
                  <input id="email_radio_{{ loop.index }}" type="hidden" name="email" value="{{ emailaddress.email }}"/>
                  <span class="option-list-options">
                    {% if emailaddress.verified %}
                      <button class="button positive" type="submit" name="action_primary" >{{ _("Make Primary") }}</button>
                    {% else %}
                      <button class="button" type="submit" name="action_send" >{{ _("Re-send Confirmation") }}</button>
                    {% endif %}
                    <button class="button transparent only-icon" type="submit" name="action_remove" ><span>{{ _("Remove") }}</span><i aria-hidden="true" class="icon-trash"></i></button>
                  </span>
                </form>
              </li>
            {% endif %}
        {% endfor %}
        </ul>
        <br class="clear">

      {% endif %}

    {% else %}

      <p>{% trans %}<strong>Warning:</strong>"You have not added any email addresses to this profile. Without one you cannot receive notifications.{% endtrans %}</p>

    {% endif %}

    <h2>{{ _("Add email address") }}</h2>

    <form method="post" action="{{ url('account_email') }}" class="add_email">
        {{ csrf() }}
        {{ form.as_p() }}
        <p class="buttonHolder">
            <button name="action_add" type="submit">{{ _("Add Email") }}</button>
        </p>
    </form>

    <p>
    <a href="{{ url('users.user_edit', username=request.user.username) }}" class="button neutral">{{ _("Edit profile") }}</a>
    </p>

  </div>
{% endblock %}


{% block js %}
{{ super() }}
<script type="text/javascript">
(function() {
  var message = "{{ _("Do you really want to remove the selected email address?") }}";
  var actions = document.getElementsByName('action_remove');
  for (var i = 0; i < actions.length; i++) {
    actions[i].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
