{% extends "account/base.html" %}

{% block title %}{{ page_title(_("Confirm Email Address")) }}{% endblock %}


{% block content %}
<div class="text-content readable-line-length">

  <h1>{{ _("Confirm Email Address") }}</h1>

  {% if confirmation %}

    <p>{% trans email=confirmation.email_address.email, user_display=user_display(confirmation.email_address.user) %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endtrans %}</p>

    <form method="post" action="{{ url('account_confirm_email', confirmation.key) }}">
    {{ csrf() }}
        <button type="submit">{{ _("Confirm") }}</button>
    </form>

  {% else %}

    <p>{% trans email_url=url('account_email') %}This email confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new email confirmation request</a>.{% endtrans %}</p>

  {% endif %}

</div>
{% endblock %}
