{% extends "account/base.html" %}

{% block title %}{{ page_title(_("Verify Your Email Address")) }}{% endblock %}

{% block content %}
<h1>{{ _("Verify Your Email Address") }}</h1>

<p>{% trans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your email address. {% endtrans %}</p>

<p>{% trans %}We have sent an email to you for
verification. Please click on the link inside this email. Please
contact us if you do not receive it within a few minutes.{% endtrans %}</p>

<p>{% trans email_url=url('account_email') %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endtrans %}</p>


{% endblock %}
