#{$selector-icon} {
    cursor: default;
    display: inline-block;

    &:before {
        display: inline-block;
        text-decoration: none;
    }
}

label #{$selector-icon}:first-child {
    @include bidi-value(margin-left, 0, $icon-margin);
    @include bidi-value(margin-right, $icon-margin, 0);
}
