#{$selector-icon} {
    cursor: default;
    display: inline-block;

    &:before {
        display: inline-block;
        text-decoration: none;
    }
}

label #{$selector-icon}:first-child {
    @include bidi((
        (margin-left, 0, $icon-margin),
        (margin-right, $icon-margin, 0),
    ));
}
