/*
Utility classes
********************************************************************** */

.offscreen {
    @extend %offscreen-placeholder;
}

.clear {
    @include clearfix();
}

.align-center {
    text-align: center;
}

/* centers pieces of the page, mostly the header, footer, and main elements */
.center {
    margin: 0 auto;
    position: relative;
    max-width: $max-width-default;
    @include add-center-spacing();

    @media #{$media-query-mobile} {
        @include add-center-spacing(15px);
    }

    @media print {
        @include remove-center-spacing();
    }
}

/* simple hiding of elements */
.hidden {
    display: none;

    html.cke_panel_container &,
    body[contenteditable] & {
        position: relative;
        display: block;
        border: 2px dotted #000;
        padding: 3px;

        &:before {
            @include set-font-size(10px);
            content: 'hidden';
            position: absolute;
            top: -17px;
            left: -2px;
            z-index: 10;
            display: block;
            padding: 0 2px;
            background: #000;
            color: #fff;
        }
    }
}

.title {
    @include title-header();
}

.smaller {
    @include set-smaller-font-size();
}

.larger {
    @include set-larger-font-size();
}

.grid-padding {
    padding: $grid-spacing;
}

.heading-link {
    font-style: italic;
    @include set-font-size($base-font-size);
    font-weight: normal;
    display: inline-block;
    margin: 0 ($grid-spacing * 2);

    @media #{$media-query-mobile} {
        margin: 8px 0 0 0;
        display: block;
    }
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    overflow-y: auto;
}

/*  media block
    for use when you want an item of defined width on the left and some stuff on the right of it
    http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
    add .media-reverse to .media if you want the defined width stuff on the right (it still has to come first in the source)
    add .media-mobile-stack or .media-small-mobile-stack to stack the stuff on mobile */

.media,
.media-body {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.media-side {
    @include bidi-value(float, left, right);
    @include bidi-style(margin-right, ($grid-spacing / 2), margin-left, 0);

    img {
        display: block;
    }

    .media-reverse & {
        @include bidi-value(float, right, left);
        @include bidi-style(margin-left, ($grid-spacing / 2), margin-right, 0);
    }
}

/* declaration for stacking the two items */
@mixin media-stack() {
    .media-body,
    .media-side {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    &.media-reverse {
        display: table;
        caption-side: top;
        width: 100%;

        .media-side {
            display: table-cell;
        }

        .media-body {
            display: table-caption;
        }
    }
}

/* triggers for stacking */
.media-mobile-stack {
    @media #{$media-query-mobile} {
        @include media-stack();
    }
}

.media-small-mobile-stack {
    @media #{$media-query-small-mobile} {
        @include media-stack();
    }
}

/* elements with this class move spans off screen and only display icons */
.only-icon {
    #{$selector-icon} {
        /* stylelint-disable declaration-no-important */
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: -1px !important;
        /* stylelint-enable */
    }

    span {
        @extend %offscreen-placeholder;
    }
}
