@import '../../includes-blue/mixin_submenu';

.submenu {
    @include submenu();
    @include submenu-set(160px, 1px, $light-background-color, $button-shadow-color);
}

@media #{$mq-mobile-and-down} {
    .submenu-column,
    .submenu-column:nth-child(even) {
        @include bidi-style(border-left, 0, border-right, 0);
        @include bidi-style(padding-left, 0, padding-right, 0);
    }
}

@media #{$mq-small-mobile-and-down} {
    .submenu-column {
        width: auto;
        display: block;
    }
}
