{% extends "base.html" %}


{% block body_attributes %}id="contribute"{% endblock %}

{% block title %}{{ page_title(_('Contribute')) }}{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'jquery-ui' %}
{% endblock %}

{% block site_js %}
    {{ super() }}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    {% javascript 'jquery-ui' %}
    {% javascript 'contribute' %}
{% endblock %}

{% block extrahead %}
  {# TODO: Implement copy & design for the share functionality #}
  {% set seo_description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.' %}
  {% set social_title = _('Support MDN') %}
  <meta property="og:description" content="{{ seo_description }}">
  <meta name="description" content="{{ seo_description }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:title" content="{{ social_title }}">
  <meta property="og:title" content="{{ social_title }}">
{% endblock %}

{% block document_head %}
    {% with form=form, is_cta=False %}
        {% include "landing/includes/contribution-form.html" %}
    {% endwith %}
{% endblock %}
