{% extends "base.html" %}

{% from "landing/includes/newsfeed.html" import newsfeed %}

{% block body_attributes %}id="home"{% endblock %}

{% block site_css %}
  {{ super() }}

  {% stylesheet 'home' %}

  {% if waffle.switch('developer_needs') %}
    {% stylesheet 'banners' %}
  {% endif %}
{% endblock %}

{% block extrahead %}
  <meta name="google-site-verification" content="Phj8dHc2oKwic3FGPsKIhdOBk_1wnCTnKwjcjiLgJPc">
  <meta name="google-site-verification" content="TH9rA27HbfjO_XqYWTIPrW1E7E7Dtgsh7ULzHi3UTVA">

  {% set seo_description = _('The MDN Web Docs site provides information about Open Web technologies including HTML, CSS, and APIs for both Web sites and progressive web apps. It also has some developer-oriented documentation for Mozilla products, such as Firefox Developer Tools.') %}
  {% set social_title = 'MDN Web Docs' %}
  <meta property="og:description" content="{{ seo_description }}">
  <meta name="description" content="{{ seo_description }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:title" content="{{ social_title }}">
  <meta property="og:title" content="{{ social_title }}">

{% endblock %}

{% block document_head %}

<!-- top search area -->
<div class="home-masthead">
    <div class="center">
        <h1 class="highlight highlight-spanned"><span class="highlight-span">{{ _('Resources for developers, by developers.') }}</span></h1>

        <form id="home-search-form" action="{{ url('search') }}" method="get" class="search nodisable">
            <div class="home-search-form search-form">
                <label for="home-q" class="offscreen">{{ _('Search') }}</label>
                <span class="search-icon">
                    {% include 'includes/icons/general/search.svg' %}
                </span>
                <input class="search-input" type="search" id="home-q" name="q" placeholder="{{ _('Search the docs') }}" />
                <button type="submit" class="offscreen">{{ _('Search') }}</button>
                {% for group, tag, shortcut in default_filters %}
                  <input type="hidden" name="{{ group }}" value="{{ shortcut|default(tag, true) }}">
                {% endfor %}
            </div>
        </form>

        <ul class="home-features">
          <li>
              <a href="{{ wiki_url('Web') }}" class="cta-link">
                  {{ _('Web Technologies') }}{% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </li>
          <li>
              <a href="{{ wiki_url('Learn') }}" class="cta-link">
                  {{ _('Learn web development') }}{% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </li>
          <li>
              <a href="{{ wiki_url('Tools') }}" class="cta-link">
                  {{ _('Developer Tools') }}{% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </li>
        </ul>
    </div>
</div>

{% endblock %}


{% block content %}

<!-- callout area -->
<div class="home-callouts">
  <h2 class="offscreen">{{ _('Featured') }}</h2>
  <div class="column-container center">
    {%- if settings.FOUNDATION_CALLOUT %}
      {% include "landing/includes/callouts/foundation.html" %}
    {% else %}
      {% include "landing/includes/callouts/featured.html" %}
    {% endif %}
    {% if settings.NEWSLETTER %}
    <div class="column-callout callout-newsletter">
      {% include "includes/newsletter.html" %}
    </div>
    {% else %}
      <div class="column-callout callout-learn">
        <a href="{{ wiki_url('Learn') }}"><span>{{ _('Learn Web Development') }}</span></a>
      </div>
      <div class="column-callout callout-deved">
        <a href="https://www.mozilla.org/firefox/developer/?utm_source=developer.mozilla.org&utm_medium=referral&utm_campaign=mdn-front-pg-promo"><span>{{ _('Get The Browser For Developers Like You') }}</span></a>
      </div>
    {% endif %}
  </div>
</div>

<!-- hacks area -->
<div class="home-hacks">
  <div class="column-container center">
    <div class="column-hacks" dir="ltr">
      <h2>
          {% include 'includes/icons/general/star.svg' %} Hacks Blog
          <span class="heading-link">
              <a href="http://hacks.mozilla.org">
                {{ _('read more at hacks.mozilla.org') }}
                {% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </span>
      </h2>
      {{ newsfeed(updates) }}
    </div>
    <div class="column-involved">
      <!-- contributions section -->
      <h2>{% include 'includes/icons/emojis/smile.svg' %} {{ _('Help improve MDN') }}</h2>
      <p>{{ _('All parts of MDN (docs and the site itself) are created by an open community of developers. Please join us! Pick one of these ways to help:') }}</p>
      <ul>
        <li><a href="{{ wiki_url('MDN/Getting_started') }}">{{ _('Getting started') }}</a></li>
        <li><a href="{{ wiki_url('MDN/Contribute/Howto/Do_an_editorial_review') }}">{{ _('Editorial review') }}</a></li>
        <li><a href="{{ wiki_url('MDN/Contribute/Howto/Do_a_technical_review') }}">{{ _('Technical review') }}</a></li>
        <li><a href="{{ wiki_url('MDN/Contribute/Localize/Translating_pages') }}">{{ _('Translating') }}</a></li>
        <li><a href="{{ wiki_url('MDN/Promote') }}">{{ _('Promoting MDN') }}</a></li>
        <li><a href="https://github.com/mdn/kuma#readme">{{ _('Contributing to the MDN codebase') }}</a></li>
        <li><a href="https://github.com/mdn/browser-compat-data">{{ _('Updating browser compatibility data') }}</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% if waffle.switch('developer_needs') %}
    {%- block banners %}
        {% include "banners/cta-banners.html" %}
    {% endblock %}
{% endif %}

{% block js %}
  {{ super() }}
  {% if settings.NEWSLETTER %}
    {% javascript 'newsletter' %}
  {% endif %}

  {% if waffle.switch('developer_needs') %}
    {% javascript 'banners' %}
  {% endif %}
{% endblock %}
