{% extends "base.html" %}

{% set styles = ('maintenance-mode',) %}

{% block title %}{{ page_title(_('Maintenance Mode')) }}{% endblock %}
{% set meta = [('robots', 'noindex, nofollow')] %}

{% block content %}

<section id="content">
  <div class="wrap">
    <section id="content-main" class="full" role="main">
      <h1>{{ _('Maintenance Mode') }}</h1>

      <div id="content-wrapper">
        <div id="copy" class="text-content">
          <p>
          {% trans %}
            MDN is currently in maintenance mode. Content is being served
            from a backup database, which means some articles may show out-of-date
            information. Have no fear! All will be restored when maintenance has
            concluded.
          {% endtrans %}
          </p>

          <p>
          {% trans %}
            While in maintenance mode, the following actions are unavailable:
          {% endtrans %}
          </p>

          <ul>
            <li>{{ _('editing articles') }}</li>
            <li>{{ _('creating accounts') }}</li>
            <li>{{ _('logging in') }}</li>
          </ul>

          <p>
            {{ _('We apologize for the inconvenience.') }}
          </p>
        </div>

        <div id="beastainer">
          <div id="servers"></div>
          <div id="beast">
            <div id="beast-eyes"></div>
            <div id="beast-body"></div>
          </div>
          <div class="cloud" id="cloud-large"></div>
          <div class="cloud" id="cloud-small"></div>
        </div>
      </div>
    </section>
  </div>
</section>

{% endblock %}

{% block site_js %}
  {{ super() }}
{% endblock %}
