{% extends "react_base.html" %}

{% from "landing/includes/newsfeed.html" import newsfeed %}

{% block body_attributes %}id="home"{% endblock %}


{% block site_css %}
  {{ super() }}
  {% include "landing/includes/style.html" %}
{% endblock %}

{% block extrahead %}
  <meta name="google-site-verification" content="Phj8dHc2oKwic3FGPsKIhdOBk_1wnCTnKwjcjiLgJPc">
  <meta name="google-site-verification" content="TH9rA27HbfjO_XqYWTIPrW1E7E7Dtgsh7ULzHi3UTVA">

  {% set seo_description = _('The MDN Web Docs site provides information about Open Web technologies including HTML, CSS, and APIs for both Web sites and progressive web apps. It also has some developer-oriented documentation for Mozilla products, such as Firefox Developer Tools.') %}
  {% set social_title = 'MDN Web Docs' %}
  <meta property="og:description" content="{{ seo_description }}">
  <meta name="description" content="{{ seo_description }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:title" content="{{ social_title }}">
  <meta property="og:title" content="{{ social_title }}">

{% endblock %}

{% block pageheader %}
{{ render_react("landing", request.LANGUAGE_CODE, request.get_full_path(),
                None)|safe }}
{% endblock %}

{% block document_head %}

<!-- top search area -->
<div id="content" class="home-masthead home-masthead-no-search">
    <div class="center">
        <h1 class="highlight highlight-spanned"><span class="highlight-span">{{ _('Resources for developers, by developers.') }}</span></h1>

        <ul class="home-features">
          <li>
              <a href="{{ wiki_url('Web') }}" class="cta-link">
                  {{ _('Web Technologies') }}{% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </li>
          <li>
              <a href="{{ wiki_url('Learn') }}" class="cta-link">
                  {{ _('Learn web development') }}{% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </li>
          <li>
              <a href="{{ wiki_url('Tools') }}" class="cta-link">
                  {{ _('Developer Tools') }}{% include 'includes/icons/arrows/arrow.svg' %}
              </a>
          </li>
        </ul>
    </div>
</div>

{% endblock %}


{% block content %}
<div class="center clear">
  <!-- callout area -->
  <div class="home-callouts">
    <h2 class="offscreen">{{ _('Featured') }}</h2>
    <div class="column-container center">
      {% include "landing/includes/callouts/featured.html" %}
      {% if settings.NEWSLETTER %}
      <div class="column-callout callout-newsletter">
        {% include "includes/newsletter.html" %}
      </div>
      {% else %}
        <div class="column-callout callout-learn">
          <a href="{{ wiki_url('Learn') }}"><span>{{ _('Learn Web Development') }}</span></a>
        </div>
        <div class="column-callout callout-deved">
          <a href="https://www.mozilla.org/firefox/developer/?utm_source=developer.mozilla.org&utm_medium=referral&utm_campaign=mdn-front-pg-promo"><span>{{ _('Get The Browser For Developers Like You') }}</span></a>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- hacks area -->
  <div class="home-hacks">
    <div class="column-container center">
      <div class="column-hacks" dir="ltr">
        <h2>
            {% include 'includes/icons/general/star.svg' %} Hacks Blog
            <span class="heading-link">
                <a href="http://hacks.mozilla.org">
                  {{ _('read more at hacks.mozilla.org') }}
                  {% include 'includes/icons/arrows/arrow.svg' %}
                </a>
            </span>
        </h2>
        {{ newsfeed(updates) }}
      </div>
      <div class="column-involved">
        <!-- contributions section -->
        <h2>{{ _('Help improve MDN') }}</h2>
        <p>{{ _('All parts of MDN (docs and the site itself) are created by an open community of developers. Please join us! Pick one of these ways to help:') }}</p>
        <ul>
          <li><a href="{{ wiki_url('MDN/Getting_started') }}">{{ _('Getting started') }}</a></li>
          <li><a href="{{ wiki_url('MDN/Contribute') }}">{{ _('Contributing to MDN content') }}</a></li>
          <li><a href="https://github.com/mdn/yari#readme">{{ _('Contributing to the MDN codebase') }}</a></li>
          <li><a href="https://github.com/mdn/browser-compat-data">{{ _('Updating browser compatibility data') }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {{ super() }}
  {% if settings.NEWSLETTER %}
    {% javascript 'newsletter' %}
  {% endif %}
{% endblock %}
