/*
    Used to style the dashboard widgets in the dashboard apps
*/

@require 'includes/vars';
@require 'includes/mixins';
@require 'components/banned';

/* New revision dashboard styles */
.dashboard-table {
    width: 100%;
    border-collapse: collapse;

    thead tr {
        background: #3a3a3a;
        color: #fff;
        font-weight: bold;
    }

    tbody tr {
        cursor: pointer;
        border-top: 1px solid rgba-fallback(rgba($text-color, 0.4));

        &:hover {
            background: $light-background-color;

            & + .dashboard-detail {
                background: $light-background-color;
            }
        }

        .new, .edit, .locale, .deleted {
            set-font-size(11px);
            border-radius: 8px;
            color: #fff;
            display: inline-block;
            margin-right: 6px;
            padding: 2px 4px;
        }
        .new {
            background: rgba-fallback(rgba(green, 0.6));
        }
        .edit {
            background: $blue;
        }
        .locale {
            background: rgba-fallback(rgba(#777, 0.6));
        }
        .deleted {
            background: rgba-fallback(rgba(#f00, 0.6));
        }
    }

    /* Select only the outer table cells. */
    > thead th,
    .dashboard-row > td {
        @extend $column-2;
        padding: 6px;
        vertical-align: text-top;
    }

    /* needs extra specificity to over-ride rules above */
    .dashboard-title,
    .dashboard-comment,
    .dashboard-author,
    .dashboard-tags {
        @extend $column-3;
    }

    .dashboard-spam {
        @extend $column-1;
        word-break: break-all;
    }

    #page-buttons {
        li {
            display: inline-block;
            bidi-style(margin-right, $content-horizontal-spacing, margin-left, 0);
            margin-top: $content-vertical-spacing;
        }
    }
}

.dashboard-table-spam {

    /* styles over riding both the revision table and diff */

    tbody tr {
        border-top: none;
        cursor: default;
    }

    tbody > tr:hover {
        background: inherit;
    }

    /* styles over riding just the revision table, not the diff */

    > tbody {
        border-bottom: 5px solid #000;
    }

    > tbody > tr > td {
        padding: 2px 2px 10px 2px;
        vertical-align: top;
    }

    > tbody > tr:first-child > td {
        padding-top: $grid-spacing;
    }

    > tbody > tr:last-child > td {
        padding-bottom: $grid-spacing;
    }
}

.dashboard-title {
    word-break: break-all;
}

.dashboard-slug {
    set-smaller-font-size();
    opacity: 0.8;
    font-style: italic;
    display: block;
}

.dashboard-detail {
    border-top: 0;
}

.dashboard-detail-details {
    display: none;
    padding: 0 6px;
}

.submission-spam {
    font-weight: bold;
    color: $negative;
}

.submission-ham {
    font-weight: bold;
    color: $positive;
}

.dashboard-spam {
    word-break: normal;
}

.dashboard-confirm {
    set-larger-font-size();
    font-weight: bold;
}

td.dashboard-comment {
    font-style: italic;
}

.dashboard-compare {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    border :1px solid #000;

    .diff {
        margin-top: 0 !important;
    }

    .diff thead tr {
        background-color: #adadad;
    }
}

#revision-filter {
    #id_start_date, #id_end_date {
        width: 100px;
    }
    label {
        display: inline-block;
        margin-right: $content-horizontal-spacing;
    }
    .revision-field {
        display: inline-block;
        margin: 0 $grid-spacing ($grid-spacing / 2) 0;
        white-space: nowrap;
    }
}
