@require 'includes/mixins';
@require 'includes/vars';

.beast {
    float: right;
    margin: $grid-spacing 0 $grid-spacing $grid-spacing;
}

ol.prose, ul.prose {
    list-style-type: disc;
}

ul.prose {
    margin: $grid-spacing 0;
}
