/*
    Main stylesheet for the site, standalone
*/

@require 'base/fonts/opensans';

/* stylesheets used only in main  */
@require 'base/elements';
@require 'base/utilities';
@require 'base/icons';

/* components also used elsewhere */
@require 'components/components';
@require 'components/content';
@require 'components/structure';
@require 'components/form';
@require 'components/tags';
@require 'components/doc-title';
@require 'components/errorlist';
@require 'components/compact';
@require 'components/newsletter';
