// soapbox message
.maintenance-mode-notice {
    background: #fdc652;

    p {
        font-weight: bold;
        text-align: center;
    }
}

// hide links/buttons to disabled functions
.maintenance-mode {
    .activity-actions .edit,
    .change-revisions,
    .login,
    .page-buttons-edit,
    .revert-revision,
    #translations-add {
        display: none;
    }
}
