@import 'includes-blue/vars';
@import 'includes-blue/mixins';

.home-search-form {
    position: relative;
}

.search-form {
    .search-filter-wrapper {
        @include big-search();
        cursor: text;
        padding: $input-padding;
        position: relative;
        background-color: #fff;
        @include clearfix();
        @include bidi-style(padding-left, 35px, padding-right, 0);
    }

    .search-icon {
        @include bidi-style(left, 0, right, 0);
        top: 8px;
    }

    input#home-q {
        border: none;
        display: inline-block;
        padding: 3px 0;
        margin-bottom: 0;
        outline: none;
        max-width: 100%;
        max-width: calc(100% - 40px);
    }

    .show-topics {
        @include bidi-style(right, 0, left, auto);
        box-shadow: none;
        /* stylelint-disable declaration-no-important  */
        background-color: #fff !important;
        color: $text-color !important;
        font-size: 1.2em !important;
        /* stylelint-enable */
        position: absolute;
        top: 6px;
    }

    .suggestions {
        @include big-search();
        border-radius: 0;
        color: #fff;
        max-height: 300px;
        overflow-y: scroll;
        padding: $input-padding; /* Give the suggestions list the same width as the search box */

        ul {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        strong,
        li a.search-ss {
            padding: 0 10px;
        }

        strong {
            text-transform: uppercase;
        }

        li {
            a.search-ss {
                display: block;
                color: #fff;

                &:hover,
                &:focus,
                &.selected {
                    background: $homepage-background-color;
                    color: #fff !important; /* stylelint-disable-line declaration-no-important */
                    text-decoration: none;
                }

                span {
                    @include bidi-value(float, right, left);
                }
            } /* end a.search-ss */
        } /* end li */
    } /* end .suggestions */

    .filters {
        box-sizing: border-box;
        @include bidi-style(margin-right, -5px, margin-left, 0);
        display: inline-block;
        max-width: 100%;
        max-width: calc(100% - 40px);
        vertical-align: top;
        @include bidi-value(float, left, right);

        span.topic {
            /* stylelint-disable declaration-no-important */
            display: inline-block;
            background-color: $homepage-background-color !important;
            box-shadow: none;
            color: #fff !important;
            cursor: default !important;
            @include bidi-style(margin-right, 5px, margin-left, 0);
            padding: 2px 10px 2px 10px !important;
            text-transform: none !important;
            /* stylelint-enable */

            button.close {
                /* stylelint-disable declaration-no-important */
                background-color: transparent !important;
                box-shadow: none;
                color: #fff !important;
                @include bidi-style(margin-left, 5px, margin-right, 0);
                @include bidi-value(padding, 5px 0 5px 5px  !important, 5px 5px 5px 0  !important);
                /* stylelint-enable */
            } /* end button.close */

            &:last-child {
                @include bidi-style(margin-right, 10px, margin-left, 0);
            }
        } /* end span.topic */
    } /* end .filters */

    &.dark {
        .suggestions {
            background-color: #fff;
        }

        #home-q,
        .show-topics,
        .suggestions,
        .suggestions li a {
            color: #4d4e53 !important; /* stylelint-disable-line declaration-no-important */
        }
    }
} /* end .search-form */

@-webkit-keyframes openNotification {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes openNotification {
    from {
        margin-top: -115px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}
