a.headerlink {
    display: none;
}

div.admonition {
    p.admonition-title {
        display: inline;
        font-weight: bold;
        margin: 0 10px 5px 0;

        & + p {
            display: inline;
        }
    }
}

.section {
    h4 {
        a {
            display: none;
        }
    }
}
