@import 'includes/vars';
@import './minimalist/vars/_vars-color-palette.scss';

@import './minimalist/atoms/buttons.scss';

.delete-user-content {
    margin-top: 20px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 24px;
            }
        }
    }
    a {
        margin-left: 20px;
        font-weight: bold;
    }
}
