@import 'includes/_vars.scss';
@import 'includes/_mixins.scss';

/*
Profile shared
====================================================================== */
@import 'components/users/_vars.scss';
@import 'components/users/_user-title.scss';


/*
Profile view
====================================================================== */
@import 'components/_activity.scss';
@import 'components/_banned.scss';
@import 'components/_readable-line-length.scss';
@import 'components/_alert-message.scss';
@import 'components/users/_docs-activity.scss';
@import 'components/users/_user-links.scss';
@import 'components/users/_user-head.scss';
@import 'components/users/_user-section.scss';


/*
Profile edit
====================================================================== */
@import 'components/users/_user-edit.scss';

@import 'minimalist/components/user-settings/layout.scss';
@import 'minimalist/vars/vars-color-palette.scss';
@import 'minimalist/atoms/buttons.scss';

/*
Manage Payments
====================================================================== */
@import 'components/users/_manage-subscriptions.scss';

/*
API keys page
====================================================================== */
@import 'components/_option-list.scss';

/*
 * Users app CSS
 */

#browser_register {
    form {
        button {
            margin: 5px 0;
        }
    }
}
