@require 'includes/vars';
@require 'includes/mixins';
@require 'components/wiki/mixins';

/*
General element over-rides
====================================================================== */
@require 'components/wiki/elements';


/*
Utitlity classes (reused in a variety of contexts)
====================================================================== */
@require 'components/wiki/document-list';
@require 'components/wiki/external-icon';


/*
Components that may appear on most wiki pages
====================================================================== */
@require 'components/wiki/structure';
@require 'components/wiki/wiki-block';
@require 'components/wiki/quick-links';
@require 'components/wiki/reviews';
@require 'components/wiki/contributors'
@require 'components/wiki/toc';
@require 'components/wiki/topicpage-table';
@require 'components/wiki/no-details';
@require 'components/wiki/kserrors';
@require 'components/wiki/page-print';
@require 'components/wiki/edit-section';
@require 'components/wiki/offline-dialog-content';
@require 'components/wiki/intrinsic';
@require 'components/wiki/properties';
@require 'components/wiki/spec';
@require 'components/wiki/indicators';
@require 'components/wiki/glossaryLink';
@require 'components/wiki/communitybox';
@require 'components/wiki/mega';


/*
Document head
- contains the document title, search-from, contributor bar, etc.
-------------------------------------------------------------- */
@require 'components/wiki/document-head';
@require 'components/wiki/contributor-avatars';
@require 'components/wiki/from-search';


/*
Article meta
- contains breadcrumbs and page buttons.
-------------------------------------------------------------- */
@require 'components/wiki/article-head';
@require 'components/wiki/crumbs';
@require 'components/wiki/page-buttons';


/*
Styling for article content
====================================================================== */

@require 'components/wiki/content/moreinfo';
@require 'components/wiki/content/summary';
@require 'components/wiki/content/card-grid';
@require 'components/wiki/content/pull-aside';
@require 'components/wiki/customcss';
@require 'components/wiki/open-in-host';
@require 'components/wiki/section-edit';


/*
Delete, move or revert pages.
====================================================================== */

@require 'components/wiki/parent-suggest';
@require 'components/wiki/move-decendants';
@require 'components/wiki/doc-source';
@require 'components/wiki/delete-document';
@require 'components/wiki/delete-revision';

