@require 'includes/vars';
@require 'includes/mixins';

@require 'components/compat-tables/vars';

/*
Icons
====================================================================== */
@require 'components/compat-tables/ic';
@require 'components/compat-tables/bc-icons';
@require 'components/compat-tables/bc-level';
@require 'components/compat-tables/bc-browser';


/*
Table Layout
====================================================================== */
@require 'components/compat-tables/bc-table';


/*
Support cells
====================================================================== */
@require 'components/compat-tables/bc-supports';


/*
History
====================================================================== */
@require 'components/compat-tables/bc-history-link';
@require 'components/compat-tables/bc-history';


/*
Footnotes & Legend
====================================================================== */
@require 'components/compat-tables/bc-footnotes';
@require 'components/compat-tables/bc-legend';

