@import 'includes-skinny/vars';
@import 'includes-skinny/mixins';
@import 'includes-skinny/mixins_indicators';
@import 'components-skinny/wiki/mixins';

/*
General element over-rides
====================================================================== */
@import 'components-skinny/wiki/elements';


/*
Utitlity classes (reused in a variety of contexts)
====================================================================== */
@import 'components-skinny/wiki/document-list';
@import 'components-skinny/wiki/external-icon';


/*
components-skinny that may appear on most wiki pages
====================================================================== */
@import 'components-skinny/wiki/structure';
@import 'components-skinny/wiki/wiki-block';
@import 'components-skinny/wiki/quick-links';
@import 'components-skinny/wiki/reviews';
@import 'components-skinny/wiki/contributors';
@import 'components-skinny/wiki/toc';
@import 'components-skinny/wiki/topicpage-table';
@import 'components-skinny/wiki/kserrors';
@import 'components-skinny/wiki/page-print';
@import 'components-skinny/wiki/edit-section';
@import 'components-skinny/wiki/offline-dialog-content';
@import 'components-skinny/wiki/intrinsic';
@import 'components-skinny/wiki/properties';
@import 'components-skinny/wiki/spec';
@import 'components-skinny/wiki/indicators';
@import 'components-skinny/wiki/glossaryLink';
@import 'components-skinny/wiki/communitybox';
@import 'components-skinny/wiki/mega';
@import 'components-skinny/wiki/interactive';


/*
Article meta
- contains breadcrumbs and page buttons.
-------------------------------------------------------------- */
@import 'components-skinny/wiki/article-head';
@import 'components-skinny/wiki/crumbs';
@import 'components-skinny/wiki/page-buttons';


/*
Styling for article content
====================================================================== */

@import 'components-skinny/wiki/content/moreinfo';
@import 'components-skinny/wiki/content/summary';
@import 'components-skinny/wiki/content/card-grid';
@import 'components-skinny/wiki/content/pull-aside';
@import 'components-skinny/wiki/content/landingPage';
@import 'components-skinny/wiki/content/columnList';
@import 'components-skinny/wiki/content/html5ArticleToc';
@import 'components-skinny/wiki/content/fancyTOC';
@import 'components-skinny/wiki/customcss';
@import 'components-skinny/wiki/sample-code';
@import 'components-skinny/wiki/section-edit';


/*
Delete, move or revert pages.
====================================================================== */

@import 'components-skinny/wiki/parent-suggest';
@import 'components-skinny/wiki/move-decendants';
@import 'components-skinny/wiki/doc-source';
@import 'components-skinny/wiki/delete-document';
@import 'components-skinny/wiki/delete-revision';


/*
Promos
====================================================================== */

@import 'components-skinny/wiki/promos';

/*
Helpfulness survey 2
====================================================================== */

@import 'components-skinny/wiki/wiki-helpful-survey';
