@import 'includes/vars';
@import 'includes/mixins';
@import 'includes/mixins_indicators';
@import 'components/wiki/mixins';

/*
General element over-rides
====================================================================== */
@import 'components/wiki/elements';


/*
Utitlity classes (reused in a variety of contexts)
====================================================================== */
@import 'components/wiki/document-list';
@import 'components/wiki/external-icon';


/*
Components that may appear on most wiki pages
====================================================================== */
@import 'components/wiki/structure';
@import 'components/wiki/wiki-block';
@import 'components/wiki/quick-links';
@import 'components/wiki/reviews';
@import 'components/wiki/contributors';
@import 'components/wiki/toc';
@import 'components/wiki/topicpage-table';
@import 'components/wiki/kserrors';
@import 'components/wiki/page-print';
@import 'components/wiki/edit-section';
@import 'components/wiki/offline-dialog-content';
@import 'components/wiki/intrinsic';
@import 'components/wiki/properties';
@import 'components/wiki/spec';
@import 'components/wiki/indicators';
@import 'components/wiki/glossaryLink';
@import 'components/wiki/communitybox';
@import 'components/wiki/mega';


/*
Document head
- contains the document title, search-from, contributor bar, etc.
-------------------------------------------------------------- */
@import 'components/wiki/document-head';
@import 'components/wiki/contributor-avatars';


/*
Article meta
- contains breadcrumbs and page buttons.
-------------------------------------------------------------- */
@import 'components/wiki/article-head';
@import 'components/wiki/crumbs';
@import 'components/wiki/page-buttons';


/*
Styling for article content
====================================================================== */

@import 'components/wiki/content/moreinfo';
@import 'components/wiki/content/summary';
@import 'components/wiki/content/card-grid';
@import 'components/wiki/content/pull-aside';
@import 'components/wiki/customcss';
@import 'components/wiki/open-in-host';
@import 'components/wiki/section-edit';


/*
Delete, move or revert pages.
====================================================================== */

@import 'components/wiki/parent-suggest';
@import 'components/wiki/move-decendants';
@import 'components/wiki/doc-source';
@import 'components/wiki/delete-document';
@import 'components/wiki/delete-revision';


/*
Promos
====================================================================== */

@import 'components/wiki/promos';

/*
Helpfulness survey 2
====================================================================== */

@import 'components/wiki/wiki-helpful-survey';
