/* Styles for the new article, article edit, article translation, and page move
   templates. */

@import 'includes/vars';
@import 'includes/mixins';
@import 'components/tagit';

@import 'components/wiki/edit/vars';
@import 'components/wiki/edit/editing';
@import 'components/wiki/edit/cke';
@import 'components/wiki/edit/page-attachments';
@import 'components/wiki/edit/save-and-edit-target';
@import 'components/wiki/edit/guide-links';
@import 'components/wiki/edit/ace-content';
@import 'components/wiki/edit/draft-status';
@import 'components/wiki/edit/first-contrib-welcome';
@import 'components/wiki/edit/page-comment';
@import 'components/wiki/edit/description';


/*
Meta data for pages
====================================================================== */

@import 'components/wiki/edit/metadata';
@import 'components/wiki/edit/duration-container';


/*
Move page
====================================================================== */

@import 'components/wiki/edit/move-page';


/*
Translate interface.
====================================================================== */

@import 'components/wiki/edit/translate/structure';
@import 'components/wiki/edit/translate/translate-document';
@import 'components/wiki/edit/translate/content-fields';
@import 'components/wiki/edit/translate/translate-source';
@import 'components/wiki/edit/translate/translate-buttons';
@import 'components/wiki/edit/translate/approved-localized';
@import 'components/wiki/edit/translate/change-locale';
