@import 'includes/vars';
@import 'includes/mixins';

/*
MDN at 10 zone
********************************************************************** */


/*
imports
====================================================================== */
@import 'zones/base';
@import 'zones/components/chapters';
@import 'zones/components/learnmore';
@import 'zones/components/promo10';
@import 'zones/components/quote';


/*
header modifications
====================================================================== */
.zone {
    background-color: #0952a8;
    background-image: url($path-to-images + 'zones/mdn10/head.png'), url($path-to-images + 'blueprint.png'), linear-gradient(to bottom, #153985, #044ca2 600px);
    background-repeat: no-repeat, repeat, repeat-x;
    background-position: center -37px;
}

.zone.zone-landing {
    background-position: center -6px;
}

@media #{$mq-tablet-and-up} {
    .zone-landing .masthead-text p {
        @include heading-1();
        margin-bottom: $grid-spacing;
        font-family: $heading-font-family;
        line-height: 1.2;
    }
}

@media #{$mq-small-desktop-and-up} {
    .zone-landing {

        h1 {
            display: none;
        }

        .zone-landing-header-preview {
            margin-top: 250px;
        }

        .masthead-text {
            width: -calc-col-width(6);
            margin-top: -180px;
            text-align: center;
        }
    }
}

/* =================================================================== */

.contributor-avatars {
    display: none;
}
