@import 'includes/vars';
@import 'includes/mixins';

@import 'zones/base';
@import 'zones/components/quote';
@import 'zones/components/promo10';
@import 'zones/components/chapters';
@import 'zones/components/learnmore';

.zone {
    background-color: #0952a8;
    background-image: url($path-to-images + 'zones/mdn10/head.png'), url($path-to-images + 'zones/blueprint.png'), linear-gradient(to bottom, #153985, #044ca2 600px);
    background-repeat: no-repeat, repeat, repeat-x;
    background-position: center -37px;
}

.zone.zone-landing {
    background-position: center -6px;
}

@media #{$media-query-mobile-only} {
    .zone {
        background-image: url($path-to-images + 'zones/blueprint.png'), linear-gradient(to bottom, #153985, #044ca2 600px);
        background-repeat: repeat, repeat-x;
    }
}

.zone-landing {

    @media #{$media-query-tablet-and-up} {
        .masthead-text p {
            @include heading-1();
            margin-bottom: $grid-spacing;
            font-family: $heading-font-family;
            font-weight: $light-font-weight;
            line-height: 1.2;
        }
    }

    @media #{$media-query-small-desktop-and-up} {

        h1 {
            display: none;
        }
        .zone-landing-header-preview {
            margin-top: 250px;
        }

        .masthead-text {
            width: -calc-col-width(6);
            margin-top: -180px;
            margin-bottom: 110px;
            text-align: center;
        }
    }
}

.contributor-avatars {
    display: none;
}
