@import 'includes-blue/vars';
@import 'includes-blue/mixins';

/*
Marketplace zone
********************************************************************** */


/*
imports
====================================================================== */
@import 'zones-blue/base';


/*
header modifications
====================================================================== */
.zone-image {
    background-image: url($path-to-images + 'zones/fx-marketplace-icon.png');

    .zone-landing-header & {
        @include bidi-value(background-position, 0 0, 0 0);
        background-size: 120% auto;
        bottom: 0;

        @media #{$media-query-tablet} {
            @include bidi-value(background-position, bottom center, bottom center);
        }
    }
}
