@import 'includes/vars';
@import 'includes/mixins';

/*
These styles compliment the wiki styles when the page is a zone.
********************************************************************** */


@import 'zones/base';


/*
Specialized styles for specific zones
====================================================================== */

/* Apps */
@import 'zones/components/initial-steps';

/* Archive */
@import 'zones/archive';

/* B2G */
@import 'zones/components/outer-apps-box';

/* Connect */
@import 'zones/connect';

/* MDN at 10 */
@import 'zones/ten';

/* Tools */
@import 'zones/components/articulated-diagram';
