.confirmation-form {
    background: $red-light;
    border: 1px solid $brand-red;
    margin: 24px 0;
    padding: 20px;
    max-width: 640px;
    overflow: hidden;

    h4 {
        font-family: inherit;
        font-size: inherit;
        margin: 0 0 10px;
    }

    strong {
        display: block;
        margin-bottom: 10px;
    }

    .form-footer {
        display: flex;
        flex-direction: column;

        button:last-child {
            margin-bottom: 10px;
            order: -1;
        }

        @media #{$mq-tablet-and-up} {
            flex-direction: row;
            justify-content: flex-end;
            button:last-child {
                margin: 0 0 0 10px;
                order: inherit;
            }
        }
    }
}
