@import '../../vars/vars-color-palette';
@import '../../../includes/vars';

@import '../../atoms/notifications';

@import './confirmation-form';

.subscription {
    margin-bottom: 60px;

    ul {
        max-width: 670px;
    }

    .cta {
        display: block;
        margin-top: 10px;

        @media #{$mq-tablet-and-up} {
            display: inline-block;
            margin-top: inherit;
        }
    }

    .subscription-footer {
        margin-top: 24px;
    }
}

.active-subscriptions {
    margin-bottom: 24px;
    padding: 24px 10px;
    border-bottom: 1px solid $neutral-500;

    li {
        margin-bottom: 10px;
    }

    .credit-card::before {
        display: inline-block;
        content: '';
        margin-right: 5px;
        background: url('/static/img/subscriptions/credit-card.svg') 0 0
            no-repeat;
        background-size: 24px;
        width: 24px;
        height: 24px;
        vertical-align: sub;
    }
}
