@import '../../vars/vars-media-queries';

.user-details {
    margin-bottom: 20px;
    padding: 0 20px 40px;

    input[type='text'] {
        width: 90%;
    }

    select {
        width: 95%;
    }

    .cta {
        min-width: 100px;
    }
}
