# This is a standalone requirements file for the documentation requirements
# used by ReadTheDocs to set up the documentation rendering environment

# These should stay synced with other requirements files
Babel==2.8.0
docutils==0.12
Jinja2==2.11.3
pytz==2018.5

# These requirements are unique to docs
Pygments==2.7.4
Sphinx==3.5.1
snowballstemmer==2.1.0
