.subscriptions-incentive {
    background-color: $brand-primary-600;
    padding: 60px 0 40px;

    h3 {
        margin: 0 0 20px;
        text-align: center;

        @media #{$mq-small-desktop-and-up} {
            margin-bottom: 40px;
        }
    }

    h4 {
        margin-top: 0;
    }

    .perks {
        display: flex;
        flex-flow: column;
        align-items: center;

        @media #{$mq-tablet-and-up} {
            flex-flow: row;
            justify-content: space-evenly;
            margin: 0 auto;
            max-width: 1320px;
        }

        li {
            position: relative;
            flex-basis: 30%;
            max-width: 265px;
        }
    }

    .discounts::before,
    .invitations::before {
        display: block;
        content: '';
        margin: 0 auto;
        background-size: 120px;
        width: 120px;
        height: 120px;

        @media #{$mq-tablet-and-up} {
            margin: inherit;
        }

        @media #{$mq-small-desktop-and-up} {
            position: absolute;
            top: -20px;
            left: -130px;
        }
    }

    .discounts::before {
        background: transparent url('/static/img/subscriptions/swag.svg') 0 0;
    }

    .invitations::before {
        background: transparent url('/static/img/subscriptions/invitation.svg')
            0 0 no-repeat;
    }
}
