.subscriptions-form-header {
    background-color: $brand-primary-500;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 20px;
    text-align: center;

    h2 {
        font-size: 60px;
        span {
            font-size: 24px;
        }
    }
}

.subscriptions-form {
    display: none;

    @media #{$mq-small-desktop-and-up} {
        display: block;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: $box-shadow-blue;
        min-width: 470px;
        width: 470px;

        section,
        form {
            font-size: 14.5px; // this sets the <small /> text to about 12px
            padding: 20px 20px 5px;

            &.error {
                padding: 20px;
            }

            h2 {
                margin: 0;
            }

            h4 {
                margin: 0 0 5px;
            }

            label {
                display: flex;
                align-items: flex-start;
            }

            button {
                display: block;
                margin-top: 20px;
                width: 100%;
                text-align: left;

                &::after {
                    float: right;
                    content: '';
                    background: transparent
                        url('../../../../arrows/arrow-right.svg') 0 0 no-repeat;
                    background-size: 14px;
                    width: 14px;
                    height: 18px;
                }
            }

            // The subscription form has an <input type=checkbox required>
            // which is part of the form submission but when you load the page,
            // and haven't even started paying attention to the form, the checkbox,
            // in Firefox, will appear red. Like something is wrong!
            // This will undo that.
            input[type='checkbox'] {
                margin: 2px 8px 0 0;
                &:required {
                    box-shadow: none;
                }
            }
        }

        .subtext {
            display: block;
            padding: 5px 0;
            text-align: right;
        }
    }
}
