.subscriptions-form-header {
    background-color: $brand-primary-500;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 20px;
    text-align: center;
}

.subscriptions-form {
    display: none;

    @media #{$mq-small-desktop-and-up} {
        display: block;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: $box-shadow-blue;
        max-width: 460px;
        min-height: 320px;

        section,
        form {
            padding: 20px 20px 0;

            &.error {
                padding: 20px;
            }

            h2 {
                margin: 0;
            }

            button {
                display: block;
                margin-top: 20px;
                width: 100%;
            }

            // The subscription form has an <input type=checkbox required>
            // which is part of the form submission but when you load the page,
            // and haven't even started paying attention to the form, the checkbox,
            // in Firefox, will appear red. Like something is wrong!
            // This will undo that.
            input[type='checkbox']:required {
                box-shadow: none;
            }
        }

        .subtext {
            display: block;
            padding: 5px 0;
            text-align: right;
        }
    }
}
