/*
Standard callout
-------------------------------------------------------------- */

$standard-callout-image-width: 129px;
$standard-callout-image-spacing: 129px + 20px;

.callout-standard {
    background-color: $accent-light;

    a {
        @include set-font-size(14px);
        color: #000 !important; /* stylelint-disable-line declaration-no-important */
        font-weight: bold;

        &:after {
            display: none;
            @include bidi(((right, 20px, left, auto),));
            height: 140px;
            top: 15px;
            width: $standard-callout-image-width;

            @media #{$mq-mobile-only} {
                display: block;
            }

            @media #{$mq-large-desktop-and-up} {
                display: block;
            }

            @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
                background-size: 129px 140px;
            }
        }

        &:before {
            content: none;
            display: none;
        }
    }

    span {
        padding: $grid-spacing;

        @media #{$mq-mobile-only} {
            @include bidi(((padding, $grid-spacing ($standard-callout-image-spacing + $grid-spacing) $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing ($standard-callout-image-spacing + $grid-spacing)),));
        }

        @media #{$mq-large-desktop-and-up} {
            @include bidi(((padding, $grid-spacing ($standard-callout-image-spacing + $grid-spacing) $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing ($standard-callout-image-spacing + $grid-spacing)),));
        }
    }

    p {
        margin-bottom: 0;
    }

    .callout-subtext {
        @include set-font-size($base-font-size);
    }

    button {
        @include bidi(((text-align, left, text-align, right),));
        background: #fff;
        border: 2px solid;
        border-radius: 0;
        box-shadow: none;
        color: #000;
        display: inline-block;
        font-weight: bold;
        margin-top: 14px;
        padding: 9px;
        text-transform: none;
    }
}
