@require 'includes/vars';
@require 'includes/mixins';

/*
 * Users app CSS
 */

#browser_register {
    form {
        button {
            margin: 5px 0;
        }

        newsletter-gutter = ($gutter-width / 2);
        #apps-newsletter-subscribe {
            margin-top: newsletter-gutter;
            margin-bottom: 0;

            p, ol {
                margin-bottom: newsletter-gutter;
            }
        }
    }
}
