RewriteEngine On

# TODO: remove this after a month or so.
RewriteRule ^search\.xml$ /search/xml [L,R=301]

# Account URLs.
RewriteRule ^tiki-login /users/login [L,R=301]
RewriteRule ^tiki-logout.php /users/logout [L,R=301]
RewriteRule ^tiki-register /users/register [L,R=301]
RewriteRule ^tiki-remind_password.php /users/pwreset [L,R=301]
RewriteRule ^tiki-user_preferences.php /users/edit [L,R=301]

# Contribute shortcut
RewriteRule ^contribute/?$ /kb/How+to+contribute [L,QSA,R=302]

# Redirect old discussion forums to new discussion forums
RewriteRule ^forum/3(.*) /en-US/forums/contributors$1 [L,QSA,R=301]
RewriteRule ^([\-a-zA-Z]+)/forum/3(.*) /en-US/forums/contributors$2 [L,QSA,R=301]
RewriteRule ^forum/4(.*) /en-US/forums/off-topic$1 [L,QSA,R=301]
RewriteRule ^([\-a-zA-Z]+)/forum/4(.*) /en-US/forums/off-topic$2 [L,QSA,R=301]
RewriteRule ^forum/5(.*) /en-US/forums/knowledge-base-articles$1 [L,QSA,R=301]
RewriteRule ^([\-a-zA-Z]+)/forum/5(.*) /en-US/forums/knowledge-base-articles$2 [L,QSA,R=301]

# Redirect old KB docs to new locations
RewriteRule ^kb/Firefox\+Help$ /home/ [L,NC,R=301]
RewriteRule ^kb/Windows\+start\+page$ /home/ [L,NC,R=301]
RewriteRule ^kb/Firefox\+Support\+Home\+Page$ /home/ [L,NC,R=301]
RewriteRule ^kb/Get\+help\+with\+Firefox\+4\+Beta$ /home/ [L,NC,R=301]
RewriteRule ^kb/Localization\+Dashboard$ /contributors [L,NC,R=301]
RewriteRule ^kb/All\+Knowledge\+Base\+articles$ /contributors [L,NC,R=301]
RewriteRule ^kb/Live\+Chat$ /en-US/chat/ [L,NC,R=301]  # Chat is not localized.
RewriteRule ^kb/Mobile\+Help\+and\+Tutorials$ /mobile/ [L,NC,R=301]
RewriteRule ^kb/Support\+Website\+Forums$ /en-US/questions/ [L,NC,R=301]  # Questions is not localized.
RewriteRule ^kb/Article\+list$ /kb/all [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Firefox\+Help$ /$1/home/ [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Windows\+start\+page$ /$1/home/ [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Firefox\+Support\+Home\+Page$ /$1/home/ [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Get\+help\+with\+Firefox\+4\+Beta$ /$1/home/ [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Localization\+Dashboard$ /$1/contributors [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/All\+Knowledge\+Base\+articles$ /$1/contributors [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Live\+Chat$ /en-US/chat/ [L,NC,R=301]  # Chat is not localized.
RewriteRule ^([\-a-z]+)/kb/Mobile\+Help\+and\+Tutorials$ /$1/mobile/ [L,NC,R=301]
RewriteRule ^([\-a-z]+)/kb/Support\+Website\+Forums$ /en-US/questions/ [L,NC,R=301]  # Questions is not localized.
RewriteRule ^([\-a-z]+)/kb/Article\+list$ /$1/kb/all [L,NC,R=301]

# Windows 7 application link
RewriteRule ^1/windows7-support(\/)?$  "/home/?as=u" [L,R,NE]

# Redirect locales that point to one locale in SUMO.
# Kitsune does this by itself, mostly.
# Not sure about this guy: may need to special-case it in the LocaleURLMiddleware.
RewriteRule ^n[bn]\-NO/(.+)$           /no/$1 [L,R]
# Just need to move sr-CYRL above sr-LATN to get this.
RewriteRule ^sr/(.+)$           /sr-CYRL/$1 [L,R]

# Everything else goes to Kitsune.
RewriteRule ^(.*) /k/$1 [QSA]
