@font-face {
    font-family: 'compat-icons';
    src:url($path-to-assets + 'fonts/compat-icons.eot?-ehmwve');
    src:url($path-to-assets + 'fonts/compat-icons.eot?#iefix-ehmwve') format('embedded-opentype'),
        url($path-to-assets + 'fonts/compat-icons.woff2?-ehmwve') format('woff2'),
        url($path-to-assets + 'fonts/compat-icons.woff?-ehmwve') format('woff'),
        url($path-to-assets + 'fonts/compat-icons.ttf?-ehmwve') format('truetype');
    font-weight: normal;
    font-style: normal;
}
