{% extends "base.html" %}

{% block experiment_js %}
    {%- if not request.user.is_authenticated() and
           content_experiment and
           not content_experiment.selection_is_valid %}
        {% javascript content_experiment.id %}
    {%- endif %}
{% endblock %}

{% block site_css %}
    {{ super() }}

    {% if waffle.flag('redesign') %}
        {% stylesheet 'wiki' %}
    {% else %}
        {% stylesheet 'wiki-blue' %}
    {% endif %}

{% endblock %}

{% block site_js %}
    {{ super() }}
    {% javascript 'wiki' %}
{% endblock %}
