<!DOCTYPE html>
<html>
    <head>
        {% stylesheet 'samples' %}
        {% if css %}
        <style type="text/css">
            {{ css|safe }}
        </style>
        {% endif %}
        <meta charset="utf-8">
        <title>{{ document["title"] }} - {{ sample_name }} - code sample</title>
    </head>
    <body>
        {% if html %}
            {{ html|safe }}
        {% endif %}
        {% if js %}
            <script>
                {{ js|safe }}
            </script>
        {% endif %}
    </body>
</html>
