{% extends "wiki/base.html" %}
{% block title %}{{ page_title(_('Purge Document | %(document)s', document=document.title)) }}{% endblock %}
{% block content %}

  <article>
    <h1>{{ _('Purge') }} <a href="{{ document.get_absolute_url() }}">{{ document.title }}</a></h1>

    {% if deletion_log -%}
      <p>
        {% trans url=deletion_log.user.get_absolute_url(), username=deletion_log.user, when=datetimeformat(deletion_log.timestamp, format='longdatetime')  -%}
          This document was deleted by <a href="{{ url }}">{{ username }}</a> on {{ when }}.
        {% endtrans -%}
      </p>
      <h2>{{ _('Reason for Deletion') }}</h2>
      <p>{{ deletion_log.reason }}</p>

    {% else -%}
      <p>{{ _('This document was deleted, for unknown reasons.') }}</p>
    {% endif -%}

    <p>{{ _('Purge this document?') }}</p>
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="confirm" value="true" />
      <input type="submit" value="{{ _('Purge') }}" />
      <a href="{{ document.get_absolute_url() }}">{{ _('Cancel') }}</a>
    </form>
  </article>

{% endblock %}
