{% extends "wiki/base.html" %}
{% from "includes/error_list.html" import errorlist %}
{% from 'wiki/includes/page_buttons.html' import page_buttons with context %}
{% from "includes/common_macros.html" import content_editor %}
{% set title = _('Create a New Article') %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% block robots_value %}noindex, nofollow{% endblock %}
{% set classes = 'new' %}
{% block bodyclass %}new{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'wiki-edit' %}
    {% stylesheet 'jquery-ui' %}
{% endblock %}

{% block document_head %}
  <!-- heading -->
  <div class="document-head">
    <div class="center">
      <div class="document-title">
        <h1><span class="title-prefix">{{ _('Create a') }} </span><em>{{ _('New Document') }}</em></h1>
      </div>
    </div>
  </div>
{% endblock%}


{% block content %}
    <article id="new-document">
    {{ errorlist(document_form) }}
    {{ errorlist(revision_form) }}
    <form id="wiki-page-edit" class="editing" method="post" action="">
      {% csrf_token %}
      <fieldset>
      <header id="article-head">

        {{ page_buttons(wiki, document, discard_href, 'top') }}

        <ul class="metadata">
            <li class="clear">
                <label for="id_title">{{ _('Title:') }}</label>
                {{ document_form.title | safe }}
            </li>
            <li class="clear">
                <label for="id_slug"><dfn title="{{ _('URL segment that identifies the page') }}">{{ _('Slug:') }}</dfn></label>
                {{ document_form.slug | safe }}
            </li>
          {% if parent_slug %}
            <li class="clear"><label>{{ _('Parent:') }}</label>
                <a href="{{ parent_path }}" class="metadataDisplay" target="_blank" rel="noopener noreferrer">{{ parent_slug }}</a></li>
          {% endif %}
          {% include 'wiki/includes/document_toc_field.html' %}
        </ul>
        <input type="hidden" name="parent_topic" value="{{ parent_id|safe }}" />
      </header>

      {% include 'wiki/includes/guide_links.html' %}


      <div id="editor-wrapper" class="editor-wrapper">
        <div class="ckeditor-container editor-container">
          {{ revision_form.content|safe }}
        </div>
      </div>

      {% include 'wiki/includes/revision_comment.html' %}

      {% include 'wiki/includes/review_tags.html' %}

      <section id="page-tags" class="page-tags wiki-block">

          <h3>
              {% include 'includes/icons/general/tags.svg' %}
              {{ _('Tags') }}
          </h3>

        <input id="tagit_tags" type="text" name="tags" value="{% for tag in initial_tags %}{{ tag.name }},{% endfor %}" maxlength="255" />
      </section>


    </fieldset>

      <section class="wiki-block">
        {{ page_buttons(wiki, document, discard_href, 'bottom') }}
      </section>
    </form>

    </article>

{% endblock %}

{% block site_js %}
    {{ super() }}
    {% javascript 'jquery-ui' %}

    {% include 'wiki/includes/tag_suggestions.html' %}

    {% include 'wiki/includes/ckeditor_scripts.html' %}

    {% javascript 'wiki-edit' %}

{% endblock %}
