{% extends "wiki/base.html" %}
{% block title %}{{ page_title(_('Document Deleted')) }}{% endblock %}
{% block content %}

  <article>

    <h1>{{ _('Document Deleted') }}</h1>
    <p>
      {{- assert(user.has_perm('wiki.restore_document'),
                 'Deletion log details are only for moderators.') }}
      {% trans url=deletion_log.user.get_absolute_url(), username=deletion_log.user, when=datetimeformat(deletion_log.timestamp, format='longdatetime')  -%}
        This document was deleted by <a href="{{ url }}">{{ username }}</a> on {{ when }}.
      {% endtrans -%}
    </p>

    <h2>{{ _('Reason for Deletion') }}</h2>
    <p>{{ deletion_log.reason }}</p>

    <p><a href="{{ url('wiki.restore_document', deletion_log.slug) }}" class="button">{{ _('Restore this document') }}</a></p>

    {% if user.has_perm('wiki.purge_document') -%}
      <form action="{{ url('wiki.purge_document', deletion_log.slug) }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="confirm" value="true" />
        <button class="button" type="submit">{{ _('Purge this document') }}</button>
      </form>
    {% endif -%}
  </article>

{% endblock %}
