{% extends "wiki/base.html" %}
{% block title %}{{ page_title(_('Document Deleted')) }}{% endblock %}
{% block content %}

  <article>

    <h1>{{ _('Document Deleted') }}</h1>
    <p>
      {{- assert(user.has_perm('wiki.delete_document'),
                 'Deletion log details are only for moderators.') }}
      {% trans url=deletion_log.user.get_absolute_url(), username=deletion_log.user, when=datetimeformat(deletion_log.timestamp, format='longdatetime')  -%}
        This document was deleted by <a href="{{ url }}">{{ username }}</a> on {{ when }}.
      {% endtrans -%}
    </p>

    <h2>{{ _('Reason for Deletion') }}</h2>
    <p>{{ deletion_log.reason }}</p>

  </article>

{% endblock %}
