{% extends "wiki/base.html" %}
{% block title %}{{ page_title(_('Document Deleted')) }}{% endblock %}
{% block content %}

  <article>

    <h1>{{ _('Document Deleted') }}</h1>
    <p>
    {% trans url=deletion_log.user.get_absolute_url(), username=deletion_log.user, when=datetimeformat(deletion_log.timestamp, format='longdatetime')  %}
      This document was deleted on {{ when }}.
    {% endtrans %}
    </p>

    <h2>{{ _('Reason for Deletion') }}</h2>
    <p>{{ deletion_log.reason }}</p>

    {% if user.has_perm('wiki.restore_document') %}
    <p><a href="{{ url('wiki.restore_document', deletion_log.slug) }}" class="button">{{ _('Restore this document') }}</a></p>
    {% endif %}

  </article>

{% endblock %}
