{% extends "wiki/base.html" %}
{% block title %}{{ page_title(document.title + seo_parent_title) }}{% endblock %}

{% from "wiki/includes/document_macros.html" import build_document_crumbs, get_document_quick_links, get_document_subnav, document_watch, contributor_links with context %}
{% from "wiki/includes/buttons.html" import get_document_buttons with context %}
{% from "wiki/includes/approvals.html" import get_approvals_html with context %}

{% if fallback_reason == 'no_translation' %}
  {% set help_link = url('wiki.translate', document_path=document.slug, locale=document.locale)|urlparams(tolocale=request.LANGUAGE_CODE) %}
{% elif fallback_reason == 'translation_not_approved' %}
  {% set help_link = url('wiki.translate', document_path=document.parent.slug, locale=document.parent.locale)|urlparams(tolocale=request.LANGUAGE_CODE) %}
{% endif %}

{% set is_logged_in = request.user.is_authenticated() %}
{% set doc_abs_url = document.get_absolute_url() %}
{% set canonical = request.build_absolute_uri(doc_abs_url) %}

{% if document.is_template %}
  {% set macro_name = document.slug|replace('Template:','', 1) %}
  {% set template_search_link = url('search', locale=document.locale)|urlparams(locale='*', kumascript_macros=macro_name, topic='none') %}
{% endif %}

{% set current_revision = document.current_revision %}
{% if (is_logged_in and current_revision and document.allows_revision_by(user)) and (current_revision.needs_technical_review or current_revision.needs_editorial_review) %}
  {% set approvals_html = get_approvals_html(document, request.user) %}
{% endif %}

{% set zone_stack = document.zone_stack %}
{% set is_zone = zone_stack|length %}
{% set is_zone_root = is_zone and zone_stack[0].document == document %}
{% set other_translations = document.other_translations %}

{% set show_left = zone_subnav_html or quick_links_html or approvals_html %}
{% set show_right = (not is_zone_root and toc_html) %}

{% set buttons = get_document_buttons(document, help_link) %}
{% set crumbs = build_document_crumbs(document) %}


{% set content_class = 'column-all' %}
{% if show_left and show_right %}
  {% set content_class = 'column-half' %}
{% elif show_left or show_right %}
  {% set content_class = 'column-main' %}
{% endif %}

{% block bodyclass %}document {% if is_zone %}zone{% endif %} {% if is_zone_root %}zone-landing{% endif %}{% endblock %}
{% block body_attributes %}data-slug="{{ document.slug }}" contextmenu="edit-history-menu" data-search-url="{{ search_url }}"{% endblock body_attributes %}

{% block main_content_id %}document-main{% endblock %}

{% block site_css %}
    {{ super() }}
    {% if zone_stack %}
      {% for zone in zone_stack|reverse() %}
        <link rel="stylesheet" type="text/css" href="{{ url('wiki.styles', zone.document.slug) }}">
      {% endfor %}
    {% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/json" href="{{ url('wiki.json_slug', document.slug) }}">
  <link rel="canonical" href="{{ canonical }}" >

  {% if other_translations %}
    {% for translation in other_translations %}
      <link rel="alternate" hreflang="{{ translation.locale }}" href="{{ translation.get_absolute_url() }}" title="{{ translation.title }}">
    {% endfor %}
  {% endif %}

  <!-- document-specific social tags -->
  <meta property="og:title" content="{{ document.title }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:title" content="{{ document.title }}">
  {% if seo_summary %}
  <meta property="og:description" content="{{ seo_summary }}">
  <meta name="description" content="{{ seo_summary }}">
  <meta name="twitter:description" content="{{ seo_summary }}">
  {% endif %}

  {#  if this document was saved, we need to clear out the cached draft in wiki.js, need to get the value from the request if it exists #}
  <script type="text/javascript">
    {% if request.GET.document_saved %}
      var document_saved = 1;
    {% else %}
      var document_saved = 0;
    {% endif %}
  </script>

{% endblock %}

{% block lang_switcher %}
  {% if (document.is_localizable or document.parent) and other_translations %}
    <form class="languages go" method="get" action="{{ wiki_url('Web') }}">
      <label for="language">{{ _('Other languages:') }}</label>
      <select id="language" class="wiki-l10n" name="next" dir="ltr">
        <option title="{{ get_locale_localized(document.locale) }}" value="{{ doc_abs_url }}" selected>
          {{ document.language }} ({{ document.locale }})
        </option>
        {% for translation in other_translations %}
          <option title="{{ get_locale_localized(translation.locale) }}" value="{{ translation.get_absolute_url() }}">
            {{ translation.language }} ({{ translation.locale }})
          </option>
        {%- endfor %}
      </select>
      <noscript><button type="submit">{{ _('Go') }}</button></noscript>
    </form>
  {% endif %}
{% endblock %}

{% block content %}

  {% if is_zone %}
      {% if is_zone_root %}

        <div class="zone-landing-header" id="document-main"><div class="center">
          <!-- edit, settings buttons -->
          {{ buttons }}

          <!-- crumbs -->
          {{ crumbs }}

          <h1>{{ document.title }}</h1>

          {% set summary = document|selector_content_find('.summary') %}
          {% if (zone_subnav_html or quick_links_html) %}
          <div class="column-container zone-landing-header-preview">
            <div class="column-strip">
              <div class="zone-landing-header-preview-base">
                {% if zone_subnav_html %}
                  <!-- zone subnav -->
                  {{ get_document_subnav(zone_subnav_html) }}
                {% endif %}

                {% if quick_links_html %}
                  <!-- quick links -->
                  {{ get_document_quick_links(quick_links_html) }}
                {% endif %}
              </div>
              <div class="zone-landing-header-spacing"></div>
            </div>
            <div class="column-5 masthead-text"><p>{{ summary }}</p></div>
          </div>
          {% else %}
            <div class="column-5 masthead-text"><p>{{ summary }}</p></div>
          {% endif %}

          <div class="zone-image"></div>
        </div></div>
      {% else %}
        <div class="zone-article-header" id="document-main"><div class="center">
          <!-- zone title -->
          <div class="zone-title"><a href="{{ zone_stack[0].document.get_absolute_url() }}">{{ zone_stack[0].document.title }}</a></div>
          <!-- zone image -->
          <div class="zone-image"></div>
        </div></div>
      {% endif %}

    {% endif %} <!-- end is_zone -->


    <div class="wiki-main-content" {% if not is_zone %}id="document-main"{% endif %}><div class="center">
      {% if not is_zone_root %}
      <div class="article-meta">
        <!-- action buttons -->
        {{ buttons }}

        <!-- crumbs -->
        {{ crumbs }}
      </div>

      <!-- heading -->
      <div id="wiki-document-head" class="document-head">
          <span class="from-search-previous-box">
            <a class="button from-search-previous only-icon disabled" title="{{ _('Previous Search Result') }}" data-empty-title="{{ _('No Previous Search Result') }}"><i aria-hidden="true" class="icon-chevron-left"></i></a>
          </span>
          <span class="from-search-navigate-wrap">
            <a href="#" class="from-search-navigate"><span class="from-search-navigate-up"><i aria-hidden="true" class="icon-double-angle-up"></i></span><span class="from-search-navigate-down"><i aria-hidden="true" class="icon-double-angle-down"></i></span></a>
          </span>
          <div class="from-search-toc submenu">
            <span class="title">{{ _('Your Search Results') }}</span>
            <ol></ol>
          </div>
          <span class="from-search-next-box">
            <a class="button from-search-next only-icon disabled" title="{{ _('Next Search Result') }}" data-empty-title="{{ _('No Previous Search Result') }}"><i aria-hidden="true" class="icon-chevron-right"></i></a>
          </span>

        {% if has_contributors %}
        <div class="contributor-avatars" data-all-text="{{ _('see all contributors') }}" data-alternate-message="{{ _('hide contributors') }}" {% if contributors_count > contributors_limit %}data-has-hidden="1"{% endif %}>
            <ul>
            {% for contributor in contributors %}
                <li class="{% if loop.index > contributors_limit %}hidden{% else %}shown{% endif %}">
                <a href="{{ url('users.user_detail', username=contributor.username) }}" title="{% trans username=contributor.username %}View profile: {{ username }}{% endtrans %}">
                <noscript data-width="34" data-height="34" data-class="avatar" data-alt="{{ contributor.username }}" data-src="{{ contributor.gravatar_34 }}">{{ contributor.username }}</noscript></a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h1>{{ document.title }}</h1>

      </div>
      {% endif %}

      <!-- start the main content container -->
        <div id="wiki-column-container" class="{% if show_right %}wiki-right-present{% else %}wiki-right-closed wiki-right-none{% endif %} {% if show_left %}wiki-left-present{% else %}wiki-left-closed wiki-left-none{% endif %}">

          <!-- content row with three strips -->
          <div class="column-container column-container-reverse">

            {% if show_right %}
              <!-- TOC, approvals, etc -->
              <div class="column-strip wiki-column" id="wiki-right">
              {% if toc_html %}
              <!-- table of contents -->
              <div id="toc" class="toc toggleable">
                <a href="#toc" class="title toggler" data-open-icon="icon-caret-right" data-closed-icon="icon-caret-down">{{ _('In This Article') }}<i></i></a>
                <ol class="toggle-container">
                  {{ toc_html|safe }}
                </ol>
              </div>
              {% endif %}
              </div>
            {% endif %}

            {# determine the article content based on template status #}
            {% if not document.is_template %}
              {% set document_html_safe = body_html|safe %}
            {% else %}
              {% set document_html_safe = document_html|safe %}
            {% endif %}

            <!-- center: main article content -->
            <div id="wiki-content" class="{{ content_class }} wiki-column text-content">

              {% if settings.MAINTENANCE_MODE and render_raw_fallback %}
                <div id="doc-render-raw-fallback" class="warning">
                {% trans url='/maintenance-mode/' %}
                  This document has not yet been rendered, and cannot be
                  rendered while MDN is in <a href="{{ url }}">maintenance
                  mode</a>. Please check back when maintenance has concluded.
                {% endtrans %}
                </div>
              {% endif %}

              {% if is_logged_in and document_html %}
                {% if render_raw_fallback %}
                  <div id="doc-render-raw-fallback" class="warning">
                  {% trans url=doc_abs_url %}
                    This document is being rendered for the first time by the system.
                    Please <a href="{{ url }}">reload this page</a> in a few minutes
                    to see full content.
                  {% endtrans %}
                  </div>
                {% elif document.is_rendering_in_progress %}
                  <div id="doc-rendering-in-progress" class="warning">
                  {% trans url=doc_abs_url, started_at=document.render_started_at %}
                    An update to this document
                    <abbr title="{{ started_at }}">is currently in progress</abbr>.
                    If the content below seems stale or if something is missing,
                    please <a href="{{ url }}">reload this page</a> in a few minutes.
                  {% endtrans %}
                  </div>
                {% elif document.is_rendering_scheduled and not kumascript_errors %}
                  <div id="doc-rendering-scheduled" class="warning">
                  {% trans url=doc_abs_url, scheduled_at=document.render_scheduled_at %}
                    An update to this document
                    <abbr title="{{ scheduled_at }}">has been scheduled</abbr>.
                    If the content below seems stale or if something is missing,
                    please <a href="{{ url }}">reload this page</a> in a few minutes.
                  {% endtrans %}
                  </div>
                {% endif %}
              {% endif %}

              {% if kumascript_errors %}
                {% include 'wiki/includes/kumascript_errors.html' %}
              {% endif %}

              {% if document.current_revision %}
                {% if document.current_revision.needs_technical_review %}
                  <div class="warning warning-review">
                    <p>
                      {% trans url="/docs/MDN/Contribute/HowTo/Do_a_technical_review" %}
                        This article needs a technical review. <a href="{{ url }}">How you can help.</a>
                      {% endtrans %}
                    </p>
                  </div>
                {% endif %}
                {% if document.current_revision.needs_editorial_review %}
                  <div class="warning warning-review">
                    <p>
                      {% trans url="/docs/MDN/Contribute/Howto/Do_an_editorial_review" %}
                        This article needs an editorial review. <a href="{{ url }}">How you can help.</a>
                      {% endtrans %}
                    </p>
                  </div>
                {% endif %}
                {% if document.current_revision.localization_in_progress %}
                  {% if document.current_revision.translation_age >= 10 %}
                      <div class="overheadIndicator translationInProgress"><p>{% trans translate_url=document.get_edit_url() %}
                        This translation is incomplete. Please help <a href="{{ translate_url }}">translate this article</a> from English.
                      {% endtrans %}</p></div>
                  {% else %}
                      <div class="overheadIndicator translationInProgress"><p>
                        {{ _('This translation is in progress.') }}
                      </p></div>
                  {% endif %}
                {% endif %}
              {% endif %}
              {% if fallback_reason %}
                <div id="doc-pending-fallback" class="warning">
                  <p><bdi>{% trans help_link=help_link, locale=settings.LOCALES[request.LANGUAGE_CODE].native, parent_language=document.language %}
                    Our volunteers haven't translated this article into <bdi>{{ locale }}</bdi> yet.
                    <a href="{{ help_link }}" rel="nofollow, noindex">Join us and help get the job done!</a><br>
                    You can also read the article in <a href="{{ doc_abs_url }}">{{ parent_language }}</a>.
                  {% endtrans %}</bdi></p>
                </div>
              {% endif %}

              <!-- just the article content -->
              <article id="wikiArticle">
                {% if not fallback_reason %}
                  {% if not document_html %}
                    {{ _("This article doesn't have any content yet.") }}
                  {% elif document.is_template %}
                    <pre class="brush: js">{{ document_html }}</pre>
                    {% trans search_link=template_search_link, title=document.title %}
                      Search for
                      <a href="{{ search_link }}" rel="nofollow, noindex">pages that use {{ title }}</a>
                      to see example use cases and how many pages use this macro.
                    {% endtrans %}
                  {% else %}
                    {{ document_html_safe }}
                  {% endif %}
                {% elif fallback_reason == 'no_translation' %}
                  {{ document_html_safe }}
                {% elif fallback_reason == 'translation_not_approved' %}
                  {{ document.parent.html|safe }}
                {% else %}
                  {{ _("This article doesn't have approved content yet.") }}
                {% endif %}

              {% if waffle.switch('helpful-survey-2') %}
                <aside class="helpful-survey hidden" id="helpful-survey">
                  <p>{{ _('Was this article helpful?') }}</p>

                  <div class="helpful-survey-content">
                    <div class="helpful-survey-buttons">
                      <button type="button" class="helpful-survey-vote helpful-survey-yes">
                        <span class="offscreen">{{ _('Yes') }}</span>
                        <i class="icon-thumbs-o-up" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="helpful-survey-vote helpful-survey-no">
                        <span class="offscreen">{{ _('No') }}</span>
                        <i class="icon-thumbs-o-down" aria-hidden="true"></i>
                      </button>
                    </div>

                    <div class="helpful-survey-thankyou">{{ _('Thank you!') }}</div>
                  </div>
                </aside>
              {% endif %}
              </article>

              {% if not is_zone_root %}

                <!-- contributors -->
                <div class="wiki-block contributors">
                  <h2 class="offscreen">{{ _('Document Tags and Contributors') }}</h2>
                  {% set tags = document.tags.all().order_by('name') %}
                  {% include "wiki/includes/document_tag.html" %}

                  {% if has_contributors %}
                    <div class="contributors-sub">
                      <i aria-hidden="true" class="icon-group icon-fw"></i>&nbsp;<strong>{{ _('Contributors to this page:') }}</strong> {{ contributor_links(contributors) }}
                    </div>
                  {% endif %}

                  {% if current_revision.creator %}
                    <div class="contributors-sub">
                      <i aria-hidden="true" class="icon-clock-o icon-fw"></i>&nbsp;<strong>{{ _('Last updated by:') }}</strong>
                      <a href="{{ current_revision.creator.get_absolute_url() }}">{{ current_revision.creator }}</a>,
                      {{ datetimeformat(current_revision.created, format='datetime') }}
                    </div>
                  {% endif %}
                </div>
              {% endif %}

              {% if waffle.switch('newsletter') and waffle.switch('newsletter_article') %}
                  <div class="newsletter-box">
                    {% include "includes/newsletter.html" %}
                  </div>
              {% endif %}
            </div>

            {% if show_left %}
              <!-- quick links and zone subnav strip -->
              <div id="wiki-left" class="column-strip wiki-column">

              {% if not is_zone_root %}

                {% if zone_subnav_html %}
                  <!-- zone subnav -->
                  {{ get_document_subnav(zone_subnav_html) }}
                {% endif %}

                {% if quick_links_html %}
                  <!-- quick links -->
                  {{ get_document_quick_links(quick_links_html) }}
                {% endif %}

                <!-- approvals -->
                {% if approvals_html %}
                  {{ approvals_html }}
                {% endif %}

              {% endif %}

              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div> <!-- ends "main-content" -->

  <menu type="context" id="edit-history-menu">
    <menuitem data-action="{{ document.get_edit_url() }}" label="{{_('Edit page')}}"></menuitem>
    <menuitem data-action="{{ url('wiki.document_revisions', document.slug) }}" label="{{_('View page history')}}"></menuitem>
  </menu>
{% endblock %}

{% block js %}

  {% if waffle.flag('section_edit') %}
    <script type="text/javascript">
        (function($) {
            $('#wikiArticle').children('h2[id]').each(function() {
                var id = $(this).attr('id');
                var href = '{{ document.get_edit_url() }}#' + id;

                $('<a>').attr({
                    href: href,
                    'class': 'button section-edit only-icon',
                    'rel': 'nofollow, noindex'
                })
                .append($('<i aria-hidden="true" class="icon-pencil"></i>'))
                .append($('<span>'))
                .find('span')
                .text(gettext('Edit'))
                .end()
                .on('click', function(e) {
                    e.preventDefault();

                    mdn.analytics.trackEvent({
                        category: 'Section Edit',
                        action: id
                    }, function() {
                        window.location = href;
                    });
                })
                .appendTo(this);
            });
        })(jQuery);
    </script>
  {% endif %}

  {% if waffle.flag('sg_task_completion') %}
    {% javascript 'task-completion' %}
  {% endif %}

  {% if waffle.switch('newsletter') and waffle.switch('newsletter_article') %}
    {% javascript 'newsletter' %}
  {% endif %}

{% endblock %}
