// Set "wiki" and "untrusted" for the benefit of Jinja includes that need them.
{% set wiki = False %}
{% set untrusted = False %}
{% set canonical = document_data['absoluteURL'] | absolutify %}

<!DOCTYPE html>
<html lang="{{ document_data['hrefLang'] }}" dir="{{ DIR }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
  <title>{{ page_title(document_data['title'] + seo_parent_title) }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content=
    {%- if request.get_host() in settings.ALLOW_ROBOTS_WEB_DOMAINS -%}
        "index, follow"
    {%- else -%}
        "noindex, nofollow"
    {%- endif -%}
  >

  {% include "includes/preload.html" %}

  <link rel="home" href="{{ url('home') }}">
  <link rel="license" href="#license">

  {% stylesheet 'react-mdn' %}

  {% include "includes/zilla.html" %}

{#- This is the react-specific version of includes/google_analytics.html #}
{#- The user and waffle-related stuff has been moved to the client side. #}
<script>
    // Mozilla DNT Helper
    {% include "js/libs/mozilla.dnthelper.min.js" %}
    {%- if settings.GOOGLE_ANALYTICS_ACCOUNT %}
    {%- set GA_FILE = 'analytics_debug' if settings.DEBUG else 'analytics' %}
    // only load GA if DNT is not enabled
    if (Mozilla && !Mozilla.dntEnabled()) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/{{ GA_FILE }}.js','ga');
        ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'mozilla.org');
        ga('set', 'anonymizeIp', true);
    }
    {%- endif %}
</script>

{% block speedcurve_lux %}
  {% include "includes/speedcurve-lux.html" %}
{% endblock %}


  {% javascript "perf" %}

  <!-- common social tags -->
  {% set social_logo = request.build_absolute_uri(static('img/opengraph-logo.png')) %}
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ social_logo }}">
  <meta property="og:site_name" content="{{ _('MDN Web Docs') }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ social_logo }}">
  <meta name="twitter:site" content="@MozDevNet">
  <meta name="twitter:creator" content="@MozDevNet">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ settings.SITE_URL }}/{{ request.LANGUAGE_CODE }}/search/xml" title="{{ _('MDN Web Docs') }}">

  <!-- third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static('img/favicon144.png') }}">
  <!-- iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static('img/favicon114.png') }}">
  <!-- first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static('img/favicon72.png') }}">
  <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ static('img/favicon57.png') }}">
  <!-- basic favicon -->
  <link rel="shortcut icon" href="{{ favicon_url() }}">
  <!--[if IE]>
  <meta http-equiv="imagetoolbar" content="no">
  {% javascript 'html5shiv' %}
  <![endif]-->

  <link rel="dns-prefetch" href="https://interactive-examples.mdn.mozilla.net" pr="0.75" />
  <link rel="preconnect" href="https://interactive-examples.mdn.mozilla.net" pr="0.75" />

  <link rel="canonical" href="{{ canonical }}" >

  {# Google requires the current page to be referenced as an alternate too for SEO purposes see bug 1449210 #}
  <link rel="alternate" hreflang="{{ document_data['hrefLang'] }}" href="{{ canonical }}" title="{{ document_data['title'] }}">
  {% for translation in document_data['translations'] %}
    <link rel="alternate" hreflang="{{ translation['hrefLang'] }}" href="{{ translation['url'] | absolutify }}" title="{{ translation['title'] }}">
  {% endfor %}

  <!-- document-specific social tags -->
  <meta property="og:title" content="{{ document_data['title'] }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:title" content="{{ document_data['title'] }}">
  {% if seo_summary %}
  <meta property="og:description" content="{{ seo_summary }}">
  <meta name="description" content="{{ seo_summary }}">
  <meta name="twitter:description" content="{{ seo_summary }}">
  {% endif %}
</head>
<body>
  {% include "includes/config.html" %}

  {{ soapbox_messages(get_soapbox_messages(request.path)) }}

  {{ render_react("SPA", request.LANGUAGE_CODE, request.get_full_path(),
                  document_data)|safe }}

  {% if settings.NEWSLETTER and settings.NEWSLETTER_ARTICLE %}
  <div class="center">
    <div class="newsletter-box">
      {% include "includes/newsletter.html" %}
    </div>
  </div>
  {% endif %}

  <!-- Footer -->
  <footer id="nav-footer" class="nav-footer">
    <div class="center">
        {% include "includes/footer/mdn-footer.html" %}

        {% include "includes/footer/moz-footer.html" %}

        <ul class="footer-tos">
          <li><a href="https://www.mozilla.org/about/legal/terms/mozilla">{{ _('Terms') }}</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/">{{ _('Privacy') }}</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies">{{ _('Cookies') }}</a></li>
        </ul>

        <div id="license" class="contentinfo">
          {% trans copyright_url='/en-US/docs/MDN/About#Copyrights_and_licenses', thisyear=thisyear() %}
            <p>&copy; 2005-{{ thisyear }} Mozilla and individual contributors.</p>
            <p>Content is available under <a href="{{ copyright_url }}">these licenses</a>.</p>
          {% endtrans %}
        </div>
    </div>
  </footer>

  <!-- site js -->
  {% javascript 'react-main' %}
  <script>
    if (window.mdn && mdn.analytics) mdn.analytics.trackOutboundLinks();
  </script>

  {% if settings.NEWSLETTER and settings.NEWSLETTER_ARTICLE %}
    {% javascript 'newsletter' %}
  {% endif %}
</body>
</html>
