{#- Set "wiki" and "untrusted" for the benefit of Jinja includes that need them. #}
{% set wiki = False %}
{% set untrusted = False %}
{% set canonical = document_data['absoluteURL'] | absolutify %}

<!DOCTYPE html>
<html lang="{{ document_data['hrefLang'] }}" dir="{{ DIR }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
  <title>{{ page_title(document_data['title'] + seo_parent_title) }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="{{ robots_meta_content }}">

  {% include "includes/preload.html" %}

  <link rel="home" href="{{ url('home') }}">
  <link rel="license" href="#license">

  {% include "includes/style.html" %}

  {% stylesheet 'prism' %}

  {% include "includes/zilla.html" %}

  {% include "includes/react_google_analytics.html" %}

{% block speedcurve_lux %}
  {% include "includes/speedcurve-lux.html" %}
{% endblock %}

  {% include "includes/polyfill_scripts.html" %}

  {% javascript "perf" %}

  <!-- common social tags -->
  {% set social_logo = request.build_absolute_uri(static('img/opengraph-logo.png')) %}
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ social_logo }}">
  <meta property="og:site_name" content="{{ _('MDN Web Docs') }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ social_logo }}">
  <meta name="twitter:site" content="@MozDevNet">
  <meta name="twitter:creator" content="@MozDevNet">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ settings.SITE_URL }}/{{ request.LANGUAGE_CODE }}/search/xml" title="{{ _('MDN Web Docs') }}">

  <!-- third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static('img/favicon144.png') }}">
  <!-- iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static('img/favicon114.png') }}">
  <!-- first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static('img/favicon72.png') }}">
  <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ static('img/favicon57.png') }}">
  <!-- basic favicon -->
  <link rel="shortcut icon" href="{{ favicon_url() }}">

  {% if waffle.switch('developer_needs') %}
    {% stylesheet 'banners' %}
  {% endif %}

  <link rel="preconnect" href="https://interactive-examples.mdn.mozilla.net" pr="0.75" />

  <link rel="canonical" href="{{ canonical }}" >

  {# Google requires the current page to be referenced as an alternate too for SEO purposes see bug 1449210 #}
  <link rel="alternate" hreflang="{{ document_data['hrefLang'] }}" href="{{ canonical }}" title="{{ document_data['title'] }}">
  {% for translation in document_data['translations'] %}
    <link rel="alternate" hreflang="{{ translation['hrefLang'] }}" href="{{ translation['url'] | absolutify }}" title="{{ translation['title'] }}">
  {% endfor %}

  <!-- document-specific social tags -->
  <meta property="og:title" content="{{ document_data['title'] }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:title" content="{{ document_data['title'] }}">
  {% if seo_summary %}
  <meta property="og:description" content="{{ seo_summary }}">
  <meta name="description" content="{{ seo_summary }}">
  <meta name="twitter:description" content="{{ seo_summary }}">
  {% endif %}

  {% block printstyle %}
    {% stylesheet 'print' %}
  {% endblock %}
</head>
<body>
  {% include "includes/config.html" %}

  {{ soapbox_messages(get_soapbox_messages(request.path)) }}

  {{ render_react("SPA", request.LANGUAGE_CODE, request.get_full_path(),
                  document_data)|safe }}

  {% block auth_modal %}
    {% if settings.MULTI_AUTH_ENABLED %}
      {% include "includes/auth-modal.html" %}
    {% endif %}
  {% endblock %}

  <!-- site js -->
  {% javascript 'react-main' %}
  {% if settings.MULTI_AUTH_ENABLED %}
    {% javascript 'auth-modal' %}
  {% endif %}
  {% if settings.ENABLE_BCD_SIGNAL %}
    {% javascript "bcd-signal" %}
  {% endif %}
</body>
</html>
