{% extends "wiki/base.html" %}
{% set title = _('Revision %(id)s | %(title)s', id=revision.id, title=document.title) %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% set meta = [('robots', 'noindex, nofollow')] %}
{% set classes = 'document' %}

{% block content %}

  <article>
    <h1>{{ _('Revision %(id)s of <a href="%(url)s">%(title)s</a>'|safe, id=revision.id, url=document.get_absolute_url(), title=document.title) }}</h1>

    <details class="h2" open="open">
      <summary class="hidden">{{ _('Revision Information') }}</summary>
      <div class="revision-info">
        <ul>
          <li>
            <mark>{{ _('Revision slug:') }}</mark>
            <span>{{ revision.slug }}</span>
          </li>
          <li>
            <mark>{{ _('Revision title:') }}</mark>
            <span>{{ revision.title }}</span>
          </li>
          <li class="revision-id">
            <mark>{{ _('Revision id:') }}</mark>
            <span>{{ revision.id }}</span>
          </li>
          <li class="revision-created">
            <mark>{{ _('Created:') }}</mark>
            <span>{{ datetimeformat(revision.created, format='datetime') }}</span>
          </li>
          <li>
            <mark>{{ _('Creator:') }}</mark>
            <span>{{ revision.creator }}</span>
            {{ ban_links(revision.creator, request.user) }}
          </li>
          <li>
            <mark>{{ _('Is current revision?') }}</mark>
            <span>{{ (revision == document.current_revision)|yesno }}</span>
          </li>
          <li>
            <mark>{{ _('Comment') }}</mark>
            <span>{{ comment }}</span>
          </li>
          {#
          {% if user.is_authenticated() %}
            <li><a href="{{ url('wiki.new_revision_based_on', document.slug, revision.id) }}">{{ _('Edit article based on this revision') }}</a></li>
          {% endif %}
          #}
        </ul>
      </div>
    </details>

    <div class="wiki-block contributors">
      {% set tags = document.tags.all().order_by('name') %}
      {% include "wiki/includes/document_tag.html" %}
    </div>

    {% if not document.is_template %}
      <details open="open">
        <summary><h2>{{ _('Revision Content') }}</h2></summary>
        <article id="wikiArticle" class="text-content">
          {{ revision.content_cleaned|safe }}
        </article>
      </details>
    {% endif %}

    <details {% if document.is_template %}open="open"{% endif %}>
      <summary><h2>{{ _('Revision Source') }}</h2></summary>
      <div id="doc-source">
        <pre class="brush:js">{{ revision.content }}</pre>
      </div>
    </details>

    {% if document.allows_revision_by(request.user) %}
    <a href="{{ url('wiki.revert_document', document.slug, revision.id) }}" class="button revert-revision" rel="nofollow, noindex">{{ _('Revert to this revision') }}</a>
    {% endif %}
  </article>
{% endblock %}
