<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{ title }} | {{ _('Firefox Support') }}</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico"/>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/sidebar.css"/>
{% for style in styles %}
<link rel="stylesheet" href="{{ MEDIA_URL }}{{ style }}"/>
{% endfor %}

</head>
<body>

<ul id="nav-access">
    <li><a href="#navigation">{{ _('skip to navigation') }}</a></li>
    <li><a href="#switch">{{ _('switch language') }}</a></li>
</ul>

{% include 'layout/header.html' %}

<div id="content">

<div id="sidebar">
{% include 'layout/sidebar.html' %}
</div>

{% block breadcrumbs %}
<div id="breadcrumbs">
    <ul>
        <li><a href="{{ locale }}/kb/">{{ _('Firefox Support') }}</a></li>
        <li class="divider">/</li><li>{{ title }}</li>
    </ul>
</div>
{% endblock %}

<div id="main" role="main">
{% block content %}
<div class="topbar"></div>
<br class="clear" />
<div class="botbar"></div>
{% endblock %}
</div>

<br class="clear" />
</div><!-- /#content -->
<div id="footer">
<div id="footer-contents" role="contentinfo">
{% include 'layout/footer.html' %}
</div><!-- /#footer-contents -->
</div><!-- /#footer -->

</body>
</html>