{# vim: set ts=2 et sts=2 sw=2: #}
<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale }}" {% if dir %}dir="{{ dir }}"{% endif %}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{ title }} | {{ settings.SITE_TITLE }}</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" title="Firefox Support" href="/search.xml"/>
{% if feeds %}
  {% for feed in feeds %}
    <link rel="alternate" type="application/atom+xml" href="{{ feed[0] }}" title="{{ feed[1] }}"/>
  {% endfor %}
{% endif %}

{{ css('common') }}
{% for style in styles %}
{{ css(style) }}
{% endfor %}
<!--[if lte IE 7]>
{{ css('ie') }}
<![endif]-->

{% if meta %}
  {% for tag in meta %}
    <meta name="{{ tag[0] }}" content="{{ tag[1] }}">
  {% endfor %}
{% endif %}

<!--[if lt IE 9]>
{# html5-shiv.js must be inside <head/> to work. #}
<script src="{{ MEDIA_URL }}js/libs/html5-shiv.js"></script>
<![endif]-->
</head>
<body{% if classes %} class="{{ classes }}"{% endif %}
      data-readonly="{{ settings.READ_ONLY|json }}"
      data-for-os="{{ for_os|json }}"
      data-for-version="{{ for_version|json }}">

<div id="header" role="banner">
{% include 'layout/header.html' %}
</div>

<div id="content">

{% block sidebar %}{# This is the old side bar. It is not used in questions or wiki. #}
  <div id="sidebar">
    {% include 'layout/sidebar.html' %}
    {% block extra_sidebar %}{% endblock %}
  </div>
{% endblock %}

{% block breadcrumbs %}
{{ breadcrumbs(crumbs) }}
{% endblock %}

<div id="main" role="main">
{% block content_area %}
{% endblock %}
</div>

<br class="clear" />
</div>{# /#content #}

<footer id="footer">
  <div id="footer-contents" role="contentinfo">
    {% with localizable_url=localizable_url %}
      {% include 'layout/footer.html' %}
    {% endwith %}
  </div>{# /#footer-contents #}
</footer>{# /#footer #}

<script src="{{ url('jsi18n') }}/build:{{ BUILD_ID_JS }}"></script>
{{ js('common') }}
{% for script in scripts %}
{{ js(script) }}
{% endfor %}

{# Webtrends Stats Tracking #}
<script src="{{ MEDIA_URL }}js/webtrends.js" defer></script>
<noscript>
    <img id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcskot6d000000w0qxqho15rf_7r6o/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.2"/>
</noscript>
{# End Webtrends #}
</body>
</html>
