{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% macro errorlist(form) -%}
  {% if form.errors %}
    <ul class="errorlist">
      {% for field in form %}
        {% for error in field.errors %}
          <li><a href="#{{ form.auto_id % field.name }}">{{ error }}</a></li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors() %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}
