<ul id="footer-menu">
    <li><a href="http://www.mozilla.com/firefox/">{{ _('Firefox') }}</a>
        <ul>
            <li><a href="http://www.mozilla.com/firefox/features/">{{ _('Features') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/security/">{{ _('Security') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/customize/">{{ _('Customization') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/organic/">100% Organic Software</a></li>
            <li><a href="http://www.mozilla.com/firefox/tips/">{{ _('Tips and Tricks') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/video/">{{ _('Videos') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/latest/releasenotes/">{{ _('Release Notes') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/all.html">{{ _('Other Systems and Languages') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/fastest/">{{ _('Fastest Firefox') }}</a></li>
        </ul>
    </li>
    <li><a href="https://addons.mozilla.org/" class="external">Add-ons</a>
        <ul>
            <li><a href="https://addons.mozilla.org/firefox/" class="external">All Add-ons</a></li>
            <li><a href="https://addons.mozilla.org/firefox/recommended" class="external">{{ _('Recommended') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/browse/type:1/cat:all?sort=popular" class="external">{{ _('Popular') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/browse/type:2" class="external">{{ _('Themes') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/browse/type:4" class="external">{{ _('Search Engines') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/browse/type:7" class="external">{{ _('Plugins') }}</a></li>
        </ul>

    </li>
    <li><a href="/">{{ _('Support') }}</a>
        <ul>
            <li><a href="http://support.mozilla.com/{{ request.locale }}/kb/">{{ _('Firefox Support') }}</a></li>
            <li><a href="http://mobile.support.mozilla.com/{{ request.locale }}/kb/">{{ _('Mobile Support') }}</a></li>
            <li><a href="http://www.mozilla.org/support/thunderbird/" class="external">{{ _('Thunderbird Support') }}</a></li>
        </ul>
    </li>
    <li><a href="http://www.mozilla.com/manyfaces/">{{ _('Community') }}</a>
        <ul>
            <li><a href="https://addons.mozilla.org/" class="external">Add-ons</a></li>
            <li><a href="https://bugzilla.mozilla.org/" class="external">{{ _('Bugzilla') }}</a></li>
            <li><a href="http://developer.mozilla.org/" class="external">{{ _('Mozilla Developer Center') }}</a></li>

            <li><a href="http://labs.mozilla.com/" class="external">{{ _('Mozilla Labs') }}</a></li>
            <li><a href="http://www.mozillamessaging.com/" class="external">{{ _('Mozilla Messaging') }}</a></li>
            <li><a href="http://www.mozilla.org/" class="external">Mozilla.org</a></li>
            <li><a href="http://www.mozillazine.org/" class="external">{{ _('MozillaZine') }}</a></li>
            <li><a href="http://planet.mozilla.org/" class="external">{{ _('Planet Mozilla') }}</a></li>
            <li><a href="http://quality.mozilla.org/" class="external">{{ _('QMO') }}</a></li>
            <li><a href="http://www.spreadfirefox.com/" class="external">{{ _('SpreadFirefox') }}</a></li>
            <li><a href="http://support.mozilla.com/">{{ _('Support') }}</a></li>
        </ul>
    </li>
    <li><a href="http://www.mozilla.com/about/">{{ _('About') }}</a>
        <ul>
            <li><a href="http://www.mozilla.com/about/whatismozilla.html">What is Mozilla?</a></li>
            <li><a href="http://www.mozilla.com/about/get-involved.html">{{ _('Get Involved') }}</a></li>
            <li><a href="http://www.mozilla.com/press/">{{ _('Press Center') }}</a></li>
            <li><a href="http://www.mozilla.com/about/careers.html">{{ _('Careers') }}</a></li>
            <li><a href="http://www.mozilla.com/about/partnerships.html">{{ _('Partnerships') }}</a></li>
            <li><a href="http://www.mozilla.com/about/licensing.html">{{ _('Licensing') }}</a></li>
            <li><a href="http://blog.mozilla.com/" class="external">{{ _('Blog') }}</a></li>
            <li><a href="http://communitystore.mozilla.org/" class="external">{{ _('Community Store') }}</a></li>
            <li><a href="http://www.mozilla.com/about/logo/" class="external">{{ _('Logo Guide') }}</a></li>
            <li><a href="http://www.mozilla.com/about/contact.html">{{ _('Contact Us') }}</a></li>
        </ul>
    </li>
</ul><!-- /#footer-menu -->

<div id="cc-license">
    <p>{{ _('Except where otherwise ') }}<a href="http://www.mozilla.com/en-US/about/legal.html#site">{{ _('noted') }}</a>, content on this site is licensed under the<br><strong><a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0</a></strong> or any later version.</p>
    <ul>
        <li><a href="http://www.mozilla.com/privacy-policy.html">{{ _('Privacy Policy') }}</a></li>
        <li><a href="http://www.mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a></li>
        <li><a href="/kb/About+Firefox+Support">{{ _('About') }}</a></li>
        <li><a href="http://blog.mozilla.com/sumo">{{ _('Blog') }}</a></li>
    </ul>

    <p class="disclaimer">Mozilla is providing links to any applications as a courtesy, and makes no representations regarding the applications or any information related there to. Any questions, complaints or claims regarding the applications must be directed to the appropriate software vendor.</p>

    <p>{{ _('Powered by ') }}<a href="http://www.djangoproject.com/">{{ _('The Django Framework') }}</a></p>
</div>
