{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "global/footer.html" %}

{% block menu_links %}
  {% include "layout/menu_links.html" %}
{% endblock %}

{% block lang_form %}
  <form id="lang_form" dir="ltr" method="get" action="{{ localizable_url }}">
    <div>
      <label for="flang">{{ _('Other Languages') }}</label>
      <select id="flang" class="autosubmit" name="lang" dir="ltr">
        {% for locale in settings.LANGUAGE_CHOICES %}
          <option value="{{ locale[0] }}" {% if request.locale == locale[0] %}selected="selected"{% endif %}>{{ locale[1] }}</option>
        {% endfor %}
      </select>
      <noscript>
        <div><input type="submit" id="lang_submit" value="_('Go')" /></div>
      </noscript>
    </div>
  </form>
{% endblock %}

