{# vim: set ts=2 et sts=2 sw=2: #}
<div id="footer-right">
  <form id="lang_form" dir="ltr" method="get" action="{{ localizable_url }}">
    <div>
      <label for="flang">{{ _('Other Languages') }}</label>
      <select id="flang" class="autosubmit" name="lang" dir="ltr">
        {% for locale in settings.LANGUAGE_CHOICES %}
          <option value="{{ locale[0] }}" {% if request.locale == locale[0] %}selected="selected"{% endif %}>{{ locale[1] }}</option>
        {% endfor %}
      </select>
      <noscript>
        <div><input type="submit" id="lang_submit" value="_('Go')" /></div>
      </noscript>
    </div>
  </form>
</div>

<div id="footer-logo"><a href="http://mozilla.com/" title="{{ _('Back to home page') }}">{{ _('Firefox') }}</a></div>

<div id="footer-menu" role="navigation">
  <ul>
    <li class="first">
      <a href="http://mozilla.com/firefox/features/">{{ _('Features') }}</a>
      <ul>
        <li class="first"><a href="http://mozilla.com/firefox/features/">{{ _('Features') }}</a></li>
        <li><a href="http://mozilla.com/firefox/security/">{{ _('Security') }}</a></li>
        <li><a href="http://mozilla.com/firefox/performance/">{{ _('Performance') }}</a></li>
        <li><a href="http://mozilla.com/firefox/customization/">{{ _('Customization') }}</a></li>
        <li><a href="http://mozilla.com/firefox/stats/">{{ _('Download Stats') }}</a></li>
        <li><a href="http://mozilla.com/firefox/video/">{{ _('Videos') }}</a></li>
        <li class="last"><a href="http://mozilla.com/firefox/central/">{{ _('Tour') }}</a></li>
      </ul>
    </li>
    <li>
      <a href="http://mozilla.com/mobile/">{{ _('Mobile') }}</a>
      <ul>
        <li class="first"><a href="http://mozilla.com/mobile/download/">{{ _('Mobile Overview') }}</a></li>
        <li><a href="http://mozilla.com/mobile/download/">{{ _('Download') }}</a></li>
        <li><a href="http://mozilla.com/mobile/features/">{{ _('Features') }}</a></li>
        <li><a href="https://addons.mozilla.org/mobile/?browse=featured">{{ _('Customize') }}</a></li>
        <li><a href="http://mozilla.com/mobile/Sync/">{{ _('Sync') }}</a></li>
        <li><a href="https://developer.mozilla.org/mobile">{{ _('Develop') }}</a></li>
        <li><a href="http://mozilla.com/mobile/getinvolved/">{{ _('Get Involved') }}</a></li>
        <li><a href="http://mozilla.com/mobile/faq/">{{ _('FAQ') }}</a></li>
        <li class="last"><a href="https://blog.mozilla.com/mobile/">{{ _('Blog') }}</a></li>
      </ul>
    </li>
    <li>
      <a href="https://addons.mozilla.org/">{{ _('Add-ons') }}</a>
      <ul>
        <li class="first"><a href="https://addons.mozilla.org/firefox/">{{ _('Firefox Add-ons') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/featured/">{{ _('Featured Add-ons') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/extensions/">{{ _('Extensions') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/themes/">{{ _('Themes') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/personas/">{{ _('Personas') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/search-tools/">{{ _('Search Tools') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/language-tools/">{{ _('Language Support') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/collections/">{{ _('Collections') }}</a></li>
        <li><a href="https://addons.mozilla.org/firefox/collections/">{{ _('Mobile Add-ons') }}</a></li>
        <li class="last"><a href="https://addons.mozilla.org/firefox/developers/">{{ _('Developer Hub') }}</a></li>
      </ul>
    </li>
    <li>
      <a href="http://support.mozilla.com/">{{ _('Support') }}</a>
      <ul>
        <li class="first"><a href="http://support.mozilla.com/kb/">{{ _('Firefox Support') }}</a></li>
        <li><a href="http://mobile.support.mozilla.com/">{{ _('Mobile Support') }}</a></li>
        <li class="last"><a href="http://www.mozilla.org/support/thunderbird/">{{ _('Thunderbird Support') }}</a></li>
      </ul>
    </li>
    <li class="last">
      <a href="http://mozilla.com/about/">{{ _('About') }}</a>
      <ul>
        <li class="first"><a href="http://mozilla.com/about/">{{ _('About Firefox') }}</a></li>
        <li><a href="http://mozilla.com/participate/">{{ _('Participate') }}</a></li>
        <li><a href="http://mozilla.com/press/">{{ _('Communications') }}</a></li>
        <li><a href="http://mozilla.com/about/careers.html">{{ _('Careers') }}</a></li>
        <li><a href="http://mozilla.com/about/partnerships.html">{{ _('Partnerships') }}</a></li>
        <li><a href="http://mozilla.com/about/legal.html">{{ _('Legal') }}</a></li>
        <li><a href="http://mozilla.com/about/contact.html">{{ _('Contact Us') }}</a></li>
        <li class="last"><a href="http://blog.mozilla.com/">{{ _('Blog') }}</a></li>
      </ul>
    </li>
  </ul>
</div>

<div id="copyright">
  <p id="footer-links">
    <a href="http://mozilla.com/privacy-policy.html">{{ _('Privacy Policy') }}</a> &nbsp;|&nbsp;
    <a href="http://mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a> &nbsp;|&nbsp;
    <a href="http://mozilla.com/legal/fraud-report/index.html">{{ _('Report Trademark Abuse') }}</a>
  </p>
  <p>
    {% trans %}
      Except where otherwise <a href="http://mozilla.com/about/legal.html#site">noted</a>,
      content on this site is licensed under the <br />
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">
        Creative Commons Attribution Share-Alike License v3.0
      </a> or any later version.
    {% endtrans %}
  </p>
</div>
