{# vim: set ts=2 et sts=2 sw=2: #}
<h1><a href="http://www.mozilla.com/" title="{{ _('Back to Mozilla.com') }}"><img src="//support.mozilla.com/styles/mozcommon/mozilla-logo.png" height="56" width="145" alt="{{ _('Mozilla') }}" /></a></h1>
<div id="nav-main" role="navigation">
  <ul>
    <li id="menu_products">
        <a href="http://www.mozilla.com/products/">{{ _('Products') }}</a>
        <ul>
          <li id="submenu_firefox">
            <a href="http://www.mozilla.com/products/firefox/">{{ _('Firefox') }}</a>
          </li>
          <li id="submenu_thunderbird"><a href="http://www.mozilla.com/products/thunderbird/">{{ _('Thunderbird') }}</a>
          </li>
        </ul>
    </li>
    <li id="menu_addons">
      <a href="https://addons.mozilla.org/">{{ _('Add-ons') }}</a>
      <ul>
        <li id="submenu_addons_all">
          <a href="https://addons.mozilla.org/firefox/">{{ _('All Add-ons') }}</a>
        </li>
        <li id="submenu_addons_recommended">
          <a href="https://addons.mozilla.org/firefox/recommended">{{ _('Recommended') }}</a>
        </li>
        <li id="submenu_addons_popular">
          <a href="https://addons.mozilla.org/firefox/browse/type:1/cat:all?sort=popular">{{ _('Popular') }}</a>
        </li>
        <li id="submenu_addons_themes">
          <a href="https://addons.mozilla.org/firefox/browse/type:2">{{ _('Themes') }}</a>
        </li>
        <li id="submenu_addons_search">
          <a href="https://addons.mozilla.org/firefox/browse/type:4">{{ _('Search Engines') }}</a>
        </li>
        <li id="submenu_addons_plugins">
          <a href="https://addons.mozilla.org/firefox/browse/type:7">{{ _('Plugins') }}</a>
        </li>
      </ul>
    </li>
    <li id="menu_support">
      <a href="http://support.mozilla.com" class="current-main">{{ _('Support') }}</a>
      <ul>
        <li id="submenu_support_kb">
          <a href="http://support.mozilla.com/{{ request.locale }}/kb/">{{ _('Firefox Support') }}</a>
        </li>
        <li id="submenu_support_mobile">
          <a href="http://mobile.support.mozilla.com/{{ request.locale }}/kb/">{{ _('Mobile Support') }}</a>
        </li>
        <li id="submenu_support_thunderbird">
          <a href="http://www.mozilla.org/support/thunderbird/">{{ _('Thunderbird Support') }}</a>
        </li>
      </ul>
    </li>
    <li id="menu_community">
      <a href="http://www.mozilla.com/manyfaces/">{{ _('Community') }}</a>
      <ul>
        <li id="submenu_community_addons">
          <a href="https://addons.mozilla.org/">{{ _('Add-ons') }}</a>
        </li>
        <li id="submenu_community_bugzilla">
          <a href="https://bugzilla.mozilla.org/">{{ _('Bugzilla') }}</a>
        </li>
        <li id="submenu_community_devmo">
          <a href="http://developer.mozilla.org/">{{ _('Mozilla Developer Center') }}</a>
        </li>
        <li id="submenu_community_labs">
          <a href="http://labs.mozilla.com/">{{ _('Mozilla Labs') }}</a>
        </li>
        <li id="submenu_community_mozillaorg">
          <a href="http://www.mozilla.org/">{{ _('Mozilla.org') }}</a>
        </li>
        <li id="submenu_community_mozillazine">
          <a href="http://www.mozillazine.org/">{{ _('MozillaZine') }}</a>
        </li>
        <li id="submenu_community_planet">
          <a href="http://planet.mozilla.org/">{{ _('Planet Mozilla') }}</a>
        </li>
        <li id="submenu_community_qmo">
          <a href="http://quality.mozilla.org/">{{ _('QMO') }}</a>
        </li>
        <li id="submenu_community_spreadfirefox">
          <a href="http://www.spreadfirefox.com/">{{ _('SpreadFirefox') }}</a>
        </li>
        <li id="submenu_community_support">
          <a href="http://support.mozilla.com" class="current">{{ _('Support') }}</a>
        </li>
      </ul>
    </li>
    <li id="menu_aboutus">
      <a href="http://www.mozilla.com/about/">{{ _('About') }}</a>
      <ul>
        <li id="submenu_about">
          <a href="http://www.mozilla.com/about/whatismozilla.html">{{ _('What is Mozilla?') }}</a>
        </li>
        <li id="submenu_getinvolved">
          <a href="http://www.mozilla.com/about/get-involved.html">{{ _('Get Involved') }}</a>
        </li>
        <li id="submenu_press">
          <a href="http://www.mozilla.com/press/">{{ _('Press Center') }}</a>
        </li>
        <li id="submenu_careers">
          <a href="http://www.mozilla.com/about/careers.html">{{ _('Careers') }}</a>
        </li>
        <li id="submenu_partnerships">
          <a href="http://www.mozilla.com/about/partnerships.html">{{ _('Partnerships') }}</a>
        </li>
        <li id="submenu_licensing">
          <a href="http://www.mozilla.com/about/licensing.html">{{ _('Licensing') }}</a>
        </li>
        <li id="submenu_blog">
          <a href="http://blog.mozilla.com/">{{ _('Blog') }}</a>
        </li>
        <li id="submenu_store">
          <a href="http://store.mozilla.org/">{{ _('Store') }}</a>
        </li>
        <li id="submenu_contact">
          <a href="http://www.mozilla.com/about/contact.html">{{ _('Contact Us') }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<br class="clear"/>
