{% block login %}

<div id="login-form">
  <h3>{{ _('Log in') }}</h3>

  <form action="{{ settings.LOGIN_URL }}" method="POST">
    <label for="id_username">{{ _('Username:') }}</label>
    <input type="text" id="id_username" name="user"/>

    <label for="id_password">{{ _('Password:') }}</label>
    <input type="password" id="id_password" name="pass"/>

    <label for="id_remember">
      <input type="checkbox" value="on" id="id_remember" name="rme">
      {{ _('Remember me') }}
    </label>

    <div>
      <input type="submit" name="login" value="{{ _('Log in') }}"/>
    </div>

    [ <a title="{{ _('Click here to register') }}" href="{{ settings.REGISTER_URL }}">
        {{ _('Register') }}
      </a>
    | <a title="{{ _("Click here if you've forgotten your password") }}" href="{{ url('users.pw_reset') }}">{{ _('I forgot my password') }}</a> ]

    <input type="hidden" value="y" name="stay_in_ssl_mode"/>
  </form>
</div>{# /login-form #}

{% endblock %}
