{# vim: set ts=2 et sts=2 sw=2: #}
{% block sidebar %}
<ul id="side-menu">
  <li class="first"><h3><a href="/kb/">{{ _('Firefox Support') }}</a></h3></li>
  <li><a href="/kb/">{{ _('Knowledge Base') }}</a></li>
  <li><a href="/forum">{{ _('Support Forum') }}</a></li>
  <li><a href="/kb/Ask+a+question">{{ _('Ask a Question') }}</a></li>
  <li><a href="/kb/Other+Firefox+support">{{ _('Other Firefox Support') }}</a></li>
  <li><a href="/kb/How+to+contribute">{{ _('How to Contribute') }}</a></li>
  {% if user.is_authenticated() %}
    <li><a href="/tiki-user_preferences.php">{{ _('My Account') }}</a></li>
    <li><a href="{{ settings.LOGOUT_URL }}">{{ _('Log Out') }}</a></li>
  {% else %}
    <li><a href="{{ settings.LOGIN_URL }}">{{ _('Log In') }}</a></li>
  {% endif %}
</ul>

<div id="side-getinvolved">
  <h3>Want to get involved?</h3>
  <p>Did you know that most of the content on Firefox Support was written by volunteers?</p>
  <p><a href="http://support.mozilla.com/en-US/kb/Providing+Forum+Support">Find out how to contribute</a>,<br>or <a href="">log in</a>.</p>
  <p><a href="/"><img src="{{ MEDIA_URL }}img/sumo-logo.png" class="sumo-logo"></a></p>
</div>

{% endblock %}
