{# vim: set ts=2 et sts=2 sw=2: #}
<ul id="side-menu">
  <li class="first"><h3><a href="{{ url('home') }}">{{ _('Firefox Support') }}</a></h3></li>
  <li><a href="{{ url('home') }}">{{ _('Knowledge Base') }}</a></li>
  <li><a href="{{ url('questions.questions') }}">{{ _('Support Forum') }}</a></li>
  <li><a href="{{ url('wiki.document', 'Ask a Question') }}">{{ _('Ask a Question') }}</a></li>
  <li><a href="{{ url('wiki.document', 'Other Firefox Support') }}">{{ _('Other Firefox Support') }}</a></li>
  <li><a href="{{ url('wiki.document', 'How to contribute') }}">{{ _('How to Contribute') }}</a></li>
  {% if user.is_authenticated() %}
    <li><a href="{{ profile_url(user) }}">{{ _('My Account') }}</a></li>
    <li><a href="{{ settings.LOGOUT_URL }}">{{ _('Log Out') }}</a></li>
  {% else %}
    <li><a href="{{ settings.LOGIN_URL }}">{{ _('Log In') }}</a></li>
  {% endif %}
</ul>
