/* small writing above the page title that says what action the user is
   performing on it Editing/Moving/Translating */

.title-prefix {
    set-larger-font-size();
    display: block;
    line-height: 20px;
    color: #888;
}
