{% cache tweet_qs %}
<div class="module" id="mdn-twitter">
  <h3 class="mod-title">{{ _('MDN on Twitter') }}</h3>
  {% if title %}<p class="mod-intro">{{ title }}</p>{% endif %}
  <ul class="hfeed">
    {% for tweet in tweets %}
    <li class="hentry">
      <h4 class="entry-title vcard">
      {% trans author='@<a href="http://twitter.com/{0}" class="author url fn nickname">{0}</a>'|f(tweet['nick'])|safe,
               section='<a href="{0}" class="category {1}">{2}</a>'|f(url(tweet['section'].short), tweet['section'].short, tweet['section'].pretty)|safe %}
      {{ author }} from {{ section }} says:
      {% endtrans %}
      </h4>
      <p class="entry-content">{{ tweet['status']|cleank }}</p>
      <p class="entry-meta">
        <a href="{{ tweet['link'] }}" rel="bookmark">{{ _('{timedelta} ago')|f(
          timedelta=tweet['published']|timesince) }}</a>
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endcache %}
