<nav class="pagination">
    {% if page_obj and page_obj.start_index() != page_obj.end_index() %}
        <p class="showing">{{_('{start}&ndash;{end} of {total}') | f(start=page_obj.start_index(),end=page_obj.end_index(),total=paginator.count) | safe }}</p>
    {% endif %}
    {% if is_paginated %}
      <ul class="paging">
        {% if page_obj.number != 1 %}
            <li class="first"><a href="{{ pagination_base_url }}?page=1&sort={{current_sort}}" title="{{_('Go to the first page')}}">First</a></li>
        {% endif %}
        {% if page_obj.has_previous() %}
            <li class="prev"><a href="{{ pagination_base_url }}?page={{ page_obj.previous_page_number() }}&sort={{current_sort}}" title="{{_('Go to the previous page')}}">{{_('Previous')}}</a></li>
        {% endif %}
        {% if page_obj.has_next() %}
            <li class="next"><a href="{{ pagination_base_url }}?page={{ page_obj.next_page_number() }}&sort={{current_sort}}" title="{{_('Go to the next page')}}">{{_('Next')}}</a></li>
        {% endif %}
        {% if page_obj.number != paginator.num_pages %}
            <li class="last"><a href="{{ pagination_base_url }}?page={{ paginator.num_pages }}&sort={{current_sort}}" title="{{_('Go to the last page')}}">{{_('Last')}}</a></li>
        {% endif %}
      </ul>
    {% endif %}
</nav>
