[
  {rabbit, [
{#
   If there is a listenning address defined for the insecure TCP listenner,
   declare it.
#}
{% if rabbitmq_conf_tcp_listeners_address != '' %}
    {tcp_listeners, [{"{{ rabbitmq_conf_tcp_listeners_address }}", {{ rabbitmq_conf_tcp_listeners_port }}}]}{% if rabbitmq_ssl %},
{% endif %}
{#
   Otherwise, shut down the listenner.
#}
{% else %}
    {tcp_listeners, []}{% if rabbitmq_ssl %},
{% endif %}
{% endif %}
{% if rabbitmq_ssl %}
    {ssl_listeners, [{"{{ rabbitmq_conf_ssl_listeners_address }}", {{ rabbitmq_conf_ssl_listeners_port }}}]},
    {ssl_options, [
      {cacertfile, "{{rabbitmq_conf_ssl_options_cacertfile}}"},
      {certfile, "{{rabbitmq_conf_ssl_options_certfile}}"},
      {keyfile, "{{rabbitmq_conf_ssl_options_keyfile}}"},
      {verify, verify_peer},
      {fail_if_no_peer_cert,{{rabbitmq_conf_ssl_options_fail_if_no_peer_cert}}}
      ]}
{% endif %}
  ]}
].
