@require 'includes/mixins';
@require 'includes/vars';

.calendar {
    /* The calendar has lots of wasted space when extended to 100% width. Reduce
       the width, and keep header content aligned. */
    #page-head, #map_canvas {
        width: 1000px;
        margin: 0 auto $grid-spacing;
    }

    #page-head {
        margin-bottom: $grid-spacing;
        text-align: center;
    }

    p {
        margin: 0 auto;
        text-align: justify;
    }
}

#map_canvas {
    height: 400px;

    /* Override a max-width from elsewhere that breaks Google Maps buttons. */
    img {
        max-width: none;
    }
}

table.events {
    set-smaller-font-size();

    thead {
        background: #d6d6c6;

        th {
            font-weight: bold;
        }
    }

    tr:nth-child(even) {
        background: #f1f1eb;
    }

    td, th {
        padding: 5px ($grid-spacing * .75);
    }
}
