/* real page content displays */
.text-content {
  table {
    border-collapse: collapse;
    border: solid #e0e0dc;
    border-width: 1px 0 0 1px;
    margin-bottom: content-block-margin;
  }

  td, th {
    border: solid #e0e0dc;
    border-width: 0 1px 1px 0;
    padding: 6px;
    text-align: start;
  }

  thead th {
    background: rgba(212, 221, 228, 0.5);
  }

  blockquote {
    padding: 0 25px;
    border-left: 5px solid #ccc;
    margin-bottom: content-block-margin;
  }

  ul {
    list-style: disc;

    ul {
      list-style: circle;
    }
  }

  ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
    padding-top: 6px;
  }

  li:last-child {
    padding-bottom: 0;
  }

  ul, ol {
    padding-left: (grid-spacing * 2);
    margin-bottom: content-block-margin;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    padding-bottom: (content-block-margin / 2);
  }

  dt {
    font-style: normal;
    font-weight: bold;
  }

  dd {
    margin-bottom: content-block-margin;
    padding-left: grid-spacing;
  }
  
  pre, code {
    font: 100% 'Courier New', 'Andale Mono', monospace;
  }

  pre {
    border: 0;
    background: #f6f6f2;
    padding: 15px;
    overflow: auto;
    margin-bottom: content-block-margin;
  }

  code {
    font-weight: inherit;
  }

  caption {
    font-weight: bold;
  }
}

/* right ot left */
.html-rtl {
  .text-content {
    ul, ol {
      padding-left: 0;
      padding-right: (grid-spacing * 2);
    }
  }
}