@import 'vars'
@import 'mixins'

/* togglers */
.toggler {
  position: relative;

  i {
    position: absolute;
    right: 10px;
    top: 3px;
    color: text-color;
  }
}

.toggle-container.closed {
  display: none;
}


/* table of contents; uses toggler */
#toc {
  background: light-background-color;
  compat-important(padding, grid-spacing (grid-spacing * .75));

  > ol {
    compat-important(padding-left, (grid-spacing * 1.5));
    compat-important(font-size, smaller-font-size);
  }

  a.title {
    position: relative;
    &.title {
      text-decoration: none;
    }
  }

  ol {
    counter-reset: toc;
  }

  li {
    position: relative;
    counter-increment: toc;
    padding-top: grid-spacing;

    &:before {
      content: counters(toc, '.');
      text-align: right;
      position: absolute;
      left: -(grid-spacing + (grid-spacing/2));
      color: #484848;
    }
  }

  reverse-link-decoration();
}

/* subnav */
.subnav {
  .toggler, > ol > li > a {
    padding: grid-spacing (2 * grid-spacing) grid-spacing grid-spacing;
    border-bottom: 1px dotted #d4dde4;
    text-transform: uppercase;
    display: block;
  }

  ol ol {
    display: none; /* prevents flash of unstyled content */
  }

  .toggleable.current, > ol > li.current {
    background: light-background-color;
  }

  i {
    top: (grid-spacing + 3px);
    right: grid-spacing;
  }

  .toggle-container {
    a {
      @extend .smaller;
      display: block;
      padding: list-item-spacing grid-spacing;
    }

    .toggleable {
      background: #e9eef1;

      .toggler {
        @extend .title;
        font-weight: normal;
        padding-top: (grid-spacing / 2);
        padding-bottom: (grid-spacing / 2);
        border: 0;

        i {
          top: (grid-spacing / 2);
        }
      }

      .toggle-container a {
        padding-left: (grid-spacing * 1.5);
      }
    }

    ol .current a {
      position: relative;
      color: text-color;

      generate-arrow();

      &:before {
        border-right-color: #fff;
        position: absolute;
        top: 20%;
        right: 0;
      }
    }
  }

  reverse-link-decoration();
}

/* Submenu's, like the main menu and settings menu */
component-submenu-method(menu-width, num-columns, background-color, arrow-border-color) {
  position: absolute;
  padding: grid-spacing;
  background: background-color;
  display: none;
  width: menu-width;

  .submenu-column {
    col-width = ((menu-width - (num-columns * grid-spacing) - 1) / num-columns);

    padding-right: grid-spacing;
    vertical-align: text-top;
    margin-right: grid-spacing;
    border-right: 1px dotted #d4dde4;
    width: col-width;

    &:last-child {
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
    }
  }
  
  .title {
    compat-only(font-size, base-font-size);
    compat-only(padding-left, 0);
    compat-only(background, none);
  }

  a {
    @extend .smaller;
    padding: 5px 0;
    display: block;
  }

  reverse-link-decoration();

  generate-arrow();

  &:before {
    border-bottom-color: background-color;
    position: absolute;
    z-index: 2;
  }

  &:after {
    border-bottom-color: arrow-border-color;
    position: absolute;
    z-index: 1;
  }
}


/* rtl */
.html-rtl {
  .toggler {
    i {
      left: 10px;
      right: auto;
    }
  }

  #toc {
    > ol {
      compat-important(padding-left, 0);
      compat-important(padding-right, (grid-spacing * 1.5));
    }

    li:before {
      text-align: left;
      right: -(grid-spacing * 1.5);
      left: auto;
    }
  }
}
