/*
  "Components" used throughout the site in varying ways.
  For example, .toggler is used in a few different widgets (TOC, subnav, etc.)
*/

@import 'vars'
@import 'mixins'

/* toggler component: a basic slide up and slide now system*/
.toggler {
  position: relative;

  {selector-icon} {
    bidi-style(right, icon-margin, left, auto);
    position: absolute;
    top: 3px;
    color: text-color;
  }
}

.toggle-container.closed {
  display: none;
}

/* subnav component:  used within the wiki */
.subnav {
  .toggler, > ol > li > a {
    padding: grid-spacing (2 * grid-spacing) grid-spacing grid-spacing;
    border-bottom: 1px dotted #d4dde4;
    text-transform: uppercase;
    display: block;
  }

  ol ol {
    display: none; /* prevents flash of unstyled content */

    .no-js & {
      display: block;
    }
  }

  .toggleable.current, > ol > li.current {
    background: light-background-color;
  }

  {selector-icon} {
    top: (grid-spacing + 3px);
    right: grid-spacing;
  }

  .toggle-container {
    a {
      @extend .smaller;
      display: block;
      padding: list-item-spacing grid-spacing;
    }

    .toggleable {
      background: #e9eef1;

      .toggler {
        title-header();
        font-weight: normal;
        padding-top: (grid-spacing / 2);
        padding-bottom: (grid-spacing / 2);
        border: 0;

        i {
          top: (grid-spacing / 2);
        }
      }

      .toggle-container a {
        padding-left: (grid-spacing * 1.5);
      }
    }

    li.current {
      > a:not(.toggler) {
        position: relative;
        color: #fff;
        background-color: text-color;

        generate-arrow();

        &:before {
          border-right-color: #fff;
          position: absolute;
          top: 20%;
          right: 0;
        }
      }
    }
  }

  reverse-link-decoration();
}

/* submenu generator: used in the main navigation and wiki */
component-submenu-method(menu-width, num-columns, background-color, arrow-border-color) {
  position: absolute;
  padding: grid-spacing;
  background: background-color;
  display: none;
  width: menu-width;
  box-shadow: 3px 3px 5px #aaa;

  .submenu-column {
    col-width = ((menu-width - (num-columns * grid-spacing) - 1) / num-columns);

    padding-right: grid-spacing;
    vertical-align: text-top;
    margin-right: grid-spacing;
    border-right: 1px dotted #d4dde4;
    width: col-width;

    &.last, &:only-child {
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
      width: auto;
      float: none;
      border-right: none;
    }
  }
  
  .title {
    compat-only(font-size, base-font-size);
    compat-only(padding-left, 0);
    compat-only(background, none);
  }

  a {
    @extend .smaller;
    padding: 5px 0;
    display: block;
  }
  reverse-link-decoration();

  generate-arrow();
  &:before {
    border-bottom-color: background-color;
    position: absolute;
    z-index: 2;
  }

  &:after {
    border-bottom-color: arrow-border-color;
    position: absolute;
    z-index: 1;
  }
}

.submission .section > legend {
    margin: 0;
}



/* 
  Mozilla modal component provided by bedrock:
  https://raw.github.com/mozilla/bedrock/master/media/css/base/mozilla-modal.less
*/
body.noscroll {
  overflow: hidden;
}

#modal {
  background: #354b5d;
  background: rgba(53, 75, 93, 0.8);
  width: 100%;
  height: 101%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  overflow: auto;

  /* if we don't want to show the "modal" background */
  &.transparent {
    background: transparent;
    height: auto;
    bottom: auto;
  }

  .overlay-contents, header {
    padding: (grid-spacing / 2) grid-spacing;
  }

  .window {
    padding: grid-spacing;
    color: #333;

    .inner {
      position: relative;
      vendorize('box-shadow', 0 1px 22px rgba(0, 0, 0, 0.8));

      header {
        display: block;
        background: #0095dd;
        height: 38px;
        font-size: 26px;
        color: #fff;
      }

      #modal-close {
        position: fixed;
        z-index: 99;
        position: absolute;
        top: 9px;
        right: 9px;
        cursor: pointer;

        a {
          color: #fff;
          vertical-align: middle;
          padding: 0 3px;
          offscreen();
        }

        .button {
          padding: 0;
          min-width: 34px;
          font-size: 30px;
          vertical-align: middle;
        }

        &:hover {
          a {
            text-decoration: underline;
          }
        }
      }

      .overlay-contents {
        background: #fff;
        margin: 0 auto;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

/* Tweaks for RTL locales */
.html-rtl {
  #mozilla-dialog .window .inner .mozilla-modal-close {
    right: auto;
    left: 9px;
    text-align: left;
  }
}