/*
    Used to style the dashboard widgets in the dashboard apps
*/

@import 'includes/vars'
@import 'includes/mixins'
@import 'includes/grid'

/* New revision dashboard styles */
.dashboard-table {
    width: 100%;

    thead tr {
        background: #3a3a3a;
        color: #fff;
        font-weight: bold;
    }

    .dashboard-revision, .dashboard-title, .dashboard-comment, .dashboard-author {
        padding: 6px;
        display: inline-block;
        vertical-align: text-top;
    }

    tbody tr {
        border-bottom: 1px solid #ccc;
        cursor: pointer;

        &:hover {
            background: #f4f7f8;
        }

        &:nth-child(even) {
            background: #f7f7f7;

            &:hover {
            background: #f4f7f8;
            }
        }

        .new, .locale {
            font-size: 11px;
            border-radius: 8px;
            color: #fff;
            display: inline-block;
            margin-right: 6px;
            padding: 2px 4px;
        }
        .new {
            background: rgba(green, 0.6);
        }
        .locale {
            background: rgba(#777, 0.6);
        }
    }

    .dashboard-detail {
        display: none;
        padding: 0 grid-spacing;
    }

    .dashboard-revision, .dashboard-title, .dashboard-comment, .dashboard-author {
        @extend $column-strip;
    }

    #page-buttons {
        li {
            display: inline-block;
            margin-right: list-item-spacing;
        }
    }
}


#revision-filter {
    #id_start_date, #id_end_date {
        width: 100px;
    }
    label {
        display: inline-block;
        margin-right: list-item-spacing;
    }
    .revision-field {
        display: inline-block;
        margin: 0 grid-spacing (grid-spacing / 2) 0;
        white-space: nowrap;
    }
}
