@import 'vars'
@import 'mixins'

.section-demos
  background #c0c4c8

  main
    background transparent

  &:not(.devderby) 
    override-main-nav-color(#fff)

    #main-header
      .logo
        background url('/media/redesign/img/mdn_logo-wordmark-full_white.svg') 0 0 no-repeat

      .main-nav-search
        display none


  /* remove ugly button styles */
  .button, button
    compat-important(box-shadow, none)

#demostudio.landing, #demostudio.detail
  compat-important(background-position, center 0px)