@require 'includes/mixins';
@require 'includes/vars';

#demostudio.landing {
  background: #00101b url("/media/img/demos/10th/bg-demolanding.jpg") center top no-repeat;
}

#demostudio.detail {
  background: #00101b url("/media/img/demos/10th/bg-demodetail.jpg") center top no-repeat;
}

.section-demos {
  background: #00101b url("/media/img/demos/10th/bg-demostudio.jpg") center top no-repeat;
}

#demostudio.landing .demo,
#demostudio.landing .demo .stats {
    color: #fff;
    vendorize(transition, color 0.2s 0.2s);
}

#demostudio.landing .demo:hover,
#demostudio.landing .demo:hover .stats,
.demo .byline a {
    color: inherit;
}

#demo-main,
#featured-demos .side,
#demobox .demo-preview {
    background-image: none;
    border: 4px solid #fff;
    border-radius: 2px;
    padding: 0;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 0px 21px 14px -10px rgba(0, 0, 0, 0.5);

    & img.preview {
        border-radius: 4px;
    }
}

#demo-main {
    margin-left: -218px;
    overflow: hidden;
    width: 435px;
    height: 326px;

    .demo-details {
        left: 14px;
    }
}

/* Buttons */
.section-demos main button,
.section-demos main .button,
.section-demos main button:hover,
.section-demos main button:focus,
.section-demos main button:active,
.section-demos main .button:hover,
.section-demos main .button:focus,
.section-demos main .button:active {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    padding: 5px 11px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background-color: #0095dd;
    background-image: none;
    vendorize(box-shadow, inset 0 -1px #00539f);
}

.section-demos main button:hover,
.section-demos main button:focus,
.section-demos main button:active,
.section-demos main .button:hover,
.section-demos main .button:focus,
.section-demos main .button:active {
    text-decoration: underline;
}

#demo-manage .remove {
    background-color: #ea3b28;
    color: #fff;
}

#demo-manage .remove:hover,
#demo-manage .remove:focus,
#demo-manage .remove:active,
#demo-manage button:hover .remove,
#demo-manage button:focus .remove {
    background-color: #ea3b28;
    color: #fff;
    text-decoration: underline;
}

#demo-manage .edit {
    background-color: $button-background;
    color: $button-color;
}
#demo-manage .edit:hover,
#demo-manage .edit:focus,
#demo-manage .edit:active {
    background-color: $button-background;
    color: $button-color;
}

.demo-buttons .submit b {
    display: none;
}

.section-demos .gallery-head .count {
    background-image: none;
    padding-left: 0;
}

#page-head .page-title {
    color: inherit;
}

#page-head a:link,
#page-head a:visited,
#page-head a:hover,
#page-head a:focus,
#page-head a:active {
    color: $link-color;
}

.module .mod-title {
    background-image: none;
}

#page-head .learn ul {
    color: $text-color;
}


.section-demos .gallery-head .sort a:hover,
.section-demos .gallery-head .sort a:focus,
.section-demos .gallery-head .sort a:active {
    color: $link-color;
}

.section-demos .gallery-head .sort strong {
    color: $link-color;
    background-image: url("/media/img/demos/10th/sort-arrow.png");
}

.demo .demo-title a img {
    border-radius: 4px;
}

.demo .descLink,
.demo .descLink:hover,
.demo .descLink:focus,
.demo .descLink:active {
    color: $link-color;
}

.section-demos .gallery-foot .paging a:hover,
.section-demos .gallery-foot .paging a:focus,
.section-demos .gallery-foot .paging a:active {
    color: $link-color;
}

.section-demos .gallery-foot .paging a {
    background-image: url("/media/img/demos/10th/paging-arrows.png");
}

#demo-report,
#demo-report h3 {
    color: #fff;
}

#demo-sub a,
#demo-sub a:visited,
#demo-sub a:hover,
#demo-sub a:focus,
#demo-sub a:active {
    color: $link-color;
}

#comments a,
#comments a:visited,
#comments a:hover,
#comments a:focus,
#comments a:active {
    color: $link-color;
}

