/*
Styles specific to fellowship page
TODO: break these into class-file components and require, like below
====================================================================== 
@require 'components/fellowship/overrides';
@require 'components/fellowship/pullquote';
@require 'components/fellowship/share-widget';
*/

/*
Override MDN standard styles
======================================================================*/
body.fellowship {
    background-color: #424f5a;
}

/*
The quote on the fellowship page
======================================================================*/
.pullquote {
    box-sizing: border-box;
    .quote {
        position: relative;
        background-color: inherit;
        border: none;
        font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
        font-style: italic;
        font-size: 1.8rem;
        color: #0095dd;
    }
    .quote:before, .quote:after {
        font-size: 2rem;
        font-family: sans-serif;
        color: #0095dd;
    }
    .quote:before {
        content: "“";
        position: absolute;
        top: -.3rem;
        left: -.8rem;
    }
    .quote:after {
        content: "”";
    }
    .attribution {

    }
}

/*
General purpose share widget inspired by https://www.mozilla.org/en-US/privacy/tips/
======================================================================*/
.share-widget {
    position: relative;
    width: 11rem;
    background-color: #0095dd;
    border: 2px solid #9ed6ee;
    border-radius: 8px;
    overflow: hidden;
    color: #ffffff;
    h3 {
        width: 100%;
        padding: 0.75rem 0;
        margin: 0px;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        font-family: "Open Sans",sans-serif;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s ease-in-out 0s;
    }
    &:hover h3 {
        visibility: hidden;
        opacity: 0;
    }
    ul {
        display: table;
        position: relative;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out 0s;
    }
    &:hover ul {
        visibility: visible;
        opacity: 1;
    }
    li {
        display: table-cell;
        width: 33.3%;
        margin: 0px;
        padding: .3rem 0px;
        text-align: center;
        vertical-align: middle;
        &:hover a {
            transition: color 0.1s ease-in-out 0s;
            color: #4d4e53;
        }
        a {
            color: #fff;
            font-size: 0px;
            display: block;
            height: 100%;
            width: 100%;
            &:hover {
                text-decoration: none;
            }
            &:before {
                font-family: "FontAwesome";
                font-size: 2rem;
            }
            &.twitter:before {
                content: '\f099';
            }
            &.facebook:before {
                content: '\f09a';
            }
            &.g-plus:before {
                content: '\f0d5';
            }
        }
    }
}
