@import 'vars'
@import 'mixins'

/* centers pieces of the page, mostly the header, footer, and main elements */
.center {
  margin: 0 auto;
  position: relative;
  max-width: max-width-default;
  add-center-spacing();
}

/* Column helpers for the grids to be generated */
.column-closed {
  display: none;
}

/* This is a "helper" which automatically formats its column children, clears the floats afterward, removes margin from last item */
.column-container {
  @extend .clear;

  {grid-column-selector} {
    margin-right: grid-margin;
    float: left;

    &:last-child {
      margin-right: 0;
    }
  }

  &.column-container-reverse {
    margin-left: -1%;

    {grid-column-selector} {
      float: right;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-right: grid-margin;
      }
    }
  }
}

/* adjustments to reverse the column containers in RTL */
.html-rtl .column-container {

  {grid-column-selector} {
    float: right;

    &:first-child {
      margin-right: 0;
    } 
    &:last-child {
      margin-right: grid-margin;
    }
  }
}

.html-rtl .column-container-reverse {
  margin-left: 0;

  {grid-column-selector} {
    float: left;

    &:first-child {
      margin-right: grid-margin;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/*  Column width definitions */
.column-1 {
  width: 5.5%;
}
.column-2 {
  width: 14%;
}
.column-3, .column-strip, .column-quarter {
  width: 22.5%;
}
.column-4, .column-third {
  width: 31%;
}
.column-5 {
  width: 39.5%;
}
.column-6, .column-half {
  width: 48%;
}
.column-7 {
  width: 56.5%;
}
.column-8 {
  width: 65%;
}
.column-9, .column-main {
  width: grid-width-column-main;
}
.column-10 {
  width: 82%;
}
.column-11 {
  width: 90.5%;
}
.column-12, .column-all {
  width: 99%;
  margin: 0;
  float: none;
}

/*  Tablet grid width */
@media media-query-tablet {

  .column-container {
    &.column-container-reverse {
      margin-left: 0;
    }
  }

  .center {
    max-width: 1000px;
  }
}