@require 'includes/vars';

.ui-dialog {
    .ui-widget-content {
        background: #fff;
        color: $text-color;
    }

    .ui-dialog-titlebar.ui-widget-header {
        background: #eaeff2;
        border: 0;
    }

    .ui-dialog-titlebar-close {
        background: #0095dd;
        border: 0;
        box-shadow: none;
    }
}

.ui-widget-content {
    background-image: none;
}
