/*
  Main stylesheet for the site, standalone
*/

/* configuration and functionality - no output */
@import 'includes/vars'
@import 'includes/mixins'

/* stylesheets also used elsewhere - output */
@import 'includes/grid'

/* stylesheets used only in main - output  */
@import 'main/fonts'
@import 'main/reset'
@import 'main/globals'
@import 'main/tags'
@import 'main/components'
@import 'main/structure'
@import 'main/classes'