/*
  Styles which offset styles requiring JavaScript.  This file will be included into the bottom of HTML pages
*/




/* From wiki.styl */
.quick-links {
  ul ul {
    display: block;
  }
}

#toc {
  .toggle-container {
    display: block;
  }
}

/* From components.styl */
.subnav {
  ol ol {
    display: block;
  }
}