@import 'vars'
@import 'mixins'

.profile {

  /* off-settings some old styles for now */
  #profile-head {
    background: light-background-color;
    border-color: header-background-color;
  }

  table.activity thead, table.activity tfoot {
    background: header-background-color;
  }

  table.activity tr:nth-child(2n), .gallery-foot {
    background: light-background-color;
  }

  table.activity th h3 {
    font-size: base-bump-font-size;
  }

  .submission .fm-submit button {
    box-shadow: inherit;
  }
}
