/*
  Used within the devmo django app
*/

@import 'vars'
@import 'mixins'

beta-spacing = (grid-spacing * 2.5);

.profile {

  /* off-settings some old styles for now */
  #profile-head {
    background: light-background-color;
    border-color: header-background-color;
  }

  table.activity thead, table.activity tfoot {
    background: header-background-color;
  }

  table.activity tr:nth-child(2n), .gallery-foot {
    background: light-background-color;
  }

  table.activity th h3 {
    font-size: base-bump-font-size;
  }

  .submission .fm-submit button {
    box-shadow: inherit;
  }

  h1 {
      letter-spacing: -1px;
  }
}

/* just for the display page (not the edit page) */
.profile-display {

  #profile-head {
    min-height: 200px;

    .main {
      float: none;
      width: auto;
      margin-left: 150px;
    }

    .links {
      display: table;
      border-spacing: (grid-spacing / 2);
      margin: -(@border-spacing); // Offset outer border

      li {
        display: table-row;
      }

      i, a {
        display: table-cell;
        vertical-align: middle;
      }

      i {
        font-size: 14px;
        text-align: center;
      }

      a {
        compat-only(background, none);
        padding: 0;
      }
    }
  }
}

/* API key pages */
.profile-api-page {
  label {
    display: block; 
  }

  #section-head { /* this can all be removed after launch */
    compat-only(background, none);
    compat-only(border-bottom, none);
    compat-only(border-top, none);
    compat-only(color, inherit);
    compat-only(text-shadow, none);
    compat-only(box-shadow, none);
    compat-only(padding, 0);
    compat-only(margin-top, 0);

    h1 {
      heading-1();
      compat-only(width, auto);
      compat-only(float, none);
      compat-only(margin, 0);

      b {
        heading-1();
        compat-only(display, inline);
        compat-only(margin-top, 0);
        compat-only(color, inherit);
      }
    }
  }
}

#profile-edit {
    #field_beta {
        @extend $checkbox-label-container;
    }

    .section li > input[type="text"], select, textarea, #tagit-interests, #tags-expertise {
        vendorize(box-sizing, border-box);
        width: 100%;
    }

    #field_beta {
        height: beta-spacing;
        margin-bottom: 0;
    }
    #apps-newsletter-subscribe {
        margin-top: beta-spacing;
        @media media-query-mobile {
            & + .fm-submit {
                display: none;
            }
            margin-top: 0;
        }
    }
}

#elsewhere {
    label {
        compat-only(background, none);
        compat-only(padding-left, 0);
    }
}
