@require 'includes/vars';
@require 'includes/mixins';

.search-form {
  padding: ($grid-spacing * 2) 0;

  .search-wrapper {
    big-search();
    color: #fff;
    cursor: text;
    min-height: 28px;
    padding: 6px;
    position: relative;

    .show-topics {
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: none;
      color: #fff !important;
      font-size: 1.2em !important;
      position: absolute;
      right: 0px;
    }

    input#search-q-s {
      background: transparent;
      border: none;
      color: #fff;
      display: inline;
      outline: none;
      padding: 0 8px 2px;
      vertical-align: middle;
      width: auto;
      &::-webkit-input-placeholder { /* WebKit browsers */
          color: #DDD;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #DDD;
          opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #DDD;
          opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #DDD;
      }
    }
  } /* end .search-wrapper */

  .notificaton-first-time {
    big-search();
    background-color: #223066;
    border-radius: 0px;
    box-shadow: inset 0px 0px 2px #333;
    color: #fff;
    margin: 0 auto;
    padding: 14px 6px;
    position: relative;
    vendorize(animation, openNotification 1s);

    h2 {
      font-size: 20px;
      text-transform: uppercase;
      padding: 0px 10px;
    }
    p {
      margin-bottom: 5px;
      padding: 0px 10px;
      i[class^='icon-'] {
        margin-left: 0px;
      }
    }
    .close {
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: none;
      color: #fff!important;
      position: absolute;
      right: 0px;
      top: 4px;
    }
  } /* end .notificaton-first-time */

  .suggestions {
    big-search();
    border-radius: 0px;
    color: #fff;
    max-height: 300px;
    overflow-y:scroll;
    padding: 6px;
    strong {
      text-transform: uppercase;
      padding: 0 10px;
    }
    li {
      a.search-ss{
        display: block;
        color: #fff;
        padding: 0 10px;
        &:hover,
        &:focus,
        &.selected {
          background: #202F67;
          color: #fff !important;
          text-decoration: none;
        }
        span {
          float: right;
        }
      } /* end a.search-ss */
    } /* end li */
  } /* end .suggestions */

  .filter-arrow {
    display: none;
    margin: 0 3px;
    i[class^='icon-'] {
      margin: 0px !important;
      vertical-align: bottom;
      &:before {
        cursor: pointer !important;
      }
    }
  } /* end .filter-arrow */

  .filters {
    display: inline-block;
    height: 28px;
    max-width: 70%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    span.topic {
      display: inline;
      background-color: #202F67!important;
      box-shadow: none;
      color: #fff!important;
      cursor: default!important;
      margin-right: 5px;
      padding: 3px 11px 3px 17px !important;
      text-transform: none !important;
      button.close {
        background-color: transparent !important;
        box-shadow: none;
        color: #fff!important;
        margin-left: 5px;
        padding: 5px 0px 5px 5px !important
        i[class^='icon-'] {
          margin-left: 0;
        }
      } /* end button.close */
    } /* end span.topic */
  } /* end .filters */

  &.dark {
    .search-wrapper, .suggestions {
      background-color: #fff;
    }
    .search-wrapper, .search-wrapper input#search-q-s, .search-wrapper .show-topics, .suggestions, .suggestions li a {
      color: #4d4e53 !important;
    }
  }

} /* end .search-form */

@-webkit-keyframes openNotification {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes openNotification {
  from {
    margin-top: -115px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
