@import 'vars'

/* headings */
h1, h2, h3, h4
	font-weight light-font-weight
	margin-bottom (grid-spacing/2)

h1
	font-size 48px
	letter-spacing -2px
	margin-bottom grid-spacing
h2
	font-size 32px
	letter-spacing -1px
	line-height 100%

h3
	font-size 28px
	letter-spacing -0.5px
	line-height 100%

h4
	font-size 24px
	letter-spacing -0.25px
	line-height 100%
	
/* basic text */
{selector-icon}
	display inline-block
	margin-left (grid-spacing / 2)
	compat-only(margin-right, 0)

	&:before
		display inline-block
		text-decoration none

p
	margin-bottom grid-spacing

/* forms */
input[type='search']
	vendorize(appearance, textfield)

label
	cursor pointer


/* links */
a
	color link-color

	{selector-icon}:before
		cursor pointer

button, .button, input[type='submit'], input[type='button']
	text-decoration none
	display inline-block
	compat-important(background-color, button-background)
	compat-important(color, button-color)
	compat-important(text-transform, uppercase)
	compat-important(padding, 5px 11px)
	compat-important(border-radius, 4px)
	vendorize(box-shadow, inset 0 -1px #bbbfc2)
	compat-only(background-image, none)
	compat-only(font-family, site-font-family)
	compat-only(letter-spacing, normal)

	&.only-icon
		{selector-icon}
			margin-left 0
			margin-top -1px

		span
			@extend .offscreen

	&.neutral
		compat-important(color, #fff)
		compat-important(background-color, #0095dd)
		vendorize(box-shadow, inset 0 -1px #00539f)

	&.negative
		compat-important(color, #fff)
		compat-important(background-color, #ea3b28)
		vendorize(box-shadow, inset 0 -1px #c13832)

	&.positive
		compat-important(color, #fff)
		compat-important(background-color, #70a300)
		vendorize(box-shadow, inset 0 -1px #486900)		

button, input[type='submit'], input[type='button']
	&::-moz-focus-inner
		margin-top -1px
		margin-bottom -1px