@import 'includes/vars'
@import 'includes/mixins'

/*
 * Users app CSS
 */

article.main {
    form {
        override-compat-important(margin, (gutter-width * 1.5) 0);

        ul, li {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
        }

        label {
            display: block;
            font-weight: bold;
        }

        button {
            margin: 5px 0;
        }

        newsletter-gutter = (gutter-width / 2);
        #apps-newsletter-subscribe {
            margin-top: newsletter-gutter;
            margin-bottom: 0;

            p, ol {
                margin-bottom: newsletter-gutter;
            }

            li {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}
