/* colors */
text-color = #4d4e53;
link-color = #0095dd;
menu-link-color = text-color;
header-background-color = #eaeff2;
light-background-color = #f4f7f8;

/* typography */
light-font-weight = 200;
site-font-family = 'Open Sans', sans-serif;
heading-font-family = 'Open Sans Light', sans-serif;

/* sizes */
base-font-size = 14px;
smaller-font-size = 12px;
base-bump-font-size = 16px;
larger-font-size = 20px;

/* buttons */
button-background = #eaeff2;
button-color = menu-link-color;
button-shadow-color = #bbbfc2;

/* grid and site dimensions */
grid-spacing = 20px;
grid-margin = 3%;
grid-column-selector = '> [class^="column-"]';
grid-width-column-main = 73.5%;

max-width-default = 1400px;

media-query-small-desktop = 'all and/*!YUI */(max-width: 1200px)';
media-query-tablet = 'all and/*!YUI */(max-width: 1024px)';
media-query-mobile = 'all and/*!YUI */(max-width: 768px)';

/* animation */
default-animation-duration = .5s;
slide-timing-function = cubic-bezier(0, 1, 0.5, 1);

/* dimensions */
gutter-width = 24px;
first-content-top-padding = (grid-spacing * 2);
list-item-spacing = 8px;
content-block-margin = gutter-width;

/* selectors */
selector-icon = 'i[class^="icon-"]';
media-url-dir = '/media/redesign/img/';