/* colors */
text-color = #4d4f54
link-color = #0095dd
menu-link-color = #4d4e53;


/* typography */



/* buttons */
button-background = #eaeff2
button-color = menu-link-color;

/* dimensions */
site-width = 1000px
gutter-width = 30px


/* grid dimensions */
grid-margin = 20px

grid-increment-desktop = 80px
grid-increment-tablet = 60px
grid-increment-mobile = grid-increment-tablet

grid-start-desktop = 60px
grid-start-tablet = 40px
grid-start-mobile = grid-start-tablet

grid-end-desktop = 940px
grid-end-tablet = 700px
grid-end-mobile = 280px
grid-end-mobile-wide = 400px