/* Styles for the new article, article edit, article translation, and page move
   templates. */

@require 'includes/vars';
@require 'includes/mixins';
@require 'components/tagit';

@require 'components/wiki/edit/vars';
@require 'components/wiki/edit/editing';
@require 'components/wiki/edit/cke';
@require 'components/wiki/edit/page-attachments';
@require 'components/wiki/edit/save-and-edit-target';
@require 'components/wiki/edit/title';
@require 'components/wiki/edit/guide-links';
@require 'components/wiki/edit/ace-content';
@require 'components/wiki/edit/save-state';
@require 'components/wiki/edit/first-contrib-welcome';
@require 'components/wiki/edit/page-comment';
@require 'components/wiki/edit/description';


/*
Meta data for pages
====================================================================== */

@require 'components/wiki/edit/metadata';
@require 'components/wiki/edit/duration-container';


/*
Move page
====================================================================== */

@require 'components/wiki/edit/move-page.styl';


/*
Translate interface.
====================================================================== */

@require 'components/wiki/edit/translate/structure';
@require 'components/wiki/edit/translate/translate-document.styl';
@require 'components/wiki/edit/translate/content-fields.styl';
@require 'components/wiki/edit/translate/translate-source.styl';
@require 'components/wiki/edit/translate/translate-buttons.styl';
@require 'components/wiki/edit/translate/approved-localized.styl';
@require 'components/wiki/edit/translate/change-locale.styl';

