/*
    Updates in this file modify or enhance the code provided by Prism.js
*/

@require 'includes/vars';
@require 'includes/mixins';

code[class*='language-'],
pre[class*='language-'] {
    color: inherit;
    text-shadow: none;
}

pre[class*='language-'] {
    margin: 0 0 $grid-spacing 0;

    span.comment {
        display: inherit;
    }
}

.error pre[class*='language-'] {
    margin: 10px 0 0 0;
    background: none;
}

:not(pre)>code[class*='language-'],
pre[class*='language-'] {
    @extend $code-block;
}

/*
    Some places in the wiki feature <pre><em><code>
*/
pre em code[class*='language-'] {
    background: none;
    border-left: 0;
}

/* components based on the above */

@import 'wiki-syntax-syntaxbox';
@import 'wiki-syntax-error';
