/*
	Updates in this file modify or enhance the code provided by Prism.js
*/

@import 'vars'

code[class*='language-'], pre[class*='language-'] {
	color: inherit;
	text-shadow: none;
}

:not(pre)>code[class*='language-'], pre[class*='language-']{
	background: rgba(234, 239, 242, 0.25);
	border-left: 6px solid rgba(0, 83, 159, 0.65);
	background-image:  url(media-url-dir + 'blueprint-dark.png');
	background-position: top center;
	background-repeat: repeat;
}