/* Styles for the new article, article edit, article translation, and page move
   templates. */

@import 'includes/vars.styl'
@import 'includes/mixins.styl'

/* Space needed to account for the absolutely-positioned #page-buttons element. */
space-for-buttons = 40px;

#new-document, #edit-document, #translate-document, .move-page {
    #page-buttons {
        position: absolute;
        bidi-style(right, 4px, left, auto);

        li {
            bidi-value(float, none, left);
        }

        a, button {
            border: 0;
            display: inline-block;
            vendorize(box-shadow, 1px 1px 0 rgba(0,0,0,.25));
        }

        iframe#save-and-edit-target {
            offscreen();
        }
    }
}

#new-document, #edit-document, #translate-document {
    .editing {
        position: relative;
    }

    h1 {
        letter-spacing: normal;
        line-height: 40px;
        margin-bottom: (grid-spacing);
        margin-top: space-for-buttons;

        .action {
            set-larger-font-size();
            display: block;
            line-height: 20px;
        }

        em {
            color: #333;
            font-style: normal;
            margin-left: -3px;
            text-transform: none;
        }
    }

    h2 {
        set-font-size(28px);
        font-family: site-font-family;
        margin-bottom: grid-spacing;
        text-transform: none;
    }

    h2 {selector-icon}, h3 {selector-icon} {
        @extend $right-icons;
    }

    .title {
        h1 {
            color: #888;
            bidi-value(float, left, right);
        }
    }

    #page-attachments-new-table {
        textarea {
            height: 40px;
        }
    }

    summary {
        clearfix();
        set-font-size(20px);
        cursor: pointer;
        margin: 0 (grid-spacing / 2) (grid-spacing / 2) !important;
        padding: 5px;
    }

    #page-buttons {
        z-index: 1; /* Move above the .title and .metadata classes to be clickable. */
    }
}

#new-document, #edit-document {
    ul.metadata {
        display: none;
        float: none;
        margin-bottom (grid-spacing / 2);
        width: auto;

        .new & {
            display: block;
        }

        li {
            .metadataDisplay {
                display: inline-block;
                padding: 8px 0 0 3px;
            }

            &.metadata-choose-parent {
                display: none;
                set-font-size(small-bump-font-size);

                #parent_text {
                    margin-top: 10px;
                }
            }

            input, input#id_title {
                margin: 2px 0px;
                padding: 6px 8px;
                width: 70%;
            }

            label {
                color: #888;
                display: block;
                float: left;
                font-weight: bold;
                line-height: 2.5;
                padding-right: 5px;
                text-align: right;
                width: auto;
            }
        }
    }

    #ace_content {
        height: 500px;
        position: relative;
        width: 100%;

        .ace_warning, .ace_error {
            background-image: none;
        }
    }
}

#edit-document {
    .metadata {
        margin-top: space-for-buttons;
    }

    .first-contrib-welcome {
        background: light-background-color;
        border: 5px solid header-background-color;
        padding: 15px 15px 10px;
        margin-bottom: 20px;

        h2 {
            margin: 0 0 10px;
            font: bold 18px/1.5 'Open Sans', sans-serif;
        }

        p {
            margin-bottom: 8px;
        }
    }

    .save-state {
        set-smaller-font-size();
        clear: both;
        color: #888;
        margin: -grid-spacing 0 grid-spacing;
    }
}

#translate-document {
    #page-buttons {
        bidi-style(right, 0, left, auto);
    }

    .description {
        .approved {
            dt {
                padding-top: 0;
            }
        }
    }

    .change-locale {
        margin-top: (grid-spacing / 2);
    }
}

.move-page {
    dl {
        width: auto;
    }

    dt {
        width: 120px;
    }

    input[type=text] {
        width: 400px;
    }

    #page-buttons {
        right: auto;
        top: auto;
        text-align: left;
        float: none;
        margin: grid-spacing 0;
        position: relative;
    }

    .warning {
        color: #fff;
    }
}


/* CKEditor adjustments, many marked as !important to override CKEditor's issues */
.ui-autocomplete {
  z-index: 100001 !important; /* Ugly, but have to do this for the autocomplete component to display on top of the CKEditor dialog */
  max-height: 200px;
  overflow: auto;
}
.cke_skin_kuma .cke_rcombo .cke_text {
  width: 130px !important;
}
.cke_skin_kuma .cke_rcombopanel {
  height: 280px !important;
}
