/*
    Updates in this file modify or enhance the code provided by Prism.js
*/

@import 'includes/vars';
@import 'includes/mixins';

code[class*='language-'], pre[class*='language-'] {
    color: inherit;
    text-shadow: none;
}

pre[class*='language-'] {
    margin: 0 0 24px 0;

    span.comment {
        display: inherit;
    }
}

.error pre[class*='language-'] {
    margin: 10px 0 0 0;
    background: none;
}

:not(pre)>code[class*='language-'], pre[class*='language-'] {
    @extend $code-block;
}

/*
    Some places in the wiki feature <pre><em><code>
*/
pre em code[class*='language-'] {
    background-image: none;
    border-left: 0;
    background: transparent;
}

pre.twopartsyntaxbox, pre.syntaxbox {
    background: rgba(212, 221, 228, 0.5) !important;
    margin-bottom: 0;
}
