/*
    Override MDN standard styles
*/

#home {
    main {
        background: transparent;
    }

    h2 {
        > #{$selector-icon} {
            position: relative;
            top: -5px; // try to center icon vertically
            @include set-font-size(30px);
            @include bidi((
                (margin-right, $icon-margin, 0),
                (margin-left, 0, $icon-margin),
            ));
        }
    }

    .entry-meta {
        @include set-smaller-font-size();
        font-style: italic;
    }
}

@media #{$mq-mobile-and-down} {
    #home { /* needs spcificity to over ride use of #home earlier */
        .column-involved h2,
        .column-hacks > h2 {
            @include set-font-size($callout-font-size);

            > #{$selector-icon} {
                display: none;
            }
        }
    }
}
