/*
hacks blog row, wrapper, entries, and get involved
********************************************************************** */

.home-hacks {
    padding: $first-content-top-padding 0;
    background: #fff;

    li {
        margin-right: $grid-spacing;
        padding-top: $grid-spacing;
        border-bottom: 1px solid #ececec;

        &:first-child {
            padding-top: 10px;
        }
    }

    h2.entry-title {
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: 0;
        @include set-font-size($larger-font-size);

        a {
            text-decoration: underline;
        }
    }

    .heading-link {
        display: block;
        margin: 10px 0 0;
        font-style: italic;
        @include set-font-size($base-font-size);
        font-weight: normal;

        @media #{$mq-mobile-and-down} {
            margin: 8px 0 0 0;
            display: block;
        }
    }
}

.column-hacks {
    li:last-child {
        border-bottom: 0;
    }
}

.column-hacks,
.column-involved {
    width: auto;
}

@media #{$mq-small-desktop-and-up} {
    .column-hacks {
        @include column-8();
    }

    .column-involved {
        @include column-third();
    }
}
