/*
List of four feature columns within the masthead
********************************************************************** */

.home-features {
    max-width: 775px;
    margin: 0 auto;

    li {
        @include set-larger-font-size();
        margin-top: $grid-spacing;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: $text-color;
    }

    .cta-link {
        width: 100%;
    }
}

@media #{$mq-small-desktop-and-up} {
    .home-features {
        display: table;
        width: (775px + $grid-spacing * 4);
        max-width: (775px + $grid-spacing * 4);
        border-spacing: ($grid-spacing * 2) 0;

        li {
            display: table-cell;
        }
    }
}
