/*
    Override MDN standard styles
*/

#home {
    @include create-home-gradient-background($homepage-background-color);
    @include remove-main-spacing();
    @include use-white-logo();

    /* general structure adjustments */
    #main-header {
        background: none;
        @include rgba-fallback(border-bottom-color, #fff, .2, $homepage-background-color);
    }

    /* update main nav menu color */
    @include override-main-header-color($blue-background-text-color, $homepage-background-color);

    /* update the homepage search size */
    @include minimize-header-search();

    .search-wrap {
        input {
            @include set-placeholder-style(color, $blue-background-text-color);
        }
    }

    main {
        background: transparent;
    }

    h2 {
        > #{$selector-icon} {
            position: relative;
            top: -5px; // try to center icon vertically
            @include set-font-size(30px);
            @include bidi-value(margin-right, $icon-margin, 0);
            @include bidi-value(margin-left, 0, $icon-margin);
        }
    }

    .entry-meta {
        @include set-smaller-font-size();
        font-style: italic;
    }
}

@media #{$mq-mobile-and-down} {
    #home { /* needs spcificity to over ride use of #home earlier */
        .home-contribute h2,
        .column-hacks > h2 {
            @include set-font-size(20px);

            > #{$selector-icon} {
                display: none;
            }
        }
    }
}

/* right to left */
html[dir='rtl'] #home {
    .icon-arrow-right:before {
        content: '\f060';
    }
}
