/*
colorful callouts
********************************************************************** */

$callout-icon-width: 90px;
$callout-icon-space: 90px + $grid-spacing;
$callout-arrow-space: 3em; // arrow is text so increases in size, ems will scale too
$callout-min-height: 170px;

.column-callout {
    margin-bottom: $grid-spacing;
    background: #00539f;

    > a {
        color: #fff !important; /* stylelint-disable-line declaration-no-important */
        display: block;
        min-height: $callout-min-height;
        position: relative;
        overflow: hidden;
        @include set-larger-font-size();

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: $grid-spacing;
            @include bidi(((right, $grid-spacing, left, auto),));
            height: $callout-icon-width;
            width: $callout-icon-width;
        }

        &:before {
            @include bidi((
                (content, '\f061', content, '\f060'),
                (right, $grid-spacing, left, auto),
            ));
            font-family: FontAwesome;
            bottom: 11px;
            position: absolute;
            @include set-font-size(24px);
            z-index: 4;
        }
    }

    span {
        position: absolute;
        z-index: 1;
        bottom: -2px;
        @include bidi(((padding, $grid-spacing $callout-icon-space $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing $callout-icon-space),));
        box-sizing: border-box;
    }
}

@media #{$mq-tablet-only} {
    .column-callout {

        a:after {
            display: none;
        }

        span {
            @include bidi(((padding, $grid-spacing $callout-arrow-space $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing $callout-arrow-space),));
        }
    }
}

@media #{$mq-tablet-and-up} {
    .column-callout {
        @include column-4();
        margin-bottom: 0;
    }
}


/*
Newsletter block, double wide
-------------------------------------------------------------- */

.callout-newsletter {
    background-color: #c2e8f9;
    margin-bottom: $grid-spacing;

    .newsletter-form,
    .newsletter-thanks {
        padding: $grid-spacing;
        min-height: $callout-min-height - ($grid-spacing * 2);
    }
}

@media #{$mq-tablet-and-up} {
    .callout-newsletter {
        @include column-8();
        margin-bottom: 0;
    }
}


/*
Learn callout
-------------------------------------------------------------- */

.callout-learn {
    background-color: $green;
}


/*
Dev Edition callout
-------------------------------------------------------------- */

.callout-deved {
    background-color: $accent-dark;

    a:after {
        background-position: 0 -300px;
    }
}


/*
Foundation callout
-------------------------------------------------------------- */

.callout-foundation {
    background: $blue-light;

    strong {
        content: '';
        display: block;
        height: 30px;
        width: 109px;
        margin-bottom: 2px;
        background-image: url($path-to-images + 'web-docs-sprite.svg');
        background-size: 400px auto;
        background-position: -91px -57px;
        direction: ltr; // ltr should be set with negative text indent
        text-indent: 100%;
        overflow: hidden;
    }

    a {
        &:before {
            display: none;
            color: $text-color;
        }

        &:after {
            height: 84px;
            background-image: url($path-to-images + 'home-foundation.png');
            background-size: 90px auto;
        }

        span {
            color: $text-color;
        }
    }

    button {
        position: relative;
        margin-top: 6px;
        @include bidi(((padding-right, 2em, padding-left, inherit),));

        &:after {
            position: absolute;
            top: 50%;
            @include bidi(((right, 10px, left, auto),));
            @include bidi(((content, '\f061', '\f060'),));
            font-family: fontAwesome;
            transform: translateY(-50%);
        }
    }
}

@media #{$mq-tablet-only} {
    .callout-foundation {
        a:before {
            display: block;
        }

        button {
            display: none;
        }
    }
}


/*
Standard callout
-------------------------------------------------------------- */

$standard-callout-image-width: 129px;
$standard-callout-image-spacing: 129px + 20px;

.callout-standard {
    background-color: $accent-light;

    a {
        @include set-font-size(14px);
        color: #000 !important; /* stylelint-disable-line declaration-no-important */
        font-weight: bold;

        &:after {
            display: none;
            @include bidi(((right, 20px, left, auto),));
            height: 140px;
            top: 15px;
            width: $standard-callout-image-width;
        }

        &:before {
            content: none;
            display: none;
        }
    }

    span {
        padding: $grid-spacing;
    }

    p {
        margin-bottom: 0;
    }

    .callout-subtext {
        @include set-font-size($base-font-size);
    }

    button {
        @include bidi(((text-align, left, text-align, right),));
        background: #fff;
        border: 2px solid;
        border-radius: 0;
        box-shadow: none;
        color: #000;
        display: inline-block;
        font-weight: bold;
        margin-top: 14px;
        padding: 9px;
        text-transform: none;
    }
}

/*
larger teaser image gets hidden
- - - - - - - - - - - - - - - - */

@media #{$mq-mobile-only} {
    .callout-standard {
        a:after {
            display: block;
        }

        span {
            @include bidi(((padding, $grid-spacing ($standard-callout-image-spacing + $grid-spacing) $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing ($standard-callout-image-spacing + $grid-spacing)),));
        }
    }
}

@media #{$mq-large-desktop-and-up} {
    .callout-standard {
        a:after {
            display: block;
        }

        span {
            @include bidi(((padding, $grid-spacing ($standard-callout-image-spacing + $grid-spacing) $grid-spacing $grid-spacing, $grid-spacing $grid-spacing $grid-spacing ($standard-callout-image-spacing + $grid-spacing)),));
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    .callout-standard a:after {
        background-size: 129px 140px;
    }
}

/*
Survey callout background image
-------------------------------------------------------------- */

.callout-survey a {
    &:after {
        background-image: url($path-to-embedded-images + 'promos/survey.svg');
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    .callout-survey a:after {
        background-image: url($path-to-embedded-images + 'promos/survey.svg');
    }
}

/*
Fx-dev callout
-------------------------------------------------------------- */

.callout-fx-dev {
    box-sizing: border-box;
    background: #1bccdb url($path-to-images + 'embed/promos/fx-dev-background.svg') 0 0 no-repeat;
    background-size: cover;

    span {
        position: relative;
        padding: 0;
    }

    a {
        padding: $gutter-width;
        min-height: 150px;

        @media #{$mq-small-desktop-and-up} {
            padding: 10px $gutter-width;
        }

        @media #{$mq-tablet-only} {
            padding: 18px $gutter-width;
            min-height: 130px;
        }

        &:hover,
        &:visited,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .main-copy {
        color: #fff;
        margin-left: 5px;
        @include set-font-size(2rem);
        line-height: 1.2;

        @media #{$mq-small-desktop-and-up} {
            @include set-font-size(1.7rem);
        }

        @media #{$mq-tablet-only} {
            @include set-font-size(1.5rem);
        }
    }

    .callout-subtext {
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: normal;
    }

    button {
        padding: 5px 15px 3px;
        border-radius: 3rem;
        border: 0;
        min-width: 170px;

        &:before {
            content: '';
            display: inline-block;
            background: transparent url($path-to-images + 'embed/promos/fx-dev-logo.png') 0 0 no-repeat;
            background-size: 32px 33px;
            margin-right: 5px;
            width: 36px;
            height: 36px;
            vertical-align: middle;
        }
    }
}
