/*
homepage masthead (search, feature callouts)
********************************************************************** */

.home-masthead {
    @include clearfix();
    padding: $first-content-top-padding 0;

    h1 {
        margin: 0 auto;
        width: 60%;

        span {
            @include bidi-style(padding-left, 20%, padding-right, 0);
            display: block;
        }
    }
}

@media #{$mq-tablet-and-down} {
    .home-masthead {
        h1 {
            width: 90%;
            text-align: center;

            span {
                display: inline;
                @include bidi-style(padding-left, 0, padding-right, 0);
            }
        }
    }
}

@media #{$mq-mobile-and-down} {
    h1 {
        @include set-font-size(34px);
    }
}
