/*
homepage masthead (search, feature callouts)
********************************************************************** */

.home-masthead {
    @include clearfix();
    position: relative;
    background-color: $accent-light;
    box-sizing: border-box;
    padding-top: ($grid-spacing * 2);
    padding-bottom: ($grid-spacing * 2);
    text-align: center;
    overflow: hidden;

    .masthead-background {
        position: absolute;
        top: 20px;
        left: 100px;
        width: 80%;
        height: 80%;
    }

    h1 {
        @include set-font-size(42px);
        margin: 0 0 ($grid-spacing * 2);
        line-height: 1;
    }
}


@media #{$mq-tablet-and-up} {
    .home-masthead {
        min-height: 444px;
        padding-top: 150px;

        &:before {
            content: '';
            position: absolute;
            top: $grid-spacing;
            left: 50%;
            height: 200px;
            width: 246px;
            margin-left: 246px / 2 * -1; // centers it, does not need to be changed for RTL
            background: url($path-to-images + 'hero-dino.png');
            background-size: auto 200px;
        }
    }

    .home-masthead-no-search {
        // When we remove the search box from the masthead
        // (as in the React-based beta site) we want a smaller
        // minimum height
        min-height: 350px;
    }
}
