/*
homepage masthead (search, feature callouts)
====================================================================== */
.home-masthead {
    clearfix();
    padding: $first-content-top-padding 0;

    h1 {
        color: $blue-background-text-color;
        margin: 0 auto;
        width: 60%;

        span {
            bidi-style(padding-left, 20%, padding-right, 0);
            display: block;
        }
    }
}

.search-form {
    display: block;
    margin: 0 auto;
    padding: ($grid-spacing * 2) 0;
    position: relative;
    width: 60%;

    /* Only use the "big search" style when the search filter feature
    is not enabled. */
    > input#home-q {
        big-search();
    }

    .search-icon {
		position: absolute;
		top: ($grid-spacing * 2 + 7);
    }

    input#home-q {
        set-placeholder-style(letter-spacing, -1px);
        set-placeholder-style(color, $text-color);
        color: $text-color;
        background-color: #fff;
        bidi-style(padding-left, 30px, padding-right, 0);
    }
}

@media $media-query-tablet {

    .home-masthead {
        h1 {
            width: 90%;
            text-align: center;

            span {
                display: inline;
                bidi-style(padding-left, 0, padding-right, 0);
            }
        }
    }
}

@media $media-query-mobile {
    h1 {
        set-font-size(34px);
    }
    .search-form {
        width: 100%;
        padding-top: $grid-spacing;

        .search-icon {
           top: ($grid-spacing + 7);
        }
    }
}
