/*
List of four feature columns within the masthead
********************************************************************** */

.home-features {
    &,
    a {
        color: $blue-background-text-color !important; /* stylelint-disable-line declaration-no-important */
    }

    a {
        text-decoration: underline;
        outline-color: $blue-background-text-color;
    }

    h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 39px;
        @include set-larger-font-size();
        font-weight: bold;
        text-transform: uppercase;
        @include clearfix();

        #{$selector-icon} {
            width: 42px;
            height: 39px;
            background-position: 0 -147px;
            background-size: 134px auto;
            color: #0095dd;
            @include bidi-value(float, left, right);
            @include bidi-value(margin-right, $icon-margin, 0);
            @include bidi-value(margin-left, 0, $icon-margin);

            &:before {
                margin: 11px 0 0 0;
                display: block;
                text-align: center;
            }
        }

        span {
            @include bidi-value(float, left, right);
        }
    }

    li {
        padding: 4px 0;
    }
}

.column-feature {
    @include column-third();
}

.home-features-newsletter .column-container {
    @include column-8();
    @include bidi-value(float, left, right);
    margin-right: $grid-margin;
}

.feature-newsletter {
    @include column-4();
    @include bidi-value(float, left, right);
}

@media #{$media-query-tablet} {
    .home-features-newsletter .column-container {
        width: 48.5%;
    }

    .home-features-newsletter .column-feature {
        width: 100%;
        margin: 0;

        ul {
            margin-bottom: $grid-spacing;
        }

        li {
            display: inline-block;
            @include bidi-style(padding-right, $grid-spacing, padding-left, 0);
        }
    }

    .feature-newsletter {
        width: 48.5%;
    }
}

@media #{$media-query-mobile} {
    .column-feature {
        ul {
            margin-bottom: $grid-spacing;
        }

        li {
            display: inline-block;
            @include bidi-style(padding-right, $grid-spacing, padding-left, 0);
        }
    }

    .home-features-newsletter .column-container {
        width: 100%;
        margin: 0;
    }

    .feature-newsletter {
        width: 100%;
    }
}
