/*
hacks blog row, wrapper, entries, and get involved teaser
********************************************************************** */

$home-involved-background-y: 50px;

.home-hacks {
    padding: $first-content-top-padding 0;
    background: #fff;

    li {
        padding-top: $grid-spacing;
        border-bottom: 1px solid #ececec;

        &:last-child {
            border-bottom: 0;
        }
    }

    h2.entry-title {
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: 0;
        @include set-font-size($body-font-size);

        a {
            text-decoration: underline;
        }
    }
}

.column-hacks {
    @include column-main();
}

.column-involved {
    @include column-strip();
}

.home-involved-card {
    background: url($path-to-images + 'home-globe.jpg') -90px $home-involved-background-y no-repeat $light-background-color;

    h2 {
        @include set-larger-font-size();
        padding: $grid-spacing $grid-spacing 12px;
        border-bottom: 1px solid #e0e2e4;
        margin: 0 0 110px;
        font-weight: bold;
    }

    p {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 0 $grid-spacing;
        display: block;
    }

    .numbers {
        padding-bottom: 40px;
        line-height: 40px;

        .row1,
        .row2,
        .row3 {
            display: block;
        }
    }

    .number {
        @include set-font-size(30px);
        font-weight: bold;
    }
}

@media #{$mq-mobile-and-down} {
    .column-hacks {
        float: none;
        width: auto;
    }

    .column-involved {
        display: none;
    }
}
