/* List of four feature columns within the masthead */
.home-features {
    &, a {
        color: $blue-background-text-color !important;
    }

    a {
        text-decoration: underline;
        outline-color: $blue-background-text-color;
    }

    h3 {
        display: flex;
        flex-direction: row;
        align-items: center
        min-height: 39px;
        set-larger-font-size();
        font-weight: bold;
        font-family: 'Open Sans Extra Bold', sans-serif;
        text-transform: uppercase;
        clearfix();

        {$selector-icon} {
            width: 42px;
            height: 39px;
            background-position: 0 -147px;
            background-size: 134px auto;
            color: #0095dd;
            bidi-value(float, left, right);
            bidi-value(margin-right, $icon-margin, 0);
            bidi-value(margin-left, 0, $icon-margin);

            &:before {
                margin: 11px 0 0 0;
                display: block;
                text-align: center;
            }
        }

        span {
            bidi-value(float, left, right);
        }
    }

    li {
        padding: 4px 0;
    }
}

.column-feature {
    @extend $column-third;
}

.home-features-newsletter .column-container {
    @extend $column-8;
    bidi-value(float, left, right);
    margin-right: $grid-margin;
}

.feature-newsletter {
    @extend $column-4;
    bidi-value(float, left, right);

    h2 {
        font-family: 'Open Sans Extra Bold', sans-serif;
    }
}

@media $media-query-tablet {
    .home-features-newsletter .column-container {
        width: 48.5%;
    }

    .home-features-newsletter .column-feature {
        width: 100%;
        margin: 0;

        ul {
            margin-bottom: $grid-spacing;
        }

        li {
            display: inline-block;
            bidi-style(padding-right, $grid-spacing, padding-left, 0);
        }
    }

    .feature-newsletter {
        width: 48.5%;
    }
}

@media $media-query-mobile {

    .column-feature {
        ul {
            margin-bottom: $grid-spacing;
        }

        li {
            display: inline-block;
            bidi-style(padding-right, $grid-spacing, padding-left, 0);
        }
    }

    .home-features-newsletter .column-container {
        width: 100%;
        margin: 0;
    }

    .feature-newsletter {
        width: 100%;
    }
}
