name: Docker testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UID: 0

    steps:
      - uses: actions/checkout@v3

      - name: Environment info
        run: |
          docker-compose --version

      - name: Build docker
        run: docker-compose build

      - name: DB migrations
        run: |
          docker-compose run -T testing urlwait postgresql://kuma:kuma@postgres:5432/developer_mozilla_org 30
          docker-compose run -T testing ./manage.py migrate
          # Essentially compares **/models.py with **/migrations/*.py and
          # makes sure the developer didn't forget to create a new migration.
          docker-compose run -T testing ./manage.py makemigrations --check --dry-run

      - name: Run Python tests
        run: |
          docker-compose run -T testing make coveragetest

      - name: Submit code coverage
        run: |
          bash <(curl -s --retry 3 --retry-connrefused https://codecov.io/bash)
