name: Python Lints

on:
  pull_request:
    paths:
      - "kuma/**/*.py"
      - .github/workflows/python-lints.yml
      # This is in case Dependabot updates 'black'
      - pyproject.toml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --disable-pip-version-check black flake8 flake8-isort
          echo "Version of black installed:"
          black --version
          echo "Version of flake8 installed:"
          flake8 --version

      - name: Lint with flake8
        run: |
          flake8 kuma docs

      - name: Lint with black
        run: |
          black --check --diff kuma docs
