{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% for row in rows %}
  {% if loop.first %}
    <tr>
      <th>{{ _('Article') }}</th>
      <th></th>
      <th>{{ column3_label }}</th>
      <th>{{ column4_label }}</th>
    </tr>
  {% endif %}
  <tr>
    <td>
      <a href="{{ row.url }}">{{ row.title }}</a>
      {% if row.users %}
        <div class="users">
          {{ _('changed by {users}')|f(users=row.users) }}
        </div>
      {% endif %}
    </td>
    <td>
      Visits would have gone here {# number(row.visits) #}
    </td>
    <td>
      <div class="absolute-graph" style="width: {{ row.percent }}%"></div>
    </td>
    <td>
      {% if row.updated is defined %}
        {{ row.updated|timesince }}
      {% else %}
        {% if row.status %}
          <a href="{{ row.status_url }}">{{ row.status }}</a>
        {% endif %}
      {% endif %}
    </td>
  </tr>
{% endfor %}
