{% for row in rows %}
  {% if loop.first %}
    <tr>
      <th>{{ _('Article') }}</th>
      <th></th>
      <th>{{ _('Visits this week') }}</th>
      <th>{{ column4_label }}</th>
    </tr>
  {% endif %}
  <tr>
    <td>
      <a href="{{ row.url }}">{{ row.title }}</a>
      {% if row.users %}
        <div class="users">
          {{ _('changed by {users}')|f(users=row.users) }}
        </div>
      {% endif %}
    </td>
    <td>
      {{ number(row.visits) }}
    </td>
    <td>
      <div class="absolute-graph" style="width: {{ row.percent }}%"></div>
    </td>
    <td>
      {{ row.updated|timesince }}
    </td>
  </tr>
{% endfor %}
