{% if user.is_authenticated() %}
  {% if is_watching_locale %}
    <form action="{{ url('wiki.locale_unwatch') }}" method="post">
      {{ csrf() }}
      {% if locale == 'en-US' %}
        {# L10n: Please localize 'English' here. #}
        <input type="submit" class="link-btn" value="{{ _('Stop getting emailed when English reviews are waiting', 'english') }}" />
      {% else %}
        {# L10n: Please replace 'English' with your language. #}
        <input type="submit" class="link-btn" value="{{ _('Stop getting emailed when English reviews are waiting', 'locale') }}" />
      {% endif %}
    </form>
  {% else %}
    <form action="{{ url('wiki.locale_watch') }}" method="post">
      {{ csrf() }}
      {% if locale == 'en-US' %}
        {# L10n: Please localize 'English' here. #}
        <input type="submit" class="link-btn" value="{{ _('Get emailed when English reviews are waiting', 'english') }}" />
      {% else %}
        {# L10n: Please replace 'English' with your language. #}
        <input type="submit" class="link-btn" value="{{ _('Get emailed when English reviews are waiting', 'locale') }}" />
      {% endif %}
    </form>
  {% endif %}
{% endif %}
