/* content-fields is the block which contains the english and translated article on translation edit pages */
#content-fields {
    clearfix();

    header {
        clearfix();
        display: block;
        margin-bottom: ($grid-spacing / 2);
        padding: 7px 0 0 0;
        position: relative;
        z-index: 10;
    }
}
