.translate-source {
    textarea {
        width: 100%;
        box-sizing: border-box;
        border: 0;
        /* Same formatting as CKEditor source view */
        font-family: 'Courier New', Monospace;
        set-smaller-font-size();
        white-space: pre;
    }
}
