<p class="social-account-research-notice"><small>{% trans %}
Mozilla is working to improve our MDN sign-in process. We're running a test to
analyze what third party sites are most popular for sign-in. When you access
this page during the test, we detect (<a href="https://github.com/mozilla/kuma/blob/master/templates/includes/google_analytics.html">in an anonymous way</a>)
if you are also signed into Twitter or Facebook. After the test, we'll use the
aggregated results to select the best third party sites for MDN sign-in.
{% endtrans %}</small></p>
